.probing-contents {
    display: block;
    margin: 0 auto;
  
  &.cbt-contents {
    display: inline-block;
    padding-left: 1.5%;
    transition: all 0.5s;
    padding-right: 1.5%;
    padding-top: 21px;
    width: calc(100% - 0px);
  }
  &.cbt-content-hide {
    display: inline-block;
    padding-left: 1.5%;
    transition: all 0.5s;
    padding-top: 21px;
    width: calc(100% - 290px);
  }
}
// .part-contents {
//     padding-left: 4px;
//     vertical-align: top;
//     width: calc(98% - 288px);
// }

//     .part-contents-new {
//       width: calc(98% - 256px);
      
//     }

.cust-right-panels {
  display: inline-block;
  margin-left: 5px;
  max-width: 280px;
  width: 280px;
  position: absolute;
  top: 15px;

  vertical-align: top;
}
.info-panels{
  top: 0
;}
::ng-deep{
  .info-attachments .refer-info.attachment-info:first-child .attachment-cont {
    margin:0px !important
  }

}