::ng-deep{

    .tooltipUseDiv{
        .tooltipUseDivInner{
            &.listtt-tcmlist{
                margin:-15px 0 0 0;
                width: 40px;
              }
        }
        .tooltipLeave-tcmlist{
            width: 55px; 
            margin-left: -5px;
        }
    }

    body{
        &.techsupport{
            
            .tech-pro-tooltip{
                &.bs-tooltip-bottom {
                    .arrow {
                    &::before {
                        border-width: 0 0.5rem 0.5rem;
                        border-bottom-color: #dde4f2;
                    }
                    }
                
                }
                &.bs-tooltip-top {
                    .arrow {
                    &::before {
                        border-width: 0.5rem 0.5rem 0;
                        border-top-color: #dde4f2;                        
                    }
                    }
                }
                .tooltip-inner{                   
                   background-color: #dde4f2;
                    .profile-text-tt{
                        color: #315188;
                    }
                    .line {
                        border-top: 1px solid #315188;
                    }
                }
                
            
            }
            .p-dropdown-items-wrapper{
                max-height: 350px !important;
            }
            .ts-list{
                display: block;
                width: 100%;
                &.ts-list-bottom{
                    padding-bottom: 20px;
                }
                .ts-list-lt{
                    display: inline-block; 
                    &.topltwidth{
                        width: 285px;
                    }
                    &.filter-expand{
                        width: 285px;
                    }   
                    &.filter-collapse{
                        width: 15px;
                        margin: 0;                         
                    } 
                    margin-left: 20px;                    
                    vertical-align: top;
                    .ts-list-lt-top{
                        /*text-align: center;*/
                        padding:13px 0;
                        img{
                           vertical-align: top; 
                        }
                        .title-text{
                            vertical-align: top; 
                            font-family: "Roboto-Bold";
                            font-size: 23px;
                            line-height: 23px;
                            color :#4c4b4b;
                            padding-left: 3px;
                        }            
                    }
                    .ts-list-lt-center{
                        margin: 0;
                        padding: 0;
                        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
                        background-color: #3c424d;
                        border-radius:9px ;
                        .div-pos{
                            padding: 5px 0 0 20px;
                        }
                        .select-group-div{
                            margin: 15px 0 15px 0;
                            .p-inputtext {
                                box-shadow: none;
                                font-family: "Roboto-Regular";                                    
                                font-size:14px;
                                line-height: normal;
                                color:#ffffff;
                                padding: 0;
                            }
                            .select-group-order .p-dropdown{
                                box-shadow: none;
                                //width: 246px;
                                width: 86%;
                                height: 32px;
                                background-color: #3c424d;
                                border: 1px solid #dddddd;            
                                border-radius: 16px;
                                padding: 5px 0 0 15px;
                                vertical-align: middle;
                                margin: 0;
                                .p-dropdown-trigger {
                                    color: #ffffff;
                                }
                                &:hover {
                                    box-shadow: none;
                                    background: transparent;
                                }            
                            }
                        } 
                        .group-row{
                            padding: 0 0 0 20px;                                                      
                            .type-row{
                                display: block;
                                /*width: 100%;*/
                                font-family: "Roboto-Regular";
                                font-size:14px;
                                margin: 0;
                                line-height: normal;
                                padding: 15px 0 15px 15px;
                                cursor: pointer;
                                border-radius: 26px;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                                &.normal{
                                    background-color :transparent;
                                    padding: 8px 20px 8px 0;
                                    margin: 6px 0 6px 55px;
                                    &.ticketStatus0
                                    {
                                        margin: 6px 0 6px 0 !important;
                                    }
                                    &.ticketStatus8
                                    {
                                        margin: 6px 0 6px 0 !important;
                                    }
                                    color: #b5bcca;
                                }
                                &.active{
                                    background-color:var(--ID19);
                                    padding: 8px 20px 8px 0;
                                    margin: 6px 0 6px 55px;
                                    &.ticketStatus0
                                    {
                                        margin: 6px 0 6px 0 !important;
                                    }
                                    &.ticketStatus8
                                    {
                                        margin: 6px 0 6px 0 !important;
                                    }
                                    color: #ffffff;
                                }
                                .type-row-inner{
                                    padding-left:15px;
                                    width: 100%;
                                    display: block;
                                }
                                .type-text{
                                    display: inline-block;
                                    //width:190px;
                                    width: 80%;
                                    vertical-align: top;
                                    text-align: left;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .type-count{
                                    display: inline-block;
                                    //width:40px;
                                    width: 20%;
                                    vertical-align: top;
                                    text-align: right;
                                }
                                .plus-icon{                                    
                                    display: inline-block;
                                    position: relative;
                                }
                            }                            
                        } 
                        .user-row{
                            border-top:1px solid #2a2e35;
                            padding: 10px 0 20px 20px;
                            
                        }
                        .profile-row{
                            cursor: pointer;
                            border-radius: 26px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            &.active{
                                background-color:var(--ID19);
                                padding: 6px 0 6px 0;
                                margin: 6px 0 6px 0;
                                color: #ffffff;
                            } 
                            &.normal{
                                background-color :transparent;
                                padding: 6px 0 6px 0;
                                margin: 6px 0 6px 0;
                                color: #b5bcca;
                            }
                            .profile-row-inner{
                                padding-left:15px;
                            }
                            .pimg{
                                /*background:#fff;*/
                                display: inline-block;
                                border-radius:25px;
                                height: 40px;
                                min-height: 40px;
                                min-width: 40px;                               ;
                                object-fit: cover;
                                /*overflow: hidden;*/
                                width: 40px;
                                vertical-align: top;                                    
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius:25px;
                                }
                            }
                            .avail-status{                                    
                                position: relative;
                                top: 26px;
                                left: -10px;
                                width: 9px;
                                height: 9px;
                                margin: 0;
                                padding: 0;
                                border-radius: 50%;
                                border: 0px solid #ffffff; 
                                margin-bottom: -33px;
                                display: inline-block;
                                vertical-align: top;                               
                          
                                &.availability-status0 {
                                    background-color: #ff0000;
                                }
                        
                                &.availability-status1 {
                                    background-color: #00b050;
                                }
                        
                                &.availability-status2 {
                                    background-color: #ffee50;
                                }                         
                                  
                            } 
                            .uname{
                                font-family: "Roboto-Regular";
                                font-size: 14px;                                   
                                margin-left: 0;
                                display: inline-block;
                                width: 70%;
                                vertical-align: top;
                                text-align: left;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                vertical-align: top;
                                position: relative;
                                top: 10px;
                                left: 5px;
                            }                              
                        }
                    }
                    
                }
                .ts-list-rt{
                    vertical-align: top;
                    display: inline-block; 
                    &.toprtwidth{
                        width: calc(100% - 305px);
                    }
                    &.filter-expand{
                        width: calc(100% - 305px);
                    }   
                    &.filter-collapse{
                        width: calc(100% - 15px);                          
                    }                    
                    padding:0 20px;
                    .ts-list-rt-top{
                        padding: 8px 0 0 0;
                        height: 50px;
                        width: 100%;
                        .lt{
                            width: 60%;
                            text-align: left;
                            display: inline-block;
                        }
                        .rt{
                            width: 40%;
                            text-align: right;
                            display: inline-block;
                        }
                        .select-order-option{
                            display: inline-block;
                            margin-right: 6px;
                        }
                        .more-option{
                            display: inline-block;                            
                            width: 122px;
                            height: 32px;  
                            margin-left: 10px;                         
                            padding: 0;
                            border: solid 1px #fa972d;                            
                            border-radius: 6px;
                            text-align: center;
                            position: relative;
                             top: -1px;
                            cursor: pointer;
                            &.green-change{
                                border: solid 1px #469073;  
                                width: 172px;  
                            }
                            &.gray-change{
                                border: solid 1px #bbb;  
                                width: 172px;                               
                            }
                            img{
                                display: inline-block;
                                vertical-align: middle;
                                position: relative;
                                top: 1px;
                            }
                            span{
                                display: inline-block;
                                vertical-align: middle;
                                font-family: "Roboto-Regular";
                                font-size:14px;
                                line-height: normal;
                                color:#fa842d;
                                padding-left: 10px;
                                position: relative;
                                top: 1px;
                                &.green-change{
                                    color:#469073;  
                                }
                                &.gray-change{
                                    color:#737373;  
                                }
                            }
                        }
                        .p-inputtext {
                            box-shadow: none;
                            font-family: "Roboto-Regular";
                            height: 32px;
                            font-size:14px;
                            line-height: normal;
                            color:#898989;
                            padding: 6.5px 0 0 6px;
                          }
                        .select-ts-order .p-dropdown{
                            box-shadow: none;
                            /*width: 165px;*/
                            width: 130px;
                            margin-left: 0;            
                            border: 1px solid var(--ID60A11);            
                            border-radius: 5px;
                            margin-bottom: 10px;
                            background: var(--ID60A10);
                            color: var(--ID60A12);
                            .p-dropdown-trigger {
                                color: var(--ID60A14);
                            }
                            &:hover {
                                box-shadow: none;
                                background: var(--ID60A13);
                            }            
                        }
                        .select-ts-order-3 .p-dropdown{
                            width: 165px;
                        }  
                    }                    
                }
            } 

            .techsupport-tt {
                margin: 0 0 0 -74px !important;
                .arrow {
                    &::before {
                        border-width: 0 0.5rem 0.5rem;
                        border-bottom-color: #242a3a;
                        left: 73px;
                        bottom: -1px;
                    }
                }
                &.tooltip {
                    opacity: 1;    
                    .tooltip-inner {
                        background-color: #242a3a !important;
                        text-align: left;
                        width: 200px;;
                        border-radius: 9px;
                        padding: 0;
                        .tooltip-ts-mo-div{
                           ul{
                                margin: 0px;
                                padding: 0px;
                                li{
                                    background-repeat: no-repeat;
                                    background-position: 10px 12px;
                                    border-bottom: solid 1px #4c5972;
                                    color: #ffffff;
                                    font-family: Roboto-Regular;
                                    font-size: 14px;
                                    padding: 10px 10px 10px 10px;
                                }
                            }                    
                        }
                    }
                    
                }               
              
            } 
        }
        .p-messages {
            position: absolute;
            top: 72px;            
            z-index: 10;           
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .p-message.p-message-success .p-message-close{
            visibility: hidden;
        }
    }
    .ptop{
        padding-top: 60px;
    }
    body.parts-list .thread-list-table .p-datatable .col-sticky.status-col .thread-status{
        font-size: 13px;
        padding: 1px;
        width: 150px;
        text-align: center;
        margin-right: 5px;
        div{
            display: inline-block;
            width: 146px;
            vertical-align: top;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .hidden{
        visibility: hidden;
        
    }
    .visibile{
        visibility: visible;
      
    }
    .hide{
        //visibility: hidden;
        display: none !important;
    }
    .show{
        //visibility: visible;
        display: inline-block !important;
    }
    body .cbt-filter #filter{
        padding: 0;
    }
    body .cbt-filter.filter-expand{
        width: 285px;
        padding: 0;        
        height: 98%;
        vertical-align: top;
        margin: 0;
    }
    body .cbt-filter{
        margin: 0;
    }
    .transition{
        transition: all 0.5s;
    }
    .transition-2{
        transition: all 0.8s;
    }
    body .cbt-filter #filter .filter-toggle{
        background: #3c424d;
    }
    .prioritypage{
        display: inline-block;                            
       /* width: 32px;
        height: 32px;*/                           
        padding: 0;
        &.svg-icon{
            cursor: pointer;
            svg {
                path {
                    //fill: #22A4A4;
                    stroke: #22A4A4;
                    }
                }
            }
            .prioritypage-rules-text
            {
                color: #3c424d; 
                font-size: 20px;
                margin-left: 5px;
                 margin-right: 10px;

            }
        }
   
    
}
