.custom-backgroud-in-person {
    background-color: #f8f8f8;
    padding: 17px 15px 21px 20px;
    border-radius: 10px;
    border: solid 1px #d5dceb;
    margin-bottom: 20px;
}
.hide {
    display: none;
}
.no-padding {
    padding: 0px!important;
}
::ng-deep {

  .ql-editor {
    overflow: hidden;
  }

  .ql-editor:hover {
    overflow: auto !important;
    cursor: pointer;
  }

  .BannerImageFit div:nth-child(1) {
    float: right;
  }
}
.prob-new{
  height: 90vh;
}
