.td-head {
  padding: 16px 20px 14px 30px;

  .left-head {
    .thread-text {
      font-family: Roboto-Bold;
      color: #000000;
      font-size: 20px;
      text-align: left;
      font-weight: normal;
      padding-right: 15px;

      .red-text {
        color: #e55554;
      }
    }

    .thread-status {
      position: relative;
      top: -3px;
      text-transform: uppercase;
    }
  }

  .right-head {
    ul {
      margin: 0;
      padding: 0;
      text-align: right;

      li {
        display: inline-block;
        margin: 0;
        padding: 0;

        &.paddingR30 {
          padding-right: 30px;
        }

        &.paddingL30 {
          padding-left: 30px;
        }

        a {
          margin: 0;
          padding: 0;
          display: block;

          img {
            display: inline-block;

            &.mleft60 {
              margin-left: 60px;
            }
          }

          span {
            font-family: Roboto-Regular;
            color: #e55554;
            font-size: 14px;
            margin-left: 10px;
          }
        }

        button.start-gts-btn {
          background-color: #fa972d;
          border: 1px solid #fa972d;
          color: #fff;
          padding: 0.5rem;
          border-radius: 10px;
          font-size: 14px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 115px;
        }
      }
    }
  }
}

.right-sidebar {
  // max-height: calc(100% - 45px) !important;
}

.p-card-content {
  margin: 38% 20% 28% 4%;
}

.Rounded-Rectangle-11 {
  // padding: 0px 35px;
  border-radius: 10px;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
}

img.Vector-Smart-Object1 {
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 70% !important;
}

.Attachments-shown-here {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
  white-space: nowrap;
}

.all-gts-attachments {
  mat-card-header {
    font-family: Roboto-Bold;
  }

  .description {
    line-height: normal;
    font-size: 13px;
    font-weight: normal;
    color: #333;
  }

  .size {
    color: #5e646f;
  }
}

.outline-btn {
  border-color: #c4413e;
  color: #c4413e;
}

.chip {
  background-color: #62779f;
  color: #fff;
}

::ng-deep .right-sidebar {
  .p-card-title {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e3e6;
  }
}

.parent {
  display: grid;

  &.first {
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 70px) !important;
    overflow: auto;
  }

  &.second {
    grid-template-columns: 1fr 3fr 1fr;
    height: calc(100vh - 70px) !important;
    overflow: auto;
    padding-bottom: 0 !important;
  }

  // grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
}

div#header {
  height: 70px !important;

}

.h-100 {
  height: calc(100vh - 95px) !important;
  display: flex;
}

.p-0.all-gts-attachments {
  width: 100%;
}

.cust-loader.esc-loader.cust-lazy-loader {
  bottom: 10px;
  position: relative;
  left: 0;
}
