.location-data {
    padding: 20px 15px 20px 30px;
    .location-row, .rgn-list-col, .chart-info {
        background: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
    }
    .location-row {
        display: table;
        margin: 0 0 20px 0px;
        padding: 25px 15px;
        width: 100%;
        .location-col {
            display: table-cell;
            &.map-icon {
                background: url('../../../../assets/images/audit/audit-location-map-icon.png') no-repeat center #d3f1ed;
                border-radius: 6px;
                width: 120px;
                height: 120px;
            }
            &.location-cont {
                .data-content {
                    padding-left: 25px;
                    text-transform: uppercase;
                    span {
                        display: block;
                        &.dc-row-1 {
                            color: #777777;
                            font-family: 'Roboto-Medium';
                            font-size: 15px;
                        }
                        &.dc-row-2 {
                            color: #000000;
                            font-family: 'Roboto-Bold';
                            font-size: 30px;
                        }

                   } 
                   &.dc-list {
                        display: table;
                        position: relative;
                        top: 6px;
                        .dc-item {
                            display: table-cell;
                            padding-right: 20px;
                            .dc-row-2 {
                                font-size: 18px
                            }
                            &.dc-item-1 {
                                .dc-row-2 {
                                    color: #d44ea9;
                                }
                            }
                            &.dc-item-2 {
                                .dc-row-2 {
                                    color: #ac54e4;
                                }
                            }
                            &.dc-item-3 {
                                .dc-row-2 {
                                    color: #6a81e4;
                                }
                            }
                        }
                   }
                }
            }
        }
    }
    .region-row {
        .rgn-list-col {
            display: table;
            padding: 25px 15px;
            .rgn-col {
                border-radius: 6px;
                display: table-cell;
                height: 120px;
                width: 120px;
                &.region-icon {
                    background: url('../../../../assets/images/audit/region-icon.png') no-repeat center #d8edf9;
                }
                &.trt-icon {
                    background: url('../../../../assets/images/audit/teritory-icon.png') no-repeat center #fef2df;
                }  
                &.region-cont {
                    padding-left: 25px;
                    text-transform: uppercase;
                    vertical-align: middle;
                    span {
                        display: block;
                        &.rc-row-1 {
                            color: #777777;
                            font-family: 'Roboto-Medium';
                            font-size: 15px;
                        }
                        &.rc-row-2 {
                            color: #000000;
                            font-family: 'Roboto-Bold';
                            font-size: 30px;
                        }

                   } 
                }              
            }
            &:last-child {
                position: relative;
                left: 25px;
            }
        }
    }
    .chart-info {
        padding: 0;
        .chart-head {
            border-bottom: solid 1px #ededed;
            font-family: 'Roboto-Medium';
            font-size: 15px;
            padding: 10px 20px;
        }
        .chart-row {
            display: block;
            height: calc(100% - 45px);
            width: 100%;
            .chart-split {
                display: inline-block;
                height: 100%;
                &.chart-data {
                    border-right: solid 1px #ededed;
                    vertical-align: middle;
                    width: 55%;
                }
                &.nc-data {
                    vertical-align: baseline;
                    width: 40%;
                    .nc-cont {
                        padding-left: 40px;
                        .nc-row-1 {
                            color: #777777;
                            font-family: "Roboto-Medium";
                            font-size: 15px;                        
                            text-transform: uppercase;
                        }
                        .nc-row-2 {
                            color: #000000;
                            font-family: "Roboto-Bold";
                            font-size: 30px;                        
                            span {
                                color: #55b1e3;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.audit-shop-list-container {
    margin: 0px 20px;
}
.audit-header {
    padding-right: 10px;
    .ah-col {
        &.ah-col-1 {
            .text-thread-title {
                top: 6px;
                &.back {
                    padding-left: 10px;
                }
            }
            .head-icon {
                padding-left: 8px;
                padding-right: 8px;
                vertical-align: middle;
            }
        }
        &.ah-col-2 {
            padding-right: 0px;
            .ahr-col {
                color: #469073;
                display: inline-block;
                &.shop-status-data {
                    width: 90%;
                    .status-count {
                        display: block;
                        .count-item {
                            background-color: #FFFFFF;
                            border-radius: 6px;
                            box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
                            display: inline-block;
                            margin: 15px 20px 0px 0px;
                            padding: 5px 20px 5px 5px;
                            width: 30%;
                            vertical-align: middle;
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                text-align: center;
                                &.icon {
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 21px;
                                    border-radius: 6px;                               
                                    height: 36px;
                                    width: 20%;
                                    &.completed {
                                        background-image: url('../../../../assets/images/audit/completed-head-list-icon.png');
                                    }
                                    &.in-process {
                                        background-image: url('../../../../assets/images/audit/inprocess-head-list-icon.png');
                                    }
                                    &.not-started {
                                        background-image: url('../../../../assets/images/audit/not-started-head-dash-icon.png');
                                    }
                                }
                                &.sitem {
                                    color: #777777;
                                    font-family: 'Roboto-Medium';
                                    font-size: 15px;
                                    position: relative;
                                    left: 10px;
                                    text-transform: uppercase;
                                    width: 50%;
                                }
                                &.count {
                                    font-family: 'Roboto-Bold';
                                    font-size: 18px;
                                    width: 30%;
                                }
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                &.list-map {
                    background-color: #FFFFFF;
                    border-radius: 6px;
                    margin: 8px 0px;
                    padding: 0; 
                    width: 7%;
                    height: 32px;
                    vertical-align: middle;
                    span {
                        background-repeat: no-repeat;
                        background-position: center;
                        display: inline-block;
                        height: 32px;
                        width: 50%;
                        &.map {
                            background-image: url('../../../../assets/images/shop/shop-map-normal.png');
                            border-right: solid 1px #e9ecee;
                            &.active, &:hover {
                                background-image: url('../../../../assets/images/shop/shop-map-selected.png');
                            }
                        }
                        &.list {
                            background-image: url('../../../../assets/images/audit/list-icon-normal.png');
                            &.active, &:hover {
                                background-image: url('../../../../assets/images/audit/list-icon-active.png');
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep{
    .gm-style .gm-style-iw-tc::after{
        background-color: #444444 !important;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
        font-size: 15px !important;
        height: 51px;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
        font-size: 15px !important;
        padding: 1rem 0.25rem 1rem 0.25rem !important;
        &.stock-header{
            padding: 0rem 0.25rem 0rem 0.25rem !important;
        }
        &:first-child{
            padding-left: 1rem !important;
        }
    }
    body.parts-list .cthread-list-table .p-datatable{
        .header {
            background-color: var(--ID61);
            color: #FFFFFF;
            &.wf-step {
                text-align: center !important;
            }
        }
        .thl-col-1 {
            width: 120px;
            &.wf-step {
                width: 100px;
                .p-button.p-button-icon-only.p-button-rounded {
                    background: none;
                    box-shadow: none;
                    color: #b7b7b7;
                    border-radius: 0;
                    position: relative;
                    top: 4px;
                }
                .wf-step-item {
                    position: relative;
                    top: -4px;
                }
            }
        }
        .thl-col-2{
            width: 240px;
            left: 120px;
            &.wf-name {
                left: 100px;
                width: 300px;
            }
        }
        .thl-col-3{
            width: 150px;
            &.wf-owner {
                width: 240px;
            }
        }
        .thl-col-4{
            width: 140px;
            &.wf-assign {
                width: 240px;
            }
        }
        .thl-col-5{
            width: 140px;
        }
        .thl-col-6{
            width: 140px;
        }
        .thl-col-7{
            width: 160px;
            .new-stock{
                color:#21a481;    
            }
        }
        .thl-col-8{
            width: 490px;
            padding: 0 !important;
            text-align: center !important; 
            &.wf-action {
                width: 160px;
            }           
            &.header {
                .stock {
                    display: inline-block;    
                    font-size: 14px;
                    text-transform: capitalize;
                    &.stock1 {
                        width: 100px;
                    }
                    &.stock2 {
                        width: 140px;
                    }
                    &.stock3 {
                        width: 100px;
                    }
                    &.stock4 {
                        width: 140px;
                    }
                }
            }
            &.tbody {
                .stock {
                    display: inline-block;
                    font-family: "Roboto-Medium";
                }
                .stock1 {
                    width: 100px;
                }
                .stock2 {
                    width: 140px;
                }
                .stock3 {
                    width: 100px;
                }
                .stock4 {
                    width: 140px;
                }
            }            
        }
        .thl-col-9{
            width: 200px;
            text-align: center !important;
            &.header {
                .stock {
                    display: inline-block;    
                    font-size: 14px;
                    text-transform: capitalize;
                    width: 100px;
                }
            }
            &.tbody {
                .stock {
                    display: inline-block;
                    font-family: "Roboto-Medium";
                    width: 100px;
                }
            }  
        }
        .thl-col-10{
            width: 220px;
        }
        .p-table-col {
            &.col-line-2 {
                -webkit-line-clamp: 2;
            }
            &.action-link {
                color: #0044cc;
                text-decoration: underline;
            }
        }
        .wf-date {
            width: 140px;
        }
        .wf-action {
            .action-button {
                color: #469073;
                font-size: 14px;
                background: url('../../../../assets/images/service-provider/add-plus.png') no-repeat 0px center;
                background-size: 16px;
                padding-left: 25px;
                &.edit {
                    background-image: url('../../../../assets/images/edit-list-icon-green.png');
                }
            }
        }
        .wf-info {
            .wf-cont {
                padding-bottom: 10px;
                &:last-child {
                    padding-bottom: 0px;
                }
                .pi {
                    color: #b2b2b2;
                    span {
                        font-family: 'Roboto-Regular';
                        padding-left: 12px;
                        position: relative;
                        top: -2px;
                    }
                }
                .item-cont {
                    color: #000;
                    padding-left: 25px;
                    &.attachments {
                        padding: 0;
                        .attachment-info {
                            padding: 10px 0px;
                            .label {
                                display: none;
                            }
                        }
                        .attachment-cont {
                            border: 0 none;
                            .attachment-row {
                                display: inline-block;
                                border: solid 1px #e1e1e1 !important;
                                margin-right: 15px;
                                padding: 0 !important;
                                width: 320px;
                                .custom-drop-down {
                                    display: none;
                                }
                                .attachment-col {
                                    &.bg-col {
                                        height: 60px;
                                        margin: 10px 15px;
                                    }
                                    &.cont-col {
                                        font-size: 14px;
                                    }
                                    .caption {
                                        padding-bottom: 4px;
                                    }
                                    .caption, .desc {
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 1;
                                        overflow: hidden;
                                    }
                                }                              
                            }
                        }
                    }
                }               
            }
        }
    }
    body.parts-list .customer-tech-table .p-datatable{
        .p-datatable-thead tr th {
            background-color: var(--ID61);
            color: #FFFFFF;
            padding: 0.75rem 1rem;
        }
        .p-datatable-tbody tr td {
            padding: 0 1rem;
            height: 62px;
            .profile-img {
                display: inline-block;
                padding-right: 15px;
                vertical-align: top;
                .pimg {
                    background: #fff;
                    display: inline-block;
                    border-radius: 50%;
                    height: 40px;
                    min-height: 40px;
                    min-width: 40px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    overflow: hidden;
                    width: 40px;
                    vertical-align: top;
                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
            }
            .profile-text {
                display: inline-block;
                vertical-align: top;
                .name-text {
                    font-size: 14px;
                    font-family: "Roboto-Regular";
                    color: #5e6980;
                    line-height: normal;
                    display: block;
                }
                .sub-text {
                    font-size: 14px;
                    font-family: "Roboto-Light";
                    color: #a4abba;
                    line-height: normal;
                    padding-top: 2px;
                    line-height: normal;
                    display: block;
                }
            }
            .srstatus {
                display: inline-block;
                position: relative;
                top: 1px;
                border-radius: 50%;
                height: 12px;
                min-height: 12px;
                min-width: 12px;
                object-fit: cover;
                overflow: hidden;
                width: 12px;
                margin-right: 9px;
                &.srstatus0{
                  background-color: #aeaeae;
                }
                &.srstatus1{
                  background-color: #46bf65;
                }
                &.srstatus2{
                  background-color: #f8d755;
                }
            }
            .count {
                border: solid 1px #dddddd;
                display: inherit;
                height: 32px;
                width: 42px;
                vertical-align: middle;
            }
        }
    }
    .more-icon svg path{
        fill: var(--ID69);
    }
    .more-icon svg circle{
        fill: var(--ID70);
    }
    .status {
        border-radius: 16px;
        color: #FFFFFF;
        display: inline-block;
        height: 100%;
        padding: 0px 15px;
        &.in-process {
            background-color: #299cdb
        }
        &.completed {
            background-color: #43b9a4;
        }
        &.not-started {
            background-color: #444444;
        }
    }
    .status-text-col{
        width: 173px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        top: 4px;
    }
    .more-icon{
        display: inline-block;
        position: relative;
        right: 0px;
    }
}
.map-list-cont {
    padding: 2px 20px;
}

#partList{
    &.empty {
        height: 0;
    }
}

.emplty-container {
    .empty-cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.dashboard {
    &.dash-ro {
        height: calc(100% - 30px);
    }
    .dashboard-top {
        margin: 15px 0px;
        padding: 0px;
        .db-col {
            .contact {
                background-color: #FFF;
                border-radius: 16px;
                display: table;
                padding: 8px 15px;
                width: 100%;
                .dbl-col {
                    display: table-cell;
                    font-size: 14px;
                    vertical-align: top;
                    width: 50%;
                    .dbl-row {
                        display: table;
                        padding: 15px 10px 0px;
                        width: 100%;
                        .dbl-row-col {
                            display: table-cell;
                            vertical-align: top;
                            width: 150px;
                            .bg {
                                background-position: center;
                                background-repeat: no-repeat;
                                border: solid 1px;
                                border-radius: 8px;
                                width: 64px;
                                height: 64px;
                                &.map-icon {
                                    background-image: url(../../../../assets/images/customers/cust-location-map-icon.png);
                                    background-size: 30px;
                                    color: #8556e3;
                                }
                                &.user-icon {
                                    background-image: url(../../../../assets/images/customers/business-user-icon.png);
                                    color: #469073;
                                }
                            }                            
                            &.info {
                                position: relative;
                                top: -4px;
                                width: calc(100vw - 150px);
                                .info-head {
                                    font-family: 'Roboto-Medium';
                                    font-size: 16px;
                                    padding-bottom: 4px;
                                }
                                .econtact {
                                    padding-top: 5px;
                                    .cbg {
                                        background-position: 0px center;
                                        background-repeat: no-repeat;
                                        padding: 10px 0px 10px 32px;
                                        &.mail {
                                            background-image: url('../../../../assets/images/customers/cemail-circle-icon.png');
                                        }
                                        &.phone {
                                            background-image: url('../../../../assets/images/customers/cphone-circle-icon.png');
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.map-info {
                        .mapouter {
                            .gmap-canvas {
                                iframe {
                                    border: solid 1px #c3c3c3;
                                    border-radius: 10px;
                                    margin-top: 6px;
                                }    
                            }
                        }
                    }
                }
            }
            &.count {
                padding-left: 5px;
                .dbr-row {
                    background: #fff;
                    border-radius: 8px;
                    display: block;
                    margin-bottom: 15px;
                    padding: 15px 15px 6px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .dbr-col {
                        display: inline-block;
                        &.type-icon {
                            background-color: #e4f2f0;
                            background-repeat: no-repeat;
                            background-position: center;
                            border-radius: 8px;
                            width: 52px;
                            height: 52px;
                            &.thread {
                                background-image: url('../../../../assets/images/customers/thread-green-icon.png');
                            }
                            &.tech {
                                background-image: url('../../../../assets/images/customers/tech-green-icon.png');
                            }
                        }
                        &.type-count {
                            padding-left: 15px;
                            .head {
                                font-size: 14px;
                            }
                            .item-count {
                                font-family: 'Roboto-Bold';
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .dashboard-middle {
        margin: 0px;
        .dbm-row {            
            background-color: #FFFFFF;
            border-radius: 8px;
            margin-top: 25px;
            .dbm-head {
                background: url('../../../../assets/images/customers/cuser-icon.png') no-repeat 15px center;
                border-bottom: solid 1px #ededed;
                font-family: 'Roboto-Medium';
                font-size: 15px;
                padding: 8px 40px;
                &.notes-icon{
                    background: url('../../../../assets/images/customers/notes-icon.png') no-repeat 15px center;
                }
            }
            .dbm-body {
                border: solid 1px #e8e8e8;
                border-radius: 10px;
                .empty {
                    color: #bcb6b6;
                    padding: 10px 0px;
                }
                .dbm-col {
                    .dbmc-row {
                        border: solid 1px #ededed;
                        border-radius: 8px;
                        display: table;
                        height: 90px;
                        margin: 15px 0px;
                        padding: 15px;
                        width: 100%;
                        .dbmcr-col {
                            display: table-cell;
                            vertical-align: top;
                            .icon {
                                background: url('../../../../assets/images/customers/business-user-icon.png') center no-repeat #e4f2f0;
                                border-radius: 8px;
                                height: 60px;
                                width: 60px;
                            }
                            &.cont {
                                padding-left: 10px;
                                width: calc(100vw - 90px);
                                .econtact {
                                    .cbg {
                                        background-position: 0px center;
                                        background-repeat: no-repeat;
                                        padding: 0px 0px 0px 20px;
                                        &.mail {
                                            background-image: url('../../../../assets/images/customers/cemail-icon-gray.png');
                                        }
                                        &.phone {
                                            background-image: url('../../../../assets/images/customers/cphone-icon-gray.png');
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .cnotes{
                    font-family: 'Roboto-Regular';
                    font-size: 15px; 
                    color:#000000;
                    line-height: 22px;
                    padding: 10px 10px 0 15px;
                    overflow-y: auto;
                    max-height: 500px;
                }               
                .cnotes-empty{
                    height: 110px;
                    .empty-text{
                        font-family: 'Roboto-Regular';
                        font-size: 14px; 
                        color:#777777;
                        text-align: center;
                        display: block;
                        padding: 22px 0 15px 0;
                        font-style: italic;
                    }                    
                }
            }
            .add-action-btn{
                cursor: pointer;
                display: block;
                background-color: transparent;
                border: 1px solid #469073;
                padding: 3px 10px 5px 10px; 
                border-radius: 14px;
                width: 115px !important;
                text-align: center;
                height: 28px !important;
                font-size: 14px;
                margin:0 auto;
                img{
                    position: relative;
                    top:-2px;
                    padding-right: 5px;
                }
                span{
                    color: #469073;
                    font-size: 14px;
                    font-family: 'Roboto-Regular';
                }
            }
            .notes-head{
                display: block;
                width: 100%;
                .lt{
                    width: 200px;
                    display: inline-block;
                }
                .rt{
                    width: calc(100% - 200px);
                    display: inline-block;
                    text-align: right;
                }
            }
            .rt-cont{
                display: inline-block;
                padding-right: 20px;
                img{
                    display: inline-block;
                    position: relative;
                    top:-1px;
                }
                .rt-cont-label{
                    display: inline-block;
                    font-family: 'Roboto-Medium';
                    font-size: 14px; 
                    color:#777777;
                }
                .rt-cont-text{
                    display: inline-block;
                    font-family: 'Roboto-Medium';
                    font-size: 14px; 
                    color:#000000;
                }
            }
        }
    }
    .dashboard-repair-order {
        height: 100%;
        padding: 15px 0px 0px 35px;
        app-repair-order-list {
            width: 100%;
        }
    }
    .row{
        &.pad0{
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}
::ng-deep{
    .notes-modal{
        ::ng-deep .p-dialog {
            max-width: 1200px !important;
            width: 90%;
        }
        .p-dialog-content{
            padding: 20px 30px 30px 30px !important;
        }
        .ck.ck-placeholder, .ck .ck-placeholder {
            font-size: 14px;
            font-family: "Roboto-Regular";
            color: #898989;
        }
        .ck.ck-editor__editable_inline {
            height: 380px;
            font-family: "Roboto-Regular";
        }
        .notes-gray-icon {
            background: url('../../../../assets/images/customers/notes-gray-icon.png') no-repeat 0 center;
            border-bottom: solid 1px #ededed;
            font-family: 'Roboto-Medium';
            font-size: 15px;
            padding: 8px 25px;
        }
    }
}