.no-data-contaier{
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100% !important;
}
.media-collapse-arrow{
  left: 5px !important;
}
::ng-deep{
body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info .attachment-cont{
  margin: 0 !important;
}
  .right-landing-toggle-menu-bar .post-view .post-row .post-col.post-col2 .post-cont{
    padding: 5px 8px 0 !important;
  }
  .right-landing-toggle-menu-bar .post-view.nested-post-view{
    padding: 0 15px 15px 15px !important
  } 
  body.thread-detail-v2 .right-landing-toggle-menu-bar .filter-toggle.collapse-arrow{
    top:0  !important;
    left: 0  !important;
    width: 100%;
    border-radius: 0;
  }  
  body.tthread-detail-v2 .right-landing-toggle-menu-bar .filter-toggle.expand-arrow{
    top:0 !important;
    right: 0  !important;
  }  
  .threadid-text{
    display: inline-block;
    vertical-align: top;
    font-family: Roboto-Medium;
    color: #2b2b2b;
    font-size: 14px;
    position: relative;
    white-space: nowrap;
    left: 12px;
    top: -10px;
    &.lt{
      float: left;
    }
    &.rt{
      float: right;
    }
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col1 .post-profile-img{
    width: 34px;
    height: 34px;
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col1{
    width: 44px;
  }
  body.thread-detail .thread-detail-section .th-outer-col-2{
    display: block;
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new.post-reply-new{
    border-radius: 0 !important;
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .nested-reply-div.padding-top-20{
    padding: 0 !important;
  }
}
.post-row-lt-wid{
  width: 40%;
  white-space: nowrap;
  vertical-align: top;
}
.post-row-rt-wid{
  width: 60%;
  vertical-align: top;
}
.set-pos1{
  position: relative;
  margin-top: 15px;
}
.set-pos2{
  position: absolute;
  width: 100%;
}
.dot-ret{
  border-radius: 50%;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
  overflow: hidden;
  width: 8px;
  background-color: #ff000b;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 8px;
}
::ng-deep{
  .new-dot-tooltip{
    .popover-header{
      font-family: Roboto-Medium;
      color: #ffffff;
      font-size: 14px;
      background-color: #444;
      border-radius: 6px;
      padding: 7px 14px;
    }
    .popover-body{
      padding: 0;
    }
    
  } 
  .ck.ck-placeholder, .ck .ck-placeholder{
    font-size: 14px;
    font-family: 'Roboto-Regular';
    color: #898989;
  }
  body.thread-detail-v2 .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new{
    overflow:visible;
  }
}
.right-landing-toggle-menu-bar .threadid-text:hover{
  color:#469073 !important
}
.threadid-text{
  .lt-img{
    position: relative;
    top:-2px;
  }
  .ct-text{
    position: relative;
    top:-1px;
  }
}

