.footer-content {
    width: 100%;
    height: auto;
    padding: 14px 10px;
    background-color: #282a2b;
    display: flex;
    justify-content: space-around;
    .width-80-perc {
        width: 80%;
        .footer-text {
            font-size: 13px;
            color: #fff;
        }
        .span-text-new {
            .style-1 {
                color: #6c6c6c;
                margin-right: 20px;
            }
            .style-2 {
                color: #6c6c6c;
                margin-right: 20px;
            }
        }
    }
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.text-style-1 {
    font-size: 13px;
    color: #fff;
}
.text-style-2 {
    font-size: 13px;
    color: #fff;
}
.text-style-3 {
    font-size: 13px;
    color: #fff;
}
.desktop-view {
    display: flex;
}
.mobile-view {
    display: none;
}

::ng-deep {
  #content {
    position: relative;
    min-height: 100vh;
  }
}
