<div class="main-contaier profile-metrics-widget">
    <!--<p-accordion [multiple]="true"  >
        <p-accordionTab    [selected]="true">
            <p-header class="accordion-icon ">-->
                <div class="container-fluid">
                    <div class="row col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 container-head container-metrics-head landing-padding0 landing-margin0">
                        <div class="menu-name-bar col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 landing-padding0 landing-margin0">
                            <div> 
                                <span class="bg-image metrics-land-icon">
                                    <img src='assets/images/landing-page/landing-metrics-icon.svg' alt='' onload='SVGInject(this)' />
                                </span>
                                <span class="menu-name">Metrics</span></div>
                        </div>
                    </div>
                </div>
            <!--</p-header>-->
            <div class="search-landing-widget">
                <div class="loading-small-screen" *ngIf="loadingrs" ><img src="assets/images/loading.svg" alt="Loader" /></div>
                <div class="container-fluid">
                    <div class="nothingtoshow " *ngIf="profileNoMetrics">
                        <div class="no-data-contaier">
                            <div>
                                <img class="no-data-img" src="assets/images/landing-page/empty-recent-search.svg">
                            </div>
                            <div class="no-data-text">no data</div>
                        </div>
                    </div>
                    <div class="row col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 landing-padding0 landing-margin0">
                        <div class="metrics-div">
                            
                            <div class="metrics-div-col" *ngFor="let item of metricsData;" >
                                <div class="metrics-box" >
                                    <div class="circle-bg" [ngStyle]="{'background-color': item.bgColor}" ><div class="bg-img {{item.imageClass}}"></div></div>
                                    <div class="count-text green-text" [ngStyle]="{'color': item.bgColor}">{{item.count}}</div>
                                    <div class="bottom-text">{{item.name}}</div>
                                </div>
                            </div>
                                                 
                            <div class="metrics-div-col metrics-div-col-last">
                                <div class="metrics-box">
                                    <div class="fix-row" *ngFor="let item of fixesData;" [ngClass]="{'fix-row-bottom-border' : item.name=='Share Fix'}"  >
                                        <div class="fix-col fix-col1"><div class="circle-bg " [ngClass]="{'white-bg' : item.name=='Confirm Fix','light-green-bg' : item.name=='Share Fix' }" ><div class="bg-img {{item.imageClass}}"></div></div></div>
                                        <div class="fix-col fix-last-col">
                                            <p class="fix-row-last-text">{{item.name}}</p>
                                            <p class="count-text light-green-text">{{item.count}}</p>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        <div class="metrics-div-col metrics-div-col-last">
                            <div class="metrics-box">
                                <div class="fix-last-row" *ngFor="let item of viewslikespinsData;" [ngClass]="{'fix-last-row-bottom-border' : item.name!='Pins'}">
                                    <div class="fix-last-col fix-last-col1"><div class="circle-bg"  [ngClass]="{'bg1' : item.name=='Views','bg2' : item.name=='Likes','bg3' : item.name=='Pins' }"><div class="bg-img {{item.imageClass}}"></div></div></div>
                                    <div class="fix-last-col">
                                        <span class="fix-row-last-text">{{item.name}}</span>
                                        <span class="fix-row-last-ctext">{{item.count}}</span>
                                    </div>
                                </div>                                                                   
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--</p-accordionTab>
    </p-accordion>-->
</div>


