.permission-text {
    // width: 554px;
    // height: 14px;
    margin: 46px 0 0;
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #888;
    white-space: nowrap;
  }
  
  .div-position {
    position: relative;
    top: 25%;
  }
  
  .img-size {
    height: 180px;
  }
  
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // border: 5px solid #FFFF00;
    padding: 10px;
  }
  .close-image{
    position: fixed;
    right: 10px;
     top:10px;
     cursor: pointer;
  }