.reference-info{
    padding:0 !important;
}

::ng-deep body.announcement #announcement .wrapper #content .p-datatable .p-datatable-scrollable-header{
    position: relative !important;
    width: 100% !important;
}
::ng-deep body.landing-page .p-datatable .p-datatable-tbody > tr > td{
    background-color: #ffffff !important;
}
::ng-deep body.landing-page .thread-list-table .p-datatable .p-datatable-tbody tr:hover td:first-child{
    border-left: 4px solid transparent !important;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;  
    font-family: "Roboto-Regular";
    color: var(--ID62) !important;
    background-color: var(--ID61) !important;
    padding-top:0 !important;
    padding-bottom: 0 !important;
    border: none;
    outline: none;
    height: 45px;
    white-space: normal !important;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child{
    padding-left: 1rem;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    color: var(--ID65) !important;
    background: var(--ID63);
    border-color: var(--ID64);
    font-family: "Roboto-Regular";
    font-size: 13px !important;
    letter-spacing: normal;
    height: 50px;
    cursor: default;
}
::ng-deep .p-datatable .p-datatable-scrollable-body{
    overflow: auto !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td:first-child{
    padding-left: 1rem;
}
::ng-deep body.landing-page .thread-list-table .p-datatable .p-datatable-tbody tr td:first-child{
    border-left:none !important;
}
::ng-deep body.landing-page .thread-list-table .p-datatable .p-datatable-tbody tr:hover td:first-child{
    border-left:none !important;
}
