::ng-deep {
    .body .wrapper #content .prob-new .new-pro-cont .form-cont .form-horizontal .form-items{
        padding: 10px 30px !important;
    }
    .upload-area .upload-col.files{
        width: 60%;
    }
    
}
.paddings_forms{
    padding: 10px 30px !important;
}
.requireds01{
    color: #b2b2b2;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 50px;
    margin: -22px 0px 0px 0px
}
.requireds02{
    color: #b2b2b2;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 50px;
    margin:-20px 0px 0px 0px
}
.requireds03{
    color: #b2b2b2;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 50px;
    margin:-15px 0px 0px 0px
}
.requireds04{
    color: #b2b2b2;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 50px;
    margin:-20px 0px 0px 0px
}
.titles{
    padding: 0px 0px 0px 19px;
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #9b9a9a;
    margin: -26px 0px 0px 3px;
}
.space{
    width: 0px;
}
.system-info{
    padding: 0;
    .update_info{
        display: table;
        padding: 20px 0px 5px 15px;
        width: 100%;
    }
    .update-col1{
        display: table-cell;
        width: 10%;
    }
    .update-col2{
        display: table-cell;
        width: 36%;
    }
    .update-col3{
        display: table-cell;
        width: 10%;
    }
    .update-col4{
        display: table-cell;
        width: 12%;
    }
    .update-col5{
        display: table-cell;
        width: 7%;
    }
    .update-col6{
        display: table-cell;
        width: 40%;
    }
    .update-col7{
        display: table-cell;
        width: 50%;
        text-align: center;
    }
}
.Requireds-0 {
    width: 55px;
    height: 14px;
    margin:29px -31px 13px 169px;
    font-family: Roboto-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #b2b2b2;
  }