#marketplace-landing{
    background: #ffffff;
    max-width: 1920px;
    /*max-width: 1024px;*/
    margin: 0 auto;
}
::ng-deep{
    body{
        background: #ffffff !important 
    }
    .marketplace-header{
        width: 100%;
        &.settings-padding{
            padding: 14px 50px 9px !important;
        }
    }
    .marketplace-footer{
        width: 100%;
        &.settings-padding{
            padding:0 50px 10px 50px !important;
        }
    }
    .footer-top-border{
        border-top: 1px solid #eaeaea;
        padding: 10px 0 0 0 !important;
    }   
    .marketplace-middle{
        width: 100%;
        .settings-padding{
            padding: 0px 50px 20px 50px !important;
        }
    }        
    .banner-setting-padding{
        padding: 0 50px !important;
    }
    @media screen and (max-width: 991px) {
        .marketplace-header{
            width: 100%;
            &.settings-padding{
                padding: 20px 20px 16px !important;
                height: 74px;
            }
        }
        .marketplace-footer{
            width: 100%;
            &.settings-padding{
                padding: 5px 20px 15px 20px !important;                
            }
        }
        .footer-top-border{
            border-top: 1px solid #eaeaea;
            padding: 10px 0 0 0 !important;    
        }
        .marketplace-middle{
            width: 100%;
            .settings-padding{
                padding: 0px 20px 20px 20px !important;
            }
        }
        .banner-setting-padding{
            padding: 0 !important;
            .banner-container{
                border-radius: 0 !important;
            }
        }
        .activity-container{
            max-width: 383px;
            margin: 20px 20px 0px 20px;
            width: 90%;
        }
    }
}