.container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.border-bottom {
    border-bottom: 1px solid #e8e8e8 !important;
}

a {
    color: #0044cc !important;
    cursor: pointer;
    outline: unset !important;
    font-size: 14px;
    text-decoration: underline;
    font-family: Roboto-Medium;
}

.upper-head {
    .hq-head {
        padding: 10px 0;

        .hq-head-text {
            padding-left: 12px;
            font-size: 24px;
            font-family: Roboto-Bold;
        }

        .left-row {
            margin-left: 5px;
            margin-right: 10px;
        }

        .rgt-txt {
            font-size: 16px;
            font-family: Roboto-Medium;
        }
    }

    .gray-txt {
        color: #555555;
    }

    .green-txt {
        color: #23aa78;
    }

    .review {
        height: 28px;
        padding: 6px 15px;
        border-radius: 14px;
        border: solid 1px #469073;
        background-color: #469073;
        margin-right: 32px;
        line-height: 12px;
    }

    .review-txt {
        font-size: 14px;
        font-family: Roboto-Medium;
        color: #fff;
        padding-left: 6px;
    }

    .hq-head-breadcrumb-text {
        color: #444444 !important;
        font-size: 14px;
        font-family: Roboto-Medium;
    }

    .hq-head-breadcrumb-img {
        vertical-align: middle;
        margin: 0 6px 0 6px;
    }
}

.outer-hq-container {
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;

    .loc-head-row {
        border: 0;
        border-bottom: 1px solid #ededed !important;
        padding: 7px !important;
    }

    .loc-head-edit-img {
        margin-right: 5px !important;
    }

    .heading-txt {
        padding-left: 9px;
        padding-right: 10px;
    }

    .loc-head-text {
        font-size: 15px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .description {
        font-size: 15px;
        font-family: Roboto-Regular;
        color: #555555;
        padding: 19px 4px 0px 20px;
        line-height: 24px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .box {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-color: #edf8f4;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .customer {
        background-image: url("../../../../assets/images/inspection-home/customer.png");
        background-size: 25px 24px;
    }

    .location {
        background-image: url("../../../../assets/images/inspection-home/location.png");
        background-size: 19px 28px;
    }

    .frequency {
        background-image: url("../../../../assets/images/dashboard-v2/sc-head-times.png");
        background-size: 28px 29px;
    }

    .network {
        background-image: url("../../../../assets/images/inspection-home/network.png");
        background-size: 37px 26px;
    }

    .small-box {
        width: 59px;
        height: 59px;
        border-radius: 8px;
        background-color: #e4f2f0;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../../../../assets/images/inspection-home/customer-card.png");
        background-size: 25px 20px;
    }

    .customer-desc-head {
        font-size: 15px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .customer-add {
        color: #444444;
        font-size: 15px;
        font-family: Roboto-Regular;
    }

    .rounded-card {
        padding: 10px;
        border-radius: 10px;
        border: solid 1px #e8e8e8;
        border-radius: 10px;
    }

    .box-description {
        padding-left: 15px;
    }

    .box-head {
        color: #555555;
        font-size: 16px;
        font-family: Roboto-Medium;
    }

    .box-count {
        font-size: 20px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .mb-14 {
        margin-bottom: 14px;
    }

    .add-action-btn {
        cursor: pointer;
        display: inline-block;
        background-color: transparent;
        border: 1px solid #469073;
        padding: 3px 18px 5px 18px;
        border-radius: 14px;
        text-align: center;
        height: 28px !important;
        font-size: 14px;
        margin: 0 20px;
        line-height: 18px;

        span {
            color: #469073;
            font-size: 14px;
            padding-left: 5px;
            font-family: Roboto-Medium;
        }
    }

    .customer-card {
        padding: 11px;
    }

    .box-count {
        margin-bottom: -8px;
    }

    .customer-description {
        overflow-x: auto;
    }

    .verified-box {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        background-color: #edf8f4;
        background-image: url("../../../../assets/images/inspection-home/verified.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 39px 39px;
    }

    .map-container {
        // border: solid 1px #c3c3c3;
        border-radius: 10px;
        width: 435px;
        height: 143px;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .shop-box {
        width: 124px;
        height: 124px;
        border-radius: 6px;
        background-color: #f6f3fc;
        background-image: url("../../../../assets/images/inspection-home/shop-build.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 46px 37px;
        margin-right: 15px;
    }

    .shop-head {
        font-size: 18px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .logo {
        margin-right: 9px;
    }

    .shop-info-data {
        font-size: 14px;
        font-family: Roboto-Regular;
    }

    .mb-10 {
        margin-bottom: 10px !important;
    }

    .neutral {
        color: #444444;
    }
}

.graph-box {
    height: calc(100% - 44px) !important;
}

.mb-31 {
    margin-bottom: 31px;
}

.f-bold {
    font-size: 18px;
    font-family: Roboto-Bold;
}

.ass-box {
    width: 43px;
    height: 43px;
    border-radius: 6px;
    background-color: #e9f7f5;
    background-image: url("../../../../assets/images/complition-time.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
    margin-right: 11px;
}

.pss-box {
    width: 43px;
    height: 43px;
    border-radius: 6px;
    background-color: #fcf6e3;
    background-image: url("../../../../assets/images/yellow-i.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
    margin-right: 11px;
}

.ass-head {
    font-size: 14px;
    color: #444444;
    font-family: Roboto-Medium;
    line-height: 13px;
}

.ass-status {
    font-size: 18px;
    color: #3eb7a1;
    font-family: Roboto-Bold;
}

.pss-status {
    font-size: 18px;
    color: #e4b722;
    font-family: Roboto-Bold;
}

.see-more {
    font-size: 14px;
    color: #777777;
    font-family: Roboto-Regular;
}

::ng-deep {
    .ass-date {
        .p-dropdown .p-dropdown-trigger {
            position: absolute;
            top: 12px;
            right: 0;
            left: 110px;
        }

        .p-dropdown .p-dropdown-label.p-placeholder {
            color: #000 !important;
            font-size: 14px;
            font-family: Roboto-Medium;
        }

        .p-dropdown .p-dropdown-label {
            padding-left: 21px !important;
        }
    }
}

::ng-deep {
    .pre-ass-date {
        .p-dropdown .p-dropdown-label.p-placeholder {
            color: #000 !important;
            font-size: 13px;
            font-family: Roboto-Medium;
        }

        .p-dropdown .p-dropdown-label {
            padding-left: 0 !important;
        }
    }
}

.v1 {
    border-left: 1px solid #0044cc;
    height: 14px;
}

//extra

// .left-section {
//     width: 60px;
//     display: inline-block;
//     vertical-align: top;
// }
.right-section {
    display: inline-block !important;
    vertical-align: top;
    width: calc(100% - 60px);
}

.padding-common-hq {
    padding: 0 20px;
}

.box-progress-ind {
    display: flex;
    // border: 1px solid #4fbc94;
    border-radius: 4px;
    padding: 0;
    margin: 0;

    .box-item {
        display: block;
        position: relative;
        /* float: left; */
        width: 179px;
        height: 34px;
        line-height: 34px;
        margin-right: 0px;
        /* padding: 0 10px; */
        background-color: #4fbc94;
        color: #fff;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;


        &::before {
            z-index: 9999;
            content: "";
            position: absolute;
            right: -12px;
            height: 25px;
            width: 23px;
            /* border: solid #fff; */
            /* border-width: 0px 3px 3px 0; */
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            /* border-left: solid yellow !important; */
            border-right: .5px solid #4fbc94 !important;
            border-bottom: .5px solid #4fbc94 !important;
            box-shadow: inset 0 0 0 14px #4fbc94;
            background-clip: content-box;
        }

        // &::after {
        //     content: "";
        // position: absolute;
        // left: -1px;
        // height: 0;
        // width: 0;
        // // border-top: 15px solid transparent;
        // // border-bottom: 17px solid transparent;
        // // border-left: 10px solid #fff;
        // // border-radius: 4px;
        // }
        &:first-child {
            &::after {
                display: none;
            }
        }

        &:last-child {
            &::before {
                display: none;
            }
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border: top right radius 4px;
        }
    }

    .white-box {
        background-color: #ffff !important;
        color: #000000 !important;
        border-top: 1px solid #4fbc94;
        border-bottom: 1px solid #4fbc94;
        padding: 0 !important;
        display: block;
        position: relative;
        width: 179px;
        height: 34px;
        line-height: 31px;
        margin-right: 0px;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;

        &::before {
            content: "";
            z-index: 9999;
            position: absolute;
            right: 6px;
            height: 25px;
            width: 23px;
            border: solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            border-right: 1px solid #4fbc94 !important;
            border-bottom: 1px solid #4fbc94 !important;
        }

        &:nth-child(4) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-right: 10px;

            &::before {
                display: none;
            }
        }

        &:nth-child(5) {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: 1px solid #4fbc94;
            border-right: 1px solid #4fbc94;

            &::before {
                display: none;
            }
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px solid #4fbc94;

            &::before {
                display: none;
            }
        }
    }

    .box-completed {
        display: block;
        position: relative;
        width: 179px;
        height: 34px;
        line-height: 34px;
        margin-right: 0px;
        background-color: #edf8f4;
        color: #4fbc94;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;
        border: 1px solid #4fbc94;


        &::before {
            z-index: 9999;
            content: "";
            position: absolute;
            right: -12px;
            height: 25px;
            width: 23px;
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            border-right: 1px solid #4fbc94 !important;
            border-bottom: 1px solid #4fbc94 !important;
            box-shadow: inset 0 0 0 14px #edf8f4;
            background-clip: content-box;
        }

        // &::after {
        //     content: "";
        // position: absolute;
        // left: -1px;
        // height: 0;
        // width: 0;
        // // border-top: 15px solid transparent;
        // // border-bottom: 17px solid transparent;
        // // border-left: 10px solid #fff;
        // // border-radius: 4px;
        // }
        &:first-child {
            &::after {
                display: none;
            }
        }

        &:nth-child(4) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-right: 10px;

            &::before {
                display: none;
            }
        }

        &:nth-child(6) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            &::before {
                display: none;
            }
        }

        &:nth-child(5) {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            &::before {
                display: none;
            }
        }

        &:nth-child(5) {
            &::before {
                display: none;
            }
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border: top right radius 4px;
        }
    }

    .non-compliant {
        background-color: #fbeaea !important;
        border: 1px solid #f5bebe !important;
        color: #ff0000 !important;
    }
}

.user-box {
    border: solid 1px #ebebeb;
    padding: 12px 0;
    border-radius: 8px;
    height: 64px;
}

.aavtar {
    background-image: url("../../../../assets/images/dispatch/avatar.jpg");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-right: 13px;
}

.aavtar-2 {
    background-image: url("../../../../assets/images/user-settings/user-big.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-right: 13px;
}

.user-content {
    .user-data-heading {
        color: #636363;
        font-size: 15px;
        font-family: Roboto-Bold;
        line-height: 16px;
    }

    .data-content {
        size: 13px;
        color: #b2b2b2;
        font-family: Roboto-Medium;
    }
}

.mb-10 {
    margin-bottom: 10px;
}


.example-headers-align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
    color: #444444;
    font-size: 14px;
    font-family: Roboto-Regular;
}

.Rounded-Rectangle {
    background-color: #fff;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.progress-date {
    .dates {
        display: block;
        position: relative;
        float: left;
        width: 180px;
        height: 26px;
        line-height: 33px;
        padding: 0 10px;
        color: #777777;
        text-align: center;
        font-size: 13px;
        font-family: Roboto-Regular;
    }
}

//table css

//table
::ng-deep {
    .p-dropdown {
        border: 0 !important
    }

    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }

    body.parts-list .thread-list-table .p-datatable {
        .p-datatable-thead>tr>th {
            font-family: Roboto-Light;
            padding-top: 0;
            padding-bottom: 0;
            height: 50px;
        }

        // .p-datatable .p-datatable-tbody > tr > td {
        //   font-size: 15px !important;
        //   height: 50px;
        // }
        .p-datatable-thead>tr>th:first-child {
            // border-radius: 10px 0 0 0;
            border-radius: 0 !important;
        }

        .p-datatable-thead>tr>th:last-child {
            // border-radius: 0 10px 0 0;
            border-radius: 0 !important;
        }

        .shop-id {
            color: #000000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
            padding: 0.6rem 0.25rem 0.6rem 1.25rem;
            height: 50px;
        }

        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
        }

        .p-datatable-tbody>tr .more-icon {
            visibility: hidden;
        }

        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }

        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }

        .p-datatable-tbody>tr:hover td {
            background-color: transparent !important;
        }

        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        .custom-heading {
            background-color: #687083;
            padding: 15px 20px;
            color: #ffffff;
        }

        .loc-heading {
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .loc-info {
            color: #777777;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .txt-link {
            color: #0044cc;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .thl-col-1 {
            width: 330px;
        }

        .thl-col-15 {
            width: 400px;
        }


        .thl-col-3 {
            width: 178px;
        }

        .thl-col-4 {
            width: 128px;
        }

        .thl-col-5 {
            width: 140px;
        }

        .thl-col-6 {
            width: 160px;
        }

        .thl-col-7 {
            width: 160px;
        }
    }

    body.parts-list .inspection-status-table .p-datatable {
        .p-datatable-tbody>tr:hover {
            background-color: white !important;
        }
    }
}

.visit-report {
    border-radius: 18px;
    height: 36px;
    background-color: #444;
    padding: 8px 33px 9px 31px;
    color: #fff;
    font-size: 14px;
    font-family: "Roboto-Medium";

    .pimg {
        filter: brightness(0) invert(1);
        margin-right: 6px;
    }
}

.f-regular {
    font-size: 15px;
    color: #444444;
    font-family: Roboto-Regular;
}

.f-bold {
    font-size: 16px;
    font-family: Roboto-Bold;
}

.border-right {
    border-right: 1px solid #e8e8e8 !important;
    border-bottom: 1px solid #e8e8e8 !important;
}

.compliant {
    font-size: 16px;
    font-family: Roboto-Regular;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fw-black {
    font-size: 18px;
    font-family: Roboto-Bold;
}

.f-medium {
    font-size: 15px;
    font-family: Roboto-Medium;
    color: #444444;
}

.bg-green {
    background-color: #7bd371;
}

.bg-indigo {
    background-color: #9c90e4;
}

.progress-wrapper {
    margin-bottom: 24px;
}

.progress-row {
    .border-bottom {
        border-bottom: 4px solid #ededed !important;
    }
}

.bg-red {
    background-color: #f36868;
}

.bg-yellow {
    background-color: #f7b94a;
}

.nothing {
    font-family: Roboto-Regular;
    font-size: 16px;
    font-style: italic;
}

.green-button-1 {
    width: 117px;
    height: 28px;
    margin: 15px 100px 5px 100px;
    display: flex;
    padding: 2px;
    justify-content: center;
    color: #469073;
    border-radius: 14px;
    border: solid 1px #469073;
    background-color: white;
}

.mat-toolbar.mat-primary {
    background-color: white !important;
}

.report-btn-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
}

.small-text {
    background: #ffffff;
    text-align: left !important;
    font-size: 14px !important;
    box-shadow: none;
    color: #b2b2b2;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
}

.info-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ededed !important;
    padding-top: 5px;
}

.insepection-detail-container {
    background: #fff;
    padding: 8px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #ededed !important;
}

.progress-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    margin-left: 40px;
}

.edit-btn {
    text-decoration: none !important;
    width: 89px;
    border: 1px solid #444;
    background-color: #ffff;
    color: #444 !important;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-heading {
    background-color: #fff !important;
    color: #000000 !important;
    font-size: 14px;
    font-family: Roboto-Regular;
}

.disabled-btn {
    pointer-events: none;

    .visit-report {
        opacity: 0.3;
        background-color: #444 !important;
    }
}

.disabled-btn-msg {
    color: #777777;
    font-size: 12px;
    position: absolute;
    left: 114px;
    bottom: -1px;
    width: 339px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.thl-col-2 {
    width: 1134px !important;
    left: 0 !important;
}


.circle-item-container {
    flex-direction: column;
    flex: 1;
}

.bold-green {
    color: #00925c;
    font-size: 14px;
    font-weight: bold;
}

.progress {
    margin-top: 20px;

    .fill {
        background-color: #5ec8ba;
    }

    .no-fill {
        background-color: #ffffff;
        border: 0.6px solid #5ec8ba;
    }
}


.title-container {
    flex-direction: row;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}