::ng-deep{
    .network-list-container{
        background-color: #ffffff;
        border-radius: 9px;
    }
    .network-list{
       

        .net-row{
            width: 100%;
            display: block;
            border-bottom:1px solid #e8e8e8;
            padding: 30px;
            .net-row-lt{
                width: 70%;
                display: inline-block;
                vertical-align: top;
                .img-col{
                    min-width: 72px;
                    width: 72px;
                    min-height: 72px ;
                    height: 72px;
                    padding: 10px;
                    border-radius: 8px;
                    border: solid 1px #e0e0e0;
                    object-fit: cover;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: middle;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    
                }
                .cont-col-lt{
                    display: inline-block;
                    width: calc(100% - 72px);
                    padding-left: 10px;
                    vertical-align: middle;
                    .cont-row-top{
                        line-height: 40px;
                        .top-te{
                            font-size: 18px !important;
                            font-family: 'Roboto-Bold';
                            color: #000000;
                        }
                    }
                    .cont-row-bottom{
                        width: 100%;
                        .no-of-rows{
                            
                            display: inline-block;
                            vertical-align: top;
                            &.width-1{
                                width: 18%;
                            }
                            &.width-2{
                                width: 18%;
                            }
                            &.width-3{
                                width: 20%;
                            }
                            &.width-4{
                                width: 23%;
                            }
                            &.width-5{
                                width: 21%;
                            }
                            .bottom-te{
                                font-size: 14px !important;
                                font-family: 'Roboto-Regular';
                                color: #000000;
                            }
                            .bottom-box{
                                min-width: 39px;
                                width: auto;
                                height: 27px;
                                margin: 0 0 0 8px;
                                padding: 0 5px 0 5px;
                                text-align: center;
                                border-radius: 6px;                                
                                background-color: #ffffff;
                                display: inline-block;
                                vertical-align: middle;
                                &.border-color-1{
                                    border: solid 1px #20b49d;
                                }
                                &.border-color-2{
                                    border: solid 1px #8d54c2;
                                }
                                &.border-color-3{
                                    border: solid 1px #624fd8;
                                }
                                &.border-color-4{
                                    border: solid 1px #3ba27a;
                                }
                                &.border-color-5{
                                    border: solid 1px #d84f96;
                                }
                                .box-text{
                                    font-size: 14px !important;
                                    font-family: 'Roboto-Medium';                                    
                                    
                                    &.box-text-color-1{
                                        color: #20b49d;
                                    }
                                    &.box-text-color-2{
                                        color: #8d54c2;
                                    }
                                    &.box-text-color-3{
                                        color: #624fd8;
                                    }
                                    &.box-text-color-4{
                                        color: #3ba27a;
                                    }
                                    &.box-text-color-5{
                                        color: #d84f96;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .net-row-rt{
                width: 30%;
                display: inline-block;
                vertical-align: top;
                text-align: right;
                .cont-col-rt{
                    vertical-align: middle;
                    height: 72px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                }
                .cont-row-top-rt{
                    height: 40px;
                }
                .cont-row-top-rt,.cont-row-bottom-rt{
                    font-size: 14px !important;
                    font-family: 'Roboto-Regular';   
                    .gray-te{
                        color: #777777;
                        padding: 0 10px 0 20px;
                    }
                    .black-te{
                        color: #000000;
                    }
                    .n-action-status{
                        width: 106px;
                        height: 30px;
                        margin:0;
                        padding:0;
                        text-align: center;
                        border-radius: 15px;
                        display: inline-block;
                        vertical-align: middle;
                        span{
                            position: relative;
                            top: 4px;
                        }
                        img{
                            position: relative;
                            top: 3px;
                        }
                        &.active{
                            background-color: #def5e9;
                            .text-color{
                                font-family: 'Roboto-Bold'; 
                                color: #0e9a4e;
                                padding-left: 5px;
                            }
                        }
                        &.in-active{
                            background-color: #ffe4e4;
                            .text-color{
                                font-family: 'Roboto-Bold'; 
                                color: #ff2d2d;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}