<div [style.height.px]="innerHeight" *ngIf="loading">
    <div class="loading-small-screen-scroll trst">
        <img src="assets/images/landing-page/loading-more.svg" alt="Loader" />
    </div>
</div>
<div *ngIf="!loading">
    <div class="network-list-container" [style.height]="'calc(100vh - '+innerHeight+'px)'">
        <div class="ps" [perfectScrollbar]="sconfig">

            <div class="network-list">
                
                <div class="net-row">
                    <div class="net-row-lt">
                        <div class="img-col"><img src="assets/images/hq/hq-location-thumb-icon.png"></div>
                        <div class="cont-col-lt">
                            <div class="cont-row-top"><span class="top-te">Volvo</span></div>
                            <div class="cont-row-bottom">
                                <div class="no-of-rows width-1">
                                    <span class="bottom-te">No. of shops</span>
                                    <span class="bottom-box border-color-1"><span class="box-text box-text-color-1">430</span></span>
                                </div>
                                <div class="no-of-rows width-2">
                                    <span class="bottom-te">No. of Users</span>
                                    <span class="bottom-box border-color-2"><span class="box-text box-text-color-2">1230</span></span>
                                </div>
                                <div class="no-of-rows width-3">
                                    <span class="bottom-te">No. of Inspection</span>
                                    <span class="bottom-box border-color-3"><span class="box-text box-text-color-3">24</span></span>
                                </div>
                                <div class="no-of-rows width-4">
                                    <span class="bottom-te">Completed Inspection</span>
                                    <span class="bottom-box border-color-4"><span class="box-text box-text-color-4">11</span></span>
                                </div>
                                <div class="no-of-rows width-5">
                                    <span class="bottom-te">No. of Equipment</span>
                                    <span class="bottom-box border-color-5"><span class="box-text box-text-color-5">67</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="net-row-rt">
                        <div class="cont-col-rt">
                            <div class="cont-row-top-rt">
                                <span class="gray-te">Network status</span>
                                <span class="n-action-status active">
                                    <img src="assets/images/hq/company-active-img.png"><span class="text-color">Active</span>
                                </span>
                                <span class="n-action-status in-active hide">
                                    <img src="assets/images/hq/white-cross.png"><span class="text-color">Inactive</span>
                                </span> 
                            </div>
                            <div class="cont-row-bottom-rt">
                                <span class="gray-te">Created on:</span>
                                <span class="black-te">Jan 26,  2024 5:22 PM</span>
                                <span class="gray-te">Created by:</span>
                                <span class="black-te">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="net-row">
                    <div class="net-row-lt">
                        <div class="img-col"><img src="assets/images/hq/hq-location-thumb-icon.png"></div>
                        <div class="cont-col-lt">
                            <div class="cont-row-top"><span class="top-te">VW of US</span></div>
                            <div class="cont-row-bottom">
                                <div class="no-of-rows width-1">
                                    <span class="bottom-te">No. of shops</span>
                                    <span class="bottom-box border-color-1"><span class="box-text box-text-color-1">477</span></span>
                                </div>
                                <div class="no-of-rows width-2">
                                    <span class="bottom-te">No. of Users</span>
                                    <span class="bottom-box border-color-2"><span class="box-text box-text-color-2">897</span></span>
                                </div>
                                <div class="no-of-rows width-3">
                                    <span class="bottom-te">No. of Inspection</span>
                                    <span class="bottom-box border-color-3"><span class="box-text box-text-color-3">18</span></span>
                                </div>
                                <div class="no-of-rows width-4">
                                    <span class="bottom-te">Completed Inspection</span>
                                    <span class="bottom-box border-color-4"><span class="box-text box-text-color-4">9</span></span>
                                </div>
                                <div class="no-of-rows width-5">
                                    <span class="bottom-te">No. of Equipment</span>
                                    <span class="bottom-box border-color-5"><span class="box-text box-text-color-5">43</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="net-row-rt">
                        <div class="cont-col-rt">
                            <div class="cont-row-top-rt">
                                <span class="gray-te">Network status</span>
                                <span class="n-action-status active">
                                    <img src="assets/images/hq/company-active-img.png"><span class="text-color">Active</span>
                                </span>
                                <span class="n-action-status in-active hide">
                                    <img src="assets/images/hq/white-cross.png"><span class="text-color">Inactive</span>
                                </span> 
                            </div>
                            <div class="cont-row-bottom-rt">
                                <span class="gray-te">Created on:</span>
                                <span class="black-te">Jan 26,  2024 5:22 PM</span>
                                <span class="gray-te">Created by:</span>
                                <span class="black-te">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>

        </div>
    </div>
</div>
