
.loc-head-text {
  font-family: Roboto-Medium;
  font-size: 15px;
  color: #000000;
}
.p-galleria-item{
  width: 382px;
  height: 382px;
}
.hq-head-row-4{ 
    .hq-head-text{
      font-family: Roboto-Bold;
      font-size: 24px;  
      color: #000000;
      vertical-align: middle;
      padding-left: 10px;
      margin: 0;
    }
    .hq-head-row-3{
        padding: 10px;
    }
    .loc-title-div{
        &.loc-catg{
            background-image: url("../../../../assets/images/hq/loc-catg.png");
        }
        &.loc-dept{
            background-image: url("../../../../assets/images/hq/loc-dept.png");
        }
        &.loc-cert{
            background-image: url("../../../../assets/images/hq/loc-cert.png");
        }
        &.loc-part{
            background-image: url("../../../../assets/images/hq/loc-part.png");
        }
        &.loc-model{
            background-image: url("../../../../assets/images/hq/loc-part.png");
        }
        background-position: 0;
        background-repeat: no-repeat;
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#93989d;
    }
    .loc-value-div{
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#444d61;
    }
  }

  .loc-head-text {
      font-family: Roboto-Medium;
      font-size: 15px;
      color: #000000;
  }
  ::ng-deep{
    .hq-attachment-v3 .refer-info.attachment-info .label{
        display: none;
    }
    .visiblehidden{
      visibility: hidden;
      &.visible{
        visibility: visible;
      }
    }
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .label label{
        width: 100%;
      }
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .label .split-col.req-col{
        width: 60px !important;
        position: initial  !important;
        float: right;
        font-size: 14px !important;
        color: #b2b2b2 !important;
        font-family: "Roboto-Regular";
        margin-top: 3px;
      }
      body.headquarters .p-radiobutton-label {
        line-height: normal;
        font-size: 14px !important;
        font-family: 'Roboto-Regular';
        margin: 0 15px 0 8px !important;
      }
      body.headquarters .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
        border-color: #469073 !important;
        background: #fff !important;
    
        .p-radiobutton-icon {
          background-color: #469073 !important;
        }
      }
    
      body.headquarters .p-focus {
        box-shadow: none !important;
      }
    
      body.headquarters .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
        border-color: #469073 !important;
      }
    
      body.headquarters .p-radiobutton .p-radiobutton-box.p-highlight {
        border-color: #469073 !important;
        background: #fff !important;
    
        .p-radiobutton-icon {
          background-color: #469073 !important;
        }
      }
    
      .more-icon{
        svg {
          path {
          fill: var(--ID69);
          }
    
          circle {
          fill: var(--ID70);
          }
      }
      }
      .padd-left0{
        padding-left: 0 !important;
      }
      .padd-right0{
        padding-left: 0 !important;
      }
      .padd-30{
        padding-top:30px !important;
        padding-bottom:30px !important;
      }
      .padd-20{
        padding: 20px !important;
      }
      .no-padding {
        padding: 0px!important;
        &.padd-30{
          padding-top:30px !important;
          padding-bottom:30px !important;
        }
      }
      .no-margin {
        margin: 0px!important;
        .margin-bottom-40{
          margin-bottom: 40px !important;
        }
      }
      .mtop30{
        margin-top: 30px !important;
      }
      .mbottom5{
        margin-bottom: 5px !important;
      }
      .container{max-width: 100%; width:100%;overflow:hidden;}
      .outer-hq-container{
        padding: 0;    
        border-radius: 6px;
        box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
        background-color: #ffffff;
        margin-bottom: 0;
        &.display-flex{
          display: flex;
        }
        .loc-head-row{
          border:1px solid #ededed;
          padding:10px !important;
        }
        .loc-head-text{
          font-family: Roboto-Medium;
          font-size: 15px;
          color:#000000;
        }
        .loc-head-utext{
          font-family: Roboto-Medium;
          font-size: 15px;
          color:#777777;
        }
        .loc-head-img{
          margin-right:10px;
          margin-left:10px;
        }
        .loc-head-edit-img{
          margin-right:8px;
        }
        .loc-cont-row{
          border:1px solid #ededed;
          padding:20px !important;
        }
        .location-thumb{
          width: 124px;
          height: 124px;
          border-radius: 6px;
          background-color: #f6f3fc;
          background-image: url("../../../../assets/images/hq/hq-location-thumb-icon.png");
          background-position: center center;
          background-repeat: no-repeat;
          vertical-align:top;
          display: inline-block;
        }
        .user-thumb{
          width: 49px;
          height: 49px;
          border-radius: 6px;
          background-color: #e4f2f0;
          background-image: url("../../../../assets/images/hq/hq-user-thumb-icon.png");
          background-position: center center;
          background-repeat: no-repeat;
          vertical-align:top;
          display: inline-block;
        }
        .user-thumb-info{
          vertical-align: top;
          display: inline-block;
          width: calc(100% - 59px);
          padding-left: 10px;
          vertical-align:top;
          .text-1{
            font-family: Roboto-Medium;
                  font-size: 15px;
                  color: #000000;
                  position: relative;
                top: -5px;
          }
          .text-2{
              display: block;
            padding-left: 30px;
            font-family: Roboto-Regular;
            font-size: 14px;
            color: #444444;
            line-height: normal;
            margin-bottom: 5px;
            padding-top: 3px;
          }
          .user-address-bg{
            background-image: url("../../../../assets/images/hq/user-address-icon.png");
            background-position: 0px 8px;
            background-repeat: no-repeat;
          }
          .user-phone-bg{
            background-image: url("../../../../assets/images/hq/user-phone-icon.png");
            background-position: 0px 8px;
            background-repeat: no-repeat;
          }
          .user-email-bg{
            background-image: url("../../../../assets/images/hq/user-email-icon.png");
            background-position: 0px 8px;
            background-repeat: no-repeat;
          }
        }
        .location-info{
          vertical-align: top;
          display: inline-block;
          width: calc(100% - 134px);
          padding-left: 10px;
          vertical-align:top;
          .text-1{
            font-family: Roboto-Medium;
                  font-size: 18px;
                  color: #000000;
                  position: relative;
                top: -5px;
          }
          .text-2{
              display: block;
              padding-left: 30px;
              font-family: Roboto-Regular;
              font-size: 14px;
              color: #444444;
              line-height: normal;
              height: 30px;
              margin-bottom: 5px;
              padding-top: 3px;
          }
          .hq-address-bg{
            background-image: url("../../../../assets/images/hq/hq-address-icon.png");
            background-position: 0 0;
            background-repeat: no-repeat;
          }
          .hq-email-bg{
            background-image: url("../../../../assets/images/hq/hq-email-icon.png");
            background-position: 0 0;
            background-repeat: no-repeat;
          }
          .hq-phone-bg{
            background-image: url("../../../../assets/images/hq/hq-phone-icon.png");
            background-position: 0 0;
            background-repeat: no-repeat;
          }
        }
        .img-col{
          width:100%;
          height:195px;
        }
        .opt-div{
          border-radius: 10px;
          border: solid 1px #d9d9d9;
          text-align: center;
          height: 85px;
          padding: 7px 0;
          margin:0 0 0 20px;
        }
        .opt-div-mb{
          margin-bottom:25px;		
        }
        .opt-div-text{
            font-family: Roboto-Regular;																																											
            font-size: 18px;
            color: #000000;
            display: block;
            margin: 3px 0;
        }
        .add-action-text{
          text-align:center;
          width:100%;
          display:block;
          margin:20px 0 10px 0;
          font-family: Roboto-Regular;																																											
          font-size: 14px;
          color: #444444;
        }
    
        .user-info-row{
          border-radius: 10px;
          border: solid 1px #e8e8e8;
          padding:10px;
          margin-right:16px;
          width: 100%;
          display: inline-block;
        }
        .user-cont-row{
          margin-bottom:15px !important;
        }
        
      }
    
      .up-image-row{
        display: block;
        width: 100%;
       }
      .up-image-div{
        width: 124px;
        height: 124px;
        border-radius: 6px;
        border: solid 1px #dbddde;
        //background-image: url("../../../../assets/images/hq/upload-hq-default.png");
        background-position: center center;
        background-repeat: no-repeat;
        vertical-align:top;
        display: inline-block;
      }
      .up-image-text{
        width: calc( 100% - 124px);
        text-align: center;
        display: inline-block;
        vertical-align:middle;
        margin-top: 26px;
        .text-row{
          display: block;
          font-size: 14px;
          font-family: 'Roboto-Regular';
          color: #000000;
          padding: 10px 0;
        }
        .btn-row{
          display: block;
        }
      }
    
      .add-action-btn{
        cursor: pointer;
        display: inline-block;
        background-color: transparent;
        border: 1px solid #469073;
        padding: 3px 18px 5px 18px;
        border-radius: 14px;
        text-align: center;
        height: 28px !important;
        font-size: 14px;
        margin: 0 20px;
      }
      .add-action-btn img {
        position: relative;
        top: -2px;
      }
      .add-action-btn span {
        color: #469073;
        font-size: 14px;
        padding-left: 5px;
      }
      body.headquarters .p-sidebar-mask.p-component-overlay{
        background: rgba(0, 0, 0, 0.4) !important;
      }
      body.headquarters .p-sidebar-right{
        width: 25rem !important;
      }
      body.headquarters .p-sidebar .p-sidebar-content .action-form{
        padding: 0;
      }
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row.service-form-row-hq{
        padding: 0 30px 20px;
        border-bottom: 1px solid #d5d5d5;
      }
      body .p-sidebar .p-sidebar-content{
        padding: 13px 0px 0px !important;
        background: #ffffff;
      }
      body.headquarters .p-sidebar .p-sidebar-content h2{
        color: #000;
        font-family: "Roboto-Medium";
        font-size: 18px;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .action-buttons button.button-save-hq{
        background-color: #298368;
        border: solid 1px #469073;
        position: relative;
        left: 0;
        border-radius: 25px;
        padding: 4px 12px;
        margin-right: 10px;
      }
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .action-buttons-hq{
        vertical-align: middle;
        float: right;
        padding: 0;
        margin: 0;
      }
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .btn-close{
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
        cursor: pointer;
      }
        .no-item-list {
            position: relative;
            background-color: #dfe1e3;
            border-radius: 16px;
            .item-empty-container {
            .empty-cont {
                .empty-res {
                color: #b2b2b2;
                display: block;       
                margin: 0 auto;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 100%;
                max-width: 100%;
                .makepopuptext-spa {
                    padding:20px 0;
                    font-family: 'Roboto-Regular';
                    font-size: 14px;
                    color:#888888;
                    text-align: center;
                    max-width: 450px;
                    margin: 0 auto;
                    font-style: italic;
                }
                img {
                  &.blank{
                    margin: 0 auto;    
                    display: block;    
                    width: 250px;      
                    height: 250px; 
                  }                   
                }
                span{
                  &.blank{
                    width: 128px;
                    display: block;
                    margin: 0 auto !important;
                    background: url("../../../../assets/images/probing/add-icon.png") no-repeat 25px 10px;
                    background-color: #fb982c;
                    border-radius: 6px;
                    cursor: pointer;
                    color: #fff;
                    font-size: 14px;
                    padding: 7px 10px 7px 30px !important;
                  }
                }
                }
            }
            }
        }
        .parts-list .item-empty-container.item-empty-container-hq{
            top:50%;
        }
        body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-fields{
            height: calc(100vh - 70px);
            padding: 30px
        }
        body.headquarters .sidebar-cont {
            .p-sidebar-right {
            width: 22rem;
            background: #ffffff;
            }
        }
        body.headquarters .fill-999 {
            g path {
            fill: #999;
            }
        }
        .gm-ui-hover-effect {
            opacity: 0;
        }
        .gm-style-iw.gm-style-iw-c {
            button.gm-ui-hover-effect {
            span {
                background: url('../../../../assets/images/dispatch/map/map-close-icon.png') no-repeat;
                mask-image: url('../../../../assets/images/dispatch/map/map-close-icon.png') !important;
            }
            }
        }
        body.headquarters .p-sidebar .p-sidebar-content .action-form{
            .p-dropdown,
            .p-multiselect {
              width: 100%;
            }
            .p-dropdown .p-dropdown-label.p-placeholder{
              color: #c5c5c5;
            }
          }
          body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .label .split-col{
            width: auto;
          }
          body.headquarters{
            .p-button:focus,
            .p-button:hover{
              box-shadow: none !important;
              border: 1px solid #469073 !important;
            }
            .form-control:focus,
            .p-inputtext:enabled:focus,
            .p-inputtext:enabled:hover,
            .p-dropdown:not(.p-disabled).p-focus,
            .p-dropdown:not(.p-disabled):hover,
            .p-multiselect:not(.p-disabled).p-focus,
            .p-multiselect:not(.p-disabled):hover {
              box-shadow: none !important;
              border: 1px solid #dbddde !important;    
            }
            .iti__country-list{
              white-space: normal;
              margin: 0;
            }
            .iti__country-name{
                font-size: 14px;
                font-family: 'Roboto-Regular';
            }
            .iti input, .iti input[type=text], .iti input[type=tel]{
              width: 335px !important;
            }
          }
        
          body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .field input{
            font-family: "Roboto-Regular";
            font-size: 14px;
          }
          .p-dropdown-label,
          .p-multiselect-label {
            color: #6c717c;
            font-family: "Roboto-Regular";
            font-size: 14px;
          }
          .field-err{
            font-size: 13px;
            font-family: 'Roboto-Regular';
            color: #dc3545;
        }
        .new-request-icon {
            fill: #b2b2b2;
        }
        .icons-size {
            width: 20px;
            height: 20px;
        }
    
      .bottom-section-row-rt{
        width: calc( 100% - 85px);
        padding-left: 20px;
        text-align: left;
        &.inline-grid{
          display: inline-grid;
          align-content: center;
        }
      } 
    
      .bottom-section-square{
        width: 85px;
        max-width: 85px;
        height: 85px;
        border-radius: 6px;    
        background-position: center center;
        background-repeat: no-repeat;
        vertical-align:top;
        display: inline-block;
        vertical-align: top;
        &.inline-grid{
          display: inline-grid;
          align-content: center;
        }
        &.de-col-1{
          background-color: #d8edf9;
          background-image: url("../../../../assets/images/hq/hq-sec-regions.png");
        }
        &.de-col-2{
          background-color: #d3f1ed;
          background-image: url("../../../../assets/images/hq/hq-sec-zone.png");
        }
        &.de-col-3{
          background-color: #fef2df;
          background-image: url("../../../../assets/images/hq/hq-sec-territories.png");
        }
        &.de-col-4{
          background-color: #f3f5fc;
          background-image: url("../../../../assets/images/hq/hq-sec-shops.png");
        }
        &.de-col-5{
          background-color: #ffe7e4;
          background-image: url("../../../../assets/images/hq/hq-sec-tools.png");
        }
        &.de-col-6{
          background-color: #e7f9d8;
          background-image: url("../../../../assets/images/hq/hq-sec-users.png");
        }
      }
      .hq-text-edit{
        cursor: pointer;
        display: inline-block; 
        vertical-align: top;
      }
      .hq-icon-edit{
        cursor: pointer;
        display: inline-block; 
        vertical-align: top;
        margin-left: 8px;
      }
      .bottom-section-title-row{
        font-family: Roboto-Medium;
        font-size: 15px;  
        color: #777777;
        display: block;
        margin:15px 0 0 0;
        text-transform: uppercase;
        &.mtop0{
          margin-top: 0;
        }
        .hq-icon-edit{
          visibility: hidden;
        }
        &:hover{
          .hq-icon-edit{
            visibility: visible;
          }
        }
      }
      .bottom-section-btn-row{
        .new-action-btn{
          cursor: pointer;
          display: inline-block;         
          margin: 5px 0 0 0;
        }
        .new-action-btn img {
          position: relative;
          top: -2px;
        }
        .new-action-btn span {
          font-family: Roboto-Medium;
          color: #469073;
          font-size: 14px;
          padding-left: 5px;
        }
      }
      .width-100{
        width: 100%;
      }
      .detail-row{    
        display: block;
        font-family: Roboto-Bold;
        font-size:24px;      
        &.de-col-4{
          color: #899de4;
        }
        &.de-col-5{
          color: #f37666;
        }
        &.de-col-6{
          color: #6aa439;
        }
      }
      .region-detail-row{
        height: 40px;
        padding: 8px 0 0 0;
        ul {
          display: inline-block;
          margin: 0;
          padding: 0;
    
          li {
            display: inline-block;
            a {
              text-decoration: underline !important;
              border: none;
              display: inline-block;
              padding-right: 6px;
              font-family: Roboto-Regular;
              font-size: 16px;  
              color: #0044cc !important;
            }
          }
        }
    
        
      }
      .adjust-height{
        height: 40px;
      }
    
      body.headquarters{
        .modal:nth-of-type(1) {
          z-index: 10000 !important;
        }
        .modal-backdrop.show:nth-of-type(1) {
          z-index: 10000 !important;
    
        }
      }
    
    }

    :host ::ng-deep {
      .on-top{
          .p-dropdown-panel {
              // bottom: 100% !important;
              // top:unset !important;
          }
      }
  
      .no-dropdown{
          .p-dropdown-panel{
              display: none !important;  
          }
      }
      
      .input-error {
          .required-txt {
              color: #f44336 !important;
          }
          .input-filed {
              input {
                  border-color: #f44336 !important ;
              }
          }
          .p-component {
              border-color: #f44336 !important ;
          }
      }
      .p-disabled,
      .p-disabled * {
          pointer-events: all;
          cursor: not-allowed !important;
      }
      .p-inputtext {
          color: #000000;
      }
  }
  
  
  
  
  ::ng-deep{


      .action-form {
          overflow-y: hidden;
          // height: calc(100vh - 11rem);
      }
  

          .image-row {
              gap: 19px;
          }
  
          .txt-data {
              font-size: 14px;
              font-family: "Roboto-Regular";
              padding-bottom: 13px;
          }
  
          .add-action-btn {
              background-color: transparent;
              border: 1px solid #469073;
              padding: 3px 18px 5px 18px;
              border-radius: 14px;
              text-align: center;
              height: 28px !important;
              font-size: 14px;
              margin: 0 6px !important;
          }
          img.calendar{
            position: absolute;
            right: 10px;
            top: 10px;
        }
  
          .add-action-btn img {
              position: relative;
              top: -2px;
          }
  
          .add-action-btn span {
              color: #469073;
              font-size: 14px;
              padding-left: 5px;
          }
  
          .input-row {
              .icons-size {
                  width: 19px;
                  height: 16px;
              }
  
              .new-request-icon {
                  fill: #b2b2b2;
              }
  
              .field-err {
                  font-size: 13px;
                  font-family: "Roboto-Regular";
                  color: #dc3545;
              }
  
              .input-filed {
                  ::placeholder {
                      color: #999999 !important;
                      font-size: 15px;
                      font-family: Roboto-Regular;
                  }
                  input {
                      border: solid 1px #dbddde;
                      background-color: #fbfbfb;
                      color: #000000;
                      font-size: 15px;
                      font-family: Roboto-Regular;
                  }
              }
  
              .input-shop {
                  padding-bottom: 10px;
              }
          }
      
  
      label {
          color: #9b9a9a;
          font-size: 14px;
          font-family: Roboto-Regular;
      }
  
      .required-txt {
          color: #b2b2b2;
          font-style: italic;
          font-size: 14px;
      }
  
      .mb-25 {
          margin-bottom: 25px;
      }
  
      .mb-27 {
          margin-bottom: 27px;
      }
      .mb-36 {
          margin-bottom: 36px;
      }
  
      .mb-12 {
          margin-bottom: 12px;
      }
      .fs-18 {
          font-size: 18px;
      }
  



 
  .shop-banner {
    flex-direction: column;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background: white;
    height: calc(100vh - 210px);
  
    .shop-txt {
        margin-bottom: 31px;
        color: #444;
    }
  }
  
  .fs-14 {
    font-size: 14px;
  }
  .right-section{
    width: 100%;
  }  
  
    .bottom-section-square{
      width: 85px;
      max-width: 85px;
      height: 85px;
      border-radius: 6px;    
      background-position: center center;
      background-repeat: no-repeat;
      vertical-align:top;
      display: inline-block;
      vertical-align: top;
      &.inline-grid{
        display: inline-grid;
        align-content: center;
      }
      &.de-col-1{
        background-color: #d8edf9;
        background-image: url("../../../../assets/images/hq/hq-sec-regions.png");
      }
      &.de-col-2{
        background-color: #d3f1ed;
        background-image: url("../../../../assets/images/hq/hq-sec-zone.png");
      }
      &.de-col-3{
        background-color: #fef2df;
        background-image: url("../../../../assets/images/hq/hq-sec-territories.png");
      }
      &.de-col-4{
        background-color: #f3f5fc;
        background-image: url("../../../../assets/images/hq/hq-sec-shops.png");
      }
      &.de-col-5{
        background-color: #ffe7e4;
        background-image: url("../../../../assets/images/hq/hq-sec-tools.png");
      }
      &.de-col-6{
        background-color: #e7f9d8;
        background-image: url("../../../../assets/images/hq/hq-sec-users.png");
      }
    }
    .hq-text-edit{
      cursor: pointer;
      display: inline-block; 
      vertical-align: top;
    }
    .hq-icon-edit{
      cursor: pointer;
      display: inline-block; 
      vertical-align: top;
      margin-left: 8px;
    }
    .bottom-section-title-row{
      font-family: Roboto-Medium;
      font-size: 15px;  
      color: #777777;
      display: block;
      margin:15px 0 0 0;
      text-transform: uppercase;
      &.mtop0{
        margin-top: 0;
      }
      .hq-icon-edit{
        visibility: hidden;
      }
      &:hover{
        .hq-icon-edit{
          visibility: visible;
        }
      }
    }
    .bottom-section-btn-row{
      .new-action-btn{
        cursor: pointer;
        display: inline-block;         
        margin: 5px 0 0 0;
      }
      .new-action-btn img {
        position: relative;
        top: -2px;
      }
      .new-action-btn span {
        font-family: Roboto-Medium;
        color: #469073;
        font-size: 14px;
        padding-left: 5px;
      }
    }
    .width-100{
      width: 100%;
    }
    .detail-row{    
      display: block;
      font-family: Roboto-Bold;
      font-size:24px;      
      &.de-col-4{
        color: #899de4;
      }
      &.de-col-5{
        color: #f37666;
      }
      &.de-col-6{
        color: #6aa439;
      }
    }
    .region-detail-row{
      height: 40px;
      padding: 8px 0 0 0;
      ul {
        display: inline-block;
        margin: 0;
        padding: 0;
  
        li {
          display: inline-block;
          a {
            text-decoration: underline !important;
            border: none;
            display: inline-block;
            padding-right: 6px;
            font-family: Roboto-Regular;
            font-size: 16px;  
            color: #0044cc !important;
          }
        }
      }
  
      
    }
    .adjust-height{
      height: 40px;
    }
  
    body.headquarters{
      .modal:nth-of-type(1) {
        z-index: 10000 !important;
      }
      .modal-backdrop.show:nth-of-type(1) {
        z-index: 10000 !important;
  
      }
    }
  
  }

  ::ng-deep{

    .p-dropdown:not(.p-disabled).p-focus{
        box-shadow: none;
    }
    
    .p-inputtext:enabled:focus {
        box-shadow: none;
    }
    
    ::-webkit-input-placeholder{
        color: #999999 !important;
    }

    .input-error {
        .required-txt {
            color: #f44336 !important;
        }
        .input-filed {
            input {
                border-color: #f44336 !important ;
            }

            textarea {
                border-color: #f44336 !important ;
            }
        }
        .p-component {
            border-color: #f44336 !important ;
        }
    }
    .action-box {
        z-index: 9999;
        bottom: 26px;
        right: 15px;
        gap: 3px;
    }
    .action-1 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #000000;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        cursor: pointer;
    }
    .edit {
        background-image: url("../../../../assets/images/inspection-home/edit.png");
        background-size: 16px 16px;
    }
    .delete {
        background-image: url("../../../../assets/images/inspection-home/delete.png");
        background-size: 11px 16px;
    }

    .no-dropdown{
        .p-dropdown-panel{
            display: none !important;  
        }
    }  
    .tag-box {
        gap: 10px;
        flex-wrap: wrap;
        .tag-box-data {
            padding: 3px 10px 3px 10px;
            border-radius: 12px;
            background-color: #777;
    
            span {
                font-size: 12px;
                font-family: Roboto-Regular;
                color: #fff;
            }
        }
    }
    .p-calendar{
        display: inline-block !important;
        width: 100% !important;            
        padding: 6px 10px 8px !important;
        border-radius: 6px;
    }
    .p-calendar .p-inputtext {
        box-shadow: none;
        font-family: "Roboto-Regular";
        font-size: 14px;
        color: #6c717c;
        height: 20px;
        padding: 0px;
        border: none !important;
        background: transparent;
        width: 88% !important;
    }
    .p-calendar .p-datepicker-trigger{
        padding: 0px;
        height: 20px;
        width: 20px;
        margin: 0;
        background: transparent !important;
        border: 0;
    }
    .datePicker-toggle .p-calendar .p-datepicker-trigger span{
        width: 20px;
        height: 22px;
        visibility: visible;
        display: inline-block !important;
        position: absolute;
        right: 0;
        top: -2px;
        background: url("../../../../assets/images/system-settings/date-icon.png") no-repeat transparent 0 0;
    }       
    .p-button{
        box-shadow: none !important;;
    }

    .p-menu .p-menuitem-link .p-menuitem-text{
        white-space: nowrap !important;
    }
        .select-temp{
            padding: 10px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            width: 100%;
            margin:0;
            display: inline-block;
        }
        .aud-col1,.aud-col2{
          display: inline-block;
        }
        .aud-col1{
          display: inline-block;
          width: 45px !important;
          height: 45px !important;
          vertical-align: top;
        }
        .aud-col2{
          display: inline-block;
          width: calc(100% - 45px);
          padding-left: 10px;
          vertical-align: top;
        }
          .aud-bg-icon{
            width: 45px !important;
            height: 45px !important;
            border-radius: 6px;
            background-color: #e5efeb;
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            &.template-icon{
              background-image: url("../../../../assets/images/hq/template-normal.png");
            }
            &.gts-green-icon{
                background-image: url("../../../../assets/images/hq/gts-green-icon.png");
            }
            &.qs-icon{
                background-image: url("../../../../assets/images/hq/qs-green-icon.png");
            }
            &.loc-icon{
                background-image: url("../../../../assets/images/hq/loc-green-icon.png");
            }
          }
          .aud-ins-text-1{
            display: block;
            width: 100%;
            font-size: 14px;
            font-family: "Roboto-Medium";
            color:#000000;
          }
          .aud-text-1{
            display: block;
            width: 100%;
            font-size: 16px;
            font-family: "Roboto-Medium";
            color:#000000;
          }
          .aud-text-2{
            display: block;
            width: 100%;
            font-size: 14px;
            font-family: "Roboto-Regular";
            color:#777777;
            .green-text{
              color:#469073;
              font-weight: 600;
            }
            .link-text{
                color:#0044cc;
                cursor: pointer;
                text-decoration: underline;
            }
            .green-text-20{
                font-size: 14px;
                font-weight: 500;
            }
            .space-text{
              width: 20px;
            }
            .inline-text{
              display:inline-block;
              font-family: 'Roboto-Regular';
            }
          }
    
    .p-dropdown:not(.p-disabled):hover,      
    .p-dropdown:not(.p-disabled).p-focus,
    .p-multiselect:not(.p-disabled).p-focus,
    .p-inputtext:enabled:focus {
        border-color: #dbddde;
        box-shadow: none;
    }    

    .p-input-aud, .p-calendar-w-btn{
        width:100%;
        padding: 6px 10px 8px;        
        border:solid 1px #dbddde;
        background-color:#fbfbfb;
        border-radius: 6px;
        box-shadow: none !important;
        font-family: 'Roboto-Regular';
        color:#000000;
        font-size: 14px;
    }
    .p-dropdown-aud{
        .p-dropdown{
            width:100%;
            border-color: #dbddde;
            border:solid 1px #dbddde;
            background-color:#fbfbfb;
            border-radius: 6px;
            box-shadow: none !important;
        }
    }
    .p-dropdown .p-dropdown-label{
        font-family: 'Roboto-Regular';
        color:#000000;
        font-size: 14px;
        &.p-placeholder{
            color:#999999 !important
        }
    }
}
 
  // .p-calendar .p-datepicker {
  //     transform: rotate(-360deg) translate(0, 50%);
  //   transform-origin: 100% 0 !important;
  // }


  
  
  
  .product-history-detail{

   .border-tb-1{
    border-top:1px solid #ededed;
    border-bottom:1px solid #ededed;
    padding: 10px 0 10px 0;
    margin-left: -35px !important;
    margin-right: -35px !important;
   }
   .hcal-info-text{
    margin: 0 0 0 22px;
    display: inline-block;
    font-family: Roboto-Medium;
    font-size: 15px;
    position: relative;
    top: 6px;
    .cal-img-his{
        position: relative;
        top:-2px;
    }
    .black-text{
        color: #000000;
    }
    .green-text{
        color: #298368;
    }
   }
.htap-info-text{
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
   
    padding: 5px 15px;
    font-family: Roboto-Regular;
    font-size: 15px;
    border-radius: 15px;
    
    margin: 0 0 0 22px;
    display: inline-block;

    background-color: #fff;
        color: #000;
        border: #777 1px solid;

    &.active{
        background-color: #777;
        color: #fff;
    }
}

.tool-img-set {
  width: 236px;
  height: 146px;
  border-radius: 10px;
}
.tool-desc {
  font-size: 14px;
  line-height: 18px;
  font-family: Roboto-Regular;
}
.desc {
  font-size: 14px;
  font-family: Roboto-Regular;
  color:#6f6f6f;
}
.dot {
  // width: 3px;
  height: 3px;
  display: inline-block;
  background: #6f6f6f;
  border-radius: 50%;
  // margin: 0 3px;
}
.lng {
  background-color: #777777;
  padding: 7px 18px 6px;
  border-radius: 13.5px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #fff;
  height: 27px;
  display: inline-block;
  text-align: center;
  line-height: 12px;
  width: 81px;
}

.no-imgs {
  background-color: #e5efeb;
  width: 37px;
  height: 37px;
  border-radius: 5.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-added {
  width: 37px;
  height: 37px;
  border-radius: 5.4px;
  overflow: hidden;
  img {
      width: 37px;
  height: 37px;
  }
}

.pending {
  border-radius: 12px;
  background-color: #ea7d3d;
  color: #fff;
  padding: 6px 21px;
}

.loc-label-text{
  font-size: 14px !important;
  font-family: "Roboto-Regular";
  color: #777777;
}
.loc-normal-text{
  font-size: 14px !important;
  font-family: "Roboto-Regular";
  color:#000000;
}

.loc-list-col-1{
  flex: 0 0 20.333333%;
  max-width: 20.333333%;
}
.loc-list-col-2{
  flex: 0 0 25.333333%;
  max-width: 25.333333%;
}
.loc-list-col-3{
  flex: 0 0 25.333333%;
  max-width: 25.333333%;
}
.loc-list-col-4{
  flex: 0 0 30.333333%;
  max-width: 30.333333%;
}




.pic-info {
  width: 94px;
    height: 30px;
    line-height: 18px;
}
    .date-gbg1{
        width: 277px;
        height: 229px;
        margin: 0;
        padding: 0;
        border-radius: 20px;
        background-color: #ebf4f1;
    }

    
    .border-top-shop {
        border-top:1px solid #ededed;
        margin-left: 35px !important;
     }
    .detail-container{
        padding: 20px 20px 0 20px;
    }
    .check-bg-img{
        background-color: #2f9f64;
       width: 18px;
       height:  18px;
    }
  
  &.tool-banner {
      background-color: #fff;
      padding: 0;
      border-radius: 10px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  
      .upper-detail {
          gap: 8px;
      }
  
      .main-tool {
          // background-image: url("../../../../assets/images/hq/tool-1.png");
          // background-position: center center;
          // background-repeat: no-repeat;
          // vertical-align: top;
          // width: 244px;
          // height: 226.8px;
          border-radius: 4px;
          border: solid 1px #e0e3e5;
          padding: 10px 10px 7px 5px;
          width: 341px;
          height: 234px;
          background-color: #ffffff;
  
          img {
              object-fit: contain;
          }
      }
  
      .model-name {
          font-family: Roboto-Medium;
          font-size: 14px;
          color: #777;
      }
      .tool-details {
          gap: 39px;
      }
  
      .tool-log {
          gap: 11px;
          align-items: center;        
      }
      .tool-log-detail {
        font-size: 14px;
        font-family: Roboto-Medium;
        color: #93989d;
        line-height: 14px;
    }
      .tool-log-content {
          font-family: Roboto-Regular;
          font-size: 14px;
          color: #000000;
      }
  
      .equipments {
          width: 341px;
      }
  
      .category-box {
          border-radius: 10px;
          border: solid 1px #e0e0e0;
          height: 490px;
          display: flex;
          flex-direction: column;
          .category-header {
              border-bottom: 1px solid #e0e0e0;
              background-color: #f9f7f8;
  
              h4 {
                  padding: 16px 3px 17px 21px;
              }
          }
          .categories-box {
              border-radius: 10px;
              border: 1px solid #e0e0e0;
              width: 60px;
              height: 60px;
  
              img {
                  object-fit: contain;
              }
          }
          .categories-body-data {
              gap: 11px;
              padding-bottom: 21px;
              padding-left: 21px;
          }
          .category-data {
              padding-bottom: 21px;
              border-bottom: 1px solid #ededed;
          }
      }
  }
}
.border-bottom {
  border-bottom: 1px solid #ededed !important;
}
  
  .dark-gray {
      font-size: 16px;
      font-family: Roboto-Medium;
      color: #4e5257;
  }
  
  .fw-bold {
      font-family: Roboto-Bold;
  }
  .fs-18 {
    font-size: 18px;
  }
  
  .pl-31 {
      padding-left: 31px !important;
  }
  
  .border-top {
      border-top: 1px solid #ededed;
  }
  
  .g-39 {
      gap: 39px;
  }
  
  .fw-medium {
      font-family: Roboto-Medium;
      font-size: 15px;
  }
  .duedate-reg{
    font-family: Roboto-Regular;
    font-size: 15px;
  }
  .duedate-bold{
    font-family: Roboto-Bold;
  }
  .entry-box {
    border-radius: 8px;
    border: solid 1px #ddd;
    padding: 16px 21px 18px 22px;
    margin-right: 10px;

}

.entry-txt {
    font-family: Roboto-Medium;
    font-size: 14px;
    color: #777777;
}
.green-txt {
    color: #28b883;
}
.violet-txt {
    color: #bd41cc;
}
.blue-txt {
    color: #486ff7;
}
.danger-txt {
    color: #ff0000;
}
.black-txt {
    color: #000;
}
.link {
    text-decoration: underline;
    cursor: pointer;
}

.orange-btn {
  // width: 188px;
  height: 34px;
  padding: 8px 14px 8px 14px;
  border-radius: 6px;
  border: solid 1px white;
  background-color: #fb982c;
  align-items: center;
  display: flex;
}


  
  
  