.directory-img{
    position: relative;
    top: -2px;
}
::ng-deep body .wrapper #content{
    .part-list-head.right-panel-expand{
        width: calc(100% - 332px);
    }
    .prob-index .cust-right-panel{
        right: auto;
    }
    .prob-index .cust-right-panel.right-panel-collapse{
        right: -6px;
        top: 12px;
        width: 36px;
    }
    .probing-content{
        position: relative;
    }
    .probing-content.part-content.filter-collapse.right-panel-collapse{
        width: calc(99% - 38px);
        padding-left: 12px;
    }
    .probing-content.part-content.filter-collapse.right-panel-expand{
        padding-left: 10px;
        width: calc(98% - 310px);
        padding-right: 20px;
    }
    .probing-content.part-content.filter-expand.right-panel-collapse{
        padding-left: 0;
        padding-right: 20px
    }
    .probing-content.part-content.filter-expand.right-panel-expand{
        width: calc(100% - 595px);
        padding-left: 0;
        padding-right: 20px;
    }
} 