::ng-deep {
    .documents-grid-row{
        &.shop-users-grid-row{
            overflow-x: hidden !important;
            overflow-y: hidden !important;
        }
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
        font-size: 15px !important;
        height: 50px;
        padding: 0.2rem 0.25rem 0.2rem 0.25rem !important;

      }
      .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
          font-size: 15px !important;
          padding: .7rem 0 .7rem 0 !important;
          &.setpadd{
            white-space: initial !important;
            padding: 0 !important;
          }
          &.stock-header{
              padding: 0rem 0.25rem 0rem 0.25rem !important;
          }
          &:first-child{
              padding-left: 18px !important;
          }
      }
    body.parts-list .thread-list-table .p-datatable{
        
        .overflow-text-table{
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px !important;
            font-family: "Roboto-Regular";
        }
        .aud-thl-col-1{
            width: 100px;  
            position: initial;
        }
        .aud-thl-col-2{
            width: 150px; 
            position: initial;
        }
        .aud-thl-col-3{
            width:200px; 
            position: initial;
        }
        .aud-thl-col-4{
            width: 250px;     
        }
        .aud-thl-col-5{
            width: 150px; 
            &.textcenter{
                text-align: center !important;
            }      
        }
        .aud-thl-col-6{
            width: 180px;   
        }
        .aud-thl-col-7{
            width: 200px;   
        }  
        .aud-thl-col-8{
            width: 120px;   
        } 
        .aud-thl-col-9{
            width: 80px;   
        }     
        .aud-thl-col-10{
            width: 40px;  
            right:-1px; 
            z-index: 1;                
        }
        
    }
    .more-icon{
        &.more-icon-bg{
            background-color: #e5efeb;
            width: 40px;
        }
    }
    .more-icon svg path{
        fill: var(--ID69);
    }
    .more-icon svg circle{
        fill: var(--ID70);
    }   
    .more-icon{
        visibility: hidden;
        display: inline-block;
        position: relative;
        right: 0px;
    }
    p{
        &.cont-text{
            .pi{
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    } 
  .process-div{
    width: 220px;
    .color-1{
        width: 31%;
        display: inline-block;
        background-color: #3eb7a1;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 6px;
    }
    .color-2{
        width: 22%;
        display: inline-block;
        background-color: #f7b94a;
        height: 6px;
    }
    .color-3{
        width: 23%;
        display: inline-block;
        background-color: #299cdb;
        height: 6px;
    }
    .color-4{
        width: 24%;
        display: inline-block;
        background-color: #444444;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        height: 6px;
    }
  }
  
    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }
  
    body.parts-list .thread-list-table .p-datatable {
        .p-datatable-thead > tr > th {
            font-family: Roboto-Light;
        }
        .p-datatable-thead>tr>th:first-child {
            border-radius: 10px 0 0 0;
        }
  
        .p-datatable-thead>tr>th:last-child {
            border-radius: 0 10px 0 0;
        }
  
        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }
  
        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
            td{
                background-color: #e5efeb !important;
            }
        }
        .p-datatable-tbody>tr{
            background-color: #ffffff !important;
            td{
                background-color: #ffffff !important;
            }
        }
  
        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }
  
        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }
  
        
  
        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        
        
    }
    .tool-text-div{
        vertical-align: top;
        position: relative;
        top: 9px;
        padding-left: 10px;
        display: inline-block;
        width: auto;
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color: #000000;
    }
    .toolImg1{
        width: 36px !important;
        height: 36px !important;
        border-radius: 6px;
        background-color: #f6f3fc;
        
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        display: inline-block;
        &.toolImg-dbg{
            background-size: contain;
            border:1px solid #DBDBDB;
            background-color: transparent;
        }
        img{
            width: 36px !important;
            height: 36px !important;
        }
        &.inspection-icon{
            background-image: url("../../../../assets/images/hq/inspection-normal.png");
        }
        &.template-icon{
            background-image: url("../../../../assets/images/hq/template-normal.png");
        }
        &.section-icon{
            background-image: url("../../../../assets/images/hq/section-normal.png");
        }
    }
    .text-action-link {
        color: #04c;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px !important;
        font-family: "Roboto-Regular";
    } 

    .insstatus-text-col{
        font-size: 13px;
        padding: 1px;
        width: 106px;
        text-align: center;
        margin-right: 20px;
        display: inline-block;
        border-radius: 15px;
        margin: 0px 10px 0px 0px;
        .insstatus-text-col-text{
            display: inline-block;
            width: 100px;
            vertical-align: top;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ffffff;           
            font-family: "Roboto-Regular";
            font-size: 14px;
        }    
    }  
    
  }

  .center-img {
    width: 131px;
    height: 131px;
    padding: 44px 48px 43px;
    border: solid 1px #dcdcdc;
  }

  .add-action-btn {
    height: 32px;
    line-height: 12px;
    border-radius: 16px;
    border: 1px solid #469073;
    padding: 10px 21px 10px 20px;
    .btn-txt {
        font-family: Roboto-Medium;
        font-size: 14px;
        color: #469073;
    }
  }

  .shop-txt {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #444444;
  }

  :host ::ng-deep {
    .p-column-filter-menu-button:hover {
      color: #495057 !important;
    }
    .p-column-filter-menu-button {
      color: #FFF !important;
    }
  }