.non-email-div{
    margin: 0 !important;    
    padding: 30px 0 10px 0 !important;  
    &.new-refresh-div{
        margin: 0 0 0 0 !important;
        padding: 20px 0 30px 30px !important; 
        text-align: left !important; 
    }  
    .regular-bg{
        display: inline-block !important
    }
    .small-text6{
        font-family: 'Roboto-Medium' !important;
        font-size: 16px;
        color: #3c3c3c;
        padding: 25px 0 0 0 !important;
        display: block;
        &.regular-text{
            font-family: 'Roboto-Regular' !important;
            font-size: 16px;
            color: #000000 !important;
            padding: 0 0 0 10px !important;
            line-height: 32px;
            text-align: left;
            display: inline-block !important;
        }
    }
    .refresh-button{
        text-align: center !important; 
        width: 137px;
        height: 38px;
        background-color: #40aa8b;
        border-radius: 6px;              
        font-family: 'Roboto-Medium';
        font-size: 16px;
        color: #ffffff;
        padding: 6px 0 0 0;
        margin: 20px auto 0;
        cursor: pointer;
    }
    .action-button{
        display: inline-block !important;
        vertical-align: top !important; 
                
        &.action-button-left{
            width: 210px !important;
            height: 45px !important;
            border: 2px solid #40aa8b !important;          
            background:#ffffff !important;
            margin-right: 10px !important;
            span{
                font-family: 'Roboto-Regular' !important;
                font-size: 18px !important;
                color: #40aa8b !important;
                padding: 8px 0 0 0 !important;
            }
        }
        &.action-button-right{
            width: 155px !important;
            height: 45px !important;
            background-color: #40aa8b;
            border: 2px solid #40aa8b;   
            margin-left: 10px !important;        
            span{
                font-family: 'Roboto-Regular' !important;
                font-size: 18px !important;
                color: #ffffff !important;
                padding: 8px 0 0 0 !important;
            }
        }
    }
}
.success-div {
    padding: 0 !important;
}
.public-email-div{
   margin:40px 26px 30px 26px;
   font-family: 'Roboto-Regular' !important;
   font-size: 16px !important;
   color: #000000 !important;
   text-align: left;
}
.close-icon{
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

}
.new-signup-setup-cont{
    .cont-top-img{
        height: 170px;
        vertical-align: middle;
        padding-top: 30px;
        text-align: center;
    }
    .cont-middle-text{
        font-family: 'Roboto-Regular';
        font-size: 16px;
        color: #000000;
        text-align: center;
        padding-top:20px;
    }
    .cont-bottom-img{
        padding:30px 0 30px 0;
        vertical-align: top;
        width: 127px;
        margin:0 auto;       
    }
    .cont-bottom-button{
        padding:30px 0 30px 0;
        vertical-align: top;
        width: 127px;
        margin:0 auto;
        .action-button{
            background-color: #e55554;
            padding:6px 0 0 0;
            text-align: center;
            width: 127px;
            height: 38px;                
            border-radius: 9px;            
        }
        .btn-text{
            color: #ffffff;
            font-family: "Roboto-Medium";
            font-size: 15px;
            font-style: normal;
        }
        .action-img{
            position: relative;
            top: -2px;
        }
    }
}
::ng-deep body.auth .modal-dialog .modal-content .login-modal .modal-body{
    padding: 0 !important;
}
::ng-deep body.auth .modal .modal-dialog .modal-content .login-modal .modal-header{
    background-color: #469174 !important;
    padding: 0 !important;
    display: block !important;
    text-align: unset !important;
}
::ng-deep body.auth-refresh-page .modal .modal-dialog{
    max-width: 540px;
}
.header-part{
    .close-div{
        padding: 6px 20px 0 15px;
        text-align: right;
        img{
            cursor: pointer;
        }
    }
    .header-cont{
        padding: 0 0 26px 0;
    }
    .lt-part{
        display: inline-block;
        text-align: left;
        vertical-align: top;
        padding-left: 30px;
    }
    .rt-part{
        display: inline-block;
        text-align: left;
        vertical-align: top;
        color:#ffffff;
        font-family: 'Roboto-Medium';
        padding-left: 20px;
        .line1{
            display: block;
            font-size: 18px;  
            padding: 2px 0 2px 0 !important;
            margin: 0 !important;          
        }
        .line2{
            display: block;
            font-size: 13px; 
            padding: 0 !important;
            margin: 0 !important;             
        }
    }
}