.right-section{
    width: 100% !important;
  }

  .car-hover{
    button{
        display: none;
    }
  }
  .car-hover:hover{
    button{
        display: block;
    }
  }

  .car-hover1{
    button{
        display: none;
    }
  }
  .car-hover1:hover{
    button{
        display: block;
    }
  }

  .car-hover2{
    button{
        display: none;
    }
  }
  .car-hover2:hover{
    button{
        display: block;
    }
  }

  ::ng-deep{
    .p-checkbox .p-checkbox-box.p-highlight{
      border-color: green !important;
      background-color: green !important;
    }
  }