.post-desp-div{
  margin:-1px;
}
::ng-deep .tag-users{
&.view-tag-users{
display: block;
width: auto;
margin: 0;
padding:  18px 0px 15px 20px;
}
.drop-col{
  height: 38px !important;
}
.p-dropdown{
  width: calc(100% - 60px) !important;
}
}
.mt-3{
margin-top: 0.3rem !important;
margin-bottom: 0.7rem !important;
}
.selected-users{
  &.selected-users-bg{
      background:none;
  }
}
.new-post-img{
  display: inline-block;
  width: 16px;
  height: 15px;  
  img{
    position: relative;        
    display: block;     
    max-width: 16px;
    height: 15px;    
    top: -3px !important;  
    &.post-btn-img-np{          
      left: -8px;
    }
  }  
}
.new-close-img{
  display: inline-block;
  width: 18px;
  height: 18px;  
}
.video-banner{
  margin: 0px 20px 30px 20px
}
.profile-topbadge-user-pview1{
  display: inline-block;
  top: -3px;
  vertical-align: top;
  position: relative;        
}
.profile-topbadge-user-pview2{
  display: inline-block;
  top: -4px;
  vertical-align: top;
  position: relative;
  padding-right: 4px;    
}

/** Perfect Scrollbar */
::ng-deep body .ps {
  &.ps--active-y { 
    .ps__rail-y {       
      z-index: 100;        
    }
  }
}

::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .fix-div .post-div{
  &:last-child{
    .post-view{
      padding: 30px;
    }
  }
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .nested-post-view .post-row .post-col.post-col2 .post-head .post-head-col1{
  width: 50%;
}  
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .nested-post-view .post-row .post-col.post-col2 .post-head .post-head-col2{
  width: 50%;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-reply-new .attachment-file.common-attachment-file .p-fileupload .p-fileupload-buttonbar{
  width: 163px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .upload-area .upload-col.files{
  width: 60%;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-reply-new .post-head .post-head-col1{
  width: 30%;
}
::ng-deep{
  .ql-editor.ql-blank::before{
    font-family: "Roboto-Regular";
    color: #898989;
    font-size: 15px;
    line-height: 26px;
    font-style: normal;
  }
  .new-button-top{
    position: absolute;
    top: 13px;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    .new-button-div{
      background:  #5e70d9;
      border: 1px solid #5e70d9;
      border-radius: 18px;
      padding: 11px 15px 0;
      transition: all 0.5s;
      text-align: center;
      width: auto;
      height: 36px;
      display: inline-block;
      font-family: Roboto-Medium;
      color: #fff;
      font-size: 14px;
      line-height: 12px;
      cursor: pointer;   
      .new-button-div-img{
        position: relative;
        top:-2px;
      }   
    }
    .th-badge-content {
      background: #ff5a61;
      min-height: 24px;
      min-width: 24px;
      border-radius: 50%;
      position: absolute;
      margin-top: -10px;
      margin-left: -10px;
      .text{
        color: #ffffff;
        font-family: "Roboto-Regular";
        font-size: 13px;
        font-weight: 500;
        line-height: normal;
        display: inline-block;
        padding: 0 0 0 0;
        position: relative;
        top: -2px;
      }
    
    }
  } 
  .refer-info.attachment-info .attachment-cont .cdk-drag-preview, .refer-info.attachment-info .attachment-cont .attachment-row{
    padding: 0 !important
  }
  .refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .attach-drop-down .dynmic-selected-items{
    padding-top: 0;
  }
  /*.refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }*/   
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info .attachment-cont{
    padding: 0;
  } 
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info{
    padding:0;
  }
  body.thread-detail .post-submit-tooltip .tooltip-inner{
    padding:0 0 10px 0 !important;
    .label-tt-head{
      padding: 15px 15px 0 20px !important;
    }
   .label-tt-cont{
      display: block !important;
      padding: 7px 15px 7px 20px !important;
      &.selected-tt-cont{
        background: #315188;
      }
    }
  }
  body.thread-detail .translate-tooltip .tooltip-inner .label-tt-head{
    padding: 15px 15px 0 0 !important;
  }
  body.thread-detail .translate-tooltip .tooltip-inner .label-tt-cont{
    padding: 7px 0 7px 0 !important;
  }
  body.thread-detail .more-tooltip-new .tooltip-inner .label-tt-cont{
    display: block !important;
    padding: 10px 15px 5px 20px !important;
    height: auto !important;      
  }
  body.thread-detail .more-tooltip-new .tooltip-inner{
    padding:8px 0 10px 0 !important;
  }
}

@keyframes glowing {
  0% {
    background-color: #5e70d9;
    box-shadow: 0 0 5px #5e70d9;
  }
  50% {
    background-color: #9259f1;
    box-shadow: 0 0 20px #9259f1;
  }
  100% {
    background-color: #5e70d9;
    box-shadow: 0 0 5px #5e70d9;
  }
}
.new-button-div {
  animation: glowing 1300ms;
  animation-iteration-count: 5;
}

.tech-support-outer{
  padding-right: 20px;
  .ts-inner-cont{
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
    border: 1px solid #d5dceb;
    padding: 20px 0 20px 20px;
    .top-row{
      padding-bottom: 20px;
      .top-img{
        display: inline-block;
        padding: 0 0 0 0;
        position: relative;
        top: 0px;
      }
      .top-text{
        color: #444d61;
        font-family: "Roboto-Bold";
        font-size: 18px;
        line-height: 18px;
        display: inline-block;
        padding: 0 0 0 6px;
        position: relative;
        top: 4px;
      }
    }
    .center-row{
      .center-row-inner{        
        padding:10px 0;
        width: 100%;
        .center-row-lt{
          display: inline-block;            
          width: 23px;           
          vertical-align: top;
          img{
            display: block;
            height: auto;
          }          
        }
        .center-row-rt{
          display: inline-block;            
          width: calc(100% - 33px);
          border-bottom: 1px solid #e9e3e3;
          vertical-align: top;
          margin-left: 10px;  
          .placeholder-text{
            color: #93989d;
            font-family: "Roboto-Medium";
            font-size: 14px;    
            padding: 0 0 4px 0;  
            display: block;
          }         
          .team-text{
            color: #000000;
            font-family: "Roboto-Regular";
            font-size: 14px;    
            padding: 0;  
            display: block;     
          }
          .thread-status{
            border-radius: 18px;
            padding: 0px 8px 2px 8px;
            font-family: 'Roboto-Regular';
            color: #ffffff;
            font-size: 13px;
            text-align: center;
            display: inline-block; 
            margin-bottom: 20px;
          }
          .level-status{
            border-radius: 18px;
            padding: 0 0 0 0;
            text-align: center;
            display: block;
            margin-bottom: 20px;
            background: #f0e68c;
            width: 44px;
            height: 20px;
            img{
              display: inline-block; 
              vertical-align: top;
              position: relative;
              top: 3px;
            }
            .level-status-text{
              font-family: "Roboto-Regular";
              color: #444444;
              font-size: 14px;
              padding-left: 3px;
              vertical-align: top;
              display: inline-block;
            }
          }
          .setHeight{
            max-height: 150px;                        
            overflow: auto;
          }
          .pro-row{
             display: table;
             margin:6px 0 16px 0;
            .pro-img{
              width: 32px;
              height: 32px;             
              border-radius: 50%;             
              display: table-cell;
              vertical-align: top;
              img{
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
              }
            }
            .pro-name{
              font-family: 'Roboto-Regular';             
              font-size: 14px;
              color:#000000;
              display: table-cell;
              vertical-align: middle;
              padding-left: 10px;
            }
            .status{
              width: 8px;
              height: 8px;
              border-radius: 50%;
              display: block;
              margin: 22px 0 0 -8px;
              position: absolute;
              &.status0{
                background-color: #ff0000;
              }
              &.status2{
                  background-color: #ffee50;
              }
              &.status1{
                  background-color: #00b050;
              }
            }
          }
          .right-row{ 
            position: absolute;
            right: 15px;
            margin: -28px 0 0 0;
            cursor: pointer;             
            .assign-btn{
              border-radius: 14px;
              border: solid 1px #c9c9c9;
              cursor: pointer;
              width: 115px;
              text-align: center;
              height: 28px;
            }
            img{
              display: inline-block;
              vertical-align: top;
              top: 6px;
              position: relative;
              height: auto;
            }
            .a-text{
              display: inline-block;
              font-family: 'Roboto-Regular';             
              font-size: 14px;
              color:#999999;
              padding-left: 5px;
              vertical-align: top;
              position: relative;
              top: 3px;            
            }
          }
        }
        .remove-div{
          position: relative;
          display: inline-block;
          cursor: pointer;
        }
        .remove-tag{
          background-color: #df4642;
          border-radius: 12px;
          height: 18px;
          position: absolute;
          top: -24px;
          left: -32px;
          width: 18px;
          &:after{
            background-color: #fdf2f2;
            content: "";
            width: 8px;
            height: 2px;
            position: absolute;
            top: 8px;
            left: 5px;
          }
        }
       
       
      }
    }      
  }    
}

::ng-deep{
  body.thread-detail .p-messages {
      position: absolute;
      top:46px;            
      z-index: 10;           
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
  }
  .p-message.p-message-success .p-message-close{
      visibility: hidden;
  }
  .techsupport-tt {      
    margin: 0 0 0 -74px !important;
    .arrow {
        &::before {
            border-width: 0 0.5rem 0.5rem;
            border-bottom-color: #242a3a;
            left: 73px;
            bottom: -1px;
        }
    }
    &.tooltip {
        opacity: 1;    
        .tooltip-inner {
            background-color: #242a3a !important;
            text-align: left;
            width: 200px;;
            border-radius: 9px;
            padding: 0;
            .tooltip-ts-mo-div{
               ul{
                    margin: 0px;
                    padding: 0px;
                    li{
                        background-repeat: no-repeat;
                        background-position: 10px 12px;
                        border-bottom: solid 1px #4c5972;
                        color: #ffffff;
                        font-family: Roboto-Regular;
                        font-size: 14px;
                        padding: 10px 10px 10px 10px;
                    }
                }                    
            }
        }
        
    }               
  
}
 
}
::ng-deep{
  .arrow-tt-hide ngb-popover-window.bs-popover-bottom>.arrow{
    display: none !important;
  }
  .arrow-tt-hide .bs-popover-bottom .popover-header::before{
    display: none !important;
    figure{
      width: 300px;
      height: auto;
    }
    body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new .post-error-msg{
      font-family: Roboto-Regular;
      text-align: left;
      color: #cf2020;
      font-size: 14px;
      padding: 5px 0 4px 15px;
    }  
  }
  .ck.ck-editor__editable_inline {
    height: 180px !important;
    overflow-y: auto;
    min-height: 180px !important;
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-head .post-head-col1{
    width: 60% !important;
  }

  body.thread-detail .thread-detail-section .th-outer-col-2 {
   display: inline-block ; 
} 
}
