.KA_desc {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  padding-left: 0.5rem;
  text-align: left;
  color: #3e4144;
}
.KA_input_text {
  width: 100% !important;
  border: solid 1px #dbddde;
  background-color: #fbfbfb !important;
  height: 71px;
}
::ng-deep {
  .ck.ck-editor__main > .ck-editor__editable {
    min-height: 150px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }

  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }
}
body
  .wrapper
  #content
  .prob-new
  .new-pro-cont
  .form-cont
  .form-horizontal
  .form-items
  .prob-form-row
  .form-col.upload-col
  .prob-upload.upload-bg-KA {
  background-position: initial !important;
  background-size: cover !important;
  padding: 88px 0px;
  position: relative;
}
.KA_required {
  float: right;
  color: #b2b2b2;
  font-size: 14px;
}
.KA_error_msg {
  position: relative;
  top: 15px;
  left: 5px;
}
  /** Perfect Scrollbar */
  ::ng-deep body .ps {
    &.ps--active-y { 
      .ps__rail-y {       
        z-index: 100;        
      }
    }
  }
  .def-select.select-tags .tag-col.tag-bg{
    width: 32px !important
  }
  .def-select.select-tags .tag-col.cat-bg{
    width: 32px !important
  }
