.padding-common {
  padding: 0;
  margin: 15px;
}

.thread-add-new {
  width: 36px;
  height: 31px;
  margin-right: 0px;
  vertical-align: middle;
}

.selection-area {
  display: inline-block;
  .selection-area-span {
    position: relative;
    top: 2px;
  }
}

.p-button:focus {
  box-shadow: none;
}

.p-button.p-button-icon-only.p-button-rounded.disable {
  cursor: default;
  opacity: 0.5;
}

.switch {
  background: url('../../../../../assets/images/dispatch/svg/switch-icon.png') no-repeat left center;
  color: #fa972d;
  font-size: 15px;
  font-family: 'Roboto-Medium';
  padding-left: 18px;
  position: absolute;
  right: 15px;
  top: 8px;
  &.tech {
    background: none;
    color: #afafaf;  
    cursor: default; 
    padding-left: 0px;   
  }
}