.login-invalid-feedbac-center{
    span{
        text-align: center !important;
        color:#40aa8b !important;
        text-align: center !important;
        padding: 10px 0 0 0 !important;
        margin: 0 !important;
        font-family: 'Roboto-Medium';
    }
}