.system-setting-container{
    .inner-container{
        padding:0;
        margin:0;        
    }
    .section-container{
        border-radius: 16px;
        border: solid 1px #ddd;
        background-color: #eff0f1;
        overflow: hidden;
        margin-bottom: 20px;
        .title-row{
            font-size: 18px;
            color:#000000;
            font-family: "Roboto-Medium";
            text-align: left;
            padding: 10px 20px;
            line-height: normal;
            border-bottom: 1px solid #dddddd;
        }
        .content-row{
            background: #ffffff;
            padding: 16px 0 10px 16px;
        }
    }
    .see-sample-div{
        display: inline-block;
        vertical-align: top;
        padding-left: 20px;
        cursor: pointer;
        .img{
            display: inline-block;
            vertical-align: top;
        }
        span{
            display: inline-block;
            vertical-align: top;
            padding-left: 5px;
            font-size: 16px;
            color:#53987d;
            font-family: "Roboto-Regular";  
        }
    }
    p{
        text-align: left;
        padding: 0;
        margin: 0;
        line-height: normal;
    }
    .p-title{
        font-size: 16px;
        color:#000000;
        font-family: "Roboto-Medium";  
        &.p-title-see-sample{
            display: inline-block;
            vertical-align: top;
        }      
    }
    .p-desc{
        font-size: 15px;
        color:#777777;
        font-family: "Roboto-Regular";   
        padding-top: 5px;     
    }
    .p-label{
        font-size: 16px;
        color:#999999;
        font-family: "Roboto-Medium";        
    }
    .p-label-desc{
        font-size: 15px;
        color:#000000;
        font-family: "Roboto-Regular";   
        padding-top: 4px;    
    } 
    // main
    .type-col-1{        
        width: 50px;                  
    }
    .type-col-2{       
        width: calc(100% - 50px);
        padding-left: 18px;
    }
    // placeholder items type
    .type-row{
        margin-bottom: 12px;
        &.type-row-bottom{
            margin-bottom: 0;
        }
    }
    .type-col-2-lt{ 
        &.toggle{
            width: calc(100% - 85px);
        }
    }
    .type-col-2-rt{ 
        &.toggle{
            width: 85px; 
            padding-right: 30px;
        }        
    }
    // inner items type 1
    .type1-row{
        margin-bottom: 12px;
    }
    .type1-col-1{        
        width: 20px;          
    }    
    .type1-col-2{        
        width: calc(100% - 20px);
        padding-left: 10px;          
    }

    // inner items type 2
    .type2-row{
        margin-top: 18px;
        &.type2-row2{
            margin-top: 0px;
        }
    }
    .type2-col-1{        
        width: 22px;          
    }    
    .type2-col-2{        
        width: calc(100% - 22px);
        padding-left: 10px;          
    }
    .type2-col-2-lt{ 
        &.toggle{
            width: calc(100% - 85px);
        }
        &.datePicker{
            //width: 30%; 
            width: calc(100% - 540px);
        }
    }
    .type2-col-2-rt{ 
        &.toggle{
            width: 85px;
            padding-right: 30px; 
        }
        &.datePicker{
            vertical-align: bottom;
            width: 540px; 
            //width: 70%; 
            padding-right: 30px;
            text-align: right;
        }        
    }
    .datePicker{
        .date-icon{
            position: relative;
            top:0;  
            margin-left: 10px; 
            vertical-align: top;         
        }
        .date-text{
            position: relative;
            top:3px;
            vertical-align: top;
            padding: 0 10px;
            color:#9b9a9a;
            font-size: 14px;
            font-family: "Roboto-Regular";  
        }
        .date-box{
            position: relative;
            top:0;           
        }
    }
    .display-block{
        display: block;
        width: 100%; 
    }
    .inline-block{
        display: inline-block;
        vertical-align: middle; 
        &.vtop{
            vertical-align: top !important; 
            .top8{
                position: relative;
                top:8px;
            }
        } 
    } 
    .border-row{
        border-top:1px solid #ececec;
        margin: 0;
        padding: 0;
        &.set-margin-padding{
            margin: 8px 0 0px 0;
            padding: 10px 0 0 0;
        }
    }
    .toggle-box {              
        .toggle-col {
          display: inline-block;
          vertical-align: middle;
          top: 0px;
      
          &.field-label {
            color: #4373b3;
            display: none;
          }
      
          &.toggle-option {
            position: relative;
      
            p-inputswitch::ng-deep .p-inputswitch {
                height: 28px;
                position: relative;
                top: 3px;
                width: 52px;
                
      
              .p-inputswitch-slider {
                box-shadow: none;
      
                &:before {
                    width: 21px;
                    height: 21px;
                    margin-top: -11px;
                    left: 4px;
                }
      
                &:after {
                  color: #ffffff;
                  content: "";
                  font-size: 12px;
                  position: absolute;
                  left: 25px;
                  top: 3px;
                }
              }
      
              &.p-inputswitch-checked {
                .p-inputswitch-slider {
                  background: #469073;
      
                  &:before {
                    transform: translateX(1rem);
                    left: 12px;
                  }
      
                  &:after {
                    content: "";
                    left: 10px;
                  }
                }
              }
            }
          }
        }
      }      
}
::ng-deep {
    .p-datepicker table td{
        padding: 1px !important;
    }
    .loader img{
        left: 50% !important;
    }
    .system-setting-container{        
        .p-calendar .p-inputtext{            
            color:#444444;
            font-size: 14px;
            font-family: "Roboto-Regular"; 
            position: relative;
            top: -5px;
            box-shadow: none !important;
            border: 1px solid #dddddd !important;
        }
    }      
}