<div class="app-popup">
  <div class="p-3 heading">
    <div class="heading text-success text-center">
      <img src="./assets/images/gts/tick-green.png" class="w-25" alt="">
      <p class="m-0 mt-2 heading">Great Job</p>
      <p class="text-white m-0 sub-heading">You completed the GTS</p>
    </div>
  </div>
  <hr class="m-0">
  <ul class="p-2 py-2 px-3">
    <li>
      <a (click)="openPopup('resolved')" class="text-white sub-heading">
        <img class="mr-3" src="./assets/images/gts/light.png" alt="">
        <span>Problem Resolved</span>
      </a>
    </li>
    <li>
      <a (click)="swtichToStart()" class="text-white sub-heading">
        <img class="mr-3" src="./assets/images/gts/gts-search.png" alt="">
        <span>Just Reviewing</span>
      </a>
    </li>
    <li class="pauseReturn">
      <a (click)="openPopup('pause')" class="text-white sub-heading">
        <img class="mr-3" src="./assets/images/gts/pause.png" alt="">
        <span>Pause and return later</span>
      </a>
    </li>
    <li>
      <a (click)="openPopup('not_helpful')" class="text-white sub-heading">
        <img class="mr-3" src="./assets/images/gts/question.png" alt="">
        <span>GTS was not helpful</span>
      </a>
    </li>
  </ul>
</div>
