::ng-deep app-popup {
  background-color: #313d55;
  .sub-heading {
    font-size: 14px;
  }
  ul {
    li {
      padding: 0.3rem 0;
    }
    .sub-heading {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
}

::ng-deep body {
  &.bottom-right-notifications-popup .modal-dialog {
    position: absolute;
    margin-right: 20%;
    right: 0px;
    max-width: 230px;
    align-items: flex-end;
    bottom: 6%;
    .pauseReturn {
      display: none;
    }
  }
  &.top-right-notification-popup .modal-dialog {
    position: absolute;
    margin-right: 1%;
    right: 0px;
    max-width: 230px;
    align-items: flex-start;
    top: 3%;
    .heading {
      display: none;
    }
  }
}
