::ng-deep{

    body{
        &.system-settings{
            .wrapper #content .prob-index .probing-content{
                padding-top: 10px !important;
            }
        }
    }

}
.head-row{
    padding: 0;
    width: 100%;
    margin:0;
    display: block;
    .head-img{
        display: inline-block;
        position: relative;
        top:0;
    }
    .head-text{
        display: inline-block;
        position: relative;
        top:0;
        font-size: 22px;
        color:#4c4b4b;
        font-family: "Roboto-Bold";
        padding-left: 8px;
        vertical-align: middle;
    }
    .head-col-1{
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    .head-col-2{
        display: inline-block;
        width: 50%;
        text-align: right;
    }

}
.system-setting{
    .cbt-filter #filter .filter-toggle{
        display: none !important;
    }
    .ts-list-lt{
        display: inline-block; 
        
        &.filter-expand{
            width: 225px;
            padding: 0 !important;
            margin:10px 0 0 0;
        }   
        &.filter-collapse{
            width: 15px;
            margin: 0;                         
        } 
    }
    .ts-list-rt{
        vertical-align: top;
        display: inline-block; 
        &.filter-expand{
            width: calc(100% - 225px);
        }   
        &.filter-collapse{
            width: calc(100% - 15px);                          
        }                    
                           
    }
    .user-row{
        //border-top:1px solid #2a2e35;
        padding: 10px 0 20px 20px;                            
    }
    .profile-row{
        
        &:hover{
            .more-button {
                visibility: visible;
            }
        }
        .more-button{
            visibility: hidden;
        }

        cursor: pointer;
        border-radius: 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background-color :transparent;
        padding:6px 0 6px 3px;
        margin: 6px 0 6px 0;
        color: #b5bcca;

        &:hover{
            background-color:#469073;
            padding: 6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #ffffff;
        }
        &.active{
           //background-color:var(--ID19);
            background-color:#469073;
            padding: 6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #ffffff;
        } 
       /* &.normal{
            background-color :transparent;
            padding:6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #b5bcca;
        }*/
        .profile-row-inner{
            padding-left:5px;
        }
        .pimg{
            display: inline-block;                
            width: 30px;
            vertical-align: top;        
        }
        .uname{
            font-family: "Roboto-Regular";
            font-size: 14px;                                   
            margin-left: 0;
            display: inline-block;
            padding-left: 5px;
            width: calc(100% - 35px);
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;               
        }                              
    }
}
::ng-deep{
    .system-setting-container-outer{
        padding: 0;
    /* width: 100%;*/
        margin:10px 0 0 15px;
        display: block;
        background: #ffffff;
        border-radius: 16px;
        &.message-container-outer{
            background: none;
        }

        .p-message.p-message-success{
            top: -16px !important;
            left: 51% !important;
        }
    }
    .dispatch-container-outer{
        background: none;
    }
    .escalationv2-list-head .prob-head-col.head-col-2 .action-col{
        top: 0px;
    }
    .escalationv2-list-head .prob-head-col.head-col-2 .action-col.tab-6{
        margin-right: 0;
        padding: 7px 18px 7px 18px;
        background-repeat: no-repeat;
        background-color: #469073;
        border: solid 1px #469073;        
    }
    .escalationv2-list-head .prob-head-col.head-col-2 .action-col .submit-btn{
        left: 5px;
        top: 3px;
        height: 17px;
        width: 15px
    }
}
::ng-deep{
    body{
     .settings-p-msg{
        position: relative;
       .p-messages{
         top: -70px !important;
         width: auto !important;      
         z-index: 10;
         position: absolute;
         left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);   
         .p-message-detail {
             white-space: nowrap !important;
         }
       }
     }
    }
   }

