<div id="header" *ngIf="!msTeamAccess">
  <app-product-header *ngIf="!headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header>
  <app-product-header *ngIf="headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header>
</div>
<div class="left-section">
  <div class="first-left-width">
    <nav id="nav-sidebar">
      <app-marketplace-sidebar [activeMenuItem]="sideMenuActive" accessModule="{{bodyClass}}"></app-marketplace-sidebar>
    </nav>
  </div>
</div>
<div class="prob-index split-sec1 right-section">
  <div class="container-fluid">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-bottom: 8px; margin-left: 10px;">
        <div class="page-title-design display-align-center">
          <img class="margin-right-8px" src="assets/images/service-provider/market-place.png" />
          <span>{{headTitle}}</span>
        </div>
      </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 landing-padding0 landing-margin0">
         <!-- <div *ngIf="!msTeamAccess" class="threads-page-filter padding-right-class" [ngClass]="{'col col-lg-2  col-md-2 col-xl-2 col-sm-2': expandFlag, 'filter-show-hide': !expandFlag}">
              <div class="cbt-filter thread-filter" [ngClass]="{'filter-expand': expandFlag, 'filter-collapse': !expandFlag}">
                  <app-filter *ngIf="filterLoading" (toggle)="expandAction($event)" [filterOptions]="filterOptions" (filterAction)="applyFilter($event)"></app-filter>
                  <app-filter *ngIf="!filterLoading" (toggle)="expandAction($event)" [filterOptions]="filterOptions" (filterAction)="applyFilter($event)"></app-filter>
              </div>
          </div>-->
          <div [ngClass]="{'col col-lg-12 col-md-12 col-xl-12 col-sm-12': msTeamAccess, 'col col-lg-8 col-md-8 col-xl-8 col-sm-8': !msTeamAccess }" class="center-middle-width-container threads market-place">
              <div class="center-middle-width padding-common">
                  <div class="clear"></div>
                  <div class="probing-content cbt-content part-content part-content-threads-new margin-top-10px" style="margin-top: 0 !important;">
                      <div style="margin: 0 auto; height: calc(100vh - 120px);" class="col-lg-12 col-md-12 col-sm-12 row landing-page thread-page-container landing-display-inline">
                        <div class="loading-small-screen-scroll trst" align="center" *ngIf="loading" ><img src="assets/images/loading.svg" alt="Loader" /></div>
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="innerDetailPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 54px; height: 48px;" src="assets/images/service-provider/training-2-light-green.png">
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Training</span>
                            </div>
                            <div>
                              <span class="training-description-2">{{marketPlaceTotalData}} Upcoming Trainings</span>
                            </div>
                          </p-card>
                        </div>
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="manualsPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 34px; height: 45px;" src="assets/images/service-provider/manuals-green.png">
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Manuals</span>
                            </div>
                            <div>
                              <span class="training-description-2">{{manualsTotalData}} Manuals</span>
                            </div>
                          </p-card>
                        </div>
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="domainEditPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-2">
                                <div>
                                  <img src="{{businessDomainData?.business_logo ? businessDomainData?.business_logo : 'assets/images/service-provider/companyInfo.png'}}" />
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Company Info</span>
                            </div>
                            <div>
                              <span class="training-description-2">{{businessDomainData?.market_place_company_name ? businessDomainData?.market_place_company_name : businessDomainData?.business_name}}</span>
                            </div>
                          </p-card>
                        </div>
                        <!-- <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 44px; height: 40px;" src="assets/images/service-provider/survey-light-green.png" />
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Survey Topics</span>
                            </div>
                            <div>
                              <span class="training-description-2">4 Surveys</span>
                            </div>
                          </p-card>
                        </div>
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="quizPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 43px; height: 50px;" src="assets/images/service-provider/quiz-light-green.png" />
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Quiz Topics</span>
                            </div>
                            <div>
                              <span class="training-description-2">4 Quizzes</span>
                            </div>
                          </p-card>
                        </div> -->
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="customerPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 63px; height: 34px;" src="assets/images/service-provider/group-light-green.png" />
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Customers</span>
                            </div>
                            <div>
                              <span class="training-description-2">4 Customers</span>
                            </div>
                          </p-card>
                        </div>
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="zoomSettingPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 48px; height: 48px;" src="assets/images/service-provider/settings.png" />
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Settings</span>
                            </div>
                          </p-card>
                        </div>
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="policiesPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 39px; height: 46px;" src="assets/images/service-provider/policies.png" />
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Policies</span>
                            </div>
                          </p-card>
                        </div>
                        <div *ngIf="!loading" class="custom-box-size margin-top-15px margin-left-10px landing-display-inline float-left">
                          <p-card [style]="{width: '100%'}" styleClass="p-card-shadow training-card cursor-pointer" (click)="reportsPage()">
                            <ng-template pTemplate="header">
                              <div class="header-style-4">
                                <div>
                                  <img style="width: 39px; height: 46px;" src="assets/images/service-provider/reports.png" />
                                </div>
                              </div>
                            </ng-template>
                            <div>
                              <span class="training-heading-2">Reports</span>
                            </div>
                          </p-card>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="!msTeamAccess" class="right-middle-width-container landing-padding0 col col-lg-2 col-md-2 col-xl-2 col-sm-2 padding-right-class market-place">
              <div class="right-width-column padding-common">
                  <app-domain-members [disableRightPanel]="disableRightPanel" (toggle)="expandDomainAction($event)"></app-domain-members>
              </div>
          </div>
      </div>
  </div>
</div>
