.header-style-1 {
  border-radius: 20px;
  background-color: #5c78c9;
  padding: 40px;
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}
.header-style-2 {
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 40px;
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}
.header-style-3 {
  border-radius: 20px;
  border: solid 1px #ebebeb;
  background-color: #8d73bc;
  padding: 40px;
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}
.header-style-4 {
  border-radius: 20px;
  border: solid 1px #ebebeb;
  background-color: #e5efeb;
  padding: 40px;
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}
.custom-box-size {
  width: 220px !important;
  padding: 0 15px !important;
  margin-bottom: 15px !important;
}
.training-heading-2 {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.margin-bottom-15px {
  margin-bottom: 15px;
}
.margin-bottom-18px {
  margin-bottom: 18px;
}
.training-description-2 {
  font-family: 'Roboto-Regular';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #9999ae;
}
.margin-top-30px {
  margin-top: 30px!important;
}
.cursor-pointer {
  cursor: pointer;
}
.margin-top-10px {
  margin-top: 10px!important
}
.margin-left-30px {
  margin-left: 30px!important
}
.margin-top-15px {
  margin-top: 15px!important
}
.margin-left-15px {
  margin-left: 15px!important
}
.display-align-end {
  display: flex!important;
  align-items: end!important;
}
.margin-right-8px {
  margin-right: 8px;
}
.display-align-center {
  display: flex;
  align-items: center;
}
.page-title-design {
  font-size: 22px;
  font-family: Roboto-Bold;
  color: #4b4c4c;
  vertical-align: middle;
  position: relative;
  top: 10px;
}

.display-flex {
  display: flex;
}

.center-middle-width-container {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

::ng-deep {
  body .cbt-filter.filter-expand.thread-filter {
    padding: 5px 0px 10px 0px !important;
  }
  .right-landing-toggle-menu-bar .filter-toggle {
    top: 8px !important;
  }
}

.margin-left-10px {
  margin-left: 10px !important;
}
.landing-display-inline{
  display: inline-block !important;
}
