.margin0{
    margin: 0;
}
.padding0{
    padding: 0;
    &.paddingRt20{
        padding-right: 20px !important;
    }
    
}
.prob-form-row{   
    margin:0px 0 20px 0px;
    padding: 0;
    &.attachment-row{
        margin:0 !important;
    }
}
.part-label-row{
    display: block;  
    margin-top: 10px;  
    /*&.part-label-row-new{
        margin-top: 3px;  
    }*/
    .label-icon{
        display: inline-block;        
        position: relative;       
        vertical-align: top; 
        /*&.label-icon-new{
            top:7px;
        }  */     
    }
    .lable-text{
        display: inline-block;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        color: #9a9a9a;
        vertical-align: middle;
        padding-left: 6px;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.lable-text-new{
            width: calc(100% - 20px);
            white-space: nowrap;           
            text-overflow: ellipsis;            
            overflow: hidden;
        } 
    }
}
::ng-deep .p-dropdown{
    background-color: #fbfbfb;
    border: 1px solid #dbddde !important;
    font-family: 'Roboto-Regular';    
    border: 0 none;
    font-size: 14px;
    color:#000000;
    padding: 0px;
    max-width: 100%;
    width: 100%;
    border-radius: 6px;
    box-shadow: none !important;
    outline:none;
    &::placeholder {
        color:#b5b5b5;
    }
}
.part-text-row{
    display: block; 
    margin-top: 5px; 
    .inputbox{
        background-color: #fbfbfb;
        border: 1px solid #dbddde !important;
        font-family: 'Roboto-Regular';    
        border: 0 none;
        font-size: 14px;
        color:#000000;
        padding: 9px 10px;
        max-width: 100%;
        width: 100%;
        border-radius: 6px;
        &::placeholder {
            color:#b5b5b5;
        }
    }    
    
}
.input-down-arrow {
    position: relative;
    display: inline-block;
    .icon {
        display: block;
        margin: 0;
        padding: 0;
        width: 16px;
        height: 10px;
        position: absolute;
        left: -27px;
        top: -10px;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('/assets/images/dropdown_downarrow.png') no-repeat;
    }
}
.input-cal {
    position: relative;
    display: inline-block;
    .icon {
        display: block;
        margin: 0;
        padding: 0;
        width: 17px;
        height: 17px;
        position: absolute;
        left: -27px;
        top: -14px;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('/assets/images/escalations/ppfr/date.png') no-repeat;
    }
}
.input-odo{
    position: relative;
    display: inline-block;
    .text{
        display: block;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 20px;
        position: absolute;
        left: -36px;
        top: -16px;
        font-family: "Roboto-Regular";
        border: 0 none;
        font-size: 14px;
        color: #000000;
    }
}
.ppfr-detail-widget{
    display: block;
    width: 100%;
    padding: 20px 20px 20px 0px;
    .container-head{
        height: 40px;
        background-color: #5e646f;
        border-radius: 6px;        
        padding: 8px 15px 0px 15px !important;
        cursor: default; 
    }
    .menu-name {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        font-size: 16px;
        font-family: "Roboto-Medium";
        color: #ffffff;        
        font-weight: normal;   
    } 
    .menu-container{
        margin: 20px 8px 15px 40px;
        padding: 16px 36px 22px 22px;
        border-radius: 10px;
        border: solid 1px #d5dceb;
        background-color: #f8f8f8;
    }      
}
.acc-contiainer-row{
    display: block;
    width: 100%;
    margin-right: 20px;
    .inner-content-row{
        border:1px solid red;
    }
}
.disabled{
    opacity: 0.3;
    cursor: default !important;
}
.prob-form-row .vehicle-row{    
    margin: 20px 0 0 0 !important;
    padding: 0 !important;
}
.add-btn-pos{
    top: -80px !important;
}
.remove-btn-pos{
    top: -45px;
}
.add-btn-pos-occ{
    top: 22px !important;
}
.remove-btn-pos-occ{
    top: 52px;
}
.prob-new .new-pro-cont .form-cont .form-horizontal .form-items{
    padding-top:20px !important;
}
.sform-div{
    transition: all 0.10s;
}
.pR50{
padding-right: 50px !important;
}
.required-text{
    color: #b2b2b2;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 20px;
    margin: 5px 0 0 0;    
    display: inline-block;
}
::ng-deep body .ps.ps--active-y .ps__rail-y {
    z-index: 1000 !important;
}
::ng-deep{
    .pi{
        color:#dbddde;
    }
    .p-multi-select{
        .p-multiselect-panel{
            z-index: 100000 !important;
        }
        .p-multiselect{
            width: 100%;
            border: 1px solid #dbddde !important;
            box-shadow: none !important;
            outline: none !important;
            border-radius: 6px;
        }        
        .p-multiselect .p-multiselect-label.p-placeholder{        
            font-size: 14px;
            font-family: "Roboto-Medium";
            color: #9b9a9a;        
            font-weight: normal; 
        }
        .p-multiselect-panel .p-multiselect-items .p-multiselect-item{
            font-size: 14px;
            font-family: "Roboto-Regular";
            color: #9b9a9a;        
            font-weight: normal; 
        }
        .p-multiselect .p-multiselect-label{
            font-size: 14px;
            font-family: "Roboto-Regular";
            color: #9b9a9a;
            font-weight: normal;
            height: 41px;
            line-height: 27px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            white-space: normal;
        }
    }  
    .p-dropdown-label{
        font-size: 14px;
        font-family: "Roboto-Regular";
        color: #9b9a9a;
        font-weight: normal;        
    }  
    .selected-items{
        margin-top: 10px;
    }
    .title-box{
        height: 61px;
    }
    .refer-info{
        padding: 0;
    }
    .refer-info.attachment-info .attachment-cont{
        margin:0;
    }
}