.item-content {
    .item-section {
        display: inline-block;
        vertical-align: top;
        &.section-right {
            width: calc(60% - 22px);
        }
    }
    .no-item-list {
        &.empty-container {
            height: 100%;
            .item-empty-container {
                &.empty-center {
                    top: 48% !important;
                    img {
                    width: 68px;
                    height: 69px;
                    }
                    p {
                    padding: 15px 0;
                    color: #999999;
                    }
                }
            }
        }
    }
}
::ng-deep {
    .v3-mask .p-dialog-mask {
      height: 150vh !important;
      .p-dialog {
        margin: 0 !important;
        .p-dialog-header {
          display: none;
        }
        .p-dialog-content {
          padding: 0;
          overflow: hidden;
          h1 {
            border-bottom: solid 1px #d6d6d6;
            color: #000000;
            font-family: 'Roboto-Medium';
            font-size: 18px;
            padding: 10px 0px;
            span {
              display: inline-block;
              vertical-align: middle;
              &.head {
                padding-left: 15px;
                width: calc(100% - 30px);
              }
              .head-info {
                font-family: 'Roboto-Regular';
                font-size: 14px;
                padding-top: 10px;
              }
              &.sidebar-close-icon {
                background: url('../../../../assets/images/thread-detail/thread-window-close.png') no-repeat;
                width: 17px;
                height: 16px;
              }
            }
          }
          .content {
            .vehicle-info {
              .items {
                padding: 0px 0px 0px 20px;
                .item-row {
                  border-bottom: solid 1px #d6d6d6;
                  display: block;
                  padding: 10px 20px 10px 0px;
                  width: 100%;
                  .item-col {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    .truncate {
                      display: flow-root;
                    }
                  }
                }
              }
            }
          }
          .feedback-content {
            padding: 0px 20px;
            position: relative;
            .form-items {
              font-family: 'Roboto-Regular';
              color:#000000;
              padding: 5px 0px 0px;
              position: relative;
              .required-text {
                color: #999;
                font-size: 15px;
                position: absolute;
                right: 0px;
                top: 15px;
              }
              .field-label {
                color:#000000;
                font-size: 15px;              
              }
              .field-item {
                .radio-button {
                  label {
                    color: #000000 !important;
                    &.active {
                      color: #469073 !important;
                    }
                  }
                  .checkmark {
                    border: solid 2px #bbbbbb;
                    top: 0;
                    &.active {
                      border: solid 2px #469073;
                      &::after {
                        background-color: #469073;
                      }
                    }
                  }
                }
                textarea {
                  border-radius: 6px;
                  border: solid 1px #dbddde;
                  margin-top: 5px;
                  padding: 10px 15px;
                  resize: none;
                  width: 100%;
                  &::placeholder {
                    color: #999999;
                  }
                }
                .invalid-feedback {
                  display: block;
                }
              }            
            }
            .form-action {
              padding: 10px 0px;              
            }
          }
          .bottom-content {
            display: block;
            .bc-row {
              color: #000;
              .bc-col {
                display: inline-block;
                vertical-align: middle;
                &.bc-col-1, &.bc-col-3 {
                  border-top: solid 1px #dbddde;
                  width: calc(50% - 16px);
                }
                &.bc-col-2 {
                  border: solid 1px #dbddde;
                  border-radius: 50%;
                  font-size: 14px;
                  height: 32px;
                  width: 32px;
                  span {
                    font-size: 13px;
                    position: relative;
                    top: 4px;
                  }
                }
              }
              &.bc-row-cont {
                padding: 15px 0px 0px;
                .bct-row-1 {
                  color: #000;
                  font-family: 'Roboto-Medium';
                  font-size: 16px;
                }
                .bct-row-2 {
                  padding-top: 5px;
                  .support {
                    background: url('../../../../assets/images/common/email-fill-circle.png') no-repeat 0px 2px;
                    padding-left: 28px;
                    padding-bottom: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }