::ng-deep{ 
        .ck.ck-editor__main > .ck-editor__editable {
        min-height: 150px !important;
        border-bottom-right-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        }   
    .no-padding {
        padding: 0px !important;
        
    } 
    &.right-padding{
        padding-right: 0px !important;  
    }       
    .no-margin {
        margin: 0px !important
    }
    .shop-view-container{
        &.no-padding{
            padding:20px !important;
        }
        
    }
    .loader{
        &.ann-loader{
            position: relative !important;
            top:120px !important;
            img{
                position: absolute !important;
            }
        }
    }
    
    .middle-container{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 29px 22px 31px 26px;
        border-radius: 16px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
		&.task-container {
            background: transparent;
            padding: 10px 0px;
        }
    }
    .lt-container{
        height: 100%;
        padding: 0;
        margin: 0 !important;
        border-radius: 10px;
        background-color: #3c424d;
        width: 100%;
    }
    .user-row{
        //border-top:1px solid #2a2e35;
        padding: 10px 0 10px 10px;                            
    }
    .profile-row{
        
        &:hover{
            .more-button {
                visibility: visible;
            }
        }
        .more-button{
            visibility: hidden;
        }

        cursor: pointer;
        border-radius: 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background-color :transparent;
        padding:6px 0 6px 3px;
        margin: 6px 0 6px 0;
        color: #b5bcca;

        &:hover{
            background-color:#469073;
            padding: 6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #ffffff;
        }
        &.active{
           //background-color:var(--ID19);
            background-color:#469073;
            padding: 6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #ffffff;
        } 
       /* &.normal{
            background-color :transparent;
            padding:6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #b5bcca;
        }*/
        .profile-row-inner{
            padding-left:5px;
        }
        .pimg{
            display: inline-block;                
            width: 30px;
            vertical-align: top;        
        }
        .uname{
            font-family: "Roboto-Regular";
            font-size: 14px;                                   
            margin-left: 0;
            display: inline-block;
            padding-left: 5px;
            width: calc(100% - 35px);
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;               
        }                              
    }
    .top-row{
        width: 100%;
        display: block;
        padding-bottom: 20px;
        .top-lt{
            display: inline-block;
            width: 311px;
            height: 230px;
            margin: 0 25px 0 0;
            padding: 0;
            border-radius: 7.5px;
            border: solid 1px #dfdfdf;
            background-color: #e4f2f0;
        }
        .top-rt{
            display: inline-block;
            padding-left: 20px;
            width: calc(100% - 343px);
            vertical-align: top;
            .title{
                font-family: Roboto-Bold;
                font-size: 29px;
                color: #000;
                padding-bottom: 10px;
                display: block;
            }
            .img-text-row{
                padding-bottom: 10px;
                display: block;
                .img-col{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    /* width: 50px; */
                    margin: 0 10px 0 0;
                }
                .text-col{
                    width: calc(100% - 50px);
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    font-family: Roboto-Regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000;
                    p{
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
        .set-width-100{
            width: 100%;
            display: block;
            .set-width-50{
                display: inline-block;
                width: 50%;
            }
        }
    }
    .header-container{
            height: 46px;
            background: #ffffff;
            display: table;
            width: 100%;
            .no-padding{
                padding: 0 20px 0 20px !important;
            }
            
        .heading-text-lt{
            position: relative;
            font-family: "Roboto-Bold";
            font-size: 20px; 
            position: relative;
            vertical-align: middle;
            .green-text{
                color:#469073;
            }
        }
        .heading-text-md{
            font-family: "Roboto-Medium";
            font-size: 18px;  
            position: relative;
            vertical-align: middle;
        }
        .heading-text-rt{
            position: relative;
            vertical-align: middle;
        }
    }
    .v-middle{
        display:table-cell !important;
        vertical-align:middle;
    }
    .progress-div{
        background-color: #818489;
        width: 100%;
        border-radius: 6px;
        margin:0 0 30px 0;
        padding: 0 14px 0 10px;
        display: table;
        height: 40px;
        .lt{
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            .pro-text{
                font-family: "Roboto-Medium";
                font-size: 14px;  
                color:#fbfbfb;
                padding-left: 10px;
                display: inline-block;
            }
            .data-text{
                font-family: "Roboto-Regular";
                font-size: 15px;  
                color:#ffffff;
                padding-left: 50px;
                display: inline-block;
            }            
        }
        .rt{
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            .excel-text{
                font-family: "Roboto-Regular";
                font-size: 14px;  
                color:#ffffff;
                padding-left: 8px;
                display: inline-block;
            }
        }
    }
    .step-div{
        margin:25px 0 25px -18px;
        .set-width-steps{
            width: 11%;
            display: inline-block;
        }
        .step-border-width{
            width: calc(100% - 57px);
            height: 1px;           
            display: inline-block;
            position: relative;
            vertical-align: top;
            top:25px;
            overflow: hidden;
            &.step-bg-1{
                border:1px solid #fee300;
            }
            &.step-bg-2{
                border:1px solid #ffc000;
            }
            &.step-bg-3{
                border:1px solid #fe8f00;
            }
            &.step-bg-4{
                border:1px solid #28a977;
            }
            &.step-bg-5{
                border:1px solid #1da02c;
            }
            &.step-bg-6{
                border:1px solid #c8c8c8;
            }
            &.step-bg-7{
                border:1px solid #c8c8c8;
            }
            &.step-bg-8{
                border:1px solid #c8c8c8;
            }
            &.step-bg-9{
                border:1px solid #c8c8c8;
            }
        }
        .step{
            display: inline-block;
            width: 50px;
            height: auto;
            text-align: center;
            margin-left: 0;  
            margin-right: 0;
            vertical-align: top;
            &.step-2{
                margin-left: 0;  
            }        
        } 
        .step-bg{
            background: #fff;
            height: 50px;
            text-align: center;
            transform: rotate(45deg);
            width: 50px;
            border-radius: 6px;
            img{
                transform: rotate(312deg);
                vertical-align: top;
                position: relative;
                top: 19px;
            }
            &.step-bg-1{
                background: #fee300;
            }
            &.step-bg-2{
                background: #ffc000;
            }
            &.step-bg-3{
                background: #fe8f00;
            }
            &.step-bg-4{
                background: #28a977;
            }
            &.step-bg-5{
                background: #1da02c;
            }
            &.step-bg-6{
                border:1px solid #c8c8c8;
            }
            &.step-bg-7{
                border:1px solid #c8c8c8;
            }
            &.step-bg-8{
                border:1px solid #c8c8c8;
            }
            &.step-bg-9{
                border:1px solid #c8c8c8;
            }
        }       
       /* #diamond {
            width: 0;
            height: 0;
            border: 25px solid transparent;                
            position: relative;
            top: -25px;
            &.step-bg-1{
                border-bottom-color: #fee300;
            }
            &.step-bg-2{
                border-bottom-color: #ffc000;
            }
            &.step-bg-3{
                border-bottom-color: #fe8f00;
            }
            &.step-bg-4{
                border-bottom-color: #28a977;
            }
            &.step-bg-5{
                border-bottom-color: #1da02c;
            }
            
        }
        #diamond:after {
            content: '';
            position: absolute;
            left: -25px;
            top: 25px;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            .step-bg-1{
                border-top-color: #fee300;
            }
            .step-bg-2{
                border-top-color: #ffc000;
            }
            .step-bg-3{
                border-top-color: #fe8f00;
            }
            .step-bg-4{
                border-top-color: #28a977;
            }
            .step-bg-5{
                border-top-color: #1da02c;
            }
        }*/
        
        .step-line{
            display: block;
            border:1px solid #c8c8c8;
            height: 50px;
            width: 1px;
            margin: 0 auto;
        }
        .step-circle{
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            border: 1px solid #c8c8c8;;
            text-align: center;
            margin: 0 auto;
            .number-text{
                font-family: "Roboto-Medium";
                font-size: 14px;  
                color:#000000;
                position: relative;
                left:0;
            }
        }
        .step-text{
            display: block;
            font-family: "Roboto-Medium";
            font-size: 14px;  
            color:#000000;
            padding: 10px 0;
           /* width: 100px;
            margin: 0 0 0 -25px;*/
            width: 115px;
            margin: 0 0 0 -36px;
        }
        
       
    }
    .percentage-div{
        width: 100%;        
        margin:0 0 30px 0;       
        display: table;
        .new-div{
            width: 36%;
            display: table-cell;
        }
        .exist-div{
            width: auto;
            padding-left: 40px;
            display: table-cell;
        }
        .set-border{
            border:1px solid #c8c8c8;
            width: 100%;
            text-align: center;
        }
        .text-div{
            font-family: "Roboto-Medium";
            font-size: 16px;  
            color:#000000;
            height: 50px;
            align-items: center;
            display: inline-flex;
            text-transform: uppercase;
        }
        .perc-div{
            font-family: "Roboto-Medium";
            font-size: 30px;  
            color:#21a481;
            height:120px;
            align-items: center;
            display: inline-flex;
            .span-div-1{
                width: 30%;
                background-color: #ecfeec;
                height: 100%;
                display: grid;
                .text-1{
                    color:#249853;
                }
            }
            .span-div-2{
                width: 30%;
                background-color: #ffffdf;
                height: 100%;
                display: grid;
                .text-1{
                    color:#ffc000;
                }
                border-left:1px solid #c8c8c8;
                border-right:1px solid #c8c8c8;
            }
            .span-div-3{
                width: 40%;
                background-color: #ffe2e0;
                height: 100%;
                display: grid;
                .text-1{
                    color:#ff3325;
                }
            }
            p{
                padding: 0;
                margin: 0;
                line-height: normal;
                &.text-1{
                    font-family: "Roboto-Medium";
                    font-size: 30px; 
                    display: grid;
                    align-items: flex-end; 
                }
                &.text-2{
                    font-family: "Roboto-Medium";
                    font-size: 15px;  
                    color:#000000;
                    text-transform: uppercase;
                }
            }
        }
        .set-bottom-border{
            border-bottom:1px solid #c8c8c8;
        }
    }
    .p-tree{
        border: none;
        background: transparent;
        color: #abb6cc;
        padding: 0;
        font-family: "Roboto-Regular";
        font-size: 14px;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover{
        background: #469073;
        color: #ffffff;
        box-shadow: none;
        border: none;
        outline: none;
        border-radius: 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight{
        background: #469073;
        color: #ffffff;
        box-shadow: none;
        border: none;
        outline: none;
        border-radius: 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .p-tree .p-tree-container .p-treenode{
        padding: 5px 0 5px 0;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover{
        color:#fff;
        background: transparent;
        box-shadow: none;
        border: none;
        outline: none;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler{
        color:#fff;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus{
        color:#fff;
        /*background: transparent;*/
        box-shadow: none;
        border: none;
        outline: none;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content:focus{
        /*background: transparent;*/
        box-shadow: none;
        border: none;
        outline: none;
    }
    
}
.report-section {
    background: #FFF;
    padding: 15px 0px 20px;
    margin: 0px 10px 20px;
    .mat-toolbar {
        height: auto;
    }
    &:first-child {
        ::ng-deep {
            .p-accordion.p-component {
                margin-top: -20px;
            }
        }    
    }
    ::ng-deep {
        .p-accordion.p-component {
            margin-right: 15px;
            margin-left: 15px;
        }
        .pi-chevron-down {
            border: solid 2px #b5bcca;
            border-radius: 50%;
            height: 26px;
            width: 26px;
            right: 10px !important;
            transform: rotate(180deg) !important;
            &:before {
                content: "\e902" !important;
                vertical-align: middle;
            }
        }
        .pi-chevron-right {
            border: solid 2px #b5bcca;
            border-radius: 50%;
            height: 26px;
            width: 26px;
            right: 10px !important;
            transform: rotate(90deg) !important;
            &:before {
                content: "\e901" !important;
                vertical-align: middle;
                position: relative;
                left: 1px;
            }
        }
        .section {
            .p-accordion-tab {
                .p-accordion-header {
                    border-bottom: solid 1px #dfe1e3;
                    .p-accordion-header-link {
                        background-color: #fff !important;
                        border: 0 none;
                        border-radius: 10px 10px 0px 0px !important;
                        display: flex;
                        font-weight: normal;
                        padding: 0px !important;
                    }
                    .p-accordion-header-link[aria-expanded=false] {
                        border-radius: 10px !important;
                        padding-bottom: 12px !important;
                    }
                    .p-accordion-toggle-icon {
                        .pi-chevron-down:before {
                            content: "\e902" !important;
                        }
                    }
                    &:hover {
                        .more-icon {
                            display: inline !important;
                        }
                    }
                }
                .sec-info {
                    display: block;
                    line-height: 24px;
                    padding: 10px 20px 0px 5px;
                    width: 100%;
                    .sec-title {
                        display: table;
                        font-family: 'Roboto-Bold';
                        padding: 0px 0px 0px 0px;
                        &.mod-title {
                            padding-left: 0px;
                        }
                        .sec-index {
                            align-items: center;
                            border-radius: 50%;
                            color: #FFFFFF;
                            display: table-cell;
                            width: 32px;
                            height: 32px;
                            text-align: center;
                            vertical-align: middle;
                        }
                        .sec-head {
                            color: #000000;
                            font-size: 18px;
                            padding-left: 15px;
                            position: relative;
                            top: -2px;
                            &.truncate {
                                display: -webkit-box;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                width: calc(100vw - 555px);
                                position: relative;
                                top: 3px;
                            }
                            .chevron {
                                vertical-align: middle;
                                font-size: 18px;
                            }
                            .equip {
                                padding-left: 20px;
                            }
                        }
                        .more-icon {
                            width: 31px;
                            height: 31px;
                            position: absolute;
                            right: 45px;
                            top: 12px;
                            svg {
                                path {
                                fill: var(--ID69);
                                }
                
                                circle {
                                fill: var(--ID70);
                                }
                            }
                        }
                    }
                    .sec-desc {
                        color: #000;
                        font-family: 'Roboto-Regular';
                        font-size: 15px;
                        line-height: 24px;
                        padding: 5px 0px 10px 63px;
                        p {
                            margin: 0;
                        }
                        &.mod-desc {
                            padding-left: 15px;
                        }
                    }
                }
                .p-accordion-content {
                    background-color: #FFF !important;
                    border-radius: 0px 0px 10px 10px !important;
                    padding-bottom: 20px;                    
                }
            }
            .content-list {
                padding: 0px 15px;
                .task-row {
                    padding-top: 5px;
                    .task-detail {
                        font-family: 'Roboto-Regular';
                        &.inline {
                            display: inline-block;
                            width: 20%;
                        }
                        &.border-top {
                            border-top: solid 1px #e3e3e3 !important;
                            margin-top: 15px;
                            padding-top: 5px;
                        }
                        .field-label {
                            background-repeat: no-repeat;
                            background-position: 0px 12px;
                            color: #777777;
                            font-size: 15px;
                            padding-left: 25px;
                            padding-bottom: 10px;
                            &.owner-icon {
                                background-image: url('../../../../../assets/images/audit/owner-icon.png');
                            }
                            &.task-level-icon {
                                background-image: url('../../../../../assets/images/audit/task-level-icon.png');
                            }
                            &.date-icon {
                                background-image: url('../../../../../assets/images/audit/field-date-icon.png');
                            }
                            &.comment-icon {
                                background-image: url('../../../../../assets/images/audit/comment-icon.png');
                            }
                            &.attachment-icon {
                                background-image: url('../../../../../assets/images/audit/attachment-icon.png');
                            }
                        }
                        .field-value {
                            color: #000000;
                            &.taskLevel {
                                background-color: #38ad5e;
                                border-radius: 12px;
                                color: #fff;
                                text-align: center;
                                width: 80px;
                                height: 26px;
                            }
                            &.comments {
                                line-height: 30px;
                            }
                        }
                    }
                }
                .form-horizontal {
                    font-family: 'Roboto-Regular';
                    font-size: 14px;
                    .form-items {
                        &.border-top {
                            border: 0 none !important;
                        }
                        &.inline {
                            display: inline-block;
                            width: 20%;
                            margin-right: 5%;
                            position: relative;
                        }
                        .required-text {
                            position: absolute;
                            right: 0;
                            top: 8px;
                        }
                        .field-label {
                            color: #9b9a9a;
                        }
                        .field-item {
                            input {
                                border: solid 1px #dbddde;
                                border-radius: 8px;
                                height: 41px;
                                width: 100%;
                            }
                            .p-dropdown {
                                border-radius: 8px;
                                .pi-chevron-down {
                                    border: 0 none;
                                    transform: rotate(0) !important;
                                }
                            }
                            .p-button {
                                background-color: #b2b2b2;
                            }
                        }
                    }
                }
            }
        }
    }
    .p-button-danger {
        color: #FFF;
        font-size: 14px;
        margin-right: 15px;
        &.title-button {
            padding: 2px 10px;
            position: absolute;
            right: 85px;
            top: 10px;
        }
    }
}