.part-infos {
    background-color: #ffffff;
    border-radius: 10px;
    font-family: Roboto-Medium;
    font-size: 14px;
    margin-bottom: 0px;
    position: relative;
    height: 100%;
  
}
.topwidth{
    width:100%;
}
.btn {
  border-radius: 18px;
  padding: 4px 15px;
  font-family: Roboto-Medium;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  &.days-text {
    background-color: #76757c;
  }
  &.tag {
    background-color: #62779f;
  }
}
.titles {
    border-bottom: solid 1px #e6e8ec;
    display: table;
    padding: 15px 30px;
    width: 100%;
}
.edit-historys-div {
  padding: 30px 10px 0 20px;
}
.post-div-rights{
  position: absolute;
    width: 24%;
    height: 70%;
    overflow-y: auto;
}
.unbox {
    border-bottom: solid 1px #e6e8ec;
    display: table;
    padding: 22px 0px 22px 30px;
    width: 94%;
    background-color: #f6f7f7;
    margin-left: 25px;
}
.borders {
    display: table;
    padding: 13px 0px 10px 30px;
    width: 100%;
    background-color: #eff0f1;
    border-bottom: solid 1px #e6e8ec;
}
.descHead {
  display: table;
  padding: 13px 7px 13px 11px;
  width: 100%;
  background-color: #fff;
}

.box {
    border-bottom: solid 1px #e6e8ec;
    display: table;
    padding: 22px 0px 22px 30px;
    width: 94%;
    margin-left: 25px;
}
.online{
    background-color: #28ac69;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    border: 2px solid #fff;
}

.title-word {
    color: #93989d;
    padding: 0px 0px 0px 4px;
}

.bProfile {
    width: 40px;
    height: 40px;
    margin: 0px 194px -13px 8px;
    opacity: 2.9;
}

.userName {
    margin: 3px 1px 0px -196px;
    color: #2b2b2b;
    font-weight: 600;
    font-family: 'Roboto-Medium';
}

.userRole {
    margin: -11px 0px 0px 47px;
    color: #2b2b2b;
    font-family: 'Roboto-Regular';
}

.date {
    color: #878787;
    font-family: 'Roboto-Regular';
    font-size: 13px;
    display: block
}

.text {
    color: #333;
    font-family: 'Roboto-Regular';
    padding: 6px 1px 0px 4px;
}

.th-col {
    width: 25%;
    min-width: 146px;
    text-align: right;
}

.display-tableCell {
    display: table-cell;
    vertical-align: middle;
}

.attachment {
    background-color: #818489;
}

.attachment-title {
    padding: 0px 0px 0px 24px;
    color: #fbfbfb;
    font-family: 'Roboto-Regular';
}
.p-accordion-tab {
    margin-bottom: 30px;
}

.new-col {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    font-family: 'Roboto-Regular';
    &.actions {
        text-align: right;
        .btn {
          border-radius: 6px;
          font-size: 14px;
          margin: 0px 7px 3px 11px;
          padding: 5px 15px;
        }
    }
    .next {
        background-color: #c4413e;
        color: #ffffff;
    }
}
.nexts{
    background-color: #4d4d4d;
    color: #ffffff;
}
.thread-detail-sections {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;
    .th-outer-col {
      display: inline-block;
      vertical-align: top;
    }
    .th-outer-col-1 {
      width: 6%;
    }
    .th-outer-col-2 {
      &.col-expand {
        width: 76%;
        transition: all 0.5s;
      }
      &.col-collapse {
        width: 93%;
        transition: all 0.5s;
      }
      &.th-outer-col-2-ms{
        width: 100%;
        transition: all 0.5s;
      }
      .thread-post {
        scroll-behavior: auto;
        max-height: 100% !important;
        position: relative;
      }
    }
    .th-outer-col-3 {
      float: right;
      &.col-expand {
        width: 16%;
        transition: all 0.5s;
      }
      &.col-collapse {
        width: 1%;
        transition: all 0.5s;
      }
      .cust-right-panel {
        &.right-panel-collapse {
          right: -5px;
          top: 70px;
          width: 36px;
          position: absolute;
        }
      }
    }
}
.thread-detail-div {
    width: 100%;
    display: table;
    position: relative;
    .thread-detail-div-col {
      display: inline-block;
      vertical-align: top;
    }
    .thread-detail-div-left {
      width: 76%;
      .thread-detail-view {
        background-color: #ffffff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #d5dceb;
        &.thread-detail-view-no-post {
          border-radius: 16px;
        }
      }
    }
}

.thread-post {
    scroll-behavior: auto;
    max-height: 100% !important;
    position: relative;
}
.thread-detail-div-right {
  position: absolute;
  width: 24%;
  height: 100%;
  overflow-y: auto;

  .fixed-button-top {
    position: fixed;
    z-index: 999;
    top: 92px;
    padding: 30px 0 0 20px;
    width: 16%;
    height: 90px;
    
  }
  .fixed-button-bottom {
    position: fixed;
    z-index: 999;
    bottom: 60px;
    width: 16%;
    padding-left: 20px;
  }
  .button-green {
    background-color: #28ac69;
    border-radius: 18px;
    padding: 4px 15px;
    text-align: center;
    width: 146px;
    height: 32px;
    cursor: pointer;
    .button-text {
      font-family: Roboto-Medium;
      color: #ffffff;
      font-size: 14px;
      line-height: 12px;
    }
    .botton-icon {
      position: relative;
      top: -1px;
      margin-left: 4px;
      width: 14px;
      display: inline-block;
    }
  }
  .thread-history-div {
    position: relative;
    z-index: 99;
    padding: 88px 10px 0 20px;
  }
}
.edit-history-div {
  padding: 10px 10px 0 20px;
}
.thread-detail-scroll-to {
  overflow-y: auto;
  visibility: hidden;
}
.th-heads-img {
  display: inline-block;
  width: 38px;
  height: 50px;
  position: relative;
  top: 2px;
  margin: 0 10px 0 0;
  span {
    &.rounded-circle {
      display: block;
      background-image: url("https://s3-us-west-2.amazonaws.com/cbt-demo-file-output/userprofile/thumb_profile_image.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 47px;
      height: 47px;
      background-color: #ffffff;
    }
    &.rounded1-circle {
      display: block;
      background-image: url("https://s3-us-west-2.amazonaws.com/cbt-demo-file-output/userprofile/thumb_profile_image.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      width: auto;
      height: 100%;
      background-color: #ffffff;
      border-radius: 50%;
    }
    &.availability-status {
      top: -13px;
      left: 35px;
      height: 10px;
      width: 10px;
      border: none;
    }
  }
}
.th-head-text1 {
  font-family: Roboto-Bold;
  color: #2b2b2b;
  font-size: 14px;
  display: block;
  padding: 0px 0px 0px 6px;
}
.th-head-text2 {
  font-family: Roboto-Regular;
  color: #2b2b2b;
  font-size: 13px;
  display: block;   
  padding: 0px 0px 0px 6px;         
}
.th-head-text3 {
  font-family: Roboto-Light;
    color: #a09f9f;
    font-size: 12px;
    font-style: italic;
    display: block;
    padding: 0px 0px 0px 6px;
}
.th-phone-img{
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0 12px 0 0;            
  img{
    position: relative;
    top: 0;                        
  }         
}
.display-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.c1 {
  width: 47px;
}
.c2 {
  width: 50px;
}
.thread-head-col4 {
  width: 25%;
  min-width: 146px;
  text-align: right;
  .days-text {
    font-family: Roboto-Regular;
    text-transform: uppercase;
  }
}
.th-date-text {
  font-family: Roboto-Regular;
  color: #878787;
  font-size: 14px;
  display: block;
  padding: 0 0 3px 0;
  &.post-date-text {
    padding: 0;
    display: inline-block;
  }
}
.post-new {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid #d5dceb;
  border-top: none;
  &.remove-radius {
    border-radius: 0;
  }
}
.height100{
  height: 100%;
}
.availability-status1 {
  /* float: left; */
  position: relative;
  top: -16px;
  left: 35px;
  /* color: #FFFFFF; */
  /* background-color: #FF0000; */
  height: 15px;
  width: 15px;
  background-color: #00b050;
  border-radius: 50%;
  display: block;
  border: 2px solid #fff;
}
.post-div {
  width: 100%;
  display: table;
  position: relative;
  .post-div-col {
    display: inline-block;
    vertical-align: top;
  }
  .post-div-left {
    width: 76%;
  }
}
.post-div-lefts {
  width: 76%;
}
.padding10px {
  padding: 10px 0px 0px 0px;
}
.attachment-row-bugs {
  cursor: default;
  padding: 14px 0px;
}
.post-views {
  background-color: #e5e8ec;
  border: 1px solid #d5dceb;
  border-top: none;
  border-bottom: none;
}
.padding2{
  padding:2px
}
.display-table {
  display: table;
}
.table-row7-border{
  border-top: 1px solid #e7ebeb;
}
.post-view-last {
  border-bottom: 1px solid #d5dceb;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.post-view {  

  background-color: #e5e8ec;
  padding: 5px 0px 0px 0px !important;
  border: 1px solid #d5dceb;
  border-top: none;
  border-bottom: none;

  &.fixes-view{
    background-color: #7c7fa4;
    border:1px solid #d5dceb;
    border-top: none;
    border-bottom: none;              
  }

  &.first-div{
    padding: 20px 0px 0px 30px;
  }
  
  &.nested-post-view{
    padding-left: 150px;
    padding-top: 26px;
    padding-bottom: 0px;
  }

  &.padding-bottom{
    padding-bottom: 10px;
  }

  .seperater{
    display: block;                
    width: 100%;
    height: 48px;     
  }
  .lt-img{
    display: inline-block;   
            
  }
  .ct-text{
    display: inline-block;
    padding-left: 10px;
    font-family: "Roboto-Bold";
    color: #717171;               
    font-size: 15px;
    width: 40px;  
    &.comment-text{
      width: 90px;
    }
    &.ct-text-white{
      color: #ffffff;  
    }
  }
  .rt-dot{
    display: inline-block;
    position: relative;
    top: -3px;
    height: 1px;
    overflow: hidden;
    right: -14px;
    border-top: 1px #5e646f dashed;
    width: calc( 100% - 102px);
    line-height: normal;
    &.rt-dot-white{
      border-top: 1px #a9a2cc dashed;
    }
    &.comment-dot{
      right: 0;
      width: calc( 100% - 138px);
    }
    &.reply-dot{
      right: -23px;
      width: calc( 100% - 111px);
    }
  }
 
  &.post-view-last {
    border-bottom: 1px solid #d5dceb;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .post-view-paddBottom {
    padding: 0 0 30px 0;
  }

  .post-row {
    width: 100%;

    .delete-comment-row{
      background-color: #ffffff;
      padding:25px;
      text-align: center;
      border-radius: 6px;
      box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
      width: 100%;
      display: block;
      .img{
        width: 21px;
        height: 17px;
        display: inline-block;    
        position: relative;
        top: -2px;              
      }
      .text{
        width:auto;
        display: inline-block;
        font-family: "Roboto-Regular";
        color: #bebfc3;
        font-size: 13.5px;
        font-style: italic;
      }
    }

    .post-col {
      vertical-align: top;

      &.post-col1 {
        width: 58px;

        .post-profile-img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          .post-p-img{
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
          }
          span {
            &.rounded-circle {
              display: block;
              background-image: url("https://s3-us-west-2.amazonaws.com/cbt-demo-file-output/userprofile/thumb_profile_image.png");
              background-position: top;
              background-repeat: no-repeat;
              background-size: cover;
              width: auto;
              height: 100%;
              background-color: #ffffff;
            }

            &.availability-status {
              top: -16px;
              left: 38px;
              height: 10px;
              width: 10px;
              border: none;
            }
          }
        }
      }

      &.post-col2 {
        .post-head {
          width: 100%;
          margin-top: -5px;

          .post-head-col1 {
            width: 60%;
            vertical-align: top;

            .name-text {
              font-family: Roboto-Bold;
              color: #2b2b2b;
              font-size: 15px;
              &.name-text-white{
                color:#ffffff;
              }
            }

              

                .title-text {
                  display: inline-block;
                  vertical-align: middle;
                  font-family: Roboto-Regular;
                  color: #7d7d7d;
                  cursor: default;
                  font-size: 13px;
                  line-height: normal;
                  padding: 0;                            

                  &.title-text-white{
                    color:#d7d3ef;
                  }

                  &.marginTop8{
                    margin-top:-9px;
                  }
                  &.marginTop16{
                    margin-top:-16px;
                  }
                  

                  .truncate {
                    display: -webkit-inline-box;
                    width: 100%;
                    vertical-align: middle;

                    &.more {
                      max-width: 70%;
                    }
                  }
                }
                span {
                  padding-right: 5px;
                &.thread-owner-label {
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: -20%;
                  /*position: relative;
                  top: -5px;*/
                }
              }
            

            .posted-text {
              font-family: "Roboto-Regular";
              color: #94a3d8;
              font-size: 13px;
              font-style: italic;
              margin-top: 0px;
              &.posted-text-white{
                color: #c0bbdc;
              }
              &.marginTop6{
                margin-top:-4px;
              }
              &.marginTop12{
                margin-top:-9px;
              }
            }

            .post-head-inner-col {
              display: block;

              .post-head-inner-col1 {
                display: inline-block;
              }

              .post-head-inner-col2 {
                display: inline-block;
              }
            }

            // .thread-owner-label {
            //   /*position: relative;*/
            //   display: inline-block;
            //   vertical-align: middle;
            //   background-image: url("assets/images/thread-detail/thread-owner-strip.png");
            //   background-position: top;
            //   background-repeat: no-repeat;
            //   width: 110px;
            //   height: 24px;
            //   top: -10px;
            //   left: 14px;
            //   &.thread-owner-label-white{
            //     background-image: url("assets/images/thread-detail/thread-owner-strip-fix.png");
            //   }
            // }
          }

          .post-head-col2 {
            width: 40%;
            text-align: right;

            span {
              padding-left: 10px;

              img {
                &.post-edit-img {
                  position: relative;
                  top: -2px;
                }

                &.post-delete-img {
                  position: relative;
                  top: -2px;
                }
              }
            }
          }
        }

        .post-cont {
          font-family: Roboto-Regular;
          font-size: 14px;
          font-weight: normal;
          margin-top: 5px;
          padding: 10px 20px 0;
          background-color: #ffffff;
          border-radius: 6px;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
          transition: 2s background-color;
          &.active{
            border: solid 2px #feabaa;
            background-color: #fff5f5;
          }
          &.post-cont-active{
            background-color: #fcc1c1;  
            transition: 2s background-color;                                        
          }

          &.post-cont-fixes-1{
            border-left:5px solid #2fbf70;
          }
          &.post-cont-fixes-2{
            border-left:5px solid #f9c117;
          }

          .post-desp {
            font-family: Roboto-Regular;
            color: #666666;
            font-size: 15px;
            padding: 0 0 5px 0;
            margin: 0;
            line-height: 22px;
            word-break: break-all;

            p {
              word-break: break-word;
              &:last-child{
                margin-top: 0;
                margin-bottom: 0;
              }
            }

            ul {
              li {
                word-break: break-word;
              }
            }
          }

          .refer-info {
            padding: 0 0 30px 0;

            .label {
              display: none;
            }

            .attachment-cont {
              margin: 0;
              padding: 0 0 10px 0;
            }

            .attachment-col {
              &.cont-col {
                /*width: 70%;*/
                width: calc(100% - 140px);
              }

              &.doc-bg {
                background-size: 70% !important;
              }
            }
          }
        }
      }
    }
  }            
}

.th-post-date{
  width: 18%;
    min-width: 146px;
    text-align: right;
}
// .labels{
//   padding: 0 !important;
//   .refer-info {
//     padding: 0 !important;
  
//     .label {
//       display: none;
//     }
  
//     .attachment-cont {
//       margin: 0;
//       padding: 0 0 10px 0;
//     }
  
//     .attachment-col {
//       &.cont-col {
//         /*width: 70%;*/
//         width: calc(100% - 140px);
//       }
  
//       &.doc-bg {
//         background-size: 70% !important;
//       }
//     }
//   }
// }



body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info.attachment-info .attachment-cont .attachment-row:last-child{
  padding: 0 !important
}
body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont {
  padding: 0 !important;
}
::ng-deep {
  .refer-info.attachment-info .attachment-cont .cdk-drag-preview, .refer-info.attachment-info .attachment-cont .attachment-row{
    padding: 0 !important
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info .attachment-cont{
    padding: 0 !important
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info{
    padding: 0 0 20px 0 !important;
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .upload-area .upload-col.files{
    width: 60%;
  }
  .domain-members-container-pscroll{
    height: calc(100vh - 200px);
  }
  body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-div .post-div-right {
    height: 60%;
  }
}
.toppad{
  padding: 10px 20px 0px 20px;
}
.cancels{
  padding: 8px 20px 2px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
}
.cancels-btn-text{
 color: #acacac
}
.btns {
  border-radius: 6px;
  font-size: 14px;
  margin: 0px 5px 5px;
  padding: 5px 15px;

  img {
    position: relative;
    top: -1px;
    left: 2px;
  }

  &.cancels {
    border: solid 1px #cecece;
    color: #aaaaaa;

    img {
      width: 10px;
    }
  }
  
}