.KA_desc {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    padding-left: 0.5rem;
    text-align: left;
    color: #3e4144;
  }
  .no-margin {
    margin: 0px!important;
  }
  .header-class-domain {
    height: 61px;
    padding: 11px 738px 10px 739px;
    box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  .flex-align-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-view-text {
    font-family: "Roboto-Regular";
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .margin-right-40px {
    margin-right: 40px;
  }
  .margin-right-10px {
    margin-right: 10px;
  }
  .selected-view-text {
    font-family: "Roboto-Regular";
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fa972d;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .flex-end {
    display: flex;
    justify-content: end;
  }
  .select-nav-menu {
    background-color: #469073 !important;
    border-radius: 40px 0 0 40px;
  }
  .custom-padding-nav-menu {
    padding: 5px;
    margin-bottom: 7px;
  }
  .size-text-design {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #777;
    span {
      margin-left: 20px;
    }
  }
  .side-menu-text-style {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #abb6cc;
  }
  .side-menu-text-style-selected {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .flex-align-center {
    display: flex;
    align-items: center;
  }
  .custom-flex-info {
    flex: 0 0 22%;
  }
  .descrition-style {
    background-color: #f7f7f7;
    border-left: 5px solid #469073;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    min-height: 80px;
    width: 100%;
  }
  .custom-margin-heading {
    margin-top: 30px;
  }
  .text-heading-section-right {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  .custom-position-text {
    position: relative;
    left: 0%;
    bottom: 15px;
  }
  .def-select.select-model, .def-select.select-tags {
    margin-top: 10px!important;
  }
  .icon-color {
    font-size: 15px;
    color: #999999!important;
    margin-right: 10px;
  }
  .website-text {
    /*width: 100%;*/
    font-size: 15px;
    text-align: left;
    color: #000!important;
  }
  .margin-bottom-10px {
    margin-bottom: 10px;
  }
  .color-orange {
    color: #fa972d!important;
  }
  .icon-new-color {
    font-size: 15px;
    color: #999999!important;
    margin-right: 10px;
  }
  .new-top-custom-style {
    background-color: #fff;
    padding: 5px 0px 20px 0px;
  }
  .text-subheading-section-right {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  .padding-right-0px {
    padding-right: 0px;
    padding-left: 30px;
  }
  .img-parent {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
  }
  .custom-padding-heading {
    padding: 0px;
  }
  .width-80-perc {
    width: 80%;
  }
  .flex-center {
    display: flex;
    justify-content: center;
  }
  .new-header-image {
    display: table;
    justify-content: center;
    z-index: 1;
    width: 100%;
    vertical-align: middle;
  }
  .top-image-section-new {
    position: absolute;
    bottom: 85%;
    margin: 0px;
  }
  .top-image-section-new-1 {
    position: absolute;
    bottom: 90%;
    margin: 0px;
  }
  .width-426px {
    width: 426px!important;
  }
  .new-top-image-section {
    top: -19%;
    margin: 0px;
  }
  .height-55-vh {
    height: 55vh;
  }
  .margin-bottom-20px {
    margin-bottom: 20px!important;
  }
  .margin-right-left-0 {
    margin-right: 0px!important;
    margin-left: 0px!important;
  }
  .custom-position-1 {
    position: relative;
    top: 20%;
  }
  .custom-position-2 {
    position: relative;
    top: 70%;
  }
  .margin-0-auto {
    margin: 0 auto!important
  }
  .custom-position-3 {
    position: relative;
    top: 15%;
  }
  .custom-position-4 {
    position: relative;
    top: 18%;
  }
  .image-section {
    padding: 40px 15px;
    background-color: white;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #eee;
    min-height: 150px;
    img {
        width: auto;
        height: auto;
    }
  }
  .KA_input_text {
    width: 100% !important;
    border: solid 1px #dbddde;
    background: #fbfbfb !important;
    height: 41px;
    border-radius: 0px!important;
  }
  .KA2_input_text {
    width: 100% !important;
    border: solid 1px #dbddde;
    background-color: #fbfbfb !important;
    border-radius: 0px!important;
    height: 101px;
  }
  .no-padding {
    padding: 0px!important;
  }
  .padding-left-0px {
    padding-left: 0px!important;
  }
  .padding-right-0px {
    padding-right: 0px!important;
  }
  .backgroud-color-black {
    border-radius: 10px;
    background-color: #3c424d;
  }
  .no-right-pad {
    padding-right: 0 !important;
  }
  .custom-margin-gallery {
    // margin: 30px 0 0 0!important;
  }
  .custom-browse-class {
    margin: 0px 10px 0px 0px!important;
    height: 33px!important;
    width: 33px!important;
    background-size: 40px!important;
  }
  .custom-browse-parent-class {
    width: 600px!important;
    display: flex!important;
    height: 70px!important;
    justify-content: center!important;
    align-items: center!important;
    flex-wrap: wrap!important;
    padding: 8px 10px!important;
  }
  ::ng-deep {
    .margin-right-10px {
      margin-right: 10px;
    }
    .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
      border-color: #469073!important;
      background: #fff!important;
      .p-radiobutton-icon {
        background-color: #469073!important;
      }
    }
    .p-focus {
      box-shadow: none!important;
    }
    .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
      border-color: #469073!important;
    }
    .p-radiobutton .p-radiobutton-box.p-highlight {
      border-color: #469073!important;
      background: #fff!important;
      .p-radiobutton-icon {
        background-color: #469073!important;
      }
    }
    .p-inputtext.ng-dirty.ng-invalid {
      border-color: #ced4da;
    }
    .iti__selected-flag.dropdown-toggle {
      width: 70px !important;
    }
    .iti.separate-dial-code input{
      padding-left: 75px !important;
    }
    .ck.ck-editor__main > .ck-editor__editable {
      min-height: 150px !important;
      border-bottom-right-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
    }

    .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
    .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
      border-top-left-radius: 8px !important;
      border-top-right-radius: 8px !important;
    }
  }
  body
    .wrapper
    #content
    .prob-new
    .new-pro-cont
    .form-cont
    .form-horizontal
    .form-items
    .prob-form-row
    .form-col.upload-col
    .prob-upload.upload-bg-KA {
    background-position: initial !important;
    background-size: cover !important;
    padding: 88px 0px;
    position: relative;
  }
  .KA_required {
    float: right;
    color: #b2b2b2;
    font-size: 14px;
  }
  .KA_error_msg {
    position: relative;
    top: 15px;
    left: 5px;
  }
    /** Perfect Scrollbar */
    ::ng-deep body .ps {
      &.ps--active-y {
        .ps__rail-y {
          z-index: 100;
        }
      }
    }
    .def-select.select-tags .tag-col.tag-bg{
      width: 32px !important
    }
    .def-select.select-tags .tag-col.cat-bg{
      width: 32px !important
    }
  .count-text-style {
      padding-right: 1.5%!important;
      text-align: left;
      color: #b2b2b2;
      font-size: 13px;
      font-style: italic;
      margin-top: 2px;
  }
  .custom-field-margin-padding-new {
    padding: 0 0 0 20px!important;
    margin: 0px 0px 20px 0px!important;
    color: #9b9a9a!important;
  }
  .width-128px {
    min-width: 124px;
    text-align: right;
  }
  .margin-bottom-20px {
    margin-bottom: 20px;
  }
  .prob-new .new-pro-cont .form-cont .form-horizontal .form-items .prob-form-row .form-col.upload-col .prob-upload {
    margin-top: 15px!important;
  }

  .mr-top-10 {
    margin-top: 10px;
  }

  .mr-top-15 {
    margin-top: 15px;
  }

  .prob-new .new-pro-cont .form-cont .form-horizontal .form-items .prob-form-row .form-col.upload-col .prob-upload.mr-top-30 {
    margin-top: 30px !important;
  }

  .pad-0 {
    padding: 0 !important;
  }
  button.cancelBtn {
    background: no-repeat;
    border: none;
    color: #afafae;
  }
  button.cancelBtn:disabled {
    cursor: not-allowed;
  }
  .header-row {
    margin: 0 auto;
    display: block;
    padding: 18px 16px;
  }
  .new-text {
    font-family: Roboto-Bold;
    color: #469073;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
  }

  .prob-header {
    background-color: #fff;
    width: 100%;
    margin: 0;
  }

  :host ::ng-deep .ck-editor__editable_inline {
    height: 350px !important;
  }

  :host ::ng-deep .ck .ck-placeholder:before {
    color: #cecece;
  }

  .custom-field-margin-padding-new .field-title {
    margin-left: 8px;
  }

  .policy-content-new-html {
    height: 100%;
    text-align: center;
  }

  .add-policy-text {
    font-size: 15px;
    color: #9b9a9a;
   padding: 30px;
  }

  .add-new-policy {
    // margin: 15px auto;
    display: flex;
  }

  .add-new-policy .add-button {
    padding: 8px 20px;
    background-color: #fa972d;
    cursor: pointer;
    border-radius: 4px;
  }

  .add-new-policy .add-button span {
    color: #fff;
  }

  .add-new-policy .add-button img {
    width: 14px;
    margin-right: 5px;
  }

  .full-height {
    height: 100% !important;
  }

  .height-85 {
    height: 85% !important;
  }

.green-button-color {
  background: #469073 !important;
  border-color: #469073 !important;
  padding: 2px 14px;
}

.policies-head {
  padding: 8px 30px 8px 24px;

  // span {
  //   font-size: 22px;
  //   margin-left: 12px;
  //   color: #4c4b4b;
  //   font-weight: bold;
  // }

  img {
    width: 22px;
  }
}
.add-new-policy-section{
  background-color: #469073;
  padding: 4px 15px;
  border-radius: 20px;
  height: 30px;
  img {
    width: 15px;
  }
  span{
    color:white;
    margin-left: 8px;
    font-size: 14px;
  }
}

.policy-details {
  color: #999 !important;
  .required {
    color: #b2b2b2 !important;
  }
}

.policy-actions {
  margin-left: 30px;
  img {
    width: 15px;
  }

  span {
    color: #469073;
    margin-left: 8px;
    font-size: 14px;
  }
  .dlt-img{
    width: 10px !important;
  }
}
.policies-selection-top {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;

  span {
    color: white;
  }

  span.add-new-policy-sec {
    cursor: pointer;
    img {
      width: 16px;
      margin-right: 8px;
      object-fit: contain;
    }
  }
}
.edit-section {
  position: absolute;
  width: 138px;
  height: 80px;
  top: 46px;
  right: 1px;
  background-color: white;
  z-index: 9;
  border-radius: 10px;
  &::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 8px;
    width: 15px;
    height: 10px;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: white;
  }
  ul {
    margin: 0;
    padding: 15px 15px;
    line-height: 1.6;
    li{
      display: flex;
      align-items: center;
      font-weight: 600;
    }
    img{
      margin-right: 5px;
      width: 15px;
      height: auto;
    }
  }
}
.clear-policy-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  .warning{
      font-weight: 600;
      padding: 25px 0px;
      color: black;
  }
  .yes-button{
      margin-right: 16px;
      background-color: #469073;
      color: white;
      padding: 10px 27px;
      border-radius: 8px;
      font-weight: 500;
  }
  .no-button{
      background-color:#2f3967;
      color: white;
      padding: 10px 27px;
      border-radius: 8px;
      font-weight: 500;
  }
  i{
      margin-left: 10px;
      font-size: 15px;
      font-weight: 500;
  }
}


:host .new-policy-form {
  .bg-grey {
    background-color: #fbfbfb;
    &::placeholder,.tag-col.tag-text{
        color: #999;
    }
  }
  ::ng-deep{
    .ck-placeholder:before {
      color: #999;
    }
  }
  .invalid-editor ::ng-deep {
    .ck-sticky-panel .ck-toolbar {
      border: none;
    }

    .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
      border-width: 1px 0px 0px 0px !important;
    }

    .ck.ck-reset.ck-editor.ck-rounded-corners {
      border: 1px solid #dc3545;
      border-radius: 6px;
    }
  }
}

.no-policies-section {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, 0%);
  overflow: hidden;
  height: calc(100vh - 165px) !important;
  background-color: #dfe1e3;
  width: 97%;
  border-radius: 10px;
}