.upper-head {
    .hq-head {
        padding: 10px 0;
        .hq-head-text {
            padding-left: 12px;
            font-size: 24px;
            font-family: Roboto-Bold;
        }
        .left-row {
            margin-left: 5px;
            margin-right: 10px;
        }
        .rgt-txt {
            font-size: 16px;
            font-family: Roboto-Medium;
        }
    }

    .gray-txt {
        color: #555555;
    }
    .green-txt {
        color: #23aa78;
    }
    .review {
        height: 28px;
        padding: 6px 15px;
        border-radius: 14px;
        border: solid 1px #469073;
        background-color: #469073;
        margin-right: 32px;
        line-height: 12px;
    }
    .review-txt {
        font-size: 14px;
        font-family: Roboto-Medium;
        color: #fff;
        padding-left: 6px;
    }
    .hq-head-breadcrumb-text {
        color: #444444 !important;
        font-size: 14px;
        font-family: Roboto-Medium;
    }
    .hq-head-breadcrumb-img {
        vertical-align: middle;
        margin: 0 6px 0 6px;
    }
    .ntwk {
        font-size: 14px;
        color: #777777;
        font-family: Roboto-Regular;
        padding-right: 13px;
    }
    .network-head {
        padding-bottom: 7px;
        padding-right: 15px;
    }
}

.orange-btn {
    width: 188px;
    height: 34px;
    padding: 8px 14px 8px 14px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: #fb982c;
    align-items: center;
    display: flex;
  }
::ng-deep {
    .p-galleria-thumbnail-container{
        justify-content: center;
    }
    .product-detail {
        .galleria-item img {
            border-radius: 8px !important;
            border: "#e0e3e5 solid 3px" !important;
        }
    }

    .p-galleria-thumbnail-item {
        min-width: 123px;
    }

    .p-galleria-thumbnail-item-current img {
        border: #fb982c solid 3px !important;
    }

    .ui-panel-images {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .p-galleria-item-wrapper{
        border: 1px solid #e0e3e5 !important;
        border-top: 0 !important;
        // height: 200px;
        position: relative;
        padding: 14px;
        height: 387px;

        &::before {
            border-top: 1px solid #e0e3e5;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 33%;
            /* height: 33px; */
            left: 0;
            z-index: 99999;
        }
        &::after {
            border-bottom: 1px solid #e0e3e5;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 33%;
            z-index: 99999;
        }

        img {
            -o-object-fit: contain;
            object-fit: contain;
            // width: 100%;
            // height: 100%;
            width: 382px;
            height: 382px;
        }
    }

    .ass-date {
        .p-dropdown .p-dropdown-label.p-placeholder {
            color: #000 !important;
            font-size: 14px;
            font-family: Roboto-Medium;
        }
    }
}

.container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    color: #0044cc !important;
    font-size: 14px;
    font-family: Roboto-Regular;
    text-decoration: underline;
}
.link {
    color: #0044cc !important;
    font-size: 14px;
    font-family: Roboto-Regular;
    text-decoration: underline;
    cursor: pointer;
}
.outer-hq-container {
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;

    .f-bold {
        font-size: 24px;
        font-family: Roboto-Bold;
    }

    .mb-25 {
        margin-bottom: 22px;
    }
    .f-medium {
        font-size: 14px;
        font-family: Roboto-Medium;
    }
    .f-regular {
        font-size: 14px;
        font-family: Roboto-Regular;
    }
    .grey-txt {
        color: #93989d;
    }
    .dark-blues {
        color: #444d61;
    }
    .pro-title {
        font-size: 16px;
        font-family: Roboto-Bold;
    }
    .product {
        margin-bottom: 10px;
        padding-top: 18px;
        overflow-x: auto;
        padding-bottom: 11px;
        .product-box {
            border-radius: 10px;
            border: solid 1px #e0e3e5;
            padding: 13px 10px 12px 15px;
            width: 389px;
            min-width: 389px;
            margin-right: 21px;
        }
        .product-content {
            margin-left: 7px;
        }
       
        .mb-20 {
            margin-bottom: 20px;
        }
    }
    .buy-box {
        border-radius: 10px;
        border: solid 1px #e0e3e5;
        padding: 20px 67px 19px 17px;
        margin-bottom: 16px;
        .buy-txt {
            font-size: 16px;
            color: #999999;
            font-family: Roboto-Medium;
        }
        .buy-head {
            font-size: 18px;
            font-family: Roboto-Bold;
        }
    }

    .lh {
        line-height: 1.57;
    }
   
}

.lh-12 {
    line-height: 19px;
}

.border-bottom {
    border-bottom: 1px solid #ededed !important;
}
.pb-20 {
    padding-bottom: 20px;
}
.mb-32{
    margin-bottom: 32px;
}

.box {
    width: 91px;
    height: 91px;
    border-radius: 8px;
    border: 1px solid #e0e3e5;
    background-image: url("../../../../assets/images/hq/tool-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pdf-box {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #e0e3e5;
    background-image: url("../../../../assets/images/hq/pdf-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px 19px;
}

.slider-box {
    gap: 26px;
}
.slider {
    margin-top: 22px;
}

.add-txt {
    font-size: 15px;
    color: #469073;
    font-family: Roboto-Medium;
    margin-left: 8px;
}
.loc-head-row {
    border: 0;
    border-bottom: 1px solid #ededed !important;
    padding-left: 21px !important;
    padding: 10px;

     .loc-head-text {
        font-size: 18px;
        font-family: Roboto-Bold;
        color: #000;
        margin-left: 9px;
        text-transform: capitalize;
    }
}
.data-container {
    margin-left: 21px;
    padding: 12px 0 14px 0px;
    border-bottom: 1px solid #e3e3e3;

    &:last-child {
        padding: 14px 0 0px 0px;
        border-bottom: 0;
    }
}
.specification {
    padding: 12px 10px 14px 20px;
    border-bottom: 1px solid #e3e3e3;

    &:last-child {
        border-bottom: 0;
    }
}
.spec-datas {
    width: calc(100% - 50px);
}
.spec-data {
    gap: 10px;
}
.certified {
    font-family: Roboto-Regular;
    color: #777777;
    font-size: 13px;
}
.cer-date {
    color: #444444;
}
.cert-data {
    overflow-y: auto;
    height: 187px;
}
.img-border {
    border: solid 1px #ccc;
  background-color: #ececec;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dot {
    width: 3px;
    height: 3px;
    color: #999999;
}

.box{
    width: 40px;
  height: 40px;
  border: solid 1px #dcdcdc;
  border-radius: 6px;
  background-image: url("../../../../assets/images/inspection-home/green-setting.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 19px 19px;
}
