.non-email-div{
    .success-div-text{
        padding: 30px 0 10px 0;
        &.success-div-text-lic{
            color: #3c3c3c;
            font-family: Roboto-Regular;
            font-size: 18px;
            line-height: 30px;
            width: 356px;
            text-align: center;
            margin: 0 auto;
        }
    }
    .success-div{
        margin: 0 !important;       
        display: inline-block;
        width: 50%;
        vertical-align: top;        
        &.success-div1{
            .action-button{
                background-color: #ffffff !important;
                border: 2px solid #40aa8b !important;
                color: #40aa8b !important;
                span{
                    display: inline-block;
                    color: #40aa8b !important;
                    padding: 5px 0 0 0 !important;
                }
                img{
                    display: inline-block;
                    vertical-align: text-top;
                    margin: 0 0 0 10px;
                }
            }
        }
        &.success-div2{
            span{
                display: inline-block;
            }
        }
    }
}