.media-detail-directory{
    border-radius: 16px;
}
.media-collapse-arrow-bg{
    background-color:#3c424d;
}
.info-head-row{
    background-color:#3c424d;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /*height: 185px;*/
}
.profile-img {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 23px;
    margin: 0 auto;
    .pimg{
        display: block;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 100%;
        border-radius: 50%;
    }
}
.error-text{
    font-family: "Roboto-Bold";
    color:#000000;
    font-size: 16px;       
    padding: 100px 0 0 0;
    display: block;
    text-align: center;
}
.uname-text{
    font-family: "Roboto-Bold";
    color:#ffffff;
    font-size: 16px;       
    padding: 36px 0 0 0;
    display: block;
    text-align: center;
}
.utitle-text{
    font-family: "Roboto-Light";
    color:#ffffff;
    font-size: 14px;       
    padding: 5px 5px 15px 5px;
    display: block;
    text-align: center;
}
.media-detail .view-detail{
    margin-top:15px;
}
.media-detail .info-cont{
    border-bottom:1px solid #e9eaeb;
}
.info-cont-inner{
    padding: 8px 0 0 15px;
}
::ng-deep{
    .landing-doc-info .media-detail{
        margin-top: 0;
        margin-left: 0px;
    }
    .landing-doc-info .media-collapse-arrow{
        left: -4px;
        top: 20px;
    }
}

