.no-padding {
    padding: 0px!important;
}
.no-margin {
    margin: 0px!important
}
.menu-icon{
    height: 34px;
}
.menu-text{    
    font-family: Roboto-Regular;
    font-size: 15px;    
    color:#000000;
    padding-top: 0;
}
.flex-align-center {
    display: flex;
    align-items: center;
  }
  .flex-align-end {
    display: flex;
    align-items: end;
  }
 .menu-icon-lt-1{
    min-width: 43px;
    img{
        position: relative;
        left:-10px;
        height: 26px;
    }
   
  }
  .menu-icon-lt-2{
    min-width: 67px;
    img{
        position: relative;
        left:-20px;
        height: 21px;
    }
  }
  .menu-icon-lt-3{
    min-width: 28px;
    img{
        position: relative;
        left:0px;
        height: 27px;
    }
  }
  .join-free-btn{
    display: inline-block;
    max-width: 200px;
    width: 90%;
    height: 50px;
    margin: 0;
    text-align: center;
    padding: 12px 0;
    border-radius: 10px;
    background-color: #469073;
    img{
        position: relative;
        right: 5px;
        top: -4px;
        vertical-align: top;
        height: 25px
    }
    span{
        position: relative;
        left: 5px;
        vertical-align: top;
        font-family: "Roboto-Medium";
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }
  }
.mp-mobile-view{
    display: none;
}
.mp-desktop-view{
    display: block;
    width: 100%;
}
.mp-landing-page-head{
  height: 50px;
}
@media screen and (max-width: 960px){
  .mp-mobile-view{
    display: block;
    width: 100%;
  }
  .mp-desktop-view{
      display: none;
  }
  .join-free-btn{
    max-width: 145px;
    width: 90%;
    height: 36px;
    padding: 8px;
    img{
      right: 3px;
      top: 0;      
      height: 18px;
    }
    span{
        font-size: 14px;   
        left: 3px;    
    }
  }
  .mp-menu.p-menubar {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    width: 32px;
    height: 32px;
    float: right;
    position: relative;
    top: 2px;
    padding: 0;
  }
  .p-menubar-button {
    align-items: center;
    cursor: pointer;
    justify-content: center;
    box-shadow:none !important;
    background-color: #469073;
  }
}