<div class="mp-desktop-view">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row no-margin no-padding">     
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 no-padding">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row no-margin no-padding">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 no-margin no-padding">
                    <img class="mp-landing-page-head" src="assets/images/common/mp-landing-page-head.png" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 no-margin no-padding text-right cursor-pointer">
                    <div class="join-free-btn">
                        <img src="assets/images/common/join-free-icon.png" />
                        <span>Join for free</span>
                    </div>
                </div>            
            </div>        
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 no-padding">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row no-margin no-padding">            
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12 no-padding"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 no-padding text-right cursor-pointer">               
                <div class="menu-icon menu-icon-lt-1"><img src="assets/images/common/mp-login-icon.png" /></div>
                <div class="menu-text"><span >LOGIN</span></div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 no-padding"></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 no-padding text-right cursor-pointer">
                <div class="menu-icon menu-icon-lt-2"><img src="assets/images/common/mp-support-icon.png" /></div>
                <div class="menu-text"><span ><a style="color:#000000 !important;" href="mailto:support@collabtic.com">SUPPORT</a></span></div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 no-padding"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 no-padding text-right cursor-pointer">                
                <div class="menu-icon menu-icon-lt-3"><img src="assets/images/common/mp-faq-icon.png" /></div>
                <div class="menu-text"><span >FAG</span></div>                               
            </div>  
        </div>
    </div>
  </div>
</div>
<div class="mp-mobile-view">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row no-margin no-padding">     
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 no-padding">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row no-margin no-padding">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 no-margin no-padding">
                        <img src="assets/images/common/mp-landing-page-head-mobile.png" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 no-margin no-padding text-right cursor-pointer">
                        <div class="join-free-btn">
                            <img src="assets/images/common/join-free-icon.png" />
                            <span>Join for free</span>
                        </div>
                    </div>            
                </div>        
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 no-margin no-padding text-right cursor-pointer">
            <div (click)="showMobileMenu = !showMobileMenu" class="mp-menu topmenu p-menubar p-component"><a  class="p-menubar-button"><i  class="pi pi-bars"></i></a></div>  
        </div>
        <div class="mobile-menu-list-items custom-mobile-menu" *ngIf="showMobileMenu">
            <ul>
                <li (click)="goToLink('home')"><a>LOGIN</a></li>
                <li><a style="color:#ffffff !important;" href="mailto:support@collabtic.com">SUPPORT</a></li>
                <li (click)="goToLink('contact-us')"><a>FAG</a></li>
            </ul>
        </div>
      </div>
    </div>
  
 

