@import url('//fonts.cdnfonts.com/css/roboto');
.td-head {
  padding: 16px 20px 14px 30px;
  &.search-head-row {
    padding: 8px 0px 6px 15px;
  }
  .left-head {
    &.logo-col {
      max-width: 5%;
      &.logo-col-fixes{
        max-width: 11%;
        img{
          max-height: 40px;
        }
      }
    }
    .thread-text {
      font-family: Roboto-Bold;
      color: var(--ID80);
      font-size: 18px;
      text-align: left;
      font-weight: normal;
      padding-right: 15px;

      .red-text {
        color: #469073;
      }

      .team-back-icon {
        background: url("../../../assets/images/common/back-icon.png") no-repeat no-repeat 0px 1px;
        display: inline-block;
        width: 28px;
        height: 28px;
        position: relative;
        top: 8px;
      }
    }

    .thread-status {
      position: relative;
      top: -3px;
      text-transform: uppercase;
    }
  }

  .right-head {
    &.search-col {
      max-width: 94.666667%;
      flex: 0 0 94.666667%;
      &.logo-col-fixes{
        max-width: 88.666667%;
        flex: 0 0 88.666667%;
      }
    }
    .search-filter {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 210px);
    }
    ul {
      margin: 0;
      padding: 0;
      text-align: right;
      &.ul-inline {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        width: 200px;
        li {
          //display: block;
          &.close-button, &.feedback-button {
            position: relative;
            right: -20px;
            &.search {
              right: 0px;
            }
          }
          &.feedback-button {
            padding-top: 20px;
            z-index: 100;
          }
        }
      }
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 101;
        vertical-align: middle;

        &.paddingR30 {
          padding-right: 30px;
        }

        &.paddingL30 {
          padding-left: 30px;
        }

        a {
          margin: 0;
          padding: 0;
          display: block;
          &.feedback {
            background: url('../../../assets/images/common/feedback-header-icon.png') 18px 10px no-repeat #fb982c;
            border-radius: 18px;
            color: #fff !important;
            font-size: 15px;
            padding: 7px 20px 7px 45px;
          }
          &.close {
            display: flex;
            font-size: 12px;
            opacity: 1;
            position: relative;
            top: 0;
            p {
              //color: var(--ID82) !important;
              color: #999999 !important;
              font-family: 'Roboto-Regular';
              font-weight: normal;
              margin: 0;
              position: relative;
              top: 15px;
              left: -26px;
            }
          }

          img {
            display: inline-block;

            &.mleft60 {
              margin-left: 60px;
            }
          }

          span {
            font-family: Roboto-Regular;
             //color: #999999;
            color: var(--ID82);
            font-size: 14px;
            margin-left: 10px;
          }

          svg {
            color: var(--ID82);
          }
        }

        button.start-gts-btn {
          background-color: #fa972d;
          border: 1px solid #fa972d;
          color: #fff;
          padding: 0.5rem;
          border-radius: 10px;
          font-size: 14px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 115px;
        }
      }
    }
  }
}
.margin-left-10px {
  margin-left: 10px;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.new-status-design-market-place {
  width: 107px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.new-button-gts-design {
  border-radius: 20px;
  background-color: #29ac6a;
  border: none;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
  padding: 5px 15px;
}
::ng-deep body.thread-detail .right-landing-toggle-menu-bar .filter-toggle.expand-arrow{
 // left: 1px;
  right: 0;
}
:host ::ng-deep {
  post-submit-tooltip.more-tooltip-new{
    z-index: 999999 !important;
  }
  .post-submit-tooltip.more-tooltip-new .tooltip-inner{
    min-width: 230px !important;
    max-width: 230px !important;
    width: 230px !important;
    height: auto !important;
    display: inline-block !important;
    text-align: left !important;
  }
  .more-tooltip-new.bs-tooltip-bottom .arrow::before{
    border-bottom-color: #313d55!important;
  }
  .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #777777!important;
  }
  .tooltip-inner {
    min-width: 304px;
    max-width: 304px;
    width: 304px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #777;
    span {
      width: 272px;
      font-family: 'Roboto-Regular';
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }
  }
}
.custom-page-title {
  justify-content: center;
  font-family: "Roboto-Regular";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
::ng-deep{
  .copied-txt-div{
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10;
   .copied-txt-inner-div{        
        background: #3c424d;
        border-radius: 10px;
        color: #FFF;
        margin: 0 auto;
        padding: 0;
        width: 150px;
        padding: 10px 0px; 
        text-align: center;       
    }
  }
  body .custom-tooltip.doc-title-tooltip .popover-header{
    white-space: nowrap;
  }
  body .custom-tooltip.doc-title-tooltip{
    width: 316px !important;
    max-width: 316px !important;
    left: -36px !important;
  }
  body .custom-tooltip.close-tooltip .popover-header{
    padding: 0.5rem;
    text-align: center;
    white-space: nowrap;
  }
  body .custom-tooltip.close-tooltip{
    width: auto !important;
    left: -10px !important;
  }
  .arrow-tt-hide ngb-popover-window.bs-popover-bottom>.arrow{
    display: none !important;
  }
  .arrow-tt-hide .bs-popover-bottom .popover-header::before{
    display: none !important;
  }
}
.svg-color-change-new {
  svg {
    background: #999999 !important;
  }
}
.tooltip-class {
  width: 304px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #777;
}
.back-text{
  font-family: 'Roboto-Regular';
  font-size: 14px;
  color: #000;
  cursor: pointer;
  &.back-white {
    color: #FFF;
  }
  &.faq {
    display: inline-block;
    width: 80px;
  }
}
.home-new-button {
  &.faq {
    display: inline-block;
  }
}
.ass-span{
  border-radius: 50%;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  width: 24px;
  display: inline-block;
  position: relative;
  top: 3px;
  img{
    &.ass-img{
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.repair-order-btn-div{
  display: inline-block;
  margin-right: 20px;
  .repair-order-btn-text{
      font-family: "Roboto-Regular";
      font-size: 14px;
      border-radius: 16px;
      color: #FFF;
      margin: 0 auto;
      padding: 5px 15px;
      border: 1px solid #298368;
      background-color: #298368;
      cursor: pointer;
  }
}
