<div  class="ts-list-lt ts-list-bottom cbt-filter filter-expand">
    <div class="" >
        <div id="filter">
            <div class="filter-widgets ts-list-lt-center transition">
                <div [style.height]="'calc(100vh - '+leftEmptyHeight+'px)'" class="heightsettemp">
                    <div  class="ps" [perfectScrollbar]="sconfig">
                        <div class="user-row">
                            <div >
                                <div class="profile-row-hq system-settings-menu-row"
                                    [ngClass]="{active:selectedTab == 'SUMMARY'}" (click)="navigateToSummary()">
                                    <div class="profile-row-inner">
                                        <span class="hq-summary-icon pimg"></span>
                                        <span class="uname">Summary</span>
                                    </div>
                                </div>
                                <div class="profile-row-hq system-settings-menu-row"
                                    [ngClass]="{active:selectedTab == 'SHOPS'}"  (click)="navigateToShops()">
                                    <div class="profile-row-inner">
                                        <span class="shops-icon pimg"></span>
                                        <span class="uname">Shops</span>
                                    </div>
                                </div>
                                <div class="profile-row-hq system-settings-menu-row"
                                    [ngClass]="{active:selectedTab == 'TOOLS'}" (click)="navigateToTools()">
                                    <div class="profile-row-inner">
                                        <span class="tools-icon pimg"></span>
                                        <span class="uname">Tools & Equipment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>