
::ng-deep{

    .p-dropdown:not(.p-disabled).p-focus{
        box-shadow: none;
    }
    
    .p-inputtext:enabled:focus {
        box-shadow: none;
    }
    
    ::-webkit-input-placeholder{
        color: #999999 !important;
    }

    .input-error {
        .required-txt {
            color: #f44336 !important;
        }
        .input-filed {
            input {
                border-color: #f44336 !important ;
            }

            textarea {
                border-color: #f44336 !important ;
            }
        }
        .p-component {
            border-color: #f44336 !important ;
        }
    }
    .action-box {
        z-index: 9999;
        bottom: 26px;
        right: 15px;
        gap: 3px;
    }
    .action-1 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #000000;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        cursor: pointer;
    }
    .edit {
        background-image: url("../../../../assets/images/inspection-home/edit.png");
        background-size: 16px 16px;
    }
    .delete {
        background-image: url("../../../../assets/images/inspection-home/delete.png");
        background-size: 11px 16px;
    }

    .no-dropdown{
        .p-dropdown-panel{
            display: none !important;  
        }
    }  
    .tag-box {
        gap: 10px;
        flex-wrap: wrap;
        .tag-box-data {
            padding: 3px 10px 3px 10px;
            border-radius: 12px;
            background-color: #777;
    
            span {
                font-size: 12px;
                font-family: Roboto-Regular;
                color: #fff;
            }
        }
    }
    .p-calendar{
        display: inline-block !important;
        width: 100% !important;            
        padding: 6px 10px 8px !important;
        border-radius: 6px;
    }
    .p-calendar .p-inputtext {
        box-shadow: none;
        font-family: "Roboto-Regular";
        font-size: 14px;
        color: #6c717c;
        height: 20px;
        padding: 0px;
        border: none !important;
        background: transparent;
        width: 88% !important;
    }
    .p-calendar .p-datepicker-trigger{
        padding: 0px;
        height: 20px;
        width: 20px;
        margin: 0;
        background: transparent !important;
        border: 0;
    }
    .datePicker-toggle .p-calendar .p-datepicker-trigger span{
        width: 20px;
        height: 22px;
        visibility: visible;
        display: inline-block !important;
        position: absolute;
        right: 0;
        top: -2px;
        background: url("../../../../assets/images/system-settings/date-icon.png") no-repeat transparent 0 0;
    }       
    .p-button{
        box-shadow: none !important;;
    }

    .p-menu .p-menuitem-link .p-menuitem-text{
        white-space: nowrap !important;
    }
        .select-temp{
            padding: 10px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            width: 100%;
            margin:0;
            display: inline-block;
        }
        .aud-col1,.aud-col2{
          display: inline-block;
        }
        .aud-col1{
          display: inline-block;
          width: 45px !important;
          height: 45px !important;
          vertical-align: top;
        }
        .aud-col2{
          display: inline-block;
          width: calc(100% - 45px);
          padding-left: 10px;
          vertical-align: top;
        }
          .aud-bg-icon{
            width: 45px !important;
            height: 45px !important;
            border-radius: 6px;
            background-color: #e5efeb;
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            &.template-icon{
              background-image: url("../../../../assets/images/hq/template-normal.png");
            }
            &.gts-green-icon{
                background-image: url("../../../../assets/images/hq/gts-green-icon.png");
            }
            &.qs-icon{
                background-image: url("../../../../assets/images/hq/qs-green-icon.png");
            }
            &.loc-icon{
                background-image: url("../../../../assets/images/hq/loc-green-icon.png");
            }
          }
          .aud-ins-text-1{
            display: block;
            width: 100%;
            font-size: 14px;
            font-family: "Roboto-Medium";
            color:#000000;
          }
          .aud-text-1{
            display: block;
            width: 100%;
            font-size: 16px;
            font-family: "Roboto-Medium";
            color:#000000;
          }
          .aud-text-2{
            display: block;
            width: 100%;
            font-size: 14px;
            font-family: "Roboto-Regular";
            color:#777777;
            .green-text{
              color:#469073;
              font-weight: 600;
            }
            .link-text{
                color:#0044cc;
                cursor: pointer;
                text-decoration: underline;
            }
            .green-text-20{
                font-size: 14px;
                font-weight: 500;
            }
            .space-text{
              width: 20px;
            }
            .inline-text{
              display:inline-block;
              font-family: 'Roboto-Regular';
            }
          }
    
    .p-dropdown:not(.p-disabled):hover,      
    .p-dropdown:not(.p-disabled).p-focus,
    .p-multiselect:not(.p-disabled).p-focus,
    .p-inputtext:enabled:focus {
        border-color: #dbddde;
        box-shadow: none;
    }    

    .p-input-aud, .p-calendar-w-btn{
        width:100%;
        padding: 6px 10px 8px;        
        border:solid 1px #dbddde;
        background-color:#fbfbfb;
        border-radius: 6px;
        box-shadow: none !important;
        font-family: 'Roboto-Regular';
        color:#000000;
        font-size: 14px;
    }
    .p-dropdown-aud{
        .p-dropdown{
            width:100%;
            border-color: #dbddde;
            border:solid 1px #dbddde;
            background-color:#fbfbfb;
            border-radius: 6px;
            box-shadow: none !important;
        }
    }
    .p-dropdown .p-dropdown-label{
        font-family: 'Roboto-Regular';
        color:#000000;
        font-size: 14px;
        &.p-placeholder{
            color:#999999 !important
        }
    }
}
.header-row {
    margin: 0 auto;
    display: block;   
    padding: 18px 16px;
}
.new-text {   
    font-family: Roboto-Bold;
    color: #298368;
    font-size: 18px;
    text-align: center;
    font-weight: normal;    
}

.disabled{
    opacity: 0.3;
    cursor: default !important;
}
.prob-new .new-pro-cont .form-cont .form-horizontal .form-items{
    padding-top:20px !important;
}

.btn.btn.publish {
    color: white !important;
    background-color: #298368 !important;
}   

.btn.publish-disabled {
    color: rgba(255, 255, 255, 0.6) !important;
    background-color: #7e8084 !important;
    cursor: pointer;
    pointer-events: none;
}  

.btn.draft {
    img {
        width: 15px !important;
        height: 15px !important;
    }
}

.field-label {  
    .aud-label-new{
        font-family: 'Roboto-Regular';
        font-size:14px;
        color:#999999;
    } 
    .label-col.part-label.nt-bg {
        background-image: url("../../../../assets/images/inspection-home/light-network.png");
    } 
    .label-col.part-label.wft-bg {
        background-image: url("../../../../assets/images/audit-insecption/type.png");
    }
    .label-col.part-label.inspection-bg {
        background-image: url("../../../../assets/images/hq/inspection-normal.png");
        padding-left: 20px;
    }
    .label-col.part-label.template-bg {
        background-image: url("../../../../assets/images/hq/template-normal.png");
        padding-left: 20px;
    }
    .label-col.part-label.clock-bg {
        background-image: url("../../../../assets/images/common/clock-icon.png");
        padding-left: 26px;
    }
    .label-col.part-label.info-bg {
        background-image: url("../../../../assets/images/audit-insecption/info.png");
    }
    .label-col.part-label.tag-bg {
        background-image: url("../../../../assets/images/audit-insecption/tag.png");
        padding-left: 25px;
    }
    .label-col.part-label.customer-bg {
        background-image: url("../../../../assets/images/audit-insecption/shop-his.png");
        padding-left: 25px;
    }
    .label-col.part-label.calendar-bg {
        background-image: url("../../../../assets/images/hq/calendar.png");
        padding-left: 25px;
    }
    .label-col.part-label.user-bg {
        background-image: url("../../../../assets/images/hq/user.png");
        padding-left: 20px;
    }
    
}
.green-text{
    color:#469073;
} 
.green-aid-btn{
    border-radius: 6px;
    background-color: #e5efeb;
    border: solid 1px #469073;
    padding: 7px 0px 8px 0px;
    margin:0 auto;
    text-align: center;
    width: 100%;
    span{
        font-family: 'Roboto-Regular';
        font-size:15px;
        color:#469073;
        padding-left: 10px;
    }
}
.flex-inline-end{
    align-items: flex-end;
    display: inline-flex;
}
.mb-23 {
    margin-bottom: 23px;
}

.mb-28 {
    margin-bottom: 28px;
}

.prob-upload-new {
    padding: 38px 10px !important;
}

.launch-editor {
    border-radius: 6px;
    background-color: #eff0f1;
}
.launch-txt {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000;
    padding-top: 27px;
}
.border-bottom {
    border-bottom: 1px solid #dee1eb !important;
}

.flow-txt {
    font-size: 14px;
    color: #8e97a8;
    font-family: Roboto-Regular;
    padding: 18px;
}

.btn-save {
    background-color: #fa972d;
    width: 287px;
    height: 43px;
    border-radius: 24px;
    margin: 17px 0 30px 0;
    font-size: 18px;
    color: #fff;
    font-family: Roboto-Medium;

    img {
        padding-left: 15px;
        filter: brightness(2);
    }
}

.selection-info {
    border-radius: 8px;
    color: #fbfbfb;
    font-family: Roboto-Medium;
    font-size: 14px;
    margin: 25px 0px;
    padding: 12px 0px 10px 16px;
    background-color: #818489;
   img {
    filter: brightness(2);
   }
}


