.container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    color: unset !important;
    cursor: pointer;
    outline: unset !important;
}

.hq-head {
    padding: 10px 0;

    .hq-head-text {
        padding-left: 13px;
        font-size: 24px;
        font-family: Roboto-Bold;
    }

    .left-row {
        margin-left: 5px;
        margin-right: 10px;
    }

    .rgt-txt {
        font-size: 16px;
        font-family: Roboto-Medium;
    }

    .gray-txt {
        color: #555555;
    }

    .green-txt {
        color: #23aa78;
    }
}

.outer-hq-container {
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;

    .loc-head-row {
        border: 0;
        border-bottom: 1px solid #ededed !important;
        padding: 10px !important;
    }

    .loc-head-edit-img {
        margin-right: 5px !important;
    }

    .heading-txt {
        padding-left: 9px;
        padding-right: 10px;
    }

    .loc-head-text {
        font-size: 15px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .description {
        font-size: 15px;
        font-family: Roboto-Regular;
        color: #555555;
        padding: 19px 4px 0px 20px;
        line-height: 24px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .box {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-color: #edf8f4;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .customer {
        background-image: url("../../../../assets/images/inspection-home/customer.png");
        background-size: 25px 24px;
    }

    .location {
        background-image: url("../../../../assets/images/inspection-home/location.png");
        background-size: 19px 28px;
    }

    .frequency {
        background-image: url("../../../../assets/images/inspection-home/clock.png");
        background-size: 28px 29px;
    }

    .network {
        background-image: url("../../../../assets/images/inspection-home/network.png");
        background-size: 37px 26px;
    }

    .small-box {
        width: 59px;
        height: 59px;
        border-radius: 8px;
        background-color: #e4f2f0;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../../../../assets/images/inspection-home/customer-card.png");
        background-size: 25px 20px;
    }

    .customer-desc-head {
        font-size: 15px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .customer-add {
        color: #444444;
        font-size: 14px;
        font-family: Roboto-Regular;
    }

    .rounded-card {
        padding: 10px;
        border-radius: 10px;
        border: solid 1px #e8e8e8;
        border-radius: 10px;
    }

    .box-description {
        padding-left: 15px;
    }

    .box-head {
        color: #555555;
        font-size: 14px;
        font-family: Roboto-Medium;
    }

    .box-count {
        font-size: 20px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .ass-txt {
        font-size: 16px;
        font-family: Roboto-Medium;
        color: #000;
        line-height: 20px;
    }

    .mb-14 {
        margin-bottom: 14px;
    }

    .add-action-btn {
        cursor: pointer;
        display: inline-block;
        background-color: transparent;
        border: 1px solid #469073;
        padding: 5px 18px 5px 18px;
        border-radius: 14px;
        text-align: center;
        height: 28px !important;
        font-size: 14px;
        margin: 0 20px;
        line-height: 18px;

        span {
            color: #469073;
            font-size: 14px;
            padding-left: 5px;
            font-family: Roboto-Medium;
        }
    }

    .customer-card {
        width: 330px;
        padding: 16px;
        margin-right: 20px;
    }

    .box-count {
        margin-bottom: -8px;
    }

    .customer-description {
        overflow-x: auto;
    }

    .verified-box {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        background-color: #edf8f4;
        background-image: url("../../../../assets/images/inspection-home/verified.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 39px 39px;
    }
}

.assessments {
    border-radius: 10px;
    border: solid 1px #e8e8e8;
    padding-left: 21px;
    font-size: 18px;
    font-family: Roboto-Medium;
    color: #000;
    height: 60px;
    display: flex;
    align-items: center;
}

.action-tab {
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px 10px 13px 21px;

    .tab-wrapper {
        border: 1px solid #999999;
        height: 32px;
        padding: 7px 21px 8px;
        border-radius: 16px;
        line-height: 7px;
        cursor: pointer;
    }

    .tab-data {
        font-size: 15px;
        font-family: Roboto-Regular;
        color: #000;
        margin-left: 8px;
    }

    .active-tab {
        background-color: #777;
        color: #fff;

        .tab-data {
            color: #fff;
        }

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-31 {
    margin-bottom: 31px;
}

.pl-14px {
    padding-left: 14px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.graph-box {
    height: calc(100% - 46px) !important;
}

.border-right {
    border-right: 1px solid #e8e8e8 !important;
}

.inspection-graph {
    margin-left: 18px;

    span {
        font-family: Roboto-Medium;
    }

    .fs-15 {
        font-size: 15px;
        color: #000;
    }

    .fs-30 {
        font-size: 30px;
        color: #23aa78;
    }

    .fs-18 {
        font-size: 18px;
        color: #000;
    }

    .box-description {
        width: calc(100% - 24px);
    }
}

.hq-head-breadcrumb-text {
    color: #444444 !important;
    font-size: 14px;
    font-family: Roboto-Medium;
}

.hq-head-breadcrumb-img {
    vertical-align: middle;
    margin: 0 6px 0 6px;
}

.loc-heading {
    font-size: 15px;
    font-family: Roboto-Regular;
}

.loc-info {
    color: #777777;
    font-size: 15px;
    font-family: Roboto-Regular;
}

//extra

.left-section {
    width: 60px;
    display: inline-block;
    vertical-align: top;
}

.right-section {
    display: inline-block !important;
    vertical-align: top;
    width: calc(100% - 60px);
}

.padding-common-hq {
    padding: 0 20px;
}

//table
::ng-deep {
    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }


    body.parts-list .thread-list-table .p-datatable {
        .p-datatable-thead>tr>th {
            font-family: Roboto-Light;
            padding-top: 0;
            padding-bottom: 0;
            height: 50px;
        }

        // .p-datatable .p-datatable-tbody > tr > td {
        //   font-size: 15px !important;
        //   height: 50px;
        // }
        .p-datatable-thead>tr>th:first-child {
            // border-radius: 10px 0 0 0;
            border-radius: 0 !important;
        }

        .p-datatable-thead>tr>th:last-child {
            // border-radius: 0 10px 0 0;
            border-radius: 0 !important;
        }

        .custom-heading {
            background-color: #f9f7f8 !important;
            padding: 15px 20px;
            color: #000000 !important;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .shop-id {
            color: #000000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
            padding: 0.6rem 0.25rem 0.6rem 1.25rem !important;
            height: 50px;
        }

        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
        }

        .p-datatable-tbody>tr .more-icon {
            visibility: hidden;
        }

        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }

        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }

        .p-datatable-tbody>tr:hover td {
            background-color: transparent !important;
        }

        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        .custom-heading {
            background-color: #687083;
            padding: 15px 20px;
            color: #ffffff;
        }

        .loc-heading {
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .loc-info {
            color: #777777;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .txt-link {
            color: #0044cc;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .thl-col-ins-1 {
            width: 308px !important;
        }

        .thl-col-ins-2 {
            width: 1134px !important;
            left: 0 !important;
        }

        .thl-col-ins-3 {
            width: 178px;
        }

        .thl-col-ins-4 {
            width: 128px;
        }

        .thl-col-ins-5 {
            width: 140px;
        }

        .thl-col-ins-6 {
            width: 160px;
        }

        .thl-col-ins-7 {
            width: 160px;
        }
    }
}

.box-progress-ins {
    display: flex;
    // border: 1px solid #4fbc94;
    border-radius: 4px;
    padding: 0;
    margin: 0;

    .box-item {
        display: block;
        position: relative;
        /* float: left; */
        width: 179px;
        height: 34px;
        line-height: 34px;
        margin-right: 0px;
        /* padding: 0 10px; */
        background-color: #4fbc94;
        color: #fff;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;


        &::before {
            z-index: 9999;
            content: "";
            position: absolute;
            right: -12px;
            height: 25px;
            width: 23px;
            /* border: solid #fff; */
            /* border-width: 0px 3px 3px 0; */
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            /* border-left: solid yellow !important; */
            border-right: .5px solid #4fbc94 !important;
            border-bottom: .5px solid #4fbc94 !important;
            box-shadow: inset 0 0 0 14px #4fbc94;
            background-clip: content-box;
        }

        // &::after {
        //     content: "";
        // position: absolute;
        // left: -1px;
        // height: 0;
        // width: 0;
        // // border-top: 15px solid transparent;
        // // border-bottom: 17px solid transparent;
        // // border-left: 10px solid #fff;
        // // border-radius: 4px;
        // }
        &:first-child {
            &::after {
                display: none;
            }
        }

        &:last-child {
            &::before {
                display: none;
            }
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border: top right radius 4px;
        }
    }

    .white-box {
        background-color: #ffff !important;
        color: #000000 !important;
        border-top: 1px solid #4fbc94;
        border-bottom: 1px solid #4fbc94;
        padding: 0 !important;
        display: block;
        position: relative;
        width: 179px;
        height: 34px;
        line-height: 31px;
        margin-right: 0px;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;

        &::before {
            content: "";
            z-index: 9999;
            position: absolute;
            right: 6px;
            height: 25px;
            width: 23px;
            border: solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            border-right: 1px solid #4fbc94 !important;
            border-bottom: 1px solid #4fbc94 !important;
        }

        &:nth-child(4) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-right: 10px;

            &::before {
                display: none;
            }
        }

        &:nth-child(5) {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: 1px solid #4fbc94;
            border-right: 1px solid #4fbc94;

            &::before {
                display: none;
            }
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px solid #4fbc94;

            &::before {
                display: none;
            }
        }
    }

    .box-completed {
        display: block;
        position: relative;
        width: 179px;
        height: 34px;
        line-height: 34px;
        margin-right: 0px;
        background-color: #edf8f4;
        color: #4fbc94;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;
        border: 1px solid #4fbc94;


        &::before {
            z-index: 9999;
            content: "";
            position: absolute;
            right: -12px;
            height: 25px;
            width: 23px;
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            border-right: 1px solid #4fbc94 !important;
            border-bottom: 1px solid #4fbc94 !important;
            box-shadow: inset 0 0 0 14px #edf8f4;
            background-clip: content-box;
        }

        // &::after {
        //     content: "";
        // position: absolute;
        // left: -1px;
        // height: 0;
        // width: 0;
        // // border-top: 15px solid transparent;
        // // border-bottom: 17px solid transparent;
        // // border-left: 10px solid #fff;
        // // border-radius: 4px;
        // }
        &:first-child {
            &::after {
                display: none;
            }
        }

        &:nth-child(4) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-right: 10px;

            &::before {
                display: none;
            }
        }

        &:nth-child(6) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            &::before {
                display: none;
            }
        }

        &:nth-child(5) {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            &::before {
                display: none;
            }
        }

        &:nth-child(5) {
            &::before {
                display: none;
            }
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border: top right radius 4px;
        }
    }

    .non-compliant {
        background-color: #fbeaea !important;
        border: 1px solid #f5bebe !important;
        color: #ff0000 !important;
    }
}

.progress-date-ins {
    .dates {
        display: block;
        position: relative;
        float: left;
        width: 179px !important;
        height: 33px;
        line-height: 33px;
        // margin-right: 10px;
        // padding: 0 10px;
        color: #777777;
        text-align: center;
        font-size: 13px;
        font-family: Roboto-Regular;
    }
}

.data {
    background-color: #4fbc94;
    border-top-left-radius: 4px;

    .data-content {
        color: #fff;
        font-size: 14px;
        font-family: Roboto-Regular;
    }

    .arrow {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@media screen and (max-width: 1305px) {
    .ass-txt {
        font-size: 14px !important;
    }
}


/* announcements */

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
    color: #444444;
    font-size: 14px;
    font-family: Roboto-Regular;
}

.Rounded-Rectangle {
    background-color: #fff;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

//   .custom-panel {
//     box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06) !important;
//     border-radius: 8px !important;
//     border: 1px solid #e0e0e0;
//   }

.mb-29 {
    margin-bottom: 28px;
}

.disable_ripple:hover {
    background: transparent !important;
}

.menu-name {
    font-size: 20px;
    /* font-family: Roboto-Medium; */
    font-weight: 600;
}

.announce-tooltip-icon {
    color: #ebebeb;
}

.see-more-txt {
    color: #444444;
    font-size: 14px;
    font-family: Roboto-Regular;
    text-transform: capitalize;
}

.second-sec {
    margin-bottom: 28px !important;
}

.user-box {
    border: solid 1px #ebebeb;
    padding: 9px 0;
    border-radius: 8px;
    height: 58px;
}

.aavtar {
    background-image: url("../../../../assets/images/dispatch/avatar.jpg");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-right: 13px;
}

.aavtar-2 {
    background-image: url("../../../../assets/images/user-settings/user-big.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-right: 13px;
}

.user-content {
    .user-data-heading {
        color: #636363;
        font-size: 15px;
        font-family: Roboto-Bold;
        line-height: 16px;
    }

    .data-content {
        size: 13px;
        color: #b2b2b2;
        font-family: Roboto-Medium;
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.second-row {
    padding: 0;
    border-radius: 6px;
    /* box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06); */
    // background-color: #ffffff;
    margin-bottom: 0;

    // width: 100%;
    .col-2 {
        flex: 0 0 19.48%;
        max-width: 20%;
        margin-right: 8px;
    }

    .custom-box {
        flex: 0 0 20%;
        // margin: 0px 20px 10px 0px;
        max-width: 20%;
    }

    .box {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-color: #edf8f4;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .customer {
        background-image: url("../../../../assets/images/inspection-home/customer.png");
        background-size: 25px 24px;
    }

    .location {
        background-image: url("../../../../assets/images/inspection-home/location.png");
        background-size: 19px 28px;
    }

    .frequency {
        background-image: url("../../../../assets/images/inspection-home/clock.png");
        background-size: 28px 29px;
    }

    .Completion-time {
        background-image: url("../../../../assets/images/inspection-home/clock-right.png");
        background-size: 28px 29px;
    }

    .network {
        background-image: url("../../../../assets/images/inspection-home/network.png");
        background-size: 37px 26px;
    }

    .small-box {
        width: 59px;
        height: 59px;
        border-radius: 8px;
        background-color: #e4f2f0;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../../../../assets/images/inspection-home/customer-card.png");
        background-size: 25px 20px;
    }

    .customer-desc-head {
        font-size: 15px;
        font-family: Roboto-Medium;
        color: #000;
    }

    .customer-add {
        color: #444444;
        font-size: 14px;
        font-family: Roboto-Regular;
    }

    .rounded-card {
        margin: 0 10px 0px 0;
        border-radius: 10px;
        border: solid 1px #e8e8e8;
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
        padding-right: 0;
    }

    .box-description {
        padding-left: 10px;
    }

    &.mb-21 {
        margin-bottom: 31px;
    }
}

::ng-deep {
    .phone {
        width: 100%;
    }

    body.headquarters .p-sidebar-right {
        width: 30rem !important;
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form {
        padding: 0;
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row.service-form-row-hq {
        padding: 0 30px 20px;
        border-bottom: 1px solid #d5d5d5;
    }

    body .p-sidebar .p-sidebar-content {
        padding: 20px 0px 0px !important;
        background: #ffffff;
    }

    body.headquarters .p-sidebar .p-sidebar-content h2 {
        color: #000;
        font-family: "Roboto-Medium";
        font-size: 18px;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .action-buttons button.button-save-hq {
        background-color: #298368;
        border: solid 1px #469073;
        position: relative;
        left: 0;
        border-radius: 25px;
        padding: 4px 12px;
        margin-right: 10px;
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .action-buttons-hq {
        vertical-align: middle;
        float: right;
        padding: 0;
        margin: 0;
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .btn-close {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-fields {
        height: calc(100vh - 70px);
        padding: 30px
    }

    body.headquarters .sidebar-cont {
        .p-sidebar-right {
            width: 22rem;
            background: #ffffff;
        }
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form {

        .p-dropdown,
        .p-multiselect {
            width: 100%;
        }

        .p-dropdown .p-dropdown-label.p-placeholder {
            color: #c5c5c5;
        }
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .label .split-col {
        width: auto;
    }

    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .field input {
        font-family: "Roboto-Regular";
        font-size: 14px;
    }

    .iti {
        width: 100%;
    }
}

.view-modal-header {
    .view-modal-title-text {
        font-size: 18px;
    }

    .action-buttons button.button-save-hq {
        background-color: #298368;
        border: solid 1px #469073;
        position: relative;
        left: 0;
        border-radius: 25px;
        padding: 4px 12px;
        margin-right: 16px;
    }

    .action-buttons-hq {
        vertical-align: middle;
        float: right;
        padding: 0;
        margin: 0;
    }

    .close-btn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
    }
}

.view-modal-body {
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;

    .container {
        padding: 0 26px !important
    }

    .input-row {
        .icons-size {
            width: 19px;
            height: 16px;
        }

        .new-request-icon {
            fill: #b2b2b2;
        }

        .field-err {
            font-size: 13px;
            font-family: "Roboto-Regular";
            color: #dc3545;
        }

        .input-filed {
            ::placeholder {
                color: #999999 !important;
            }

            input {
                border: solid 1px #dbddde;
                background-color: #fbfbfb;
                color: #000000;
                font-size: 14px;
                font-family: Roboto-Medium;
            }
        }

        .input-shop {
            padding-bottom: 10px;
        }
    }

    label {
        color: #9b9a9a;
        font-size: 14px;
        font-family: Roboto-Regular;
    }

    .pad-box {
        padding-bottom: 12px;
        padding-top: 9px;
    }
}

.custom-modal .modal-body {
    padding: 10px 0rem;
    padding-top: 10px !important;
    background: #fff;

    textarea {
        resize: none;
    }
}

.modal-header {
    border-radius: 0 !important;
}

::ng-deep {
    .description-popup {
        .p-component {
            border-radius: 10px !important;
        }

        .p-dialog-content {
            padding: 0px !important;
            margin: 0 !important;
            overflow: hidden;
            border-radius: 10px !important;
            background: transparent;
        }

        .p-button:disabled {
            opacity: 0.6 !important;
        }

        .p-button:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: 0 0 0 0.1rem #298368;
        }
    }
}

.compliant-container {
    margin-left: 10px;
}