::ng-deep {
    .p-datepicker table td{
        padding: 1px !important;
    }
    .loader img{
        left: 50% !important;
    }
    .system-setting-container{        
        .p-calendar .p-inputtext{            
            color:#444444;
            font-size: 14px;
            font-family: "Roboto-Regular"; 
            position: relative;
            top: -5px;
            box-shadow: none !important;
            border: 1px solid #dddddd !important;
        }
    } 
    
      
}
::ng-deep{
    .manage-modal .modal-body table.manage-table .manage-items .item-list td span.tag-custom-icon-delete{
        display: none !important;
    }
    .prob-list-cont-escalation .font-email.font-email-edit-c2{
        width: 85% 
    }        
    .tech-col-1{
        width: 33%  !important;   
    }
    .tech-col-2{  
        width: 33%  !important;  
    }
    .tech-col-3{
        width: 33%  !important;          
    }
    .prob-list-cont-escalation{
        border-radius: 16px;
        overflow: hidden;
        
        &.es-no-item-new-div{
            background: #dfe1e3;
        }
    }
    .prob-list-cont-escalation .p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom td{
        box-shadow: inset 0 -2px 0 0 #469073;
    }
    /*.prob-list-cont-escalation .p-datatable .p-datatable-tbody > tr.disableClass td {
        opacity: .5;
        cursor: default;        
    }*/
    .prob-list-cont-escalation .p-datatable .p-datatable-tbody > tr.reorderrowbg td {
        background: #e5efeb !important;        
    }
    .prob-list-cont-escalation .p-datatable .p-datatable-tbody > tr.addnewrowerror0 td {
        background: #fef1f1 !important;               
    }
    .prob-list-cont-escalation .p-datatable .p-datatable-tbody > tr.addnewrow0 td {
        background: #e5efeb !important;        
    }
    .productmatrix-p-table .selectedItemp-table-light{
        background: #e5efeb !important;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
        background: #e5efeb !important;
    }
    .p-datatable-scrollable-body{
        overflow: auto !important
    }
    .p-datatable.p-datatable-sm .p-datatable-thead > tr > th:first-child{
        width: 28px;
        padding:0.1rem 0.1rem 0rem 1rem !important;
    }
    .p-datatable.p-datatable-sm .p-datatable-thead > tr > th{            
        color: var(--ID62) !important;
        vertical-align: middle !important;
        font-weight: normal;
        padding:0.1rem 0.1rem 0rem 1.5rem !important;
        width: 220px;
        height: 51px;
    }      
    .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td:first-child{
        padding:0.1rem 0.1rem 0rem 1rem;
        border-left:none !important;
        border-right:none !important;
        border-color:#e5e7ea ;
        width: 28px;
    }     
    .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
        padding:0.1rem 0.1rem 0rem 1.5rem;    
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#6c717c;        
        height: 53px;
        width: 220px;
        border-color: #e4e8ea !important;
        background-color: #ffffff;
    }  
    .pi-bars{
        &::before{
            visibility: hidden;
        }
    }
    .rules-red-text{
        color : #eb6b6b !important;
    }
    .unassigned-text{
        font-size: 13px !important;
        font-family: "Roboto-Regular" !important;
        color: #a4abba !important;
        font-style: italic; 
    }
    .manage-modal .modal-body .selected-users{
        background-color: #e5efeb !important
    }
    .manage-modal .modal-body .selected-users span.role{
        display: none;
    }
    .prob-list-cont-escalation .font-role{
        margin-top: -6px;
    }
    .manage-modal .modal-body .selected-users ul{
        margin-top: 10px;
    }
    
}