<div *ngIf="loading && (action == 'new' || action == 'edit')" class="loading cust-loader file-loader">
    <img src="assets/images/loading.svg" alt="Loading" />
</div>
<div class="refer-info attachment-info {{action}} {{access}}" *ngIf="attachmentLength > 0">
    <div class="label hide">{{sectionHead}}</div>
    <div class="attachment-cont gts-attachment-cont">
        <div *ngIf="loading" class="loading cust-loader file-loader">
            <img src="assets/images/loading.svg" alt="Loading" />
        </div>
        <!-- Edit Attachments -->
        <div *ngIf="action == 'attachments'" id="editGallery" class="item-list" cdkDropList [cdkDropListData]="attachments" (cdkDropListDropped)="drop($event)">
            <div id="attachment-row-{{i}}" class="attachment-row action-row {{a.type}}" [ngClass]="{'lang-row': a.filteredLangList.length > 0}" *ngFor="let a of attachments; let i = index;"
            [attr.data-responsive]="a.thumbFilePath"
            [attr.data-sub-html]="a.galleryCaption"
            [attr.data-html]="a.galleryId"
            [attr.data-poster]="a.posterImg"
            [attr.data-src]="a.fileImg"
            [attr.data-download-url]="a.downloadUrl"
            cdkDrag>
                <!-- Hidden video div -->
                <div *ngIf="a.flagId == 2" class="hide" [attr.id]="a.galleryHidden">
                    <video class="lg-video-object lg-html5" controls preload="none">
                        <source src="{{a.videoUrl}}" type="{{a.mime}}">
                        Your browser does not support HTML5 video.
                    </video>
                </div>

                <!-- Hidden audio div -->
                <div *ngIf="a.flagId == 3" class="hide" [attr.id]="a.galleryHidden">
                    <audio class="lg-video-object lg-html5" controls>
                        <source src="{{a.audioUrl}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>

                <div *ngIf="a.flagId < 6" class="{{a.type}}">
                    <div id="edit-col" class="attachment-col action-col bg-col cursor" [ngClass]="{'doc-bg' : (a.flagId > 2 && a.flagId < 6)}" (click)="showGallery('edit',0)" [ngStyle]="{'background-image': 'url(' + a.thumbFilePath + ')'}">
                        <span class="drag-icon"></span>
                        <img class="hide" src="{{a.thumbFilePath}}" />
                        <div *ngIf="a.flagId == 2" class="poster" >
                            <img src="assets/images/media/video-thumb.png" alt="Play">
                        </div>
                    </div>
                    <div class="attachment-col action-col cont-col">
                        <div class="caption">
                            <span class="caption-action">
                                <input matInput id="input-{{i}}" type="text" placeholder="Enter Caption" class="caption-control" [(ngModel)]="a.fileCaption" (change)="onChange('caption', i, $event.target.value);$event.stopPropagation();" (focusout)="onFocusOutEvent(i);$event.stopPropagation();" (click)="$event.stopPropagation();" />
                                <span class="action cursor remove"><img src="assets/images/delete-circle.png" alt="Remove" (click)="delete(i);$event.stopPropagation();" /></span>
                            </span>
                        </div>
                        <div class="desc"> {{a.originalName}} <span class="dot"></span> {{a.fileSize}}</div>
                        <div class="cursor custom-drop-down attach-drop-down popup">
                            <div class="multi-select" (click)="getLang(i)">
                                <div class="drop-col split-col language">
                                    <span class="split-icon language-bg"></span>
                                </div>
                                <p-multiSelect #multi class="drop-col dropdown" [options]="a.itemValues" [selectedItemsLabel]="langPlaceholder" placeholder="{{langPlaceholder | titlecase}}" autoWidth="true" filter="true" optionLabel="name" optionId="id" resetFilterOnHide="true" filterPlaceHolder="Search {{langPlaceholder | titlecase}}" [disabled]="true">
                                    <ng-template pTemplate="selectedItems">
                                        <ng-container *ngFor="let item of a.selectedLang; let i = index;">{{item}}<span *ngIf="a.selectedLang.length > i+1">, </span>
                                        </ng-container>
                                        <span class="p-placeholder" *ngIf="a.selectedLang.length == 0">{{langPlaceholder | titlecase}}</span>
                                        </ng-template>
                                </p-multiSelect>
                            </div>
                            <div class="dynmic-selected-items" *ngIf="a.filteredLangList.length > 0">
                                <div class="selected-items ws-selected-items">
                                    <div *ngFor="let item of a.filteredLangList; let t=index" class="tag-text ws-tag-text">
                                        <span>{{item}}</span>
                                        <i class="material-icons tag-close" (click)="disableTagSelection(i, item, t);">close</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="a.flagId == 6" class="link">
                    <div id="edit-col" *ngIf="a.linkType  != 'site'" class="attachment-col bg-col action-col {{a.linkType}}" [ngStyle]="{'background-image': 'url(' + a.logo + ')'}">
                        <span class="drag-icon"></span>
                        <img class="hide" src="{{a.thumbFilePath}}" />
                        <div *ngIf="a.linkType == 'video'" class="poster">
                            <img src="assets/images/media/video-thumb.png" alt="Play">
                        </div>
                    </div>
                    <div *ngIf="a.linkType != 'site'" class="attachment-col cont-col action-col link">
                        <div class="caption desc">
                            <div class="caption">
                                <span class="caption-action">
                                    <input matInput id="input-{{i}}" type="text" placeholder="Enter Caption" class="caption-control edit-control caption-edit-control" [(ngModel)]="a.fileCaption" (change)="onChange('caption', i, $event.target.value);$event.stopPropagation();" (focusout)="onFocusOutEvent(i);$event.stopPropagation();" (click)="$event.stopPropagation();"/>
                                    <span class="action cursor remove"><img src="assets/images/delete-circle.png" alt="Remove" (click)="delete(i); $event.stopPropagation();" /></span>
                                </span>
                            </div>
                            <span class="action cursor remove"><img src="assets/images/delete-circle.png" alt="Remove" (click)="delete(i); $event.stopPropagation();" /></span>
                        </div>
                        <div class="caption">
                            <span class="caption-action">
                                <span *ngIf="!a.linkFlag" class="cursor link caption-val">
                                    <span (click)="navUrl(a.link)">{{a.link}}</span>
                                    <img src="assets/images/edit-list-icon.png" alt="Edit" (click)="onFocusEvent('link', i, !a.linkFlag);$event.stopPropagation();"/>
                                </span>
                                <input [ngClass]="{'hide': !a.linkFlag, 'sdasd': a.linkFlag}" matInput id="linkinput-{{i}}" type="text" placeholder="Enter Link" class="caption-control link-control edit-control link-edit-control" [ngClass]="{'no-valid': !a.valid}" [(ngModel)]="a.link" (change)="onChange('link', i, $event.target.value);$event.stopPropagation();" (focusout)="onFocusEvent('link', i, !a.linkFlag);$event.stopPropagation();" (focusout)="onFocusOutEvent(i);$event.stopPropagation();" autofocus/>
                            </span>
                            <div *ngIf="!a.valid && a.link.length > 0" class="link-error">Invalid link</div>
                        </div>
                        <div class="cursor custom-drop-down attach-drop-down popup">
                            <div class="multi-select" (click)="getLang(i)">
                                <div class="drop-col split-col language">
                                    <span class="split-icon language-bg"></span>
                                </div>
                                <p-multiSelect #multi class="drop-col dropdown" [options]="a.itemValues" [selectedItemsLabel]="langPlaceholder" placeholder="{{langPlaceholder | titlecase}}" autoWidth="true" filter="true" optionLabel="name" optionId="id" resetFilterOnHide="true" filterPlaceHolder="Search {{langPlaceholder | titlecase}}" [disabled]="true">
                                    <ng-template pTemplate="selectedItems">
                                        <ng-container *ngFor="let item of a.selectedLang; let i = index;">{{item}}<span *ngIf="a.selectedLang.length > i+1">, </span>
                                        </ng-container>
                                        <span class="p-placeholder" *ngIf="a.selectedLang.length == 0">{{langPlaceholder | titlecase}}</span>
                                        </ng-template>
                                </p-multiSelect>
                            </div>
                            <div class="dynmic-selected-items" *ngIf="a.filteredLangList.length > 0">
                                <div class="selected-items ws-selected-items">
                                    <div *ngFor="let item of a.filteredLangList; let t=index" class="tag-text ws-tag-text">
                                        <span>{{item}}</span>
                                        <i class="material-icons tag-close" (click)="disableTagSelection(i, item, t);">close</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="edit-col" *ngIf="a.linkType == 'site'" class="attachment-col bg-col action-col {{a.linkType}}" (click)="navUrlLink(a.link); $event.stopPropagation();" [ngStyle]="{'background-image': 'url(' + a.logo + ')'}">
                        <span class="drag-icon"></span>
                    </div>
                    <div *ngIf="a.linkType == 'site'" class="attachment-col cont-col action-col link">
                        <div class="caption desc">
                            <div class="caption">
                                <span class="caption-action">
                                    <input matInput id="input-{{i}}" type="text" placeholder="Enter Caption" class="caption-control edit-control caption-edit-control" [(ngModel)]="a.fileCaption" (change)="onChange('caption', i, $event.target.value);$event.stopPropagation();" (focusout)="onFocusOutEvent(i);$event.stopPropagation();" (click)="$event.stopPropagation();"/>
                                    <span class="action cursor remove"><img src="assets/images/delete-circle.png" alt="Remove" (click)="delete(i);$event.stopPropagation();" /></span>
                                </span>
                            </div>
                            <span class="action cursor remove"><img src="assets/images/delete-circle.png" alt="Remove" (click)="delete(i);$event.stopPropagation();" /></span>
                        </div>
                        <div class="caption">
                            <span class="caption-action">
                                <span *ngIf="!a.linkFlag" class="cursor link caption-val">
                                    <span (click)="navUrl(a.link)">{{a.link}}</span>
                                    <img src="assets/images/edit-list-icon.png" alt="Edit" (click)="onFocusEvent('link', i, !a.linkFlag);"/>
                                </span>
                                <input [ngClass]="{'hide': !a.linkFlag}" matInput id="linkinput-{{i}}" type="text" placeholder="Enter Link" class="caption-control link-control edit-control link-edit-control" [ngClass]="{'no-valid': !a.valid}" [(ngModel)]="a.link" (change)="onChange('link', i, $event.target.value)" (focusout)="onFocusEvent('link', i, !a.linkFlag)" (focusout)="onFocusOutEvent(i);$event.stopPropagation();" autofocus/>
                            </span>
                            <div *ngIf="!a.valid && a.link.length > 0" class="link-error">Invalid link</div>
                        </div>
                        <div class="cursor custom-drop-down attach-drop-down popup">
                            <div class="multi-select" (click)="getLang(i)">
                                <div class="drop-col split-col language">
                                    <span class="split-icon language-bg"></span>
                                </div>
                                <p-multiSelect #multi class="drop-col dropdown" [options]="a.itemValues" [selectedItemsLabel]="langPlaceholder" placeholder="{{langPlaceholder | titlecase}}" autoWidth="true" filter="true" optionLabel="name" optionId="id" resetFilterOnHide="true" filterPlaceHolder="Search {{langPlaceholder | titlecase}}" [disabled]="true">
                                    <ng-template pTemplate="selectedItems">
                                        <ng-container *ngFor="let item of a.selectedLang; let i = index;">{{item}}<span *ngIf="a.selectedLang.length > i+1">, </span>
                                        </ng-container>
                                        <span class="p-placeholder" *ngIf="a.selectedLang.length == 0">{{langPlaceholder | titlecase}}</span>
                                        </ng-template>
                                </p-multiSelect>
                            </div>
                            <div class="dynmic-selected-items" *ngIf="a.filteredLangList.length > 0">
                                <div class="selected-items ws-selected-items">
                                    <div *ngFor="let item of a.filteredLangList; let t=index" class="tag-text ws-tag-text">
                                        <span>{{item}}</span>
                                        <i class="material-icons tag-close" (click)="disableTagSelection(i, item, t);">close</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- View Attachments -->
        <div *ngIf="action == 'view'">
            <div [attr.id]="'viewGallery_' + dynamicGid">
                <div id="lg-{{i}}" class="attachment-row {{a.type}} lg-{{a.flagId}}" *ngFor="let a of attachments; let i = index;"
                [attr.data-responsive]="a.thumbFilePath"
                [attr.data-sub-html]="a.galleryCaption"
                [attr.data-html]="a.galleryId"
                [attr.data-poster]="a.posterImg"
                [attr.data-src]="a.fileImg"
                [attr.data-download-url]="a.downloadUrl"
                [attr.data-iframe] = "a.iframe"
                >
                    <!-- Hidden video div -->
                    <div *ngIf="a.flagId == 2" class="hide" [attr.id]="a.galleryHidden">
                        <video class="lg-video-object lg-html5" controls preload="none">
                            <source src="{{a.videoUrl}}" type="{{a.mime}}">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>

                    <!-- Hidden audio div -->
                    <div *ngIf="a.flagId == 3" class="hide" [attr.id]="a.galleryHidden">
                        <audio class="lg-video-object lg-html5" controls>
                            <source src="{{a.audioUrl}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div *ngIf="a.flagId > 0 && a.flagId < 4" class="cursor {{a.type}}">
                        <div class="attachment-col bg-col cursor" [ngClass]="{'doc-bg' : (a.flagId > 2 && a.flagId < 6)}" (click)="showGallery('gview',dynamicGid)" [ngStyle]="{'background-image': 'url(' + a.thumbFilePath + ')'}">
                            <img class="hide" src="{{a.thumbFilePath}}" />
                            <div *ngIf="a.flagId == 2" class="poster">
                                <img src="assets/images/media/video-thumb.png" alt="Play">
                            </div>
                        </div>
                        <div class="attachment-col cont-col">
                            <div class="caption">
                                <span class="caption-action" *ngIf="a.flagId <= 3">{{a.fileCaption}}</span>
                                <span class="caption-action" *ngIf="a.flagId > 3 && a.fileCaption != ''">{{a.fileCaption}}</span>
                                <span class="caption-action" *ngIf="a.flagId > 3 && a.fileCaption == ''">{{a.fileName}}</span>
                            </div>
                            <div class="desc"> {{a.originalName}} <span class="dot"></span> {{a.fileSize}}</div>
                            <div class="custom-drop-down attach-drop-down popup" *ngIf="a.languageOptions">
                                <div class="dynmic-selected-items" *ngIf="a.languageOptions.length > 0">
                                    <div class="selected-items ws-selected-items tag-view">
                                        <div *ngFor="let item of a.languageOptions; let t=index" class="tag-text ws-tag-text">
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="a.flagId == 4" class="cursor {{a.type}}">
                        <div class="attachment-col bg-col cursor" [ngClass]="{'doc-bg' : (a.flagId > 2 && a.flagId < 6)}" [ngStyle]="{'background-image': 'url(' + a.thumbFilePath + ')'}">
                            <img class="hide" src="{{a.thumbFilePath}}" />
                        </div>
                        <div class="attachment-col cont-col">
                            <div class="caption">
                                <span class="caption-action" *ngIf="a.fileCaption != ''">{{a.fileCaption}}</span>
                                <span class="caption-action" *ngIf="a.fileCaption == ''">{{a.fileName}}</span>
                            </div>
                            <div class="desc"> {{a.originalName}} <span class="dot"></span> {{a.fileSize}}</div>
                            <div class="cursor custom-drop-down attach-drop-down popup">
                                <div class="dynmic-selected-items" *ngIf="a.languageOptions.length > 0">
                                    <div class="selected-items ws-selected-items tag-view">
                                        <div *ngFor="let item of a.languageOptions; let t=index" class="tag-text ws-tag-text">
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="a.flagId > 4 && a.flagId < 6" class="cursor {{a.type}}" (click)="navUrlDownload(a.downloadUrl); $event.stopPropagation();">
                        <div class="attachment-col bg-col cursor" [ngClass]="{'doc-bg' : (a.flagId > 2 && a.flagId < 6)}" [ngStyle]="{'background-image': 'url(' + a.thumbFilePath + ')'}">
                            <img class="hide" src="{{a.thumbFilePath}}" />
                        </div>
                        <div class="attachment-col cont-col">
                            <div class="caption">
                                <span class="caption-action" *ngIf="a.flagId < 4">{{a.fileCaption}}</span>
                                <span class="caption-action" *ngIf="a.flagId > 3 && a.fileCaption != ''">{{a.fileCaption}}</span>
                                <span class="caption-action" *ngIf="a.flagId > 3 && a.fileCaption == ''">{{a.fileName}}</span>
                            </div>
                            <div class="desc"> {{a.originalName}} <span class="dot"></span> {{a.fileSize}}</div>
                            <div class="cursor custom-drop-down attach-drop-down popup">
                                <div class="dynmic-selected-items" *ngIf="a.languageOptions.length > 0">
                                    <div class="selected-items ws-selected-items tag-view">
                                        <div *ngFor="let item of a.languageOptions; let t=index" class="tag-text ws-tag-text">
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="a.flagId == 6" class="link cursor">
                        <div *ngIf="a.linkType  != 'site'" class="attachment-col bg-col link cursor {{a.linkType}}" [ngStyle]="{'background-image': 'url(' + a.logo + ')'}">
                            <div *ngIf="a.linkType == 'video'" class="poster">
                                <img src="assets/images/media/video-thumb.png" alt="Play">
                            </div>
                        </div>
                        <div class="attachment-col cont-col link" *ngIf="a.linkType  != 'site'" >
                            <div class="caption desc">
                                <div class="caption">
                                    <span class="caption-action">{{a.fileCaption}}</span>
                                    <img class="hide" src="{{a.thumbFilePath}}" />
                                </div>
                            </div>
                            <div class="caption">
                                <span class="caption-action cursor link">{{a.link}}</span>
                            </div>
                            <div class="cursor custom-drop-down attach-drop-down popup">
                                <div class="dynmic-selected-items" *ngIf="a.languageOptions && a.languageOptions.length > 0">
                                    <div class="selected-items ws-selected-items tag-view">
                                        <div *ngFor="let item of a.languageOptions; let t=index" class="tag-text ws-tag-text">
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="a.linkType  == 'site'"  class="attachment-col bg-col link cursor {{a.linkType}}" (click)="navUrlLink(a.link); $event.stopPropagation();" [ngStyle]="{'background-image': 'url(' + a.logo + ')'}">

                        </div>
                        <div class="attachment-col cont-col link" *ngIf="a.linkType  == 'site'"  (click)="navUrlLink(a.link); $event.stopPropagation();">
                            <div class="caption desc">
                                <div class="caption">
                                    <span class="caption-action">{{a.fileCaption}}</span>
                                    <img class="hide" src="{{a.thumbFilePath}}" />
                                </div>
                            </div>
                            <div class="caption">
                                <span class="caption-action cursor link">{{a.link}}</span>
                            </div>
                            <div class="cursor custom-drop-down attach-drop-down popup">
                                <div class="dynmic-selected-items" *ngIf="a.languageOptions.length > 0">
                                    <div class="selected-items ws-selected-items tag-view">
                                        <div *ngFor="let item of a.languageOptions; let t=index" class="tag-text ws-tag-text">
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
