::ng-deep{
   .upload-info-tooltip{
    z-index: 10000 !important;
    .tooltip-inner{
      background-color: #444 !important;
      max-width: 100% !important;
      padding: 2px 9px 4px;
      font-family: Roboto-Regular;
      font-size: 14px;
      color: #fff;
    }
    .arrow::before{
      border-bottom-color: #444 !important;
      left: 8px;
    }
   }
  .home-thumb {
    width: 144px;
    height: 144px;
    border-radius: 6px;
    background-color: #f6f3fc;
    background-image: url("../../../../assets/images/hq/hq-home-thumb-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
    display: inline-block;
  }
  .home-info {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 160px);
    padding-left: 20px;
    .text-1 {
      font-family: Roboto-Regular;
      font-size: 24px;
      color: #000000;
      display: block;
    }
    .text-2 {
      display: block;
      font-family: Roboto-Regular;
      font-size: 18px;
      color: #000000;
      line-height: normal;
      margin: 12px 0 25px;
      .gtext {
        font-family: Roboto-Medium;
        color: #469073;
      }
    }
    .setup-net-btn {
      cursor: pointer;
      display: inline-block;
      background-color: #469073;
      border: 1px solid #469073;
      padding: 5px 0 5px 0;
      border-radius: 25px;
      text-align: center;
      height: 40px !important;
      font-size: 14px;
      margin: 0;
      width: 200px;
    }
    .setup-net-btn img {
      position: relative;
      top: -2px;
    }
    .setup-net-btn span {
      color: #ffffff;
      font-size: 18px;
      padding-left: 10px;
      font-family: "Roboto-Medium";
    }
  }

  .loading-small-screen-scroll-hq {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 999;
    visibility: visible;
    width: 100%;
    margin: 0 auto;
}
    .location-cont-hq{
      display: block;
      margin: 10px 0 15px;
      font-size: 14px;
      font-family: 'Roboto-Regular';
      color: #9b9a9a;
  }
  .location-cont-hq p-checkbox .p-checkbox .p-checkbox-box{
      width: 100%;
      height: 100%;
      border-color: #ced4da;
  }    
  .location-cont-hq .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
      box-shadow: none;
  }
  .location-cont-hq .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
      box-shadow: none;
      background-color: #469073;
      border-color: #469073;
  }
  .location-cont-hq p-checkbox .p-checkbox .p-checkbox-box.p-highlight{
      background-color: #469073;
      border-color: #469073;
  }
  .location-cont-hq p-checkbox .p-checkbox .p-checkbox-box:hover{
      border-color: #ced4da;
  }
  .location-cont-hq p-checkbox .p-checkbox{
      border-radius: 4px;
      position: relative;
      left: 3px;
      top: 0px;
      width: 17px;
      height: 17px;
  }
  .location-cont-hq p-checkbox .p-checkbox-label{
      color: #000;
      font-size: 14px;
      position: relative;
      top: 4px;
      width: 90px;
      padding-left: 3px;
      color: #9b9a9a;
      font-family: "Roboto-Regular";
  }

  .toggle-box-hq {              
    .toggle-col {
      display: inline-block;
      vertical-align: middle;
      top: 0px;
  
      &.field-label {
        display: inline-block;
        width: 50%;
        padding-left: 10px;
        line-height: normal;
        font-size: 14px !important;
        font-family: 'Roboto-Regular';
        color: #000;
      }
  
      &.toggle-option {
        position: relative;
  
        p-inputswitch::ng-deep .p-inputswitch {
            height: 22px;
            position: relative;
            top: 3px;
            width: 40px;
            
  
          .p-inputswitch-slider {
            box-shadow: none;
  
            &:before {
                width: 18px;
                height: 18px;
                margin-top: -9px;
                left: 4px;
            }
  
            &:after {
              color: #ffffff;
              content: "";
              font-size: 12px;
              position: absolute;
              left: 25px;
              top: 3px;
            }
          }
  
          &.p-inputswitch-checked {
            .p-inputswitch-slider {
              background: #469073;
  
              &:before {
                transform: translateX(1rem);
                left: 5px;
              }
  
              &:after {
                content: "";
                left: 10px;
              }
            }
          }
        }
      }
    }
  }

  body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .label label{
    width: 100%;
  }
  body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .label .split-col.req-col{
    width: 60px !important;
    position: initial  !important;
    float: right;
    font-size: 14px !important;
    color: #b2b2b2 !important;
    font-family: "Roboto-Regular";
    margin-top: 3px;
  }
  body.headquarters .p-radiobutton-label {
    line-height: normal;
    font-size: 14px !important;
    font-family: 'Roboto-Regular';
    margin: 0 15px 0 8px !important;
  }
  body.headquarters .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #469073 !important;
    background: #fff !important;

    .p-radiobutton-icon {
      background-color: #469073 !important;
    }
  }

  body.headquarters .p-focus {
    box-shadow: none !important;
  }

  body.headquarters .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #469073 !important;
  }

  body.headquarters .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #469073 !important;
    background: #fff !important;

    .p-radiobutton-icon {
      background-color: #469073 !important;
    }
  }

  .more-icon{
    svg {
      path {
      fill: var(--ID69);
      }

      circle {
      fill: var(--ID70);
      }
  }
  }
  .padd-left0{
    padding-left: 0 !important;
  }
  .padd-right0{
    padding-left: 0 !important;
  }
  .padd-30{
    padding-top:30px !important;
    padding-bottom:30px !important;
  }
  .padd-20{
    padding: 20px !important;
  }
  .no-padding {
    padding: 0px!important;
    &.padd-30{
      padding-top:20px !important;
      padding-bottom:20px !important;
    }
  }
  .no-margin {
    margin: 0px!important;
    .margin-bottom-40{
      margin-bottom: 40px !important;
    }
  }
  .mtop30{
    margin-top: 30px !important;
  }
  .mtop25{
    margin-top: 25px !important;
  }
  .mbottom5{
    margin-bottom: 5px !important;
  }
  .container{max-width: 100%; width:100%;overflow:hidden;}
  .outer-hq-container{
    padding: 0;    
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;
    &.display-flex{
      display: flex;
    }
    .loc-head-row{
      border:1px solid #ededed;
      padding:10px !important;
      &.border-top-none{
        border-top:none;
      }
      &.border-none{
        border:none !important;
      }
    }
    .loc-head-text{
      font-family: Roboto-Medium;
      font-size: 15px;
      color:#000000;
      text-transform: uppercase;
    }
    .loc-head-utext{
      font-family: Roboto-Medium;
      font-size: 15px;
      color:#777777;
    }
    .loc-head-img{
      margin-right:10px;
      margin-left:10px;
    }
    .loc-head-edit-img{
      margin-right:8px;
    }
    .loc-cont-row{
      border:1px solid #ededed;
      padding:20px !important;
    }
    .location-thumb{
      width: 124px;
      height: 124px;
      border-radius: 6px;
      background-color: #f6f3fc;
      background-image: url("../../../../assets/images/hq/hq-location-thumb-icon.png");
      background-position: center center;
      background-repeat: no-repeat;
      vertical-align:top;
      display: inline-block;
      &.dynamic-img{
        background-size: contain;
        background-color: transparent;
        border:1px solid #ededed;
      }
    }
    .user-thumb{
      width: 49px;
      height: 49px;
      border-radius: 6px;
      background-color: #e4f2f0;
      background-image: url("../../../../assets/images/hq/hq-user-thumb-icon.png");
      background-position: center center;
      background-repeat: no-repeat;
      vertical-align:top;
      display: inline-block;
    }
    .user-thumb-info{
      vertical-align: top;
      display: inline-block;
      width: calc(100% - 59px);
      padding-left: 10px;
      vertical-align:top;
      .text-1{
        font-family: Roboto-Medium;
              font-size: 15px;
              color: #000000;
              position: relative;
            top: -5px;
      }
      .text-2{
          display: block;
        padding-left: 20px !important;
        font-family: Roboto-Regular;
        font-size: 14px;
        color: #444444;
        line-height: normal;
        margin-bottom: 5px;
        padding-top: 3px;
        .gtext {
          font-family: Roboto-Medium;
          color: #469073;
        }
      }
      .over-flow-text{
        width: 100%;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; 
      };
      .user-address-bg{
        background-image: url("../../../../assets/images/hq/user-address-icon.png");
        background-position: 0px 8px;
        background-repeat: no-repeat;
      }
      .user-phone-uinfo-bg,
      .user-phone-bg{
        background-image: url("../../../../assets/images/hq/user-phone-icon.png");
        background-position: 0px 7px;
        background-repeat: no-repeat;
      }
      .user-email-uinfo-bg,
      .user-email-bg{
        background-image: url("../../../../assets/images/hq/user-email-icon.png");
        background-position: 0px 9px;
        background-repeat: no-repeat;
      }
    }
    .location-info{
      vertical-align: top;
      display: inline-block;
      width: calc(100% - 134px);
      padding-left: 10px;
      vertical-align:top;
      .text-1{
        font-family: Roboto-Medium;
              font-size: 18px;
              color: #000000;
              position: relative;
            top: -5px;
      }
      .text-2-hq{
          display: block;
          padding-left: 30px;
          font-family: Roboto-Regular;
          font-size: 14px;
          color: #444444;
          line-height: normal;
          height: 30px;
          margin-bottom: 7px;
          padding-top: 3px;
          overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .hq-address-bg{
        background-image: url("../../../../assets/images/hq/hq-address-icon.png");
        background-position: 0 0;
        background-repeat: no-repeat;
      }
      .hq-email-bg{
        background-image: url("../../../../assets/images/hq/hq-email-icon.png");
        background-position: 0 0;
        background-repeat: no-repeat;
      }
      .hq-phone-bg{
        background-image: url("../../../../assets/images/hq/hq-phone-icon.png");
        background-position: 0 0;
        background-repeat: no-repeat;
      }
      .hq-address-bg-hq{
        background-image: url("../../../../assets/images/hq/hq-address-icon.png");
        background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
      }
      .hq-email-bg-hq{
        background-image: url("../../../../assets/images/hq/hq-email-icon.png");
        background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
      }
      .hq-phone-bg-hq{
        background-image: url("../../../../assets/images/hq/hq-phone-icon.png");
        background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
      }
    }
    .img-col-hq{
      width: 100%;
      height: 170px;
      border: solid 1px #c3c3c3;
      border-radius: 10px;
      margin-top: 0px;
      overflow: hidden;
    }
    .opt-div-hq{
      border-radius: 10px;
      border: solid 1px #d9d9d9;
      text-align: center;
      /*height: 75px;*/
      padding: 7px 0 12px 0;
      margin:0 0 0 20px;
    }
    .opt-div-mb{
      margin-bottom:20px;		
    }
    .opt-div-text-hq{
        font-family: Roboto-Regular;																																											
        font-size: 16px;
        color: #000000;
        display: block;
        margin: 3px 0;
    }
    .opt-div-seltext-h{
      font-family: Roboto-Regular;																																											
      font-size: 14px;
      color: #444444;
    }
    .add-action-text{
      text-align:center;
      width:100%;
      display:block;
      margin:20px 0 10px 0;
      font-family: Roboto-Regular;																																											
      font-size: 14px;
      color: #444444;
    }

    .user-info-row{
      border-radius: 10px;
      border: solid 1px #e8e8e8;
      padding:10px;
      margin-right:10px;
      width: 100%;
      display: inline-block;
      height: 94px;
    }
    .user-cont-row{
      margin:0 10px 10px 10px !important;
    }
    
  }

  .up-image-row{
    display: block;
    width: 100%;
   }
  .up-image-div{
    width: 124px;
    height: 124px;
    border-radius: 6px;
    border: solid 1px #dbddde;
    //background-image: url("../../../../assets/images/hq/upload-hq-default.png");
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:top;
    display: inline-block;
    &.dynamic-img{
      background-size: contain;
    }
  }
  .up-image-text{
    width: calc( 100% - 124px);
    text-align: center;
    display: inline-block;
    vertical-align:middle;
    margin-top: 26px;
    .text-row{
      display: block;
      font-size: 14px;
      font-family: 'Roboto-Regular';
      color: #000000;
      padding: 10px 0;
    }
    .btn-row{
      display: block;
    }
  }

  .add-action-btn{
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #469073;
    padding: 3px 18px 5px 18px;
    border-radius: 14px;
    text-align: center;
    height: 28px !important;
    font-size: 14px;
    margin: 0 20px;
  }
  .add-action-btn img {
    position: relative;
    top: -2px;
  }
  .add-action-btn span {
    color: #469073;
    font-size: 14px;
    padding-left: 5px;
  }
  body.headquarters .p-sidebar-mask.p-component-overlay{
    background: rgba(0, 0, 0, 0.4) !important;
  }
  body.headquarters .p-sidebar-right{
    width: 25rem !important;
  }
  body.headquarters .p-sidebar .p-sidebar-content .action-form{
    padding: 0;
  }
  body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row.service-form-row-hq{
    padding: 0 30px 20px;
    border-bottom: 1px solid #d5d5d5;
  }
  body .p-sidebar .p-sidebar-content{
    padding: 20px 0px 0px !important;
    background: #ffffff;
  }
  body.headquarters .p-sidebar .p-sidebar-content h2{
    color: #000;
    font-family: "Roboto-Medium";
    font-size: 18px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .action-buttons button.button-save-hq{
    background-color: #298368;
    border: solid 1px #469073;
    position: relative;
    left: 0;
    border-radius: 25px;
    padding: 4px 12px;
    margin-right: 10px;
  }
  body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .action-buttons-hq{
    vertical-align: middle;
    float: right;
    padding: 0;
    margin: 0;
  }
  body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .btn-close{
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 3px;
    cursor: pointer;
  }
    .no-item-list {
        position: relative;
        background-color: #dfe1e3;
        border-radius: 16px;
        .item-empty-container {
        .empty-cont {
            .empty-res {
            color: #b2b2b2;
            display: block;       
            margin: 0 auto;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
            max-width: 100%;
            .makepopuptext-spa {
                padding:20px 0;
                font-family: 'Roboto-Regular';
                font-size: 14px;
                color:#888888;
                text-align: center;
                max-width: 450px;
                margin: 0 auto;
                font-style: italic;
            }
            img {
              &.blank{
                margin: 0 auto;    
                display: block;    
                width: 250px;      
                height: 250px; 
              }                   
            }
            span{
              &.blank{
                width: 128px;
                display: block;
                margin: 0 auto !important;
                background: url("../../../../assets/images/probing/add-icon.png") no-repeat 25px 10px;
                background-color: #fb982c;
                border-radius: 6px;
                cursor: pointer;
                color: #fff;
                font-size: 14px;
                padding: 7px 10px 7px 30px !important;
              }
            }
            }
        }
        }
    }
    .parts-list .item-empty-container.item-empty-container-hq{
        top:50%;
    }
    body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-fields{
        height: calc(100vh - 70px);
        padding: 30px
    }
    body.headquarters .sidebar-cont {
        .p-sidebar-right {
        width: 22rem;
        background: #ffffff;
        }
    }
    body.headquarters .fill-999 {
        g path {
        fill: #999;
        }
    }
    .gm-ui-hover-effect {
        opacity: 1;
    }
    .gm-style-iw.gm-style-iw-c {
        button.gm-ui-hover-effect {
        span {
            background: url('../../../../assets/images/dispatch/map/map-close-icon.png') no-repeat;
            mask-image: url('../../../../assets/images/dispatch/map/map-close-icon.png') !important;
        }
        }
    }
    body.headquarters .p-sidebar .p-sidebar-content .action-form{
        .p-dropdown,
        .p-multiselect {
          width: 100%;
        }
        .p-dropdown .p-dropdown-label.p-placeholder{
          color: #c5c5c5;
        }
      }
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .label .split-col{
        width: auto;
      }
      body.headquarters{
        .p-button:focus,
        .p-button:hover{
          box-shadow: none !important;
          border: 1px solid #469073 !important;
        }
        .form-control:focus,
        .p-inputtext:enabled:focus,
        .p-inputtext:enabled:hover,
        .p-dropdown:not(.p-disabled).p-focus,
        .p-dropdown:not(.p-disabled):hover,
        .p-multiselect:not(.p-disabled).p-focus,
        .p-multiselect:not(.p-disabled):hover {
          box-shadow: none !important;
          border: 1px solid #dbddde !important;    
        }
        .iti__country-list{
          white-space: normal;
          margin: 0;
        }
        .iti__country-name{
            font-size: 14px;
            font-family: 'Roboto-Regular';
        }
        .iti input, .iti input[type=text], .iti input[type=tel]{
          width: 335px !important;
        }
      }
    
      body.headquarters .p-sidebar .p-sidebar-content .action-form .service-form-row .field input{
        font-family: "Roboto-Regular";
        font-size: 14px;
      }
      .p-dropdown-label,
      .p-multiselect-label {
        color: #6c717c;
        font-family: "Roboto-Regular";
        font-size: 14px;
      }
      .field-err{
        font-size: 13px;
        font-family: 'Roboto-Regular';
        color: #dc3545;
    }
    .new-request-icon {
        fill: #b2b2b2;
    }
    .icons-size {
        width: 20px;
        height: 20px;
    }

  .bottom-section-row-rt{
    width: calc( 100% - 85px);
    padding-left: 20px;
    text-align: left;
    &.inline-grid{
      display: inline-grid;
      align-content: center;
    }
  } 

  .bottom-section-square{
    width: 85px;
    max-width: 85px;
    height: 85px;
    border-radius: 6px;    
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:top;
    display: inline-block;
    vertical-align: top;
    &.inline-grid{
      display: inline-grid;
      align-content: center;
    }
    &.level-col-1{
      background-color: #d8edf9;
      background-image: url("../../../../assets/images/level-1.png");
    }
    &.level-col-2{
      background-color: #d3f1ed;
      background-image: url("../../../../assets/images/level-2.png");
    }
    &.level-col-3{
      background-color: #fef2df;
      background-image: url("../../../../assets/images/level-3.png");
    }
    &.de-col-4{
      background-color: #f3f5fc;
      background-image: url("../../../../assets/images/hq/hq-sec-shops.png");
    }
    &.de-col-5{
      background-color: #ffe7e4;
      background-image: url("../../../../assets/images/hq/hq-sec-tools.png");
    }
    &.de-col-6{
      background-color: #e7f9d8;
      background-image: url("../../../../assets/images/hq/hq-sec-users.png");
    }
  }
  .hq-text-edit{
    cursor: pointer;
    display: inline-block; 
    vertical-align: top;
  }
  .hq-icon-edit{
    cursor: pointer;
    display: inline-block; 
    vertical-align: top;
    margin-left: 8px;
  }
  .bottom-section-title-row{
    font-family: Roboto-Medium;
    font-size: 15px;  
    color: #777777;
    display: block;
    margin:15px 0 0 0;
    text-transform: uppercase;
    &.mtop0{
      margin-top: 0;
    }
    .hq-icon-edit{
      visibility: hidden;
      position: absolute;
    }
    &:hover{
      .hq-icon-edit{
        visibility: visible;
      }
    }
  }
  .bottom-section-btn-row{
    .new-action-btn{
      cursor: pointer;
      display: inline-block;         
      margin: 5px 0 0 0;
    }
    .new-action-btn img {
      position: relative;
      top: -2px;
    }
    .new-action-btn span {
      font-family: Roboto-Medium;
      color: #469073;
      font-size: 14px;
      padding-left: 5px;
    }
  }
  .width-100{
    width: 100%;
  }
  .detail-row{    
    display: block;
    font-family: Roboto-Bold;
    font-size:24px;      
    &.de-col-4{
      color: #899de4;
    }
    &.de-col-5{
      color: #f37666;
    }
    &.de-col-6{
      color: #6aa439;
    }
  }
  .region-detail-row{
    height: auto !important;
    padding: 8px 0 0 0;
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        a {
          text-decoration: underline !important;
          border: none;
          display: inline-block;
          padding-right: 20px;
          font-family: Roboto-Regular;
          font-size: 16px;  
          color: #0044cc !important;
        }
      }
    }

    
  }
  .adjust-height{
    height: 40px;
  }

  body.headquarters{
    .modal:nth-of-type(1) {
      z-index: 10000 !important;
    }
    .modal-backdrop.show:nth-of-type(1) {
      z-index: 10000 !important;

    }
  }

  .user-info-data{
    width: 100%;
  }

}