.gts-header {
    height: 50px;
    padding: 0px 25px;
    display: flex;
    align-items: center;

    img{
        margin-right: 10px;
    }

    .header-details{
        span{
            margin-right:8px;
            // font-weight: 600;
            i{
                font-size: 12px;
            }
        }
    }
}

.exit-status {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    white-space: initial;
    width: 256px;
}
.exit-status .exit-status-inner {
    display: flex !important;
    width: 100% !important;
    text-align: center !important;
    justify-content: center;
    max-width: 187px;
    flex-wrap: wrap !important;
    overflow: visible;
    border-radius: 62px; 
    font-size: 14px;
    padding: 4px 20px;
}