.insstatus-text-col{
    font-size: 13px;
    padding: 1px;
    width: 106px;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    border-radius: 15px;
    margin: 0px 10px 0px 0px;
    .insstatus-text-col-text{
        display: inline-block;
        width: 100px;
        vertical-align: top;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #ffffff;           
        font-family: "Roboto-Regular";
        font-size: 14px;
    }    
}  

.check-bg-img{
    background-color: #2f9f64;
   width: 18px;
   height:  18px;
}

.loc-head-text {
    font-family: Roboto-Medium;
    font-size: 15px;
    color: #000000;
}

.hq-head-row-2{ 
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 5px 0px 10px; 
    .hq-head-text{
      font-family: Roboto-Bold;
      font-size: 24px;  
      color: #000000;
      vertical-align: middle;
      padding-left: 10px;
      margin: 0;
    }
    .hq-head-row-3{
        padding: 10px 15px 0px 5px;
    }
    .loc-title-div{
        &.loc-catg{
            background-image: url("../../../../assets/images/hq/loc-catg.png");
        }
        &.loc-dept{
            background-image: url("../../../../assets/images/hq/loc-dept.png");
        }
        &.loc-cert{
            background-image: url("../../../../assets/images/hq/loc-cert.png");
        }
        &.loc-model{
            background-image: url("../../../../assets/images/inspection-home/product-model.png");
        }
        &.loc-part{
            background-image: url("../../../../assets/images/hq/loc-part.png");
        }
        &.loc-brand{
            background-image: url("../../../../assets/images/hq/loc-brand.png");
        }
        &.loc-product{
            background-image: url("../../../../assets/images/inspection-home/product-name.png");
        }
        &.loc-vendor{
            background-image: url("../../../../assets/images/hq/vendor-icon.png");
        }
        &.loc-manf{
            background-image: url("../../../../assets/images/hq/loc-manf.png");
        }
        &.loc-user{
            background-image: url("../../../../assets/images/hq/user-icon.png");
        }
        background-position: 0;
        background-repeat: no-repeat;
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#93989d;
    }
    .loc-value-div{
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#444d61;
    }
  }
.inn-loc-th-col{
    padding: 15px 0;
    &.inn-loc-th-col-1{
        padding-left: 46px;
    }
    .loc-label-text{
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color: #777777;
    }
    .loc-normal-text{
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color:#000000;
    }
  }
  .location-data-div{
    background: #f8f8f8;
    border-bottom: 1px solid #e0e2e4;
    /*&:hover{
        background:#e5efeb;
    }*/
  }
  ::ng-deep{
    .p-column-filter-menu-button{
        color: white;
      }
    .loc-list-col-1{
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .loc-list-col-2{
        flex: 0 0 10.333333%;
        max-width: 10.333333%;
    }
    .loc-list-col-3{
        flex: 0 0 13.333333%;
        max-width: 13.333333%;
    }
    .loc-list-col-4{
        flex: 0 0 13.333333%;
        max-width: 13.333333%;
    }
    .loc-list-col-5{
        flex: 0 0 9.333333%;
        max-width: 9.333333%;
    }
    .loc-list-col-6{
        flex: 0 0 16.333333%;
        max-width: 16.333333%;
    }
    .loc-list-col-7{
        flex: 0 0 10.333333%;
        max-width: 10.333333%;
    }
   
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td {
        font-size: 15px !important;
        height: 50px;
    }
    body.parts-list .thread-list-table .p-datatable .p-datatable-thead > tr > th:first-child{
        border-radius: 0;
    }
    body.parts-list .thread-list-table .p-datatable .p-datatable-thead > tr > th:last-child{
        border-radius: 0;
    }
    .toolImg{
        display: flex;
        width: 100%;
        align-items: center;
        .toolImg-span-lt{
            display: inline-block;
            width: 30px;            
        }
        .toolImg-span-rt{
            display: inline-block;
            width: calc(100% - 30px);
        }

        .toolImg-span-lt-1{
            display: inline-block;
            width: 20px;
            margin-right: 10px;
            .p-button.p-button-text.p-button-plain.expanded-button{
                width: 20px;
                height: 20px;
                padding: 0;
                border: none !important;
                background: none !important;
            }
        }
        .toolImg-span-ct-1{
            display: inline-block;
            width: 30px;
        }
        .toolImg-span-rt-1{
            display: inline-block;
            width: calc(100% - 45px);
        }

        .toolImg{
            width: 49px;
            height: 49px;
            border-radius: 6px;
            // background-color: #abb2bd;
            // background-image: url("../../../../assets/images/hq/tools-default-image.png");
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            &.toolImg-dbg{
                background-size: contain;
                border:1px solid #DBDBDB;
                background-color: transparent;
            }
            img{
                width: 49px;
                height: 49px;
            }
        }
    }
    .wrapper #content .gts-mat-table{
        &.border-radius-ln{
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 8px !important;
            border-bottom-right-radius: 8px !important;  
        }
    }
  }

 ::ng-deep {
    body.parts-list .thread-list-table .p-datatable{
        
        .overflow-text-table{
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px !important;
            font-family: "Roboto-Regular";
        }
        .tool-equ-thl-col-1{
            width: 100px;  
            position: initial;
        }
        .tool-equ-thl-col-2{
            width: 230px; 
            position: initial;
        }
        .tool-equ-thl-col-3{
            width:230px; 
            position: initial;
        }
        .tool-equ-thl-col-4{
            width: 230px;     
        }
        .tool-equ-thl-col-5{
            width: 200px; 
            &.textcenter{
                text-align: center !important;
            }      
        }
        .tool-equ-thl-col-6{
            width: 362px !important;   
        }
        .tool-equ-thl-col-7{
            width: 150px;   
        }
        
    }
 } 

 .location-data-div{
    background: #f8f8f8;
    border-bottom: 1px solid #e0e2e4;
    /*&:hover{
        background:#e5efeb;
    }*/
  }

  .loc-label-text{
    font-size: 14px !important;
    font-family: "Roboto-Regular";
    color: #777777;
}
.loc-normal-text{
    font-size: 14px !important;
    font-family: "Roboto-Regular";
    color:#000000;
}

.no-shop-equipment {
    display: flex;
    justify-content: center;
    height: calc(100% - 100px);
    align-items: center;
    background: #fff;
    font-style: italic;
}

.no-shop-equipment img {
    width: 131px;
    display: block;
    margin: 0 auto;
}

.no-shop-equipment span {
    color: #777 !important;
    line-height: 40px;
    font-size: 14px;
}

.full-height {
    height: 100%;
}