.duration-slider {
    width: 100%;
}

.scrollbar {
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;    
}
.filter-content {
    height: 100%;
    position: relative;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    left: -80px
}
    
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.thin::-webkit-scrollbar {
    width: 8px;
}

/*@media (min-height: 1180px ){
    .filter-content {
        border: solid px red;
        height: 900px;
    }
}

@media (min-height:1060px) and ( max-height: 1180px ){
    .filter-content {
        border: solid 0px orange;
        height: 840px;
    }
}

@media (min-height:980px) and (max-height: 1060px) {
    .filter-content {
        border: solid 0px green;
        height: 740px;
    }
}

@media (min-height:920px) and (max-height: 980px) {
    .filter-content {
        border: solid 0px yellow;
        height: 640px;
    }
}

@media (min-height:860px) and (max-height: 920px) {
    .filter-content {
        border: solid 0px blue;
        height: 580px;
    }
}

@media (min-height:800px) and (max-height: 860px) {
    .filter-content {
        border: solid 0px gray;
        height: 540px;
    }
}

@media (min-height:740px) and (max-height: 800px) {
    .filter-content {
        border: solid 0px brown;
        height: 460px;
    }
}

@media screen and (max-height: 740px) {
    .filter-content {
        border: solid 0px hotpink;
        height: 400px;
    }
}*/