::ng-deep {
  .gm-style .gm-style-iw-tc::after {
      background-color: #444444 !important;
  }

  .admin-wrapper{
    .p-galleria-item img{
      height: 246px !important ;
    }

    .mat-expansion-panel-body{
      padding-top: 0px!important;
    }
  }

  .assesor-wrapper{
     
    .p-galleria-item img{
      height: 246px  !important ;
    }

    .mat-expansion-panel-body{
      padding-top: 0px!important;
    }
  }

  body.parts-list .thread-list-table .p-datatable {
      .p-datatable-thead > tr > th {
          font-family: Roboto-Light;
          padding-top: 0;
          padding-bottom: 0;
          height: 50px;
      }
      // .p-datatable .p-datatable-tbody > tr > td {
      //   font-size: 15px !important;
      //   height: 50px;
      // }
      .p-datatable-thead > tr > th:first-child {
          // border-radius: 10px 0 0 0;
          border-radius: 0 !important;
      }

      .p-datatable-thead > tr > th:last-child {
          // border-radius: 0 10px 0 0;
          border-radius: 0 !important;
      }
      .custom-heading {
          background-color: #f9f7f8 !important;
          padding: 15px 20px;
          color: #000000 !important;
          font-size: 15px;
          font-family: Roboto-Regular;
      }
      .shop-id {
          color: #000000;
          font-size: 15px;
          font-family: Roboto-Regular;
      }

      .p-datatable-tbody > tr > td {
          color: #000;
          font-size: 15px;
          font-family: Roboto-Regular;
          padding: 0.6rem 0.25rem 0.6rem 1.25rem;
          height: 50px;
      }

      .p-datatable-tbody > tr:hover {
          background-color: #e5efeb !important;
      }

      .p-datatable-tbody > tr .more-icon {
          visibility: hidden;
      }
      .p-datatable-tbody > tr:hover .more-icon {
          visibility: visible;
      }

      .p-datatable-tbody > tr :hover td:first-child {
          border-left: none !important;
      }

      .p-datatable-tbody > tr:hover td {
          background-color: transparent !important;
      }

      .p-datatable-tbody > tr:hover td:first-child {
          border-left: none !important;
      }

      .custom-heading {
          background-color: #687083;
          padding: 15px 20px;
          color: #ffffff;
      }

      .loc-heading {
          font-size: 15px;
          font-family: Roboto-Regular;
      }
      .loc-info {
          color: #777777;
          font-size: 15px;
          font-family: Roboto-Regular;
      }
      .txt-link {
          color: #0044cc;
          font-size: 15px;
          font-family: Roboto-Regular;
      }

      .thl-col-1 {
          width: 394px;
      }

      .thl-col-2 {
          width: 1134px !important;
          left: 0 !important;
      }

      .thl-col-3 {
          width: 400px;
      }

      .thl-col-4 {
          width: 128px;
      }

      .thl-col-5 {
          width: 140px;
      }

      .thl-col-6 {
          width: 160px;
      }

      .thl-col-7 {
          width: 400px;
      }

      .thl-col-9 {
        width: 425px;
    }
  }
}
::ng-deep{
  .modal-mySize {
    max-width: 650px !important;
  }
}

::ng-deep {
  .box-progress {
    display: flex;
    // border: 1px solid #4fbc94;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    .box-item {
        display: block;
        position: relative;
        /* float: left; */
        width: 179px;
        height: 34px;
        line-height: 34px;
        margin-right: 0px;
        /* padding: 0 10px; */
        background-color: #4fbc94;
        color: #fff;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;
       

        &::before {
            z-index: 9999;
            content: "";
            position: absolute;
            right: -12px;
            height: 25px;
            width: 23px;
            /* border: solid #fff; */
            /* border-width: 0px 3px 3px 0; */
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            /* border-left: solid yellow !important; */
            border-right: .5px solid #4fbc94 !important;
            border-bottom: .5px solid #4fbc94 !important;
            box-shadow: inset 0 0 0 14px #4fbc94;
            background-clip: content-box;
        }

        // &::after {
        //     content: "";
        // position: absolute;
        // left: -1px;
        // height: 0;
        // width: 0;
        // // border-top: 15px solid transparent;
        // // border-bottom: 17px solid transparent;
        // // border-left: 10px solid #fff;
        // // border-radius: 4px;
        // }
        &:first-child {
            &::after {
                display: none;
            }
        }
        &:last-child {
            &::before {
                display: none;
            }
        }
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border: top right radius 4px;
        }
    }

    .white-box {
        background-color: #ffff !important;
        color: #4fbc94 !important;
        border-top: 1px solid #4fbc94;
        border-bottom: 1px solid #4fbc94;
        padding: 0 !important;
        display: block;
        position: relative;
        width: 179px;
        height: 34px;
        line-height: 31px;
        margin-right: 0px;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;
        &::before {
            content: "";
            z-index: 9999;
            position: absolute;
            right: 6px;
            height: 25px;
            width: 23px;
            border: solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            border-right: 1px solid #4fbc94 !important;
            border-bottom: 1px solid #4fbc94 !important;
        }
        &:last-child{
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
            border-right: 1px solid #4fbc94;
            &::before{
                display: none;
            }
        }
    }

    .box-completed {
        display: block;
        position: relative;
        /* float: left; */
        width: 179px;
        height: 34px;
        line-height: 34px;
        margin-right: 0px;
        /* padding: 0 10px; */
        background-color: #4fbc94;
        color: #fff;
        border-radius: 0;
        text-align: center;
        font-family: Roboto-Regular;
        font-size: 14px;
       

        &::before {
            z-index: 9999;
            content: "";
            position: absolute;
            right: -12px;
            height: 25px;
            width: 23px;
            /* border: solid #fff; */
            /* border-width: 0px 3px 3px 0; */
            display: inline-block;
            padding: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            top: 4px;
            /* border-left: solid yellow !important; */
            border-right: 1px solid #fff!important;
            border-bottom: 1px solid #fff !important;
            box-shadow: inset 0 0 0 14px #4fbc94;
            background-clip: content-box;
        }

        // &::after {
        //     content: "";
        // position: absolute;
        // left: -1px;
        // height: 0;
        // width: 0;
        // // border-top: 15px solid transparent;
        // // border-bottom: 17px solid transparent;
        // // border-left: 10px solid #fff;
        // // border-radius: 4px;
        // }
        &:first-child {
            &::after {
                display: none;
            }
        }
        &:last-child {
            &::before {
                display: none;
            }
        }
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border: top right radius 4px;
        }
    }
}
.progress-date {
    .dates {
        display: block;
        position: relative;
        float: left;
        width: 179px !important;
        height: 33px;
        line-height: 33px;
        // margin-right: 10px;
        // padding: 0 10px;
        color: #777777;
        text-align: center;
        font-size: 13px;
        font-family: Roboto-Regular;
    }
}

.data {
    background-color: #4fbc94;
    border-top-left-radius: 4px;
    .data-content {
        color: #fff;
        font-size: 14px;
        font-family: Roboto-Regular;
    }
    .arrow {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}
  .p-galleria-indicators {
    background: transparent !important;
    justify-content: flex-start !important;
  }

  // .anouncement-panel mat-expansion-panel.mat-expanded{
  //   height: 100% !important;
  // }
  // .anouncement-panel .mat-expansion-panel-body {
  //   height: 306px !important;
  //   overflow-y: auto;
  //   padding-bottom: 10px !important;
  // }

  .p-galleria-caption {
    height: 100%;
    display: flex;
    align-items: center;
    background: transparent !important;
  }
  .p-galleria-item img {
    height: 203px !important;
    border-radius: 8px !important;
  }


  .no-padding {
    padding: 0px !important;
  }
  .no-margin {
    margin: 0px !important;
    .margin-bottom-40 {
      margin-bottom: 40px !important;
    }
  }

  .hq-head {
    padding: 10px 0;
    .hq-head-row-1 {
      .hq-head-img {
        vertical-align: middle;
      }
      .hq-head-text {
        font-family: Roboto-Bold;
        font-size: 24px;
        color: #000000;
        vertical-align: middle;
        padding-left: 10px;
        margin: 0;
      }
    }
  }

  .loc-cont-row {
    border: 1px solid #ededed;
    padding: 20px !important;
  }

  .container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  .outer-hq-container {
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;
  }
  .home-thumb {
    width: 144px;
    height: 144px;
    border-radius: 6px;
    background-color: #f6f3fc;
    background-image: url("../../../../assets/images/hq/hq-home-thumb-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
    display: inline-block;
  }
  .home-info {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 160px);
    padding-left: 20px;
    .text-1 {
      font-family: Roboto-Regular;
      font-size: 24px;
      color: #000000;
      display: block;
    }
    .text-2 {
      display: block;
      font-family: Roboto-Regular;
      font-size: 18px;
      color: #000000;
      line-height: normal;
      margin: 12px 0 25px;
      &.gtext {
        color: #469073;
      }
    }
    .setup-net-btn {
      cursor: pointer;
      display: inline-block;
      background-color: #469073;
      border: 1px solid #469073;
      padding: 5px 0 5px 0;
      border-radius: 25px;
      text-align: center;
      height: 40px !important;
      font-size: 14px;
      margin: 0;
      width: 200px;
    }
    .setup-net-btn img {
      position: relative;
      top: -2px;
    }
    .setup-net-btn span {
      color: #ffffff;
      font-size: 18px;
      padding-left: 10px;
      font-family: "Roboto-Medium";
    }
  }
}

.gm-txt {
  color: #2f9f64;
  font-family: Roboto-Medium;
  font-size: 20px;
}
.user-wrapper {
  border-radius: 8px !important;
  height: 64px;
  padding-left: 23px !important;
}
.dealer-wrapper {
  // background-image: url("../../../../assets/images/hq/cover-img.jpg");
  height: 369px;
  // height: 79%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 8px;
  }
}
a {
  color:  #007bff !important;
}

.urgent-img {
  position: absolute;
    top: -22px;
}
.txt-gray {
  color: #ededed;
}
.custom-panel {
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06) !important;
  border-radius: 8px !important;
  border: 1px solid #e0e0e0;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
  color: #444444;
  font-size: 14px;
  font-family: Roboto-Regular;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.banner-title {
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: white;
}

.banner-subtext {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin: 0;
}

mat-expansion-panel-header {
  padding: 16px;
}

.mat-accordion .mat-expansion-panel-header,
.mat-accordion .mat-expansion-panel-header.mat-expanded:focus,
.mat-accordion .mat-expansion-panel-header.mat-expanded:hover {
  background-color: transparent;
  margin-bottom: 0;
  // padding: 17px 20px 11px 17px;
  padding: 14px;
  border-bottom: 1px solid #ededed;
  border-radius: 0;
  height: 44px !important;
}
.mat-accordion .mat-expansion-panel-header-title {
  color: #000000;
  font-family: Roboto-Medium;
  font-size: 16px;
}

.disable_ripple:hover {
  background: transparent !important;
}
.menu-name {
  font-size: 16px;
  font-family: Roboto-Medium;
}
.see-more-txt {
  color: #444444;
  font-size: 14px;
  font-family: Roboto-Regular;
}
.announce-tooltip-icon {
  color: #ebebeb;
}
.user-box {
  border: solid 1px #ebebeb;
  padding: 14px 0;
  border-radius: 8px;
  height: 60px;
}
.aavtar {
  background-image: url("../../../../assets/images/dispatch/avatar.jpg");
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  margin-right: 13px;
}
.user-content {
  .user-data-heading {
    color: #636363;
    font-size: 15px;
    font-family: Roboto-Bold;
    line-height: 16px;
  }
  .data-content {
    size: 13px;
    color: #b2b2b2;
    font-family: Roboto-Medium;
  }
}
.count-box {
  gap: 21px;
  .active-txt {
    color: #bebfc3;
    font-size: 14px;
    font-family: Roboto-Medium;
  }
}
.new-icon {
  left: -15px;
  top: -14px;
}
.mb-10 {
  margin-bottom: 10px;
}

.border-all {
  border: 1px solid #ededed;
}
.urgent {
  left: 270px;
  top: -5px;
}

.flex-1 {
  flex: 1;
}

.attention-panel {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 16px 15px;

  .attention-name {
    color: #636363;
    font-size: 14px;
    font-family: Roboto-Bold;
  }
  .attention-add {
    font-size: 13px;
    color: #444444;
    font-family: Roboto-Medium;
  }
  .attention-id {
    color: #777777;
    font-size: 13px;
    font-family: Roboto-Regular;
  }
}

.box {
  width: 52px;
  height: 51px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url("../../../../assets/images/hq/purple-garage.png");
  background-size: 21px 23px;
  background-color: #f6f3fc;
  margin-right: 13px;
}

.box-2 {
  width: 52px;
  height: 51px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url("../../../../assets/images/inspection-home/green-list.png");
  background-size: 21px 18px;
  background-color: #e5efeb;
  margin-right: 13px;
}
.calender-div {
  width: 52px;
  height: 51px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url("../../../../assets/images/inspection-home/purple-cal.png");
  background-size: 21px 18px;
  background-color: #f2edfb;
  margin-right: 13px;
}

.box-3 {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url("../../../../assets/images/inspection-home/green-list.png");
  background-size: 21px 25px;
  background-color: #e5efeb;
  margin-right: 13px;
}

.box-round {
  width: 35px;
  height: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: url("../../../../assets/images/hq/hq-sec-shops.png");
  background-size: 16px 14px;
  background-color: #e8eafa;
  margin-right: 13px;
}

.late-box {
  width: 59px;
  height: 24px;
  background-color: #ea223e;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  border-radius: 543px 0 0 0;
  padding: 7px 13px 7px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .late-txt {
    font-family: Roboto-Medium;
    font-size: 13px;
  }
}
.fw-bold-txt {
  font-family: Roboto-Bold;
}
.regular-txt {
  font-family: Roboto-Regular;
  font-size: 13px;
  color: #000;
}
.fw-medium-txt {
  font-size: 14px;
  color: #444444;
  font-family: Roboto-Medium;
}
.graph-total {
  display: inline;
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 38%;
    font-size: 24px;
}
.history-box {
  width: 82px;
  height: 82px;
  background-image: url("../../../../assets/images/hq/blue-check.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 37px;
  margin-right: 15px;
  background-color: #e5f4fd;
}
.avg-box {
  background-image: url("../../../../assets/images/complition-time.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 18px;
  width: 43px;
  height: 43px;
  background-color: #e9f7f5;
  border-radius: 6px;
}
.history-data {
  .g-14 {
    gap: 14px;
  }
  .logo-img {
    padding-right: 8px;
  }
}
.fs-16 {
  font-size: 16px !important;
}
.border-right {
  border-right: 1px solid #ededed !important;
}
.border-bottom {
  border-bottom: 1px solid #ededed !important;
}

.service-panel {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }
}

.days {
  color: #3eb7a1;
  font-family: Roboto-Bold;
  size: 18px;
}
.days-txt {
  color: #444444 !important;
}

.repair-box {
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  border-radius: 8px;
}

.pl-23 {
  padding-left: 23px !important;
}

::ng-deep {
  .box-table{
    table{
      border-spacing: 0px 18px;
      border-collapse: separate !important;
    }
  }

  .gm-style .gm-style-iw-tc::after {
    background-color: #444444 !important;
  }

  body.parts-list .thread-list-table .p-datatable {
    .p-datatable-thead > tr > th {
      font-family: Roboto-Light;
    }
    // .p-datatable .p-datatable-tbody > tr > td {
    //   font-size: 15px !important;
    //   height: 50px;
    // }
    .p-datatable-thead > tr > th:first-child {
      // border-radius: 10px 0 0 0;
      border-radius: 0 !important;
    }

    .p-datatable-thead > tr > th:last-child {
      // border-radius: 0 10px 0 0;
      border-radius: 0 !important;
    }
    .custom-heading {
      background-color: #f9f7f8 !important;
      padding: 15px 20px;
      color: #000000 !important;
      font-size: 15px;
      font-family: Roboto-Regular;
    }
    .shop-id {
      color: #000000;
      font-size: 15px;
      font-family: Roboto-Regular;
    }

    .p-datatable-tbody > tr > td {
      color: #000;
      font-size: 15px;
      font-family: Roboto-Regular;
      padding: 0.6rem 0.25rem 0.6rem 0.25rem;
      height: 50px;
    }

    .p-datatable-tbody > tr:hover {
      background-color: #e5efeb !important;
    }

    .p-datatable-tbody > tr .more-icon {
      visibility: hidden;
    }
    .p-datatable-tbody > tr:hover .more-icon {
      visibility: visible;
    }

    .p-datatable-tbody > tr :hover td:first-child {
      border-left: none !important;
    }

    .p-datatable-tbody > tr:hover td {
      background-color: transparent !important;
    }

    .p-datatable-tbody > tr:hover td:first-child {
      border-left: none !important;
    }

    .custom-heading {
      background-color: #687083;
      padding: 15px 20px;
      color: #ffffff;
    }

    .txt-link {
      color: #0044cc;
      font-size: 15px;
      font-family: Roboto-Regular;
    }

    .thl-col-1 {
      width: 140px;
    }

    .thl-col-2 {
      width: 237px !important;
      left: 0 !important;
    }

    .thl-col-3 {
      width: 340px;
    }

    .thl-col-4 {
      width: 140px;
    }

    .thl-col-5 {
      width: 140px;
    }

    .thl-col-6 {
      width: 160px;
    }

    .thl-col-7 {
      width: 160px;
    }
  }
}

.head-profile-img {
  border-radius: 50%;
  height: 35px;
  min-height: 35px;
  min-width: 35px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  width: 35px;
  display: inline-block;
  position: relative;
  top: 0;
  margin-right: 14px;
  background-color: #e8eafa;
  padding: 10px 8px 10px 9px;

  .head-profile-img .head-pimg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Ellipse-9-copy-2 {
  height: 6px;
  background-color: #ededed;
}

.attention-title {
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #636363;
}

.attention-sub-title {
  font-size: 14px;
  font-family: Roboto-Medium;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: #444;
}

.attention-content {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #777;
  line-height: 1;
}

.donutCell {
  position: relative;
}

.centerLabel {
  position: absolute;
  text-align: center;
}

.mb-29 {
  margin-bottom: 28px;
}

// .announcement-box {
//   margin: 8px 0px 10px 7px;
// }
// ::ng-deep .mat-expansion-panel-body {
//   padding: 13px 16px 0 17px !important;
// }

::ng-deep .mat-expansion-panel-body {
  padding: 14px !important;
}

::ng-deep .no-padding-wrapper{
  .mat-expansion-panel-body {
    padding: 0px 14px !important;
  }
}
.Rounded-Rectangle-17-copy-4 {
  height: 30px;
  margin: 0px 18px 0 10px;
  padding: 0 14px 0 11px;
  border-radius: 15px;
  background-color: #76787b;
}

.grey-rectangle{
  border: 1px solid #d9d9d9;
  border-radius: 14px;
}

.r-green {
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 12px 17px 12px 16px;
  border-radius: 8px;
  border: solid 1px #0e9a4e;
  background-image: url("../../../../assets/images/inspection-home/check-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e9a4e;
}

.r-text-green-1{
  color: #0e9a4e;
  font-size: 21px;
  font-weight: 500;
}

.r-green-1 {
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 12px 17px 12px 16px;
  border-radius: 8px;
  border: solid 1px #0e9a4e;
  background-image: url("../../../../assets/images/inspection-home/check-person.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e9a4e;
}
.r-green-accesor {
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 12px 17px 12px 16px;
  border-radius: 8px;
  border: solid 1px #0e9a4e;
  background-image: url("../../../../assets/images/inspection-home/schedule.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e9a4e;
}
.r-text-green{
  color: #0e9a4e;
  font-size: 21px;
  font-weight: 500;
}

.r-red {
  width: 59px;
  height: 50px;
  margin: 0 16px 0 0;
  padding: 12px 18px 12px 19px;
  border-radius: 8px;
  border: solid 1px #f5643d;
  background-color: #f5643d;
  background-image: url("../../../../assets/images/inspection-home/clip-white.png");
  background-repeat: no-repeat;
  background-position: center;
}
.r-orange-accesor {
  width: 59px;
  height: 50px;
  margin: 0 16px 0 0;
  padding: 12px 18px 12px 19px;
  border-radius: 8px;
  border: solid 1px #f58914;
  background-color: #f58914;
  background-image: url("../../../../assets/images/inspection-home/unschedule.png");
  background-repeat: no-repeat;
  background-position: center;
}
.r-text-orange-accesor{
  color:#f58914;
  font-size: 21px;
  font-weight: 500;
}

.r-text-cherry{
  color: #f47070;
  font-size: 21px;
  font-weight: 500;
}

.r-cherry {
  width: 59px;
  height: 50px;
  margin: 0 16px 0 0;
  padding: 12px 18px 12px 19px;
  border-radius: 8px;
  border: solid 1px #f47070;
  background-color: #f47070;
  background-image: url("../../../../assets/images/inspection-home/no-person.png");
  background-repeat: no-repeat;
  background-position: center;
}

.r-text-brown{
  color: #777777;
  font-size: 21px;
  font-weight: 500;
}

.r-brown {
  width: 59px;
  height: 50px;
  margin: 0 16px 0 0;
  padding: 12px 18px 12px 19px;
  border-radius: 8px;
  border: solid 1px #777777;
  background-color: #777777;
  background-image: url("../../../../assets/images/inspection-home/carry-person.png");
  background-repeat: no-repeat;
  background-position: center;
}

.r-text-black{
  color: #444444;
  font-size: 16px;
  font-weight: bolder;
}

.r-text-black-50{
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.r-black {
  width: 59px;
  height: 50px;
  margin: 0 16px 0 0;
  padding: 12px 18px 12px 19px;
  border-radius: 8px;
  border: solid 1px #777777;
  background-color: white;
}

.r-text-violet{
  color: #8d54c2;
  font-size: 21px;
  font-weight: 500;
}

.r-violet {
  width: 59px;
  height: 50px;
  margin: 0 16px 0 0;
  padding: 12px 18px 12px 19px;
  border-radius: 8px;
  border: solid 1px #8d54c2;
  background-color: #8d54c2;
  background-image: url("../../../../assets/images/inspection-home/shop-white.png");
  background-repeat: no-repeat;
  background-position: center;
}
.r-purple-accsor{
  width: 59px;
  height: 50px;
  margin: 0 16px 0 0;
  padding: 12px 18px 12px 19px;
  border-radius: 8px;
  border: solid 1px #8d54c2;
  background-color: #8d54c2;
  background-image: url("../../../../assets/images/inspection-home/virtual.png");
  background-repeat: no-repeat;
  background-position: center;
}
.r-text-purple{
  color: #8d54c2;
  font-size: 21px;
  font-weight: 500;
}
.r-text-red{
  color: #f5643d;
  font-size: 21px;
  font-weight: 500;
}

.r-blue {
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 11px 19px 12px;
  border-radius: 8px;
  border: solid 1px #6161d4;
  background-color: #6161d4;
  background-image: url("../../../../assets/images/inspection-home/clip2-white.png");
  background-repeat: no-repeat;
  background-position: center;
}
.r-blue-accesor {
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 11px 19px 12px;
  border-radius: 8px;
  border: solid 1px #6161d4;
  background-color: #6161d4;
  background-image: url("../../../../assets/images/inspection-home/clip2-white.png");
  background-repeat: no-repeat;
  background-position: center;
}
.r-skyblue-accesor{
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 11px 19px 12px;
  border-radius: 8px;
  border: solid 1px #2d7eda;
  background-color: #2d7eda;
  background-image: url("../../../../assets/images/inspection-home/onsite.png");
  background-repeat: no-repeat;
  background-position: center;
}
.r-text-skyblue{
  color: #2d7eda;
  font-size: 21px;
  font-weight: 500;
}

.r-blue-1 {
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 11px 19px 12px;
  border-radius: 8px;
  border: solid 1px #6161d4;
  background-color: #6161d4;
  background-image: url("../../../../assets/images/inspection-home/multi-person.png");
  background-repeat: no-repeat;
  background-position: center;
}

.r-text-blue{
  color: #6161d4;
  font-size: 21px;
  font-weight: 500;
}

.r-cyan {
  width: 59px;
  height: 50px;
  margin: 0 15px 0 0;
  padding: 13px 17px 13px 18px;
  border-radius: 8px;
  border: solid 1px #3fc3b2;
  background-color: #3fc3b2;
  background-image: url("../../../../assets/images/inspection-home/clip3-white.png");
  background-repeat: no-repeat;
  background-position: center;
}

.r-text-cyan{
  color: #3fc3b2;
  font-size: 21px;
  font-weight: 500;
}

.insstatus-text-col{
  font-size: 13px;
  padding: 6px;
  width: 153px;
  // height: 30px;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  border-radius: 15px;
  margin: 0px 10px 0px 0px;
  .insstatus-text-col-text{
      display: inline-block;
      width: 100px;
      vertical-align: top;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // color: #ffffff;           
      font-family: "Roboto-Regular";
      font-size: 14px;
  }    
}  

.view-button{
  font-size: 13px;
  padding: 4px;
  width: 105px;
  // height: 30px;
  text-align: center;
  margin-right: 20px;
  display: flex;
  align-items: center;
  border-radius: 23px;
  margin: 0px 10px 0px 0px;
  .insstatus-text-col-text{
      display: inline-block;
      font-weight: 600;
      width: 100px;
      vertical-align: top;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // color: #ffffff;           
      font-family: "Roboto-Regular";
      font-size: 14px;
  }    
}

.map-div {
  iframe {
      border: solid 1px #c3c3c3;
      border-radius: 10px;
      // margin-top: 6px;
  }    
}

.img-class{
  height: 31px;
  width: 34px;
}

.col-1-new{
  width: 170px;
  padding-left: 12px;
  padding-right: 12px;
}

.col-2-new{
  width: 200px;
  padding-left: 12px;
  padding-right: 12px;
}

.contact-img{
  width: 16px;
  height: 12px;
  object-fit: contain;
}

.mail-img{
  width: 14px;
  height: 10px;
  object-fit: contain;
}

.phone-img{
  width: 14px;
  height: 10px;
  object-fit: contain;
}

.profile-img{
  width: 31px;
  height: 31px;
}

.profile-img-2{
  width: 55px;
  height: 55px;
}

.gray-4{
  color:#444444
}

.bold-15px{
  font-size: 15px;
  font-weight: 600;
}

.bold-20px{
  font-size: 20px;
  font-weight: 600;
}
.gallery-image{
  button{
    display: none;
  }
}
.gallery-image:hover{
  buttton{
    display: block;
  }
}



