::ng-deep{
    body.auth-index{
        height: 100vh !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        background: #ffffff !important;
        width: 100%;
        padding: 0;
        margin: 0 auto;  
    }
    .loader{
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 64px;
        }
    }
    .no-padding {
        padding: 0px!important;
    }
    .no-margin {
        margin: 0px!important;
        .margin-bottom-40{
            margin-bottom: 40px !important;
        }
    }
    .flex-align-center {
        display: flex;
        align-items: center;
    }
    .flex-align-end {
        display: flex;
        align-items: end;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }
    .mp-mobile-view{
        display: none;
    }
    .mp-desktop-view{
        display: block;
        width: 100%;
    }
    .page-index{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .width-80-per{
        width: 80%;
    }
    .height-100-px{
        height: auto !important;
        margin: 20px 0 0 0;
        .margin-mtop{
            margin:0 0 20px 0 !important;
        }
    }
    @media screen and (max-width: 960px){
        .mp-mobile-view{
          display: block;
          width: 100%;                  
        }
        .mp-desktop-view{
            display: none;
        } 
        .height-60-px{
            padding: 10px 20px 10px 25px;
            width: 100%;
        }       
    }
    /************heaer**********/
    // banner
    .height-60-px{
        height: 60px;
    }
    .height-100-px{
        height: 100px;
    }
    .banner{
        width: 100%;     
        background-color: #0c121c;
    }
    .starbg-lt{
        background-image: url("../../../../../../assets/images/star-bg.png");
        background-position: center;
        width: 60px;
        height: 60px;
        display: inline-block;
        text-align: center;
        .starbg-img{
            position: relative;
            top: 15px;
        }
    }
    .starbg-rt{
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding-left: 10px;
        
        .label-name{
            display: block;
            font-family: Roboto-Regular;
            font-size: 15px;
            color: #afc1ff;
        }
        .label-text{
            display: block;
            font-family: Roboto-Bold;
            font-size: 17px;
            color: #ffffff;
        }
    }
    .banner-bg-container{
        width: 100%;
        height: 230px;
        position: relative;       
        overflow: hidden;
        z-index: 1;
        opacity: .7;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-image: url("../../../../../../assets/images/service-provider/inner-detail.jpg");*/
        background-position: bottom right;      
    }    
    .banner-content-container{
        width: 100%;
        height: 230px;
        position: absolute; 
        z-index: 2;       
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
    }
    
    .banner-content{ 
        position: relative;
        z-index: 3;      
        h6{
            font-family: Roboto-Bold;
            font-size: 40px;            
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            margin-bottom: 10px;
        }
        p{
            padding: 0;
            margin:0;
            font-family: Roboto-Medium;
            font-size: 20px;            
            line-height: 30px;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }
    
    // banner
    .header-left{
        display: inline-block;
        img{
            max-width: 300px;
            height: 36px
        }
    }
    .header-right{
        display: inline-block;
        width: 150px;
        height: 30px;
        .lt{
            display: table-cell;
            vertical-align: top;
            img{
                height: 30px;
                position: relative;
                top:4px;
            }
        }
        .rt{
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            padding-left: 10px;
            span{
                display: block;
                font-family: Roboto-Regular;
                font-size: 15px;
                color: #000000;
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                line-height: 18px;             
                &.green-text{
                    font-family: Roboto-Regular;
                    color: #469073;
                    text-transform: capitalize; 
                }
            }
        }
    }
    @media screen and (max-width: 960px){       
        .mp-menu.p-menubar {
            background: transparent;
            border: none;
            box-shadow: none;
            outline: none;
            width: 32px;
            height: 32px;
            float: right;
            position: relative;
            top: 2px;
            padding: 0;
        }
        .p-menubar-button {
            align-items: center;
            cursor: pointer;
            justify-content: center;
            box-shadow:none !important;
            background-color: #469073;
        }    
    }
    /************heaer**********/
    /************center********/
    .content-desc{
        display: block;
        font-family: Roboto-Medium;
        font-size: 24px;
        line-height: 34px;
        color: #000000;
        padding: 30px 0;
    }
    .content-desc-empty{
        display: block;
        margin-bottom: 20px;
    }
    .left-panel{
        width: 100%;
        padding: 20px;
        &.training-bg{
            background-color: #f1e9d5;
        }
        &.mobile-bg{
            background-color: #e8ebf3;
        }
        &.ondemand-bg{
            background-color: #f4e9e8;
        }
        &.knowledge-bg{
            background-color: #ebf5f0;
        }
        .circle-div-lt{
            &.training-bg{
                background-color: #f9f5ea;
            }
            &.mobile-bg{
                background-color: #f6f9ff;
            }
            &.ondemand-bg{
                background-color: #fff5f4;
            }
            &.knowledge-bg{
                background-color: #ffffff;
            }
            width: 114px;
            height: 114px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            .circle-div-img{
                position: relative;
                top: 27px;
            } 
        }
        .circle-div-rt{
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 24px;
            color: #1e1a3c;
            padding-left: 20px;
        }
               
    }
    .background-bg{
        background-color: #f9f9f9;
    }
    .right-panel{
        padding: 10px 10px 10px 30px;
        .right-panel-desc{
             font-family: Roboto-Regular;
            font-size: 16px;
            color: #000000;
        }
        .right-panel-btn{
            cursor: pointer;
            height: 36px;
            margin: 20px 0 0 0;
            text-align: center;
            padding: 5px 0 0 0;
            border-radius: 6px;
            background-color: #469073;
            display: inline-block;
            width: 210px;
        }
        .right-panel-btn-text{
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 15px;
            color: #ffffff;
        }
    }
    /************center********/
    /************footer********/ 
    .footer-top-border{
        border-top: 1px solid #eaeaea;
        padding: 5px 0 0 0 !important;
    }
    .footer-row{
        padding: 0 0 5px 0 !important;
    }    
    .text-co{
        font-family: 'Roboto-Regular';
        font-size: 17px; 
        color:#000000;
    }
    .footer-text-rt{
        text-align: right;
    }
    @media screen and (max-width: 767px){ 
        .footer-text-rt{
            text-align: left;
            padding-top: 6px !important;
            .text-po,.text-co{
                font-size: 15px;
            }
        }
    }
     /************footer********/

     @media screen and (max-width: 1360px) and (min-width: 992px){
        .starbg-rt .label-text{
            display: block;
            color: #ffffff !important;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
     }

     @media screen and (max-width: 767px){ 
        .banner-content-container{
            height: 200px;          
        }
        .banner-bg-container{
            height: 200px;
        }
        .banner-content h6{
            font-size: 28px;
            margin-bottom: 5px;
        }
        .banner-content p{
            font-size: 18px;
        }
        .content-desc{
            font-size: 20px;
            line-height: 30px;
        }
     }
}