.overflow-text{    
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;     
    &.col-c1{
      display: inline-block;
      width:calc(100% - 30px);
    }
    &.col-c2{
      display: inline-block;
      width: 87%;
    }
}
.default-text{    
    cursor: pointer;
    color: #6c717c;
    font-family: "Roboto-Regular";
    font-size: 14px;      
    &.red-text{        
        color: #e55554;
    }
    &.white-text{
        font-size: 15px;
        color:#ffffff;
    }
}
.word-wrap{
    display: inline-block;
    vertical-align: middle;
    width: 84%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-dynamic-icon{
    img{
        vertical-align: revert;
        padding-left: 3px;
    }
}
.setwidthtotexthere{
    width: 112px;
    font-family: "Roboto-Medium";
    font-size: 14px;  
    position: relative;
    top: -6px;
}
#headeredit1{
    width: 88px !important;
}
::ng-deep .productmatrix-p-table .p-datatable-thead tr th.normalptabletow:nth-last-child(1){
    background: #f6f7fa;
    color: #000;
    margin: 0;
    padding: 2px 0 0 12px;
    position: sticky;
    top: 0;
    right: -1px;    
    max-width: 45px !important;
    display: block;   
    right: 0;
    height: 61px !important;
    float: right;
}
::ng-deep .productmatrix-p-table .p-datatable-tbody tr td.normalptabletow:nth-last-child(1) {
    background: #f6f7fa;
    color: #000;
    margin: 0;
    padding: 2px 0 0 12px;
    position: sticky;
    top: 0;
    right: -1px; 
    width: 45px !important;  
    max-width: 45px !important;
    display: block;   
    right: 0;
    height: 73px !important;
    float: right;
}
::ng-deep .p-datatable-unfrozen-view colgroup col:nth-last-child(1) {
    width: 45px !important;  
    max-width: 45px !important;
}
::ng-deep .prob-list-cont-escalation .p-datatable .p-datatable-thead > tr > th{
    height: 61px !important;
}
::ng-deep .prob-list-cont-escalation .p-datatable .p-datatable-tbody > tr > td{
    height: 73px !important;
}

::ng-deep .prob-list-cont-escalation .p-datatable-unfrozen-view .p-datatable-tbody > tr > td{
    padding: 0 0.1rem 0 1.5rem !important;
    vertical-align: middle;
}
::ng-deep .prob-list-cont-escalation .p-datatable-unfrozen-view .p-datatable-tbody > tr > td:first-child{
    padding: 0 0.1rem 0 0.5rem !important;  
    vertical-align: middle;
}
::ng-deep .prob-list-cont-escalation .p-datatable-frozen-view .p-datatable-tbody > tr > td{
    padding: 0 0.1rem 0 1.5rem !important;
    vertical-align: middle;
}

::ng-deep .prob-list-cont-escalation .p-datatable-frozen-view .p-datatable-tbody > tr > td:first-child{
    padding: 0 0.1rem 0 0.5rem !important;
    vertical-align: middle;
}
p-sorticon{
    position: relative;
    top: -8px
}
::ng-deep #productmatrix-table-data .p-column-filter-menu-button{
    position: relative;
    top: -6px
}
.product-list-head{
    width:100%;
    .head-col-1{
        width: 70%;
    }
    .head-col-2{
        width: 30%;
    }
}
.custom-icon-user-dashboard{
    top: 23px;
}
.productland-list-head .cancel-btn{
    width: 5%;
}
.productland-list-head .submit-btn{
    display: inline-block;
    position: relative;
    left: 5px;
    height: 18px;
    width: 5%;
    top: 4px;
}
.head-txt-act{
    margin-left:-20px;
}
::ng-deep .newuser-dialog-content .input-with-icon-inside{
    margin: 5px !important; 
    border: 1px solid #d6d5d5 !important;
}
::ng-deep .newuser-dialog-content .confirm-actions{
    padding-left: 0 !important;
    margin: 15px 0 0 -3px !important;
}
::ng-deep .p-dialog{
    .p-dialog-header{
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        .p-dialog-title {
            font-weight: normal;           
            font-size: 20px;
            font-family: 'Roboto-Medium';
            font-weight: normal;
            padding-left: 10px;
        }
    }
    .p-dialog-content{
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}
::ng-deep .modal-dialog .modal-content .custom-modal .modal-header .modal-title{
    width: auto !important;
}