<div id="header" *ngIf="!msTeamAccess">
    <app-product-header *ngIf="!headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header>
    <app-product-header *ngIf="headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header>
</div>
<div class="left-section">
    <div class="first-left-width">
      <nav id="nav-sidebar">
        <app-marketplace-sidebar [activeMenuItem]="'market-place/customers'" accessModule="{{bodyClass}}"></app-marketplace-sidebar>
      </nav>
    </div>
  </div>
<div class="prob-index split-sec1 right-section">
  <div class="container-fluid">
      <div class="row col-lg-12 col-md-12 col-sm-12 landing-padding0 landing-margin0">
          <div class="col col-lg-12 col-md-12 col-xl-12 col-sm-12 center-middle-width-container">
          <!-- <div [ngClass]="{'col col-lg-12 col-md-12 col-xl-12 col-sm-12': msTeamAccess, 'col col-lg-8 col-md-8 col-xl-8 col-sm-8': !msTeamAccess }" class="center-middle-width-container"> -->
              <div class="mcenter-middle-width padding-common">
                  <div class="clear"></div>
                  <div class="probing-content cbt-content part-content part-content-threads-new">
                    <div class="col col-lg-12 col-md-12 col-xl-12 col-sm-12 landing-page thread-page-container card-parent-design-new" style="margin-top: 0 !important; margin-left: 10px !important;padding-top:0px">
                      <div class="flex-align-center">
                        <div class="ellipse">
                          <img width="10px" height="10px" src="assets/images/service-provider/filter-icon.png" />
                        </div>
                        <div class="loading-small-screen-scroll trst" align="center" *ngIf="loading"><img src="assets/images/loading.svg" alt="Loader" /></div>
                        <div *ngIf="!loading" style="padding: 0px !important;" class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12">
                          <app-customer-list [pageAccess]="pageAccess" (customerComponentRef)="customerPageRef = $event" (callback)="customerCallback($event)"></app-customer-list>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  <p-dialog [(visible)]="displayModal" header="{{manageTitle}}" [modal]="true" [draggable]="false" [resizable]="true" styleClass="customer-add-popup">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
          <form [formGroup]="customerForm">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px">
                  <div class="row no-margin">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="20px" height="20px" src="assets/images/service-provider/user.png"></span>
                                  <input type="text" pInputText placeholder="First Name" formControlName="firstName">
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.firstName.errors?.required && customerSubmit">
                          First name is required
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="20px" height="20px" src="assets/images/service-provider/user.png"></span>
                                  <input type="text" pInputText placeholder="Enter Last Name" formControlName="lastName">
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.lastName.errors?.required && customerSubmit">
                          Last name is required
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                  <div class="row no-margin">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 margin-top-15px margin-bottom-10px no-padding">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="22px" height="15px" src="assets/images/service-provider/mail-grey.png"></span>
                                  <input type="text" pInputText placeholder="Email" formControlName="email">
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.email.errors?.required && customerSubmit">
                              Email is required
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.email.errors?.email && customerSubmit">
                              Enter valid email
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 margin-top-15px margin-bottom-10px no-padding">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="20px" height="20px" src="assets/images/service-provider/phone.png"></span>
                                  <ngx-intl-tel-input style="width: 100%" [cssClass]="'custom'" class="KA_input_text_Phone_new_2" [preferredCountries]="preferredCountries" [(ngModel)]="phoneValue" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [phoneValidation]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="true" [selectedCountryISO]="selectedCountryIS0" [maxLength]="10" [phoneValidation]="false" [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phoneNumber">
                                  </ngx-intl-tel-input>
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.phoneNumber.errors?.required && customerSubmit">
                              Phone number is required
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                  <div class="row no-margin">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="24px" height="17px" src="assets/images/service-provider/companyInfoGrey.png"></span>
                                  <input type="text" pInputText placeholder="Company Name" formControlName="companyName">
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.companyName.errors?.required && customerSubmit">
                              Company Name is required
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                  <div class="row no-margin">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                                  <input type="text" pInputText placeholder="Address 1" formControlName="address1">
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.address1.errors?.required && customerSubmit">
                              Address 1 is required
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-4 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                                  <input type="text" pInputText placeholder="Address 2" formControlName="address2">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                  <div class="row no-margin">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                                  <p-dropdown class="width-100-perc height-100-perc" name="countryValue" styleClass="height-100-perc width-100-perc custom-dropdown-design-company-new-2 dropdown-panel-change" [options]="countryDropDownOptions" [(ngModel)]="countryValue" formControlName="country" placeholder="Country" optionLabel="name" optionValue="id" (onChange)="getStatesDropdownData($event.value);"></p-dropdown>
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.country.errors?.required && customerSubmit">
                              Country is required
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                                  <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                                  <p-dropdown class="width-100-perc height-100-perc" [filter]="true" name="stateValue" [(ngModel)]="stateValue" styleClass="height-100-perc width-100-perc custom-dropdown-design-company-new-2 dropdown-panel-change" formControlName="state" [options]="stateDropDownOptions" placeholder="State" optionLabel="name" optionValue="id"></p-dropdown>
                              </div>
                              <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.state.errors?.required && customerSubmit">
                              State is required
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                  <div class="row no-margin">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                              <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                              <input type="text" pInputText placeholder="City" formControlName="city">
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.city.errors?.required && customerSubmit">
                              City is required
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                              <div class="p-inputgroup new-design">
                              <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                              <input type="text" pInputText placeholder="Zip Code" formControlName="zip">
                              </div>
                          </div>
                          <div class="error-msg col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding" *ngIf="customerControls?.zip.errors?.required && customerSubmit">
                              Zip code is required
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin-top-24px margin-bottom-5px responsive-padding">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 flex-start margin-top-5px margin-bottom-5px no-padding">
                  <button class="custom-buttom-design-new-2" pButton type="button" label="Save" (click)="saveCustomer();" icon="pi pi-check" iconPos="right"></button>
                  <button class="custom-buttom-design-new" (click)="closeCustomerForm()" pButton type="button" label="Cancel" icon="pi pi-times" iconPos="right"></button>
              </div>
          </div>
      </div>
  </p-dialog>
  <p-dialog [(visible)]="displayViewModal" [modal]="true" [draggable]="false" [resizable]="true"
      styleClass="customer-info-popup">
      <ng-template pTemplate="header">
          <div class="w-100 mx-3" style="display: flex;align-items: center;justify-content: space-between;">
              <span style="font-size: 18px;font-weight: 500;">Customer Details - {{customerCurrentData?.firstName}} {{customerCurrentData?.lastName}}</span>
              <button pButton pRipple type="button" (click)="this.displayViewModal = false; openEditPopup(customerCurrentData)" icon="pi pi-pencil" iconPos="right" label="Edit" class="p-button-rounded p-button-success green-button-color float-right"></button>
          </div>
      </ng-template>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px">
          <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="20px" height="20px" src="assets/images/service-provider/user.png"></span>
                          First Name
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.firstName}}</span>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="20px" height="20px" src="assets/images/service-provider/user.png"></span>
                          Last Name
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.lastName}}</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px">
          <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="22px" height="15px" src="assets/images/service-provider/mail-grey.png"></span>
                          Email
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.email}}</span>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="20px" height="20px" src="assets/images/service-provider/phone.png"></span>
                          Phone Number
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.dialCode}} {{customerCurrentData?.phoneNumber}}</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px">
          <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="24px" height="17px" src="assets/images/service-provider/companyInfoGrey.png"></span>
                          Company
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.companyName}}</span>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="23px" height="20px" src="assets/images/service-provider/training-2-grey.png"></span>
                          No of Training
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.noOfTrainings ? customerCurrentData?.noOfTrainings : '-'}}</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px">
          <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                          Address 1
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.address_1}}</span>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                          Address 2
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.address_2}}</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px">
          <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                          Country
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.country}}</span>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                          State
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.state}}</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 no-padding margin-top-15px">
          <div class="row no-margin">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                          City
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.city}}</span>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding margin-top-15px margin-bottom-10px">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 md:col-12 responsive-padding">
                      <div class="p-inputgroup new-design-2 view-label-style">
                          <span class="p-inputgroup-addon"><img width="17px" height="22px" src="assets/images/service-provider/map-pin.png"></span>
                          Zip
                      </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 responsive-padding">
                      <span style="padding-left:37px;" class="view-value-style">{{customerCurrentData?.zip}}</span>
                  </div>
              </div>
          </div>
      </div>
  </p-dialog>
  <p-dialog [header]="downloadtextflag" [(visible)]="excelreportdiaLog" [closable]="false" [modal]="true" [draggable]="false">
      <br/>
      <br/>
      <p-progressBar styleClass="custom-progress-bar" [(value)]="progressbarCount"></p-progressBar>
      <br/>
      <div class="cancel-div text-right">
        <button (click)="cancelUpload()" type="button" class="btn btn-info text-right green-button-color">Cancel</button>
      </div>
  </p-dialog>
  