.del-row{
    margin: 0;
    padding: 20px 0 0 0;
    &.remove-row {
        padding-bottom: 15px;
    }
    &.delete-row {
        margin: 0 auto;
        width: 60%;
    }
    .checkbox-col{
        width: 20px;
        height: 20px;        
        margin: 0 10px 0 10px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
    }
    .text-col{
        font-family: "Roboto-Regular";
        color: #5e6980;
        font-size: 14px;
    }
    &:last-child {
        padding-bottom: 20px;
    }
    &.info {
        border-radius: 6px;
        color: #a8a6b3;
        padding: 8px 15px;
        .info-text {
            background: url('../../../../assets/images/common/error-msg-icon-gray.png') no-repeat 16px center;
            background-size: 19px;
            font-size: 14px;
            padding: 3px 0px 3px 40px;
        }
    }
}