::ng-deep {
    body.landing-page .p-datatable .p-datatable-tbody > tr:hover,
    body.landing-page .p-datatable .p-datatable-tbody > tr:hover td{
        cursor: pointer;
        background-color: #ffffff !important;
    }
    .justify-center{
        justify-content: center;
    }
}
::ng-deep body.landing-page .my-tickets .p-datatable .p-datatable-thead > tr > th.tw12{
    text-align: center !important;
}
::ng-deep body.landing-page .my-tickets .p-datatable .p-datatable-tbody > tr > td.tw12{
    text-align: center !important;
}
