.add-link-box{
    display: block;
    margin: 30px 15px 30px 20px;
    .add-link-icon{
        background-color: #f3f3f3 !important;
        border: solid 1px #dbddde !important;
        .input-group-prepend{
            margin-right: 0px;
            span{
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }            
        }
    }
    .add-link-input{
        width: 180px;
        margin-left: 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border: 1px solid #dbddde;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        color:#4d4d67;
        background: #fbfbfb;
    }
}
.media-form-action{   
    /*visibility: hidden;*/
    border: none; 
    border-top: 1px solid #dfe1e3;
    margin: 20px 0 0 0;
    padding: 20px 0 0 20px;
    width: 100%;    
    &.bottomFixed{
        position: fixed;
        bottom: 40px; 
    }
    /*&.buttonShow{
        visibility: visible;
    }*/
    .sdraft{
        width:15px;
        height: 15px;
        display: inline-block;
    }
    .scancel{
        width:11px;
        height: 11px;
        display: inline-block;
    }
}
.media-form-action .btn{
    width: 100px;
}

::ng-deep{

.copy-text{
    color:#298368;
    font-family: "Roboto-Regular";
    font-size: 14px; 
    display: block;
    cursor: pointer;
    &.margin-image{
        margin:15px 0 -5px 0;
    }   
    &.margin-video{
        margin:-10px 0 -5px 20px;
    }
    &.margin-audio{
        margin:15px 0 -5px 20px;
    }
    &.margin-iframe{
        margin:0;
    }
    &.margin-link{
        margin:15px 0 -5px 20px;
    }
}

.copied-modal {
    .p-dialog-mask {
      &.p-component-overlay {
        background: transparent !important;
        z-index: 0 !important;
      }
    }
    .p-dialog {
      box-shadow: none;
      .p-dialog-header {
        display: none;
      }
      .p-dialog-content {
        background: #3c424d;
        border-radius: 10px;
        color: #FFF;
        margin: 0 auto;
        padding: 0;
        width: 150px;
        .copied-txt {
          padding: 10px 0px;
        }
      }
    }
  }
}