::ng-deep{
    body .modal .modal-dialog .modal-content .custom-modal.make-modal .modal-header .add-make{
        width: 80px
    }
    body .modal .modal-dialog .modal-content .custom-modal.make-modal .modal-header .add-make{
        &.add-turn{
            background: none;
            background-color: #fb982c;
            padding: 6px 0 6px 0;
            width: 100px;
            text-align: center;
            margin-left: -70px;
            margin-right: -30px;
        }
    }
}