.thread-post-hover{
  background: #ffffff;
}
.thread-detail-section{
    margin:0;
    padding: 0;
    width: 100%;
    display: block;
    background: #ffffff;
    .left-section{
        display: inline-block;
        vertical-align: top;
        width: 60%;
        padding:20px 30px 0 20px;
    }
    .right-section{
        display: inline-block;
        vertical-align: top;
        width: 40%;
        padding:16px 20px 0 30px;
    }
}

.flex-row {
    display: flex;
    width: 100%;
  }
  .flex-col {
    display: flex;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    flex-direction: column;
  }
  .knowledge_view__icons {
    border-top: 1px solid #e7ebeb;
    padding: 12px 0 10px 0;
  }
  .knowledge_article_title {
    font-size: 28px;
    position: relative;
    top: -5px;
    text-align: left;
    font-family: "Roboto-Bold";
    color: #000000;
  }
  .ka_username {
    font-size: 15.5px;
    font-family: "Roboto-Medium";
    cursor: pointer;
    color: #000000;
  }
  .ka_userRole {
    font-size: 13px;
    font-family: "Roboto-Regular";
    color: #636363;
  }
  .ka_user_details {
    padding-left: 5.5rem;
    text-align: left;
    font-family: "Roboto-Regular";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }
  .knowledge_view__editedOn,
  .knowledge_view__editedBy {
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
  }
  .knowledge_view__editedOnText,
  .knowledge_view__editedByText {
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: normal;
    text-align: left;
    color: #848484;
  }
  
  .left__view {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .ps_relative {
    position: relative;
  }
  .tag-info {
    padding-left: 0px !important;
    &.catg-info{
      padding:20px 0 0 0;
    }
  }
  .baner_img {
    top: 15%;
    left: 42%;
    position: absolute;
  }
  .bg__img {
    background-image: url("../../../../../assets/images/default_KA.jpg") !important;
    background-repeat: repeat;
    background-size: contain;
    max-height: 150px;
    height: 150px;
    border-radius: 12px;
  }
  
  .knowledge_profileImg {
    width: 63px;
    height: 64px;
    z-index: 2;
    position: absolute;
    border: 2px solid #fff;
    cursor: pointer;
    top: 118px;
    left: 15px;
    border-radius: 35px;
  }
  .knowledge_bannerImg {
    max-height: 150px;
    height: 150px;
    width: 100%;
    border-radius: 12px;
    &.cover {
      object-fit: cover;
    }
    &.contain {
      object-fit: contain;
      background-color: #f1f1f1 !important;
    }
  }
  .created_date {
    align-self: flex-end;
    font-family: "Roboto-Regular";
    position: relative;
    top: -20px;
    font-size: 14px;
    text-align: left;
    color: #878787;
  }
  .right__view {
    padding-left: 1rem;
  }
  .knowledge_view__description {
    padding:0;
    margin:0;
    font-size: 16px;
    color: #000000;
    font-family: "Roboto-Regular";
    p{
        padding: 0;
        margin:0;
    }
  }  
  .img_16 {
    height: 17px;
    width: 18px;
  }
  .KA_makeModel {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #e55554;
  }
  .pl_10 {
    padding-left: 10px;
  }
  .desc_main {
    position: relative;
  }
  .description_text {
    font-family: "Roboto-Regular";
    font-weight: 500;
    margin-left: 10px;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.26;
    letter-spacing: normal;
    text-align: left;
    color: #93989d;
  }
  .footer-selection {
    background-color: #fff;
  
    height: 27px;
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    .thread-footer-container {
      width: 100%;
      padding: 1px 0px 0px 15px;
      .lft {
        float: left;
        padding-right: 6px;
        cursor: pointer;
      }
      .rht {
        float: right;
        padding-right: 4px;
      }
      .text-color-footer {
        font-size: 14px;
        color: #bebfc3;
        font-family: "Roboto-Regular";
        font-weight: 500;
      }
      .footer-bulb-icon {
        width: 80%;
      }
    }
  }
  .footer-icon {
    position: relative;
    top: -3px;
  }
  .flex-row {
    display: flex;
  }
  .pl-1r {
    padding-left: 20px;
  }
  .footer-icon {
    cursor: pointer;
  }
  .rel {
    position: relative !important;
  }
  .text-color-footer {
    font-size: 14px;
    color: #bebfc3;
    font-family: "Roboto-Regular";
    font-weight: 500;
    position: relative;
    top: -2px;
    left: 6px;
  }
  .user-icon {
    height: 21px;
    width: 21px;
  }
  .pl_6 {
    padding-left: 6px;
  }
  .pl_9 {
    padding-left: 9px;
  }
 
  ::ng-deep{
    body #knowledge-article #header{
      border: 1px solid #e9ebec;
    }
    .tag-info{
    padding: 0;
     .tags{
       span{
        &.no-tag{
          display: block;
          margin-left: 25px;
          top: -13px;
          position: relative;
        }
      }
     }
  }
  #knowledge-article .tag-info{
    margin-bottom: 15px;
  }
  #knowledge-article .tag-info .tags span.list-txt.tag-txt{
    background-position: 0 5px;
    font-size: 14px;
    font-family: "Roboto-Medium";
    color: #999999;
  }
  app-application{
    margin-top: 15px;
  }
  .tag-list-div{
    padding-left: 20px;
  }  
}
