.no-per-div{
   width: 100%;
   text-align: center;
   p{
    padding: 16px 0 0 0;
    margin: 0;
    font-family: "Roboto-Regular";
    font-size: 16px;
    color: #15181f;
    line-height: normal;
   }
}
::ng-deep body .modal .modal-dialog .modal-content .custom-modal .modal-body .container{
    padding: 0;
}