.post-loader-svg {
    background-image: url("../../../../assets/images/landing-page/loading-more.svg");
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 41px;
    height: 32px;       
}
::ng-deep{
    .service-type-div{
        margin-left: -40px;
        max-width: 200px !important;
        flex: 0 0 200px;
        padding-right: 0 !important;
    }
    .service-type-text{
        word-break: break-word;
    }
    .dispatch-modal-width{
        ::ng-deep .p-dialog {
            max-width: 1024px !important;
            width: 90% !important;
          max-height: 90vh;   
          border-radius: 6px;
          overflow: hidden;     
        }
        .too-strong{
            font-family: 'Roboto-Medium';
            font-size: 16px; 
            color: #000000;
        }
        .obj-div{
            width: 100%;
            display: block;
            padding: 0;
            font-family: 'Roboto-Regular';
            font-size: 15px; 
        }
        .inner-obj-div{
            width: 100%;
            display: block;  
            padding: 10px;
            margin: 5px;
        }
        .obj-lt-div{
            width: 30%;
            display: inline-block;
            font-weight: normal;
            padding: 5px 0 5px 0;
            color: #777777;
        }
        .obj-rt-div{
            width: 68%;
            display: inline-block; 
            padding: 5px 0 5px 0;
            color: #000000;
        }
    }
    .white-space-nowrap{
        white-space: nowrap;
    }
    #system-v2.reference-info {
        padding-bottom: 0 !important;
        //padding-top: 0 !important;
    }    
    body.audit .thread-detail-section-inner{
        padding-left:20px !important;
    }
    body.repairorder .modal:nth-of-type(1) .modal-dialog{
        max-width:1622px !important;    
    }
    body.submit-loader.view-modal-popup.repairorder-view .loader{
        width: 100% !important;
        position: relative !important;
    }
    body.submit-loader.repairorder-view .modal-content .loader img{
        top: 0 !important;
        left: 0 !important;
    }
    body.audit .ps.ps--active-y .ps__rail-y{
        z-index: 100;
    }
    body.audit .ps.ps--active-y .ps__rail-x{
        display: none;
    }
    &.view-ro-detail{
        .max-width-col-5{
            max-width: 12%;
            flex: 0 0 12%;
        }
        .no-padding {
            padding: 0px !important;
            &.padding20px{
              padding: 20px !important;
            }
        }          
        .no-margin {
            margin: 0px !important
        }  
        .padding-left0{
            padding-left: 0 !important;
        }  
        .flex-center {
            display: flex;
            justify-content: center;
        }          
        .flex-align-center {
            display: flex;
            align-items: center;
        }          
        .flex-align-baseline {
            display: flex !important;
            justify-content: center !important;
            align-items: baseline !important;
        } 
        .flex-align-end {
            display: flex;
            align-items: end;
        }          
        .flex-justify-align-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .order-title-row{
           padding:15px 0 0 0 !important;           
        }
        .order-cont-row{
            padding:10px 0 10px 0 !important;
            border-bottom: 1px solid #e5e5e5;
            &.no-title{
                padding-top:10px !important;
            }
            
        }
        .order-cont-row-no{
            border: none;
            padding:10px 0 0 0 !important;
            &.no-title{
                padding-top:10px !important;
            }
        }
        .title-text {
            font-family: 'Roboto-Medium';
            font-size: 20px;            
            color: #000000;
            padding-left: 5px;
        }
        .fill-black{
            svg{
                path {
                    fill: #000000;
                } 
            }
        }
        p{
            margin-bottom: 0;
            padding: 0;
        }
        .label-text {
            font-family: 'Roboto-Regular';
            font-size: 15px;            
            color: #999999;
            padding-left: 10px !important;
        }
        .cont-text {
            font-family: 'Roboto-Regular';
            font-size: 15px;            
            color: #000000;
            padding-left: 10px  !important;
            padding-top: 0 !important;
            &.blue-text{
                color: #0044cc;
                text-decoration: underline;
                font-family: 'Roboto-Medium';
                cursor: pointer;
            }
            p{
                padding: 0;
                margin: 0;
            }
        }
        .status-text{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;  
            margin: 0 0 0 10px;
            text-align: center;
            color: #ffffff;
            padding: 1px 15px 1px 15px;
            font-family: 'Roboto-Medium';
            font-size: 14px;
            border-radius: 15px;
        }
        .cont-info-text{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;  
            margin: 0 auto;
            text-align: center;
            color: #ffffff;
            padding: 5px 15px 5px 15px;
            font-family: 'Roboto-Medium';
            font-size: 14px;
            border-radius: 15px;
            background-color: #777777;
            margin-left: 22px;
            display: inline-block;
        }
        .cont-div{
            display: block;
            width: 100%;
            .cont-div-lt{
                display: inline-block;
                top: 4px;
                position: relative;
                vertical-align: top;
            }
            .cont-div-lt-svg{  
                display: inline-block;
                top: 0  ;
                position: relative;
                vertical-align: top;              
                svg{                   
                    width: 26px;
                    height: 26px;
                    color: #b2b2b2;
                }
            }
            .cont-div-lt-svg-fill{  
                display: inline-block;
                top: 0  ;
                position: relative;
                vertical-align: top;              
                svg{  
                    path {
                        fill: #b2b2b2;
                    }                 
                }
            }
            .cont-div-rt{
                display: inline-block;
                top: 0;
                vertical-align: top;
                position: relative;
                width: calc(100% - 44px);
            }
        }
        .pi-chevron-right:before{
            font-size: 12px;
            padding: 0 1px 0 1px;
        }
    }
    .estimation-detail-div{
        width: 99%;
        overflow: hidden;
        margin: 10px 0 20px 0 !important;
    }
    .estimation-head-div{
        background-color: #818489;
        border-radius: 6px;        
        padding: 7px 0 7px 12px;
        display: block;
        margin: 10px 0 20px 0 !important;
        span{
            font-family: 'Roboto-Medium';
            font-size: 14px;
            color:#fbfbfb;
            position: relative;
            top:0;
            padding-left: 5px;
        }
        img{
            position: relative;
            top:0;
        }
    }
    .documents-grid-row.documents-grid-row1 #file-datatable .p-datatable .p-datatable-thead > tr > th{
        border: solid 1px #e5e5e5 !important;
        background-color: #edeeee !important;
        color:#000000 !important;
    }
    .documents-grid-row.documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
        height: 50px;
        &:hover{
            background:transparent !important;
        }
    }
    .tag-info.ws-info {
        padding: 15px 10px 5px 15px;
        border-top: none !important;
        margin-top: 10px !important;
    }
    .recent-history-div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  
        margin: 0 0 0 10px;
        text-align: center;
        color: #469073;
        padding: 5px 17px 5px 17px;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        border-radius: 15px;
        border: solid 1px #469073;
    }
    .image-1{
        position: relative;
        top:-2px;
    }
    .image-2{
        position: relative;
        top:-2px;
    }
   
}   
::ng-deep {
    body.viewhistorypopup{
        .p-dialog-mask.p-component-overlay{
            z-index: 99999 !important;
        }
        .p-dialog-mask {
        height: 150vh !important;      
        .p-dialog {
            margin: 0 !important;
            width: 500px;
            .p-dialog-header {
            display: none;
            }
            .p-dialog-content {
            padding: 0;
            overflow: hidden;  
            height: 100vh;
            position: relative;
            z-index: 1000000;
            .history-update-div{ 
                height: 100vh;               
                h1 {
                    border-bottom: solid 1px #d6d6d6;
                    font-family: 'Roboto-Medium';
                    font-size: 18px;
                    color: #000000; 
                    padding: 10px 5px !important;
                    margin: 0;
                    span {
                        display: inline-block;
                        &.head {
                        padding-left: 15px;
                        width: calc(100% - 30px);
                        }
                        &.sidebar-close-icon {
                        background: url('../../../../assets/images/thread-detail/thread-window-close.png') no-repeat;
                        width: 17px;
                        height: 16px;
                        }
                    }
                }
                .items {
                    padding: 0px 0px 0px 20px;
                    overflow-y: auto;
                    height: calc(100% - 48px);
                    display: block;
                    .items-row {
                        border-bottom: solid 1px #d6d6d6;
                        display: block;
                        padding: 15px 10px 13px 0; 
                        font-family: 'Roboto-Regular';
                        font-size: 14px;  
                        color: #000000;             
                    }
                }    
            }

            }
        }
        }
    }
  }

      
    
