:host::ng-deep {
    .bg-selected{
        td{
            background-color: #bfe1d4 !important;
        }
    }
    .ellip-word{
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
    }
    .no-value-text{
        display: inline-block;
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color: #999999 !important;
        font-style: italic;
    }

    .p-column-filter-menu-button{
        color: white;
      }
    .text-action-link {
        color: #04c;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px !important;
        font-family: "Roboto-Regular";
    } 

    
    .check-bg-img{
        background-color: #2f9f64;
    width: 18px;
    height:  18px;
    }

    .empty-show-container{
        position: absolute;
        text-align: center;
        z-index: 999;
        visibility: visible;
        width: 100%;
        left: 50% !important;
        top: 50% !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .cust-loader.esc-loader.cust-lazy-loader.part-list-lazy-loader{
        &.shop-users-list-lazy-loader{
            bottom: -20px;
        }
        &.all-tools-list-lazy-loader{
            bottom: -20px;
        }
    }
    
    .toolImg{
        display: flex;
        width: 100%;
        align-items: center;
        .toolImg-span-lt{
            display: inline-block;
            width: 30px;            
        }
        .toolImg-span-rt{
            display: inline-block;
            width: calc(100% - 30px);
        }

        .toolImg-span-lt-1{
            display: inline-block;
            width: 20px;
            margin-right: 10px;
            .p-button.p-button-text.p-button-plain.expanded-button{
                width: 20px;
                padding: 0;
                border: none !important;
                background: none !important;
            }
        }
        .toolImg-span-ct-1{
            display: inline-block;
            width: 30px;
        }
        .toolImg-span-rt-1{
            display: inline-block;
            width: calc(100% - 45px);
        }

        .toolImg{
            width: 36px !important;
            height: 36px !important;
            border-radius: 6px;
            // background-color: #abb2bd;
            // background-image: url("../../../../assets/images/hq/tools-default-image.png");
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            display: block;
            &.toolImg-dbg{
                background-size: contain;
                border:1px solid #DBDBDB;
                background-color: transparent;
            }
            img{
                width: 36px !important;
                height: 36px !important;
            }
        }
    }

    .documents-grid-row{
        &.shop-users-grid-row{
            overflow-x: hidden !important;
            overflow-y: hidden !important;
        }
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
        font-size: 15px !important;
        height: 44px;
      }
      .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
          font-size: 15px !important;
          padding: .7rem 0 .7rem 0 !important;
          &.setpadd{
            white-space: initial !important;
            padding: 0 !important;
          }
          &.stock-header{
              padding: 0rem 0.25rem 0rem 0.25rem !important;
          }
          &:first-child{
            //   padding-left: 3rem !important;
          }
      }
    body.parts-list .thread-list-table .p-datatable{
        
        .overflow-text-table{
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px !important;
            font-family: "Roboto-Regular";
        }
        .tool-thl-col-1{
            width: 140px;  
            position: initial;
        }
        .tool-thl-col-2{
            width: 230px; 
            position: initial;
        }
        .tool-thl-col-3{
            width:230px; 
            position: initial;
        }
        .tool-thl-col-4{
            width: 150px;     
        }
        .tool-thl-col-5{
            width: 150px; 
            &.textcenter{
                text-align: center !important;
            }      
        }
        .tool-thl-col-6{
            width: 180px;   
        }
        .tool-thl-col-7{
            width: 200px;   
        }  
        .tool-thl-col-8{
            width: 120px;   
        } 
        .tool-thl-col-9{
            width: 80px;   
        }     
        .tool-thl-col-10{
            width: 40px;  
            right:-1px; 
            z-index: 1;                
        }
        
    }
    .more-icon{
        &.more-icon-bg{
            background-color: #e5efeb;
            width: 40px;
        }
    }
    .more-icon svg path{
        fill: var(--ID69);
    }
    .more-icon svg circle{
        fill: var(--ID70);
    }   
    .more-icon{
        visibility: hidden;
        display: inline-block;
        position: relative;
        right: 0px;
    }
    p{
        &.cont-text{
            .pi{
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    } 
  
  
    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }
  
    body.parts-list .thread-list-table .p-datatable {
        .p-datatable-thead > tr > th {
            font-family: Roboto-Light;
        }
        .p-datatable-thead>tr>th:first-child {
            border-radius: 10px 0 0 0;
        }
  
        .p-datatable-thead>tr>th:last-child {
            border-radius: 0 10px 0 0;
        }
  
        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }
  
        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
            td{
                background-color: #e5efeb !important;
            }
        }
        .p-datatable-tbody>tr{
            background-color: #ffffff !important;
            td{
                background-color: #ffffff !important;
            }
        }
  
        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }
  
        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }
  
        
  
        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        
        
    }
    
  }
  
  .head-profile-img {
    border-radius: 50%;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: 40px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 14px;
  
    .head-profile-img .head-pimg {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  }

  .hq-head-row-2{ 
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px; 
    .hq-head-text{
      font-family: Roboto-Bold;
      font-size: 24px;  
      color: #000000;
      vertical-align: middle;
      padding-left: 10px;
      margin: 0;
    }
    .hq-head-row-3{
        padding: 10px;
    }
    .loc-title-div{
        &.loc-catg{
            background-image: url("../../../../assets/images/hq/loc-catg.png");
        }
        &.loc-dept{
            background-image: url("../../../../assets/images/hq/loc-dept.png");
        }
        &.loc-cert{
            background-image: url("../../../../assets/images/hq/loc-cert.png");
        }
        &.loc-model{
            background-image: url("../../../../assets/images/inspection-home/product-model.png");
        }
        &.loc-part{
            background-image: url("../../../../assets/images/hq/loc-part.png");
        }
        background-position: 0;
        background-repeat: no-repeat;
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#93989d;
    }
    .loc-value-div{
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#444d61;
    }
  }
.inn-loc-th-col{
    padding: 10px 0;
    &.inn-loc-th-col-1{
        padding-left: 46px;
    }
    .loc-label-text{
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color: #777777;
    }
    .loc-normal-text{
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color:#000000;
    }
  }
  .location-data-div{
    background: #f8f8f8;
    border-bottom: 1px solid #e0e2e4;
    
    /*&:hover{
        background:#e5efeb;
    }*/
  }
  .serialNo-txt {
    font-size: 18px;
    font-family: Roboto-Medium;
  }
  .no-imgs {
    background-color: #e5efeb;
    width: 37px;
    height: 37px;
    border-radius: 5.4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-added {
    width: 37px;
    height: 37px;
    border-radius: 5.4px;
    overflow: hidden;
    img {
        width: 37px;
    height: 37px;
    }
  }

  .pending {
    border-radius: 12px;
    background-color: #ea7d3d;
    color: #fff;
    padding: 6px 21px;
  }
  .serial-wrapper {
    gap: 48px;
    border-bottom: 1px solid #e0e2e4;
    padding-bottom: 18px;
    padding-left: 50px;
  }
  :host ::ng-deep{
    .p-button:hover{
        background: transparent !important;
        border:none !important;
    }
    }
  ::ng-deep{
    .pd-rgt {
        padding-right: .35rem;
    }
    .loc-list-col-1{
        flex: 0 0 12.333333% !important;
        max-width: 12.333333% !important;
    }
    .loc-list-col-2{
        flex: 0 0 12.333333% !important;
        max-width: 12.333333% !important;
    }
    .loc-list-col-3{
        flex: 0 0 17.333333% !important;
        max-width: 17.333333% !important;
    }
    .loc-list-col-4{
        flex: 0 0 18.333333% !important;
        max-width: 18.333333% !important;
    }
    .loc-list-col-5{
        flex: 0 0 11.333333%;
        max-width: 11.333333%;
    }
    .loc-list-col-6{
        flex: 0 0 16.333333%;
        max-width: 16.333333%;
    }
    .loc-list-col-7{
        flex: 0 0 10.333333%;
        max-width: 10.333333%;
    }
    .p-button.p-button-text.p-button-plain:enabled:hover,body.headquarters , body.headquarters .p-button:hover{
        border: 0 !important;
    }
    body.headquarters .p-button:focus {
        border:none !important
    }
   
   

    .p-button:focus{
        border:none !important;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td {
        font-size: 15px !important;
        height: 50px;
    }
    body.parts-list .thread-list-table .p-datatable .p-datatable-thead > tr > th:first-child{
        border-radius: 0;
    }
    body.parts-list .thread-list-table .p-datatable .p-datatable-thead > tr > th:last-child{
        border-radius: 0;
    }
    .toolImg{
        display: flex;
        width: 100%;
        align-items: center;
        .toolImg-span-lt{
            display: inline-block;
            width: 30px;            
        }
        .toolImg-span-rt{
            display: inline-block;
            width: calc(100% - 30px);
        }

        .toolImg-span-lt-1{
            display: inline-block;
            width: 20px;
            margin-right: 10px;
            .p-button.p-button-text.p-button-plain.expanded-button{
                width: 20px;
                height: 20px;
                padding: 0;
                border: none !important;
                background: none !important;
            }
        }
        .toolImg-span-ct-1{
            display: inline-block;
            width: 30px;
        }
        .toolImg-span-rt-1{
            display: inline-block;
            width: calc(100% - 45px);
        }

        .toolImg{
            width: 49px;
            height: 49px;
            border-radius: 6px;
            // background-color: #abb2bd;
            // background-image: url("../../../../assets/images/hq/tools-default-image.png");
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            &.toolImg-dbg{
                background-size: contain;
                border:1px solid #DBDBDB;
                background-color: transparent;
            }
            img{
                width: 49px;
                height: 49px;
            }
        }
    }
    .wrapper #content .gts-mat-table{
        &.border-radius-ln{
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 8px !important;
            border-bottom-right-radius: 8px !important;  
        }
    }

    .insstatus-text-col{
        font-size: 13px;
        padding: 1px;
        width: 106px;
        text-align: center;
        margin-right: 20px;
        display: inline-block;
        border-radius: 15px;
        margin: 0px 10px 0px 0px;
        .insstatus-text-col-text{
            display: inline-block;
            width: 100px;
            vertical-align: top;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ffffff;           
            font-family: "Roboto-Regular";
            font-size: 14px;
        }    
    }  
  }
