.prod_code {
  display: initial;
  margin-left: 1rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.initial {
  display: initial !important;
}
.colour {
  font-family: "Roboto-Medium";
  font-size: 14px;
  font-weight: 500;
  color: #444d61 !important;
  padding-left: 0.5rem !important;
}
.heading_title {
  font-family: "Roboto-Medium";
  color: #93989d;
  font-size: 14px;
}
::ng-deep.p-datatable {
  border: 1px solid #dbddde;
}
::ng-deep.p-datatable-thead {
  height: 51px !important;
}
::ng-deep #documentTable #file-datatable .p-datatable {
  border:none;
}
::ng-deep #documentTable #file-datatable .p-datatable .p-datatable-tbody > tr > td {
  border: 1px solid #e9ecef;
}
::ng-deep #documentTable #file-datatable.mfg-table .p-datatable .p-datatable-tbody > tr > td {
  border-left: none !important;
  border-right: none !important;
}
::ng-deep #documentTable #file-datatable.mfg-table .p-datatable-thead {
  height: 51px !important;
}
::ng-deep #documentTable #file-datatable .p-datatable-thead {
  height: auto !important;
}
::ng-deep.p-datatable .p-datatable-thead > tr > th {
  padding: 0rem 1rem !important;
}
