/*.breadcrumb > li + li:before {
    content: "";
    background: url(/assets/images/documents/breadcrumb-arrow.png) no-repeat 0px 3px;
    width: 10px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}*/
.docbreadcrumb nav {
    display: inline-block;
    position: absolute;
    margin-top: 3px;
}
.breadcrumb{
    background-color:unset !important;
    padding: 0px !important;
    li {
        font-size: 15px;
    }
}
/*
.breadcrumb-back{
    display: inline-block;
    vertical-align: top;
    span {
        background: url("/assets/images/site/workstream-creation/back.png") no-repeat 0px 1px;
        display: inline-block;
        width: 28px;
        height: 28px;
        padding-right: 30px;
    }
}
.breadcrumb-home{
    background: url(/assets/images/documents/breadcrumb-home.png) no-repeat 0px 0px;
    width: 35px;
    height: 30px;
    display: inline-block;
}
*/
// ol:first-child {

//   }
 

.breadcrumb-item a{
    background-color:unset;
    font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #4e5257 !important;
}
::ng-deep{
    body .wrapper #content .probing-content.part-content.right-panel-collapse{
        width: calc(98% - 20px);
        padding-left: 0px;
        padding-top:15px;
    }
    body .cbt-filter.filter-expand{
        padding-top:10px;
        margin-top:6px;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td{
        background: #f6f6fe;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td:first-child{
        border-left: none !important;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:active td:first-child{
        border-left: none !important;
    }  
   .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr td:first-child{
        border-left: none !important;
    }
    .documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-tbody > tr td:first-child{
        border-left: none !important;
        width: 220px;
    }
    .documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-thead > tr th:first-child{
        border-left: none !important;
        width: 220px;
    }
    .documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-tbody > tr td .doc-name-col .title{
        padding-left: 20px;
        width: 30%;
        word-break: break-word;
        vertical-align: middle;
        position: absolute;
        .title-doc-list{
            height: 40px;
            display: flex;
            align-items: center;
            .title-doc-list-in{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
    }
    .cust-loader{
        &.doc-loader-new-two {
           // bottom: 12px !important; 
           bottom: -18px !important;
           top:unset !important;  
           left: 57% !important; 
           &.landingpage {
               bottom: -25px !important;
               left:48% !important;   
           }
           &.search {
                bottom: -18px !important;
               left: 52% !important;    
           }             
        }
        &.doc-loader-new-one {
            bottom: -18px !important;
            top:unset !important;    
            left: 50%;  
            &.landingpage {
                bottom: -25px !important;
                left:48% !important;  
            }
            &.search {
                bottom: -18px !important;
                left: 52% !important;
            }          
        }
    }
}