.KA_desc {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  padding-left: 0.5rem;
  text-align: left;
  color: #3e4144;
}

.no-margin {
  margin: 0px !important;
}

.header-class-domain {
  height: 61px;
  padding: 11px 738px 10px 739px;
  box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-view-text {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.margin-right-40px {
  margin-right: 40px;
}

.margin-right-10px {
  margin-right: 10px;
}

.selected-view-text {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #fa972d;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.select-nav-menu {
  background-color: #469073 !important;
  border-radius: 15px 0 0 15px;
}

.custom-padding-nav-menu {
  padding: 5px 0px 5px 10px;
}

.size-text-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #777;

  span {
    margin-left: 20px;
  }
}

.side-menu-text-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #abb6cc;
}

.side-menu-text-style-selected {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.custom-flex-info {
  flex: 0 0 22%;
}

.descrition-style {
  background-color: #f7f7f7;
  border-left: 5px solid #469073;
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  min-height: 80px;
  width: 100%;
}

.custom-margin-heading {
  margin-top: 30px;
}

.text-heading-section-right {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.custom-position-text {
  position: relative;
  left: 0%;
  bottom: 15px;
}

.def-select.select-model,
.def-select.select-tags {
  margin-top: 10px !important;
}

.icon-color {
  font-size: 15px;
  color: #999999 !important;
  margin-right: 10px;
}

.website-text {
  /*width: 100%;*/
  font-size: 15px;
  text-align: left;
  color: #000 !important;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.color-orange {
  color: #fa972d !important;
}

.icon-new-color {
  font-size: 15px;
  color: #999999 !important;
  margin-right: 10px;
}

.new-top-custom-style {
  background-color: #fff;
  padding: 5px 0px 20px 0px;
}

.text-subheading-section-right {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.padding-right-0px {
  padding-right: 0px;
  padding-left: 30px;
}

.img-parent {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.custom-padding-heading {
  padding: 0px;
}

.width-80-perc {
  width: 80%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.new-header-image {
  display: table;
  justify-content: center;
  z-index: 1;
  width: 100%;
  vertical-align: middle;
}

.top-image-section-new {
  position: absolute;
  bottom: 85%;
  margin: 0px;
}

.top-image-section-new-1 {
  position: absolute;
  bottom: 90%;
  margin: 0px;
}

.width-426px {
  width: 426px !important;
}

.new-top-image-section {
  top: -19%;
  margin: 0px;
}

.height-55-vh {
  height: 55vh;
}

.margin-bottom-20px {
  margin-bottom: 20px !important;
}

.margin-right-left-0 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.custom-position-1 {
  position: relative;
  top: 20%;
}

.custom-position-2 {
  position: relative;
  top: 70%;
}

.margin-0-auto {
  margin: 0 auto !important
}

.custom-position-3 {
  position: relative;
  top: 15%;
}

.custom-position-4 {
  position: relative;
  top: 18%;
}

.image-section {
  padding: 40px 15px;
  background-color: white;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #eee;
  min-height: 150px;

  img {
    width: auto;
    height: auto;
  }
}

.KA_input_text {
  width: 100% !important;
  border: solid 1px #dbddde;
  background: #fbfbfb !important;
  height: 41px;
  border-radius: 0px !important;
}

.KA2_input_text {
  width: 100% !important;
  border: solid 1px #dbddde;
  background-color: #fbfbfb !important;
  border-radius: 0px !important;
  height: 101px;
}

.no-padding {
  padding: 0px !important;
}

.padding-left-0px {
  padding-left: 0px !important;
}

.padding-right-0px {
  padding-right: 0px !important;
}

.backgroud-color-black {
  border-radius: 10px;
  background-color: #3c424d;
}

.no-right-pad {
  padding-right: 0 !important;
}

.custom-margin-gallery {
  margin: 30px 0 0 0 !important;
}

.custom-browse-class {
  margin: 0px 10px 0px 0px !important;
  height: 33px !important;
  width: 33px !important;
  background-size: 40px !important;
}

.custom-browse-parent-class {
  width: 600px !important;
  display: flex !important;
  height: 70px !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  padding: 8px 10px !important;
}

:host ::ng-deep {
  .margin-right-10px {
    margin-right: 10px;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #469073 !important;
    background: #fff !important;

    .p-radiobutton-icon {
      background-color: #469073 !important;
    }
  }

  .p-focus {
    box-shadow: none !important;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #469073 !important;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #469073 !important;
    background: #fff !important;

    .p-radiobutton-icon {
      background-color: #469073 !important;
    }
  }

  .p-inputtext.ng-dirty.ng-invalid {
    border-color: #ced4da;
  }

  .iti input::placeholder{
    color: #9b9a9a;
  }

  .iti__selected-flag.dropdown-toggle {
    width: 70px !important;
  }

  .iti.separate-dial-code input {
    padding-left: 75px !important;
  }

  .ck.ck-editor__main>.ck-editor__editable {
    min-height: 150px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }

  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }
  
  .cart-phone-field {
    .iti__flag-container {
        border-left: 0;
        &.disabled {
          &:hover .iti__selected-flag {
            background-color: #fff;
          }
          .iti__selected-flag.dropdown-toggle {
            opacity: .6;
          }
        }

      .dropdown-menu.country-dropdown.show {
        min-width: auto !important;
        width: 100% !important;
        display: block !important;
      }
    }

    .update-user-info-popup .p-dialog-content {
      overflow-y: inherit;
    }
    .KA_input_text_Phone_new .custom:disabled{
      opacity: .6;
    }
  }

  .info-img.p-inputtext{
    border: 0 !important;
    padding: 0 !important;
  }
  
  fieldset:disabled {
    .cart-phone-field {
      .iti__selected-flag.dropdown-toggle, .KA_input_text_Phone_new .custom {
        opacity: .6;
      }
      .iti__flag-container:hover .iti__selected-flag{
        background-color: #fff;
      }
    }
  }
}

body .wrapper #content .prob-new .new-pro-cont .form-cont .form-horizontal .form-items .prob-form-row .form-col.upload-col .prob-upload.upload-bg-KA {
  background-position: initial !important;
  background-size: cover !important;
  padding: 88px 0px;
  position: relative;
}

.KA_required {
  float: right;
  color: #b2b2b2;
  font-size: 14px;
}

.KA_error_msg {
  position: relative;
  top: 15px;
  left: 5px;
}

/** Perfect Scrollbar */
::ng-deep body .ps {
  &.ps--active-y {
    .ps__rail-y {
      z-index: 100;
    }
  }
}

.def-select.select-tags .tag-col.tag-bg {
  width: 32px !important
}

.def-select.select-tags .tag-col.cat-bg {
  width: 32px !important
}

.count-text-style {
  padding-right: 1.5% !important;
  text-align: left;
  color: #b2b2b2;
  font-size: 13px;
  font-style: italic;
  margin-top: 2px;
}

.custom-field-margin-padding-new {
  padding: 0 0 0 20px !important;
  margin: 0px 0px 20px 0px !important;
  color: #9b9a9a !important;
}

.width-128px {
  min-width: 124px;
  text-align: right;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.prob-new .new-pro-cont .form-cont .form-horizontal .form-items .prob-form-row .form-col.upload-col .prob-upload {
  margin-top: 15px !important;
}

.mr-top-10 {
  margin-top: 10px;
}

.mr-top-15 {
  margin-top: 15px;
}

.prob-new .new-pro-cont .form-cont .form-horizontal .form-items .prob-form-row .form-col.upload-col .prob-upload.mr-top-30 {
  margin-top: 30px !important;
}

.pad-0 {
  padding: 0 !important;
}

button.cancelBtn {
  background: no-repeat;
  border: none;
  color: #afafae;
}

button.cancelBtn:disabled {
  cursor: not-allowed;
}

.header-row {
  margin: 0 auto;
  display: block;
  padding: 18px 16px;
}

.new-text {
  font-family: Roboto-Bold;
  color: #469073;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.prob-header {
  background-color: #fff;
  width: 100%;
  margin: 0;
}

:host ::ng-deep .ck-editor__editable_inline {
  height: 500px !important;
}

:host ::ng-deep .ck .ck-placeholder:before {
  color: #cecece;
}

.custom-field-margin-padding-new .field-title {
  margin-left: 8px;
}

.policy-content-new-html {
  height: 100%;
  text-align: center;
}

.add-policy-text {
  font-size: 15px;
  color: #9b9a9a;
  margin-bottom: 30px;
  margin-top: 10px;
}

.add-new-policy {
  margin: 15px auto;
}

.add-new-policy .add-button {
  padding: 10px 15px;
  background-color: #469073;
  cursor: pointer;
  border-radius: 4px;
}

.add-new-policy .add-button span {
  color: #fff;
}

.add-new-policy .add-button img {
  width: 14px;
  margin-right: 5px;
}

.full-height {
  height: 100% !important;
}

.height-85 {
  height: 85% !important;
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1290px !important;
  }
}

.bg-light-grey {
  background-color: #f7f5f7;
}

.green-text {
  color: #298368 !important;
}

.purple-text {
  color: #7f17ff;
}

.font-wt-600 {
  font-weight: 600;
}

.orange-text {
  color: #ff9100;
}

.italic-text {
  font-style: italic;
}

.cart-component-main-page {
  font-size: 14px;
}

.round-main-btn {
  border: 1px solid #2f3967;
  font-size: 14px;
  color: #fff !important;
  background-color: #2f3967;
  border-radius: 35px;
  padding: 3px 13px;
  display: inline-block;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.round-main-btn span.icon {
  margin-right: 5px;
}

.manual-count-box {
  margin-left: 11px;
  margin-right: 13px;
  width: 138px;
  text-align: center;
  padding: 3px 13px;
  display: inline-flex;
  justify-content: space-around;
  font-size: 15px;
  &.training-manual-count-box{
    height: 30px;
    padding: 0px 13px;

  }
}

.manual-count-box .subtract,
.manual-count-box .add {
  width: 16px;
  padding: 0px 3px;
}

.border-btn {
  border: 1px solid #000;
  background: transparent;
  color: #000 !important;
}

.orange-border {
  border: 1px solid #ff9100;
  color: #ff9100 !important;
}

.white-border {
  border: 1px solid #fff;
  color: #fff !important;
}

.simple-btn {
  background: #469073;
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 13px;
  display: inline-block;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
}

.simple-btn img {
  margin-left: 4px;
  margin-right: 4px;
  width: 20px;
  height: 15px;
  -o-object-fit: contain;
  object-fit: contain;
}

.breadcrumbs-sec .breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.breadcrumbs-sec .breadcrumb-item.active {
  color: #298368;
}

.breadcrumbs-sec .breadcrumb li.breadcrumb-item {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.breadcrumbs-sec .breadcrumb li.breadcrumb-item a img {
  margin-right: 6px;
  width: 15px;
}

/**/
.carts-component-inner-sec {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 100px;
}

.carts-component-inner-sec .main-heading {
  text-align: center;
  position: relative;
}

.carts-component-inner-sec .main-heading h3 {
  margin-bottom: 0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  font-size: 18px;
  padding: 9px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.carts-component-inner-sec .left-sidebar-wrapper .backgroud-color-black {
  background: #fff;
  margin-top: 0 !important;
  border-right: 1px solid #e0e0e0;
  border-radius: 0;
  padding-top: 20px !important;
  height: 100% !important;
}

.carts-component-inner-sec .left-sidebar-wrapper .side-menu-text-style {
  color: #000000;
}

.left-sidebar-wrapper img {
  width: 19px;
  height: 19px;
  object-fit: contain;
}

.left-sidebar-wrapper .custom-padding-nav-menu {
  margin-bottom: 12px;
  border-radius: 35px 0 0 35px;
}

.right-content-wrapper {
  margin-top: 25px;
  padding-left: 10px !important;
  @media screen and (max-width: 991px) {
    padding-left: 35px !important;
    }
}

.right-content-wrapper .cart-heading-div {
  padding: 8px 13px;
  border-bottom: 1px solid #e0e0e0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.right-content-wrapper .cart-heading-div h4 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}

.right-content-wrapper .full-Cart-style {
  margin-right: 25px !important;
  margin-bottom: 30px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
}

.right-content-wrapper .full-Cart-style p {
  margin-bottom: 0;
  font-size: 14px;
}

.right-content-wrapper .training-info-div {
  padding: 15px 13px 0px 15px;
  margin-bottom: 25px;
}

.right-content-wrapper .hr-space {
  margin: 25px 0;
  position: relative;
  left: 1%;
  width: 99%;
}

.right-content-wrapper .full-Cart-style .price-text span {
  padding-right: 5px;
}

.training-info-div .cart-info-left-div .img-div,
.training-manual-card-div .img-div {
  margin-right: 14px;
}

.training-info-div .cart-info-left-div .img-div img {
  height: 62px;
  width: 66px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 11px;
}

.training-info-div h5,
.training-manual-card-div h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

.training-manual-card-div {
  padding: 0px 13px 15px 15px;
}

.training-manual-card-div .title h5 {
  margin-bottom: 11px;
  font-size: 16px;
}

.cut-text {
  text-decoration: line-through;
  color: #999999;
}

.training-manual-card-div .img-div img {
  height: 90px;
  width: 68px;
  -o-object-fit: cover;
  object-fit: cover;
}

.training-manual-card-div .price-text .add-btn {
  margin-left: 11px;
  margin-right: 13px;
  width: 138px;
  text-align: center;
  padding: 3px 13px;
}

.end-btns-div {
  padding: 0px 25px 13px 0px;
}

/*sec p of this*/
.participant-form-row .form-div-main {
    margin-left: -15px;
    margin-top: 8px;
}

.participant-form-row {
  padding: 0px 15px 0px 15px !important;
}

.add-participant {
  font-size: 14px;
  background-color: #888;
  height: 36px;
  padding-left: 15px;
  color: white;
  margin: 0px -15px 15px;
}

.add-participant span {
  padding: 0 8px;
}

.custom-checkbox {
  margin-left: 16px;
}

.custom-checkbox label.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 3px solid white;
  border-radius: 4px;
  padding: 0 4px;
}

.custom-checkbox-green .checkmark {
  background-color: #fff;
  border: 3px solid #298368;
}

.custom-checkbox label.container:hover input~.checkmark {
  background-color: transparent;
}

.custom-checkbox label.container input:checked~.checkmark {
  // background-color: #298368;
  background-color: transparent;
}

.custom-checkbox-green label.container input:checked~.checkmark {
  background-color: #298368;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox label.container input:checked~.checkmark:after {
  display: block;
}

.custom-checkbox label.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.participant-form-row .form-div-main .label {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
  .info-img{
    margin-left: 4px;
    align-self: center;
    display: flex;
    position: relative;
  }
}

.participant-form-row .form-div-main .label a {
  font-size: 14px;
}

.participant-form-row .form-div-main span.p-inputgroup-addon {
  background-color: #fff;
  border-right: 0px solid #ced4da;
  padding-right: 0px;
  min-width: 24px;
}

.participant-form-row .form-div-main .label span {
  font-size: 14px;
}

.participant-form-row .form-div-main input.p-inputtext {
  border-left: 0px solid #ced4da;
  padding: 6px 8px;
  box-shadow: 0 0 0 0.2rem #a6d5fa00;
  border-color: #ced4da;
}


.participant-form-row .form-div-main span.p-inputgroup-addon img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.training-info-btn-div {
  font-size: 14px;
  margin: 25px 0px;
}

/**manual tabs row**/
.manuals-tab-row .training-manual-card-div {
  padding: 0px 13px;

  &.manuals-card-div {
    padding-bottom: 13px;
    padding-top: 13px;
  }
}

.more-purchase-txt img {
  padding-right: 5px;
}

.next-btn,
.prev-btn {
  width: 136px !important;
  display: flex;
  justify-content: center;
  height: 40px !important;
  align-items: center;
}

.prev-btn {
  background: #444444;
}

/**Participants tabs row**/
.form-div-main .select-feild {
  width: 100%;
  border-left: 0px solid #ced4da;
  padding: 6px 8px;
  box-shadow: 0 0 0 0.2rem #a6d5fa00;
  border-color: #ced4da;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #6c757d;
}

/**Payment-details tabs row**/

/**Payment-summary tabs row**/
.all-summary-details {
  margin-bottom: 22px;
}

.all-summary-details .detail-right {
  padding: 0px 5px;
}

.all-summary-details .price-summary-title {
  font-size: 19px;
}

.all-summary-details .img-title {
  font-size: 15px;
}

.all-summary-details .slip-details-inner {
  position: relative;
  border-bottom: 1px solid #dfe1e3;
  padding: 8px 25px 8px 0px;
  margin-left: 30px;
  font-size: 15px;
}

.all-summary-details .summary-box .slip-details-inner:last-child {
  border-bottom: 0px solid #dfe1e3;
}

.all-summary-details .slip-details-inner.final {
  margin-left: -20px;
  padding-left: 30px;
  background: #fff !important;
  @media screen and (min-width: 992px) {
  margin-left: -25px;
  }
}

.all-summary-details .slip-details-inner.bg-light-grey {
  background: #f9f9f9 !important;
}

.all-summary-details .slip-summary-ttl {
  margin-top: 9px;
}

/****payment-successful-carts-page****/
.payment-successful-carts-page {
  margin-bottom: 82px;
}

.payment-successful-carts-page .container,
.breadcrumbs-sec .container,
.carts-component-main-page .container {
  padding-right: 15px;
  padding-left: 15px;
}

.dark-green-bg {
  background: #298368;
}

.successful-top-content {
  text-align: center;
  color: #fff;
  padding: 33px 10px 28px 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.successful-top-content .success-content-block {
  position: relative;
}

.successful-bottom-content .all-summary-details:last-child {
  margin-bottom: 0;
}

.successful-top-content .img-div img {
  width: 84px;
  height: 84px;
  object-fit: contain;
  margin-bottom: 16px;
}

.successful-top-content p {
  margin-bottom: 6px;
}

.successful-top-content .ttl {
  font-size: 26px;
}

.successful-top-content .trans-no {
  font-size: 14px;
  color: #c0e2d8;
}

.successful-top-content .info-success-txt {
  margin-top: 12px;
  margin-bottom: 12px;
}

.payment-successful-carts-page .home-btn {
  display: inline-flex;
  padding: 6px 13px;
  border-radius: 8px;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #f99724;
  border-color: #f99724;
  color: white !important;
}

.payment-successful-carts-page .home-btn img {
  margin-right: 10px;
}

.successful-top-content .refund-policy-icon-div {
  position: absolute;
  bottom: 0px;
  right: 15px;
  margin-bottom: 0;
}

.successful-top-content .refund-policy-icon-div span {
  color: #faff6c;
  font-size: 14px;
}

.successful-top-content .refund-policy-icon-div img {
  width: 18px;
  margin-right: 6px;
}

.successful-bottom-content {
  background: white;
  padding: 14px 0 0px 0;
  padding-left: 15px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.successful-bottom-content .all-summary-details .slip-details-inner.final {
  margin-left: -15px;
}

.successful-bottom-content .all-summary-details:last-child .slip-details-inner.final:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
::ng-deep {
  .p-dropdown.p-focus {
    border-color: #ced4da !important;
  }

  .p-dropdown:not(.p-disabled):hover {
    border-color: #ced4da !important;
  }

  .cart-custom-failer-backgroud-color {
    background: #e35757 !important;
    color: #ffffff !important;
    padding: 5px !important;
    display: block !important;
  }

  .cart-svg-color-change {
    height: 350px !important;

    svg {
      background: #469073 !important;
    }

    .Completing-your-purchase {
      width: 100%;
      height: 17px;
      margin-bottom: 20px;
      font-family: 'Lato', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #fff;
      text-align: center;
    }

    .Please-remain-on-the-page-and-do-not-close-your-browser-or-go {
      height: 38px;
      font-family: 'Lato', sans-serif !important;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #c6e6dc;
      padding: 0 20px;
      margin-bottom: 30px;
    }
  }

    .cart-payment-loading-popup {
      .p-dialog-header {
        display: none !important;
      }
      .p-dialog-content {
        border-radius: 5px !important;
      }
    }
}

.dark-blue {
  background: #2f3967;
}

.sky-blue {
  background: #469073;
}

.color-grey {
  color: #999999;
}

.custom-participant-view-design, .custom-address-view-design {
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  border: solid 1px #469073;
  background-color: #fff;
  margin-bottom: 20px;
}
.btn.sky-blue.green-button {
  border-color: #469073 !important;
  margin-right: 10px;
}
.btn.sky-blue.green-button img {
  width: 13px;
  object-fit: contain;
}

.error-msg {
  font-size: 14px;
  color: #f00;
  margin: 0px !important;
  font-family: 'Lato', sans-serif !important;
}

.text-decoration-line-through{
  text-decoration: line-through;
}

.top-total {
  position: absolute;
  right: 12px;
  top: 8px;
}

.payicon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  img {
    width: auto;
    height: 30px;
  }
}

.margin-10px {
  margin: 10px 0;
}

.participant-remove-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  .warning{
      font-weight: 600;
  }
}
.tooltip-sec{
  display: none;
}
.info-img:hover .tooltip-sec{
  padding: 7px 19px;
  display: block;
  position: absolute;
  width: 260px;
  min-height: 34px;
  top: 27px;
  right: -27px;
  background-color:#444444;
  color: white;
  z-index: 9;
  border-radius: 10px;
  &::before{
    position: absolute;
    content: "";
    top: -9px;
    right: 24px;
    width: 20px;
    height: 13px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color:#444444;
  }
}

.email-phone-info{
  font-size: 13px;
  color: #444444;
  margin-top: 8px;
  position: absolute;
  top: 100%;
  img{
    margin-right: 4px;
  }
}

.disabled-manual-counts {
  color: #444444;
  /* top: -20px; */
  display: flex;
  /* position: relative; */
  padding-left: 15px;
  line-height: 1;
  padding-bottom: 12px;
  font-size: 13px;
  img{
    margin-right: 5px;
    object-fit: contain;
  }
}

.policies{
  color: #0061fe;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 20px;
}

.pay-now{
  border: none !important;
  font-size: 17px !important;
}

.pri-button-update{
  background: #469073;
  border-radius: 20px;
  border: 1 px solid;
  border: 1px solid #469073;
  color: #fff;
  padding: 3px 8px;
}
.left-sidebar-content {
  height: calc(100vh - 110px);
   padding: 30px 0 0 0;
}

.policies-main-div{
  margin-left: 40px;
}

.cart-lg-sidebar{
  display: none;
  background: #469073;
  padding: 10px 0px;
  color: white !important;
  a{
    display: none !important;
  }
  .expanded-dropdown{
    display: none ;
  }
  .show{
    display: none !important;
  }
}

/* Responsive Layout */
@media screen and (max-width: 960px) {
    /* shopping-cart-sec */
    .carts-component-inner-sec {
      margin-bottom: 50px;
  }    
  .left-sidebar-content {
    height: auto;
  }
  .left-sidebar-wrapper {
    padding-right: 24px !important;
  }
  .right-content-wrapper {
    padding-right: 0 !important;
    padding-left: 0px !important;
    margin: 0px 0px !important;
  }
  .right-content-wrapper .full-Cart-style {
    margin-right: 0px !important;
  }
  .left-sidebar-content .no-right-pad {
    padding-right: 15px !important;
  }
  .left-sidebar-wrapper .custom-padding-nav-menu {
    margin-bottom: 12px;
    border-radius: 35px 35px 35px 35px;
  }
  .width-80-perc {
    width: 100% !important;
  }
  .width-80-perc .d-inline-block {
    padding-left: 9px !important;
    margin-top: 17px;
  }

  .carts-component-inner-sec .main-heading {
    display: none;
  }

  .carts-component-inner-sec .left-sidebar-wrapper {
    padding-right: 0 !important;
  }

  .left-sidebar-content .no-right-pad {
    padding-left: 0 !important;
  }

  .left-sidebar-wrapper .custom-padding-nav-menu {
    margin-bottom: 12px;
    border-radius: 0px;
  }

  .carts-component-inner-sec .left-sidebar-wrapper .backgroud-color-black {
    padding-top: 0 !important;
  }
  .right-content-wrapper .full-Cart-style {
    padding: 0px 14px !important;
  }
  .right-content-wrapper .training-info-div {
    flex-wrap: wrap;
  }  
  .cart-info-right-div {
    width: 100%;
}  
.cart-info-right-div {
  &.border-top-trainings {
    text-align: right;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin-top: 11px;
    padding-top: 7px;
  }
}
.add-participant {
  margin: 0px -15px 0px;
}
.right-content-wrapper .training-info-div {
  margin-bottom: 12px !important;
}
.participant-form-row .form-div-main .label {
  margin-top: 11px;
}
.email-phone-info {
  position: inherit;
}
.training-info-btn-div {
  margin: 12px 0px 25px 0px;
}

.policies-main-div{
  display: block;
  margin-left: 0px;

}
.regular-price span.policies {
  // display: inline-block;
  margin-left: 0 !important;
  padding-right: 24px;
  padding-left: 0;
  margin-left: 0;
}
.training-info-div .img-div {
  width: 80px;
}
.training-info-div .inner-content {
  width: 95%;
}
.training-info-div .img-div img {
  width: 80px !important;
  height: 65px !important;
  object-fit: cover !important;
}
.end-btns-div {
  padding: 0px 30px 13px 30px;
  justify-content: end !important;
}

.end-btns-div .end-btn-left {
  display: none;
}

/* manuals-under-trainings */
.trainings-manuals{
  flex-wrap: wrap;

  .cart-info-right-div{
    text-align: right;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin-top: 11px;
    padding-top: 7px;
  }
}


/*MANUAL SEC*/
.manuals-tab-row .training-manual-card-div {
  flex-wrap: wrap;
}
.manual-cart-content-div {
  width: 100%;
}
.right-content-wrapper .full-Cart-style {
  border-bottom: 0 !important;
  margin-bottom: 12px !important;
}
.training-manual-card-div.manuals-card-div .cart-info-right-div {
  border-top: 1px solid #e0e0e0;
  margin-top: 22px;
  padding-top: 9px;
}
.cart-lg-none-sidebar{
  display: none;
}
.cart-lg-sidebar{
  display: block !important;
  width: 100vw;
  a{
    display: flex !important;
    justify-content: space-between;
    width: 100vw;
    padding: 0px 15px;
    align-items: center;
  color: white !important;
  }
  .expanded-dropdown{
    width: 100vw !important;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 42px, 0px) !important;
    z-index: 1;
    // display: block !important;
  }
  .show{
    display: inline-table !important;
  }
}

.payment-summary-tab-row {
  padding: 0 30px;
}
.payment-summary-tab-row .slip-details-inner {
  margin-left: 17px !important;
  padding-left: 9px;
}
.all-summary-details .slip-summary-ttl img {
  height: 23px!important;
  object-fit: contain!important;
}
.slip-details-inner.final {
  padding-left: 9px !important;
}
}

:host ::ng-deep {
  .remove-participant-popup {
      .p-dialog-content {
        padding: 0 !important;
        overflow-x: hidden !important;
  
        .participant-mobile-head {
          color: #000;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          padding: 10px;
          border-bottom: 1px solid #e0e0e0;
  
          // margin-bottom: 20px;
          .hide-participant-popup {
            position: absolute;
            top: 12px;
            right: 6px;
            color: #b8b8b8;
          }
      }
      .label {
        padding: 10px 0px;
      }
      .participant-mobile-button{
        text-align: center;
        color: #fff;
        background-color: #298368;
        border-radius: 20px;
        padding: 5px;
        font-size: 16px;
        margin: 20px;
      }
      .form-div-main{
        padding: 0px 20px;
      }
    }
  }
}
.responsive-padding-cardHolder{
  padding: 0px 30px;
}