.uploadButton {
    width: 210px;
    height: 33px;
    //   margin: 13px 0 11px 511px;
    padding: 7px 23px 8px 16px;
    border-radius: 16.5px;
    background-color: #fa972d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
  }
  