.label-row{
    display: block;
    width: 100%;
    img{
        display: inline-block;
        width: 16px; 
        vertical-align: middle;
        position: relative;
        top:-2px;
    }
    .label{
        display: inline-block;
        width: calc(100% - 16px);
        font-family: 'Roboto-Regular';
        font-size: 14px;
        color: #777777;
        vertical-align: middle;
        padding-left: 6px;
        &.label-req{
            width: calc(100% - 100px);
        }
    }
    .required{
        display: inline-block !important;
        width: 84px; 
        font-family: 'Roboto-Regular';
        font-size: 13px !important;
        color: #cccccc;
        font-style: italic;
        vertical-align: middle;
        position: initial !important;
    }
}