.cnt-col {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.cnt-col .dash-row.txt-row {
    color: #fff;
    font-size: 14px;
}

.cnt-col .dash-row {
    display: table-header-group;
}

.cnt-col.cnt-col-right {
    padding-left: 10px;
}
.cnt-col.cnt-col-left {
    width: 28%;
}

.Rounded-Rectangle-1 {
    width: 490px;
    height: 103px;
    margin: 0 29px 30px 13px;
    padding: 19px 210px 18px 18px;
    border-radius: 16px;
    background-color: #29282b;
  }

.count-ellipse {
    width: 66px !important;
    height: 66px !important;
    margin: 0 19px 0 0;
    padding: 0 20px;
  //  background-color: #36b29c;
    border-radius: 50%;
    color: white;
  }
