.loading-model{
    position:relative;
    text-align: center;
    display: block;
    img{
        width: 26px;
        height: 26px;        
    }
}
.error-select-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    .error-text-span{
        display: block;
        width: calc(100% - 20px);
    }
}
.prob-upload.upload-bg{
    background-repeat: no-repeat !important;
    background-color: #bebfc3 !important;
}
.left-image .image{
    background-color: #bebfc3 !important;
}
::ng-deep{
    .p-dropdown-workflowtype{
        font-family: "Roboto-Regular";
        font-size: 14px;
        .p-dropdown{        
            background: #fbfbfb;
            border: solid 1px #dbddde !important;
            border-radius: 8px !important;
            padding:0px !important;
            min-width: 0;
            width: 100%;
        }
        .p-dropdown:not(.p-disabled).p-focus{
            box-shadow: none !important;
            border-color: #dbddde !important;
        }
        .p-dropdown .p-dropdown-label.p-placeholder{
            color:#9a9a9a;
        }
        .p-dropdown .p-dropdown-label{
            
            color: #000;
            font-size: 14px;
        }
    }
}