::ng-deep{
    .heightsettemp{
        height: 76vh
    }
    .padding-common-hq{
        padding:0 20px;
    }
    .hq-head{
        padding: 10px 0;
        .hq-head-row-0{
            .hq-head-breadcrumb-img{
              vertical-align: middle;
              margin:0 6px 0 6px;
            }
            .hq-head-breadcrumb-text{
              font-family: Roboto-Medium;
              font-size: 14px;  
              color: #000000;
              vertical-align: middle;
              margin: 0;
            }
          }
        .hq-head-row-1{
          .hq-head-img{
            vertical-align: middle;
          }
          .hq-head-text{
            font-family: Roboto-Bold;
            font-size: 24px;  
            color: #000000;
            vertical-align: middle;
            padding-left: 10px;
            margin: 0;
          }
        }
      }
      .system-setting{
        .cbt-filter #filter .filter-toggle{
            display: none !important;
        }
        .ts-list-lt{
            display: inline-block; 
            
            &.filter-expand{
                width: 225px;
                padding: 0 !important;
                margin:0;
            }   
            &.filter-collapse{
                width: 15px;
                margin: 0;                         
            } 
        }
        .ts-list-rt{
            vertical-align: top;
            display: inline-block; 
            &.filter-expand{
                width: calc(100% - 225px);
                padding-left: 20px;
            }   
            &.filter-collapse{
                width: calc(100% - 15px);                          
            }                    
                               
        }
        .user-row{
            //border-top:1px solid #2a2e35;
            padding: 4px 0 20px 20px;                            
        }
        .profile-row{
            
            &:hover{
                .more-button {
                    visibility: visible;
                }
            }
            .more-button{
                visibility: hidden;
            }
    
            cursor: pointer;
            border-radius: 26px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
    
            background-color :transparent;
            padding:6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #b5bcca;
    
            &:hover{
                background-color:#469073;
                padding: 6px 0 6px 3px;
                margin: 6px 0 6px 0;
                color: #ffffff;
            }
            &.active{
               //background-color:var(--ID19);
                background-color:#469073;
                padding: 6px 0 6px 3px;
                margin: 6px 0 6px 0;
                color: #ffffff;
            } 
           /* &.normal{
                background-color :transparent;
                padding:6px 0 6px 3px;
                margin: 6px 0 6px 0;
                color: #b5bcca;
            }*/
            .profile-row-inner{
                padding-left:5px;
            }
            .pimg{
                display: inline-block;                
                width: 30px;
                vertical-align: top;        
            }
            .uname{
                font-family: "Roboto-Regular";
                font-size: 14px;                                   
                margin-left: 0;
                display: inline-block;
                padding-left: 5px;
                width: calc(100% - 35px);
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;               
            }                              
        }
    }
}

.rounded-circle {
    border: solid 1px #dcdcdc;
    border-radius: 50%;
    padding: 43px 38px 42px;
    width: 131px;
    height: 131px;
    margin-bottom: 23px;

    img {
        width: 55px;
        height: 46px;
        object-fit: contain;
    }
}

.shop-banner {
    flex-direction: column;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background: white;
    height: calc(100vh - 210px);

    .shop-txt {
        margin-bottom: 31px;
        color: #444;
    }
}

.fs-14 {
    font-size: 14px;
}
