<div class="container-fluid">
  <div class="row header-main-div">
    <div class="col-2">
      <img width="35px" height="35px" [src]="this.logoUrl" alt="" srcset="">
    </div>
    <div class="col-10">
      <div class="d-flex align-items-center justify-content-between ">
        <div class="d-flex align-items-center">
          <div (click)="goBack()">
            <img style="margin-right: 9px;cursor: pointer;" src="assets/images/gts/sample/back-arrow-black.png" alt=""
              srcset="">
          </div>
          <span class="heading-right-start">
            {{inspectionTitle}}
            <span style="color: #469073;">ID# {{inspectionId}}</span>
          </span>
        </div>
        <div style="width: 15%;" class="d-flex align-items-center">
          <span
            class="mr-4 mat-badge mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium notification-class-icon-header unseenColor">
            <span class="notification-header-icon">
              <img src="assets/images/landing-page/landing-notifications.svg" onload="SVGInject(this)" />
            </span>
            <span id="mat-badge-content-0" class="mat-badge-content mat-badge-active">4</span>

          </span>
          <div class="d-flex align-items-center">
            <img class="dummy-user" src="{{userData?.business_logo}}" alt="" srcset="">
            <span class="ml-1">{{userData?.business_name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 left-section px-0">
      <div class="section-one">
        <ul class="section-one-items">
          <div *ngFor="let item of sections; index as i"
            class="d-flex align-items-center justify-content-between section-one-items-sec ">
            <div class="d-flex align-items-center {{classArr.includes(i) ? 'selected-item' : ''}}"
              (click)="leftSelection(i)" style="padding: 5px 13px;cursor: pointer;">
              <img *ngIf="!classArr.includes(i)" style="display: inline;" src="assets/images/gts/sample/question.png"
                alt="" srcset="">
              <img *ngIf="classArr.includes(i)" style="display: inline;"
                src="assets/images/gts/sample/white-question.png" alt="" srcset="">
              <li style="margin-left: 9px;">{{(i + 1) | romanize}}. {{item?.sectionName}}</li>
            </div>
            <div *ngIf="getPerItemPercentage(item) != '100'" class="left-section-percent">
              {{getPerItemPercentage(item)}}%
            </div>
            <div *ngIf="getPerItemPercentage(item) == '100'"
              style="display: flex; flex-direction: row; align-items: center;"
              class="left-section-percent left-section-success">
              <i *ngIf="getPerItemPercentage(item) == '100'" style="font-size: 13px; margin-right: 4px;"
                class="cursor-pointer pi pi-check"></i>
              {{getPerItemPercentage(item)}}%
            </div>
          </div>
        </ul>
      </div>
      <div class="section-two">
        <span>Overall completion status</span>
        <circle-progress [percent]="updatePercentageOverall()" [radius]="30" [outerStrokeWidth]="6"
          [innerStrokeWidth]="2" [outerStrokeColor]="'#469073'" [innerStrokeColor]="'#d6e6e0'" [animation]="true"
          [animationDuration]="300" [titleFontSize]="13"></circle-progress>
      </div>
      <div class="section-third">
        <div class="section-third-sec">
          <div class="d-flex align-items-center ">
            <img class="mr-10" style="display: inline;" src="assets/images/gts/sample/hash-grey.png" alt="" srcset="">
            <div class="title-col">Location Name</div>
          </div>
          <div style="margin-left: 25px;">{{currentLocation?.name}}</div>
        </div>
        <div class="section-third-sec">
          <div class="d-flex align-items-center ">
            <img class="mr-10" style="display: inline;" src="assets/images/gts/sample/hash-grey.png" alt="" srcset="">
            <div class="title-col">Location Code</div>
          </div>
          <div style="margin-left: 25px;">{{currentLocation?.zip}}</div>
        </div>
        <div class="section-third-sec">
          <div class="d-flex align-items-center ">
            <img class="mr-10" style="display: inline;" src="assets/images/gts/sample/location-grey.png" alt=""
              srcset="">
            <div class="title-col">Address</div>
          </div>
          <div style="margin-left: 25px;">{{currentLocation?.address1}}</div>
        </div>
        <div class="section-third-sec">
          <div class="d-flex align-items-center ">
            <img class="mr-10" style="display: inline;" src="assets/images/gts/sample/calendar.png" alt="" srcset="">
            <div class="title-col">Started on</div>
          </div>
          <div style="margin-left: 25px;">{{startInspectionDate |
            date:'MMM dd, yyyy hh:mm a'}}</div>
        </div>
        <div class="section-third-sec">
          <div class="d-flex align-items-center ">
            <img class="mr-10" style="display: inline;" src="assets/images/gts/sample/user-grey.png" alt="" srcset="">
            <div class="title-col">Assessor Name</div>
          </div>
          <div style="margin-left: 25px;">-</div>
        </div>
      </div>
    </div>

    <div *ngIf="!loading" style="overflow-y: scroll;" class="col-10 p-0 right-section">
      <!-- Parent info div START -->
      <div *ngFor="let val of infoData; let outerIndex = index" class="right-section-one">

        <!-- INFO START-->
        <div class="right-sec-heading cursor-pointer" (click)="openOuterContentBox(outerIndex,val)">
          <div class="innerhtml-container">{{(classArr[0] + 1) | romanize}}. {{outerIndex+1}}.
            <div [innerHTML]="val.description | striphtml"></div>
          </div>
          <div class="info-progress-container">
            <div style="margin-left: 20px;" class="percent-item">
              <i *ngIf="getInfoPercentage(val, outerIndex) == '100'" style="font-size: 13px; margin-right: 4px;"
                class="cursor-pointer pi pi-check"></i>
              <img *ngIf="getInfoPercentage(val, outerIndex) != '100'"
                style="width: 15px;height:15px; margin-right: 5px;" src="assets/images/gts/info-progress.png" alt=""
                srcset="">
              {{getInfoPercentage(val, outerIndex)}}%
            </div>
            <img class="{{outerContentBox.includes(outerIndex) ? '' : 'outer-content-img' }}"
              src="assets/images/gts/sample/arrow-up.png" alt="" srcset="">
          </div>
        </div>
        <!-- INFO START-->

        <!-- Section Loading START -->
        <div *ngIf="isShowSectionLoading(val)" class="row p-0 m-0">
          <div class="col-12 d-flex justify-content-center align-items-center ">
            <img src="assets/images/landing-page/loading-more.svg" alt="Loader" />
          </div>
        </div>
        <!-- Section Loading END CHECKS -->


        <!-- Render START CHECKS -->
        <div [ngClass]="readonly ? 'readonly-content' : ''" *ngIf="!isShowSectionLoading(val)">
          <div *ngFor="let item of returnChecksAction(val, outerIndex,'Check'); let innerIndex = index"
            class="row p-0 m-0 right-sec-content {{outerContentBox.includes(outerIndex) ? '' : 'display-none' }}">
            <div class="col-10 p-0 border-bottom content-box">

              <!-- CHECK START -->
              <div class="d-flex justify-content-between align-items-center ">
                <span style="position: relative;" class="innerhtml-container">
                  <span *ngIf="returnChecksAction(val, outerIndex,'Action').length"
                    class="pi pi-angle-down arrow-icon"></span>
                  {{outerIndex+1}}.{{innerIndex+1}}
                  <div style="margin-left: 10px;" class="inner-html" [innerHTML]="item.description | striphtml"></div>
                  <img style="width: 19px;height: 19px; margin-top: 5px; margin-left: 7px; "
                    src="assets/images/gts/sample/info-grey.png" alt="" srcset="">
                </span>
                <span>
                  <!-- <img *ngIf="isEnableCameraIcon(item.userInput)" src="assets/images/gts/sample/camera.png" alt=""
                    srcset=""> -->
                  <img *ngIf="item?.attachments.length" width="25px" height="20px"
                    src="assets/images/gts/sample/green-img-icon.png" alt="" srcset="">
                </span>
              </div>
              <!-- CHECK END -->

              <!-- Assign user implementation start -->
              <div
                *ngFor="let assignUser of renderAssignUserInput(item?.instructionAssignOwners, item); let inputIndex = index; trackBy: trackAssignUsername "
                class="col-12">
                <div style="padding-right: 0px;" class="col-12 row">
                  <div class="col-4">
                    <div class="d-flex align-items-center py-2">
                      <img class="mr-1" src="assets/images/gts/sample/to-do-list.png" alt="" srcset="">
                      <span class="grey-color">Assign user</span>
                    </div>
                    <!-- <input class="w-100" type="text" pInputText /> -->
                    <button class="w-100 form-control btn-user"
                      (click)="assignContact(assignUser, item?.instructionAssignOwners, item?.id)">{{
                      renderAssignUsername(assignUser,item)
                      }}</button>
                  </div>
                  <div class="col-4">
                    <div class="d-flex align-items-center py-2">
                      <img class="mr-1" src="assets/images/gts/sample/to-do-list.png" alt="" srcset="">
                      <span class="grey-color">Due Date</span>
                    </div>
                    <input id="'due-date'+inputIndex" class="w-100 form-control" type="date" placeholder="Due date"
                      (change)="validateAssignUserDate(assignUser, item?.instructionAssignOwners, item?.id, $event)"
                      [value]="getAssignInputValue(item?.id, assignUser)" />
                  </div>
                  <div style="padding-right: 0px;" class="col-4">
                    <div class="d-flex align-items-center py-2">
                      <img class="mr-1" src="assets/images/gts/sample/to-do-list.png" alt="" srcset="">
                      <span class="grey-color">Follow up date</span>
                    </div>
                    <input id="follow-date" class="w-100 form-control" type="date" placeholder="Follow up date"
                      (change)="validateAssignUserFollowDate(assignUser, item?.instructionAssignOwners, item?.id, $event)"
                      [value]="getAssignInputValueFollowDate(item?.id, assignUser)" />
                  </div>
                </div>
              </div>
              <!-- Assign user implementation end -->

              <!-- USer check Input render START -->
              <div class="row p-0 m-0">
                <div class="col-12">
                  <div *ngFor="let input of item.userInputs; let inputIndex = index " class="col-12">

                    <!-- INPUT START Render input with userinput === 1 -->
                    <div *ngIf="input.userInput == 1" class="col-12">
                      <div class="d-flex align-items-center py-2">
                        <img class="mr-1" src="assets/images/gts/sample/to-do-list.png" alt="" srcset="">
                        <span class="grey-color">{{ input.authorInput }}</span>
                      </div>
                      <div>
                        <input class="w-100" *ngIf="!input.minValue || !input.maxValue" type="text" pInputText />
                      </div>
                    </div>
                    <!-- INPUT END Render input with userinput === 1 -->

                    <!-- INPUT START Render input with userinput === 1 -->
                    <div *ngIf="input.userInput == 2" class="col-12">
                      <p-dropdown appendTo="body" [options]="input.dropDownValues" placeholder="Select"
                        styleClass="w-100">
                      </p-dropdown>
                    </div>
                    <!-- INPUT END Render input with userinput === 1 -->

                    <!-- Attachment RENDER START-->
                    <div style="margin-top: 10px;" class="col-12 " *ngIf="input.userInput == 3">
                      <span class="grey-color">
                        <img class="mr-1" src="assets/images/gts/sample/img-gray.png" alt="" srcset="">
                        {{ input.authorInput }}</span>
                      <div style="margin-top: 10px; column-gap: 12px;" class="d-flex attachments-sec">
                        <span *ngFor="let files of renderAttachment(item?.attachments)" style="flex-direction: column;"
                          class="d-flex attachments-sec-img attachment-item-container">
                          <img class="content-box-img" [src]="files?.fileName" alt="" srcset="">
                          <div *ngIf="!readonly" (click)="onDeleteAttachment(item.id, files)"
                            class="attachment-dlt cursor-pointer">
                            <img src="assets/images/gts/sample/delete-white.png" alt="" srcset="">
                          </div>
                          <div *ngIf="readonly" class="file-detail-container">
                            <span class="grey-color">{{files?.originalName}} . </span>
                            <span class="grey-color">{{fileSizeFormat(files?.fileSize)}}</span>
                          </div>
                        </span>
                        <span *ngFor="let files of attachmentFiles[item.id]" class="d-flex attachments-sec-img">
                          <img class="content-box-img" [src]="files" alt="" srcset="">
                          <div (click)="onDeleteAttachment(item.id, files)" class="attachment-dlt cursor-pointer">
                            <img src="assets/images/gts/sample/delete-white.png" alt="" srcset="">
                          </div>
                        </span>
                        <div *ngIf="!readonly" (click)="fileUpload.click()" class="img-add">
                          <input accept="image/*" type="file" style="display: none;"
                            (change)="onFileAttachment($event, item)" #fileUpload />
                          <img width="25px" height="20px" src="assets/images/gts/sample/green-img-icon.png" alt=""
                            srcset="">
                          <span>Add</span>
                        </div>
                      </div>
                    </div>
                    <!-- Attachment RENDER END-->
                  </div>
                </div>
              </div>
              <!-- USer check Input render END -->

            </div>
            <!-- ACTION BUTTTON START -->
            <div *ngFor="let actionButtons of item.actionOptions; let actionIndex = index"
              class="col-1 p-0 text-center {{actionIndex === 0 ? 'border-left-right' : 'border-right'}}">
              <div *ngIf="item.name === 'Check'"
                (click)="onSubmitForm(actionButtons?.id,item, actionIndex, val, outerIndex )"
                class="{{isSelected(item, actionIndex, actionButtons?.id)}}">
                <i *ngIf="actionIndex == 0" class="cursor-pointer pi pi-check"></i>
                <i *ngIf="actionIndex == 1" class="cursor-pointer pi pi-times"></i>
                <span style="margin-left: 5px;">{{actionButtons.name}}</span>
              </div>
            </div>
            <!-- ACTION BUTTTON END -->

            <!-- Render START ACTIONS -->
            <div *ngIf="isRenderActionInputSection(item.id)" style="padding: 0px !important;" class="col-12">
              <div *ngFor="let itemAct of returnChecksAction(val, outerIndex,'Action'); let innerActionIndex = index"
                class="row p-0 m-0 {{outerContentBox.includes(outerIndex) ? '' : 'display-none' }}">
                <div *ngIf="returnsAction(itemAct, item)" class="col-10 p-0 border-bottom content-box">
                  <div class="d-flex justify-content-between align-items-center ">
                    <span class="innerhtml-container">
                      {{outerIndex+1}}.{{innerIndex+1}}.{{innerActionIndex+1}}
                      <div style="margin-left: 10px;" class="inner-html" [innerHTML]="itemAct.description  | striphtml">
                      </div>
                      <img style="width: 19px;height: 19px; margin-top: 5px; margin-left: 7px; "
                        src="assets/images/gts/sample/info-grey.png" alt="" srcset="">
                    </span>
                  </div>

                  <!-- USer check Input render START -->
                  <!-- LOADING -->
                  <div class="row p-0 m-0">
                    <div class="col-12">
                      <!-- Assign user implementation start -->
                      <div
                        *ngFor="let assignUser of renderAssignUserInput(itemAct?.instructionAssignOwners, itemAct); let inputIndex = index; trackBy: trackAssignUsername "
                        class="col-12">
                        <div style="padding-right: 0px;" class="col-12 row">
                          <div class="col-4">
                            <div class="d-flex align-items-center py-2">
                              <img class="mr-1" src="assets/images/gts/gts-owner.png" alt="" srcset="">
                              <span class="grey-color">Select Owner</span>
                            </div>
                            <!-- <input class="w-100" type="text" pInputText /> -->

                            <span class="owner-input" *ngIf="readonly">
                              {{renderAssignUsername(assignUser,itemAct)}}
                            </span>
                            <button *ngIf="!readonly" class="w-100 form-control btn-user"
                              (click)="assignContact(assignUser, itemAct?.instructionAssignOwners, itemAct)">{{renderAssignUsername(assignUser,itemAct)}}
                              <span class="pi pi-angle-down dropdown-icon"></span>
                            </button>

                          </div>
                          <div class="col-4">
                            <div class="d-flex align-items-center py-2">
                              <img class="mr-1" src="assets/images/gts/gts-cal.png" alt="" srcset="">
                              <span class="grey-color">Due Date</span>
                            </div>

                            <div *ngIf="readonly" class="date-item-container">
                              <span class="owner-input">
                                {{getAssignInputValue(itemAct, assignUser) | date:'MMM dd, yyyy'}}
                              </span>
                            </div>
                            <div *ngIf="!readonly" class="date-item-container">
                              <input *ngIf="!readonly" readonly id="'due-date'+inputIndex"
                                class="w-100 form-control readonly-input-date" placeholder="Due date"
                                (dateChange)="validateAssignUserDate(assignUser, itemAct?.instructionAssignOwners, itemAct, $event)"
                                [value]="getAssignInputValue(itemAct, assignUser)" matInput [matDatepicker]="picker" />
                              <mat-datepicker-toggle class="picker-icon" matIconSuffix
                                [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </div>

                          </div>
                          <div style="padding-right: 0px;" class="col-4">
                            <div class="d-flex align-items-center py-2">
                              <img class="mr-1" src="assets/images/gts/gts-cal.png" alt="" srcset="">
                              <span class="grey-color">Follow up date</span>
                            </div>


                            <div *ngIf="readonly" class="date-item-container">
                              <span class="owner-input">
                                {{getAssignInputValueFollowDate(itemAct, assignUser) | date:'MMM dd, yyyy'}}
                              </span>
                            </div>
                            <div *ngIf="!readonly" class="date-item-container">
                              <input id="follow-date" class="w-100 form-control readonly-input-date" readonly
                                placeholder="Follow up date"
                                (dateChange)="validateAssignUserFollowDate(assignUser, itemAct?.instructionAssignOwners, itemAct, $event)"
                                [value]="getAssignInputValueFollowDate(itemAct, assignUser)" matInput
                                [matDatepicker]="pickerFollow" />
                              <mat-datepicker-toggle style="right: 0px;" class="picker-icon" matIconSuffix
                                [for]="pickerFollow"></mat-datepicker-toggle>
                              <mat-datepicker #pickerFollow></mat-datepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Assign user implementation end -->
                      <div *ngFor="let input of itemAct.userInputs; let inputIndex = index " class="col-12">

                        <!-- INPUT START Render input with userinput === 1 -->
                        <div *ngIf="input.userInput == 1" class="col-12">
                          <div class="d-flex align-items-center py-2">
                            <img class="mr-1" src="assets/images/gts/sample/to-do-list.png" alt="" srcset="">
                            <span class="grey-color">{{ input.authorInput }}
                              <img *ngIf="inputLoaderCheck(input.id)"
                                style="width: 15px; height: 15px; margin-left: 10px;"
                                src="assets/images/loading-small.svg" alt="Loader" />
                              <i *ngIf="inputSuccessCheck(input.id)"
                                style="color:#469073; font-size: 10px; margin-left: 10px; font-weight: 700;"
                                class="cursor-pointer pi pi-check"></i>
                            </span>
                            <div *ngIf="!readonly">
                              <span *ngIf="input.isRequired == 1" style="position: absolute; right: 16px;"
                                class="grey-color">Required</span>
                            </div>
                            <!-- <span *ngIf="input.isRequired == 1" class="required-input">*</span> -->
                          </div>

                          <div style="margin-top: 10px;">
                            <div *ngIf="readonly" class="input-print">{{getInstructionInputValue(itemAct, input)}}</div>

                            <input *ngIf="!readonly" id="username1" class="w-100" type="text" pInputText
                              (change)="onBlurInput($event, input, itemAct, item, 0, val, outerIndex)"
                              (blur)="inputRequiredCheckOnBlur($event, input)"
                              [value]="getInstructionInputValue(itemAct, input)" />
                          </div>
                          <span *ngIf="inputRenderCssClasses(input)" class="required-input">This field is
                            required.</span>
                        </div>
                        <!-- INPUT END Render input with userinput === 1 -->

                        <!-- INPUT START Render input with userinput === 2 -->
                        <div *ngIf="input.userInput == 2" class="col-12">
                          <p-dropdown appendTo="body" [options]="input.dropDownValues" placeholder="Select"
                            styleClass="w-100">
                          </p-dropdown>
                        </div>
                        <!-- INPUT END Render input with userinput === 2 -->

                        <!-- Attachment RENDER START-->
                        <div style="margin-top: 10px;" class="col-12 " *ngIf="input.userInput == 3">
                          <span class="grey-color">
                            <img class="mr-1" src="assets/images/gts/sample/img-gray.png" alt="" srcset="">
                            {{ input.authorInput }}</span>
                          <div style="margin-top: 10px; column-gap: 12px;" class="d-flex attachments-sec">
                            <span *ngFor="let files of renderAttachment(itemAct?.attachments)"
                              style="flex-direction: column;"
                              class="d-flex attachments-sec-img attachment-item-container">
                              <img class="content-box-img" [src]="files?.fileName" alt="" srcset="">
                              <div *ngIf="!readonly" (click)="onDeleteAttachment(itemAct.id, files)"
                                class="attachment-dlt cursor-pointer">
                                <img src="assets/images/gts/sample/delete-white.png" alt="" srcset="">
                              </div>
                              <div *ngIf="readonly" class="file-detail-container">
                                <span class="grey-color">{{files?.originalName}} . </span>
                                <span class="grey-color">{{fileSizeFormat(files?.fileSize)}}</span>
                              </div>
                            </span>
                            <span *ngFor="let files of attachmentFiles[itemAct.id]" class="d-flex attachments-sec-img">
                              <img class="content-box-img" [src]="files" alt="" srcset="">
                              <div (click)="onDeleteAttachment(itemAct.id, files)"
                                class="attachment-dlt cursor-pointer">
                                <img src="assets/images/gts/sample/delete-white.png" alt="" srcset="">
                              </div>
                            </span>
                            <div *ngIf="!readonly" (click)="fileUpload.click()" class="img-add">
                              <input accept="image/*" type="file" style="display: none;"
                                (change)="onFileAttachment($event, itemAct)" #fileUpload />
                              <img width="25px" height="20px" src="assets/images/gts/sample/green-img-icon.png" alt=""
                                srcset="">
                              <span>Add</span>
                            </div>
                          </div>
                        </div>
                        <!-- Attachment RENDER END-->

                      </div>
                    </div>
                  </div>
                  <!-- USer check Input render END -->

                </div>

                <!-- ACTION BUTTTON START -->
                <div class="col-1 p-0 text-center border-left-right">
                  <!-- null space -->
                </div>
                <div class="col-1 p-0 text-center border-right">
                  <!-- null space -->
                </div>
                <!-- ACTION BUTTTON END -->
              </div>
            </div>
            <!-- Render END ACTIONS -->
          </div>

          <!-- Render EXTRA  START ACTIONS ===============Parent Action -->
          <div style="padding: 0px !important;
          padding-left: 25px !important;" class="col-12">
            <div
              *ngFor="let itemAct of renderExtraAction(val, outerIndex,'Check'); let innerActionIndex = index;  trackBy: trackAssignUsername"
              class="row p-0 m-0 {{outerContentBox.includes(outerIndex) ? '' : 'display-none' }}">
              <div style="padding-top: 10px !important;" class="col-10 p-0 border-bottom content-box">
                <div class="d-flex justify-content-between align-items-center ">
                  <span class="innerhtml-container">
                    {{outerIndex+1}}.{{innerActionIndex+1}}
                    <div style="margin-left: 10px;" class="inner-html" [innerHTML]="itemAct.description  | striphtml">
                    </div>
                    <img style="width: 19px;height: 19px; margin-top: 5px; margin-left: 7px; "
                      src="assets/images/gts/sample/info-grey.png" alt="" srcset="">
                  </span>
                </div>

                <!-- USer check Input render START -->
                <!-- LOADING -->
                <div class="row p-0 m-0">
                  <div class="col-12">
                    <!-- Assign user implementation start -->
                    <div
                      *ngFor="let assignUser of renderAssignUserInput(itemAct?.instructionAssignOwners, itemAct); let inputIndex = index; trackBy: trackAssignUsername "
                      class="col-12">
                      <div style="padding-right: 0px;" class="col-12 row">
                        <div class="col-4">
                          <div class="d-flex align-items-center py-2">
                            <img class="mr-1" src="assets/images/gts/gts-owner.png" alt="" srcset="">
                            <span class="grey-color">Select Owner</span>
                          </div>
                          <!-- <input class="w-100" type="text" pInputText /> -->

                          <span class="owner-input" *ngIf="readonly">
                            {{extrarenderAssignUsername(assignUser,itemAct)}}
                          </span>
                          <button *ngIf="!readonly" class="w-100 form-control btn-user"
                            (click)="assignContact(assignUser, itemAct?.instructionAssignOwners, itemAct)">{{extrarenderAssignUsername(assignUser,itemAct)}}
                            <span class="pi pi-angle-down dropdown-icon"></span>
                          </button>

                        </div>
                        <div class="col-4">
                          <div class="d-flex align-items-center py-2">
                            <img class="mr-1" src="assets/images/gts/gts-cal.png" alt="" srcset="">
                            <span class="grey-color">Due Date</span>
                          </div>

                          <div *ngIf="readonly" class="date-item-container">
                            <span class="owner-input">
                              {{extragetAssignInputValue(itemAct, assignUser) | date:'MMM dd, yyyy'}}
                            </span>
                          </div>
                          <div *ngIf="!readonly" class="date-item-container">
                            <input *ngIf="!readonly" readonly id="'due-date'+inputIndex"
                              class="w-100 form-control readonly-input-date" placeholder="Due date"
                              (dateChange)="validateAssignUserDate(assignUser, itemAct?.instructionAssignOwners, itemAct, $event)"
                              [value]="extragetAssignInputValue(itemAct, assignUser)" matInput
                              [matDatepicker]="picker" />
                            <mat-datepicker-toggle class="picker-icon" matIconSuffix
                              [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </div>

                        </div>
                        <div style="padding-right: 0px;" class="col-4">
                          <div class="d-flex align-items-center py-2">
                            <img class="mr-1" src="assets/images/gts/gts-cal.png" alt="" srcset="">
                            <span class="grey-color">Follow up date</span>
                          </div>


                          <div *ngIf="readonly" class="date-item-container">
                            <span class="owner-input">
                              {{extragetAssignInputValueFollowDate(itemAct, assignUser) | date:'MMM dd, yyyy'}}
                            </span>
                          </div>
                          <div *ngIf="!readonly" class="date-item-container">
                            <input id="follow-date" class="w-100 form-control readonly-input-date" readonly
                              placeholder="Follow up date"
                              (dateChange)="validateAssignUserFollowDate(assignUser, itemAct?.instructionAssignOwners, itemAct, $event)"
                              [value]="extragetAssignInputValueFollowDate(itemAct, assignUser)" matInput
                              [matDatepicker]="pickerFollow" />
                            <mat-datepicker-toggle style="right: 0px;" class="picker-icon" matIconSuffix
                              [for]="pickerFollow"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFollow></mat-datepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Assign user implementation end -->
                    <div *ngFor="let input of itemAct.userInputs; let inputIndex = index " class="col-12">

                      <!-- INPUT START Render input with userinput === 1 -->
                      <div *ngIf="input.userInput == 1" class="col-12">
                        <div class="d-flex align-items-center py-2">
                          <img class="mr-1" src="assets/images/gts/sample/to-do-list.png" alt="" srcset="">
                          <span class="grey-color">{{ input.authorInput }}
                            <img *ngIf="inputLoaderCheck(input.id)"
                              style="width: 15px; height: 15px; margin-left: 10px;"
                              src="assets/images/loading-small.svg" alt="Loader" />
                            <i *ngIf="inputSuccessCheck(input.id)"
                              style="color:#469073; font-size: 10px; margin-left: 10px; font-weight: 700;"
                              class="cursor-pointer pi pi-check"></i>
                          </span>
                          <div *ngIf="!readonly">
                            <span *ngIf="input.isRequired == 1" style="position: absolute; right: 16px;"
                              class="grey-color">Required</span>
                          </div>
                          <!-- <span *ngIf="input.isRequired == 1" class="required-input">*</span> -->
                        </div>

                        <div style="margin-top: 10px;">
                          <div *ngIf="readonly" class="input-print">{{getInstructionInputValue(itemAct, input)}}</div>

                          <input *ngIf="!readonly" id="username1" class="w-100" type="text" pInputText
                            (change)="onBlurInput($event, input, itemAct, itemAct, 0, val, outerIndex)"
                            (blur)="inputRequiredCheckOnBlur($event, input)"
                            [value]="getInstructionInputValue(itemAct, input)" />
                        </div>
                        <span *ngIf="inputRenderCssClasses(input)" class="required-input">This field is
                          required.</span>
                      </div>
                      <!-- INPUT END Render input with userinput === 1 -->

                      <!-- INPUT START Render input with userinput === 2 -->
                      <div *ngIf="input.userInput == 2" class="col-12">
                        <p-dropdown appendTo="body" [options]="input.dropDownValues" placeholder="Select"
                          styleClass="w-100">
                        </p-dropdown>
                      </div>
                      <!-- INPUT END Render input with userinput === 2 -->

                      <!-- Attachment RENDER START-->
                      <div style="margin-top: 10px;" class="col-12 " *ngIf="input.userInput == 3">
                        <span class="grey-color">
                          <img class="mr-1" src="assets/images/gts/sample/img-gray.png" alt="" srcset="">
                          {{ input.authorInput }}</span>
                        <div style="margin-top: 10px; column-gap: 12px;" class="d-flex attachments-sec">
                          <span *ngFor="let files of renderAttachment(itemAct?.attachments)"
                            style="flex-direction: column;"
                            class="d-flex attachments-sec-img attachment-item-container">
                            <img class="content-box-img" [src]="files?.fileName" alt="" srcset="">
                            <div *ngIf="!readonly" (click)="onDeleteAttachment(itemAct.id, files)"
                              class="attachment-dlt cursor-pointer">
                              <img src="assets/images/gts/sample/delete-white.png" alt="" srcset="">
                            </div>
                            <div *ngIf="readonly" class="file-detail-container">
                              <span class="grey-color">{{files?.originalName}} . </span>
                              <span class="grey-color">{{fileSizeFormat(files?.fileSize)}}</span>
                            </div>
                          </span>
                          <span *ngFor="let files of attachmentFiles[itemAct.id+'ext'+inputIndex]" class="d-flex attachments-sec-img">
                            <img class="content-box-img" [src]="files" alt="" srcset="">
                            <div (click)="onDeleteAttachment(itemAct.id, files)" class="attachment-dlt cursor-pointer">
                              <img src="assets/images/gts/sample/delete-white.png" alt="" srcset="">
                            </div>
                          </span>
                          <div *ngIf="!readonly" (click)="fileUpload.click()" class="img-add">
                            <input accept="image/*" type="file" style="display: none;"
                              (change)="onFileAttachment($event, itemAct,'ext'+inputIndex)" #fileUpload />
                            <img width="25px" height="20px" src="assets/images/gts/sample/green-img-icon.png" alt=""
                              srcset="">
                            <span>Add</span>
                          </div>
                        </div>
                      </div>
                      <!-- Attachment RENDER END-->

                    </div>
                  </div>
                </div>
                <!-- USer check Input render END -->

              </div>

              <!-- ACTION BUTTTON START -->
              <div style="border-left: 1px solid #e8e7e7; border-top: 1px solid #e8e7e7;"
                class="col-2 p-0 text-center border-left-right">
                <div class="{{isRenderExtraActionComplete(itemAct)}}">
                  <i class="cursor-pointer pi pi-check"></i>
                  <span style="margin-left: 5px;">Complete</span>
                </div>
              </div>

              <!-- ACTION BUTTTON END -->
            </div>
          </div>
          <!-- Render EXTRA  END ACTIONS ===============Parent Action -->

        </div>
        <!-- Render END CHECKS -->
      </div>
      <!-- Parent info div END -->
    </div>

    <div *ngIf="loading" class="col-10 p-0 center-section">
      <div class="loading-announcement">
        <img src="assets/images/loading-small.svg" alt="Loader" />
      </div>
    </div>
  </div>
</div>