<div  class="ts-list-lt ts-list-bottom cbt-filter filter-expand">
    <div class="" >
        <div id="filter">
            <div class="filter-widgets ts-list-lt-center transition">
                <div [style.height]="'calc(100vh - '+leftEmptyHeight+'px)'" class="heightsettemp">
                    <div  class="ps" [perfectScrollbar]="sconfig">
                        <div class="user-row">
                            <div >
                                <div class="profile-row-hq system-settings-menu-row"
                                    [ngClass]="{active:selectedTab == 'banner-settings'}">
                                    <div class="profile-row-inner">
                                        <span class="hq-summary-icon pimg">
                                            <img src="assets/images/landing-page/banner-set.png" alt="">
                                        </span>
                                        <span class="uname">Home Page Banner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>