.loading-image {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .deactionDiv{
    opacity: .5;
    cursor: default;
  }
  .para-edit{
    display: inline-block !important;
  }
  .inputtext-email{
    display: inline-block;
    width: 200px !important;
    margin: 20px 0 0 10px !important;
    border:1px solid #ffffff  !important;
    &.error{
      border:1px solid red  !important;
    }    
  }
  .load-bg-div{
    visibility: hidden;
  }
  .tvs-action-button{
    .para1-view{
      margin:10px 0;
    }
    .view-close{    
      position: absolute;
      margin: 0;
      cursor: pointer;
      text-align: right;
      right: 10px;
      top: -5px;
      padding: 0;
    }
    .view-close-span{
      position: relative;
      display: block;
    }
  }

  .recent-msg-new{
      color: #fee570;     
      height: 21px;
      overflow: hidden;
      display: block;
      text-align: center;
      margin: -8px 0 -8px 0;
      padding: 0;
      line-height: 15px;
      font-family: Roboto-Regular;
      font-size: 15px;
    }
    .recent-msg-color{
      color:#fee570 !important;
    }    
    .con-btn-load{
      position: relative;
    }
    .loading-cont{
      width: 70px;
      height: 70px;
    }
.marginb0{
  margin-bottom: -11px !important;
}
::ng-deep body.auth .modal-dialog .modal-content .login-modal .modal-body{
  padding: 0 !important;
}
    
  
  