<div class="main-contaier setmarginBottom {{optionsval.shortName}}">
    <p-accordion [multiple]="true" (onClose)="onTabClose6($event)" (onOpen)="onTabOpen6($event)">
      <p-accordionTab [selected]="true">
        <p-header class="accordion-icon ">
          <div class="container-fluid">
            <div class="row col-lg-12 col-md-12 col-sm-12 landing-padding0">
              <div class="menu-name-bar col col col-lg-9 col-md-9 col-xl-9 col-sm-8 landing-padding0">
                <div>
                  <span class="bg-image {{optionsval.imageClass}}">
                    <!-- <img src="assets/images/landing-page/{{optionsval.imageUrl}}" alt="" onload="SVGInject(this)"> -->
                    <img src="assets/images/landing-page/recent-macros.png" alt="" > 
                  </span>
                  <span class="menu-name">{{optionsval.placeholder}}</span>
                  <span><i class="pi hide pi-ellipsis-v"></i></span>
                </div>
              </div>
              <div class="col col col-lg-3 col-md-3 col-xl-3 col-sm-4 landing-padding0">
                <div class="rightside-menu-header">
                  <div class="see-more-text" *ngIf="reportseemore">
                    <span>See More</span>
                    <span> <i class="pi pi-angle-double-right icon-size"></i></span>
                  </div>
                  <div class="plusone60 showinline"><i class="pi pi-chevron-up"></i></div>
                  <div class="minusone60 hide"><i class="pi pi-chevron-down"></i></div>
                </div>
              </div>
            </div>
          </div>
        </p-header>
        <div class="landing-report-section ticket-section">
          <div class="padding10">
            <div class="container-fluid">
              <div class="row col-lg-12 col-md-12 col-sm-12 landing-padding0 landing-margin0 justify-center">
                
                <div class="nothingtoshow" align="center">
                    <div class="no-data-contaier">
                        <div>
                            <!-- <img class="no-data-img-chart" src="assets/images/landing-page/my-threads-open.svg"> -->
                            <img class="no-data-img-chart" src="assets/images/no-result-media.png" alt="no-result-media" width="112" height="102">
                        </div>
                        <div class="no-data-text">Nothing to show</div>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
