::ng-deep .directory #content{
    .parts-grid-row .parts-grid-col{
        padding-right: 0;
        padding-bottom: 0;
    }
    .part-list-head{
        margin-bottom: -5px !important;
        padding: 5px 20px 0 30px !important;
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content{
        padding: 15px 0 0 15px !important;
        height: 105px;
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-card-content .parts-image{
        background-color: #ffffff;
        width: 75px;
        height: 75px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        vertical-align: middle;
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-cont{
        vertical-align: middle;
        width: calc(100% - 80px);
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-cont .card-title{
        font-family: "Roboto-Medium";
        color:#444444;
        padding: 0;
        margin: 0px 0 6px 0;        
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-card-content .part-cont .app-info .title{
        font-family: "Roboto-Regular";
        color:#3c424d;
        font-size: 13px;
        padding: 0;
        /*font-style: italic;*/
        text-transform: capitalize;
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-card-content .part-cont .app-info .city-state{
        font-family: "Roboto-Regular";
        color:#777777;
        font-size: 13px;       
        padding: 0 0 0 8px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-card-content .part-cont .app-info .city-state-div{
        margin-bottom: -4px;
        margin-top: 4px
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-card-content .part-cont .app-info .city-state-img{
        display: inline-block;
        position: relative;        
        top: -4px;        
        left: 0;
    }
    .parts-grid-row .parts-grid-col .p-card .p-card-body .p-card-content .part-card-content .part-cont .app-info .phone-number{
        font-family: "Roboto-Regular";
        color:#777777;
        font-size: 13px;       
        padding: 0 0 0 5px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
    .thread-list-table .p-datatable .thl-col-1{
        width: 320px;
    }
    .thread-list-table .p-datatable .thl-col-1 .thread-bg .profile-container{
        width: 300px;
    }
    .thread-bg .profile-container .profile-left-container{
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            max-width: 100px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }   
    .thread-bg .profile-container .profile-right-container{
        width: calc(100% - 50px);
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
        .user-name{
            font-size: 14px;
            color: #444444;
            font-family: "Roboto-Medium";
            margin-top: -2px;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .buss-title{
            font-size: 13px;
            color: #3c424d;
            font-family: "Roboto-Regular";
            margin-top: -2px;
            /*font-style: italic;*/
            text-transform: capitalize;
        }
        
        
    }
    .p-datatable-thead > tr > th{
        height: 52px;
    }
    .documents-grid-row .list{
        position:  relative !important;
        .no-res-list{
            top:0 !important;
        }
    } 
    .cust-loader-main{
        position: relative;
    }
    .cust-loader-new{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .parts-card{
        .p-card{
            border:2px solid #ffffff;
        }
        &.active{
            .p-card{
                border:2px solid #e55554;
            }
        }
        &:hover{
            .p-card{
                border:2px solid #7e80b3;
            }
        }        
    }

    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td{
        background: #f6f6fe;
    }    
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr.active td  {
        background: var(--ID71);;
    } 
    
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td:first-child{
        border-left: none !important;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:active td:first-child{
        border-left: none !important;
    }  
   .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr td:first-child{
        border-left: none !important;
    }
    
}
::ng-deep{
    .cust-loader.esc-loader.cust-lazy-loader.part-thumb-lazy-loader{
        left:50%;
        bottom: -24px;
    }
    .landing-page .adding-width-10 .cust-lazy-loader{
        left:58% !important;
    }
    .right-panel-collapse .cust-lazy-loader{
        left:48%!important;
    }
}