.chart-board-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  > div {
    &:first-child {
      height: calc(100vh - 30px);
      //   overflow: hidden;
    }
  }
  #footer {
    height: 30px;
    align-items: center;
    background: white;
  }
}
