
.mat-menu-content
{
    background-color: #ccc;
}
.dispatch-modal-width{
    
    ::ng-deep .p-dialog { 
      max-width: 624px !important;
      width: 624px !important;
    }

    .p-button-rounded{
        box-shadow: none !important ;
        border: 1px solid #469073 !important;
        outline: none !important;
    }
      &.dispatch-modal {
        z-index: 100000!important;      
        .p-dialog-mask.p-component-overlay{
            z-index: 100000 !important;
        }
    
        .text-err{
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 15px;
            color: #f99724; 
            text-align: left;
            width: 400px;
            word-break: break-word;
            position: relative;
            top: -4px;
        }

        .mb-3, .my-3 {
            margin-bottom: 0.5rem !important;
          }
          .mt-3, .my-3 {
            margin-top: 0.5rem !important;
          }
          .my-head-row{
            margin-top: .8rem !important;
            margin-bottom: 0.5rem !important;
          }
    
        ::ng-deep .p-dialog { 
            
          .p-dialog-content {
            padding: 1rem 1.5rem 0rem 1.5rem !important;
            font-size: 14px !important;
          }
          .new-request-icon{
            position: relative;
            top: -3px;
          }
      
          .input-text-row{
            display: block; 
            width: 100%;
            margin-top: 0.5rem;
            .inputbox{
               
                border: 1px solid #d8d8d8 !important;
                background-color: #ffffff;
                
                font-family: 'Roboto-Regular';    
                border: 0 none;
                font-size: 15px;
                color:#000000;
                padding: 9px 10px !important;
                max-width: 100%;
                width: 100%;
                border-radius: 6px;
                &::placeholder {
                    color:#b5b5b5;
                }
                &.inputbox-odo{
                    width: calc( 100% - 85px);
                    padding: 0; 
                    //position: relative;
                    //top: -2px;                       
                } 
                &.inputbox-odo-red{
                    border: 1px solid #dc3545 !important;          
                }  
                &.setDescHt{
                    height:224px !important;
                }                             
            }  
                                  
        }
        .service-form-error-row{
          font-family: Roboto-Regular;
          font-style: italic;
          font-size: 13px;
          color: #dc3545;
          margin: -20px 0 0 0;
          position: relative;
          top: 20px;
        }
       
      
          .p-inputtext {
            width: 100% !important;
            color: #000 !important;        
            &:focus, &:hover {
              border: solid 1px #dbddde;
              box-shadow: none;
            }
          }
      
          .p-dropdown-label {
            &:focus, &:hover {
              border: 0 none;
            }
          }
      
          .p-dialog-header .p-dialog-title {
            font-size: 14px !important;
          }
      
          .p-inputtextarea-resizable {
            height: auto !important;
            color: #000 !important;
          }
      
          .p-button-label {
            font-size: 15px;
            font-weight: 500;
          }
      
          .p-dialog-header-close-icon {
            color: #c4cbdb;
          }
        }
        
      }
}
::ng-deep .p-dialog{
    .p-dialog-header{
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        .p-dialog-title {
            font-weight: normal;           
            font-size: 20px;
            font-family: 'Roboto-Medium';
            font-weight: normal;
            padding-left: 10px;
        }
    }
    .p-dialog-content{
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        .inner-row{
            &.inner-row1{
                padding-top: 10px;
                padding-bottom: 20px;
            }
            &.inner-row2{
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        .p-multiselect-label,
        .p-inputtext{
            font-family: 'Roboto-Regular';
            font-size: 14px;
        }
        .mat-slide-toggle-content{
            font-family: 'Roboto-Regular';
            font-size: 14px;
        }
        .mat-chip-list-wrapper{
            margin: 0 0 0 5px;
        }
        .mat-chip{
            font-family: 'Roboto-Regular';
            font-size: 13px;
        }
        .text-danger{
            font-family: 'Roboto-Regular';
            font-size: 13px;
            padding: 10px 0 0 10px;
        }
        .success-ok-tick{
            right: 10px;
        }
    } 
    .cust-select{
        &.cust-select-p30{
            padding-top: 30px;
        }
        &.cust-select-p10{
            padding-top: 10px;
        }
    }
    .setOpacity5{
        opacity: .5;
    }
    .setOpacity7{
        opacity: .7; 
    }
    .edituser-dialog-content{        
        margin:20px 0 -20px 0;
        .material-icon{
            height: 41.5px;
            width: 50px;            
        }
        .input-with-icon-inside{
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            width: calc(100% - 50px);
        }
    }
    .newuser-dialog-content {
        .material-icon,
        .material-icon-inner{
            height: 41.5px;
            width: 50px;  
            &.new-pdd-icon{
                vertical-align: top;
                height: 38px;
            }          
        }
        .displayinline{
            padding-right: 0;
        }
        .input-with-icon-inside,
        .input-with-icon-inside-select{
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            width: calc(100% - 50px);
            &.new-pdd{
                vertical-align: top;                
                margin-top: 0;
                margin-left: -2px;
                width: calc(100% - 58px);
            }
        }
        .input-with-icon-inside-row{
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            width: calc(100% - 60px);
        }
    }   
    .resetpassword-dialog-content{
        .mat-radio-label-content{
            width: 95%;
        }
        .cust-select{
            position: relative;
            top: 15px;
            left: 0;
            padding: 0;
            margin-bottom: 12px;
        }
        
        .input-with-icon-inside {
            border-left:1px !important;
            width:calc( 100% - 51px);
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
        }
        .reset-icon-dash{
            width: 51px;
            height: 41px;
            
        }
    }
    &.dialog-assign{
        .assign-dialog-content{
            margin: 0;
            padding: 30px 0 20px 0;
            .content-text{
                font-family: 'Roboto-Regular';
                font-size: 16px;
                color:#15181f;
                padding: 4px 0 0 10px;
                display: block;
                text-align: center;
                margin: 0 auto;
                .red-text{
                    color:#c4413e;
                }
            }        
        }
        .p-dialog-title{
            text-align: center;
            margin: 0 auto;
        }
        .p-dialog-header-icons{
            button{
                display:none;
            }
        }
        .confirm-actions {
           border-top: 1px solid #dee2e6 !important;
           text-align: center;           
            margin: 0 0 0 0;
            padding: 20px 0 20px 0;
            .action-btn{
                &.submit{
                    background: #469073;
                    border: solid 1px #469073;
                    color: #ffffff;
                }
            }
            
        }
        .p-dialog-content{
            padding:0 !important;
        }
    }
}
::ng-deep .p-table-choose-types .p-dropdown{
    border: 1px solid #dbddde !important;
    padding: 0;
    margin: 0 10px 0 0;
    border-radius: 6px;
    height: 32px;
    position: relative;
    top: 0;
    box-shadow: none !important;
    .p-inputtext{
        font-family: 'Roboto-Regular';
        font-size: 14px;
        color:#6c757d;
        padding: 4px 0 0 10px;
        width: 130px;
    }
}
::ng-deep .p-table-choose-types-dd .p-dropdown{
    border: 1px solid #dbddde !important;
    padding: 0;
    margin: 0 10px 0 0;
    border-radius: 6px;
    height: 32px;
    position: relative;
    top: 0;
    box-shadow: none !important;
    .p-inputtext{
        font-family: 'Roboto-Regular';
        font-size: 14px;
        color:#6c757d;
        padding: 4px 0 0 10px;
        width: 170px;
    }
}
.text-no-result{
    font-size: 20px;
    font-family: 'Roboto-Medium';
    padding: 50px 0 0 0;
}
.userdashboard-list-head .prob-head-col .head-txt{
    font-size: 20px;
    font-family: Roboto-Bold;
    color: #4c4b4b;
    position: relative;
    top: 2px;
}
.add-user-type2{
    &.redbg{
        padding: 14px 10px 16px 10px;
        border-radius: 6px;
        border: solid 1px #f58985;
        background-color: #fdf2f2;
        text-align: center;
        margin:20px 20px 0 20px;
    }
    .plain-text{
        font-size: 15px;
        font-family: Roboto-Regular;
        color: #de4640;
    }
    .yes-btn{
        padding: 5px 18px 6px 15px;
        border-radius: 6px;
        background-color: #c4413e;
        border:1px solid #c4413e;
        font-size: 14px;
        font-family: Roboto-Regular;
        color:#ffffff;
        margin-left: 20px;
        img{
            position: relative;
            top: -1px;
            left:6px;
        }
    }
    .no-btn{
        padding: 5px 20px 6px 15px;
        border-radius: 6px;
        background-color: #ffffff;
        border:1px solid #cecece;
        font-size: 14px;
        font-family: Roboto-Regular;
        color:#aaaaaa;
        margin-left: 10px;
        img{
            position: relative;
            top: -1px;
            left:6px;
        }
    }
}
.no-item-list-usr{
    position: relative;
    height: 100%;
    width: 100%;
    transition: 2s all;
    .item-empty-container {
        visibility: visible;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .empty-res{
        color: #b2b2b2;
        font-style: italic;
        padding: 0;
        font-family: "Roboto-Regular";
        font-size: 14px;
    }
}
::ng-deep{
    .cust-select-disabled{
        opacity: .5;
        .p-dropdown-label{
            cursor: default !important;
        }
    }
// automated dialog popup
.ro-success-msg-dialog-popup{
    max-width: 500px;
    width:  500px;    
    &.p-dialog .p-dialog-header{
      display: none;
    }
    .p-dialog-content{
        border-radius: 25px;
        padding: 0px !important;
      .automated-msg-container{
        .green-div{
            background-color: #469073;
            padding: 30px 0 20px 0;
        }
        .white-div{
            background-color: #ffffff;
            padding: 15px 0 30px 0;
        }
        padding: 0px !important;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: block;   
        .text-1{
            display: inline-block;
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            width: 100%;
            padding-top: 20px;
            margin: 0;
        }
        .text-2{
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 15px;
            color: #f99724; 
            text-align: center;
            width: 400px;
            word-break: break-word;
            padding-top: 10px;
            margin-bottom: 5px;
            line-height: 22px;
        }
        .text-3{
            display: inline-block;
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #000000;
            text-align: center;
            width: 100%;
            padding-top: 0;
            margin-bottom: 0;
        }
        .btn-div{
          display: inline-block;
          width: 100px;
          height: 32px;
          margin: 15px 0 0 0;
          padding: 3px 0 0 0;
          border-radius: 22px;
          background-color: #469073;
          text-align: center;
          span{
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 16px;
            color: #ffffff;
            vertical-align: top;
            position: relative;
            left: -4px;
          }
          img{
            vertical-align: top;
            display: inline-block;
            position: relative;
            top: 7px;
            left: 4px;
          }
        }
      }
    }
  }

}
