<div id="product-matrix">
    <!--div id="header">
      <app-probing-header></app-probing-header>
    </div-->
    <div class="container-fluid">
      <div class="wrapper">
        <!--nav id="nav-sidebar">
          <app-sidebar accessModule="{{bodyClass}}"></app-sidebar>
        </nav-->
        <div class="container-fluid" id="content">
          <router-outlet></router-outlet>
        </div>
      </div>

       <div id="footer">
        <app-footer accessModule="{{bodyClass}}"></app-footer>
      </div>        
    </div>
  </div>
