::ng-deep body.landing-page .p-datatable .p-datatable-tbody > tr:hover,
::ng-deep body.landing-page .p-datatable .p-datatable-tbody > tr:hover td{
    cursor: pointer;
    background-color: #ffffff !important;
}
::ng-deep body.landing-page .team-support .p-datatable .p-datatable-thead > tr > th.tw12{
    text-align: center !important;
}
::ng-deep body.landing-page .team-support .p-datatable .p-datatable-tbody > tr > td.tw12{
    text-align: center !important;
}
::ng-deep body.landing-page .team-support-section .p-datatable .p-datatable-scrollable-body{
    height: 248px;
    /*max-height: 310px;*/
}
.team-support-container{
    border-radius: 8px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #e0e0e0;
    width: 100%;
    overflow: hidden;
}
.paddingLt15{
    padding-left: 15px !important
}
.paddingRt15{
    padding-right: 15px !important
}
