.preset-form-row{
    width: 100%;
    padding:0 0 0 20px;

}
.margin0{
    margin: 0;
}
.padding0{
    padding: 0;
    &.paddingRt20{
        padding-right: 20px !important;
    }
    
}
.prob-form-row{   
    margin:0px 0 20px 0px;
    padding: 0;
    &.attachment-row{
        margin:0 !important;
    }
}
.part-label-row{
    display: block;  
    .label-icon{
        display: inline-block;        
        position: relative;       
        vertical-align: top;     
    }
    .lable-text{
        display: inline-block;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        color: #9a9a9a;
        vertical-align: middle;
        padding-left: 6px;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.lable-text-new{
            width: calc(100% - 20px);
            white-space: nowrap;           
            text-overflow: ellipsis;            
            overflow: hidden;
        } 
    }
}
::ng-deep{
    .p-multiselect,.p-dropdown{
        background-color: #fbfbfb;
        border: 1px solid #dbddde !important;
        font-family: 'Roboto-Regular';    
        border: 0 none;
        font-size: 14px;
        color:#000000;
        padding: 0px;
        max-width: 100%;
        width: 100%;
        border-radius: 6px;
        box-shadow: none !important;
        outline:none;
        &::placeholder {
            color:#b5b5b5;
        }
    } 
}
::ng-deep .preset-body .p-multiselect .p-multiselect-label.p-placeholder{
    color:#b5b5b5 !important;
    font-family: 'Roboto-Regular';      
    font-size: 14px;
}
::ng-deep .preset-body .p-dropdown .p-dropdown-label.p-placeholder{
    color:#b5b5b5 !important;
    font-family: 'Roboto-Regular';      
    font-size: 14px;
}
::ng-deep{
    .preset-body .ck.ck-placeholder:before, .preset-body .ck .ck-placeholder:before{
        color:#b5b5b5 !important;
    }
    .preset-body .selected-items .tag-text{
        margin: 6px 6px 0 0px !important;
    }    
} 
.part-text-row{
    display: block; 
    margin-top: 5px; 
    .inputbox{
        background-color: #fbfbfb;
        border: 1px solid #dbddde !important;
        font-family: 'Roboto-Regular';    
        border: 0 none;
        font-size: 14px;
        color:#000000;
        padding: 9px 10px;
        max-width: 100%;
        width: 100%;
        border-radius: 6px;
        &::placeholder {
            color:#b5b5b5;
        }
    }    
    
}
.input-down-arrow {
    position: relative;
    display: inline-block;
    .icon {
        display: block;
        margin: 0;
        padding: 0;
        width: 16px;
        height: 10px;
        position: absolute;
        left: -27px;
        top: -10px;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('/assets/images/dropdown_downarrow.png') no-repeat;
    }
}
.input-cal {
    position: relative;
    display: inline-block;
    .icon {
        display: block;
        margin: 0;
        padding: 0;
        width: 17px;
        height: 17px;
        position: absolute;
        left: -27px;
        top: -14px;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('/assets/images/escalations/ppfr/date.png') no-repeat;
    }
}
.input-odo{
    position: relative;
    display: inline-block;
    .text{
        display: block;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 20px;
        position: absolute;
        left: -36px;
        top: -16px;
        font-family: "Roboto-Regular";
        border: 0 none;
        font-size: 14px;
        color: #000000;
    }
}
.required-text{
    color: #b2b2b2;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 20px;
    margin: 5px 0 0 0;    
    display: inline-block;
}
::ng-deep {
    .info-text{
        font-family: "Roboto-Regular";
        font-size: 14px;
        color:#fec52c;
        padding-left: 10px;
        display: inline-block;
        font-style: italic;
    }
    .mat-toolbar-single-row{
        height: 2px !important;
        display: none !important;
    }
    .preset-form-row .ck.ck-editor__main > .ck-editor__editable {
        height: 100px !important;
        border-bottom-right-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
      }
      
      .preset-form-row .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
      .preset-form-row .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
        border-top-left-radius: 8px !important;
        border-top-right-radius: 8px !important;
      }
      cdk-virtual-scroll-viewport{
        height: 150px !important;
      }
      .p-dropdown-label{
        font-family: "Roboto-Regular";
        font-size:14px;
      }
      .file-attachment-body{
        height: calc(100vh - 168px) !important;
      } 
      .modal-open .modal{
        z-index: 1050 !important;
      }  
      body .modal.attachment-modal .modal-dialog .upload-modal .modal-body .attachment-head .head-col.tab-area .tab-list li.active{
        background-color: #469073;
      } 
      .empty-data {
        color: #b2b2b2;
        display: block;
        font-style: italic;
        margin: 25px auto;
        text-align: center;       
        font-family: "Roboto-Regular";
        font-size: 14px;
      } 
      .loader {
        top: 0;
        left: 0;
        img {
          left: 50%;
          top: 50%;
          width: 44px;
        }
      }    
}
.tag-cont-div{
    background-color: var(--ID58);
    border-radius: 20px;    
    display: inline-block;    
    padding: 0 10px 0 10px;
    position: relative;
    margin: 0 10px 15px 0;
    line-height: normal;   
    height: 26px;  
    .tag-cont{
        color: #e5e5e5 !important;
        font-size: 12px !important;
        text-align: left;
        text-transform: none;
    }
}
.preset-gray-bg{
    background-color: #dfe1e3 !important;
}
.visible-hide{
    visibility: hidden !important;
    height: 0 !important;
    position: relative;
    z-index: -1;
}
::ng-deep{
    .p-multiselect-panel{
        z-index: 10050 !important;  
    }
    .black-theme-row .reference-info{
        padding:0 !important;
        &.from-media {
            padding: 15px 0px !important;
        }
    }
    .black-theme-row .refer-info{
        padding: 10px 0 0 0;
    }
    .black-theme-row .refer-info .label{
        display: none;
    }
    .black-theme-row .refer-info.attachment-info .attachment-cont{
        border: none;
    }
    .black-theme-row .refer-info.attachment-info .attachment-cont .attachment-row{
        border: none;
        border-bottom: solid 1px #e1e1e1;
        padding-bottom: 15px !important;
        &:last-child{
            border-bottom: solid 1px #e1e1e1 !important;
        }
    }
    .black-theme-row .refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .caption-control{
        border-radius: 6px;
        border: solid 1px #dbddde;
    }
    body .modal.attachment-modal .modal-dialog .upload-modal .modal-header .head-row.file-attch-row{
        margin-bottom: -5px; 
    }
    body .modal.attachment-modal .modal-dialog .upload-modal .modal-body{
        background-color: #ffffff;
    }
    .black-theme-row{
        .upload-area{
            margin-top: 0px;
            position: sticky;
            top: 0;
            z-index: 1000;            
            .upload-col{
                background-color: #f2f2f2;
                border: 1px solid #cbcbcb;                
                color: #000000;
            }
        }
        .upload-area .upload-col.files{
            border-radius:unset;
        }
        .upload-area .upload-col.link{
            border-radius:unset;
        }
        .attachment-file.media-attachment-file .p-fileupload .p-fileupload-content{
            border-left: 1px solid #cbcbcb;
        }
        .attachment-file .p-fileupload .p-fileupload-content.p-fileupload-highlight{
            background-color: #ccefe1;
            .content-message{
                color: #469073 !important;
            }
        }
        .attachment-file .p-fileupload .p-fileupload-content{
            background-color: #f2f2f2;
            height: 59px;
            padding: 17px 0 0 0;
        }
        .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label{
            color: #000000;
        }
        .attachment-file.media-attachment-file .p-fileupload .p-fileupload-content .placeholder{
            color: #000000;
        }
        .attachment-row .attachment-col.cont-col .caption.link input{
            margin-bottom: 0 !important;
        }
        .selected-items .tag-text{
            margin-top: 8px !important;
        }
        .post-link-error{
            width: 100%;
            padding: 5px 0 5px 20px;
            font-size: 14px;
            margin-left:10px;
            color: #dc3545;
            position: relative;
            top: 0;
            font-family: 'Roboto-Regular';
          }
          .link-error {
            width: 100%;
            margin-top: 0;
            margin-left:10px;
            font-size: 13px;
            color: #dc3545;
            position: relative;
            top: 0;
            font-family: 'Roboto-Regular';
        }
    } 
    .ws-display{
        padding-top: 10px;
    }
}


