.scrollbar {
  margin-left: 0px;
  height: 90%;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
.force-overflow {
  min-height: 600px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}

.thin::-webkit-scrollbar {
  width: 6px;
}

.dash-chart-col {
  min-height: 262px;
}

.user-activities-chart-row {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  overflow: hidden;
}
.user-activities-chart-col {
  height: 100vh;

}
.user-activities-chart-col-ps {
  height: 100vh;
  padding-bottom: 100px;
}

::ng-deep #content {
  height: 99vh;
  overflow-y: hidden !important;
}
::ng-deep .ps__rail-x {
  display: none;
}
::ng-deep .user-activities-dash-filter {
  height: 100% !important;
}
