/*.post-desp-div{
  margin:-1px;
}*/
::ng-deep .tag-users{
    &.view-tag-users{
    display: block;
    width: auto;
    margin: 0;
    padding:  18px 0px 15px 20px;
    }
    .drop-col{
      height: 38px !important;
    }
    .p-dropdown{
      width: calc(100% - 60px) !important;
    }
    }
    .mt-3{
    margin-top: 0.3rem !important;
    margin-bottom: 0.7rem !important;
    }
    .selected-users{
      &.selected-users-bg{
          background:none;
      }
    }
    .new-post-img{
      display: inline-block;
      width: 16px;
      height: 15px;  
      img{
        position: relative;        
        display: block;     
        max-width: 16px;
        height: 15px;    
        top: -3px !important;  
        &.post-btn-img-np{          
          left: -8px;
        }
      }  
    }
    .new-close-img{
      display: inline-block;
      width: 18px;
      height: 18px;  
    }
    .video-banner{
      margin: 0px 20px 30px 20px
    }
    .profile-topbadge-user-pview1{
      display: inline-block;
      top: -3px;
      vertical-align: top;
      position: relative;        
    }
    .profile-topbadge-user-pview2{
      display: inline-block;
      top: -4px;
      vertical-align: top;
      position: relative;
      padding-right: 4px;    
    }
    
    /** Perfect Scrollbar */
    ::ng-deep body .ps {
      &.ps--active-y { 
        .ps__rail-y {       
          z-index: 100;        
        }
      }
    }
    
    ::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .fix-div .post-div{
      &:last-child{
        .post-view{
          padding: 15px;
        }
      }
    }
    ::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .nested-post-view .post-row .post-col.post-col2 .post-head .post-head-col1{
      width: 60%;
    }  
    ::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .nested-post-view .post-row .post-col.post-col2 .post-head .post-head-col2{
      width: 40%;
    }
    ::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-reply-new .attachment-file.common-attachment-file .p-fileupload .p-fileupload-buttonbar{
      width: 163px;
    }
    ::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .upload-area .upload-col.files{
      width: 60%;
    }
    ::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-reply-new .post-head .post-head-col1{
      width: 30%;
    }
    ::ng-deep{
      .ql-editor.ql-blank::before{
        font-family: "Roboto-Regular";
        color: #898989;
        font-size: 15px;
        line-height: 26px;
        font-style: normal;
      }
      .new-button-top{
        position: absolute;
        top: 13px;
        z-index: 100;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        .new-div{
          background:  #ffffff;
          border-radius: 6px;
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.28);
          padding: 5px 16px 0 16px;
          transition: all 0.5s;
          text-align: center;
          width: auto;
          height: 36px;
          display: inline-block;
          font-family: Roboto-Medium;
          color: #444444;
          font-size: 15px;
          line-height: 12px;
          cursor: pointer;    
          svg {
            height: 23px;
            width: 23px;
    
            path {
              stroke: var(--ID6);
            }
          }  
        }
        .new-button-div{
          background:  #5e70d9;
          border: 1px solid #5e70d9;
          border-radius: 18px;
          padding: 11px 15px 0;
          transition: all 0.5s;
          text-align: center;
          width: auto;
          height: 36px;
          display: inline-block;
          font-family: Roboto-Medium;
          color: #fff;
          font-size: 14px;
          line-height: 12px;
          cursor: pointer;   
          .new-button-div-img{
            position: relative;
            top:-2px;
          }   
        }
        .th-badge-content {
          background: #ff5a61;
          min-height: 24px;
          min-width: 24px;
          border-radius: 50%;
          position: absolute;
          margin-top: -10px;
          margin-left: -10px;
          .text{
            color: #ffffff;
            font-family: "Roboto-Regular";
            font-size: 13px;
            font-weight: 500;
            line-height: normal;
            display: inline-block;
            padding: 0 0 0 0;
            position: relative;
            top: -2px;
          }
        
        }
      } 
      .reference-info-hide .reference-info {
        display: none !important;
      }
      .reference-info-hide .upload-area {
        display: none !important;
      }
      .refer-info.attachment-info .attachment-cont .cdk-drag-preview, .refer-info.attachment-info .attachment-cont .attachment-row{
        padding: 0 !important
      }
      .refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .attach-drop-down .dynmic-selected-items{
        padding-top: 0;
      }
      /*.refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption{
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }*/   
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info .attachment-cont{
        padding: 0;
      } 
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .refer-info{
        padding:0;
      }
      body.thread-detail .post-button-green.text-center .green-btn-lt{
        padding-left: 0 !important;
      }
      body.thread-detail .post-button-green.heightSet1 .post-submit-tooltip .tooltip-inner{
        height: 150px;
      }
      body.thread-detail .post-button-green.heightSet2 .post-submit-tooltip .tooltip-inner{
        height: 150px;
      }
      body.thread-detail .post-button-green.heightSet3 .post-submit-tooltip .tooltip-inner{
        height: 200px;
      }
      body.thread-detail .right-landing-toggle-menu-bar .filter-toggle.expand-arrow{
        left: unset !important;
        right: 0 !important;
      }
      body.thread-detail .post-submit-tooltip .tooltip-inner .label-tt-cont.selected-tt-cont{
        background: var(--ID81);
      }
      body.thread-detail .post-submit-tooltip .tooltip-inner{
        padding:0 0 10px 0 !important;
      }
      body.thread-detail .more-tooltip-new .tooltip-inner{
        padding:8px 0 10px 0 !important;
      }
      body.thread-detail .post-submit-tooltip .tooltip-inner .label-tt-head{
        padding: 15px 15px 0 20px !important;        
      }
      body.thread-detail .post-submit-tooltip .tooltip-inner .label-tt-cont{
        display: block !important;
        padding: 7px 15px 7px 20px !important;
        height: 44px;      
      }
      body.thread-detail .translate-tooltip .tooltip-inner .label-tt-head{
        padding: 15px 15px 0 0 !important;
      }
      body.thread-detail .translate-tooltip .tooltip-inner .label-tt-cont{
        padding: 7px 0 7px 0 !important;
      }
      body.thread-detail .more-tooltip-new .tooltip-inner .label-tt-cont{
        display: block !important;
        padding: 10px 15px 5px 20px !important;
        height: auto !important;      
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont .post-desp{
        padding: 0;
      }
      body{
        .tech-detail-v2{
          .p-messages{
            top: auto !important;
            left: 50% !important;
            width: auto !important;
            .p-message-detail {
                white-space: nowrap !important;
            }
          }
        }
        
        #close-thread-view-dialog{
          
          .p-dialog{
            width: 370px;
          }
          .p-dialog-header {
            display:none !important;
          }
          .p-dialog-content{
            padding: 40px;
            text-align: center;
            border-radius: 8px; 
            width: 100%;  
            
            .msg-text{
              color: #000000;
              font-family: "Roboto-Regular";
              font-size: 15px;
              line-height: normal;
              display: inline-block;
              margin:25px 0;
            } 
            .msg-button{    
              margin: 0 auto;      
              width: 117px;
              height: 38px;
              text-align: center;
              display: block; 
              padding: 0;
              background: #298368;
              border-radius: 6px;
              .text{
                font-family: "Roboto-Medium";
                font-size: 15px;
                position: relative;
                top: 5px;
                color: #ffffff;
                padding: 0 5px 0 0;
              }
              .img{
                position: relative;
                top: 3px;
              }
            } 
          }
        }  
      } 
    }
    
    @keyframes glowing {
      0% {
        background-color: #5e70d9;
        box-shadow: 0 0 5px #5e70d9;
      }
      50% {
        background-color: #9259f1;
        box-shadow: 0 0 20px #9259f1;
      }
      100% {
        background-color: #5e70d9;
        box-shadow: 0 0 5px #5e70d9;
      }
    }
    .new-button-div {
      animation: glowing 1300ms;
      animation-iteration-count: 5;
    }
    
    .tech-support-outer{
      padding-right:0px;
      .ts-inner-cont{
        //border-radius: 16px;
        background-color: #ffffff;
        //box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
        //border: 1px solid #d5dceb;
        padding: 20px 0 20px 20px;
        .top-row{
          padding-bottom: 20px;
          .top-img{
            display: inline-block;
            padding: 0 0 0 0;
            position: relative;
            top: 0px;
          }
          .top-text{
            color: #444d61;
            font-family: "Roboto-Bold";
            font-size: 18px;
            line-height: 18px;
            display: inline-block;
            padding: 0 0 0 6px;
            position: relative;
            top: 4px;
          }
        }
        .center-row{
          .center-row-inner{        
            padding:10px 0;
            width: 100%;
            .center-row-lt{
              display: inline-block;            
              width: 23px;           
              vertical-align: top;
              img{
                display: block;
                height: auto;
              }          
            }
            .center-row-rt{
              display: inline-block;            
              width: calc(100% - 33px);
              border-bottom: 1px solid #e9e3e3;
              vertical-align: top;
              margin-left: 10px;  
              .placeholder-text{
                color: #93989d;
                font-family: "Roboto-Medium";
                font-size: 14px;    
                padding: 0 0 4px 0;  
                display: block;
              }         
              .team-text{
                color: #000000;
                font-family: "Roboto-Regular";
                font-size: 14px;    
                padding: 0;  
                display: block;     
              }
              .thread-status{
                border-radius: 18px;
                padding: 0px 8px 2px 8px;
                font-family: 'Roboto-Regular';
                color: #ffffff;
                font-size: 13px;
                text-align: center;
                display: inline-block; 
                margin-bottom: 20px;
              }
              .level-status{
                border-radius: 18px;
                padding: 0 0 0 0;
                text-align: center;
                display: block;
                margin-bottom: 20px;
                background: #f0e68c;
                width: 44px;
                height: 20px;
                img{
                  display: inline-block; 
                  vertical-align: top;
                  position: relative;
                  top: 3px;
                }
                .level-status-text{
                  font-family: "Roboto-Regular";
                  color: #444444;
                  font-size: 14px;
                  padding-left: 3px;
                  vertical-align: top;
                  display: inline-block;
                }
              }
              .setHeight{
                max-height: 150px;                        
                overflow: auto;
                margin-right: 15px;
              }
              .pro-row{
                 display: table;
                 margin:6px 0 16px 0;
                .pro-img{
                  width: 32px;
                  height: 32px;             
                  border-radius: 50%;             
                  display: table-cell;
                  vertical-align: top;
                  img{
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                  }
                }
                .pro-name{
                  font-family: 'Roboto-Regular';             
                  font-size: 14px;
                  color:#000000;
                  display: table-cell;
                  vertical-align: middle;
                  padding-left: 10px;
                }
                .status{
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  display: block;
                  margin: 22px 0 0 -8px;
                  position: absolute;
                  &.status0{
                    background-color: #ff0000;
                  }
                  &.status2{
                      background-color: #ffee50;
                  }
                  &.status1{
                      background-color: #00b050;
                  }
                }
              }
              .right-row{ 
                position: absolute;
                right: 15px;
                margin: -28px 0 0 0;
                cursor: pointer;             
                .assign-btn{
                  border-radius: 14px;
                  border: solid 1px #c9c9c9;
                  cursor: pointer;
                  width: 115px;
                  text-align: center;
                  height: 28px;
                }
                img{
                  display: inline-block;
                  vertical-align: top;
                  top: 6px;
                  position: relative;
                  height: auto;
                }
                .a-text{
                  display: inline-block;
                  font-family: 'Roboto-Regular';             
                  font-size: 14px;
                  color:#999999;
                  padding-left: 5px;
                  vertical-align: top;
                  position: relative;
                  top: 3px;            
                }
              }
            }
            .remove-div{
              position: relative;
              display: inline-block;
              cursor: pointer;
            }
            .remove-tag{
              background-color: #df4642;
              border-radius: 12px;
              height: 18px;
              position: absolute;
              top: -24px;
              left: -32px;
              width: 18px;
              &:after{
                background-color: #fdf2f2;
                content: "";
                width: 8px;
                height: 2px;
                position: absolute;
                top: 8px;
                left: 5px;
              }
            }
           
           
          }
        }      
      }    
    }
    
    ::ng-deep{
      .setOpacity0{
        opacity: 0;
        height: 0;
        border: 1px solid red;
      }
      body.thread-detail .p-messages {
          position: absolute;
          top:46px;            
          z-index: 10;           
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
      }
      .p-message.p-message-success .p-message-close{
          visibility: hidden;
      }
      .techsupport-tt {      
        margin: 0 0 0 -74px !important;
        .arrow {
            &::before {
                border-width: 0 0.5rem 0.5rem;
                border-bottom-color: #242a3a;
                left: 73px;
                bottom: -1px;
            }
        }
        &.tooltip {
            opacity: 1;    
            .tooltip-inner {
                background-color: #242a3a !important;
                text-align: left;
                width: 200px;;
                border-radius: 9px;
                padding: 0;
                .tooltip-ts-mo-div{
                   ul{
                        margin: 0px;
                        padding: 0px;
                        li{
                            background-repeat: no-repeat;
                            background-position: 10px 12px;
                            border-bottom: solid 1px #4c5972;
                            color: #ffffff;
                            font-family: Roboto-Regular;
                            font-size: 14px;
                            padding: 10px 10px 10px 10px;
                        }
                    }                    
                }
            }
            
        }               
      
    }
     
    }
    ::ng-deep{
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-head .post-head-col1{
        width: 100%;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont.active-border{
        border: 2px solid #469073;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .post-cont{
        border: 2px solid transparent;
      }
      .arrow-tt-hide ngb-popover-window.bs-popover-bottom>.arrow{
        display: none !important;
      }
      .arrow-tt-hide .bs-popover-bottom .popover-header::before{
        display: none !important;
      }
      .arrow-tt-hide ngb-popover-window.bs-popover-top>.arrow{
        display: none !important;
      }
      .arrow-tt-hide .bs-popover-top .popover-header::before{
        display: none !important;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .nested-reply-div{
        margin-top: 0;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view.nested-post-view{
        padding-left: 75px;
      }
      body.thread-detail .post-submit-tooltip.bs-tooltip-top{
        margin:0 0 12px -100px;
      }
      body.thread-detail .post-submit-tooltip.bs-tooltip-top .arrow::before{
        top: 6px;
        left: 100px;
      }
      #post-new-cont-id .post-row{
        padding: 11px 20px 7px 20px !important;
      }
      .availability-status{
        display: none !important;
      }
      /*body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .display-tablecell{
        vertical-align: top !important;
      }*/
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-view .post-row .post-col.post-col2 .icons-div.icon-left span{
        padding-left: 10px;
      }
      .setWidth50{
        width: 40px;
        padding-left: 0 !important;
      }
      .setWidth10{
        width: 10% !important;
        white-space: nowrap;
      }
      .setWidth90{
        width: 90% !important;
        white-space: nowrap;
      }    
      .setWidth30{
        width: 30% !important;
        white-space: nowrap;
      } 
      .setWidth70{
        width: 70% !important;
        white-space: nowrap;
      } 
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row4 .row4 .icons-div.icon-left{
        padding-left:  10px !important;
      }        
      .p-editor-container .p-editor-toolbar.ql-snow{
        border-left: none !important;
        border-right: none !important;
      }
      .p-editor-container .p-editor-content.ql-snow{
        border-left: none !important;
        border-right: none !important;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new{
        border: none;
      } 
       
      body.thread-detail-v2 .thread-detail-section .thread-view-comments .th-outer-col-2 .thread-detail-page .post-view{
        border: none;
        background: #ebebeb;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new{
        border-left: solid 1px #d5dceb;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new.post-reply-new{
        border-right: solid 1px #d5dceb;
        border-left: none;
      }
      body.thread-detail-v2 .thread-detail-section .thread-view-reply .th-outer-col-2 .thread-detail-page .post-view{
        background:#e1e1e1 !important;
        border:none !important
      }
      body.thread-detail-v2 .right-landing-toggle-menu-bar .domain-widget{
        border-radius: 0 !important;
        background: transparent;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row4 .row4 .proposed-bulb-border{
        border: 1px solid #e2e3e5;
        background-color: #f1f5f9;
        width: 24px;
        height: 27px;
        text-align: center;
        padding: 2px 0 0 0 !important;
        margin: 0 0 0 5px;
        border-radius: 4px;
        position: relative;
        top: -1px;
        display: inline-block;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row4{
        height: 36px;
      }
      body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .th-date-text.post-date-text{
        padding: 0;
        display: inline-block;
        margin:0;
        position: relative;
        top:2px;
      }
      .selected-items .tag-text.ws-tag-text,
      .selected-items .tag-text{
        background-color: #4d4d4d;
      }
      .p-editor-container .p-editor-content .ql-editor{
        max-height: 190px;
      }
      body.thread-detail .post-submit-tooltip .tooltip-inner .label-tt-cont .label-tt-cont-rt{
        vertical-align: middle !important;
      }
      body.thread-detail .post-submit-tooltip .tooltip-inner .label-tt-cont .label-tt-cont-rt.moreDivRt{
        vertical-align: top !important;
      }
      .ck.ck-editor__editable_inline {
        overflow-y: auto;
        max-height: 190px !important;
        min-height: 54px;
      }
    }
    .post-row-lt-wid{
      width: 40%;
      vertical-align: top;
      &.visibility-hidden{
        visibility: hidden;
      }
      .reply-access-denide{
        white-space: nowrap;
        color: #636363;
        font-family: Roboto-Regular;
        font-size: 14px;
        text-align: center;
      }
    }
    .post-row-rt-wid{
      width: 60%;
      vertical-align: top;
      .post-head-col2{
        width: 100% !important;
        float: right;
      }
    }
    .set-pos1{
      position: relative;
      margin-top: 15px;
    }
    .set-pos2{
      position: absolute;
      width: 100%;
    }
    .view-more-reply-text{
      color: #469073;
      font-family: Roboto-Medium;
      font-size: 14px;
      padding: 0 0 0 70px;
      margin: 0;
      cursor: pointer;
      background-color: #ebebeb;
    }
    .desc-error-msg{
      font-family: Roboto-Regular;
      text-align: left;
      color: #cf2020;
      font-size: 14px;
      padding: 5px 0 0 15px;
      height: 30px;
    }
    .dot-ret{
      border-radius: 50%;
      height: 9px;
      min-height: 9px;
      min-width: 9px;
      overflow: hidden;
      width: 9px;
      background-color: #ff000b;
      display: inline-block;
      padding: 0 !important;
      margin: 0 !important;
      max-width: 9px;
    }
    ::ng-deep{
      .new-dot-tooltip{
        .popover-header{
          font-family: Roboto-Medium;
          color: #ffffff;
          font-size: 14px;
          background-color: #444;
          border-radius: 6px;
          padding: 7px 14px;
        }
        .popover-body{
          padding: 0;
        }
      } 
      .ck.ck-placeholder, .ck .ck-placeholder{
        font-size: 14px;
        font-family: 'Roboto-Regular';
        color: #898989;
      }
      body.thread-detail-v2 .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new{
        overflow:visible;
      }
      body.thread-detail-v2 .thread-detail-section .th-outer-col-2 .thread-detail-page .post-new.set-transparent-bg{
        background: #ebebeb !important;
        box-shadow: none !important;
      }
      .thread-post-hover{
        .scroll-top-on{
          visibility: hidden;
        }
        .scroll-bottom-on{
          visibility: hidden;
        }
      }
      .thread-post-hover{
        &:hover{
          .scroll-top-on{
            visibility: visible;
          }
          .scroll-bottom-on{
            visibility: visible;
          }
        }
        
      }
      .scroll-top-on {
        position: absolute;
        z-index: 999;
        padding: 0;
        width: 52px;
        height: 52px;
        margin: 0;
        display: block;
        right: 10px;
        top: 63px;
        cursor: pointer;
      }
    
      .scroll-bottom-on{
        position: absolute;
        z-index: 999;
        padding: 0;
        width: 52px;
        height: 52px;
        margin: 0;
        display: block;
        right: 10px;
        bottom: -3px;
        cursor: pointer;
      } 
    
      .reply-close-access-denide{
        width: 100%;
        display: table;
        position: absolute;
      }
      .reply-close-access-denide-span{
        white-space: nowrap;
        color: #636363;
        font-family: Roboto-Regular;
        font-size: 14px;
        text-align: center;
        margin:0;
        padding: 20px 0;
        display: block;
        width: 100%;
      }
     
     
    }
    
    
    ::ng-deep .v2-mask .p-dialog-mask {
      height: 150vh !important;
      .p-dialog {
        margin: 0 !important;
        height: 100%;
        .p-dialog-header {
          display: none;
        }
        .p-dialog-content {
          padding: 0;
          overflow: hidden;
          h1 {
            border-bottom: solid 1px #d6d6d6;
            color: #000000;
            font-family: 'Roboto-Medium';
            font-size: 18px;
            padding: 10px 0px;
            span {
              display: inline-block;
              vertical-align: middle;
              &.head {
                padding-left: 15px;
                width: calc(100% - 30px);
              }
              .head-info {
                font-family: 'Roboto-Regular';
                font-size: 14px;
                padding-top: 10px;
              }
              &.sidebar-close-icon {
                background: url('../../../../../../assets/images/thread-detail/thread-window-close.png') no-repeat;
                width: 17px;
                height: 16px;
              }
            }
          }
          .content {
            .vehicle-info {
              .items {
                padding: 0px 0px 0px 20px;
                .item-row {
                  border-bottom: solid 1px #d6d6d6;
                  display: block;
                  padding: 10px 20px 10px 0px;
                  width: 100%;
                  .item-col {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    .truncate {
                      display: flow-root;
                    }
                  }
                }
              }
            }
          }
          .feedback-content {
            padding: 0px 20px;
            position: relative;
            .form-items {
              font-family: 'Roboto-Regular';
              color:#000000;
              padding: 5px 0px 0px;
              position: relative;
              .required-text {
                color: #999;
                font-size: 15px;
                position: absolute;
                right: 0px;
                top: 15px;
              }
              .field-label {
                color:#000000;
                font-size: 15px;              
              }
              .field-item {
                .radio-button {
                  label {
                    color: #000000 !important;
                    &.active {
                      color: #469073 !important;
                    }
                  }
                  .checkmark {
                    border: solid 2px #bbbbbb;
                    top: 0;
                    &.active {
                      border: solid 2px #469073;
                      &::after {
                        background-color: #469073;
                      }
                    }
                  }
                }
                textarea {
                  border-radius: 6px;
                  border: solid 1px #dbddde;
                  margin-top: 5px;
                  padding: 10px 15px;
                  resize: none;
                  width: 100%;
                  &::placeholder {
                    color: #999999;
                  }
                }
                .invalid-feedback {
                  display: block;
                }
              }            
            }
            .form-action {
              padding: 10px 0px;              
            }
          }
          .bottom-content {
            display: block;
            .bc-row {
              color: #000;
              .bc-col {
                display: inline-block;
                vertical-align: middle;
                &.bc-col-1, &.bc-col-3 {
                  border-top: solid 1px #dbddde;
                  width: calc(50% - 16px);
                }
                &.bc-col-2 {
                  border: solid 1px #dbddde;
                  border-radius: 50%;
                  font-size: 14px;
                  height: 32px;
                  width: 32px;
                  span {
                    font-size: 13px;
                    position: relative;
                    top: 4px;
                  }
                }
              }
              &.bc-row-cont {
                padding: 15px 0px 0px;
                .bct-row-1 {
                  color: #000;
                  font-family: 'Roboto-Medium';
                  font-size: 16px;
                }
                .bct-row-2 {
                  padding-top: 5px;
                  .support {
                    background: url('../../../../../../assets/images/common/email-fill-circle.png') no-repeat 0px 2px;
                    padding-left: 28px;
                    padding-bottom: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }

::ng-deep{
  body.thread-detail-v2.public-detail .thread-detail-section{
    padding: 10px 0;
    background: #ffffff;
  }
  body.thread-detail-v2.public-detail .thread-detail-section .section-left.left-col-collapse{
    width: 10%;
    margin: 0;
    box-shadow: none;
  }
  body.thread-detail-v2.public-detail .thread-detail-section .section-middle.left-col-expand.col-collapse{
    width: 60%;
  }
  body.thread-detail-v2.public-detail .thread-detail-section .section-middle.left-col-expand.col-expand{
    width: 88%;
  }
  body.thread-detail-v2.public-detail .thread-detail-section .section-right.col-collapse{
    width: 30%;
    margin-left: 0;
    box-shadow: none;
  }
  body.thread-detail-v2.public-detail .thread-detail-section .section-middle.left-col-expand.col-collapse{
    background: transparent;
  }
  body.thread-detail-v2.public-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-detail-div .thread-detail-div-left .thread-detail-view{
    border: none;
  }
  body.thread-detail-v2.public-detail #mytodosItemsId{
    margin-top: -29px;
  }
  body.thread-detail.public-detail .thread-detail-section .th-outer-col-2 .thread-post-hover{
    border: 1px solid #d5dceb;
  }
}