.export-div-outer{
    width: 107px;
    height: 33px;
    margin: 0 0 0 0;
    padding: 3px 18px 7px 18px;
    border-radius: 6px;
    border: solid 1px #e55554;
    img{
      position: relative;
      top:0;
      left:-5px;
    }
    span{
      font-family: "Roboto-Regular";
      color: #e55554;
      font-size: 14px;
      position: relative;
      top:0;
      left:1px;
    }
  }
  .placeHolderText{
    margin: 20px 0 0 0;
    display: block;
    font-family: "Roboto-Regular";
    color: #9b9a9a;
    font-size: 14px;
  }
  ::ng-deep{
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar{
        width: 180px;
        max-width: 100%;
        text-align: center;
        margin: 100px auto;
        display: block;
        border: 1px solid red;
        overflow: hidden;
        border-radius: 6px;
        padding: 0 0 0 12px;
    }
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-content{
        display: none;
    }
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-icon-left{
        margin-right: 20px !important;
    }
  }
  .successMsg{
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #444444;
    position: relative;
    top: -70px;
}
.setopacity{
    opacity: .4;
}
  
