.modal-title{
    &.pmodel{
        width: auto !important;
    }
}
.tag-custom-icon-edit{
    display: inline-block !important;
    padding-right: 10px  !important;
    width: auto !important;
}
.tag-custom-icon-delete{
    display: inline-block !important;
    padding-right: 10px  !important;
    width: auto !important;
}
::ng-deep body .modal .modal-dialog .modal-content .custom-modal .modal-header .modal-title.w22{
    width: 22%;
}
::ng-deep body .modal .modal-dialog .modal-content .custom-modal .modal-header .modal-title.w25{
    width: 25%;
}


.loader{
  left:48px
}

.certification-rows {
    display: flex;
    align-items: center;
    width: 36vw !important;
    // padding: 10px 0 !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.custom-position {
    right: 10px !important;
    top: 0 !important;
}

.model-input-certificate {
    padding-left: 45px !important;
    position: static !important;
}
.manage-modal .actions .search-form {
    top: 0 !important;
    width: 100% !important;
    input:focus {
        border: 0 !important;
    }
}

.certification-mid-sec {
    padding: 10px 0 !important;
}

.certification-outer-sec {
    border-bottom: solid 1px #e5e5e5 !important;
    text-align: left;
    td {
        border: 0 !important;
    }
}
