::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-content .table-row3.doc-table-row3 {
    padding-top: 40px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-content .table-row3.doc-table-row3 .thread-detail-widget{
    padding-top: 40px;
}
::ng-deep .system-info{
    padding: 0;
}
::ng-deep .reference-info{
    padding: 0;
}
::ng-deep .mat-accordion>.mat-expansion-panel-spacing:last-child{
    margin-bottom: 0;
}
::ng-deep .system.system .mat-expansion-panel-body{
    padding: 15px 0 0;
}
::ng-deep .tag-info.ws-info{
    padding: 15px 10px 5px 15px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row.setPaddingNew{
    padding: 10px 10px 10px 0px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row .problem-col-lt.doc-tag-lt-new{
    top:5px;
}
::ng-deep{
    body.thread-detail .thread-detail-section-other .th-outer-col-1{
        width: 10%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2.col-collapse{
        width: 88%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2.col-expand{
        width: 72%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2 .thread-detail-page .thread-detail-div .thread-detail-div-left{
        width: 88%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2 .thread-detail-page .thread-detail-div .thread-detail-div-right{
        width: 10%;
    }
}

