::ng-deep{
  .p-multiselect-panel {
    z-index: 10000 !important;
  }
    .td-head{
      border-bottom: 1px solid #d5dceb !important;
    }
    .view-modal-body .thread-detail-section{
      margin:0;
      width: 100%;
      padding: 0 20px !important;
      display: block;
      background: #ffffff;
    }
    body.view-modal-popup-manage .read-ann-div{
        display: inline-block;
        margin-right: 20px;
        .read-ann-text{
            font-family: "Roboto-Regular";
            font-size: 14px;
            border-radius: 16px;
            color: #FFF;
            margin: 0 auto;
            padding: 5px 15px;
            border: 1px solid #298368;
            background-color: #298368;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
    body.view-modal-popup-manage .view-more-actions{ 
        display: inline-block;
        margin-right: 20px;
        svg {
            color:#298368;
            circle,
            path {
                fill: #298368;
                stroke:#ffffff;
            }  
        }      
    }    
    .thread-post-hover{
      background: #ffffff;
    }
    
}

#partList{
    &.empty {
        height: 0;
    }
}
.mb-3, .my-3 {
  margin-bottom: 0.5rem !important;
}
.mt-3, .my-3 {
  margin-top: 0.5rem !important;
}
.my-head-row{
  margin-top: .8rem !important;
  margin-bottom: 0.5rem !important;
}
.form-group{
  margin-bottom:0 !important;
}
.desc-required-text{
    margin-bottom: 0;
    color: #b2b2b2;
    font-style: italic;
    float: right;
    margin-top: -30px;
}
.cust-loader {
    &.search {
      left: 47% !important;
    }
  }
  ::ng-deep{
    .black-theme-row .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label{
      padding-left: 10px !important;
  }
    .p-datatable .p-datatable-tbody > tr{
        .more-icon{
            visibility: hidden;
        }
        &:hover{
            .more-icon{
                visibility: visible;
            }
        }
    }
    .gm-style .gm-style-iw-tc::after{
        background-color: #444444 !important;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
      font-size: 15px !important;
      height: 44px;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
        font-size: 15px !important;
        padding: .7rem 0 .7rem 0 !important;
        &.stock-header{
            padding: 0rem 0.25rem 0rem 0.25rem !important;
        }
        &:first-child{
            padding-left: 1rem !important;
        }
    }
    body.parts-list .thread-list-table .p-datatable{
        .thl-col-1{
            width: 12%;    
        }
        .thl-col-2{
            width: 19%;  
            left: 0 !important;    
        }
        .thl-col-3{
            width: 12%;  
        }
        .thl-col-4{
            width: 12%;     
        }
        .thl-col-5{
            width: 19%;       
        }
        .thl-col-6{
            width: 21%;  
        }
        .thl-col-7{
            width: 120px;
            &.header {
                text-align: center !important;
            }
            text-align: right !important;                
        } 
        .thl-col-8{
            width: 50px; 
                   
        }
        .p-table-col {
          &.col-line-2 {
              -webkit-line-clamp: 2;
          }
          &.action-link {
              color: #0044cc;
              text-decoration: underline;
          }
      }
    }
    .more-icon svg path{
        fill: var(--ID69);
    }
    .more-icon svg circle{
        fill: var(--ID70);
    }
    .status-text-col{
        font-size: 13px;
        padding: 1px;
        width: 106px;
        text-align: center;
        margin-right: 20px;
        display: inline-block;
        border-radius: 15px;
        margin: 0px 10px 0px 0px;
        .status-text-col-text{
            display: inline-block;
            width: 100px;
            vertical-align: top;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ffffff;           
            font-family: 'Roboto-Medium';
            font-size: 14px;
        }    
    }    
    .more-icon{
        display: inline-block;
        position: relative;
        right: 0px;
    }
    p{
        &.cont-text{
            .pi{
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    } 
  }

  .thread-page-container {
    background: #dfe1e3;
    padding: 10px 0px 10px 0px;
    border-radius: 8px;
  
    &.thread-list-page-container {
      background: #ffffff !important;
      padding: 0;
    }
  }
  .invalid-feedback.invalid-field {
    padding-left: 20px;
  }
  ::ng-deep svg.map-icon {
    path {
      fill: #469073;
    }
  }
  .d-time-col {
    justify-content: space-between;
    width: 100%;
    .d-inblock {
      display: inline-block;
      &.d-col-1 {
        margin-right: 10px;
        width: 20%;
      }
      &.d-col-2 {
        .time-zone, p-checkbox {
          display: inline-block;
          vertical-align: middle;
        }
        position: relative;
        top: 30px;
        width: 40%;
      }
      &.d-col-3 {
        width: 37%;
        .duration {
          display: inline-block;
          label {
            background: url('../../../../assets/images/dispatch/duration-i.png') no-repeat 0px 2px;
            background-size: 14px;
            display: block;
            span {
              color: #9b9a9a;
              padding-left: 20px;
            }
          }
        }
        p-checkbox {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .split-or {
        margin: 0px 8px 0px 5px;
        color: #000;
      }
    }
  }
  .edit-service {
    background: #469073;
    border-radius: 16px;
    padding: 3px 15px 4px 0px;
    margin-right: 10px;
    width: 98px;
    span {
      background: url('../../../../assets/images/documents/approval-more-edit.png') no-repeat right center;
      display: block;
    }
  }
  
  .address {
    background-color: #f1f4fb;
    border: 1px solid #dbddde;
    border-radius: 6px;
    color: #999999;
    font-size: 14px;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 100%!important;
    &.show {
      color: #000000 !important;
      pointer-events: none;
    }
  }
  
  .p-card {
    height: 100vh !important;
  }
  
  .view-header {
    span {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      &.tech-head {
        max-width: 190px;
        img {
          border-radius: 50%;
          max-width: 100px;
          -o-object-fit: cover;
          object-fit: cover;
          height: 24px;
          width: 24px;
        }
      }
      &.new-icon {
        position: absolute;
        right: 20px;
      }
      &.map-icon {
        position: absolute;
        right: 45px;
        &.status-map {
          right: 25px;
        }
      }
    }
  }
  
  .div-card-body {
    margin-bottom: 15px;
    &.empty {
      height: 100%;
      margin-bottom: 0px;
    }
    .empty-card {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #a3a3a3;
      font-style: italic;
      .empty {
        padding-top: 5px;
      }
    }
    &:hover {
      .actions {
        .edit {
            visibility: visible;
        }
      }
    }
  }
  
  .card-div {
    border-radius: 2px 4px 0 0;
    background-color: #FFF;
    //background-image: url(../../../../assets/images/dispatch/svg/service_card_bg.svg);  
    border: solid 1px #e0e0e0;
    border-left: solid 3px;
    color: black;
    padding: 10px;
    font-size: 14px;
    height: 140px;
    &.tech {
      border-radius: 2px;
      height: 145px;
    }
    &.tech-card-div {
      height: 90px;
    }
    &.status-view {
      height: 85px;
    }
    span {
      font-weight: 500;
    }
    .actions {
      float: right;
      display: flex;
      .edit {
        visibility: hidden;
        &.empty-note {
          padding-right: 3px;
        }
      }
      .notes {
        padding-right: 5px;
      }    
    }
  }
  
  .order {
    border: solid 2px #c5c5c5;
    border-radius: 50%;
    color: #c5c5c5;
    font-size: 13px;
    width: 23px;
    height: 23px;
    text-align: center;
    &.list-order {
      border: 1px solid #c5c5c5;
      font-size: 12px;
      padding: 0 !important;
      position: absolute;
      right: 0px;
      top: 1px;
      width: 18px;
      height: 18px;
    }
  }
  
  .service-status {
    .item-status {
      background: transparent;
      border: 0 none;
      border-radius: 12px;
      color: #fff;
      font-size: 12px;
      padding: 4px 0px 3px 10px;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      height: auto;
      width: 135px;
      span {
        display: inline-block;
        padding: 0px 10px 0px 4px;
        vertical-align: text-top;
      }
      &.tech-item-status {
        padding-left: 0px;
      }
    }
    .mat-toolbar {
      height: auto;
    }
  }
  
  .app-info {
    height: 100px;
    position: relative;
    .title-2 {
      height: 21px;
      .rowidth {
        width: 160px;
      }
      .redwidth {
        width: 110px;
      }
    }
    .bottom-row {
      position: absolute;
      bottom: 8px;
      width: 100%;
    }
    &.tech-app-info {
      height: auto;
      .bottom-row {
        position: initial;
      }
    }
  }
  
  hr.solid {
    border-top: 2px solid #edf0f2;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .dropdown-div {
    background-color: white;
    border-right: 1px solid #e0e2e4;
    border-bottom: 1px solid #e0e2e4;
    border-left: solid 3px;
    padding: 5px 2px;
    border-radius: 0px 0px 4px 2px;
    display: flex;
    justify-content: space-between;
    &.single {
      padding: 5px;
    }
  
    span {
      font-size: 13px;
      &.tech-field {
        background: none;
        padding-right: 10px;
      }
      &.tech-field-drop {
        background: url('../../../../assets/images/dispatch/svg/service-card/trigger.svg') no-repeat right 6px;
        padding-top: 1px;
        padding-right: 15px;
      }
      &.tech-count {
        border: solid 1px #469073;
        border-radius: 50%;
        color: #469073;
        height: 22px;
        width: 22px;      
      }
    }
  
    i {
      font-size: 12px !important;
    }
  }
  
  .empty-tech {
    background: #fff;
    border-radius: 8px;
    margin: 0 20px;
    min-height: 80vh;
    width: 100%;
    ::ng-deep .user-management-btn {
      button {
        background-color: #ff5857;
        border: solid 1px #ff5857;
        border-radius: 8px;
        box-shadow: none;
      }
    }
  }
  
  .service-list {
    padding: 10px;
    .service-row {
      padding: 0px 10px;
      &.service-tech-row {
        width: 25%;
      }
      &.status-row {
        width: 20%;
      }
    }
    &.service-tech-list {
      width: 80%;
    }
    &.service-status-list {
      width: 100%;
    }
  }
  .tech-list {
    margin-top: 10px;
    height: calc(100vh - 150px);
    width: calc(100vw - 400px);
    transition: all 0.5s;
    &.na-collapse {
      width: calc(100vw - 110px);
    }
    .tech-row {
      padding: 0;
      .list-row {
        border: solid 1px #e4e7e9;
        border-bottom: 0;
        display: flex;
        padding: 0px;
        .list-col {
          width: 100%;
          padding: 15px 0px;
          &.tech-col {
            background-color: #f5fafd;
            border-right: solid 1px #e4e7e9;
            width: 120px;
            img {
              border-radius: 50%;
              max-width: 100px;
              -o-object-fit: cover;
              object-fit: cover;
              height: 40px;
              width: 40px;
            }
            .tech-head {
              color: #5e6980;
              font-family: 'Roboto-Medium';
              font-size: 12px;
              padding: 4px 5px;
              max-width: 110px;
              &.empty {
                padding-top: 5px;
              }
            }
          }
          &.tech-item {
            background-color: #ffffff;
            display: flex;
            padding: 13px 15px;
            .item {
              .card-item {
                border: solid 1px #e4e7e9;
                border-left: solid 4px;
                border-radius: 0px 10px 10px 0px;
                margin-right: 20px;
                padding: 5px 10px;
                height: 95px;
                width: 220px;
                .item-row {
                  display: flex;
                  &.item-row-1 {
                    .shop {
                      width: 100%;
                    }
                    .actions {
                      display: flex;
                      float: right;
                      width: 90px;
                      .edit, .map-icon {
                        margin-right: 3px;
                        visibility: hidden;                    
                        height: 21px;
                        width: 21px;
                      }
                      .edit, .map-icon, .notes {
                        svg {
                          height: 21px;
                          width: 21px;
                        }
                      }
                      &.empty-note {
                        width: 50px;
                        margin-right: 0px;
                        .map-icon {
                          margin-right: 0px;
                        }
                      }
                    }
                  }
                  &.item-row-2, &.item-row-3 {
                    height: 21px;
                  }
                  &.item-row-3 {
                    width: 200px;
                    .title-2, .title-2 .truncate {
                      width: 100%;
                    }
                  }
                  &.item-row-4 {
                    .service-status {
                      width: 100%;
                      .item-status {
                        position: relative;
                        padding: 0;
                        text-align: left;
                        width: 100%;
                      }
                    }
                  }
                }
                &:hover {
                  .item-row {
                    &.item-row-1 {
                      .actions {
                        .edit, .map-icon {
                            visibility: visible;
                        }
                      }
                    }
                  }
                }
              }
            }
            .empty-card-body {
              width: 100%;
              .empty-card {
                img {
                  width: 30px;
                }
                span {
                  padding-left: 10px;
                }
              }
            }
          }
        }   
        .tech-actions {
          background-color: #f5fafd;
          border-left: solid 1px #ebeef0;
          display: none;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 35px;
          z-index: 100;
          .map-icon {
            display: block;
            position: relative;
            top: 36px;
          }
        } 
      }
      &:hover {
        .list-row {
          .tech-actions {
            display: block;
          }
        }
      }
      &:first-child {
        .list-row {
          border-radius: 16px 16px 0px 0px;
          .tech-col {
            border-radius: 16px 0px 0px 0px;
          }
          .tech-item {
            border-radius: 0px 16px 0px 0px;          
          }
          .tech-actions {
            border-radius: 0px 16px 0px 0px;
          }
        }    
      }
      &.tech-row-last {
        border: soldi 1px red;
        .list-row {
          border: solid 1px #e4e7e9;
          border-radius: 0px 0px 16px 16px;
          .tech-col {
            border-radius: 0px 0px 0px 16px;
          }
          .tech-item {
            border-radius: 0px 0px 16px 0px;          
          }
          .tech-actions {
            border-radius: 0px 0px 16px 0px;
          }
        }
        &.empty-tech {
          height: 100%;
          .list-row {
            height: 100%;
            .tech-col {
              align-items: center;
              display: flex;
              justify-content: center;
              height: 100%;
            }
            .tech-item {
              border-radius: 0px 16px 16px 0px;
            }
          }
        }
      }
    }
    &.empty {
      position: inherit;
    }
  }
  .na-list {
    padding-top: 10px;
  }
  .tech-na {
    width: 320px;
    position: absolute;
    right: 0;
    top: 62px;
    //transition: all 0.5s;
    .panel-arrow {
      background: url('../../../../assets/images/common/na-panel-arrow.png') no-repeat 10px center #3c424d;
      border-radius: 20px 0px 0px 20px;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 10px;
      left: 0px;    
    }
    &.na-expand {
      transition: all 0.5s;
    }
    &.na-collapse {
      width: 30px;
      .panel-arrow {
        background-position: 6px center;
        border-radius: 0px 20px 20px 0px;
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
  
  .rounded-icons {
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 3px;
    font-size: 12px;
    float: right;
    color: coral;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
      border-left-color: inherit;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-list.cdk-drop-list-dragging .div-card-body, .example-list.cdk-drop-list-dragging .item {
    border-radius: 2px 2px 0px 0px;
  }
  .example-list.cdk-drop-list-dragging .div-card-body .card-div, .example-list.cdk-drop-list-dragging .item .card-item {
    border-radius: 2px 2px 0px 0px;
  }
  
  .rounded-circle {
    display: block;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
  }
  
  .head-col {
    display: table-cell;
    padding: 10px 0px;
    padding-left: 10px;
    vertical-align: middle;
    /*cursor: pointer;*/
    cursor: default;
  }
  
  .new {
    background-color: #f56c22;
  }
  
  .status-wait-on-call {
    background-color: #9d73ff;
  }
  
  .status-call-enroute {
    background-color: #33a8de;
  }
  
  .outlined-btn {
    // width: 94px;
    height: 20px;
    font-size: 10px;
    border: 1px dashed !important;
    color: #fff600 !important;
    padding: 5px;
  }
  
  .svg-service {
    width: 17px;
    height: 15px;
    margin: 0 4px 0 0;
    object-fit: contain;
    color: #fff;
    background: transparent;
  }
  
  ::ng-deep {
    body .p-sidebar .p-sidebar-content .action-form .service-form-fields{
      height: calc(100vh - 193px);
    }
    .sidebar-cont {
      .p-sidebar-right {
        width: 22rem;
      }
    }
    .fill-999 {
      g path {
        fill: #999;
      }
    }
    .gm-ui-hover-effect {
      opacity: 1;
    }
    .gm-style-iw.gm-style-iw-c {
      button.gm-ui-hover-effect {
        span {
          background: url('../../../../assets/images/dispatch/map/map-close-icon.png') no-repeat;
          mask-image: url('../../../../assets/images/dispatch/map/map-close-icon.png') !important;
        }
      }
    }
  }
   
  ::ng-deep{
  body.view-modal-popup-manage {
    //z-index: 10000;    
    
    
    //::ng-deep .p-dialog {  
      /*.p-dialog-content {
        // padding: 1rem 1.5rem 2rem 1.5rem !important;
        font-size: 14px !important;
      }*/
  
      .p-dropdown,
      .p-multiselect {
        width: 100% !important;
        /*height: 41px !important;*/
        background-color: #fbfbfb;
        border: solid 1px #dbddde;
        border-radius: 6px;
  
        .p-placeholder {
          color: #b5b5b5 !important;
        }
        .p-dropdown-panel {
          .p-dropdown-items-wrapper {
            max-height: 210px !important;
            max-width: 100% !important;
          }
        }
      }

      p-multiselect,
      p-dropdown,
      input{
        &.width-100{
          width: 100%;
          display: block;
        }
        &.is-invalid{
          border: solid 1px #dc3545 !important;
          border-radius: 6px;         
        } 
      }

      p-dropdown {
        &.mvisible {
          .p-dropdown {
            &.p-disabled {
              opacity: 1;
            }
          }
        }
      }
      
      .label-head-row-1{
        margin-top: 0; 
        width: 100%;
        svg{
            display: inline-block;
            path {
                fill: #000000;
              }
        }
        span{
            padding-left: 10px;
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 16px;
            color: #000000;
            &.req-text{
                font-family: Roboto-Regular;
                font-style: italic;
                font-size: 14px;
                color: #b2b2b2 !important;                        
            }
            &.text-count{
                color: #000000;  
            }
        }
        
    }
      .input-text-row{
        display: block; 
        width: 100%;
        &.border-set{
          .inputbox{
            border: solid 1px #d8d8d8  !important; 
          }
        }
        .inputbox{
            
            &.ng-invalid{
              border: solid 1px #d8d8d8  !important; 
              &.is-invalid{
                border: 1px solid #dc3545 !important;
              } 
            }
            &.ng-valid{
              border: 1px solid #d8d8d8 !important;
            }
            background-color: #ffffff;
            
            font-family: 'Roboto-Regular';    
            border: 0 none;
            font-size: 15px;
            color:#000000;
            padding: 9px 10px !important;
            max-width: 100%;
            width: 100%;
            border-radius: 6px;
            &::placeholder {
                color:#b5b5b5;
            }
            &.inputbox-odo{
                width: calc( 100% - 85px);
                padding: 0; 
                //position: relative;
                //top: -2px;                       
            } 
            &.inputbox-odo-red{
                border: 1px solid #dc3545 !important;          
            }   
                                            
        } 

          

        .p-dropdown{
            background-color: #ffffff;
            font-family: 'Roboto-Regular';    
            border: 0 none;
            font-size: 15px;
            color:#000000;
            padding: 9px 10px;
            max-width: 100%;                           
            border-radius: 6px;
            padding: 0 !important;
            &:focus{
                box-shadow: none !important;
                outline: none !important;
            } 
            &.ng-invalid{
              border: solid 1px #d8d8d8  !important; 
              &.is-invalid{
                border: 1px solid #dc3545 !important;
              } 
            }           
        }
        .p-dropdown-label{
            font-family: 'Roboto-Regular';  
            font-size: 15px;
            color:#000000;                    
            padding: 10px 0 7px 10px;
        }
        .p-dropdown .p-dropdown-label.p-placeholder{
            color:#b5b5b5 !important;
        }
        .p-dropdown-servicetype{
            .p-dropdown{
                border: 1px solid #d8d8d8 !important;   
                width: 100%;
            }
        }
        .p-dropdown-meter{                      
            .p-dropdown{
                width: 80px !important;    
                max-width: 80px !important;    
                padding: 1px 0 0 0 !important;                        
                border: 1px solid #d8d8d8 !important;                        
                position: relative;
                top: 0;    
                left: 3px;                   
                &::placeholder {
                    color:#b5b5b5;
                }
            }
        } 
        .p-dropdown-tech{                    
            .p-dropdown{
                width: calc( 100% - 185px);                        
                box-shadow: 0 0 6px 0 rgba(70, 144, 115, 0.3);
                border: solid 1px #469073 !important;                       
                &::placeholder {
                    color:#b5b5b5;
                }
            }
        } 
        .p-dropdown:not(.p-disabled).p-focus{
            box-shadow: none !important;
                outline: none !important;
        }
                        
    }
    .service-form-error-row{
      font-family: Roboto-Regular;
      font-style: italic;
      font-size: 13px;
      color: #dc3545;
      margin: -20px 0 0 0;
      position: relative;
      top: 20px;
    }
    ckeditor{
      margin: 10px 0 0 0;
      padding: 0;
      display: block;
      width: 100%;
      overflow: hidden;
      border: 1px solid #dbddde;
      border-radius: 1px;
      /*box-shadow: 0 0 6px 0 rgba(70, 144, 115, 0.3);*/
      &.editor-desc-red{
          border: 1px solid #dc3545 !important;          
      }
   }
   .ck .ck-placeholder:before{
      color:#b5b5b5 !important;
   }
   .ck.ck-editor__main > .ck-editor__editable {
      min-height: 150px !important;
      border-bottom-right-radius: 1px !important;
      border-bottom-left-radius: 1px !important;
      border-left: none;
      border-right: none;
      border-bottom: none;
      width: 100%;
      overflow: auto;
      word-break: break-word;
      font-family: 'Roboto-Regular';    
      font-size: 15px;
      color:#000000; 
  }
      
  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
      border-top-left-radius: 1px !important;
      border-top-right-radius: 1px !important;
  }  
    .attach-row-rt{        
      display: inline-block;    
      margin: 0 0 0 10px;       
      svg{
          display: inline-block;
          path {
              fill: #b2b2b2;
            }
      }
      span{
        border: solid 1px #a5a5a5;
        padding: 5px;
        border-radius: 6px;
        display: flex;
        align-items: center;               
        justify-content: center;
         &.attach-text{
          position: relative;
          top:3px;
          svg{
              display: inline-block;
              path {
                  fill: #444444;
                }
          }
         }
          &.attach-count{
              line-height: normal;                
              padding: 0;
              display: flex;
              align-items: center;               
              justify-content: center;
              background-color: #444444;
              border: solid 1px #444444;
              width: 22px;
              height: 23px;                
              font-family: Roboto-Regular;
              font-size: 16px;
              color: #ffffff;
              border-radius: 50%;
              margin-left: 10px;
          }
          
      }
      
  }
  
      .p-inputtext {
        width: 100% !important;
        color: #000 !important;
        &.vin-input {
          border-radius: 3px 3px 0px 0px;
          width: 95% !important;
        }
        &:focus, &:hover {
          border: solid 1px #dbddde;
          box-shadow: none;
        }
      }
  
      .p-dropdown-label {
        &:focus, &:hover {
          border: 0 none;
        }
      }
  
      .p-dialog-header .p-dialog-title {
        font-size: 14px !important;
      }
  
      .p-inputtextarea-resizable {
        height: auto !important;
        color: #000 !important;
      }
    
      .p-dropdown-trigger-icon {
        color: #d1d1d1 !important;
        width: 14px !important;
        height: 10px !important;
      }
  
      .p-dropdown-label,
      .p-multiselect-label,
      .p-multiselect-item,
      .p-dropdown-item {
        font-size: 14px !important;
        color: #000 !important;
        position: relative;
        .option-item {
          .edit {
            display: none;
            position: absolute;
            right: 15px;
          }        
        }
        &:hover {
          .option-item {
            .edit {
              display: inline-block;
            }
          }
        }
      }
  
      .p-checkbox-label {
        color: #000 !important;
        margin-bottom: 0.25rem;
      }
  
      .p-button-label {
        font-size: 15px;
        font-weight: 500;
      }
  
      .p-dialog-header-close-icon {
        color: #c4cbdb;
      }
    //}
    
 }
}

  .vin-check-btn {
    background-color: #dbddde;
    border: solid 1px #dbddde;
    padding: 9px 0px;
  }
  
  .vin-btn {
    border-radius: 6px;
    height: 43px;
    width: 43px;
    padding: 11px 10px 11px 11px;
    width: 43px;
    height: 43px;
    border: solid 1px #bac2e9;
    background-color: #eaedfa;
  }
  
  .range-text {
    color: #b5b5b5;
  }
  
  .input-bg {
    background-color: #fbfbfb;
    border: solid 1px #dbddde;
    border-radius: 6px;
  }
  
  ::placeholder {
    color: #b5b5b5 !important;
  }
  
  .icons-size {
    width: 20px;
    height: 20px;
    &.mail {
      width: 18px;
      height: 13px;
    }
  }
  
  .new-ro-icon {
    svg{
      display: inline-block;
      path {
        fill: #b2b2b2;
      }
    }  
  }
  .new-request-icon {
    fill: #b2b2b2;
  }

  .p-input-icon-left {
    input::-webkit-input-placeholder {
      font-size: 13px;
      color: #7d7d7d;
    }
  }
  
  .request-details {
    ::ng-deep .p-dialog .p-dialog-content {
      padding: 0 !important;
    }
  
    /* .p-dialog .p-dialog-content {
      padding: 0 !important;
    } */
    .row {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .request-details-icon {
      fill: #df7b79;
    }
  
    .details-text {
      margin-left: 1.5rem !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
  
      span {
        color: #000000;
        line-height: 2.14;
        font-size: 14px;
      }
    }
  
    ::ng-deep .pill-color {
      background: #62779f !important;
      margin-bottom: 10px;
      padding: 5px 10px;
      .p-tag-value {
        font-size: 14px;
        font-weight: normal;
        position: relative;
        top: -1px;      
      }
    }
    ::ng-deep .status-pill {
      background: transparent !important;
      padding: 1px 10px 3px;
      .p-tag-value {
        font-size: 13px;
      }
    }
  }
  
  .time-dd {
    margin-right: 5px;
    width: 25%;
  }
  
  .time-zone {
    margin-right: 5px;
  }
  
  /* p-checkbox .p-checkbox-box .p-highlight {
    border-color: #469073 !important;
    background: #469073 !important;
  } */
  
  #anyTime_checkbox, #parkingLot_checkbox {
    ::ng-deep .p-checkbox {
      .p-highlight {
        border-color: #469073 !important;
        background: #469073 !important;
      }
  
      :hover {
        border-color: #469073 !important;
      }
    }
  }

  
  input::placeholder {
    font-size: 13px;
    color: #7d7d7d;
  }
  
  .map-input {
    background-color: #f1f4fb;
    font-size: 14px;
  }
    
  .vertical-align-middle {
    overflow: hidden;
    vertical-align: middle;
  }
  .icon-color {
    color: #469073!important;
  }
  .display-none {
    display: none!important;
  }
  .cross-icon {
    position: absolute;
    right: 20px;
  }
  .new-cross-icon {
    position: absolute;
    right: 30px;
  }
  .new-add-icon-position {
    position: absolute;
    right: 60px;
  }
  .text-color-white {
    color: #fff!important;
  }
  .split-col {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    &.catg-col {
      width: 96%;
    }
    &.act-col-80 {
      width: 80%;
      &.act-col-cont-80 {
        width: calc(100% - 220px);
      }
    }
    &.act-col {
      &.act-col-20 {
        width: 20%;
        &.act-col-btn-20 {
          width: 200px;
        }
        .vin-btn {
          position: relative;
          left: 5px;
          width: 100%;
          &.recent-vin {
            width: 95%;
          }
          .p-button-label {
            margin-left: -20px;
          }
        }
      }
      width: 4%;
      .vin-btn {
        background-color: #e5efeb;
        border: solid 1px #469073;
        color: #469073;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        padding: 12px;
      }
    }
  }
  
  ::ng-deep .ck.ck-editor__main>.ck-editor__editable {
    height: 180px;
  }
  
  .card-item-active {
    .card-div, .dropdown-div {
      background-color: #fcc1c1;
      transition: 10s background-color;
    }
  }
  
  .card-item {
    &.card-item-active {
      background-color: #fcc1c1;
      transition: 10s background-color;
    }
  }  
  
  :host ::ng-deep .p-button.p-button-danger, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button,
  .p-button.p-button-danger:enabled:hover, .p-buttonset.p-button-danger > .p-button:enabled:hover, .p-splitbutton.p-button-danger > .p-button:enabled:hover {
    background: #469073;
    border: 1px solid #469073;
  }
  
  :host ::ng-deep .p-button.vin-danger, .p-splitbutton.vin-danger > .p-button,
  .p-button.vinn-danger:enabled:hover, .p-splitbutton.vin-danger > .p-button:enabled:hover {
    background: #469073;
    border: 1px solid #469073;
    padding: 9px 0px;
  }
  
  /******** Empty Dispatch Styles **************/  
  ::ng-deep {
    .visible-hide{
      visibility: hidden;
    }
    .vin-btn {
      .pi-plus {
        padding-left: 10px;
      }
      .p-button-label {
        margin-left: -15px;
      }
    }
    .recent-vin {
      img {
        position: relative;
        left: 18px;
        width: 20px;
      }
      .p-button-label {
        margin-left: 0px;
      }
    }
  }
  .estimation-head-div{
    background-color: #818489;
    border-radius: 6px;        
    padding: 7px 0 7px 12px;
    display: block;
    margin: 10px 0 20px 0 !important;
    span{
        font-family: 'Roboto-Medium';
        font-size: 14px;
        color:#fbfbfb;
        position: relative;
        top:0;
        padding-left: 10px;
    }
    img{
        position: relative;
        top:0;
    }
}

.documents-grid-row-new {
  &.customers-empty {
    background: #fff !important;
    border-radius: 0;
    border-top: solid 1px #ededed;
    position: relative;
  }
}
::ng-deep {
  body.view-modal-popup-manage{
    .modal:nth-of-type(1) {
      z-index: 1040 !important;
    }
    .modal-backdrop.show:nth-of-type(1) {
      z-index: 1039 !important;
    }
   &.modal-open .modal.attachment-modal{
      z-index: 10000 !important;
    }
  }
  
  body .p-sidebar .p-sidebar-content .action-form .service-form-row .action-buttons button.button-save{
    border: 1px solid #469073;
    background-color: #469073;
    padding: 8px 22px 8px 22px;
    left: 0;
  }
  
  body .p-sidebar .p-sidebar-content .action-form{
    .p-dropdown,
    .p-multiselect {
      width: 100%;
    }
    .p-dropdown .p-dropdown-label.p-placeholder{
      color: #c5c5c5;
    }
  }
  .p-sidebar .p-sidebar-content .action-form .service-form-row .label .split-col{
    width: auto;
  }
  .view-ro-detail,
  .form-type-fields{
    .p-button:focus,
    .p-button:hover{
      box-shadow: none !important;
      border: 1px solid #469073 !important;
    }
    .form-control:focus,
    .p-inputtext:enabled:focus,
    .p-inputtext:enabled:hover,
    .p-dropdown:not(.p-disabled).p-focus,
    .p-dropdown:not(.p-disabled):hover,
    .p-multiselect:not(.p-disabled).p-focus,
    .p-multiselect:not(.p-disabled):hover {
      box-shadow: none !important;
      outline: none !important;
      border: 1px solid #dbddde !important;    
    }
    .iti__country-list{
      white-space: normal;
      max-height: 200px;
      width: 280px;
    }
    .iti__country-name{
        font-size: 14px;
        font-family: 'Roboto-Regular';
    }
  }

  body .p-sidebar .p-sidebar-content .action-form .service-form-row .field input{
    font-family: "Roboto-Regular";
    font-size: 14px;
  }
  .p-dropdown-label,
  .p-multiselect-label {
    color: #6c717c;
    font-family: "Roboto-Regular";
    font-size: 14px;
  }
}
.post-loader-svg {
    background-image: url("../../../../assets/images/landing-page/loading-more.svg");
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 41px;
    height: 32px;       
}
.signuperror-row{
  font-family: "Roboto-Regular";
  font-style: italic;
  font-size: 13px;
  color: #dc3545;
  margin: 0;
  position: relative;
  top: 0;
}
 