.email-continue-text{
    font-family: 'Roboto-Regular';
    color:#c3b97a;
    font-size:16px;  
    display: block;
    margin-top: 30px;
    margin-bottom: -20px;
}
.action-button{
    margin-bottom: 0 !important;
}
.tvs-blue-bg{
    font-family: 'Roboto-Regular';
    color:#b0c2e6;
    font-size:14px;  
    display: block;
    border-radius: 8px;
    padding: 10px;
    border: solid 1px #2e4873;
    background-color: #253554;
    margin-top: 30px;
    &.bgdealer{
        margin:20px 0 20px 0;
    }
}
.input-group-col-new{
    display: inline-block;
    width: 100%;    
    .input-group-col1{        
        width: 48%;
        float: left;
    }
    .input-group-col2{        
        width: 48%;
        float: right;
    }
    .inputtext{
       width:calc(100% - 63px);
    }   
}
.line-row-new{
    border-top: 1px solid #3c3a46;
    clear: both;
    margin:20px 0 5px 0;
    padding:0;
}
.line-row{
    &.no-line-row{
        border:none;
        margin:0;
        padding:0;
    }
}
.input-group{
    &.marginTop25{
        margin-top:20px !important;
    }
}
.errormb10{
    margin-bottom: -10px !important;
}
.mtop20{
    margin-top: 20px !important;
}
.c-img{
    position: relative;
    top: -1px;
}
.setOpacity3{
    .cursor{
        cursor: default !important;
    }
}
    
