.header-row {
    margin: 0 auto;
    display: block;
    padding: 18px 16px;
}
.new-text {
    font-family: Roboto-Bold;
    color: #298368;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

.franchies-box {
    gap: 10px;
    flex-wrap: wrap;
    .franchies-box-data {
        padding: 3px 10px 3px 10px;
        border-radius: 12px;
        background-color: #777;

        span {
            font-size: 12px;
            font-family: Roboto-Regular;
            color: #fff;
        }
    }
}
.toolImg1 {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

::ng-deep .note .p-inputtext:enabled:hover {
    border-bottom: 2px solid #b8b8b8 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.add-note {
    color: #469073;
    font-family: Roboto-Regular;
    font-size: 14px;
    cursor: pointer;
}

input:focus{
    outline: none;
}

.disabled {
    opacity: 0.3;
    cursor: default !important;
}

.img-disabled {
    opacity: 0.3;
}

.prob-new .new-pro-cont .form-cont .form-horizontal .form-items {
    padding-top: 20px !important;
}

.btn.publish {
    color: rgba(255, 255, 255, 0.6) !important;
    background-color: #7e8084 !important;
}

.btn.draft {
    img {
        width: 15px !important;
        height: 15px !important;
    }
}
.field-label {
    .label-col.part-label.wft-bg {
        background-image: url("../../../../assets/images/audit-insecption/type.png");
    }
    .label-col.part-label.title-bg {
        background-image: url("../../../../assets/images/audit-insecption/title.png");
    }
    .label-col.part-label.info-bg {
        background-image: url("../../../../assets/images/audit-insecption/info.png");
    }
    .label-col.part-label.tag-bg {
        background-image: url("../../../../assets/images/audit-insecption/tag.png");
    }
    .label-col.part-label.customer-bg {
        background-image: url("../../../../assets/images/audit-insecption/shop-his.png");
    }
    .label-col.part-label.section-bg {
        background-image: url("../../../../assets/images/audit-insecption/selection.png");
    }
    .label-col.part-label.network-bg {
        background-image: url("../../../../assets/images/audit-insecption/network.png");
    }
}

.mb-23 {
    margin-bottom: 16px;
}


.mb-28 {
    margin-bottom: 16px;
}

.prob-upload-new {
    padding: 32px 10px !important;
}
.inspection {
    font-size: 15px;
    font-family: Roboto-Regular;
    color: #469073;
}

.section-box-bordered {
   
    border-radius: 10px;
        border: 1px solid  #e0e0e0;
    padding: 15px 16px 0px 11px;
    height: 540px;

    .section-training {
        // background-image: url(../../../../assets/images/audit-insecption/question.png);
        // background-position: center center;
        // background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        min-width: 45px;
        border-radius: 8px;
        background-color: #e5efeb;
        overflow: hidden;
        min-height: 45px;

    }

    .sec-rgt {
        margin-left: 13px;
        border-bottom: 1px solid #edf0f2;
        margin-bottom: 14px;
        padding-bottom: 14px;


    }
    .training-heading {
        font-size: 14px;
        font-family: Roboto-Regular;
    }
   
   
    .training-count {
        font-size: 20px;
        font-family: Roboto-Regular;
        color: #469073;
    }
    .link {
        color: #0044cc;
        font-size: 14px;
        font-family: Roboto-Regular;
        text-decoration: underline;
        cursor: pointer;
    }
    .add-notes {
        color: #469073;
    }
}



.section-box {
   
    // border-radius: 10px;
    // padding: 15px 16px 19px 11px;

    .section-training {
        // background-image: url(../../../../assets/images/audit-insecption/question.png);
        // background-position: center center;
        // background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        min-width: 45px;
        border-radius: 8px;
        background-color: #e5efeb;
        overflow: hidden;
        margin-right: 13px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

    }

    .sec-rgt {
        margin-left: 11px;
        border-bottom: 1px solid #edf0f2;
        padding: 14px 0;

    }
    .training-heading {
        font-size: 14px;
        font-family: Roboto-Regular;
    }
   
   
    .training-count {
        font-size: 20px;
        font-family: Roboto-Regular;
        color: #469073;
    }
    .link {
        color: #0044cc;
        font-size: 14px;
        font-family: Roboto-Regular;
        text-decoration: underline;
        cursor: pointer;
    }
    .add-notes {
        color: #469073;
    }
}

.que {
    color: #777777;
    font-size: 14px;
    font-family: Roboto-Regular;
}

.search-input {
    border: solid 1px #e8e7e7;
    background-color: #fff;
    height: 34px;
    border-radius: 16px;
    padding-left: 2.375rem;
}
.search-icon {
    position: absolute;
    left: 13px;
    display: inline-block;
    top: 5px;
}

::placeholder {
    font-size: 16px;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}
.selection {
    border: solid 1px #469073;
    padding: 12px 1px 13px;
    background-color: #e5efeb;
    color: #469073;
    font-size: 15px;
    font-family: Roboto-Regular;
    height: 43px;
}

.select-box {
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    height: 220px;
}
.select-img {
    background-image: url("../../../../assets/images/audit-insecption/light-question.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 1px #dcdcdc;
    border-radius: 50%;
    padding: 31px 28px;
    width: 89px;
    height: 89px;
    cursor: pointer;
}

.btn.publish-disabled {
    color: rgba(255, 255, 255, 0.6) !important;
    background-color: #7e8084 !important;
}  

.btn.btn.publish {
    color: white !important;
    background-color: #298368 !important;
}   

.btn.draft {
    img {
        width: 15px !important;
        height: 15px !important;
    }
}

.image-box {
    width: 104px;
    height: 104px;
    border-radius: 6px;
    border: solid 1px #dbddde;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 1px;
    }
}
.action-box {
    z-index: 9999;
    bottom: 16px;
    right: 15px;
    gap: 3px;
}
.action-upload {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}
.edit {
    background-image: url("../../../../assets/images/inspection-home/edit.png");
    background-size: 16px 16px;
}
.delete {
    background-image: url("../../../../assets/images/inspection-home/delete.png");
    background-size: 11px 16px;
}

::ng-deep{
    .p-focus{
        box-shadow: none;
    }

    .p-dropdown:not(.p-disabled).p-focus{
        box-shadow: none;
    }

    .p-inputtext:enabled:focus {
        box-shadow: none;
    }

    .no-dropdown{
        .p-dropdown-panel{
            display: none !important;  
        }
    }
    .input-error {
        .required-txt {
            color: #f44336 !important;
        }
        .input-filed {
            input {
                border-color: #f44336 !important ;
            }
    
            textarea {
                border-color: #f44336 !important ;
            }
        }
        .p-component {
            border-color: #f44336 !important ;
        }
        
        .input-div{
            border-color: #f44336 !important;;
        }
    }
}