<div [style.height.px]="innerHeight" *ngIf="loading">
    <div class="loading-small-screen-scroll trst" align="center">
        <img src="assets/images/landing-page/loading-more.svg" alt="Loader" />
    </div>
</div>
<div *ngIf="lazyLoading && !listLoading" class="cust-loader esc-loader lazy-loader cust-lazy-loader part-list-lazy-loader"></div>
<div *ngIf="!loading" class="audit-header row col-lg-12">
    <div class="ah-col ah-col-1" >
        <div class="text-thread-title" >
            <span class="head-icon">
                <img src="assets/images/common/customer-head-icon.png" />
            </span>
            <span class="head-icon cursor">
                <img src="{{backImage}}" />
            </span>
            <span style="vertical-align:middle">{{headTitle}}</span>
        </div>
    </div>
    <div class="col-lg-9 ah-col ah-col-2 text-right">
       
    </div>
</div>

<div [style.height.px]="innerHeight" *ngIf="listLoading">
    <div class="loading-small-screen-scroll trst" align="center">
        <img src="assets/images/landing-page/loading-more.svg" alt="Loader" />
    </div>
</div>

<div *ngIf="!loading && !listLoading" class="documents-grid-row documents-grid-row-new audit-shop-list-container" [style.height.px]="innerHeight">
    <div id="matrixTable" class="gts-mat-table matrix-table parts-mat-table parts-mat-table-fs" [ngClass]="{'parts-empty-table': displayNoRecords}">
        <p-table #table [columns]="customerListColumns" id="file-datatable" class="file-datatable cthread-list-table shop-list-table"
        [scrollable]="true" [totalRecords]="customerListData.length" [ngClass]="{'hide': displayNoRecords}" 
            [value]="customerListData" [scrollHeight]="'calc(100vh - '+cscrollHeight+'px)'" (scroll)="scroll($event)">
            <ng-template pTemplate="header" let-columns>
                <tr *ngIf="!displayNoRecords">
                    <th *ngFor="let col of columns" class="{{col.columnpclass}}">  
                        <span *ngIf="col.field != 'auditChecks' && col.field != 'auditStatus'">{{col.header}}</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customerListData let-i="rowIndex">
                <tr class="cursor">
                    <td class="w1 cthl-col-1 thl-col-1 col-sticky">
                        <div class="p-table-col"><span class="">{{customerListData.id}}</span></div>
                    </td>
                    <td class="w2 cthl-col-2 thl-col-2">
                        <div class="p-table-col">
                            <div class="p-table-col" title="{{customerListData.name}}"><span class="">{{customerListData.name}}</span></div>        
                        </div>                            
                    </td>
                    <td class="w3 cthl-col-3 thl-col-3">
                        <div class="p-table-col"><span class="" title="{{customerListData.email}}">{{customerListData.email}}</span></div>
                    </td>
                    <td class="w4 cthl-col-4 thl-col-4">
                        <div class="p-table-col"><span class="" title="{{customerListData.city}}">{{customerListData.city}}</span></div>
                    </td>
                    <td class="w5 cthl-col-5 thl-col-5">
                        <div class="p-table-col"><span class="" title="{{customerListData.state}}">{{customerListData.state}}</span></div>
                    </td>
                    <td class="w6 cthl-col-6 thl-col-6">
                        <div class="p-table-col" [ngClass]="{'cursor action-link': customerListData.ticketCount > 0}">
                            <span *ngIf="customerListData.ticketCount > 0" title="{{customerListData.ticketCount}}">{{customerListData.ticketCount}}</span>
                            <span *ngIf="customerListData.ticketCount == 0">-</span>
                        </div>
                    </td>
                    <td class="w7 cthl-col-7 thl-col-7">
                        <div class="p-table-col" [ngClass]="{'cursor action-link': customerListData.techCount > 0}">
                            <span *ngIf="customerListData.techCount > 0" title="{{customerListData.techCount}}">{{customerListData.techCount}}</span>
                            <span *ngIf="customerListData.techCount == 0">-</span>
                        </div>
                    </td>
                </tr>
                
            </ng-template>
        </p-table>
        <div *ngIf="displayNoRecords" class="emplty-container" [style.height.px]="'calc(100vh - 185px)'">            
            <div class="empty-cont text-center">
                <div class="parts-thumb-view no-item-list-new ">
                    <div class="itm-empty-container" style="left: 50%;">
                        <img src="assets/images/no-result-media.png" alt="no-result-media" width="112" height="102">
                        <p class="item-empty-para empty-res padd-top-20">No result found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

