::ng-deep app-action-button {
  button {
    font-size: 15px !important;
    font-weight: 500 !important;
    &.p-button-success {
      color: #45ac5b;
      .p-button-icon {
        background: #45ac5b;
        border-radius: 50%;
        padding: 0.2rem;
        color: #ffffff;
      }
      &.active {
        color: #ffffff !important;
        background-color: #45ac5b !important;
        .p-button-icon {
          background: #ffffff;
          border-radius: 50%;
          padding: 0.2rem;
          color: #45ac5b;
        }
      }
    }
    &.p-button-danger {
      color: #ff0200;
      .p-button-icon {
        background: #ff0200;
        border-radius: 50%;
        padding: 0.2rem;
        color: white;
      }
      &.active {
        color: #ffffff !important;
        background-color: #ff0200 !important;
        .p-button-icon {
          background: #ffffff;
          border-radius: 50%;
          padding: 0.2rem;
          color: #ff0200;
        }
      }
    }
    &.p-button-warning {
      color: #fa972d;
      .p-button-icon {
        background: #fa972d;
        border-radius: 50%;
        padding: 0.2rem;
        color: white;
      }
      &.active {
        color: #ffffff !important;
        background-color: #fa972d !important;
        .p-button-icon {
          background: #ffffff;
          border-radius: 50%;
          padding: 0.2rem;
          color: #fa972d;
        }
      }
    }
    &.p-button-secondary {
      &.active {
        background-color: #607d8b !important;
      }
    }
  }
  p-button {
    background: none !important;
    border: none !important;
  }

  .disabled {
    color: #cfcfcf !important;
  }
}
