.header-row {
    margin: 0 auto;
    display: block;   
    padding: 18px 16px;
}
.edit-text {    
    font-family: Roboto-Bold;
    color: var(--ID10);
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    padding-right: 15px;
    .red-text{
        color: var(--ID14);
    }    
}
.new-text {   
    font-family: Roboto-Bold;
    color: var(--ID130);
    font-size: 18px;
    text-align: center;
    font-weight: normal;    
}
.green .new-text {
    color: var(--ID81);
}
.green .edit-text {
    .red-text{
        color: var(--ID81);
    }    
}