.media-details {
background: #fff;
height: 100%;
margin-left: 14px;
padding: 5px 0px 0px 10px;
}

.media-collapse-arrows {
    background: #fff;
    border-radius: 50%;
    padding: 2px 6px 4px;
    position: absolute;
    margin: 12px 0px 0px 0px;
}
.titles{
    margin: 12px 5px 13px 4px;
    font-family: Roboto-Medium;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.description{
    font-family: 'Roboto-Regular';
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 18px 13px 25px 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.line {
    width: 230px;
    height: 1px;
    margin: 21px 9px -13px 8px;
    background-color: #e9e9e9;
}
.space{
    margin: 13px 0px 0px 0px;
}