.page-load-rt{
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    width: 480px;
    height: 500px;
    background-color: #ffffff;
    &.page-load-rt-new-setup{
      padding: 30px 0 0 30px;      
      width: calc(100% - 539px);
      height: 100%;
      .title-text {
        padding:5px 0 15px 0 !important;
      }
    }
    .title-text {
      font-family: "Roboto-Medium";
      font-size: 30px;
      font-style: normal;
      text-align: left;
      color: #45404b;
      padding-top: 30px;
      line-height: 36px;
    }
    .desc-text {
      font-family: "Roboto-Regular";
      font-size: 15px;
      font-style: normal;
      text-align: left;
      color: #45404b;
      p {
        margin: 0;
        padding: 15px 0 0 0;
      }
    }
    .head-text-small{
      font-family: "Roboto-Regular";
      font-size: 16px;
      text-align: left;
      color: #000000;
      padding-bottom: 15px;
      p{
          padding: 0;
          margin:0;
      }
    }
    .head-text-blue{
        font-family: "Roboto-Medium";
        font-size: 18px;      
        color: #6166ae;
        padding-bottom: 10px;
    }
    
    .get-start-button {
      display: block;
      background-color: #e55554;
      padding-top: 10px;
      text-align: center;
      width: 165px;
      height: 44px;
      color: #ffffff;
      font-family: "Roboto-Regular";
      font-size: 16px;
      font-style: normal;
      border-radius: 9px;
      margin-top: 30px;
      img {
        &.loading {
          display: inline-block;
          width: 36px;
          height: 36px;
          position: absolute;
          margin: 4px 0 0 0;
        }
        display: inline-block;
      }
    }
  }

  .container{
    .container-row{
        width: 100%;
        display: block;
        padding: 5px 0 15px 0 ;            
        clear: both;
        .lt-col{
            display: inline-block;
            width: 25px;
            vertical-align: top;
            vertical-align: top;
            position: relative;
            top: -3px;
        }
        .rt-col{
            display: inline-block;
            width: calc(100% - 59px);
            vertical-align: top;
            .lable-text{
                font-family: "Roboto-Regular";
                font-size: 15px;                    
                color: #888888;
                &.lightcolor{
                  color: #acacac;
                }
            }
            .textarea-row{
                margin: 10px 0 0 0;
                padding: 0;                    
                width: 100%;
                display: block;
                height: 108px; 
            }
            .input-group{
                margin: 10px 0 0 0;
                padding: 0;
                background: #fbfbfb;
                width: 100%;
                display: block;
                height: 39px;                   
                border: solid 1px #dbddde;
                border-radius: 6px;
                transition: all 0.5s;
            } 
            .inputtext {
                font-family: 'Roboto-Regular';
                font-size: 14px;                    
                text-align: left;
                color: #000000;
                border: 0;
                padding: 0px 0px 0px 15px;
                margin: 0;
                height: 39px;
                width: calc(100% - 35px);
                background: transparent;
                border: none !important;
                box-shadow: none !important;
                outline: none !important;
                display: inline-block;
                position: relative;
                top: -2px;                    
                &::placeholder {
                    color: #b5b5b5;
                    font-size: 14px;
                }                    
            }
            .checkbox-div{       
                cursor: pointer; 
                font-family: 'Roboto-Regular';
                font-size: 15px;
                color:#000000;
                margin:10px 0 0 0;
                .img-set-width{
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: relative;
                    top: 0;
                    left: 0;
                    margin-right: 5px;
                    vertical-align: top;
                }
                .text-set-width{
                  display: inline-block;
                  width: calc(100% - 30px);
                  vertical-align: top;
                }
                
            }                  
        }
    }
    .action-row{
        display: block;
        margin:0;
        padding: 0;
        .action-button{
            background-color: #e55554;
            padding:6px 0 0 0;
            text-align: center;
            width: 127px;
            height: 38px;                
            border-radius: 9px; 
            margin-left: 25px;             
        }
        .btn-text{
            color: #ffffff;
            font-family: "Roboto-Medium";
            font-size: 15px;
            font-style: normal;
        }
        .action-img{
            position: relative;
            top: -2px;
        }
    }
}

  .cust-loader-new{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 560px;
    text-align: center;
    img{
        width: 50px;
        height: 50px;
    }
  }
  .deactive{
      opacity: .5;
      cursor: default;
  }
  .loading-svg {
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    img {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 60px;
    }
  }
  .error-div {
      display: block;
      margin:-15px 0px 5px 25px;
    .error-msg {
      font-family: "Roboto-Regular";
      font-size: 14px;
      text-align: center;
      color: #cf2020;
    }
  }
  ::ng-deep p-chips{ 
      height: 106px;
      width: 492px;   
      border: 1px solid #dbddde !important;
      background: #fbfbfb;
      border-radius: 6px;
      overflow: hidden; 
      overflow-y: auto;
      display: block;
    .p-chips{     
      .p-chips-multiple-container{
        align-items: initial !important;
        display: flex;    
        width: 492px;       
        box-shadow: none !important;
        outline: none !important;
        border: 0px solid #dbddde !important;       
        .p-chips-token{
          padding: 3px 8px 3px 6px;
          margin: 5px 5px 0 0;
          background: #fff;
          color: #495057;
          border-radius: 20px;
          border: 1px solid #dadce0;
          font-size: 13px;
          font-family: 'Roboto-Regular';
          height: 28px;
        }
        .p-chips-input-token input{
          font-size: 13px;
          font-family: 'Roboto-Regular';
          color: #495057;
          height: 28px;
        }
      }
    }    
  }
  ::ng-deep body.welcomepopup .modal-dialog .modal-content .custom-modal .modal-body{
    padding: 0 !important;
  }
  ::ng-deep body .newinviteuser p-chips{
    width: 440px !important;
    margin-left: -25px !important;
  }
  ::ng-deep body .newinviteuser p-chips .p-chips .p-chips-multiple-container{
    width: 430px !important;
  }
  .setOpacity6{
    opacity: .6;
  }

 