.tsw1 {
    width: 200px !important;
    position: sticky;
    left: 0;
  }

  .tsw2 {
    width: 220px !important;
    position: sticky;
    left: 200px;       
    padding-right: 15px !important;        
  }

  .tsw3 {
    width: 140px;
  }

  .tsw4 {
    width: 80px;
  }

  .tsw5 {
    width: 200px;
  }

  .tsw6 {
    width: 170px;
  }

  .tsw7 {
    width: 170px
  }

  .tsw8 {
    width: 200px;
  }

  .tsw9 {
    width: 150px;
  }

  .tsw10 {
    width: 150px;
    position: sticky;
    right: 0;

    .status {
      border-radius: 12px;
      color: #ffffff;
      display: inline-block;
      margin: 0 auto;
      padding: 2px 0;
      text-align: center;
      width: 100px;
      font-size: 12px;
    }
  }
  ::ng-deep{
    body.parts-list .thread-list-table .p-datatable .thl-col-8.header{
        padding: 0rem 0.25rem 0rem 0.25rem !important;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
        height: 51px;
        vertical-align: center;
    }
    .parts-list .thread-page-container .thread-bg .profile-container .profileImg{
        margin-left: 0px;
    }
    body.parts-list .thread-list-table .p-datatable .thl-col-1 .thread-bg .profile-container .profile-left-container{
        width: 70px;
    }
    body.parts-list .thread-list-table .p-datatable .thl-col-1 .p-table-col .checkbox{
        top: 5px;
        margin:0px 5px 0px 0px;
    }
    .parts-list .thread-page-container .thread-bg .profile-container .availability-status{
        top: -16px;
        left: 54px;
    }
    body.parts-list .thread-list-table .p-datatable .thl-col-1 .thread-bg .profile-container .profile-right-container{
        width: calc(100% - 72px); 
    }
    .ptabletmenu + * .cdk-overlay-pane > div.mat-menu-panel > div.mat-menu-content{
        padding: 0;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th:first-child{
      padding: 0 0 6px 15px !important;
    }   
  }

  .tooltipUseDiv{
    .tooltipUseDivInner{
        &.listtt-tclist{
            margin:-15px 0 0 25px;
            width: 40px;
          }
    }
    .tooltipLeave-tclist{
      width: 60px;
      margin-left: 15px
    }
}