.prob-index-split {
    display: inline-block !important;
    width: calc(100vw - 60px);
}

::ng-deep{
    .dash-height {
        height: calc(100vh - 85px);
        overflow: auto;
        &.dash-height-ro {
            height: calc(100vh - 80px);
            overflow: hidden;
            .ps {
                &.ps--active-y {
                    .ps__rail-y {
                        display: none;
                    }
                }
            }
        }
    }
}