::ng-deep body .modal .modal-dialog .modal-content .custom-modal {
    &.modal-container{
        &.login-modal{
            .modal-header {
                background: #2d333f !important;
                color: #fff;                
                margin: 0 !important;
                height: 51px;                
                align-items: center;
                border: none;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 0 !important;
                padding: 9px 15px 9px 15px !important;
                border-top-right-radius: 0.7rem !important;
                border-top-left-radius: 0.7rem !important;
                .modal-title{
                    height: auto;
                    text-transform: capitalize;
                }
                .close-icon {
                    cursor: pointer;
                    top: 0 !important;
                }
            }
            .responsive-pimg{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .red-btn{
                    margin-top: 30px;
                    display: flex;
                }
            }
            .red-btn{
                width: 150px;
                text-align: center;
                border-radius: 16px;
                background: #de4640;
                border: 1px solid #de4640;
                padding: 5px 20px;
                cursor: pointer;
                white-space: nowrap;
                display: flex;
                justify-content: space-between;
                line-height: 22px;
                align-items: center;
                color: #fff;
                img{
                    &.img1{
                        width: 18px;
                        height: 15px;
                    }
                    &.img2{
                        width: 15px;
                        height: 18px;
                    }
                    
                }
            }
            .modal-body{
                .image-cropper-inner-div,                    
                        .center-scroll-to:hover,
                        .center-scroll-to:focus {
                            visibility: visible;
                        }
                        .center-scroll-to{
                            overflow-y: auto;
                            visibility: hidden;                       
                        }                       
                        .loading-image{
                            position: absolute;
                            width: 100%;
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                        }
                        .image-div{
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            align-items: center;                        
                        }                   
                        .image-cropper-div{                        
                            text-align: center;
                            .row{
                                margin: 10px 0 30px 0;
                                text-align: center;
                                display: table;
                                width: 100%;
                                &.crop-special-iocns-div{
                                    padding: 15px 0 15px;
                                    margin: 0 0 20px 0;
                                    border-bottom: 1px solid #d8d8d8;
                                    a{
                                        display: inline-block;
                                        margin:0 10px 0 10px;
                                    }
                                }
                            }
                            .load-image{
                                padding:0 20px 0;
                                text-align: center;
                                display: table;
                                width: 100%;
                            }                                     
                            .error-div{
                                .error-msg{
                                    font-family: Roboto-Medium;
                                    font-size: 14px;       
                                    text-align: center;
                                    color: #cf2020;
                                    margin: 10px 0;
                                    display: block;
                                }
                            }
                            .profile-preview-text{
                                font-family: Roboto-Regular;
                                font-size: 18px;
                                text-align: center;
                                color: #010101;
                                margin: 10px 0;
                                display: block;
                            }
                            .cropped-image{
                                border: 1px dashed #939393;
                                padding: 10px;
                                display: inline-block;                                                       
                            }
                        }
            }
        }
    }
}
.placeHolderText{
    font-family: Roboto-Regular;
    font-size: 14px;
    text-align: center;
    color: #a1a1a1;
    margin: 10px auto;
    display: flex;
    font-style: italic;
}