::ng-deep app-user-input {
  .heading {
    padding: 0.5rem 0;
    color: #888888;
  }

  .p-card {
    background-color: #f4f5f8;
    box-shadow: none;

    .p-card-body {
      padding: 0 1rem;
    }
  }

  .p-inputtext {
    display: block;
    width: 100%;
  }
}


.inputNumber {
  position: relative;

  .prebutton {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: #eee;
    border: 1px solid #ced4da;
  }

  .prebutton+input {
    padding-left: 70px;
    padding-right: 70px;
  }

  .afterButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
}

.uploadButton {
  width: 210px;
  height: 33px;
  margin: 13px 0 11px 511px;
  padding: 7px 23px 8px 16px;
  border-radius: 16.5px;
  background-color: #fa972d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.attachment-view-info {
  width: 100%;
  display: flex;
  border: solid 1px #dbddde;
  border-radius: 4px;

  .attachment-outer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 14px;

    .attachment-left-outer {
      display: flex;
      width: 90px;
      height: 90px;
      border-radius: 4px;
      border: 1px solid #ddd;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;


      .profile-outer {
        width: 100%;
        display: flex;
        justify-content: center;
        place-items: center;
        align-items: center;

        margin: 8px;


        .profile-outer-info {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .attachment-center-outer {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 5px 8px;

      .attachment-heading {
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        .title {
          display: flex;
          font-size: 15px;

        }

        .sub-title {
          display: flex;
          font-size: 14px;
        }
      }


      .language-button {
        width: 100%;
        justify-content: flex-start;
        padding-top: 15px;

        .English {
          padding: 3px 20px;
          border-radius: 29px;
          font-size: 13px;
          border: solid 1px #dbddde;
          background-color: #62779f;
          color: #fff;

        }
      }
    }



    .attachment-delete {
      display: flex;
      width: 50px;
      justify-content: center;
      align-items: center;
      place-items: center;


      .delete-icon {
        // width: 10px;
        // height: 13px;
        // background-color: #e65958;
      }
    }
  }
}
