<div *ngIf="loading" class="login-loader text-center"><img src="assets/images/filter/filter-loading.svg" alt="Loader" width="100" height="100" /></div>    
<div *ngIf="!loading" class="main-container"> 
    <div class="non-url-container" [style.height.px]="innerHeight">
        <div class="non-url-innercontainer">
            <div class="non-url-header"><img src="assets/images/login/collabtic-logo-blacktext.png" /></div>
            <div class="non-url-img"><img src="assets/images/login/non-domain-url.png" /></div>
            <p class="para1">We can't seem to find the url you're looking for. Try going back to login page.</p>
            <div (click)="redirectURL()" class="login-btn-div"><span class="ok-text">GO TO LOGIN PAGE</span></div>
        </div>
    </div>
</div>
