<div id="header" *ngIf="!msTeamAccess">
  <app-product-header *ngIf="!headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header>
  <app-product-header *ngIf="headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header>
</div>
<div class="left-section">
  <div class="first-left-width">
    <nav id="nav-sidebar">
      <app-marketplace-sidebar [activeMenuItem]="'market-place/manuals'" accessModule="{{bodyClass}}"></app-marketplace-sidebar>
    </nav>
  </div>
</div>
<div class="prob-index split-sec1 right-section">
<div class="prob-index split-sec1 manuals-listing">
  <div class="container-fluid">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-left: 8px; padding-top: 8px;">
      <div class="flex-align-center">
        <div class="ellipse">
          <img width="10px" height="10px" src="assets/images/service-provider/filter-icon.png" />
        </div>
        <img src="assets/images/service-provider/manual-selection.png" class="training-marketplace-manual-head">
        <span class="marketplace-text-design" style="margin-top:4px">Manuals</span>
      </div>
    </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 landing-padding0 landing-margin0">
          <div class="center-middle-width-container threads market-place-training col col-lg-12 col-md-12 col-xl-12 col-sm-12">
              <div class="center-middle-width padding-common">
                  <div class="clear"></div>
                  <div class="probing-content cbt-content part-content part-content-threads-new">
                    <div class="col col-lg-12 col-md-12 col-xl-12 col-sm-12 landing-page thread-page-container card-parent-design-new" style="margin-top: 0 !important; margin-left: 10px !important;">
                      <!--<div class="flex-align-center margin-bottom-15px">
                        <div class="ellipse">
                          <img width="10px" height="10px" src="assets/images/service-provider/filter-icon.png" />
                        </div>
                        <img src="assets/images/service-provider/manual-selection.png" class="training-marketplace-head">
                        <span class="marketplace-text-design">Manuals</span>
                      </div>-->
                      <div class="loading-small-screen-scroll trst" align="center" *ngIf="loading" ><img src="assets/images/loading.svg" alt="Loader" /></div>
                      <div #top id="marketplace-data-container" class="ps" style="height: 100%" [perfectScrollbar]="sconfig" (scroll)="onScroll($event)">
                        <!--[options]="{ gutter: 10,isFitWidth: true }"-->
                        <ngx-masonry  [ngClass]="{'full-height': !serviceProviderData?.length && !loading}" class="masonry-item-container" [updateLayout]="updateMasonryLayout" [ordered]="true">
                          <div ngxMasonryItem id="{{manual.id}}" class="masonry-item custom-masonry-margin" data-masonry='{ "columnWidth": 200, "itemSelector": ".grid-item" }' *ngFor="let manual of serviceProviderData; let i = index">
                            <p-card [style]="{width: '100%', height: '100%'}" styleClass="p-card-shadow training-inner-card cursor-pointer" (click)="viewDetail(manual.id)">
                              <div [style]="{height: '100%',position:'relative'}" class="{{manual?.isClosed == '1' || manual?.isActive == '0' ? 'low-opacity' : ''}}">


                                <div class="Rounded-Rectangle-18">ID# {{manual?.id}}</div>


                                <div class="new-style-changes">
                                  <img *ngIf="manual?.bannerImageUrl" class="header-style-1 {{manual?.isClosed == '1' || manual?.isActive == '0' ? 'low-opacity' : ''}}" [src]="manual?.bannerImageUrl">
                                  <div *ngIf="!manual?.bannerImageUrl" style="height: 116px;">
                                    <img src="assets/images/service-provider/manual-placeholder.png" />
                                  </div>
                                </div>
                                <div class="margin-bottom-10px custom-padding-l" style="display: flex;padding-right: 5px;padding-top: 10px;min-height: 46px;">
                                  <span title="{{manual?.manualName}}" class="inner-card-heading">{{manual?.manualName}}</span>
                                </div>
                                <div class="row no-margin svg-fill custom-padding-l">
                                  <img style="margin-top: 1px;" class="margin-right-6px" width="18px" height="17px" src="assets/images/service-provider/sku.png">
                                  <span title="{{manual?.sku}}" class="inner-card-description-1 margin-bottom-8px">SKU: {{manual?.sku}}</span>
                                </div>
                                <div class="no-margin custom-padding-l d-flex justify-content-between align-items-center">
                                  <p class="custom-price-text m-0" *ngIf="manual?.price && manual?.price != '0'">
                                    <span *ngIf="manual.isDiscount && manual.isDiscount != '0'">
                                      <span>
                                        {{threadApi.isInt(manual?.discountPrice)}}
                                      </span>
                                      <span class="strike-text">
                                        {{threadApi.isInt(manual?.price)}}
                                      </span>
                                      <span class="per-discount">
                                        {{manual?.discountPercentage}}% off
                                      </span>
                                      <span>

                                      </span>
                                    </span>
                                                    <span *ngIf="manual.isDiscount == '0'">
                                    <span>
                                      {{threadApi.isInt(manual?.price)}}
                                    </span>
                                  </span>
                                  </p>
                                  <p class="custom-price-text m-0" *ngIf="manual.price == '0'">Free</p>
                                  <div *ngIf="manual?.isClosed != '1' && manual?.isActive != '0'" (click)="$event.stopPropagation();toggleCartItem($event, manual?.id, 'manual')">
                                    <img *ngIf="!(cart?.manualIds && cart?.manualIds.includes(manual?.id))" class="cart-icon" width="30px" height="30px" src="assets/images/service-provider/cart-orange.png" />
                                    <img *ngIf="(cart?.manualIds && cart?.manualIds.includes(manual?.id))" class="cart-icon" width="30px" height="30px" src="assets/images/service-provider/cart-white.png" />
                                  </div>
                                </div>
                              </div>
                            </p-card>
                          </div>
                          <div class="thumb" *ngIf="!serviceProviderData?.length && !loading">
                            <app-empty-container [redirectionPage]="redirectionPage" [pageTitleText]="pageTitleText" [showType]="displayNoRecordsShow" [newPartInformation]="newPartInfo" [contentTypeDefaultNewImg]="contentTypeDefaultNewImg" [contentTypeValue]="contentTypeValue" [contentTypeDefaultNewText]="contentTypeDefaultNewText" [contentTypeDefaultNewTextDisabled]="contentTypeDefaultNewTextDisabled" [actionUrl]="partsUrl"></app-empty-container>
                          </div>
                        </ngx-masonry>
                      </div>

                    </div>
                    <div align="center" class="thread-loading-text bottom-loading" *ngIf="loadingmarketplacemore"><img src="assets/images/landing-page/loading-more.svg" alt="Loader" /></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- salesPerson popoup -->
<app-popup *ngIf="showCartUserPopup" access="market-place" title="Select Sales Person" buttonTitle="continue" (sendUserData)="getUserData($event)" (closeUserPopup)="closeSalePersonPopup()" [currentUser]="user" [isMultipleSalesPerson]="false" [isRequired]="true"></app-popup>

