@import url('//fonts.cdnfonts.com/css/roboto');
.header-style-1 {
  height: 116px;
  border-radius: 10px;
}
.training-heading-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.back-arrow-design {
  width: 24px;
  height: 24px;
  padding: 6px 4px 6px 6px;
  background-color: #4c4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.custom-id-div-design {
  height: 23px;
  background-color: #3a4865;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0 0 25px;
  position: absolute;
  right: 15px;
  top: 10%;
  span {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
}
.custom-closed-div-design {
  height: 23px;
  background-color: #cb573c;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0 0 25px;
  position: absolute;
  right: 15px;
  top: 18%;
  span {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
}

.custom-cancelled-div-design {
  width: 65px;
  height: 65px;
  clip-path: polygon(70% 0, 100% 0%, 0% 100%, 0% 70%);
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  span {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    transform: rotate(-46deg);
    padding-bottom: 14px;
  }
}

.training-description-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #9999ae;
}
.margin-top-30px {
  margin-top: 30px!important;
}
.margin-right-20px {
  margin-right: 20px!important;
}
.display-align-end {
  display: flex!important;
  align-items: end!important;
}
.inner-card-heading {
  font-family: "Roboto-Regular", sans-serif !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  // height: 40px;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.inner-card-description-1 {
font-family: "Roboto-Regular";
font-size: 13px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #231f20;
width: 160px!important;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.low-opacity {
opacity: 0.5!important;
}
.inner-card-description-2 {
font-family: 'Roboto', sans-serif !important;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #000;
width: 160px!important;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.new-training-text-design {
font-family: 'Roboto', sans-serif !important;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.71;
letter-spacing: normal;
text-align: center;
color: #888;
}
.inner-card-description-3 {
font-family: 'Roboto', sans-serif !important;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #3c424d;
width: 160px!important;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.no-margin {
margin: 0px!important;
}
.custom-card-style {
padding: 0 15px!important;
}
.margin-bottom-10px {
margin-bottom: 10px;
}
.margin-bottom-8px {
margin-bottom: 8px;
}
.margin-right-6px {
margin-right: 6px;
}
.margin-right-5px {
margin-right: 5px;
}
.margin-right-9px {
margin-right: 9px;
}
.inner-card-description-4 {
font-family: 'Roboto', sans-serif !important;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #298369;
width: 100px!important;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.custom-style-1 {
border-radius: 10px;
border: solid 1px #298369;
padding: 5px 5px;
display: flex;
align-items: center;
width: 135px;
}
.custom-style-2 {
border-radius: 10px;
border: solid 1px #666dc3;
padding: 5px 5px;
display: flex;
align-items: center;
width: 135px;
}
.inner-card-description-5 {
font-family: 'Roboto', sans-serif !important;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #666dc3;
width: 100px!important;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.margin-top-10px {
margin-top: 10px!important
}
.header-style-2 {
border-radius: 10px;
border: solid 1px #e9eaea;
background-color: #f5f6f6;
padding: 40px 0px;
display: flex;
justify-content: center;
height: 125px !important;
}
.default-img-size {
width: 59px!important;
height: 53px!important;
}
.margin-right-10px {
margin-right: 10px!important
}
.new-style-changes {
height: 116px !important;
width: 89px;
float: left;
// margin-right: 25px;
img {
height: 100%;
// width: 100%;
width: auto;
border-radius: 0px;
}
}
.card-design-new {
width: 250px!important;
height: 380px!important;
}
.card-parent-design-new {
margin: 25px 25px 0px 0px!important;
height: calc(100vh - 130px)!important;
overflow: hidden;
}
.marketplace-text-design {
font-family: 'Roboto', sans-serif !important;
font-size: 16px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 0.75;
letter-spacing: normal;
text-align: left;
color: #4e5257;
}
.margin-right-11px {
margin-right: 11px!important;
}
.margin-left-15px {
margin-left: 15px!important;
}
.margin-bottom-15px {
margin-bottom: 15px!important;
}
.flex-center {
display: flex;
justify-content: center;
}
.flex-align-justify-center {
display: flex;
justify-content: center;
align-items: center;
}
.custom-button-design {
width: 139px;
height: 32px;
border-radius: 6px;
background-color: #fa972d;
cursor: pointer;
}
.white-text-button-design-text {
font-size: 14px;
color: #fff;
margin-right: 5px;
}
.margin-top-bottom-30px {
margin: 30px 0;
}
.new-trainging-button-text-design {
font-family: 'Roboto', sans-serif !important;;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 2.14;
letter-spacing: normal;
text-align: left;
color: #fff;
}
.flex-align-center {
display: flex;
align-items: center;
}
.custom-text-desgin {
font-size: 16px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 0.75;
letter-spacing: normal;
text-align: left;
color: #4e5257;
}
.margin-right-8px {
margin-right: 8px;
}
.custom-masonry-margin {
margin: 0px 20px 20px 0px!important;
}
.display-align-center {
display: flex;
align-items: center;
}
.page-title-design {
font-size: 22px;
font-family: Roboto-Bold;
color: #4b4c4c;
vertical-align: middle;
position: relative;
top: 10px;
}
::ng-deep  {
.manuals-listing {
.ps__rail-x {
  display: none !important;
}
.masonry-item-container {
  margin-bottom: 25px;
}
.full-height {
  height: 90% !important;
}

body .cbt-filter.filter-expand.thread-filter {
  padding: 5px 0px 10px 0px !important;
}

.right-landing-toggle-menu-bar .filter-toggle {
  top: 8px !important;
}
.masonry-item {
  width: 350px !important;
}
.training-inner-card {
  width: 350px !important;
  height: 116px !important;
  border-radius: 0px !important;
}
.training-inner-card .p-card-body .p-card-content {
  padding: 1px !important;
  height: 100%;
}
.training-inner-card .p-card-body{
  height: 100%;
}
}
}


.custom-price-text {
font-family: "Roboto-Regular", Open Sans,sans-serif;
font-weight: 700;
font-stretch: normal;
font-style: normal;
// line-height: 1;
letter-spacing: normal;
text-align: left;
color: #469073;
position: relative;
font-size: 16px;
}

.strike-text {
color: #999999 !important;
margin: 0 2px 0 5px;
font-size: 14px;
text-decoration: line-through;
}
.per-discount {
color: #7f17ff;
font-size: 14px;
font-weight: bolder;
}

.center-middle-width-container {
padding-left: 0;
padding-right: 20px !important;
}

.sold-out-label-design {
width: 89px;
height: 27px;
background-color: #000;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto-Regular";
font-size: 14px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
color: #fff;
position: absolute;
top: 26%;
border-radius: 0px 10px 10px 0;
}

.closed-label-design {
width: 89px;
height: 27px;
background-color: #cb573c;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto-Regular";
font-size: 14px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
color: #fff;
position: absolute;
top: 26%;
border-radius: 0px 10px 10px 0;
}

.minimum-seats-available-design {
width: 126px;
height: 27px;
background-color: #ff8a00;
font-size: 14px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 26%;
border-radius: 0 10px 10px 0;
}

.custom-padding-l {
padding-left: 10px !important;
}

.Rounded-Rectangle-18 {
width: 56px;
height: 23px;
opacity: 0.6;
background-color: #000;
position: absolute;
margin-top: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
color: #fff;
text-align: center;
font-size: 12px;
vertical-align: middle;
padding-top: 2px;
}
.cart-icon{
  position: relative;
  right: 5px;
  /* bottom: 15px; */
}

.training-marketplace-manual-head{
  width: 19px !important;
  height: 24px !important;
  margin: 0px 5px 0!important;
  -o-object-fit: contain !important;
  object-fit: contain !important;
  padding-top: 3px !important;
}