.disable{
    opacity: .5;
}
::ng-deep{
    .dynamic-form-content .form-fields .form-items .field-row .field-item.uploadContents .refer-info.attachment-info .attachment-cont{
        margin:0 !important;
    }
     body .wrapper #content .prob-new .new-pro-cont .form-cont .form-horizontal .form-items .prob-form-row{
        padding: 0 !important;
      }
      .upload-area{
        margin-top: 0;
      }
     }
