::ng-deep{
    body{
        &.convert-loader-popup{
            .modal-dialog{
                max-width: 420px;               
            } 
            .modal .modal-dialog .modal-content{
                background-color: #ffffff;
                text-align: center;
            }
            .modal .modal-dialog .modal-content .custom-modal .modal-body{
                background-color: #ffffff;
                padding: 20px 0 0 0 !important;
            }            
            .new-signup-setup-cont{
                .cont-top-img{                    
                    vertical-align: middle;
                    padding-top: 30px;
                    text-align: center;
                }
                .cont-middle-text{
                    font-family: 'Roboto-Regular';
                    font-size: 16px;
                    color: #000000;
                    text-align: center;
                    padding-top:30px;
                }
                .cont-bottom-img{
                    padding:20px 0;
                    vertical-align: top;
                    width: 127px;
                    margin:0 auto;       
                }
            }
        }
        &.convert-popup{
            &.thread-detail{
                .confirm-actions-btn{
                    .btn{
                        border-radius: 6px;
                    }
                }
            } 
            .modal-dialog{
                max-width: 650px;               
            }            
            .modal .modal-dialog .modal-content .custom-modal .modal-body.convert-body{
                padding: 2rem !important;
            }
            .modal .modal-dialog .modal-content .custom-modal .modal-footer {
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
            .modal-title-width{
                width: 100% !important;
            }
            .modal .modal-dialog .modal-content .custom-modal .modal-body .container .conf-txt{
                color: #000000;
                padding: 0 0 15px 0;
            }
            .modal .modal-dialog .modal-content .custom-modal .modal-footer .confirm-actions .action-btn.submit .submit-btn.yes-btn-tick{
                top:5px;
            }
            .modal .modal-dialog .modal-content .custom-modal .modal-body .container{
                padding: 0;
            }
            .def-select.select-tags{
                margin:20px 0px 0px 0px;
            }

        }
    }
    
}