.recent-selections {
  display: block;
  font-size: 14px;
  &.recent-top {
    padding-top: 15px;
  }
  .recent-col {
    display: inline-block;
    &.recent-label {
      color: #5b6065;
      font-family: Roboto-Medium;
      padding: 5px 0px;
      vertical-align: top;
      width: 125px;
    }
    &.recent-list {
      width: 82%;
      .items {
        background: #989fab;
        border-radius: 20px;
        color: #ffffff !important;
        display: inline-block;
        font-size: 13px !important;
        padding: 4px 18px 4px 12px;
        position: relative;
        margin: 0px 10px 8px 0px;
        text-align: left;
        text-transform: none;
        z-index: 100;
        &:last-child {
          margin-right: 0px;
        }
        &:after {
          background: url("../../../../assets/images/common/select-plus-icon.png") no-repeat;
          content: "";
          display: inline-block;
          height: 15px;
          width: 15px;
          position: relative;
          top: 3px;
          left: 8px;
        }
      }
    }
  }
}
