<div class="thread-detail-section thread-detail-section-other">
    <div class="th-outer-col th-outer-col-1" [ngClass]="{'hide': accessType == 'popup'}"></div>
    <div class="th-outer-col th-outer-col-2 col-collapse">
        <div id="documentView">
            <div #tdpage class="thread-detail-page">
                <div class="thread-detail-div">
                    <div class="thread-detail-div-col thread-detail-div-left">
                        <div class="thread-detail-view thread-detail-view-no-post">
                            <div class="thread-content">
                                <div class="display-table table-row1 doc-table-row1">
                                    <div class="display-tablecell table-col-1-1 thread-img-div {{fileData.styleName}}">
                                        <span class="thread-cover-img" *ngIf="fileData.flagId == 1 || fileData.flagId == 2 || fileData.flagId == 6">                                                   
                                            <span class="thread-bg thread-bg1 adas {{fileData.bannerClass}}" [ngStyle]="{'background-image': 'url(' + fileData.contentPath + ')'}"></span>
                                        </span>                                                
                                        <span class="" [ngClass]="{'thread-cover-img': fileData.bannerImage != '','doc-thread-img': fileData.bannerImage == ''}" *ngIf="fileData.flagId == 3 || fileData.flagId == 4 || fileData.flagId == 8 || fileData.flagId == 5 || fileData.flagId == 0"> 
                                            <span  class="thread-bg adas {{fileData.styleName}}" [ngClass]="{'banner-image': fileData.bannerImage != ''}" 
                                            [ngStyle]="fileData.bannerImage != '' ? {'background-image': 'url(' + fileData.contentPath + ')'} : ''">
                                            </span>
                                        </span>
                                    </div>
                                    <div class="display-tablecell table-col-1-2 doc-table-col-1-2">
                                        <div class="thread-title">{{fileData.title}}</div>                        
                                    </div>
                                </div>
                                <div class="table-row2"> 
                                    <div class="problem-row setPaddingTop3">                  
                                        <div class="problem-col-lt ann-problem"></div>
                                        <div class="problem-col-rt w90">
                                            <p class="problem-col-head problem-col-head-color">Description</p>                                                                                      
                                        </div> 
                                        <div *ngIf="fileData.description != ''" class="doc-description" [innerHTML]="fileData.description"></div> 
                                        <div *ngIf="fileData.description == ''" class="doc-description"><i style="color:#a7a7a7;">NA</i></div> 
                                    </div>                          
                                </div>
                                <div class="table-row2">
                                    <div class="problem-row setPaddingLeft1">  
                                        <div class="problem-row setPadding tag" *ngIf="fileData.tagInfo.length > 0">
                                            <div class="problem-col-lt tag doc-tag-lt"><img src='assets/images/thread-detail/tag.svg' alt='' onload='SVGInject(this)' /></div>
                                            <div class="problem-col-rt w90">
                                                <p class="problem-col-head">Tag<span *ngIf="fileData.tagInfo.length > 1">s</span></p>
                                                <div class="tag-cont-div doc-tag-cont-div" *ngFor="let item of fileData.tagInfo;"> 
                                                    <span class="tag-cont btn tag">{{item.name}}</span>                                       
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row2">
                                    <div class="problem-row setPaddingLeft1">  
                                        <div class="problem-row setPadding" *ngIf="fileData.adasSystemInfo.length > 0">
                                            <div class="problem-col-lt tag doc-tag-lt"><img src='assets/images/parts/system-icon.png' alt='' /></div>
                                            <div class="problem-col-rt w90">
                                                <p class="problem-col-head">System<span *ngIf="fileData.adasSystemInfo.length > 1">s</span></p>
                                                <div class="tag-cont-div doc-tag-cont-div" *ngFor="let item of fileData.adasSystemInfo;"> 
                                                    <span class="tag-cont btn tag">{{item.name}}</span>                                       
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row2 table-row3 doc-table-row3">
                                    <!-- Application Info -->
                                    <div id="appln-v2" class="appln-v2-page">
                                        <app-application [access]="access" [accordionList]="accordionList" [applicationList]="appList"></app-application>
                                    </div>
                                    <!-- Attachment Info -->
                                    <div class="thread-detail-widget main-contaier" *ngIf="!attachmentLoading">
                                        <p-accordion class="custom-accordion flat-custom-accordion thread-detail-accordion" [multiple]="true">
                                            <p-accordionTab class="comments" [transitionOptions]="'100ms'" [selected]="true">
                                                <p-header class="header">
                                                    <span class="header-img">
                                                        <img src="assets/images/thread-detail/attachments-white.png">
                                                    </span>
                                                    <span class="header-text">
                                                        Attachments
                                                    </span>
                                                </p-header>                               
                                                <!-- Attachment List-->
                                                <app-attachment-view *ngIf="!attachmentLoading" [loading]="attachmentLoading" [action]="action" [attachments]="attachments"></app-attachment-view>
                                                <!-- Attachment List-->
                                            </p-accordionTab>
                                        </p-accordion>
                                    </div>

                                    <!-- System Information -->
                                    <div class="reference-info">
                                        <mat-accordion [multi]="true" #accordion="matAccordion">
                                            <mat-expansion-panel class="{{panel.class}}"
                                            [disabled]="panel.isDisabled"
                                            [expanded]="panel.isExpanded"
                                            [hideToggle]="false"
                                            (opened)="beforeParentPanelOpened(panel, emptyList)"
                                            (closed)="beforeParentPanelClosed(panel, emptyList)"
                                            (afterCollapse)="afterPanelClosed()"
                                            (afterExpand)="afterPanelOpened()"
                                            *ngFor="let panel of referenceAccordion"
                                            #mapanel="matExpansionPanel">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                    <b>{{panel.title}}</b>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="app-accord">
                                                    <app-system-info-view [systemInfo]="systemInfo"></app-system-info-view>
                                                </div>              
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>