.sr-col-1{
    padding:0 0 10px 15px;
}
.sr-col-2{
    padding:0 0 10px 15px; 
    .icon-div{
        display: inline-block;
        width: 41px;
        height: 41px;
        text-align: center;
        border-radius: 6px;
        padding: 6px 0 0 7px;
        background: var(--ID19) !important;
        margin-right: 7px;    
        img{
            vertical-align: middle;
        }
    }

}
.sr-col-3{
    padding:0 0 10px 15px;
}
::ng-deep .custom-width{
    width: 100%;
    padding-right: 0 !important;
    &.p-button:focus{
        box-shadow: none !important;
    }
    .p-button-label {        
        font-size: 15px;
        text-align: left;
        font-family: 'Roboto-Medium';
        line-height: normal;
    }
}
.fluid-new{
    padding: 14px 0 3px 15px;
}