.no-padding {
    padding: 0px!important;
}
.no-margin {
    margin: 0px!important
}
.flex-center {
    display: flex;
    justify-content: center;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.flex-align-end {
    display: flex;
    align-items: end;
}
.custom-bird-price-design {
    background: #2a61ff;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position: relative;
    text-align: center;
}
.custom-bird-price-design:before,
.custom-bird-price-design:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #2a61ff;
}
.custom-bird-price-design:before {
    transform: rotate(30deg);
}
.custom-bird-price-design:after {
    transform: rotate(60deg);
}
.percentage-design {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    top: 5px;
    left: 5px;
}
.bird-price-design {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}
.image-banner {
    text-align: center;
}
.custom-price-section-design {
    position: absolute;
    top: 15px;
    z-index: 1;
    right: -140px;
@media(max-width:1025px){
    right: -110px;
}
@media(max-width:991px){
    right: -90px;
}
    @media(max-width:767px){
        position: relative;
        width: 100%;
        right: 0;
    }
}
.custom-line-design {
    width: 3px;
    height: 37px;
    margin-right: 20px;
    background-color: #2f3967;
}
.early-bird-price-discount-design {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.early-bird-price-discount-design-valid-upto {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.width-80-perc {
    width: 80%;
}
.inner-section {
    margin: 30px auto 0;
}
.custom-margin-breadcum {
    margin: 0px 0 20px 0;
}
.margin-top-30px {
    margin-top: 30px;
}
.padding-30px {
    padding: 30px;
}
.padding-20px {
    padding: 20px;
}
.p-card .p-card-title {
    font-size: 18px!important;
    color: #000!important;
}
.heading-text {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #000;
    margin: 0px;
}
.sub-heading-text {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #4a4a4a;
    margin: 0px;
}
.website-text {
    width: 100%;
    font-size: 15px;
    text-align: left;
    color: #469073!important;
}
.green-color-background {
    background-color: #469073;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 5%;
}
.icon-color {
    font-size: 15px;
    color: #469073!important;
    margin-right: 10px;
}
.icon-new-color {
    font-size: 15px;
    color: #000!important;
    margin-right: 10px;
}
.website-new-text {
    width: 100%;
    font-size: 15px;
    text-align: left;
    color: #000!important;
}
.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}
.view-footer-card {
    background-color: #2f3967;
    color: #fff;
    span {
        margin-right: 5px;
    }
}
.flex-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-border {
    border-radius: 10px;
    border: solid 1px #ebebeb;
}
.grey-line {
    height: 7px;
    margin-top: 50px;
    border-radius: 3.5px;
    background-color: #d3d3d3;
}
.load-more {
    position: absolute;
    padding: 10px;
    border-radius: 18px;
    border: solid 5px #eee;
    background-color: #469073;
    bottom: -22px;
    span {
        margin-right: 5px;
        color: #fff;
    }
    i {
        font-size: 14px;
        color: #fff;
    }
}
.width-12-margin-0-auto {
    width: 12%;
    margin: 0 auto;
}
.collabtic-network {
    padding: 20px!important;
    background-color: #42484d;
}
.flex-end-center {
    display: flex;
    justify-content: end;
    align-items: center;
}
.flex-end-end {
    display: flex;
    justify-content: end;
    align-items: end;
}
.normal-text {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.highlight-text {
    color: #3cc098;
}
.custom-margin {
    margin: 50px 0 0 0!important
}
.new-highlight-text {
    font-size: 20px;
    font-weight: 500;
    color: #3cc098;
    border: 2px solid #3cc098;
    padding: 10px;
}
.margin-top-10px {
    margin-top: 10px;
}
.top-image-section {
    position: absolute;
    top: -73%;
    margin: 0px;
}
.custom-padding-heading {
    padding: 0px;
}
.image-section {
    padding: 40px 15px;
    background-color: white;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #eee;
    min-height: 150px;
    img {
        width: auto;
        height: auto;
    }
}
.text-heading-section-right {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.text-subheading-section-right {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.margin-top-5px {
    margin-top: 5px;
}
.custom-margin-upper {
    margin: 20px 0 0 0!important;
}
.custom-flex-center {
    display: flex;
    justify-content: center;
}
.new-top-image-section {
    top: -19%;
    margin: 0px;
}
.top-custom-padding {
    padding: 0 30px;
}
.new-top-custom-style {
    background-color: #fff;
    padding: 5px 0px 20px 0px;
}
.descrition-style {
    background-color: #f7f7f7;
    border-left: 5px solid #469073;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    min-height: 80px
}
.margin-right-5px {
    margin-right: 5px;
}
.color-green {
    color: #469073;
}
.sub-heading-style {
    border-bottom: 3px solid #2f3967;
    height: 55px;
    display: flex;
    align-items: end;
    width: 92.5%;
    position: relative;
    left: -1px;
    span {
        font-size: 25px;
        font-weight: 800;
        color: #000;
    }
}
.inner-section-card {
    margin: 20px 0 0 0;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 4%);
    border: solid 1px #ebebeb;
    position: relative;
    background-color: #fff;
}
.border-radius-10px {
    border-radius: 10px;
}
.card-heading {
    font-size: 20px;
    font-weight: 800;
    color: #000;
}
.custom-style {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
    img {
        margin-right: 5px;
    }
    span {
        font-size: 15px;
        color: #231f20;
    }
    i {
        color: #469073;
        margin-right: 5px;
    }
}
.price-text {
    font-size: 26px;
    font-weight: 800;
    color: #469073;
}
.small-text-size {
    font-size: 18px;
    font-weight: 800;
    color: #469073;
}
.curr-price {
    font-family: "Roboto-Regular";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    font-size: 16px;
    top: -5px;
    position: relative;
  }
.padding-15px {
    padding: 15px;
}
.view-buy {
    font-size: 15px;
    color: #fff;
}
.custom-style-new {
    background-color: #2f3967;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.background-white {
    background-color: #fff;
}
.blog-title {
    font-size: 36px;
    font-weight: 800;
    color: #000;
}
.blog-description {
    font-size: 16px;
    color: #000;
}
.custom-blog-margin {
    margin: 30px 0!important;
}
.blog-date {
    font-size: 13px;
    color: #7d7d6f;
}
.margin-bottom-30px {
    margin-bottom: 30px;
}
.blog-tags {
    font-size: 18px;
    color: #000;
}
.blog-footer-description {
    font-size: 13px;
    color: #000;
}
.padding-15px-top-bottom {
    padding: 15px 0!important;
}
.border-top-2px-solid {
    border-top: 2px solid black;
}
.background-aliceblue {
    background-color: #dae9f8;
}
.background-image {
    background-image: url('../../../../assets/images/service-provider/service-provider-banner.png');
}
.cursor-pointer {
  cursor: pointer;
}
.font-family-lato {
    font-family: 'Lato', sans-serif!important;
}
.width-40-perc {
    width: 40%!important;
}
.padding-right-0px {
    padding-right: 0px;
    padding-left: 30px;
}
.new-header-image {
  display: table;
  justify-content: center;
  z-index: 1;
  width: 100%;
  vertical-align: middle;
}
.img-parent {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.quote {
    font-family: 'Lato', sans-serif!important;
    font-size: 75px;
    color: #2dbb90;
    margin: 0px;
}
.title-1 {
    font-family: 'Lato', sans-serif!important;
    font-size: 35px;
    color: #fff;
    margin-bottom: 1.5rem;
}
.title-2 {
    font-family: 'Lato', sans-serif!important;
    font-size: 28px;
    color: #fff;
    margin-bottom: 3rem;
}
.description-text {
    font-size: 14px;
    color: #fff;
}
.review-by {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    span {
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        color: #848484;
    }
}
.custom-padding {
    padding: 0 0 65px 0 !important;
}
.custom-review-position {
    position: relative;
    top: -18%;
}
.card-custom-margin {
    margin-top: 15px;
    margin-bottom: 0px;
}
.custom-view-buy-image-design {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    right: -2px;
}
.custom-view-buy-text-design {
    height: 54px;
}
.margin-bottom-20px {
    margin-bottom: 20px;
}
.margin-right-10px {
    margin-right: 10px;
}
.margin-right-20px {
    margin-right: 20px
}
.custom-margin-heading {
    margin-top: 30px;
}
.custom-height {
    display: block;
    width: 100%;
    height: 750px;
    overflow: auto;
}
.load-more {
    position: absolute;
    padding: 5px 15px;
    border-radius: 40px;
    border: solid 5px #eee;
    background-color: #2f3967;
    bottom: -18px;
    cursor: pointer;
    span {
        margin-right: 5px;
        color: #fff;
    }
    i {
        font-size: 14px;
        color: #fff;
    }
}
.grey-line {
    height: 7px;
    margin-top: 50px;
    border-radius: 3.5px;
    background-color: #fff;
}
.header-style-2 {
    border: solid 1px #e9eaea;
    background-color: #f5f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 156px;}
.default-img-size {
    width: 59px!important;
    height: 53px!important;
}
.height-width-100-perc {
    width: 268px;
    height: 156px;
}


.training-text {
  margin: 30px 0;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #999;
}

.full-height {
  height: 500px!important;
  margin: 0 !important;
}


.custom-flex-info {
  flex: 0 0 22%;
}



@media screen and (max-width:767px) {
  .top-image-section.custom-padding-heading {
    top: -124px !important;
    position: absolute;
  }
  .top-image-section.custom-padding-heading .image-right-section {
    position: relative;
    top: 11px;
  }
  .new-top-image-section.new-top-custom-style {
    padding-top: 83px !important;
  }
  .custom-padding-detail-section {
    display: flex !important;
  }
  .custom-padding-detail-section .col-xl-3.col-lg-3 {
    max-width: 48% !important;
    flex: 0 0 48% !important;
  }

  .new-top-image-section.new-top-custom-style .flex-center > .col-xl-3.col-lg-3.col-md-4.col-sm-4.col-0 {
    display: none;
  }
  .new-top-image-section.new-top-custom-style .custom-padding-detail-section {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .no-padding.custom-margin-inner-detail-top {
    margin-top: 4px !important;
  }
  .new-top-image-section.new-top-custom-style p.no-margin {
    padding-bottom: 9px !important;
  }
  .new-top-image-section.new-top-custom-style span.website-new-text, .new-top-image-section.new-top-custom-style a.website-text {
    font-size: 11px !important;
    line-height: initial !important;
  }
  /*boxes cards*/
  .inner-section .inner-section-card img.height-width-100-perc {
    width: 100%;
  }
  .inner-section .inner-section-card .col-lg-7 {
    flex-wrap: wrap;
  }
  .inner-section .inner-section-card .flex-center-align {
    justify-content: start;
  }
  .inner-section .inner-section-card .sub-heading-style span {
    padding-bottom: 5px;
  }

  .width-80-perc.margin-top-30px {
    width: 88%;
  }
  .new-top-image-section.new-top-custom-style a.website-new-text {
    font-size: 11px!important;
  }
  .custom-padding-detail-section .col-xl-3.col-lg-3 {
    padding: 0;
  }
  .custom-view-buy-image-design img {
    object-fit: fill;
  }
  .inner-section-card .col-lg-7.col-md-7.col-sm-12.padding-20px {
    padding-top: 3px;
  }
  .inner-section-card span.price-text {
    padding-bottom: 13px;
  }
}

.custom-id-div-design {
  height: 23px;
  background-color: #000;
  width: 63px;
  padding: 0px!important;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: absolute;
  left: 32px;
  top: 34px;
  span {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
}
.early-bird-magin {
    margin-right: 20px;
}
.regularPriceNew {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media(max-width:767px){
        align-items: flex-start;
    }
}
::ng-deep {
    @media screen and (max-width: 1025px) {
        .custom-bird-price-design {
            width: 35px!important;
            height: 35px!important;
            margin-right: 15px!important;
        }
        .custom-bird-price-design:before,
        .custom-bird-price-design:after {
            height: 35px!important;
            width: 35px!important;
        }
        .early-bird-price-discount-design {
            font-size: 14px!important;
        }
        .early-bird-price-discount-design-valid-upto {
            font-size: 12px!important;
        }
        .small-text-size {
            font-size: 16px!important;
        }
        .curr-price {
            font-size: 14px!important;
        }
        .bird-price-design {
            font-size: 13px!important;
        }
        .percentage-design {
            font-size: 11px!important;
        }
        .early-bird-magin {
            margin-right: 15px!important;
        }
        .custom-line-design {
            margin-right: 15px!important;
        }
    }
    @media screen and (max-width: 850px) {
        .custom-bird-price-design {
            width: 40px!important;
            height: 40px!important;
            margin-right: 7px!important;
        }
        .custom-bird-price-design:before,
        .custom-bird-price-design:after {
            height: 40px!important;
            width: 40px!important;
        }
        .early-bird-price-discount-design-valid-upto {
            font-size: 10px!important;
        }
        .small-text-size {
            font-size: 16px!important;
        }
        .curr-price {
            font-size: 14px!important;
        }
        .bird-price-design {
            font-size: 11px!important;
        }
        .percentage-design {
            font-size: 9px!important;
        }
        .early-bird-magin {
            margin-right: 6px!important;
        }
        .custom-line-design {
            margin-right: 4px!important;
            width: 1px;
        }
    }
  @media(max-width:767px){
    .percentage-design {
      font-size: 11px !important;
    }
    .bird-price-design {
      font-size: 15px !important;
    }
    .early-bird-magin{
      margin-right: 5px!important;
      margin-left: 5px !important;
    }
    .early-bird-price-discount-design-valid-upto {
      font-size: 12px !important;
    }
    .early-bird-price-discount-design {
      font-size: 15px !important;
    }
    .buy-now-design {
      margin-top: 25px !important;
    }
    .buy-now-image-position {
      position: relative !important;
      right: 1px !important;
      top: 13px !important;
    }
    .curr-price {
      font-size: 15px !important;
    }
  }
    @media screen and (max-width: 426px) {
        .curr-price {
            top: 0px!important;
             font-size: 12px !important;
        }
        .small-text-size {
            display: flex!important;

        }


    }
}

