::ng-deep{
  .thread-post{
    background: #eff1f3;
  }
  .thread-detail-section{
    width: 80%;
    display: block;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 16px;
  }
}
  