.container-fluid {
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-bottom: 15px !important;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
}

.header-main-div {
    padding: 10px 0px;
}

.heading-right-start {
    font-size: 22px;
    font-weight: 600;
}

.dummy-user {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.left-section {
    border-top: 1px solid #e8e7e7;
    border-right: 1px solid #e8e7e7;
    padding-top: 10px;
}

.left-section-percent {
    color: #ff9100;
}

.section-one-items {
    list-style: none;
    padding-left: 15px;
}

.section-one-items-sec {
    // margin-bottom: 25px;
    padding: 5px 10px 0 0;
}

.section-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f7f5;
    padding: 15px 10px 15px 30px;
}

.section-third {
    padding: 0px 10px 20px 30px;
}

.mr-10 {
    margin-right: 10px;
}

.section-third-sec {
    padding: 10px 0px;
    // border-top: 1px solid #e8e7e7 ;
    border-bottom: 1px solid #e8e7e7;
}

.right-sec-heading {
    color: #fff;
    background-color: #777777;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-sec-content {
    padding-left: 25px !important;

    .content-box {
        padding: 10px 0px !important;
        padding-right: 10px !important;
    }

    .border-bottom {
        border-bottom: 1px solid #e8e7e7;
    }

    .border-left-right {
        border-left: 1px solid #e8e7e7;
        border-right: 1px solid #e8e7e7;
        border-bottom: 1px solid #e8e7e7;
    }

    .border-right {
        border-right: 1px solid #e8e7e7;
        border-bottom: 1px solid #e8e7e7;
    }
}

.selected-item {
    background: #469073;
    border-radius: 10px;
    color: #fff;
}

.yes-sec,
.no-sec {
    line-height: 1;
    padding: 15px 0;
    cursor: pointer;

    i {
        font-size: 14px;
    }
}

.no-sec-selected {
    color: #ff9100;
    background-color: #ffeabe;
}

.yes-sec-selected {
    color: #469073;
    background-color: #dbf6da;
}

.content-box-img {
    max-width: 154px;
    max-height: 144px;
    height: 144px;
}

.img-add {
    width: 154px;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #469073;
    border: 1px solid #e8e7e7;
    border-radius: 6px;
    cursor: pointer;

    img {
        margin: 0 !important;
        border-radius: 0 !important;
    }
}

.content-box-inner-sec {
    margin-left: 27px;

    img {
        // margin-right: 10px;
        // border-radius: 6px;
    }
}

.display-none {
    display: none;
}

.grey-color {
    color: #999;

    p {
        margin: 0px !important;
    }
}

.attachments-sec {
    .attachments-sec-img {
        position: relative;

        img {
            margin-right: 10px;
            border-radius: 6px;
        }
    }

    .attachment-dlt {
        position: absolute;
        right: 15px;
        display: flex;
        bottom: 5px;
        background-color: #000;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        align-items: center;
        text-align: center;
        justify-content: center;

        img {
            margin: 0;
            border-radius: 0;
        }
    }
}

.outer-content-img {
    transform: rotate(180deg);
}

.right-arrow-rotate {
    transform: rotate(90deg);
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

:host::ng-deep {
    .gts-sample-question-dropdown {
        .p-component {
            width: 100% !important;
        }
    }

    .gts-sample-calender {
        input {
            border-radius: 10px 0px 0px 10px;
            border-right: none;
        }

        button {
            .pi.pi-calendar {
                color: #a6a6a6 !important;
            }

            background: transparent !important;
            border: 1px solid #ced4da;
            border-left: none;
            border-radius: 0px 10px 10px 0;
        }
    }
}

.right-sec-padding-custom {
    padding-left: 25px !important;
}

.arrow-image {
    position: absolute;
    left: -15px;
    top: 17px;
}

.innerhtml-container {
    display: flex;
    flex-direction: row;
    // align-items: center;

    .inner-html {
        p {
            margin: 0;
        }

        p+p {
            margin-top: 0px;
        }
    }

}