.knowledge_article__heading {
  width: 178px;
  height: 22px;
  font-family: "Roboto-Regular";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  bottom: 3px;
  position: relative;
  text-align: left;
  color: var(--ID60);
}
.center-middle-width-container {
  padding-top: 0.7rem;
}
.right-middle-width-container {
  padding-top: 10px !important;
}
.right-collapse {
  position: absolute;
  right: 0;
  //width: 16px;
}
.landing-page .thread-page-container {
  margin: 0 auto;
  margin-top: 6px !important;
  padding: 10px 0px 10px 4px !important;
  border-radius: 8px;
}
.text-thread-title {
  width: 260px;
}
.thread-add-new {
  margin-left: 0px !important;
}

.thread-top-left {
  width: 100% !important;
  position: relative;
  bottom: 2px;
  padding-left: 0;
  padding-bottom: 6px;
}
.thread-top-right {
  /*width: auto !important;*/
  width: 10%;
}
.thread-img {
  position: relative;
  top: 2px;
}
::ng-deep{
  body .wrapper #content .doc-type-tooltip.bs-tooltip-right .arrow::before{
    right:-1px;
  }
  body .wrapper #content .doc-type-tooltip.tooltip .tooltip-inner{
      width: 260px;
      max-width: 260px;
  }
  body .wrapper #content .doc-type-tooltip.tooltip .tooltip-inner ul{
      margin:0px 0px 0px 20px;
  }
  body .wrapper #content .doc-type-tooltip.tooltip .tooltip-inner ul li{
      margin:20px 0px 20px;
      padding: 0px 0px 0px 45px;
  }
  body .wrapper #content .doc-type-tooltip.tooltip .tooltip-inner ul li.doc-type-list .doc-type-info{
      padding: 6px 10px 20px 0px;
  }
  .landing-page .center-middle-width-container .filter-expand .thread-top-section{
    padding-left: 0px;
  }
  .landing-page .center-middle-width-container .filter-collapse .thread-top-section{
    padding-left: 5px;
  }
  .landing-page .right-middle-width-container.right-panel-collapse{
    max-width: 10px;
  }
  .center-middle-width-container{
    max-width: initial;
    &.col-lg-8{
      max-width: 65.6%;
      transition: all 0.5s;
    }    
  }
  .center-middle-width-container{
    &.col-lg-10{
      max-width: 82%;
      transition: all 0.5s;
    }    
  }
  .center-middle-width-container{
    &.col-lg-12{
      max-width: 97.3%; 
      transition: all 0.5s;
    }    
  }

  .right-landing-toggle-menu-bar .filter-toggle.expand-arrow{
    left:-3px;
  }
  /*.right-panel-expand{
    transition: all 0.5s;
  }
  .right-panel-collapse{
    transition: all 0.5s;
  }
  .filter-expand{
    transition: all 0.5s;
  }
  .filter-collapse{
    transition: all 0.5s;
  }*/
  body.search-page{
    .center-middle-width-container{
      max-width: initial;
    }
    .landing-page .adding-width-12, .parts-list .adding-width-12{
      max-width: initial;
    }
    .right-landing-toggle-menu-bar .filter-toggle.expand-arrow{
      left:0px;
    }
  }
  .ps__thumb-x {
    opacity: 0;
  }  
}