::ng-deep{
    padding: 10px 0 0 0;
    .black-theme-row .reference-info{
        padding:0 !important;
        &.from-media {
            padding: 15px 0px !important;
        }
    }
    .paddingRemove.black-theme-row .reference-info.load-media{
        padding: 15px 0px !important;
    }
    .black-theme-row .refer-info{
        padding: 10px 0 0 0;
    }
    .black-theme-row .refer-info .label{
        display: none;
    }
    .black-theme-row .refer-info.attachment-info .attachment-cont{
        border: none;
    }
    .black-theme-row .refer-info.attachment-info .attachment-cont .attachment-row{
        border: none;
        border-bottom: solid 1px #e1e1e1;
        padding-bottom: 15px !important;
        &:last-child{
            border-bottom: solid 1px #e1e1e1 !important;
        }
    }
    .black-theme-row .refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .caption-control{
        border-radius: 6px;
        border: solid 1px #dbddde;
    }
    body .modal.attachment-modal .modal-dialog .upload-modal .modal-header .head-row.file-attch-row{
        margin-bottom: -5px; 
    }
    body .modal.attachment-modal .modal-dialog .upload-modal .modal-body{
        background-color: #ffffff;
    }
    .black-theme-row{
        .upload-area{
            margin-top: 0px;
            position: sticky;
            top: 0;
            z-index: 1000;            
            .upload-col{
                background-color: #f2f2f2;
                border: 1px solid #cbcbcb;                
                color: #000000;
            }
        }
        .upload-area .upload-col.files{
            border-radius:unset;
        }
        .upload-area .upload-col.link{
            border-radius:unset;
        }
        .attachment-file.media-attachment-file .p-fileupload .p-fileupload-content{
            border-left: 1px solid #cbcbcb;
        }
        .attachment-file .p-fileupload .p-fileupload-content.p-fileupload-highlight{
            background-color: #ccefe1;
            .content-message{
                color: #469073 !important;
            }
        }
        .attachment-file .p-fileupload .p-fileupload-content{
            background-color: #f2f2f2;
            height: 59px;
            padding: 17px 0 0 0;
        }
        .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label{
            color: #000000;
        }
        .attachment-file.media-attachment-file .p-fileupload .p-fileupload-content .placeholder{
            color: #000000;
        }
        .attachment-row .attachment-col.cont-col .caption.link input{
            margin-bottom: 0 !important;
        }
        .selected-items .tag-text{
            margin-top: 8px !important;
        }
        .post-link-error{
            width: 100%;
            padding: 5px 0 5px 20px;
            font-size: 14px;
            margin-left:10px;
            color: #dc3545;
            position: relative;
            top: 0;
            font-family: 'Roboto-Regular';
          }
          .link-error {
            width: 100%;
            margin-top: 0;
            margin-left:10px;
            font-size: 13px;
            color: #dc3545;
            position: relative;
            top: 0;
            font-family: 'Roboto-Regular';
        }
    } 
    .file-attachment-body{
        height: calc(100vh - 168px) !important;
    }
    .delete-modal .modal-open .modal{
        z-index: 99999999 !important;
    }
    .delete-modal .modal-backdrop{
        z-index: 99999999 !important;
    }
}
.add-button{
    width: 85px;
    height: 35px;
    margin: 0 20px 0 0;
    padding: 0;
    border-radius: 18px;
    background-color: #469073;
    display: inline-block;
    position: relative;
    top:-3px;
    right: 0;
    text-align: center;
    &.active{
        opacity: 1;
        cursor: pointer;
    }
    &.inactive{
        opacity: .5;
        cursor: default;
    }
    .add-button-text{
        font-family: "Roboto-Medium";
        font-size: 15px;        
        color: #dadada;
        position: relative;
        top: 6px;
        text-align: center;        
        display: inline-block;
    }
    img{
        position: relative;
        top: 4px;
        left: 5px; 
    }
}
.close-button{
    display: inline-block;
    width: 16px;
    height: 17px;
    position: relative;
    top: 0;
    right: 0;
}