<div class="right-landing-toggle-menu-bar" >
    <div class="domain-toggle">
        <div class="filter-toggle" [ngClass]="{ 'expand-arrow': expandFlag, 'collapse-arrow': !expandFlag, 'hide-bg' : emptyResult }" (click)="toggleReplyInfo()">
          <span *ngIf="!expandFlag && !emptyResult && !loadingResult" class="threadid-text lt" (click)="tapOnThreadId();$event.stopPropagation();">
              <img class="lt-img" src="assets/images/thread-detail/dotted-post-img.png">
              <span class="ct-text comment-text">&nbsp;Comment</span>
          </span>
          <span *ngIf="!expandFlag && !emptyResult" (click)="tapOnThreadId();$event.stopPropagation();" class="threadid-text rt">Thread: ID# {{threadId}}&nbsp;&nbsp;</span>
        </div>
        <div class="domain-widget">
          
  
           
            <div *ngIf="!expandFlag">
              
              <div class="nothingtoshow" *ngIf="emptyResult && !loadingResult" [style.height.px]="innerHeight+25">
                <div class="no-data-contaier">
                  
              </div>
              </div>
  
              <div *ngIf="!emptyResult && !loadingResult">   
                <div class="th-outer-col th-outer-col-2 setborderbottom" style="margin-top:30px;">
                  <div [style.height.px]="innerHeight" style="width: 100%;background: #e1e1e1;">
                  <div #top id="step" class="ps thread-post threadReplyPostcomment" [perfectScrollbar]="sconfig">
                  
                  <div  #tdpage class="thread-detail-page ">
  
                <div *ngFor="let post of postData; let i = index;" class="reply-{{post.commentPostId}}">                            
                                     
                  <div class="post-div post-comment-div" id="notify-{{post.commentPostId}}" *ngIf="((post.deleteFlag == '0' || post.deleteFlag == '1'))"> 
                     
                      <!--div *ngIf="post.postLoading" class="thread-post-loader"><img src="assets/images/loading.svg" alt="Loader" /></div-->
                      <div class="post-div-col post-div-left" [ngClass]="{ 'setOpacity3' : post.postLoading }">                                
                          <div class="post-view" *ngIf="(post.deleteFlag == '1')">
                              <div class="post-row" >
                                  <div class="delete-comment-row">
                                      <img class="img" src="assets/images/thread-detail/delete-comment.png" alt="delete comment" />
                                      <span class="text">&nbsp;&nbsp;Comment deleted</span>
                                  </div>                                           
                              </div>                                
                          </div>
                          <div *ngIf="( post.postView && post.deleteFlag == '0')" class="post-view pid-{{post.commentPostId}}" [ngClass]="{ 'padding-bottom' : post.postNew }">                                
                              <div class="post-row display-table">
                                  <div class="display-tablecell post-col post-col1">
                                    <div class="tooltipUseDiv" >
                                        <div class="tooltipUseDivInner" ></div>                                                        
                                        <div class="post-profile-img" >
                                            <img class="post-p-img" [src]="post.commentProfileImage" onerror="this.src='assets/images/thumb_profile_image.png'"  />   
                                        </div>                                                    
                                        
                                    </div>
                                  </div>
                                      
                                  <div class="display-tablecell post-col post-col2">
                                      <div class="post-head display-table">
                                          <div class="display-tablecell post-head-col post-head-col1">  
                                              <div class="post-head-inner-col">
                                                  <div class="post-head-inner-col1">                                                                
                                                      <span class="name-text cursor-pointer" >
                                                          <span class="profile-topbadge-user-pview1" *ngIf="post.badgeTopUser"> <img  src="assets/images/thread/crownicon.svg"/></span>{{post.commentUserName}}
                                                      </span>                                                                
                                                      <span class="title-text th-head-inline" *ngIf="post.userRoleTitle != undefined" [ngClass]="{ 'marginTop16' : post.threadOwnerLabel, 'marginTop8' : !post.threadOwnerLabel }" title="{{post.commentUserRoleTitle}}"><span class="truncate1">{{post.userRoleTitle}}<span style="padding:0 ;" *ngIf="!post.threadOwnerLabel">,</span></span></span>                                                                    
                                                      <span *ngIf="post.threadOwnerLabel" class="thread-owner-label">Thread Owner</span>
                                                      <span class="posted-text" [ngClass]="{ 'marginTop12' : post.threadOwnerLabel && post.userRoleTitle != undefined, 'marginTop6' : !post.threadOwnerLabel && post.commentUserRoleTitle != undefined }">{{post.postedFrom}}</span>
                                                  </div>                                                           
                                              </div>                                    
                                          </div> 
  
                                      </div>
                                      <div class="post-cont" [ngClass]=" { 'active' : post.postNew, 'zendesk' : post.fromzenDesk, 'post-cont-active' : post.newComment  } ">
                                          <p class="post-desp" [innerHTML]="post.contentWeb"></p>
                                      
                                          <!-- Attachment List-->
                                          <app-attachment-view *ngIf="!post.attachmentLoading" [loading]="post.attachmentLoading" [action]="post.action" [dynamicGid]="'000'+post.commentPostId" [access]="pageAccess"  [attachments]="post.attachments"></app-attachment-view>
                                          <!-- Attachment List-->
  
                                          <div [ngClass]="{ 'table-row4-border' : post.attachmentLoading }" class="table-row4 cursor-pointer" > 
                                              <div class="display-table row4" >
                                                                                                          
                                                  <div class="display-tablecell row4-col2 setWidth90">  
                                                      <div class="icons-div icon-left">
                                                                                                    
                                                           <span *ngIf="post.enableActionButton" title="Translate" class="post-button post-button-green cursor-pointer" tooltipClass="post-submit-tooltip translate-tooltip" container="body" triggers="click" (click)="$event.stopPropagation();" [autoClose]="true" placement="bottom-right" [ngbTooltip]="SelectlanguageContent"><img class="post-delete-img cursor-pointer" src="assets/images/thread-detail/post-lang-icon.png" /></span>                                                       
                                                          <span class="th-date-text post-date-text">{{post.postCreatedOn}}</span> 
                                                          <ng-template #SelectlanguageContent>
                                                              <div class="thread-owner-reply div-f-border">
                                                                  <div class="display-table label-tt-cont" (click)="changeTranslateLanguage(post.transText,post.contentTranslate,i,'comment','')">
                                                                      <span class="display-tablecell label-tt-cont-lt cursor-pointer"><img width="32" height="32" src="assets/images/thread-detail/post-lang-translate.png"></span>
                                                                      <span class="display-tablecell label-tt-cont-rt cursor-pointer">{{post.transText}}</span>
                                                                  </div>                                                                                                                     
                                                              </div> 
                                                              <div class="thread-owner-reply div-s-border">
                                                                  <div class="display-table label-tt-cont" (click)="changeTranslateLanguage('settings',post.contentTranslate,i,'comment','')">
                                                                      <span class="display-tablecell label-tt-cont-lt cursor-pointer"><img width="32" height="32" src="assets/images/thread-detail/post-lang-settings.png"></span>
                                                                      <span class="display-tablecell label-tt-cont-rt cursor-pointer">Language Settings</span>
                                                                  </div>                                                                                                                     
                                                              </div>                                                          
                                                          </ng-template> 
                                                                                                                                                                    
                                                      </div>                                                                                                                         
                                                      <!--div *ngIf="!msTeamAccessMobile" class="icons-div icon-left">
                                                          <span title="Flag" class="icon icon-thread-flag"></span>                                
                                                      </div-->
                                                      <div class="icons-div icon-left setWidth50">
                                                      <div *ngIf="post.postType != '' && (post.postType == 'Fix' || post.postType == 'fix')">
                                                          <span class="proposed-bulb-border" *ngIf="(post.commentPostStatus == '0' && closeStatus == 0 && (this.userId == this.threadUserId || specialOwnerAccess) && this.userId != post.commentUserId)"></span>
                                                          <span *ngIf="(post.postStatus != '0' && closeStatus == 0 && (this.userId == this.threadUserId || specialOwnerAccess) && this.userId != post.commentUserId)"></span>
                                                          <span *ngIf="((closeStatus == 1) || ((userId != threadUserId && !specialOwnerAccess && userId != post.userId) || (userId != threadUserId && !specialOwnerAccess && userId == post.commentUserId) || ((this.userId == this.threadUserId || specialOwnerAccess) && userId == post.commentUserId)))" title="Post Status" class="icon icon-thread-bstatus{{post.commentPostStatus}}" ></span>  
                                                          
                                                      </div>   
                                                      </div>                                                         
                                                     
                                                  </div>
                                              </div>
                                          </div>
                                      </div>  
                                  </div>
                              </div>
                          </div> 
                                                                           
                      </div>
                      
                  </div>                          
                  
                  <!-- // Heading -->
                  <div class="post-div" *ngIf="post.commentNestedReplies.length>0">
                      <div class="post-div-col post-div-left"> 
                          <div class="post-view nested-post-view first-div">
                              <div class="seperater">
                                  <img class="lt-img" src="assets/images/thread-detail/dotted-reply-img.png">
                                  <span class="ct-text" *ngIf="post.commentNestedReplies.length == 1">Reply</span>
                                  <span class="ct-text" *ngIf="post.commentNestedReplies.length>1">Replies</span>
                                  <span class="rt-dot reply-dot">&nbsp;</span>
                              </div>                                                 
                          </div>
                      </div>
                      <div class="post-div-col post-div-right">&nbsp;</div>                            
                  </div> 
                  <!-- // Heading -->
                  <div *ngFor="let npdata of post.commentNestedReplies; let i1 = index;">
                      <div class="post-div post-reply-div" id="notify-{{npdata.replyPostId}}">                            
                          <!--div *ngIf="npdata.postReplyLoading" class="thread-post-loader"><img src="assets/images/loading.svg" alt="Loader" /></div-->
                          <div class="post-div-col post-div-left" [ngClass]="{ 'setOpacity3' : npdata.postReplyLoading }">                                
                              <div *ngIf="npdata.postView" class="post-view pid-{{npdata.replyPostId}} nested-post-view">                                
                                  <div class="post-row display-table">
                                      <div class="display-tablecell post-col post-col1">
                                        <div class="tooltipUseDiv" >
                                            <div class="tooltipUseDivInner" ></div>                                                        
                                                <div class="post-profile-img">
                                                    <img class="post-p-img" [src]="npdata.replyProfileImage" onerror="this.src='assets/images/thumb_profile_image.png'"  />   
                                                </div>                                                    
                                                
                                            </div>
                                        </div>
                                      <div class="display-tablecell post-col post-col2">
                                          <div class="post-head display-table">
                                              <div class="display-tablecell post-head-col post-head-col1">  
                                                  <div class="post-head-inner-col">                                                                
                                                      <div class="post-head-inner-col1 arrow-tt-hide">                                                                    
                                                          <span class="name-text cursor-pointer" >
                                                              <span class="profile-topbadge-user-pview1" *ngIf="npdata.badgeTopUser"> <img  src="assets/images/thread/crownicon.svg"/></span>{{npdata.replyUserName}}
                                                          </span>                                                                        
                                                          <span class="title-text th-head-inline" *ngIf="npdata.userRoleTitle != undefined" [ngClass]="{ 'marginTop16' : npdata.threadOwnerLabel, 'marginTop8' : !npdata.threadOwnerLabel }" title="{{npdata.userRoleTitle}}"><span class="truncate1">{{npdata.userRoleTitle}}<span style="padding:0 ;" *ngIf="!npdata.threadOwnerLabel">,</span></span></span>   
                                                          <span *ngIf="npdata.threadOwnerLabel" class="thread-owner-label">Thread Owner</span>                                                                                                                                        
                                                          <span class="posted-text" [ngClass]="{ 'marginTop12' : npdata.threadOwnerLabel && npdata.userRoleTitle != undefined, 'marginTop6' : !npdata.threadOwnerLabel && npdata.userRoleTitle != undefined }" >{{npdata.postedFrom}}</span>
                                                          <span *ngIf="npdata.newReply" popoverClass="new-dot-tooltip" [ngbPopover]="replynew" popoverTitle="New" placement="bottom" triggers="hover" class="dot-ret">&nbsp;</span>
                                                          <ng-template #replynew></ng-template>
                                                      </div>                                                                
                                                  </div>                                    
                                              </div>
                                              
                                              
                                          </div>
                                          <div class="post-cont" [ngClass]="{ 'post-cont-active-old' : npdata.newReply, 'zendesk' : post.fromzenDesk }">
                                              <p class="post-desp" [innerHTML]="npdata.contentWeb"></p>
                                          
                                              <!-- Attachment List-->
                                              <app-attachment-view *ngIf="!npdata.attachmentLoading" [loading]="npdata.attachmentLoading" [action]="npdata.action" [dynamicGid]="'00'+npdata.replyPostId" [access]="pageAccess"  [attachments]="npdata.attachments"></app-attachment-view>
                                              <!-- Attachment List-->
  
                                              <div [ngClass]="{ 'table-row4-border' : (npdata.replyUploadContents && npdata.replyUploadContents.length == 0) }" class="table-row4 cursor-pointer" > 
                                                  <div class="display-table row4" >
                                                      <div class="display-tablecell row4-col1 setWidth10">
                                                                                                                                                                                
                                                      </div>                                                        
                                                      <div class="display-tablecell row4-col2 setWidth90">
                                                          <div class="icons-div icon-left">
                                                                                                          
                                                              <span *ngIf="npdata.enableActionButton" title="Translate" class="npdata-button post-button-green cursor-pointer" tooltipClass="post-submit-tooltip translate-tooltip" container="body" triggers="click" (click)="$event.stopPropagation();" [autoClose]="true" placement="bottom-right" [ngbTooltip]="SelectlanguageContent"><img class="post-delete-img cursor-pointer" src="assets/images/thread-detail/post-lang-icon.png" /></span>                                                       
                                                              <span class="th-date-text post-date-text">{{npdata.postCreatedOn}}</span>                                                         
                                                              
                                                              <ng-template #SelectlanguageContent>
                                                                  <div class="thread-owner-reply div-f-border">
                                                                      <div class="display-table label-tt-cont" (click)="changeTranslateLanguage(npdata.transText,npdata.contentTranslate,i,'reply',parentPostId,i1)">
                                                                          <span class="display-tablecell label-tt-cont-lt cursor-pointer"><img width="32" height="32" src="assets/images/thread-detail/post-lang-translate.png"></span>
                                                                          <span class="display-tablecell label-tt-cont-rt cursor-pointer">{{npdata.transText}}</span>
                                                                      </div>                                                                                                                     
                                                                  </div> 
                                                                  <div class="thread-owner-reply div-s-border">
                                                                      <div class="display-table label-tt-cont" (click)="changeTranslateLanguage('settings',npdata.contentTranslate,i,'reply',parentPostId,i1)">
                                                                          <span class="display-tablecell label-tt-cont-lt cursor-pointer"><img width="32" height="32" src="assets/images/thread-detail/post-lang-settings.png"></span>
                                                                          <span class="display-tablecell label-tt-cont-rt cursor-pointer">Language Settings</span>
                                                                      </div>                                                                                                                     
                                                                  </div>                                                          
                                                              </ng-template> 

                                                              

                                                          </div>                                                                                                                                
                                                          <!--div *ngIf="!msTeamAccessMobile" class="icons-div icon-left">
                                                              <span title="Flag" class="icon icon-thread-flag"></span>                                
                                                          </div-->
                                                          <div class="icons-div icon-left setWidth50">
                                                          <div *ngIf="npdata.postType != '' && (npdata.postType == 'Fix' || npdata.postType == 'fix')">
                                                              <span class="proposed-bulb-border" *ngIf="(npdata.replyPostStatus == '0' && closeStatus == 0 && (this.userId == this.threadUserId || specialOwnerAccess) && this.userId != npdata.userId)"></span>
                                                              <span *ngIf="(npdata.replyPostStatus != '0' && closeStatus == 0 && (this.userId == this.threadUserId || specialOwnerAccess) && this.userId != npdata.userId)"></span>
                                                              <span *ngIf="((closeStatus == 1) || ((userId != threadUserId && !specialOwnerAccess && userId != npdata.userId) || (userId != threadUserId && !specialOwnerAccess && userId == npdata.userId) || ((this.userId == this.threadUserId || specialOwnerAccess) && userId == npdata.userId)))" title="Post Status" class="icon icon-thread-bstatus{{npdata.replyPostStatus}}" ></span>  
                                                              
                                                          </div>  
                                                          </div>                                                          
                                                          
                                                      </div>
                                                  </div>
                                              </div>
                                              
                                          </div>
                                          <!--div *ngIf="npdata.remindersData!=''">
                                              <div class="reminder-view mTop">
                                                  <div class="reminder-row" *ngFor="let prdata of npdata.remindersData;" >
                                                      <p *ngIf="prdata.title != ''" class="reminder-title">{{prdata.title}}</p>
                                                      <div class="reminder-date"><img src="assets/images/thread-detail/thread-view-reminder.png"> <span>Reminder sent on {{prdata.createdOn}}</span></div>                                                                                               
                                                  </div>
                                              </div> 
                                          </div-->                                            
                                      </div>
                                  </div>
                              </div> 
                                                                                    
                          </div>
                      </div>
                  </div>  
                  <!-- empty div start----- Loading div  --->
                  <div class="post-div" *ngIf="post.postReplyLoading">
                      <div class="post-div-col post-div-left"> 
                          <div class="post-view">
                              <div class="post-view-paddBottom" >
                                  <div class="post-loader">
                                      <div class="post-loader-svg"></div>
                                  </div>
                              </div>                                
                          </div>                                                      
                      </div>
                      <div class="post-div-col post-div-right">&nbsp;</div>
                  </div>
                  
              <!-- <button (click)="taponDescription(post.contentDesc,post,i)">language Convert</button>
              -->
              </div> 
                </div>
              
                
              </div>
  
              
  
            </div>
  
            
            
        </div>
      </div>
  
  
  
  