::ng-deep .sidebar {
  overflow: hidden;
  width: calc(100% - 8px);
  &.gts-scrollbar:hover {
    overflow: auto;
    width: 100%;
  }
  .p-card-content {
    .img {
      border-radius: 6px;
      background-color: #c0c3c5;
      margin-bottom: 10px;
    }
  }
  .p-card {
    background: #f8f2f2 !important;
    .p-accordion-tab {
      margin-bottom: 0.7rem !important;
      .p-accordion-header {
        .p-accordion-header-link {
          background: #f3e0e0;
          flex-direction: row-reverse !important;
          justify-content: space-between;
          height: 35px;
          .p-accordion-header-text {
            font-family: Roboto-Medium;
            color: #5e6980 !important;
            font-size: 14px;
            font-weight: 500;
          }
          .p-accordion-toggle-icon {
            color: #5e6980 !important;
          }
        }
      }
    }
  }

  .p-chip {
    background-color: #6177a0;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    margin: 5px;
    padding: 1px 10px;
  }
}

.h-100 {
  height: calc(100vh - 95px)!important;
}
