p {
  font-family: Lato;
}

image-cropper {
  height: 50vh;
}
.profile-delete-vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.profile-delete-container { 
  
  position: relative;
 
}
.profile_deleted_message
{
    text-align: center;
    font-size: 18px;
   
    font-family: "Roboto-Light";
    color:#595959;
    padding-top:15px;
}