@import url('//fonts.cdnfonts.com/css/roboto');
.header-style-1 {
  height: 135px;
  border-radius: 10px;
}
.training-heading-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.training-description-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #9999ae;
}
.custom-table-heading {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px!important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left!important;
  color: #fff!important;
  text-align: left !important;
  box-shadow: none;
}
.split-col {
  display: inline-block;
  vertical-align: middle;
  &.catg-col {
    width: 96%;
  }
  &.act-col {
    width: 4%;
    .vin-btn {
      background-color: #eaedfa;
      width: 40px;
      height: 40px;
      margin-left: 10px;
      padding: 12px;
    }
  }
}
.icons-size {
  width: 20px;
  height: 20px;
  &.mail {
    width: 18px;
    height: 13px;
  }
}
.icons-size-new {
  width: 19px;
  height: 22px;
}
input::placeholder {
  color: #b5b5b5;
  opacity: 1;
}

.dispatch-modal {
  z-index: 10000;
  ::ng-deep .p-dialog {
    width: 1000px !important;

    .p-dialog-content {
      // padding: 1rem 1.5rem 2rem 1.5rem !important;
      font-size: 14px !important;
      padding: 0 1.5rem 1.5rem 1.5rem!important;
    }
    .p-dropdown,
    .p-multiselect {
      width: 100% !important;
      height: 41px !important;
      background-color: #fbfbfb;
      border: solid 1px #dbddde;
      border-radius: 6px;

      .p-placeholder {
        color: #b5b5b5 !important;
      }
      .p-dropdown-panel {
        .p-dropdown-items-wrapper {
          max-height: 210px !important;
        }
      }
    }

    p-dropdown {
      &.mvisible {
        .p-dropdown {
          &.p-disabled {
            opacity: 1;
          }
        }
      }
    }

    .p-dropdown-label {
      &:focus, &:hover {
        border: 0 none;
      }
    }

    .p-dialog-header .p-dialog-title {
      font-size: 14px !important;
    }

    .p-inputtextarea-resizable {
      height: auto !important;
      color: #000 !important;
    }

    .p-dropdown-trigger-icon {
      color: #d1d1d1 !important;
      width: 14px !important;
      height: 10px !important;
    }

    .p-dropdown-label,
    .p-multiselect-label,
    .p-multiselect-item,
    .p-dropdown-item {
      font-size: 14px !important;
      color: #000 !important;
      position: relative;
      .option-item {
        .edit {
          display: none;
          position: absolute;
          right: 15px;
        }
      }
      &:hover {
        .option-item {
          .edit {
            display: inline-block;
          }
        }
      }
    }
  }
}

.dispatch-modal {
  :host ::ng-deep .p-button {
    margin: 0 0.5rem 0 0;
    min-width: 10rem;
  }

  .p-button.p-button-danger:enabled:focus, .p-buttonset.p-button-danger > .p-button:enabled:focus, .p-splitbutton.p-button-danger > .p-button:enabled:focus {
    box-shadow: none;
  }

  p {
    margin: 0;
  }

  .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
  }
}

.vin-btn {
  border-radius: 6px;
  height: 43px;
  width: 43px;
  padding: 11px 10px 11px 11px;
  width: 43px;
  height: 43px;
  border: solid 1px #bac2e9;
  background-color: #eaedfa;
}

.range-text {
  color: #b5b5b5;
}

.new-request-icon {
  fill: #b2b2b2;
}
.custom-table-values {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #787474;
}
.margin-top-30px {
  margin-top: 30px!important;
}
.margin-right-20px {
  margin-right: 20px!important;
}
.display-flex {
  display: flex;
}
.display-align-end {
  display: flex!important;
  align-items: end!important;
}
.col-1-custom-design {
  flex: 0 0 3%;
  max-width: 3%;
}
.col-3-custom-design {
  flex: 0 0 29%;
  max-width: 29%;
}
.col-8-custom-design {
  flex: 0 0 64%;
  max-width: 64%;
}
.flex-justify-spacebetween {
  display: flex;
  justify-content: space-between;
}
.custom-question-input {
  height: 66px;
  padding: 10px 10px 30px 10px;
  border-radius: 6px!important;
  border: solid 1px #dbddde;
  background-color: #fbfbfb;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  color: #000;
}
.custom-question-input-1 {
  height: 44px;
  padding: 10px;
  width: 100%;
  border-radius: 6px!important;
  border: solid 1px #dbddde;
  background-color: #fbfbfb;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  color: #000;
}
.topic-title {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.required-font-style {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}
.custom-topic-input-1 {
  width: 329px;
  height: 41px;
  padding: 10px 10px 10px 10px;
  border: solid 1px #dbddde;
  background-color: #fbfbfb;
  object-fit: contain;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #b5b5b5;
}
.no-padding {
  padding: 0px!important;
}
.flex-align-center-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.flex-align-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
.correct-answer-design {
  margin: 0 0 0 10px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.points-label-design {
  margin: 0px 10px 0px 0px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.correct-answer-design-1 {
  margin: 0 30px 0 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.margin-right-35px {
  margin: 0 35px 0 0!important;
}
.inner-card-heading {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  width: 240px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inner-card-description-1 {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
  width: 160px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inner-card-description-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  width: 160px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.new-training-text-design {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #888;
}
.inner-card-description-3 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3c424d;
  width: 160px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.no-margin {
  margin: 0px!important;
}
.custom-card-style {
  padding: 0 15px!important;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-right-6px {
  margin-right: 6px;
}
.margin-right-5px {
  margin-right: 5px;
}
.margin-right-9px {
  margin-right: 9px;
}
.inner-card-description-4 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #298369;
  width: 100px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.custom-style-1 {
  border-radius: 10px;
  border: solid 1px #298369;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  width: 135px;
}
.custom-style-2 {
  border-radius: 10px;
  border: solid 1px #666dc3;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  width: 135px;
}
.inner-card-description-5 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666dc3;
  width: 100px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.margin-top-10px {
  margin-top: 10px!important
}
.header-style-2 {
  border-radius: 10px;
  border: solid 1px #e9eaea;
  background-color: #f5f6f6;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  height: 125px !important;
}
.default-img-size {
  width: 59px!important;
  height: 53px!important;
}
.margin-right-10px {
  margin-right: 10px!important
}
.new-style-changes {
  height: 125px!important;
  img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
}
.card-design-new {
  width: 250px!important;
  height: 380px!important;
}
.card-parent-design-new {
  margin: 25px 25px 0px 0px!important;
  height: calc(100vh - 155px)!important;
  overflow: hidden;
}
.marketplace-text-design {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #4e5257;
}
.margin-right-11px {
  margin-right: 11px!important;
}
.margin-left-15px {
  margin-left: 15px!important;
}
.left-0px {
  left: 0px!important;
}
.margin-bottom-15px {
  margin-bottom: 15px!important;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-button-design {
  width: 139px;
  height: 32px;
  border-radius: 6px;
  background-color: #fa972d;
  cursor: pointer;
}
.white-text-button-design-text {
  font-size: 14px;
  color: #fff;
  margin-right: 5px;
}
.margin-top-bottom-30px {
  margin: 30px 0;
}
.new-trainging-button-text-design {
  font-family: 'Roboto', sans-serif !important;;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-align-end {
  display: flex;
  align-items: end;
}
.question-type-select {
  margin: 0px 8px 0px 0px;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.icon-styled {
  font-size: 16px;
  color: #000;
}
.question-type-select-box-design {
  width: 300px;
  height: 152px;
  padding: 10px 20px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.13);
  background-color: #313d55;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  left: 4%;
  top: 90%;
}
.align-item-baseline {
  align-items: baseline;
}
.inner-text-design {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.custom-text-desgin {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #4e5257;
}
.margin-right-8px {
  margin-right: 8px;
}
.custom-masonry-margin {
  margin: 0px 20px 20px 0px!important;
}
.display-align-center {
  display: flex;
  align-items: center;
}
.page-title-design {
  font-size: 22px;
  font-family: Roboto-Bold;
  color: #4b4c4c;
  vertical-align: middle;
  position: relative;
  top: 10px;
}
::ng-deep {
  .ps__rail-x {
    display: none !important;
  }
  .masonry-item-container {
    margin-bottom: 25px;
  }
  .full-height {
    height: 90% !important;
  }

  body .cbt-filter.filter-expand.thread-filter {
    padding: 5px 0px 10px 0px !important;
  }

  .right-landing-toggle-menu-bar .filter-toggle {
    top: 8px !important;
  }
}
.center-middle-width-container {
  padding-right: 30px !important;
}
.error-msg-new {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.question-view-label-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.question-view-value-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.question-label-design {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.question-required-color {
  color: #f00;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: -80px;
  top: 30px;
  min-width: 152px;
  background-color: #313d55;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}
.dropdown-content a {
  text-decoration: none;
  display: block;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #fff!important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
:host .custom-header {
  height: 51px;
  padding: 10px 20px;
  background-color: #9ca0ac;
  display: flex;
}
.hover-effect:hover {
  background: #fef1f1;
}

::ng-deep {
  .p-inputswitch .p-inputswitch-slider:before {
    width: 1rem !important;
    height: 1rem !important;
    margin-top: -0.525rem !important;
  }
  .refer-info.attachment-info .attachment-cont {
    margin: 0 !important;
  }
  .refer-info {
    padding: 0 !important;
  }
}
