::ng-deep{

  .lg-outer .lg .lg-sub-html a.copy-link{
    color:#298368 !important;
    font-family: "Roboto-Regular";
    font-size: 14px; 
    display: block;
    cursor: pointer;
    width: 150px;
    height: 30px;
    margin:10px auto 0;
    display: block;
  }
  .lg-outer .copied-link{ 
    background: #3c424d;
    font-family: "Roboto-Regular";
    font-size: 14px; 
    border-radius: 10px;
    color: #FFF;
    margin: 0 auto;
    padding: 0;
    width: 150px;
      height: 30px;
margin:10px auto 0;
padding: 4px 0 0 0;
    }
  }