.container {
    .user-heading {
        font-size: 18px;
        font-family: Roboto-Medium;
    }

    .modal-heading {
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 20px;
        margin-bottom: 25px;
    }
    .action-buttons button.button-save-hq {
        background-color: #298368;
        border: solid 1px #469073;
        position: relative;
        left: 0;
        border-radius: 25px;
        padding: 4px 12px;
        margin-right: 16px;
    }

    .close-btn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
    }

    .input-user {
        padding-bottom: 12px;
    }

    .input-filed {
        ::placeholder {
            color: #999999 !important;
        }
        input {
            border: solid 1px #dbddde;
            background-color: #fbfbfb;
            color: #000000;
            font-size: 14px;
        }
    }

    .new-request-icon {
        fill: #b2b2b2;
    }
    .icons-size {
        width: 20px;
        height: 20px;
    }

    .field-err {
        font-size: 13px;
        font-family: Roboto-Regular;
        color: #dc3545;
    }

    label {
        color: #9b9a9a;
        font-size: 14px;
    }

    .user-wrapper {
        padding: 0 26px 0 27px;

        .user-filed {
            padding-bottom: 21px;
        }

        .required-txt {
            color: #b2b2b2;
            font-style: italic;
            font-size: 14px;
        }
    }
}


    // .input-error {
    //   border-color: #f44336 !important ;
    // }
    :host ::ng-deep {
        .p-dropdown-state{
            .p-dropdown{width: 100%;}            
        }
        .toggle-box-user {              
            .toggle-col {
              display: inline-block;
              vertical-align: bottom;
              top: 0px;
          
              &.field-label {
                display: inline-block;
                width: 50%;                
                padding-left: 10px;
                line-height: normal;
                font-size: 14px !important;
                font-family: 'Roboto-Regular';
                color: #000;
                &.field-label-pu{white-space: nowrap;}
              }
          
              &.toggle-option {
                position: relative;
          
                p-inputswitch::ng-deep .p-inputswitch {
                    height: 22px;
                    position: relative;
                    top: 3px;
                    width: 40px;
                    
          
                  .p-inputswitch-slider {
                    box-shadow: none;
          
                    &:before {
                        width: 18px;
                        height: 18px;
                        margin-top: -9px;
                        left: 4px;
                    }
          
                    &:after {
                      color: #ffffff;
                      content: "";
                      font-size: 12px;
                      position: absolute;
                      left: 25px;
                      top: 3px;
                    }
                  }
          
                  &.p-inputswitch-checked {
                    .p-inputswitch-slider {
                      background: #469073;
          
                      &:before {
                        transform: translateX(1rem);
                        left: 5px;
                      }
          
                      &:after {
                        content: "";
                        left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }

        .input-error {
            .required-txt{
                color:#f44336 !important;
            }
            .input-filed{
                input{
                    border-color: #f44336 !important ;
                };
            }
            .p-component{
                border-color: #f44336 !important ;
            }
        }
        .success-ok-tick{
            &.success-ok-tick-de{
                right: 6px;
            }
        }
        .new-user-error-text{
            font-family: Roboto-Regular;
            font-size: 14px;
            font-style: italic;
            text-align: left;
            color: #de4640;
        }
        .new-user-default-text{
            font-family: Roboto-Regular;
            font-size: 14px;
            font-style: italic;
            text-align: left;
            color: #a8a6b3;
        }        
        .location-cont{
            display: block;
            margin: 0;
            font-size: 14px;
            font-family: 'Roboto-Regular';
            color: #9b9a9a;
        }
        .location-cont p-checkbox .p-checkbox .p-checkbox-box{
            width: 100%;
            height: 100%;
            border-color: #ced4da;
        }    
        .location-cont .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
            box-shadow: none;
        }
        .location-cont .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
            box-shadow: none;
            background-color: #469073;
            border-color: #469073;
        }
        .location-cont p-checkbox .p-checkbox .p-checkbox-box.p-highlight{
            background-color: #469073;
            border-color: #469073;
        }
        .location-contp-checkbox .p-checkbox .p-checkbox-box:hover{
            border-color: #ced4da;
        }
        .location-cont p-checkbox .p-checkbox{
            border-radius: 4px;
            position: relative;
            left: 3px;
            top: 0px;
            width: 17px;
            height: 17px;
        }
        .location-cont p-checkbox .p-checkbox-label{
            color: #000;
            font-size: 14px;
            position: relative;
            top: 4px;
        }
        }