.cust-loader.esc-loader.cust-lazy-loader.gtss-ws-loader{
  bottom: -26px;
}
.cust-loader.esc-loader.cust-lazy-loader.gtss-loader{
  bottom: -10px;
  left: 58%;
}
.gts-mat-table .mat-table {
  width: 200%;
}
.gts-mat-table.overflow {
  overflow-x: auto;
}
.mat-table .mat-row .mat-cell:first-child {
  left: 0 !important;
  padding-left: 24px;
}

.left-0 {
  left: 0% !important;
}
.mat-header-cell{
  font-size: 14px !important;
  font-family: 'Roboto-Regular' !important;
}
.mat-row {
  cursor: pointer;
  .mat-cell {
    display: table-cell;
    
    &:first-child {
      padding-left: 0;
      position: relative;
      left: 14px;
      &.mat-table-sticky {
        left: 24px !important;
      }
      &.mat-column-catgName {
        &.mat-table-sticky {
          left: 0 !important;
          padding-left: 24px !important;
        }
      }
    }
    color: #787474;    
    font-size: 14px !important;
    font-family: 'Roboto-Regular' !important;
    padding: 10px 5px;
    &.mat-column-status {
      .status {
        border-radius: 12px;
        color: #ffffff;
        display: table-cell;
        margin: 0 auto;
        padding: 2px 12px;
        width: 80px;
      }
      .more-icon {
        padding-left: 25px;
      }
    }
    &.mat-column-status {
      .status {
        border-radius: 12px;
        color: #ffffff;
        display: inline-block;
        margin: 0 auto;
        padding: 2px 12px;
        text-align: center;
        width: 90px;
      }
      .more-icon {
        padding-left: 5px;
      }
    }

    .multiple-items {
      .multiple {
        color: #007bff;
      }
    }
  }
  &:hover,
  &.active {
    background-color: #f6f6f8;
    .mat-cell {
      &.mat-column-status {
        .more-icon {
          visibility: visible;
        }
      }
    }
  }
}
.cust-loader {
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 100;
  img{
    left: 60%;
  }
}

.no-item-list {
  position: relative;
  background-color: #dfe1e3;
  border-radius: 16px;
  .item-empty-container {
    .empty-cont {
      .empty-res {
        color: #b2b2b2;
        display: block;       
        margin: 0 auto;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        max-width: 100%;
        .makepopuptext-spa {
          padding:30px 0;
          font-family: 'Roboto-Regular';
          font-size: 14px;
          color:#888888;
          text-align: center;
          max-width: 450px;
          margin: 0 auto;
          font-style: italic;
        }
        img {
          margin: 0 auto;    
          display: block;    
          width: 250px;      
          height: 250px;    
        }
        span{
          width: 166px;
          display: block;
          margin: 0 auto !important;
          background: url("/assets/images/probing/add-icon.png") no-repeat 8px 9px;
          background-color: #fb982c;
          border-radius: 6px;
          cursor: pointer;
          color: #fff;
          font-size: 14px;
          padding: 7px 10px 7px 30px !important;
        }
      }
    }
  }
}
.parts-thumb-view{
  background-color: #dfe1e3;
  border-radius: 16px;
}
#matrixTable{
  height: 100%;
}
.mat-card-image{
  width: 30% !important;
  height: 98px !important;
  background-size: 100% !important;
}
.masonry-item{
  width: 350px;
}
.gts-date{
  padding: 5px 0 0 0;
}
.del-gts{
  width: 12px;
  height: 14px;
  position: relative;
  top: -2px;
}
.mat-header-row {
  .mat-header-cell {
    &:last-child{     
      flex: 0 0 150px !important;    
      max-width: 150px !important;  
    }  
  }
}
.mat-row {                                                                             
  .mat-cell{
    &:last-child{     
      flex: 0 0 150px !important;   
      max-width: 150px !important;                          
    }
  }
}
.hide{
  display: none !important;
}
.ch-icon{
  img{
    position: relative;
    top:-1px;
  }
}
.goto-button{
  background-color: #e55554;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px 7px 10px;
  width: 105px;
  display: block;
  margin: 0 auto !important;  
  text-align: center;
  img{
    width: auto !important;
    height: auto !important;
    display: inline-block !important
  }
} 
.empty-res-new{
  padding: 0 !important;
  margin-top: -15px !important;
}
::ng-deep{
  body.parts-list .gts-list-table .p-datatable .p-datatable-thead .thl-col-18,
  body.parts-list .gts-list-table .p-datatable .p-datatable-tbody .thl-col-18{
    width: 190px;
    &.wflow18{
      width: 230px;
    }
  }
  body.parts-list .gts-list-table .p-datatable .p-datatable-thead .thl-col-2,
  body.parts-list .gts-list-table .p-datatable .p-datatable-tbody .thl-col-2{
    width: 250px;
  }
  .start-gts-btn{
    border-radius: 20px;
    background-color: #29ac6a;
    border: none;
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #fff;
    padding: 4px 17px;
    img{
      &.simg{
        width: 16px !important;
        height: 16px !important;
        margin-right: 2px;
        position: relative;
        top: -1px;
        right: 3px;
      }
    }
  }
  .mat-menu-content:not(:empty){
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  .action-link{
    color: #0044cc;
    text-decoration: underline;
  }

}