.folder-card {
  margin: 0 !important;
  .document-folder-item-system{
    margin: 10px 5px !important;
  }
}
.doc-list-cont{
  margin: 10px 0;
}
.mat-toolbar.mat-primary{
  display:none;
}
.img-del{
  position: relative;
  top: -3px;
}
.img-upload {
  position: relative;
  top: -2px;
  width: 17px;
}
::ng-deep .documents-grid-row #documentTable .doc-item .item-col.icon.mfg-col.icon{
    width: 218px;
    text-align: center;
    .folder-bg{
      position: absolute;
      width: 40px;
      height: 40px;
      left: 20px;
    }
    .mfg-logo-new{
      height: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding-left: 40px;
      img{
        border-radius: 6px;
        max-width: 90%;
        max-height: 40px;
      }
    }
}
.system-folder{
  color: #9999ae !important;
  font-family: "Roboto-Medium";
  font-size: 12px !important;
  font-weight: normal;
}
