.udisabled {
  opacity: 0.3;
  cursor: default !important;
}

.activeUserBtn {
  border-color: white;
  background-color: #999999;
  color: white;
}

.td-title {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #424448;
}

::ng-deep .product-matrix .modal-dialog {
  max-width: 800px !important;
}

::ng-deep .manage-modal .modal-header .actions .action-col.clearCss {
  left: 40px;
  left: 30px;
  text-transform: uppercase;
  background-position: 102px center;
}

::ng-deep .manage-modal .modal-header .actions .action-col.applyCss {
  right: 50px;
  background-position: 55px center;
}

.pbr-50 {
  border-bottom-right-radius: 50px;
}

.bg-color {
  background-color: #f6f7fa;
}

.productOwner-div {
  background: #f1f4f9 !important;
  border-bottom-right-radius: 1rem;

  table {
    tr {
      background: transparent;
      cursor: default;
    }

    tr:hover {
      background: transparent;
      cursor: default;
    }
  }
}

.productOwner-HeadText {
  font-family: "Roboto-Medium";
  font-size: 14px;
  color: #2d3440;
  padding: 8px 0 0px 10px;
  text-transform: uppercase;
  margin-bottom: -8px;
  display: block;
}

.no-item-list {
  margin: 5rem auto;

  img {
    width: 84px;
    height: 77px;
    object-fit: contain;
  }

  .message {
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: left;
    color: #919191;
    ;
  }
}

.bg-color-white {
  background: #ffffff !important;
}

.add-new {
  height: 28px;
  padding: 6px 15px;
  border-radius: 14px;
  border: solid 1px #469073;
  background-color: #469073;
  margin-right: 32px;
  line-height: 12px;
}