@import url('//fonts.cdnfonts.com/css/roboto');
.header-style-1 {
  height: 135px;
  border-radius: 10px;
}
.training-heading-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.back-arrow-design {
  width: 24px;
  height: 24px;
  padding: 6px 4px 6px 6px;
  background-color: #4c4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.users-image-design {
  width: 37px;
  height: 37px;
  opacity: 0.8;
  border-radius: 25px!important;
  background: #abb6cc;
}
.training-description-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #9999ae;
}
.zoom-setting-div-section {
  width: 48% !important;
  float: left;
  border: solid 1px #ddd!important;
  border-radius: 16px!important;
  margin-left: 20px;
  margin-bottom: 15px;
  background-color: white;
  .zoom-setting-div-section-img{
    width:19px;
    object-fit: contain;
  }
  &.custom-position:nth-child(2n + 1){
    clear: both;
  }
}
.zoom-setting-div-section-header {
  width: 100%!important;
  height: 41px!important;
  background: #888888!important;
  display: flex!important;
  border-radius: 16px 16px 0 0!important;
  // justify-content: center!important;
  padding-left: 15px;
  margin-bottom: 16px;
  align-items: center!important;
  position: relative;
  line-height: 1;

  img{
    object-fit: contain !important;
  }

  .edit-email-settings {
    position: absolute;
    right: 15px;
    top: 08px;

    .edit-button {
      width: 20px;
      cursor: pointer;
    }

    .save-button {
      filter: invert(1);
      width: 18px;
    }
  }
  .master-button{
    margin-left: 21px;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 20px;
    color: white;
    border: 1px solid #ededed;
  }
}

.zoom-setting-div-section-body .edit-email-settings {
  position: absolute;
  right: 15px;
  top: 20px;

  .edit-button {
    width: 20px;
    cursor: pointer;
  }

  .save-button {
    filter: invert(1);
    width: 18px;
  }
}

.email-setting-input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 4px 8px;
}
.zoom-setting-div-section-body {
  position: relative;
  width: 100%!important;
  border-radius: 0 0 16px 16px!important;
  padding: 0px 12px 12px;
  display: inline-block;
  .user-emails {
    color: white !important;
    background-color: #777777;
    border-radius: 20px;
    padding: 3px 14px;
    float: left;
    margin: 5px 12px 0 0px;
    font-size: 13px;
  }

}
.zoom-background-image-div {
  position: relative;
  margin-left: 29px !important;
  width: 321px !important;
  height: 181px !important;
  border: 1px solid #eaeaea;
  background-color: #fbfbfb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .upload-actions {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
.zoom-setting-heading-text-style {
  font-family: 'Roboto', sans-serif !important;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.flex-space-between {
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
}
.zoom-setting-sub-heading-text-style {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  &.light {
    color: #999999;
  }
  &.add-users{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 18px;
    color:#469073 !important ;
    img{
      margin-right: 5px;
    }
  }
  &.font-setting{
    font-weight: 500;
  }
}
.zoom-setting-text-style {
  width: 508px!important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #777;
  &.virtual-width{
    width: auto !important;
  }
  
}

.email-settings .zoom-setting-text-style {
  // font-size: 15px;
  color: #111;
  width: 100% !important;
  float: left;
}

.custom-table-heading {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px!important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left!important;
  color: #fff!important;
  text-align: left !important;
  box-shadow: none;
}
.split-col {
  display: inline-block;
  vertical-align: middle;
  &.catg-col {
    width: 96%;
  }
  &.act-col {
    width: 4%;
    .vin-btn {
      background-color: #eaedfa;
      width: 40px;
      height: 40px;
      margin-left: 10px;
      padding: 12px;
    }
  }
}
.icons-size {
  width: 20px;
  height: 20px;
  &.mail {
    width: 18px;
    height: 13px;
  }
}
.icons-size-new {
  width: 19px;
  height: 22px;
}
input::placeholder {
  color: #b5b5b5;
  opacity: 1;
}

.dispatch-modal {
  z-index: 10000;
  ::ng-deep .p-dialog {
    width: 1000px !important;

    .p-dialog-content {
      // padding: 1rem 1.5rem 2rem 1.5rem !important;
      font-size: 14px !important;
      padding: 0 1.5rem 1.5rem 1.5rem!important;
    }
    .p-dropdown,
    .p-multiselect {
      width: 100% !important;
      height: 41px !important;
      background-color: #fbfbfb;
      border: solid 1px #dbddde;
      border-radius: 6px;

      .p-placeholder {
        color: #b5b5b5 !important;
      }
      .p-dropdown-panel {
        .p-dropdown-items-wrapper {
          max-height: 210px !important;
        }
      }
    }

    p-dropdown {
      &.mvisible {
        .p-dropdown {
          &.p-disabled {
            opacity: 1;
          }
        }
      }
    }

    .p-dropdown-label {
      &:focus, &:hover {
        border: 0 none;
      }
    }

    .p-dialog-header .p-dialog-title {
      font-size: 14px !important;
    }

    .p-inputtextarea-resizable {
      height: auto !important;
      color: #000 !important;
    }

    .p-dropdown-trigger-icon {
      color: #d1d1d1 !important;
      width: 14px !important;
      height: 10px !important;
    }

    .p-dropdown-label,
    .p-multiselect-label,
    .p-multiselect-item,
    .p-dropdown-item {
      font-size: 14px !important;
      color: #000 !important;
      position: relative;
      .option-item {
        .edit {
          display: none;
          position: absolute;
          right: 15px;
        }
      }
      &:hover {
        .option-item {
          .edit {
            display: inline-block;
          }
        }
      }
    }
  }
}
::ng-deep {
  .p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: none!important;
  }
  .market-place-settings-msg{
    position: relative;
    .p-messages{
      top: 24px !important;
      width: auto !important;
      z-index: 1 !important;
      position: absolute;
      min-width: 300px !important;
      left: 45% !important;
      transform: translateX(-50%);
      .p-message-detail {
          white-space: nowrap !important;
      }
      .p-message-wrapper{
        padding: 14px 20px !important;
      }
      .p-message{
        min-width: 100% !important;
      }
    }
  }
}
.dispatch-modal {
  :host ::ng-deep .p-button {
    margin: 0 0.5rem 0 0;
    min-width: 10rem;
  }

  .p-button.p-button-danger:enabled:focus, .p-buttonset.p-button-danger > .p-button:enabled:focus, .p-splitbutton.p-button-danger > .p-button:enabled:focus {
    box-shadow: none;
  }

  p {
    margin: 0;
  }

  .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
  }
}

.vin-btn {
  border-radius: 6px;
  height: 43px;
  width: 43px;
  padding: 11px 10px 11px 11px;
  width: 43px;
  height: 43px;
  border: solid 1px #bac2e9;
  background-color: #eaedfa;
}

.range-text {
  color: #b5b5b5;
}

.new-request-icon {
  fill: #b2b2b2;
}
.custom-table-values {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #6c717c;
}
.margin-top-30px {
  margin-top: 30px!important;
}
.margin-right-20px {
  margin-right: 20px!important;
}
.display-flex {
  display: flex;
}
.display-align-end {
  display: flex!important;
  align-items: end!important;
}
.padding-right-15px {
  padding-right: 15px!important;
}
.padding-left-0px {
  padding-left: 0px!important;
}
.customer-text-design {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.div-design-for-customer-add {
  display: flex;
  height: 31px;
  width: 148px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: solid 1px #469073;
}
.div-design-for-template-download {
  display: flex;
  height: 31px;
  width: 90px;
  margin-right: 20px;
  align-items: center;
  justify-content: start;
}
.div-design-for-download-upload-customers {
  display: flex;
  height: 31px;
  width: 165px;
  margin-right: 20px;
  align-items: center;
  justify-content: start;
}
.new-design {
  height: 46px!important;
  .p-inputgroup-addon {
      background: #f3f3f3!important;
      border: 1px solid #dbddde;
  }
  input::placeholder {
      color: #9b9a9a;
  }
  input {
      border-left: none!important;
      font-family: 'Roboto-Regular';
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      background: #fbfbfb;
      border: 1px solid #dbddde;
  }
}
.position-relative-class {
  position: relative;
  top: 10px;
}
.custom-buttom-design-new-2, .custom-buttom-design-new-2:hover {
  border-radius: 6px;
  background-color: #469073;
  display: flex;
  margin-right: 15px;
  align-items: center;
  padding: 6px 28px 6px 28px;
  border: 1px solid #469073;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.new-design-2 {
  align-items: end;
  .p-inputgroup-addon {
    background: transparent;
    border: none;
    padding: 0px;
  }
}
.view-value-style {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.green-button-color {
  background-color: #469073!important;
  border: 1px solid #469073!important;
}
.view-label-style {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999;
}
.error-msg {
  color: red;
}
.flex-start {
  display: flex;
  justify-content: start;
}
.margin-top-24px {
  margin-top: 24px!important;
}
.custom-buttom-design-new, .custom-buttom-design-new:hover {
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 6px 28px 6px 28px;
  border: 1px solid #cecece;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-top-15px {
  margin-top: 15px;
}
.col-1-custom-design {
  flex: 0 0 3%;
  max-width: 3%;
}
.col-3-custom-design {
  flex: 0 0 29%;
  max-width: 29%;
}
.col-8-custom-design {
  flex: 0 0 64%;
  max-width: 64%;
}
.flex-justify-spacebetween {
  display: flex;
  justify-content: space-between;
}
.custom-question-input {
  height: 66px;
  padding: 10px 10px 30px 10px;
  border-radius: 6px!important;
  border: solid 1px #dbddde;
  background-color: #fbfbfb;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  color: #000;
}
.custom-question-input-1 {
  height: 44px;
  padding: 10px;
  width: 100%;
  border-radius: 6px!important;
  border: solid 1px #dbddde;
  background-color: #fbfbfb;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  color: #000;
}
.topic-title {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.required-font-style {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}
.custom-topic-input-1 {
  width: 329px;
  height: 41px;
  padding: 10px 10px 10px 10px;
  border: solid 1px #dbddde;
  background-color: #fbfbfb;
  object-fit: contain;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #b5b5b5;
}
.no-padding {
  padding: 0px!important;
}
.flex-align-center-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.flex-align-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
.correct-answer-design {
  margin: 0 0 0 10px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.points-label-design {
  margin: 0px 10px 0px 0px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.correct-answer-design-1 {
  margin: 0 30px 0 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.margin-right-35px {
  margin: 0 35px 0 0!important;
}
.inner-card-heading {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  width: 240px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inner-card-description-1 {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
  width: 160px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inner-card-description-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  width: 160px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.new-training-text-design {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #888;
}
.inner-card-description-3 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3c424d;
  width: 160px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.no-margin {
  margin: 0px!important;
}
.custom-card-style {
  padding: 0 15px!important;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-right-6px {
  margin-right: 6px;
}
.margin-right-5px {
  margin-right: 5px;
}
.margin-right-9px {
  margin-right: 9px;
}
.inner-card-description-4 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #298369;
  width: 100px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.custom-style-1 {
  border-radius: 10px;
  border: solid 1px #298369;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  width: 135px;
}
.custom-style-2 {
  border-radius: 10px;
  border: solid 1px #666dc3;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  width: 135px;
}
.inner-card-description-5 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666dc3;
  width: 100px!important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.margin-top-10px {
  margin-top: 10px!important
}
.header-style-2 {
  border-radius: 10px;
  border: solid 1px #e9eaea;
  background-color: #f5f6f6;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  height: 125px !important;
}
.default-img-size {
  width: 59px!important;
  height: 53px!important;
}
.margin-right-10px {
  margin-right: 10px!important
}
.new-style-changes {
  height: 125px!important;
  img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
}
.card-design-new {
  width: 250px!important;
  height: 380px!important;
}
.card-parent-design-new {
  margin: 0 0 0 -10px !important;
  height: calc(100vh - 120px) !important;
  overflow: auto;
  overflow-x: hidden;
  background-color: transparent;
  padding: 0
}
.marketplace-text-design {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #4e5257;
}
.margin-right-11px {
  margin-right: 11px!important;
}
.margin-left-15px {
  margin-left: 15px!important;
}
.left-0px {
  left: 0px!important;
}
.margin-bottom-15px {
  margin-bottom: 15px!important;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-button-design {
  width: 139px;
  height: 32px;
  border-radius: 6px;
  background-color: #fa972d;
  cursor: pointer;
}
.white-text-button-design-text {
  font-size: 14px;
  color: #fff;
  margin-right: 5px;
}
.margin-top-bottom-30px {
  margin: 30px 0;
}
.new-trainging-button-text-design {
  font-family: 'Roboto', sans-serif !important;;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-align-end {
  display: flex;
  align-items: end;
}
.question-type-select {
  margin: 0px 8px 0px 0px;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.icon-styled {
  font-size: 16px;
  color: #000;
}
.question-type-select-box-design {
  width: 300px;
  height: 152px;
  padding: 10px 20px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.13);
  background-color: #313d55;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  left: 4%;
  top: 90%;
}
.align-item-baseline {
  align-items: baseline;
}
.inner-text-design {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.custom-text-desgin {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #4e5257;
}
.margin-right-8px {
  margin-right: 8px;
}
.custom-masonry-margin {
  margin: 0px 20px 20px 0px!important;
}
.display-align-center {
  display: flex;
  align-items: center;
}
.page-title-design {
  font-size: 22px;
  font-family: Roboto-Bold;
  color: #4b4c4c;
  vertical-align: middle;
  position: relative;
  top: 10px;
}
::ng-deep {
  .p-inputtext.ng-dirty.ng-invalid {
    border-color: #ced4da;
  }
  .ps__rail-x {
    display: none !important;
  }
  .masonry-item-container {
    margin-bottom: 25px;
  }
  .full-height {
    height: 90% !important;
  }

  body .cbt-filter.filter-expand.thread-filter {
    padding: 5px 0px 10px 0px !important;
  }

  .right-landing-toggle-menu-bar .filter-toggle {
    top: 8px !important;
  }
}
.center-middle-width-container {
  padding-left: 0px !important;
}
.error-msg-new {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.question-view-label-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.question-view-value-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.question-label-design {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.question-required-color {
  color: #f00;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: -80px;
  top: 30px;
  min-width: 152px;
  background-color: #313d55;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}
.dropdown-content a {
  text-decoration: none;
  display: block;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #fff!important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
:host .custom-header {
  height: 51px;
  padding: 10px 20px;
  background-color: #687083;
  display: flex;
}
.hover-effect:hover {
  background: #eeefef;
}

::ng-deep {
  .p-inputswitch .p-inputswitch-slider:before {
    width: 1rem !important;
    height: 1rem !important;
    margin-top: -0.525rem !important;
  }
  .refer-info.attachment-info .attachment-cont {
    margin: 0 !important;
  }
  .refer-info {
    padding: 0 !important;
  }

  .p-dropdown {
    height: 100% !important;
  }
}
.toggleStatus{
  position: relative;
  top: 6px;
}

.seprator {
  width: 100%;
  border-bottom: 2px solid #eff0f1;
  clear: both;
  padding-top: 5px;
}

.seprator-new {
  width: 100%;
  border-bottom: 2px solid #eff0f1;
  clear: both;
  padding-top: 15px;
}

.payment-keys {
  font-family: Roboto-Regular;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.object-fit-contain {
  object-fit: contain;
}

.backgroud-color-black {
  border-radius: 10px;
  background-color: #3c424d;
}

.no-right-pad {
  padding-right: 0 !important;
}

.select-nav-menu {
  background-color: #469073 !important;
  border-radius: 40px 0 0 40px;
}
.custom-padding-nav-menu {
  padding: 5px;
  margin-bottom: 7px;
}
.side-menu-text-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #abb6cc;
}
.side-menu-text-style-selected {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

:host::ng-deep{
  .payment-template-popup{
    .participant-mobile-head {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      
      // margin-bottom: 20px;
      .hide-participant-popup {
        // position: absolute;
        // top: 12px;
        // right: 6px;
        float: right;
        color: #b8b8b8;
      }
  }
  }
}