.custom-font-size {
    font-size: 14px;
}
::ng-deep{
   .shop-name-overlap{
    margin-left: 30px;   
    width: 88%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
   }
  .bold-20px{
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }

  .mat-accordion .mat-expansion-panel-header{
    background-color: white !important;
    border-bottom: solid 1px #e3e3e3 !important;
    border-radius: 0 !important;
    padding-bottom:10px !important;
    margin:6px !important;
  }
  .admin-wrapper{
    .p-galleria-item img{
      height: 246px !important ;
    }

    .mat-expansion-panel-body{
      padding-top: 0px!important;
    }
  }

  .p-datatable {
    .p-datatable-thead > tr > th {
        font-family: Roboto-Light;
        padding-top: 0;
        padding-bottom: 0;
        height: 50px;
    }
    // .p-datatable .p-datatable-tbody > tr > td {
    //   font-size: 15px !important;
    //   height: 50px;
    // }
    .p-datatable-thead > tr > th:first-child {
        // border-radius: 10px 0 0 0;
        border-radius: 0 !important;
    }

    .p-datatable-thead > tr > th:last-child {
        // border-radius: 0 10px 0 0;
        border-radius: 0 !important;
    }
    .custom-heading {
        background-color: #f9f7f8 !important;
        padding: 15px 20px;
        color: #000000 !important;
        font-size: 15px;
        font-family: Roboto-Regular;
    }
    .shop-id {
        color: #000000;
        font-size: 15px;
        font-family: Roboto-Regular;
    }

    .p-datatable-tbody > tr > td {
        color: #000;
        font-size: 15px;
        font-family: Roboto-Regular;
        padding: 0.6rem 0.25rem 0.6rem 1.25rem;
        height: 50px;
    }

    .p-datatable-tbody > tr:hover {
        background-color: #e5efeb !important;
    }

    .p-datatable-tbody > tr .more-icon {
        visibility: hidden;
    }
    .p-datatable-tbody > tr:hover .more-icon {
        visibility: visible;
    }

    .p-datatable-tbody > tr :hover td:first-child {
        border-left: none !important;
    }

    .p-datatable-tbody > tr:hover td {
        background-color: transparent !important;
    }

    .p-datatable-tbody > tr:hover td:first-child {
        border-left: none !important;
    }

    .custom-heading {
        background-color: #687083;
        padding: 15px 20px;
        color: #ffffff;
    }

    .loc-heading {
        font-size: 15px;
        font-family: Roboto-Regular;
    }
    .loc-info {
        color: #777777;
        font-size: 15px;
        font-family: Roboto-Regular;
    }
    .txt-link {
        color: #0044cc;
        font-size: 15px;
        font-family: Roboto-Regular;
    }

    .thl-col-1 {
        width: 150px;
    }

    .thl-col-2 {
        width: 1134px !important;
        left: 0 !important;
    }

    .thl-col-3 {
        width: 400px;
    }

    .thl-col-4 {
        width: 128px;
    }

    .thl-col-5 {
        width: 140px;
    }

    .thl-col-6 {
        width: 160px;
    }

    .thl-col-7 {
        width: 400px;
    }
}
.box-3 {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url("../../../../assets/images/inspection-home/green-list.png");
  background-size: 21px 25px;
  background-color: #e5efeb;
  margin-right: 13px;
}
.hq-head{
  padding: 10px 0;
  .hq-head-row-0{
      .hq-head-breadcrumb-img{
        vertical-align: middle;
        margin:0 6px 0 6px;
      }
      .hq-head-breadcrumb-text{
        font-family: Roboto-Medium;
        font-size: 14px;  
        color: #000000;
        vertical-align: middle;
        margin: 0;
      }
    }
  .hq-head-row-1{
    .hq-head-img{
      vertical-align: middle;
    }
    .hq-head-text{
      font-family: Roboto-Bold;
      font-size: 24px;  
      color: #000000;
      vertical-align: middle;
      padding-left: 10px;
      margin: 0;
    }
  }
}
}

.backgroud-color-black {
    border-radius: 10px;
    background-color: #3c424d;
  }

  .no-right-pad {
    padding-right: 0 !important;
  }

  .grey-text {
    color: #777;
  }

  .select-nav-menu {
    background-color: #469073 !important;
    border-radius: 40px 0 0 40px;
  }
  .custom-padding-nav-menu {
    padding: 5px;
    margin-bottom: 7px;
  }

  .hover-effect:hover {
    background-color: #000 !important;
    border-radius: 40px 0 0 40px;
  }

  .main-title {
    display: flex;
    align-items: center;
    height: 32px;
  }

  .side-menu-text-style {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #abb6cc;
  }
  .side-menu-text-style-selected {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .new-pro-cont, .form-cont {
    background-position: initial !important;
    background-size: cover !important;
    // padding: 88px 0px;
    position: relative;
  }

  .user-profile-right-div{
    padding-top: 0 !important;
  }
/*custom css*/
.form-cont::-webkit-scrollbar {
    background-color: transparent;
    width: 1px;
}
.form-cont.col-lg-12 {
    background-color: transparent !important;
    box-shadow: none !important;
}

.info-card-wrap {
    // max-height: 308px;
    // overflow: auto;
    // overflow-x: hidden;
    margin-bottom: 23px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
    &.card-ht{
      max-height: 383px;
      overflow: hidden;
    }
    
}
.info-card-content {
    max-height: 308px;
    // overflow: auto;
    // overflow-x: hidden;
}
.info-card-ttl {
    padding: 11px 19px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 0;
    align-items: center;
}
.info-card-wrap  .ttl {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    img {
        margin-right: 10px;
    }
    img.membership-img {
        margin-bottom: 3px;
    }
}
.info-card-wrap a.edit-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    color: #469073 !important;
    img {
        margin-right: 5px;
    }
}
.user-content-div h6.name {
    color: #469073;
    font-size: 24px;
    font-weight: bold;
}
.grey-text {
    color: #777777;
}
.user-info-inner {
    padding-left: 25px;
}

.user-content-div p {
    margin-bottom: 0;
    font-size: 15px;
}
.user-content-div p.grey-text {
    font-size: 18px;
}
.user-info-inner .user-img-div .img-div {
    border-radius: 50%;
    overflow: hidden;
}
.user-info-inner .user-img-div .img-div img {
    object-fit: cover;
    width: 136px;
    height: 136px;
}
.user-info .user-img-div {
    position: relative;
}
.user-info .user-img-div span.small-img {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #8f95a1;
    padding: 3px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}
.user-info .user-img-div span.small-img img {
    width: 17px;
}
.user-info .user-content-div {
    padding-left: 22px;
}
.contact-info ul.contact-ul {
    //border: solid 1px #e3e3e3;
    border-radius: 16px;
    //padding: 20px 26px;
    padding: 0;
    width: max-content;
    max-width: 100%;
}
.contact-info .contact-ul li {
    margin-bottom: 12px;
}
.contact-info .contact-ul li img {
    margin-right: 12px;
    // width: 25px;
    // height: 25px;
}
.contact-info .contact-ul li:last-child {
    margin-bottom: 0px !important;
}
.listing-content {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 0;
    padding: 0;
}
.listing-content li {
    padding: 12px 17px;
}
.listing-content li.State-name {
    width: 32%;
}
.listing-content li.License {
    width: 28%;
}
.listing-content li.State {
    width: 42%;
}
.information-col {
    padding: 22px 20px 18px 22px;
    border-radius: 20px;
    border: solid 1px #e3e3e3;
    margin: 0px 0px 20px 18px;
    width: 23.4%;
}
.information-col h6 {
    margin-bottom: 12px;
}
.information-col ul {
    padding-left: 0;
    margin-bottom: 0;
}
.information-col li {
    color: #000;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
.information-col li img {
    margin-right: 9px;
}
.information-col li img.training-type{
    margin-right: 4px !important;
}
.information-col li b {
    color: #000;
}
.table-card-wrap td, .table-card-wrap th {
    padding: 17px 17px;
}
.table-card-wrap th {
    background: #f9f7f8;
}
.table-card-wrap table a {
    color: #0044cc !important;
    text-decoration: underline;
}
.policies-head {
    padding-left: 24px;
    margin-bottom: 14px;
    padding-right: 25px;
}
nav .breadcrumb {
    background-color: transparent;
    padding-left: 22px;
    margin-bottom: 0;
    padding-bottom: 3px;
}
nav li.breadcrumb-item a {
    color: #444444 !important;
}
.page-title{
    font-size: 22px;
    margin-left: 12px;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
}

.map-div {
    iframe {
        border: solid 1px #c3c3c3;
        border-radius: 10px;
        // margin-top: 6px;
    }    
}

.border-round{
  border: solid 1px #c3c3c3;
  border-radius: 10px;
}

.nothing-show {
    font-size: 16px;
    padding: 14px;
}


/* home css start */
p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  
  .grey-text {
    color: #777777;
  }
  
  .blue-text {
    color: #0044cc;
  }
  
  .border-bottom-bottom {
    border-bottom: 1px solid #e2e2e2;
  }
  
  .header-tile {
    background-color: #fef4e9;
    align-items: center;
    padding: 13px 5px;
    margin: 0 0 28px 0 !important;
  
    img {
      margin-right: 20px;
    }
  }
  
  .header-left-sec-text {
    font-size: 30px;
    font-weight: 600;
  }
  
  .header-right-sec-text {
    font-size: 20px;
    color: #2f9f64;
    margin-left: 45px;
  }
  
  .mat-expansion-panel-content {
    padding: 12px 20px 20px 17px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #e8e8e8;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
    color: #444444;
    font-size: 14px;
    font-family: Roboto-Regular;
  }
  
  .example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
  }
  
  //   .custom-panel {
  //     box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06) !important;
  //     border-radius: 8px !important;
  //     border: 1px solid #e0e0e0;
  //   }
  
  .mb-29 {
    margin-bottom: 28px;
  }
  
  .disable_ripple:hover {
    background: transparent !important;
  }
  
  .menu-name {
    font-size: 20px;
    /* font-family: Roboto-Medium; */
    font-weight: 600;
  }
  
  .announce-tooltip-icon {
    color: #ebebeb;
  }
  
  .see-more-txt {
    color: #444444;
    font-size: 14px;
    font-family: Roboto-Regular;
    text-transform: capitalize;
  }
  
  .second-sec {
    padding: 0 5px 28px !important;
  }
  
  .user-box {
    border: solid 1px #ebebeb;
    padding: 14px 0;
    border-radius: 8px;
    height: 60px;
  }
  
  .aavtar {
    // background-image: url("../../../../../assets/images/dispatch/avatar.jpg");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-right: 13px;
  }
  
  .aavtar-2 {
    // background-image: url("../../../../../assets/images/user-profile/user-big.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin-right: 13px;
  }
  
  .user-content {
    .user-data-heading {
      color: #636363;
      font-size: 15px;
      font-family: Roboto-Bold;
      line-height: 16px;
    }
  
    .data-content {
      size: 13px;
      color: #b2b2b2;
      font-family: Roboto-Medium;
    }
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  :host::ng-deep {
    .p-galleria-indicators {
      background: transparent !important;
      justify-content: flex-start !important;
    }
  
    .p-galleria-caption {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #112337 !important;
      opacity: 0.7 !important;
      border-radius: 5px !important;
    }
  
    .p-galleria-item img {
      height: 246px !important;
      border-radius: 8px !important;
    }
  }
  
  .disable_ripple {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    margin-top: 15px;
    align-items: center;
  }
  
  .ripple {
    margin-bottom: 17px;
    // margin-top: 19px;
  }
  
  .icon-content-wrap {
    background-color: #fff;
    padding: 0 10px 0 10px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    margin-bottom: 20px;
    .icon-left-div {
      padding-top: 20px;
    }
  }
  
  span.menu-name {
    color: #444;
    font-size: 20px;
    font-weight: 900;
  }
  
  .thumb-img,
  .eye-img {
    margin-right: 5px;
  }
  
  .icon-left-div .img-div {
    width: 55px;
    height: 55px;
    margin: 0 7px 8px 0;
    border-radius: 8px;
    background-color: #e5efeb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-content-div .content-col {
    display: flex;
    // line-height: 1;
  }
  
  .right-content-div .content-div {
    font-size: 14px;
    flex: 1;
  }
  
  .right-content-div .content-div p.blue-text {
    text-decoration: underline;
  }
  
  .right-content-div .content-col .img-div {
    width: 17px;
    margin-right: 5px;
  
    img {
      margin-bottom: 15px;
    }
  }
  
  .view-button-div a {
    font-size: 14px;
    padding: 4px 8px;
    background: #469073;
    width: 88px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
  }
  
  .right-content-div .row {
    padding: 20px 4px !important;
  }
  
  .right-content-div {
    width: 100%;
  }
  
  .view-button-div {
    align-items: self-end;
    display: flex;
  }
  
  .right-content-div .col-sm-1 {
    flex: 0 0 14.333333%;
    max-width: 14.333333%;
  }
  
  .right-content-div .col-sm-3 {
    flex: 0 0 23.5%;
    max-width: 23.5%;
  }
  
  .status-btn {
    padding: 7px 43px;
    background: #afb6b3;
    width: 143px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .status-bg {
    background: #f3fadf;
    color: #a8b023 !important;
  }
  
  .green-bg {
    background: #def5e9;
    color: #0e9a4e !important;
  }
  
  .view-button-div img {
    width: 18px;
    margin-left: 6px;
  }
  
  .custom-margin {
    margin: 0 0 0 0 !important;
    padding-bottom: 10px !important;
    border-top: 0px solid #dee2e6 !important;
  }

  .events-sec {
    margin: 0 0 0 0 !important;
    // padding-bottom: 10px !important;
    border-top: 0px solid #dee2e6 !important;
  }
  
  .like-count .active-txt,
  .active-count .active-txt {
    color: #bebfc3;
  }
  
  .only-view-btn {
    display: flex;
    align-items: start;
    justify-content: end;
    margin-left: auto;
    max-width: 8% !important;
  }
  
  .content-div p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  :host::ng-deep {
    .p-drop-type4 {
        .p-dropdown {
            position: relative;
            top: -2px;
            background: transparent !important;
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }
        .p-dropdown .p-dropdown-label , .p-dropdown-trigger {
            color: #000 !important;
            height: 25px !important;
            padding: 0 !important;
        }
        .p-dropdown-trigger-icon {
            margin-top: 7px !important;
        }
    }
      }
  
  .right-content-div .col-sm-2 {
    flex: 0 0 17%;
    max-width: 17%;
  }
  
  .right-content-div .col-sm-1 {
    flex: 0 0 13%;
    max-width: 13%;
  }
  .information-col {
    padding: 22px 20px 18px 22px;
    border-radius: 20px;
    border: solid 1px #e3e3e3;
    margin: 0px 20px 20px 0px;
    width: 19.4%;
    background-color: #fff;
}
.information-col h6 {
    margin-bottom: 12px;
}
.information-col ul {
    padding-left: 0;
    margin-bottom: 0;
}
.information-col li {
    color: #000;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
.information-col li img {
    margin-right: 9px;
}
.information-col li img.training-type{
    margin-right: 4px !important;
}
.information-col li b {
    color: #000;
}

.completed-box {
    width: 50px;
    height: 50px;
    background: #0e9a4e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 10px;

}
.planner-box {
    width: 50px;
    height: 50px;
    background: #a8b023;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 10px;
}
.job-activity-box {
    border: 1px solid #e2e2e2;
    padding: 8px;
    border-radius: 8px;
    margin-right: 17px;
    background-color: #fff;
}

.activity-custom-box{
    flex: 0 0 26%;
    max-width: 26%;
}
.job-activity-main {
    flex: 0 0 25%;
}
.completed-text {
  font-size: 21px;
  color: #0e9a4e;
  font-weight: 600;
}

.planned-text {
  font-size: 21px;
  color: #a8b023;
  font-weight: 600;
}

.list-map {
  background-color: #FFFFFF;
  border-radius: 6px;
//   margin: 8px 0px;
  padding: 0;
  width: 6%;
  height: 32px;
  vertical-align: middle;
  border: 1px solid #e9ecee;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.06);
  span {
      background-repeat: no-repeat;
      // background-position: center 5px;
      display: inline-block;
      height: 32px;
      width: 50%;
      &.map {
        //   background-image: url('../../../../../assets/images/shop/shop-map-normal.png');
          border-right: solid 1px #e9ecee;
          background-position: center 6px;

          /*&.active, &:hover {
            //   background-image: url('../../../../../assets/images/shop/shop-map-selected.png');
          }*/
      }
      &.list {
        //   background-image: url('../../../../../assets/images/audit/list-icon-normal.png');
          background-position: center 7px;
         /* &.active, &:hover {
            //   background-image: url('../../../../../assets/images/audit/list-icon-active.png');
          }*/
      }
  }
}
.p-bottom-20 {
  padding-bottom: 20px;
}

.map-list-cont {
  display: contents;
}
:host::ng-deep {
  .gm-ui-hover-effect > span {
    background-color: transparent !important;
  }
  .gm-style .gm-style-iw-tc::after {
    background-color: #444444 !important;
  }

  .gm-style-iw.gm-style-iw-c {
    button.gm-ui-hover-effect {
      top: 0px !important;
      right: 0px !important;

      /*span {
        // background: url('../../../../../assets/images/dispatch/map/map-close-icon.png') no-repeat;
        // mask-image: url('../../../../../assets/images/dispatch/map/map-close-icon.png') !important;
      }*/
    }
  }
}
