.view-modal-header {
    .view-modal-title-text {
        font-size: 18px;
    }

    .action-buttons button.button-save-hq {
        background-color: #298368;
        border: solid 1px #469073;
        position: relative;
        left: 0;
        border-radius: 25px;
        padding: 4px 12px;
        margin-right: 16px;
    }

    .action-buttons-hq {
        vertical-align: middle;
        float: right;
        padding: 0;
        margin: 0;
    }

    .close-btn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
    }
}

.view-modal-body {
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;

    .container {
        padding: 0 26px !important
    }

    .input-row {
        .icons-size {
            width: 19px;
            height: 16px;
        }

        .new-request-icon {
            fill: #b2b2b2;
        }

        .field-err {
            font-size: 13px;
            font-family: "Roboto-Regular";
            color: #dc3545;
        }

        .input-filed {
            ::placeholder {
                color: #999999 !important;
            }
            input {
                border: solid 1px #dbddde;
                background-color: #fbfbfb;
                color: #000000;
                font-size: 14px;
                font-family: "Roboto-Regular";
            }
        }

        .input-shop {
            padding-bottom: 10px;
        }
    }

    label {
        color: #9b9a9a;
        font-size: 14px;
        font-family: "Roboto-Regular";
    }

    .pad-box {
        padding-bottom: 12px;
        padding-top: 9px;
    }
}

:host ::ng-deep {
    .up-err-text{
        color: #f44336;
        font-size: 14px;
        padding: 0;
        margin: 10px 0 0px 0;
        font-style: italic;
    }

    .input-error {
        .required-txt{
            color:#f44336 !important;
        }
        .input-filed{
            input{
                border-color: #f44336 !important ;
            }
        }
        .p-component{
            border-color: #f44336 !important ;
        }
    }
}