<app-global-popup></app-global-popup>
<router-outlet></router-outlet>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JTYF0VJXS6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JTYF0VJXS6');
</script>
<audio loop id="outgoing-call">
  <source src="assets/sounds/outgoing_ringtone.mp3" type="audio/mp3" />
</audio>
<audio loop id="incoming-call">
  <source src="assets/sounds/incoming_ringtone.mp3" type="audio/mp3" />
</audio>
