.media-info-search
{
    &.right-panel-collapse{
        .expand-icon{
            right: 6px;
            position: relative;
        }
    }
    
}
::ng-deep body{
    &.top-right-notifications-popup{
        &.search-page{
            .modal-dialog{
                margin-right: 75px !important;
                margin-top: 65px !important;
            }
        }        
    }
    .search-close{
        a {        
            svg {
              color: var(--ID82);
            }
          }
    }
    .search-page-header{
        .notification-class-icon-header{
            margin-right: 50px;
        }
    }
    .ck.ck-editor__editable_inline {
        overflow-y: auto;
        max-height: 190px !important;
        min-height: 130px;
    }
} 