.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}
.tag-custom-icon-edit{
    display: inline-block !important;
    padding-right: 10px  !important;
    width: auto !important;
}
.tag-custom-icon-delete{
    display: inline-block !important;
    padding-right: 10px  !important;
    width: auto !important;
}