<div class="modal-container custom-modal manage-modal-gts" id="wrapper">
    <div class="modal-header">
        <h6 class="modal-title">{{title}}s</h6>
        <!--span class="cursor add-item" [ngClass]="{'active': !actionFlag, 'deactive': actionFlag, 'hide': (headerCheck == 'checked' || headerCheck == 'all')}"(click)="manageListItem('new', 0)">{{addTxt}}</span-->
        <span class="cursor add-item" [ngClass]="{'active': !actionFlag, 'deactive': actionFlag}"(click)="manageListItem('new', 0)">{{addTxt}}</span>
        <div class="actions">
            <form class="search-form" [formGroup]="searchForm">
                <a *ngIf="!searchTick && !searchClose" class="search-icon"><img alt="Search" src="assets/images/search-icon.png"></a>
                <input *ngIf="!actionFlag" type="text" autocomplete="off" class="form-control search-control" value="{{searchVal}}" id="searchKey" formControlName="searchKey" maxlength="30" placeholder="Search" (input)="onSearchChange($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.searchKey.errors }">
                <input *ngIf="actionFlag" type="text" autocomplete="off" class="form-control search-control" value="{{searchVal}}" id="searchKey" formControlName="searchKey" maxlength="30" placeholder="Search" (input)="onSearchChange($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.searchKey.errors }" disabled="true">
                <a *ngIf="searchClose && !actionFlag" class="search-actions search-close" (click)="clearSearch()"><img alt="Search Close" src="assets/images/select-close.png"></a>
                <!--a *ngIf="searchTick" class="search-actions search-tick" (click)="submitSearch()"><img alt="Search" src="assets/images/search-icon.png"></a-->
            </form>
            <span (click)="close()" class="cursor close">
                <img *ngIf="!loading" src="assets/images/gts/list-close.png" alt="Close" />
            </span>
        </div>
    </div>
    <div class="modal-body">
        <div *ngIf="!empty" id="manageTable" class="container scrollbar scrollbar-primary thin" [style.height.px]="height">
            <div *ngIf="success" class="parent-succ-div">
                <div class="success-msg"><span>{{successMsg}}</span></div>
            </div>
            <table class="manage-table">
                <thead class="manage-header">
                    <tr class="header-row">
                        <!--th>{{title}}</th-->
                        <th colspan="3">
                            <div class="title">
                                <span class="cursor checkbox {{headercheckDisplay}} {{headerCheck}}" (click)="itemSelection('all', 0, 0, headerCheck)"></span>
                                {{title}}s List
                            </div>
                            <div class="actions">
                                <div class="action-col cursor clear" (click)="clearSelection()" [ngClass]="{'show': (headerCheck == 'checked' || headerCheck == 'all'), 'hide': (headerCheck == 'unchecked' || loading)}">Clear All</div>
                                <div class="action-col apply" (click)="applySelection()" [ngClass]="{'cursor active': (headerCheck == 'checked' || headerCheck == 'all'), 'inactive': (headerCheck == 'unchecked' || loading)}">Save</div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="loading" class="manage-items">
                    <tr>
                        <td colspan="3">
                            <div class="loader"><img src="assets/images/loading.svg" alt="Loader" /></div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!loading" class="manage-items">
                    <tr class="item-list cursor" *ngFor="let item of listItems; let i = index;" [ngClass]="{'action': item.action != '', 'hide': !item.displayFlag, 'deactive': item.editAccess == 0}">
                        <ng-template #actions>
                            <div class="action">
                                <ul class="more-actions">
                                    <li class="cursor" (click)="manageListItem('edit', i)"><img src="assets/images/edit.png" alt="Edit">Edit</li>
                                    <!--li class="cursor"><img src="assets/images/delete.png" alt="Delete">Delete</li-->
                                </ul>
                            </div>
                        </ng-template>
                        <td [ngClass]="{'manage-edit': item.action != '', 'error': item.itemExists, 'manage-action': itemVal != ''}">
                            <span *ngIf="item.action == ''" class="checkbox" [ngClass]="{'active': item.checkFlag, 'inactive': !item.checkFlag}" (click)="itemSelection('single', i, item.id, !item.checkFlag)"></span>
                            <span *ngIf="item.action == ''" (click)="itemSelection('single', i, item.id, !item.checkFlag)">{{item.name}}</span>
                            <span class="model-input" *ngIf="item.action != ''">
                                <input type="text" class="form-control model-control" [ngClass]="{'is-invalid': item.itemExists}" id="name" value="{{itemVal}}" maxlength="50" autocomplete="off" placeholder="Enter {{title}} Name" (input)="onChange(i, $event.target.value)">
                                <div *ngIf="item.itemExists" class="invalid-feedback">{{title}} already exists</div>
                            </span>
                        </td>
                        <td>
                            <div class="manage-actions">
                                <span *ngIf="item.action == 'new' || item.action == 'edit'" class="active custom-icon action-icon">
                                    <ul>
                                        <li class="submit-icon" [ngClass]="{'active': submitActionFlag, 'deactive': !submitActionFlag}">
                                            <img class="cursor" src="assets/images//checkbox-active.png" (click)="manageListItem('submit', i)" />
                                        </li>
                                        <li class="close-icon"><img class="cursor" src="assets/images/close.png" (click)="manageListItem('cancel', i)" /></li>
                                    </ul>
                                </span>
                                <span *ngIf="item.editAccess == 1 && item.action == ''" class="cursor custom-pop tag-custom-icon-edit" [ngClass]="{'active': item.activeMore}">
                                    <img class="cursor more-icon" (click)="manageListItem('edit', i)" src="assets/images/edit-tag-img.png" />
                                </span>
                                <span *ngIf="item.editAccess == 1 && item.action == ''" class="cursor custom-pop tag-custom-icon-delete" [ngClass]="{'active': item.activeMore}">
                                    <img class="cursor more-icon" (click)="removeConfirm(i,item.id)" src="assets/images/delete-tag-img.png" />
                                </span>                                 
                            </div>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="empty" class="no-item-list" [style.height.px]="height">
            <div class="item-empty-container">
                <div class="empty-cont">
                    <div class="text-center empty-res">
                        <div class="empty-bg"></div>
                        <div>{{successMsg}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>