#partList{
    &.empty {
        height: 0;
    }
}

.cust-loader {
    &.search {
        left: 47% !important;
    }
}
::ng-deep{
    .gm-style-iw-tc::after{
        background-color: #444444 !important;
    }

    .p-datatable{
        .thl-col-1{
            width: 140px;
        }
        .thl-col-2{
            width: 240px;
            left: 140px;
        }
        .thl-col-3{
            width: 300px;
        }
        .thl-col-4{
            width: 140px;
        }
        .thl-col-5{
            width: 140px;
        }
        .thl-col-6{
            width: 160px;
        }
        .thl-col-7{
            width: 160px;
        }
    }

}

::ng-deep {
    .cust-loader.esc-loader.cust-lazy-loader.part-list-lazy-loader{
        &.shop-users-list-lazy-loader{
            bottom: -20px;
        }
        &.all-users-list-lazy-loader{
            bottom: -20px;
        }
    }

    .documents-grid-row{
        &.shop-users-grid-row{
            overflow-x: hidden !important;
            overflow-y: hidden !important;
        }
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
        font-size: 15px !important;
        height: 44px;
      }
      .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
          font-size: 15px !important;
          padding: .7rem 0 .7rem 0 !important;
          &.stock-header{
              padding: 0rem 0.25rem 0rem 0.25rem !important;
          }
          &:first-child{
              padding-left: 1rem !important;
          }
      }
    body.parts-list .thread-list-table .p-datatable{
        .overflow-text{
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px !important;
            font-family: "Roboto-Regular";
        }
        .usr-thl-col-1{
            width: 220px;  
            z-index: 1;
        }
        .usr-thl-col-2{
            width: 150px; 
        }
        .usr-thl-col-3{
            width: 180px; 
        }
        .usr-thl-col-4{
            width: 150px;     
        }
        .usr-thl-col-5{
            width: 130px;       
        }
        .usr-thl-col-6{
            width: 220px;   
        }
        .usr-thl-col-7{
            width: 250px;   
        }
        .usr-thl-col-8{
            width: 140px;   
        }
        .usr-thl-col-9{
            width: 140px; 
        }        
        .usr-thl-col-10{
            width: 40px;  
            right: -1px; 
            z-index: 1;                
        }
        .p-table-col {
          &.col-line-2 {
              -webkit-line-clamp: 2;
          }
          &.action-link {
              color: #0044cc;
              text-decoration: underline;
          }
      }
    }
    .more-icon svg path{
        fill: var(--ID69);
    }
    .more-icon svg circle{
        fill: var(--ID70);
    }   
    .more-icon{
        visibility: hidden;
        display: inline-block;
        position: relative;
        right: 0px;
    }
    p{
        &.cont-text{
            .pi{
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    } 
  
  
    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }
  
    body.parts-list .thread-list-table .p-datatable {
        .p-datatable-thead > tr > th {
            font-family: Roboto-Light;
        }
        .p-datatable-thead>tr>th:first-child {
            border-radius: 10px 0 0 0;
        }
  
        .p-datatable-thead>tr>th:last-child {
            border-radius: 0 10px 0 0;
        }
  
        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }
  
        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
            td{
                background-color: #e5efeb !important;
            }
        }
        .p-datatable-tbody>tr{
            background-color: #ffffff !important;
            td{
                background-color: #ffffff !important;
            }
        }
  
        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }
  
        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }
  
        
  
        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        .txt-link {
            color: #04c;
            text-decoration: underline;
        }  
        
    }
  }