::ng-deep{
    .p-9px{
        padding: 9px !important;
        padding-top: 6px !important;
    }
    .sidebarmore-tooltip {
        margin: -8px 0 0 -8px !important;
        max-width: 230px !important;
        &.bs-tooltip-right {
            .arrow {
                &::before {
                border-width: 0.5rem 0.5rem 0.5rem 0;
                border-right-color: #dde4f2;                
                }
            }
        }

       &.tooltip {
       
        opacity: 1;

        .tooltip-inner {
            max-width: 230px !important;
            //background-color: #dde4f2 !important;
            background-color: var(--ID171) !important;
            text-align: center;
            padding:0rem 1rem 0.5rem 0.5rem;
        }

        .tooltip-sb-new {
            margin: 0;
            padding: 7px 0 8px 0;
            text-align: left;
            display: block;
            height: 40px;
            cursor: pointer;
            svg {
                height:35px;
                width:100%;           
              }
            .w-img {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: 0;
                right: 0;
                width: auto;
                height: auto;
                img{
                    height: 35px;
                    width:  35px;
                }
                &.more-sib-img{
                    top:-2px;                    
                }
                svg path {
                    stroke: var(--ID19) !important;
                    /*fill: var(--ID19) !important; */                
                }
            }

            .w-text {
                color: var(--ID19);
                font-size: 14px;
                font-family: Roboto-Regular;
                display: inline-block;
                vertical-align: middle;
                position: relative;
            }
        }
        }
    }
}