<div id="header" *ngIf="!msTeamAccess">
    <app-product-header *ngIf="!headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header>
    <!--app-product-header *ngIf="headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)"></app-product-header-->
</div>
<div class="left-section hide">
    <div class="first-left-width">
      <nav id="nav-sidebar">
        <app-sidebar [pageData]="sidebarActiveClass" accessModule="{{bodyClass}}"></app-sidebar>
      </nav>
    </div>
</div>
<div class="prob-index split-sec1">
    <div class="container-fluid">
        <div class="row col-lg-12 col-md-12 col-sm-12 landing-padding0 landing-margin0">
            <div *ngIf="!msTeamAccess && !threadApprovalFlag" class="threads-page-filter padding-right-class" [ngClass]="{'col col-lg-2  col-md-2 col-xl-2 col-sm-2': expandFlag, 'filter-show-hide': !expandFlag}">
                <div class="text-thread-title" [ngClass]="{'hide': !expandFlag}">
                    <span>
                        <!-- <img class="thread-img" src="assets/images/landing-page/thread-normal.png"> -->
                        <span class="thread-img">
                            <img src="assets/images/landing-page/thread-normal.svg" onload="SVGInject(this)">
                        </span>
                    </span>
                    <span>{{headTitle}}s</span>						
                </div>
                <div class="cbt-filter thread-filter" [ngClass]="{'filter-expand': expandFlag, 'filter-collapse': !expandFlag}">
                    <app-filter *ngIf="filterLoading" (filterComponentRef)="filterRef = $event" (callback)="filterCallback($event)" (toggle)="expandAction($event)" [filterOptions]="filterOptions" (filterAction)="applyFilter($event)"></app-filter>
                    <app-filter *ngIf="!filterLoading" (filterComponentRef)="filterRef = $event" (callback)="filterCallback($event)" (toggle)="expandAction($event)" [filterOptions]="filterOptions" (filterAction)="applyFilter($event)"></app-filter>
                </div>
            </div>
            <div [ngClass]="{'col col-lg-12 col-md-12 col-xl-12 col-sm-12': msTeamAccess || threadApprovalFlag, 'col col-lg-8 col-md-8 col-xl-8 col-sm-8': !msTeamAccess && !threadApprovalFlag}" class="center-middle-width-container threads">
                <div class="center-middle-width padding-common">
                    <div class="thread-top-section">
                        <div class="thread-top-left" [ngClass]="{'thread-top-left-ms': msTeamAccess, 'set-width-not-ms': !msTeamAccess }">
                            <div *ngIf="msTeamAccess" class="text-thread-title ms-title-text">
                                <span >
                                    <img class="thread-img" src="assets/images/landing-page/thread-normal.png">
                                </span>

                                <span tooltipClass="help-content-tooltip sidebarTeam" container="body" triggers="manual" [autoClose]="false" placement="right-top" [ngbTooltip]="threadsTT" #ttthreads="ngbTooltip">Threads</span>					
                                <ng-template #threadsTT>
                                    <div class="tt-helpcontent-container">
                                        <div class="tt-bg-image {{thelpContentIconName}}"></div>
                                        <div class="tt-title">
                                            <div class="lt-img {{thelpContentIconName}}"></div>
                                            <div class="rt-text">{{thelpContentTitle}}</div>
                                        </div>
                                        <div class="tt-desp">{{thelpContentContent}}</div>
                                        <div class="tt-next-text" (click)="helpContent(thelpContentId)">DONE</div>
                                    </div>
                                </ng-template>
                            </div>
                            <!--div class="cursor thread-add-new"  [ngClass]="{'thread-add-new-ms': msTeamAccess, 'ms-thread-add-web': msTeamAccess }" (click)="navPart()">                            
                                <span class=""><i style="font-size: 13px;margin-right: 4px;" class="pi pi-plus"></i></span><span >{{newThreadTxt}}</span>                            
                            </div-->

                            <span (click)="navPart()" *ngIf="msTeamAccess" [ngClass]="{'thread-add-new-ms': msTeamAccess, 'ms-thread-add-mobile': msTeamAccess}" ><img src="assets/images/mobile-add.png"></span> 
                            <div class="section-head" *ngIf="!msTeamAccess && threadApprovalFlag">
                                <span class="cursor head-txt sf-back" (click)="navApproval()" >
                                    <span class="head-ic-img">
                                        <img src="assets/images/documents/doc-back.png" >
                                    </span>                
                                </span>
                                <span class="nav-head sf">Shared Fix Approval</span>
                            </div>
                            <div *ngIf="!msTeamAccess && !threadApprovalFlag" class="thread-sort-option">
                                <p-dropdown class="select-thread-sort"  [ngClass]="{ 'active-dropdown' : this.threadTypesort != 'sortthread' }" appendTo="body" [options]="threadSortOptions" [(ngModel)]="selectedCity1" placeholder="" optionLabel="name" (onChange)="selectEventSort($event)" ></p-dropdown>
                            </div> 
                            <div *ngIf="!msTeamAccess"  class="thread-order-option">
                                <p-dropdown class="select-thread-order"  appendTo="body" [options]="threadOrderOptions" [(ngModel)]="selectedCity2" placeholder="" optionLabel="name" (onChange)="selectEventOrder($event)" ></p-dropdown>
                            </div>
                            <div *ngIf="!msTeamAccess && domainId==52"  class="thread-order-option" >
                                <p-dropdown class="select-thread-order"  appendTo="body" [options]="threadFeedbackSortOptions" [(ngModel)]="selectedCity3" placeholder="" optionLabel="name" (onChange)="selectEventFilterOrder($event)" ></p-dropdown>
                            </div>
                            <div *ngIf="!msTeamAccess && threadApprovalFlag" class="thread-order-option status-option">
                                <p-dropdown class="select-thread-order" appendTo="body" [options]="threadStatusOptions" [(ngModel)]="selectedStatus" placeholder="" optionLabel="name"  (onChange)="statusChange($event)"></p-dropdown>
                            </div>
                        </div>
                        <div class="thread-top-right" [ngClass]="{'ms-thread-top-right': msTeamAccess}" >
                            <span *ngIf="approvalEnableDomainFlag && !threadApprovalFlag" (click)="navApproval()">
                                <span class="doc-approve-button">
                                    <img src="assets/images/documents/doc-approval.png">
                                    <span class="approval-text">Shared Fix Approval</span></span>
                            </span>
                            <!--app-common-notifications class="mobile-notification"></app-common-notifications--> 
                            <div *ngIf="!threadApprovalFlag" (click)="taponpin()" class="icon-right cursor icon-pin thread-pin">
                                <span class="pin" [ngClass]="{'pin-active': yourpined, 'cba': CBADomain}"></span>
                            </div>
                            <div (click)="taponSearchPage()" *ngIf="msTeamAccess" class="icon-right cursor mobile-search">
                                <img src="assets/images/mobile-search.png">                                          
                            </div>
                            <div (click)="msLoginOut()" *ngIf="msTeamAccess" class="icon-right cursor mobile-logout">
                                <img src="assets/images/mobile-logout.png">                                          
                            </div>
                            <div *ngIf="!collabticFixes && !msTeamAccess && !threadApprovalFlag" class="cursor" (click)="viewType(thumbView)" class="icon-right ">
                                <div class="thread-icon-right cursor" title="{{thumbView ? 'Switch to List View' : 'Switch to Tile View'}}" [ngClass]="{'cba': CBADomain, 'thread-list-icon': thumbView, 'thread-thumb-icon': !thumbView }"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="probing-content cbt-content part-content part-content-threads-new">
                        <app-threads-page [ngClass]="{'hide': threadApprovalFlag}" [pageDataInfo]="pageData" (threadComponentRef)="threadRef = $event" (callback)="threadCallback($event)"
                            [filterOptions]="filterOptions" (toggle)="expandAction($event)" (filterOutput)="filterOutput($event)" (accessLevelValue)="accessLevelValu($event)" ></app-threads-page>
                        <app-thread-approval *ngIf="threadApprovalFlag" [sortOrder]="threadOrderType" (threadApprovalComponentRef)="threadApprovalRef = $event" (callback)="threadApprovalCallback($event)"></app-thread-approval>
                    </div>
                </div>
            </div>
            <div *ngIf="!msTeamAccess && !threadApprovalFlag" class="right-middle-width-container landing-padding0  col col-lg-2  col-md-2 col-xl-2 col-sm-2 padding-right-class">
                <div class="right-width-column padding-common">
                    <app-domain-members [disableRightPanel]="disableRightPanel"></app-domain-members>
                </div>
            </div>
        </div>
    </div>
</div>