<!--Confirmation Start-->
<section id="LeveGroupConfrimation" class="overlay-modal" >
    <section class="modal-dialog small-pop-up">
        <section class="modal-content">
            <section class="modal-header center-text">
                <h3>Confirmation</h3>
            </section>
            <section class="modal-body content-pad">
                <div class="modal-body-inner">
                    <section class="confirmation-text">
                        Are you sure you want to leave group?
                    </section>
                </div>
            </section>
            <section class="modal-footer">
                <button (click)="LeaveGroupCancel()" type="button">Cancel <img src="assets/images/chat/popup-images/close.png" /></button>
                <button (click)="LeaveGroup()" type="button" class="red-btn">Yes <img src="assets/images/chat/popup-images/yes.png" /></button>
            </section>
        </section>
    </section>
</section>
<!--Confirmation End-->