.cust-loader {
    &.search {
        left: 47% !important;
    }
}

.more-icon {
    visibility: hidden;
}

::ng-deep {
    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }

    body.parts-list .thread-list-table .p-datatable {
        .p-datatable-thead > tr > th {
            font-family: Roboto-Light;
        }
        .p-datatable-thead>tr>th:first-child {
            border-radius: 10px 0 0 0;
        }

        .p-datatable-thead>tr>th:last-child {
            border-radius: 0 10px 0 0;
        }

        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }

        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
        }

        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }

        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }



        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        .custom-heading {
            background-color: #687083;
           /* padding: 16px 20px;*/
            color: #ffffff;
        }

        .txt-link {
            color: #04c;
            text-decoration: underline;
        }

        .thl-col-1 {
            width: 140px;
        }

        .thl-col-2 {
            width: 240px;
            left: 140px;
        }

        .thl-col-3 {
            width: 300px;
        }

        .thl-col-4 {
            width: 140px;
        }

        .thl-col-5 {
            width: 140px;
        }

        .thl-col-6 {
            width: 160px;
        }

        .thl-col-7 {
            width: 160px;
        }
    }
}