.new-user-default-text{
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-style: italic;
    text-align: left;
    color: #a8a6b3;
    margin-top: 4px;
    line-height: 16px;
    display: inline-block;
  }
  .new-user-error-text{
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-style: italic;
    text-align: left;
    color: #de4640;
    display: inline-block;
    margin-top: 4px;
    line-height: 16px;
  }
  .new-user-default-div{
    min-height: 26px;
    display: block;
    margin-bottom: -20px;
  }
  .success-ok-tick-div{    
    display: inline-block;
    .success-ok-tick{
      display: block;
      position: absolute;
      right: 40px;
      margin: -17px 10px 0 0 !important;
    }
  }