<form [formGroup]="changePasswordForm" (ngSubmit)="actionSubmit()">
    <div class="modal-body">
        <div class="cpwd-form-row">
            <div class="cpwd-form-control">
                <div class="pwd-label">{{oldPwdLabel}}</div>
                <div class="cpwd-form-field">
                    <div class="field-col bg-col pwd-bg"></div>
                    <div class="field-col text-col alt-text">
                        <input [type]="opwdFieldTextType ? 'text' : 'password'" matInput placeholder="{{enterTxt}} {{oldPwdLabel}}" formControlName="oldPassword" maxlength="30" (input)="onChange('opwd', $event.target.value)" [ngClass]="{ 'is-invalid': changPasswordSubmitted && c.oldPassword.errors }" [readonly]="submitLoading">
                        <div (click)="showPassword('opwd', opwdFieldTextType)" class="input-group-pwd normal" [ngClass]="{'active': !opwdFieldTextType, 'normal': opwdFieldTextType }"></div>
                    </div>
                    <div class="invalid-feedback" *ngIf="changPasswordSubmitted && c.oldPassword.errors" [ngClass]="{'show': changPasswordSubmitted && c.oldPassword.errors}">
                        <div class="field-err" *ngIf="c.oldPassword.errors.required">{{oldPwdLabel}} required</div>
                    </div>                    
                    <div class="invalid-feedback" *ngIf="invalidOldPwdFlag" [ngClass]="{'show': invalidOldPwdFlag}">
                        <div class="field-err">{{invalidOldPwdMsg}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cpwd-form-row">
            <div class="cpwd-form-control">
                <div class="pwd-label">{{newPwdLabel}}</div>
                <span class="min-char text-right">{{minCharTxt}}</span>
                <div class="cpwd-form-field">
                    <div class="field-col bg-col pwd-bg"></div>
                    <div class="field-col text-col alt-text">
                        <input [type]="npwdFieldTextType ? 'text' : 'password'" matInput placeholder="{{enterTxt}} {{newPwdLabel}}" formControlName="newPassword" maxlength="30" (blur)="onBlur()"  (keyup)="checkpasswordtext($event)" (input)="onChange('npwd', $event.target.value)" [ngClass]="{ 'is-invalid': changPasswordSubmitted && c.newPassword.errors }" [readonly]="submitLoading">
                        <div (click)="showPassword('npwd', npwdFieldTextType)" class="input-group-pwd normal" [ngClass]="{'active': !npwdFieldTextType, 'normal': npwdFieldTextType }"></div>
                        <div class="success-ok-tick-div"><span *ngIf="successPasswordTextIcon" class="success-ok-tick"><img src="assets/images/green-ok.png"></span></div>
                    </div>
                    <div class="invalid-feedback" *ngIf="!passwordchecker && changPasswordSubmitted && c.newPassword.errors" [ngClass]="{'show': changPasswordSubmitted && c.newPassword.errors}">
                        <div class="field-err" *ngIf="c.newPassword.errors.required">{{newPwdLabel}} required</div>
                        <div class="field-err" *ngIf="c.newPassword.errors.minlength">{{minCharTxt}} required</div>
                    </div>
                    <div *ngIf="passwordchecker" class="new-user-default-div">
                        <span *ngIf="!passwordValidationError && !disableDefaultPasswordText" class="new-user-default-text">Min. 8 chars, one uppercase, one lowercase & one special character</span>
                        <span *ngIf="passwordValidationError" class="new-user-error-text">{{passwordValidationErrorMsg}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cpwd-form-row">
            <div class="cpwd-form-control">
                <div class="pwd-label">{{confirmPwdLabel}}</div>
                <div class="cpwd-form-field">
                    <div class="field-col bg-col pwd-bg"></div>
                    <div class="field-col text-col alt-text">
                        <input [type]="cpwdFieldTextType ? 'text' : 'password'" matInput placeholder="{{enterTxt}} {{confirmPwdLabel}}" formControlName="confirmNewPassword" maxlength="30" (input)="onChange('cpwd', $event.target.value)" [ngClass]="{ 'is-invalid': changPasswordSubmitted && c.confirmNewPassword.errors || !passwordMatch }" [readonly]="submitLoading">
                        <div (click)="showPassword('cpwd', cpwdFieldTextType)" class="input-group-pwd" [ngClass]="{'active': !cpwdFieldTextType, 'normal': cpwdFieldTextType }"></div>
                    </div>
                    <div class="invalid-feedback" *ngIf="changPasswordSubmitted && c.confirmNewPassword.errors || changePasswordForm.get('newPassword').value != changePasswordForm.get('confirmNewPassword').value && changePasswordForm.get('confirmNewPassword').value != null" [ngClass]="{'show': changPasswordSubmitted && c.confirmNewPassword.errors || !passwordMatch}">
                        <div class="field-err" *ngIf="c.confirmNewPassword.errors || !passwordMatch || changePasswordForm.get('newPassword').value != changePasswordForm.get('confirmNewPassword').value && changePasswordForm.get('confirmNewPassword').value != null">{{confirmPwdLabel}} does not match</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="invalid-feedback" *ngIf="invalidMsgFlag" [ngClass]="{'show': invalidMsgFlag}">
            <div class="field-err" >{{invalidMsg}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="confirm-actions">
            <button type="button" class="btn action-btn cancel" [ngClass]="{'setOpacity3': submitLoading}"  (click)="cancelAction()">Cancel<span class="cancel-btn"></span></button>
            <button type="submit" class="btn action-btn submit" [ngClass]="{'setOpacity3': !submitFlag || submitLoading}">save
                <span *ngIf="!submitLoading" class="submit-btn save-btn"></span>                
            </button>
            <span *ngIf="submitLoading" class="load-btn"><img src="assets/images/filter/filter-loading.svg" alt="Loader" /></span>
        </div>
    </div>
</form>