::ng-deep body.auth .modal-dialog .modal-content .login-modal .modal-body{
    margin: 0 !important;
    padding: 0px !important;
}
::ng-deep body.auth .modal-dialog .modal-content .login-modal .modal-header{
    padding: 20px !important;
}