.folder-card {
  margin: 0 !important;
  .document-folder-item-system{
    margin: 10px 5px 0 5px !important;
  }
  .system-heading {
    top: inherit;
    bottom: 19px;
  }
  .system-sub-heading {
    top: inherit;
    bottom: 5px;
  }
}
.document-card {
  margin: 10px 5px !important;
}
.doc-list-cont{
  margin: 10px 0;
  &.table-view{
    padding:0 !important;
  }
}
.mat-toolbar.mat-primary{
  display:none;
}
.img-del{
  position: relative;
  top: -3px;
}
.img-upload {
  position: relative;
  top: -2px;
  width: 17px;
}
  
  
.file-heading{
  background: url(/assets/images/documents/file-icon.png) no-repeat 0px 3px;
  padding-right: 15px;
  padding: 0px 10px 0px 25px;
  position: relative;
  left: 0px;
  top: -5px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3b3b45;
}

.published{
    background-color: #69ba5c;
    width: 91px;
    height: 21px;
    margin: 0px 0px 10px 16px;
    padding: 1px 16px;
    font-size: 13px;
    border-radius: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.draft{
  background-color: #31a5e9;
  width: 91px;
    height: 21px;
    margin: 0px 0px 10px 16px;
    padding: 1px 16px;
    font-size: 13px;
    border-radius: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.like-count{
  background-image: url('/assets/images/thread-detail/thread-like-normal.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 45px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

.like-count.active{
  background-image: url('/assets/images/thread-detail/thread-like-active.png');
}
.pin-count{
  background-image: url('/assets/images/thread-detail/thread-pin-normal.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 45px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}
.pin-count.active{
  background-image: url('/assets/images/thread-detail/thread-pin-active.png');
}
.share-count{
  background-image: url('/assets/images/thread-detail/thread-share.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 48px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}
.view-count{
  background-image: url('/assets/images/thread-detail/thread-view.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 50px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

.mat-cell{
  display: block;
}
/*.doc{
  background-color: #f0f2fb !important;
}.pdf{
  background-color: #fbeff1 !important;
}.xls{
  background-color: #edf3ef !important;
}.ppt{
  background-color: #f7f1ee !important;
}.html{
  background-color: #eaf5f3 !important;
}.zip{
  background-color: #e8e8f2 !important;
}.link{
  background-color: #f9eee9 !important;
}.mp3{
  background-color: #fbeff1 !important;
}.youtube{
  background-color: #ffeeee !important;
}.empty{
  background-color: #e2eff2 !important;
}*/

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5em;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}

.mat-cell {
  color: #787474 !important;
  font-family: "Roboto-Medium";
  font-size: 14px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}
.mat-row{
  padding-top: 5px;
}
.mat-header-cell{
  font-size: 14px !important;
  color: #fff !important;
}

.mat-table .mat-row:last-child{
  border-radius: 0px 0px 16px 16px !important;
}
.mat-sort-header-arrow {
  color: #fff !important;
}
.mfg-logo-doc{
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 40px;
  img{
    max-width: 90%;
    max-height: 40px;
  }
}
.system-folder{
  color: #9999ae !important;
  font-family: "Roboto-Medium";
  font-size: 12px !important;
  font-weight: normal;
}
.list-id{
  color: #9999ae !important;
  font-family: "Roboto-Regular";
  font-size: 14px !important;
  font-weight: normal;
}
