::ng-deep{

   .modal-body
{
    border-radius: 0px 10px  10px
}    
.input-row {
        .icons-size {
            width: 19px;
            height: 16px;
        }

        .new-request-icon {
            fill: #b2b2b2;
        }

        .field-err {
            font-size: 13px;
            font-family: "Roboto-Regular";
            color: #dc3545;
        }

        .input-filed {
            ::placeholder {
                color: #999999 !important;
                font-size: 15px;
                font-family: Roboto-Regular;
            }
            input,
            textarea {
                border: solid 1px #dbddde;
                background-color: #fbfbfb;
                color: #000000;
                font-size: 15px;
                font-family: Roboto-Regular;
            }
            textarea {
                border-radius: 3px;
                width: 100%;
                padding: 0.5rem 0.5rem;
            }
        }

        .input-shop {
            padding-bottom: 10px;
        }
    }
}