.reply-chat-wrapper {
  border-left: 5px solid #f7a060;
  background: #e2edff;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #4c4f52;
  clear: both;
  cursor: pointer;
  h6 {
    color: #444;
    font-size: 12px;
    font-weight: bold;
  }
  img,
  audio {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  a {
    color: #4c4f52;
  }
  span {
    display: block;
  }
  &-inner {
    display: flex;
    align-items: center;
    .file-size {
      color: #7e8389;
      padding-top: 5px;
    }
    img{
      border-radius: 10px;
    }
    &.clmn-direction{
      flex-direction: column;
      min-width: 300px;
      > div {
        width: 100%;
        > audio{
          display: block;
          width: 100%;
          margin: 0 0 10px;
        }
      } 
    }
  }
}
