.img-loader > img {
  width: 64px;
  position: absolute;
  top: 45vh;
  left: 50%;
}
.fs-14 {
  font-size: 14px;
}
.vehicle-list{
  span{
    &.year-items{
      ul{
        margin-bottom: 0 !important;
      }
    }

    ul{
      li{
        margin: 0px 5px 5px 0 !important;
      }
    }
  } 
}
.tag-label-no{
  color: #5e6980;
  font-size: 13px;
  padding-left: 25px;
}
.make-only{
  background-color: #f3e0e0;
    width: 100%;
    display: block;
    padding: 10px !important;
    margin-bottom: 20px !important;
    margin-top: -6px !important;
    border-radius: 9px;
}
.setPadding1{
  padding:4px 0 3px 0;
}

.pl-1r {
  padding-left: 20px;
}
.gts_view__icons {
  border-top: 1px solid #e7ebeb;
  padding: 12px 0 10px 16px;
}
.footer-selection {
  background-color: #fff;

  height: 27px;
  border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
 
    width: 100%;
    padding: 1px 0px 0px 15px;
    .lft {
      float: left;
      padding-right: 6px;
      cursor: pointer;
    }
    .rht {
      float: right;
      padding-right: 4px;
    }
    .text-color-footer {
      font-size: 14px;
      color: #bebfc3;
      font-family: "Roboto-Regular";
      font-weight: 500;
    }
    .footer-bulb-icon {
      width: 80%;
    }
 
}
.footer-icon {
  position: relative;
  top: -3px;
}
.footer-icon {
  cursor: pointer;
}
.rel {
  position: relative !important;
}