.margin0{
    margin: 0;
}
.padding0{
    padding: 0;
    &.paddingRt20{
        padding-right: 20px !important;
    }
    
}
.prob-form-row{   
    margin:5px 5px 25px 5px;
    padding: 0;
    &.attachment-row{
        margin:30px 0 1px 0 !important;
    }
}
.part-label-row{
    display: block;  
    margin-top: 20px;  
    .label-icon{
        display: inline-block;        
        position: relative;       
        vertical-align: top;        
    }
    .lable-text{
        display: inline-block;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        color: #9a9a9a;
        vertical-align: middle;
        padding-left: 6px;
    }
}
.part-text-row{
    display: block; 
    margin-top: 10px; 
    .inputbox{
        background-color: #fbfbfb;
        border: 1px solid #dbddde !important;
        font-family: 'Roboto-Regular';    
        border: 0 none;
        font-size: 14px;
        color:#000000;
        padding: 9px 10px;
        max-width: 100%;
        width: 100%;
        border-radius: 6px;
        &::placeholder {
            color:#b5b5b5;
        }
    }    
    
}
.input-down-arrow {
    position: relative;
    display: inline-block;
    .icon {
        display: block;
        margin: 0;
        padding: 0;
        width: 16px;
        height: 10px;
        position: absolute;
        left: -27px;
        top: -10px;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('/assets/images/dropdown_downarrow.png') no-repeat;
    }
}
.input-cal {
    position: relative;
    display: inline-block;
    .icon {
        display: block;
        margin: 0;
        padding: 0;
        width: 17px;
        height: 17px;
        position: absolute;
        left: -27px;
        top: -14px;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('/assets/images/escalations/ppfr/date.png') no-repeat;
    }
}
.input-odo{
    position: relative;
    display: inline-block;
    .text{
        display: block;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 20px;
        position: absolute;
        left: -36px;
        top: -16px;
        font-family: "Roboto-Regular";
        border: 0 none;
        font-size: 14px;
        color: #000000;
    }
}
  /** Perfect Scrollbar */
  ::ng-deep body .ps {
    &.ps--active-y { 
      .ps__rail-y {       
        z-index: 100;        
      }
    }
  }



