.dtc-form-row {
    display: table;
    padding: 0px 0px 0px 20px;
    width: 100%;
    .dtc-form-control {
        input {
            background: transparent;
            border: solid 1px #e1dfdf;
            border-radius: 8px;
            padding: 5px 15px;
        }
    }
    .dtc-form-col {
        display: table-cell;
        &.err-col {
            width: 25%;
        }
        &.desc-col {
            width: 75%;
        }
    }
}
.disabled{
    opacity: .5;
}
.green-button-color {
    background-color: #469073!important;
    border: solid 1px #469073!important;
}