.flex-row {
    display: flex;
    width: 100%;
  }
  .flex-col {
    display: flex;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    flex-direction: column;
  }
  .knowledge_view__icons {
    border-top: 1px solid #e7ebeb;
    padding: 12px 0 10px 16px;
  }
  .knowledge_article_title {
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    padding-top: -5px;
    position: relative;
    top: -5px;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 12px;
  }
  .ka_username {
    font-size: 15.5px;
    font-weight: bold;
    font-family: "Roboto-Regular";
    line-height: 1.1;
    cursor: pointer;
    color: #636363;
  }
  .ka_userRole {
    font-size: 13px;
    font-weight: normal;
    font-family: "Roboto-Regular";
    line-height: 1.31;
    color: #636363;
  }
  .ka_user_details {
    padding-left: 5.5rem;
    text-align: left;
    font-family: "Roboto-Regular";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }
  .knowledge_view__editedOn,
  .knowledge_view__editedBy {
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
  }
  .knowledge_view__editedOnText,
  .knowledge_view__editedByText {
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: normal;
    text-align: left;
    color: #848484;
  }
  
  .left__view {
    display: flex;
    flex-direction: column;
    padding: 26px;
    padding-bottom: 5px;
  }
  // .left__view img {
  //   width: 100%;
  //   max-height: 225px;
  // }
  .ps_relative {
    position: relative;
  }
  .tag-info {
    padding-left: 0px !important;
    &.catg-info{
      padding:20px 0 0 0;
    }
  }
  .baner_img {
    top: 22%;
    left: 42%;
    position: absolute;
  }
  .bg__img {
    background-image: url("../../../../../assets/images/default_KA.jpg") !important;
    background-repeat: repeat;
    background-size: contain;
    max-height: 225px;
    height: 225px;
    border-radius: 4px;
  }
  
  .knowledge_profileImg {
    width: 63px;
    height: 64px;
    z-index: 2;
    position: absolute;
    border: 2px solid #fff;
    cursor: pointer;
    top: 193px;
    left: 15px;
    border-radius: 35px;
  }
  .knowledge_bannerImg {
    max-height: 225px;
    height: 225px;
    width: 100%;
    border-radius: 12px;
    &.cover {
      object-fit: cover;
    }
    &.contain {
      object-fit: contain;
      background-color: #f1f1f1 !important;
    }
  }
  .created_date {
    align-self: flex-end;
    font-family: "Roboto-Regular";
    position: relative;
    top: -24px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.21;
    letter-spacing: normal;
    text-align: left;
    color: #878787;
  }
  .right__view {
    padding-left: 1rem;
  }
  .knowledge_view__description {
    padding-top: 0.2rem;
    border-top: 1px solid #e7ebeb;
  }
  .knowledge_view__description img {
    height: 16px;
    width: 16px;
    position: relative;
    top: -3px;
  }
  .img_16 {
    height: 17px;
    width: 18px;
  }
  .KA_makeModel {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #e55554;
  }
  .pl_10 {
    padding-left: 10px;
  }
  .desc_main {
    margin-left: 30px;
    top: -10px;
    position: relative;
  }
  .desc_main-text{
    top: -23px;
    p{
      margin:0 !important;
    }
  }
  .description_text {
    font-family: "Roboto-Regular";
    font-weight: 500;
    margin-left: 10px;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.26;
    letter-spacing: normal;
    text-align: left;
    color: #93989d;
  }
  .thread-scroll-container {
    overflow-y: auto;
  
    position: relative;
    overflow-x: hidden;
  
    &::-webkit-scrollbar-track {
      background: #dfe1e3 !important;
    }
    &::-webkit-scrollbar-thumb {
      background: #dfe1e3 !important;
      height: 8px;
      width: 8px;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background: #a3a9af !important;
        transition: all 0.3s;
      }
    }
  
    .item-empty-container {
      visibility: visible;
      margin: 0;
      /*
          position: absolute;
          top: 50%;
          left: 40%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);  
      */
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 60%;
    }
    .thread-add-new {
      opacity: 0.5;
      display: inline-block;
      background-color: #fa972d;
      padding: 5px 10px 5px 10px;
      color: #fff;
      border-radius: 5px;
      margin-right: 15px;
      margin-left: 15px;
      font-size: 14px;
    }
    .empty-res {
      color: #b2b2b2;
      font-style: italic;
      padding: 15px 0 0 0;
    }
  }
  .thread-detail-section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;
    .th-outer-col {
      display: inline-block;
      vertical-align: top;
    }
    .th-outer-col-1 {
      width: 6%;
    }
    .th-outer-col-2 {
      &.col-expand {
        width: 76%;
        transition: all 0.5s;
      }
      &.col-collapse {
        width: 93%;
        transition: all 0.5s;
      }
      .thread-post {
        scroll-behavior: auto;
        max-height: 100% !important;
        position: relative;
      }
      .post-div-right,
      .edit-history-div,
      .thread-detail-page,
      .thread-detail-scroll-to:hover,
      .thread-detail-scroll-to:focus {
        visibility: visible;
      }
      .thread-detail-scroll-to {
        overflow-y: auto;
        visibility: hidden;
      }
      .thread-detail-page {
        .display-table {
          display: table;
        }
        .display-tablecell {
          display: table-cell;
          vertical-align: middle;
        }
  
        /**** thread and post *******/
  
        .close-div {
          background-color: #f7826c;
          padding: 13px 0;
          margin: 20px 0 0 0;
          border-radius: 10px;
          display: block;
          text-align: center;
          .close-div-icon {
            display: inline-block;
            vertical-align: top;
          }
          .close-div-text {
            display: inline-block;
            vertical-align: top;
            font-family: Roboto-Medium;
            color: #ffffff;
            font-size: 16px;
            padding-left: 10px;
          }
        }
      }
    }
    .th-outer-col-3 {
      float: right;
      &.col-expand {
        width: 16%;
        transition: all 0.5s;
      }
      &.col-collapse {
        width: 1%;
        transition: all 0.5s;
      }
      .cust-right-panel {
        &.right-panel-collapse {
          right: -5px;
          top: 70px;
          width: 36px;
          position: absolute;
        }
      }
    }
  }
  .footer-selection {
    background-color: #fff;
  
    height: 27px;
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    .thread-footer-container {
      width: 100%;
      padding: 1px 0px 0px 15px;
      .lft {
        float: left;
        padding-right: 6px;
        cursor: pointer;
      }
      .rht {
        float: right;
        padding-right: 4px;
      }
      .text-color-footer {
        font-size: 14px;
        color: #bebfc3;
        font-family: "Roboto-Regular";
        font-weight: 500;
      }
      .footer-bulb-icon {
        width: 80%;
      }
    }
  }
  .footer-icon {
    position: relative;
    top: -3px;
  }
  .flex-row {
    display: flex;
  }
  .pl-1r {
    padding-left: 20px;
  }
  .footer-icon {
    cursor: pointer;
  }
  .rel {
    position: relative !important;
  }
  .text-color-footer {
    font-size: 14px;
    color: #bebfc3;
    font-family: "Roboto-Regular";
    font-weight: 500;
    position: relative;
    top: -2px;
    left: 6px;
  }
  .user-icon {
    height: 21px;
    width: 21px;
  }
  .pl_6 {
    padding-left: 6px;
  }
  .pl_9 {
    padding-left: 9px;
  }
  ::ng-deep .tag-info{
    padding: 0;
     .tags{
       span{
        &.no-tag{
          display: block;
          margin-left: 25px;
          top: -13px;
          position: relative;
        }
      }
     }
  }
  ::ng-deep #knowledge-article .thread-detail-section .right-landing-toggle-menu-bar .filter-toggle.expand-arrow{
    left: 1px;
    right: 0;
  }