::ng-deep{    
    .black-theme-row .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label{
        padding-left: 10px !important;
    }
    body.submit-loader .modal-content .loader img{
        position: relative;
        left:180px;
        width: 128px;
    }
    body.dispatch .ps.ps--active-y .ps__rail-y{
        right: 15px !important;
    }
    body.auth-index{
        height: 100vh !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        background: #ffffff !important;
        width: 100%;
        padding: 0;
        margin: 0 auto;  
    }
    .loader{
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 64px;
        }
    }
    .padding-left0{
        padding-left: 0 !important;
    }
    .no-padding {
        padding: 0px!important;
    }
    .no-margin {
        margin: 0px!important;
        .margin-bottom-40{
            margin-bottom: 40px !important;
        }
    }
    .flex-align-center {
        display: flex;
        align-items: center;
    }
    .flex-align-end {
        display: flex;
        align-items: end;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .page-index{
        width: 100%;
    }
    .header{
        width: 100%;
        border-bottom: 3px solid #c7d1ec;
    }
    .width-80-per{
        width: 80%;
    }
    .width-100-per{
        width: 100%;
    }
    .height-100-px{
        height: auto !important;
        margin: 20px 0 0 0;
        .margin-mtop{
            margin:0 0 20px 0 !important;
        }
    }
   
    /************heaer**********/
    .height-60-px{
        height: 58px;
    }
    .height-100-px{
        height: 100px;
    }
    .header-left{
        display: inline-block;
        img{
            max-width: 300px;
            height: 36px
        }
    }    
    /************heaer**********/
     /************footer********/ 
     .footer-top-border{
        border-top: 1px solid #eaeaea;
        padding: 5px 0 0 0 !important;
    }
    .footer-row{
        padding: 0 0 5px 0 !important;
    }    
    .text-co{
        font-family: 'Roboto-Regular';
        font-size: 13px; 
        color:#000000;
    }        
     /************footer********/
     .center{
        &.repair-order{
            .repair-order-top-bg{
                background-color: #e8ebf3;
                padding: 20px;
                width: 100%;                
            }
            .order-top-lt{
                width: 105px;
                padding: 22px 0;
            }
            .order-top-rt{
                width: calc(100% - 105px);
            }
            .top-circle-img{
                width: 79px;
                height: 79px;
                background-color: #f6f9ff;
                border-radius: 50%;
                img{
                    margin: 0 auto;
                }
            }
            .top-title-text{
                font-family: Roboto-bold;
                font-size: 24px;
                color: #000000;
                width: 100%;
            }
            .top-desc-text{
                font-family: Roboto-Regular;
                font-size: 15px;
                color: #000000;
                padding-top: 2px;
                width: 100%;
            }
            .form-head{
                font-family: Roboto-Medium;
                font-size: 32px;
                color: #000000;
                text-transform: uppercase;
                padding: 40px 0 30px 0;
                text-align: center;
                width: 100%;
            }
            .label-head-row-1{
                margin-top: 16px; 
                width: 100%;
                svg{
                    display: inline-block;
                    path {
                        fill: #000000;
                      }
                }
                span{
                    padding-left: 10px;
                    display: inline-block;
                    font-family: Roboto-Medium;
                    font-size: 16px;
                    color: #000000;
                    &.req-text{
                        font-family: Roboto-Regular;
                        font-style: italic;
                        font-size: 14px;
                        color: #b2b2b2 !important;                        
                    }
                    &.text-count{
                        color: #000000;  
                    }
                }
                
            }
            .label-head-row-2{
                margin-top: 10px; 
                width: 100%;
                svg{
                    display: inline-block;
                    path {
                        fill: #b2b2b2;
                      }
                }
                span{
                    padding-left: 10px;
                    display: inline-block;
                    font-family: Roboto-Regular;
                    font-size: 16px;
                    color: #777777;
                    text-align: left;
                    &.req-text{
                        font-family: Roboto-Regular;
                        font-style: italic;
                        font-size: 14px;
                        color: #b2b2b2 !important;                        
                    }                   
                }
                
            }           
            .input-text-row{
                display: block; 
                width: 100%;
                margin-top: 12px; 
                .inputbox{
                    background-color: #ffffff;
                    border: 1px solid #d8d8d8 !important;
                    font-family: 'Roboto-Regular';    
                    border: 0 none;
                    font-size: 15px;
                    color:#000000;
                    padding: 9px 10px !important;
                    max-width: 100%;
                    width: 100%;
                    border-radius: 1px;
                    &::placeholder {
                        color:#b5b5b5;
                    }
                    &.inputbox-odo{
                        width: calc( 100% - 85px);
                        padding: 0; 
                        position: relative;
                        top: -2px;                       
                    } 
                    &.inputbox-odo-red{
                        border: 1px solid #dc3545 !important;          
                    }                                     
                }             
                .p-dropdown{
                    background-color: #ffffff;
                    font-family: 'Roboto-Regular';    
                    border: 0 none;
                    font-size: 15px;
                    color:#000000;
                    padding: 9px 10px;
                    max-width: 100%;                           
                    border-radius: 1px;
                    padding: 0 !important;
                    &:focus{
                        box-shadow: none !important;
                        outline: none !important;
                    }
                }
                .p-dropdown-label{
                    font-family: 'Roboto-Regular';  
                    font-size: 15px;
                    color:#000000;                    
                    padding: 10px 0 7px 10px;
                }
                .p-dropdown .p-dropdown-label.p-placeholder{
                    color:#b5b5b5 !important;
                }
                .p-dropdown-servicetype{
                    .p-dropdown{
                        border: 1px solid #d8d8d8 !important;   
                        width: 100%;
                    }
                }
                .p-dropdown-meter{                      
                    .p-dropdown{
                        width: 80px;
                        padding: 1px 0 0 0 !important;                        
                        border: 1px solid #d8d8d8 !important;                        
                        position: relative;
                        top: 0;    
                        left: 3px;                   
                        &::placeholder {
                            color:#b5b5b5;
                        }
                    }
                } 
                .p-dropdown-tech-red{ 
                    .p-dropdown{
                        width: calc( 100% - 185px);                        
                        box-shadow: 0 0 6px 0 rgba(70, 144, 115, 0.3);
                        border: solid 1px #dc3545 !important;                       
                        &::placeholder {
                            color:#b5b5b5;
                        }                       
                    }         
                } 
                .p-dropdown-tech-green{                                       
                    .p-dropdown{
                        width: calc( 100% - 185px);                        
                        box-shadow: 0 0 6px 0 rgba(70, 144, 115, 0.3);
                        border: solid 1px #469073 !important;                       
                        &::placeholder {
                            color:#b5b5b5;
                        }                       
                    }
                } 
                .p-dropdown:not(.p-disabled).p-focus{
                    box-shadow: none !important;
                        outline: none !important;
                }
                                
            }
            .input-down-arrow {
                position: relative;
                display: inline-block;
                .icon {
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 16px;
                    height: 10px;
                    position: absolute;
                    left: -27px;
                    top: -10px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background: url('/assets/images/dropdown_downarrow.png') no-repeat;
                }
            } 
        }
     }
     textarea.form-control{
        margin: 10px 0 0 0;
        padding: 10px;
        display: block;
        width: 100%;
        min-height: 100px;
        overflow: hidden;
        border: 1px solid #d8d8d8 ;
        border-radius: 1px;  
        font-size: 15px;
        color: #000000;
        padding: 9px 10px !important;
        max-width: 100%;
     }
     textarea.form-control[readonly]{
        background-color: transparent;
        opacity: 0.6;
     }
     ckeditor{
        margin: 10px 0 0 0;
        padding: 0;
        display: block;
        width: 100%;
        overflow: hidden;
        border: 1px solid #d8d8d8 ;
        border-radius: 1px;        
        &.editor-desc-green{
            border: 1px solid #469073 !important; 
            box-shadow: 0 0 6px 0 rgba(70, 144, 115, 0.3);         
        }
        &.editor-desc-red{
            border: 1px solid #dc3545 !important;          
        }
     }
     .ck .ck-placeholder:before{
        color:#b5b5b5 !important;
     }
     .ck.ck-editor__main > .ck-editor__editable {
        min-height: 150px !important;
        border-bottom-right-radius: 1px !important;
        border-bottom-left-radius: 1px !important;
        border-left: none;
        border-right: none;
        border-bottom: none;
        width: 100%;
        overflow: hidden;
        word-break: break-word;
        font-family: 'Roboto-Regular';    
        font-size: 15px;
        color:#000000; 
    }
        
    .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
    .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
        border-top-left-radius: 1px !important;
        border-top-right-radius: 1px !important;
    }
    .ck.ck-toolbar{
        border: none !important;
    }
    .attach-row-lt{
        margin-top: 16px;
        svg{
            height: 20px;
            width: 20px;
            display: inline-block;
            path {
                fill: #000000;
              }
        }
        span{
            padding-left: 5px;
            display: inline-block;
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #000000;
            text-align: left;
        }
        
    }
    .attach-row-rt{        
        display: flex;
        align-items: center;
        margin: 12px 0 0 0px;        
        svg{
            display: inline-block;
            path {
                fill: #ffffff;
              }
        }
        span{
            &.attach-text{
                line-height: normal;                
                background-color: #444444;
                border: solid 1px #444444;
                height: 30px;
                font-family: Roboto-Regular;
                font-size: 16px;
                color: #ffffff;
                text-align: left;
                width: 140px;
                border-radius: 16px;
                display: flex;
                align-items: center;               
                justify-content: center;
            }
            &.attach-count{
                line-height: normal;                
                padding: 0;
                display: flex;
                align-items: center;               
                justify-content: center;
                background-color: #fb982c;
                border: solid 1px #fb982c;
                width: 30px;
                height: 30px;                
                font-family: Roboto-Regular;
                font-size: 16px;
                color: #ffffff;
                border-radius: 50%;
                margin-left: 10px;
            }
            
        }
        
    }
    .p-button,.p-button.p-button-rounded,.p-button:enabled:hover,.p-button:enabled:active {
        &.button-save {
            border: 1px solid #469073;
            padding: 9px 38px 9px 38px;
            border-radius: 8px;
            background-color: #469073;
            font-family: Roboto-Bold;
            font-size: 16px;
            color: #ffffff;
            text-transform: uppercase;           
            .pi-check:before{
                font-weight: 600;
            }
        }
        &:focus {
            box-shadow: none;
        }
        &.button-new{
            background-color: #ffffff;
            font-family: Roboto-Regular;
            font-size: 15px;
            color: #469073;
            border: 1px solid #469073;
            text-transform: capitalize;
            padding: 8px 15px 9px 8px;
            border-radius: unset;
            &.button-tech{
                width: 165px;
                float: right;
                border: 1px solid #000000 !important;
                color: #000000 !important;
            }
        }
        &.button-sidebar{
            padding:7px 25px 7px 25px;
            border: 1px solid #469073 !important;
            background-color: #469073 !important;
        }
    }
    .reference-info-hide .reference-info {
        display: none !important;
    }
    .reference-info-hide .upload-area {
        display: none !important;
    }
    .upload-area .upload-col.cloud{
        display: none !important;
    }
    .schedule-service-form-row{
        margin:0 0 25px 0 !important;
    }
    .service-form-error-row{
        font-family: Roboto-Regular;
        font-style: italic;
        font-size: 13px;
        color: #dc3545;
        margin: -20px 0 0 0;
        position: relative;
        top: 20px;
    }
// automated dialog popup
.ro-success-msg-dialog-popup{
    max-width: 500px;
    width:  500px;    
    &.p-dialog .p-dialog-header{
      display: none;
    }
    .p-dialog-content{
        border-radius: 25px;
        padding: 0px !important;
      .automated-msg-container{
        .green-div{
            background-color: #469073;
            padding: 30px 0 15px 0;
        }
        .white-div{
            background-color: #ffffff;
            padding: 15px 0 30px 0;
        }
        padding: 0px !important;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: block;   
        .text-1{
            display: inline-block;
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            width: 100%;
            padding-top: 20px;
            margin: 0;
        }
        .text-2{
            display: inline-block;
            font-family: Roboto-Regular;
            font-size: 14px;
            color: #fff500; 
            text-align: center;
            width: 100%;
            padding-top: 5px;
            margin-bottom: 0;
        }
        .text-3{
            display: inline-block;
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #000000;
            text-align: center;
            width: 100%;
            padding-top: 0;
            margin-bottom: 0;
        }
        .btn-div{
          display: inline-block;
          width: 100px;
          height: 32px;
          margin: 15px 0 0 0;
          padding: 3px 0 0 0;
          border-radius: 22px;
          background-color: #469073;
          text-align: center;
          span{
            display: inline-block;
            font-family: Roboto-Medium;
            font-size: 16px;
            color: #ffffff;
            vertical-align: top;
            position: relative;
            left: 4px;
          }
          img{
            vertical-align: top;
            display: inline-block;
            position: relative;
            top: 7px;
            left: -4px;
          }
        }
      }
    }
  }
  .p-sidebar .p-sidebar-header + .p-sidebar-content{
    padding-top: 16px !important;
  }
  .set-opacity6{
    opacity: 0.6;
  }  
  .col-right{  
    justify-content: flex-end;
  }
  .col-width-20{
    flex: 0 0 20%;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    background: #E5EFEB !important;
  }  
  .tech-row{
    margin-top: 20px !important;
  }
  .mtop24{
    margin-top:  24px !important;
  }
  .mtop17{
    margin-top:  17px !important
  }
  .mtop27{
    margin-top:  27px !important
  }
  .height-set{
    height: calc(100vh - 110px);
  }
}
@media screen and (max-width: 960px){

}
::ng-deep{  
    @media screen and (max-width: 767px){   
        .p-button,.p-button.p-button-rounded,.p-button:enabled:hover,.p-button:enabled:active {
            &.button-save {
                padding: 9px 18px 9px 18px;
            }
        }     
        .p-button,.p-button.p-button-rounded,.p-button:enabled:hover,.p-button:enabled:active {
            &.button-new{
                &.button-tech{
                    width: 61px;
                    float: right;
                    padding: 8px 0 9px 5px;                   
                    .p-button-label{
                        width: 20px !important;
                        white-space: nowrap;
                        overflow: hidden;
                        padding: 0;
                    }
                }
            }
        }
        .p-dropdown-tech{                    
            .p-dropdown{
                width: calc( 100% - 70px) !important;
                float: left;                
            }
        }
        .center.repair-order .order-top-rt{
            padding: 12px 0 12px 0;
        }
        .col-width-20 {
            flex: initial;
        }
        .ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
            flex-wrap: initial;
        }       
        .height-set{
            height: calc(100vh - 110px);
        }
        .padding-left0{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .set-width-50{
            width: 50%;
        }
        .p-sidebar-right{
            width: 24rem !important;
        }
        ngx-intl-tel-input {
            width: 344px !important;
            .iti{display: block;}
        }
    }
    .form-type-fields{
        .p-button:focus,
        .p-button:hover{
          box-shadow: none !important;
          border: 1px solid #469073 !important;
        }
        .form-control:focus,
        .p-inputtext:enabled:focus,
        .p-inputtext:enabled:hover,
        .p-dropdown:not(.p-disabled).p-focus,
        .p-dropdown:not(.p-disabled):hover,
        .p-multiselect:not(.p-disabled).p-focus,
        .p-multiselect:not(.p-disabled):hover {
          box-shadow: none !important;
          border: 1px solid #dbddde !important;    
        }
        .iti__country-list{
            white-space: normal;
            max-height: 200px;
            width: 280px;
        }
        .iti__country-name{
            font-size: 14px;
            font-family: 'Roboto-Regular';
        }
      }
}
.parallelogram {
	width: 150px;
    height: 30px;
    transform: skew(165deg);
    background: #f99724;
    color: #fff;
    text-align: center;
    line-height: 30px;
    text-transform: Uppercase;
    display: inline-block;
    font-family: Roboto-Medium;
    font-size: 15px;
    margin-left: 20px;
}
.field-err{
    font-size: 13px;
    font-family: 'Roboto-Regular';
    color: #dc3545;
}
.signuperror-row{
    font-family: "Roboto-Regular";
    font-style: italic;
    font-size: 13px;
    color: #dc3545;
    margin: 0;
    position: relative;
    top: 0;
}