::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-content .table-row3.doc-table-row3 {
    padding-top: 40px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-content .table-row3.doc-table-row3 .thread-detail-widget{
    padding-top: 40px;
}
::ng-deep .system-info{
    padding: 0;
}
::ng-deep .reference-info{
    padding: 0;
}
::ng-deep .mat-accordion>.mat-expansion-panel-spacing:last-child{
    margin-bottom: 0;
}
::ng-deep .system.system .mat-expansion-panel-body{
    padding: 15px 0 0;
}
::ng-deep .tag-info.ws-info{
    padding: 15px 10px 5px 15px;
    border-top: none !important;
    margin-top:10px !important;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row.setPaddingNew{
    padding: 10px 10px 10px 0px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row .problem-col-lt.doc-tag-lt-new{
    top:5px;
}
::ng-deep{
    body.thread-detail .thread-detail-section-other .th-outer-col-1{
        width: 10%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2.col-collapse{
        width: 88%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2.col-expand{
        width: 72%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2 .thread-detail-page .thread-detail-div .thread-detail-div-left{
        width: 100%;
    }

    body.thread-detail .thread-detail-section-other .th-outer-col-2 .thread-detail-page .thread-detail-div .thread-detail-div-right{
        width: 10%;
    }
    body.thread-detail .thread-detail-section{
        background: #eff0f1;
    }
    body.thread-detail .view-more-actions{ 
        display: inline-block;
        margin-right: 20px;
        svg {
            color:#298368;
            circle,
            path {
                fill: #298368;
                stroke:#ffffff;
            }  
        }      
    }
    .view-more-actions{
        width: 26px;
        height: 26px;
        background-color: #298368;
        border-radius: 50%;
        img{
            position: relative;
            &.more{
                top: -1px;
                left: 6px;
            }
            &.copy{
                top: -1px;
                left: 7px;
            }
            &.newtab{
                top: -1px;
                left: 7px;
            }
        }
    }
    .copied-modal {
        .p-dialog-mask {
          &.p-component-overlay {
            background: transparent !important;
            z-index: 0 !important;
          }
        }
        .p-dialog {
          box-shadow: none;
          .p-dialog-header {
            display: none;
          }
          .p-dialog-content {
            background: #3c424d;
            border-radius: 10px;
            color: #FFF;
            margin: 0 auto;
            padding: 0;
            width: 150px;
            .copied-txt {
              padding: 10px 0px;
            }
          }
        }
      }
      .copied-txt-div{
        position: absolute;
        right: 30px;
        top: 60px;
        z-index: 10;
       .copied-txt-inner-div{        
            background: #3c424d;
            border-radius: 10px;
            color: #FFF;
            margin: 0 auto;
            padding: 0;
            width: 150px;
            padding: 10px 0px; 
            text-align: center;       
        }
      }
}

