.page-title-design {
    font-size: 22px;
    font-family: Roboto-Bold;
    color: #4b4c4c;
    vertical-align: middle;
    position: relative;
    top: 10px;
  }

  .card-parent-design-new {
    margin: 25px 25px 0px 0px!important;
    // height: calc(100vh - 155px)!important;
    overflow: hidden;
  }
  .custom-register-user-button {
    border-radius: 15.5px;
    background-color: #469073;
    padding: 5px 20px;
    margin-right: 20px;
    img {
      margin-right: 5px;
    }
    .register-user-text-design {
      font-family: 'Roboto-Regular';
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }
  }
  .custom-header {
    height: 51px;
    padding: 10px 20px;
      &,
      >* {
        background-color: #687083 !important;
      }
    // display: flex;
}

.custom-table-heading {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #fff !important;
    text-align: left !important;
    box-shadow: none;
    padding: 5px 10px !important;
    word-break: break-word;
    min-width: fit-content;
    white-space: normal;
    vertical-align: middle;
}

.custom-table-values {
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left !important;
  box-shadow: none;
  padding: 5px 10px !important;
  word-break: break-word;
  min-width: fit-content;
  white-space: normal;
  vertical-align: middle;
  font-size: 14px;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.margin-bottom-15px {
  margin-bottom: 15px !important;
}
.margin-bottom-10px {
  margin-bottom: 10px !important;
}

.margin-left-15px {
  margin-left: 15px !important;
}

.margin-right-11px{
  margin-right: 11px !important;
}
.back-arrow-design{
  width: 24px;
  height: 24px;
  padding: 6px 4px 6px 6px;
  background-color: #4c4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.position-relative-class {
  position: relative;
  top: 10px;
}

.div-design-for-download-upload-customers {
  display: flex;
  height: 31px;
  // width: 165px;
  // margin-right: 20px;
  margin-right: 15px;
  align-items: center;
  justify-content: start;
  float: right;
}

.custom-object-pair-padding {
  padding: 21px 0px !important;
}
.flex-end {
  display: flex;
  justify-content: end;
}

.border-bottom-1px {
  border-bottom: solid 1px #e1e1e1;
}

.display-flex {
  display: flex !important;
}

.key-label-class {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.summary-details-bg {
  border-top: solid 1px #e1e1e1;
  background-color: #f9f9f9;
    padding-right: 12px;
    margin-right: -1.4rem;
  .custom-object-pair-padding .key-label-class{
    padding-left: 2.6rem !important;
  }

}

.total-price-color {
  font-weight: 700 !important;
}
.grand-total-color {
  color: #298368 !important;
  font-size: 18px !important;
  font-weight: bold !important;
}


.value-label-class {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000;
}

.col-12.custom-object-pair-padding.training-summary {
  border: none;
  padding: 0 !important;
  margin-left: 12px;
  .value-label-class {
    color: #777;
  }
}

.head-txt{
  font-size: 14px;
  font-family: Roboto-Bold;
  color: #4c4b4b;
  position: relative;
  top: 2px;
}

.custom-black-sidebar {
  border-radius: 10px;
  background-color: #3c424d;
  margin: 15px 0 0 0 !important;
  height: calc(100% - 30px);
  padding: 1rem 0 1rem 1rem;

  .custom-padding-nav-menu {
    color: #abb6cc;
    padding: 0.5rem 1rem;
    margin-bottom: .5rem;
  }

  .select-nav-menu {
    background-color: #469073 !important;
    border-radius: 20px 0 0 20px;
    color: #fff !important;
    /*position: sticky;
    top: 0;*/
  }

}
.no-payment-response {
  margin: auto;
}
.no-payment-response .inner-div {
  text-align: center;
}
.no-payment-response .inner-div img {
  width: 68px;
}
.custom-header-black.font17 {
  font-size: 17px !important;
}
.custom-header-black {
  margin: .5rem -1rem;
  padding: .5rem;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.custom-header-green {
  color: #298368;
  margin: .5rem -1rem;
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #dfe1e3;
}

::ng-deep {

  .height-80.register-user-info {
    padding-left: 34% !important;
    padding-right: 0 !important;

    .summary-details-scale {
      margin-left: 0 !important;
      padding-right: 15px !important;
      padding-left: 12px;
    }

  }
  .height-80,
  .update-user-payment-info-popup .p-dialog-content {
    min-height: 80vh !important;
    padding: 0 1.5rem 0.5rem 1.5rem;
  }
  .height-80 .container.pb-2 {
    margin-top: 10px;
  }
  .height-80 .py-3 {
    padding-bottom: 5px !important;
  }

  .update-user-payment-info-popup {
    .custom-object-pair-padding {
      padding: 12px 0 !important;
    }

    .col-md-8 {
      padding-left: 35%;
      width: 100% !important;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-md-4 {
      position: absolute;
      left: 0;
      width: 35%;
      height: 100%;
      z-index: 9999;

      .custom-black-sidebar {
        height: calc(100% - 70px);
      }
    }

  }
  .marketplace-reports{    
    .p-column-filter-menu-button {
      color: #fff;
    }
  }
}

.summary-details-scale {
  margin-left: 24px;
  padding-right: 15px !important;
}

.summary-details-text {
  text-indent: -26px;

}
.grand-total-scale {
 /* margin-left: 2.6rem;
  text-indent: -56px;*/
}

.summary-details-right-scale {
  margin-right: -22px;
  padding-right: 12px !important;
}


.text-decoration-line-through{
  text-decoration: line-through;
}

.refund-button-design {
  border-radius: 20px;
  background: #fa972d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 14px;
  margin-left: 10px;
  color: #fff;
}