::ng-deep .landing-page-container .center-middle-width .rightside-menu-header .see-more-text-new{
    top:1px;
}
.no-data-contaier-new{
    position: relative;
    .no-data-contaier{
        visibility: visible;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    .no-data-text{
        font-family: "Roboto-Regular";
        font-size: 14px;        
        color: #b2b2b2;
        font-style: italic;
        padding: 0;
    }
}
.esc-body .makemodelcontent{
    .pi-chevron-right{
        margin-top: -2px !important;
    }
}
::ng-deep .announcement-container-es .padding10{
    padding: 10px 0 0 0 !important;
}
::ng-deep .announcement-container-es .landing-padding0-new{
    padding-right: 10px !important;
    margin: 0 0 0 0 !important;
    padding-left: 0 !important;
}
::ng-deep .announcement-container-es .esc-date-id{
    width: 110% !important;
}

