.view-modal-header {
    .view-modal-title-text {
        font-size: 18px;
    }

    .action-buttons button.button-save-hq {
        background-color: #298368;
        border: solid 1px #469073;
        position: relative;
        left: 0;
        border-radius: 25px;
        padding: 4px 12px;
        margin-right: 16px;
    }

    .action-buttons-hq {
        vertical-align: middle;
        float: right;
        padding: 0;
        margin: 0;
    }

    .close-btn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
    }
   
}

.view-modal-body {
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;

    .action-form {
        overflow-y: hidden;
        // height: calc(100vh - 11rem);
    }

    .container {
        overflow-y: auto;
        height: 100%;
        padding: 0 26px !important;

        .image-row {
            gap: 19px;
        }

        .txt-data {
            font-size: 14px;
            font-family: "Roboto-Regular";
            padding-bottom: 13px;
        }

        .add-action-btn {
            background-color: transparent;
            border: 1px solid #469073;
            padding: 3px 18px 5px 18px;
            border-radius: 14px;
            text-align: center;
            height: 28px !important;
            font-size: 14px;
            margin: 0 6px !important;
        }

        .add-action-btn img {
            position: relative;
            top: -2px;
        }

        .add-action-btn span {
            color: #469073;
            font-size: 14px;
            padding-left: 5px;
        }

        .input-row {
            .icons-size {
                width: 19px;
                height: 16px;
            }

            .new-request-icon {
                fill: #b2b2b2;
            }

            .field-err {
                font-size: 13px;
                font-family: "Roboto-Regular";
                color: #dc3545;
            }

            .input-filed {
                ::placeholder {
                    color: #999999 !important;
                    font-size: 15px;
                    font-family: Roboto-Regular;
                }
                input {
                    border: solid 1px #dbddde;
                    background-color: #fbfbfb;
                    color: #000000;
                    font-size: 15px;
                    font-family: Roboto-Regular;
                }
            }

            .input-shop {
                padding-bottom: 10px;
            }
        }
    }

    label {
        color: #9b9a9a;
        font-size: 14px;
        font-family: Roboto-Regular;
    }

    .required-txt {
        color: #b2b2b2;
        font-style: italic;
        font-size: 14px;
    }

    .mb-25 {
        margin-bottom: 25px;
    }

    .mb-27 {
        margin-bottom: 27px;
    }
    .mb-36 {
        margin-bottom: 36px;
    }

    .mb-12 {
        margin-bottom: 12px;
    }
    .fs-18 {
        font-size: 18px;
    }
}

.fw-medium {
    font-family: Roboto-Medium;
    font-size: 14px;
    color: #93989d;
}

.fw-bold {
    font-size: 18px;
    font-family: Roboto-Bold;
}
.fw-regular {
    font-size: 14px;
    font-family: Roboto-Regular;
    color: #000000;
}

.product-name-box {
    border: solid 1px #dbddde;
    border-radius: 6px;
    padding: 9px 9px 9px 9px;

   
}

.product {
    border-radius: 10px;
border: solid 1px #dcdcdc;
overflow: hidden;
width: 45px;
height: 45px;
min-width: 45px;
margin-right: 11px;
img {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}
}


.close-img {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
}

.product-details {
    gap: 30px;
    padding-right: 12px;
}

.calendar {
    position: absolute;
    right: 15px;
    top: 11px;
}

::ng-deep .p-calendar .p-datepicker {
    // transform: rotate(-360deg) translate(0, -75%);
	transform-origin: 100% 0;
}

:host ::ng-deep {
    .on-top{
        .p-dropdown-panel {
            bottom: 100% !important;
            top:unset !important;
        }
    }

    .no-dropdown{
        .p-dropdown-panel{
            display: none !important;  
        }
    }
    
    .input-error {
        .required-txt {
            color: #f44336 !important;
        }
        .input-filed {
            input {
                border-color: #f44336 !important ;
            }
        }
        .p-component {
            border-color: #f44336 !important ;
        }
    }
    .p-disabled,
    .p-disabled * {
        pointer-events: all;
        cursor: not-allowed !important;
    }
    .p-inputtext {
        color: #000000;
    }
}

:host ::ng-deep .sidebar-cont{
    .p-sidebar-content{
        padding: 0px !important;
        background: #ffffff !important;
        overflow: hidden;
    }
}

::ng-deep {

    .p-inputtext {
        background-color: #fbfbfb !important;
        // height: 41px;
    }

    


    ::placeholder {
        color: #999999 !important;
        font-size: 15px;
        font-family: Roboto-Regular;
    }
    body.headquaters-new .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
        border-color: #469073 !important;
        background: #fff !important;
    
        .p-radiobutton-icon {
          background-color: #469073 !important;
        }
      }
    
      body.headquaters-new .p-focus {
        box-shadow: none !important;
      }
    
      body.headquaters-new .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
        border-color: #469073 !important;
      }
    
      body.headquaters-new .p-radiobutton .p-radiobutton-box.p-highlight {
        border: 0 !important;
        background: #fff !important;
    
        .p-radiobutton-icon {
            background-image: url("../../../../assets/images/radio-checked.png") ;
            background-color: transparent !important;
            background-position: center center;
            background-repeat: no-repeat;  
            width: 22px !important;
            height: 22px !important;      

        }
    
      }
}

.product-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    color: #000;
    padding-left: 20px;
}
button.button-save-hq{
    background-color: #298368;
    border: solid 1px #469073;
    position: relative;
    left: 0;
    border-radius: 25px;
    padding: 4px 12px;
    margin-right: 10px;
  }



.product-form {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 13px;
    padding-top: 13px;
    .product-actions {
        gap: 20px;
    }
}
.action-form {
    .border-bottom {
      border-bottom: 1px solid #d5d5d5 !important;
    }
    .search {
        display: flex;
        border: solid 1px #dcdcdc;
        background-color: #f0f0f0;
        border-radius: 15px;
        align-items: center;
    }
    .search-icon {
        padding-left: 14px;
        padding-right: 4px;
    }
    .search-control {
        background: transparent;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        height: 34px;
    }
    .wrap-p {
        padding: 10px 10px 10px 0px;
        margin-right: 5px;
    }
}
.btn-close {
    margin-right: 25px;
}

.product-detail-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    flex: 1 1 0px;
}
::ng-deep {
    body.headquaters-new .ppp .p-sidebar-right {
        width: 56rem !important;
        box-shadow:0 0 0 10000px rgba(0,0,0,.50);
    }
    // body.headquaters-new .p-sidebar-right .p-sidebar-content {
    //     position: relative;
    //     width: 100% !important;
    //     .action-form {
    //             width: auto !important;
    //             position: absolute;
    //     }
    // }

    .p-button:hover {
        background: #298368 !important;
        border: solid 1px #469073 !important;
      }
    
}

::ng-deep{
    body.add-modal-popup-manage{
        .modal:nth-of-type(1) {
          z-index: 1040 !important;
        }
        .modal-backdrop.show:nth-of-type(1) {
          z-index: 1039 !important;
        }
       &.modal-open .modal.attachment-modal{
          z-index: 10000 !important;
        }
      }
      .input-down-arrow-sh{
        position: relative;
         display: inline-block;
         .icon-sh {
            display: block;
            margin: 0;
            padding: 0;
            width: 16px;
            height: 10px;
            position: absolute;
            left: -27px;
            top: -10px;
            background-repeat: no-repeat;
            background-position: center center;
            background: url('../../../../assets/images/dropdown_downarrow.png') no-repeat;
        }
      }
       .p-component:disabled {
        cursor: not-allowed !important;
        
      }
      .no-dropdown{
          .p-dropdown-panel{
              display: none !important;  
          }
      }
}

::ng-deep{
    body.add-modal-popup-manage{
        .modal:nth-of-type(1) {
          z-index: 1040 !important;
        }
        .modal-backdrop.show:nth-of-type(1) {
          z-index: 1039 !important;
        }
       &.modal-open .modal.attachment-modal{
          z-index: 10000 !important;
        }
        .p-component-overlay .p-sidebar-mask{
            z-index: auto !important;
          }
      }
    }
 ::ng-deep {
    body.headquaters-new .p-sidebar-mask.p-component-overlay{
        z-index: auto !important;
    }
 }   


 ::ng-deep .p-datepicker table td {
    padding: 0.2rem !important;
  }
  
  ::ng-deep .p-datepicker table td > span {
    width: 1.7rem;
    height: 1.7rem;
  }
  
  ::ng-deep .p-datepicker table {
    font-size: 10pt;
    margin: -0.143rem 0;
  }
  
  ::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0.2rem;
  }

  #sidebar{
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
   }
   #slide-out.visible:not(.close){
    box-shadow:0 0 0 10000px #666666;
  }