// gridster{ background: unset; padding-left: 0px !important; gridster-item{
//     background-color: #29282b;
//     border-radius: 6px;
//     display: table;
//     padding: 15px 20px;
//     height: 100%;
//     width: 100%;
//  }
// }

.prob-index #nav-sidebar {
    display: inline-block !important;
}

.dashboard-content{
    vertical-align: top;
}
.dashboard-content{
    width: 93% !important;
}
.dashboard-content.filter-expand{
    width: calc(100% - 355px) !important;
}

.chart-row{
    padding: 20px 15px 0px 15px !important;
}
// .prob-index.cbt-filter #filter{
//     //background-color: #29282b !important;
// }
