::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-content .table-row3.doc-table-row3 {
    padding-top: 10px;
}
::ng-deep .system-info{
    padding: 0;
}
::ng-deep .reference-info{
    padding: 0;
}
::ng-deep .system-info .update-info{
    padding-left: 0;
}
::ng-deep .refer-info.attachment-info .attachment-cont .attachment-row{
    padding: 0 !important;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row .doc-description p{
    padding-left: 0;
    margin-left: 0;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row .problem-col-rt p.problem-col-head-color{
    color: #a7a7a7;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row.setPaddingTop3{
    padding-top: 10px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row .doc-description{
    padding-top: 0;
}
::ng-deep .tag-info.ws-info{
    padding: 15px 0px 5px 0;
    margin-bottom: 3px;
}
::ng-deep .mat-accordion>.mat-expansion-panel-spacing:last-child{
    margin-bottom: 0;
}
::ng-deep .system.system .mat-expansion-panel-body{
    padding: 0;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row.setPaddingNew{
    padding: 10px 10px 10px 0px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .table-row2 .problem-row .problem-col-lt.doc-tag-lt-new{
    top:5px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-content .table-row1 .table-col-1-1.thread-img-div .thread-img{
    height: 90px;
}
::ng-deep body.thread-detail .thread-detail-section .th-outer-col-2 .thread-detail-page .thread-content .table-row1 .table-col-1-2 .thread-title{
    top:0;
}
::ng-deep{
    body.thread-detail .thread-detail-section-other .th-outer-col-1{
        width: 10%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2.col-collapse{
        width: 88%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2.col-expand{
        width: 72%;
    }
    body.thread-detail .thread-detail-section-other .th-outer-col-2 .thread-detail-page .thread-detail-div .thread-detail-div-left{
        width: 100%;
    }

    body.thread-detail .thread-detail-section-other .th-outer-col-2 .thread-detail-page .thread-detail-div .thread-detail-div-right{
        width: 10%;
    }
    body.thread-detail .thread-detail-section{
        background: #ffffff;
        padding: 0 !important;
    }
    body.thread-detail .view-more-actions{ 
        display: inline-block;
        margin-right: 20px;
        svg {
            color:#298368;
            circle,
            path {
                fill: #298368;
                stroke:#ffffff;
            }  
        }      
    }
    body.thread-detail .read-ann-div{
        display: inline-block;
        margin-right: 20px;
        .read-ann-text{
            font-family: "Roboto-Regular";
            font-size: 14px;
            border-radius: 16px;
            color: #FFF;
            margin: 0 auto;
            padding: 5px 15px;
            border: 1px solid #298368;
            background-color: #298368;
            cursor: pointer;
        }
    }
    .view-more-actions{
        width: 26px;
        height: 26px;
        background-color: #298368;
        border-radius: 50%;
        img{
            position: relative;
            top: -1px;
            left: 6px;
        }
    }
    .clear{
        width: 100%;
        float: none;
    }
}
::ng-deep{
    .copied-modal {
        .p-dialog-mask {
          &.p-component-overlay {
            background: transparent !important;
            z-index: 0 !important;
          }
        }
        .p-dialog {
          box-shadow: none;
          .p-dialog-header {
            display: none;
          }
          .p-dialog-content {
            background: #3c424d;
            border-radius: 10px;
            color: #FFF;
            margin: 0 auto;
            padding: 0;
            width: 150px;
            .copied-txt {
              padding: 10px 0px;
            }
          }
        }
      }
      .post-loader-svg {
        background-image: url("../../../../assets/images/landing-page/loading-more.svg");
        background-position: center;
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        position: relative;
        width: 41px;
        height: 32px;       
      }
    }

