 :host ::ng-deep{
    .bg-selected{
        td{
            background-color: #bfe1d4 !important;
        }
    }

    .p-column-filter-menu-button{
        color: white;
      }

    .resetpassword-dialog-content{
        .mat-radio-label-content{
            width: 95%;
        }
        .cust-select{
            position: relative;
            top: 15px;
            left: 0;
            padding: 0;
            margin-bottom: 12px;
        }
        
        .input-with-icon-inside {
            border-left:1px !important;
            width:calc( 100% - 51px);
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
        }
        .reset-icon-dash{
            width: 51px;
            height: 41px;
            
        }
    }
    &.dialog-assign{
        .assign-dialog-content{
            margin: 0;
            padding: 30px 0 20px 0;
            .content-text{
                font-family: 'Roboto-Regular';
                font-size: 16px;
                color:#15181f;
                padding: 4px 0 0 10px;
                display: block;
                text-align: center;
                margin: 0 auto;
                .red-text{
                    color:#c4413e;
                }
            }        
        }
        .p-dialog-title{
            text-align: center;
            margin: 0 auto;
        }
        .p-dialog-header-icons{
            button{
                display:none;
            }
        }
        .confirm-actions {
           border-top: 1px solid #dee2e6 !important;
           text-align: center;           
            margin: 0 0 0 0;
            padding: 20px 0 20px 0;
            .action-btn{
                &.submit{
                    background: #469073;
                    border: solid 1px #469073;
                    color: #ffffff;
                }
            }
            
        }
        .p-dialog-content{
            padding:0 !important;
        }
    }
 }
 
 ::ng-deep {
    


    .rounded-circle {
        border: solid 1px #dcdcdc !important;
        border-radius: 50% !important;
        padding: 43px 38px 42px !important;
        width: 131px;
        height: 131px;
        margin-bottom: 23px;
      
        img {
            width: 55px;
            height: 46px;
            object-fit: contain;
        }
      }

      .nothing-to-show {
        font-size: 14px;
        font-family: Roboto-Regular;
        color: #444444;
      }

      .tool-banner {
        flex-direction: column;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        background: white;
        height: calc(100vh - 210px);
      
        .shop-txt {
           font-size: 14px;
        font-family: Roboto-Regular;
        color: #444444;
        }
      }

    .empty-show-container{
        position: absolute;
        text-align: center;
        z-index: 999;
        visibility: visible;
        width: 100%;
        left: 50% !important;
        top: 50% !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .cust-loader.esc-loader.cust-lazy-loader.part-list-lazy-loader{
        &.shop-users-list-lazy-loader{
            bottom: -20px;
        }
        &.all-users-list-lazy-loader{
            bottom: -20px;
        }
    }
    .thread-bg {
        border: none;
        background: transparent !important;
    
        .profile-container {
          margin: 0;
          padding: 0;
          background: transparent !important;
          display: block;
          width: 200px;
    
          .buss-title {
            width: auto !important
          }
    
          .profile-left-container {
            width: 45px;
            display: inline-block;
            .profileImg{
              width: 35px;
              height: 35px;
              border-radius: 50%;
              max-width: 100px;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
    
          .profile-right-container {
             width: calc(100% - 50px);
             display: inline-block;
            .user-name{
              font-size: 14px;
              color: var(--ID72);
              font-family: "Roboto-Regular";
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
              margin-top: 0;
              vertical-align: top;
              line-height: 14px;        
            }
          }
    
          .availability-status{
            top: -16px;
            left: 54px;
          }
          .list-availability-status{
            margin-bottom: -12px;
          }      
    
          .availability-status1 {
            /* float: left; */
            position: relative;
            top: -14px;
            left: 26px;
            /* color: #FFFFFF; */
            /* background-color: #FF0000; */
            height: 12px;
            width: 12px;
            background-color: #00b050;
            border-radius: 50%;
            display: block;
            border: 2px solid #fff;
          }
    
          .availability-status0 {
            /* float: left; */
            position: relative;
            top: -16px;
            left: 23px;
            /* color: #FFFFFF; */
            /* background-color: #FF0000; */
            height: 12px;
            width: 12px;
            background-color: #ff0000;
            border-radius: 50%;
            display: block;
            border: 2px solid #fff;
          }
    
          .availability-status2 {
            /* float: left; */
            position: relative;
            top: -16px;
            left: 23px;
            /* color: #FFFFFF; */
            /* background-color: #FF0000; */
            height: 12px;
            width: 12px;
            background-color: #ffee50;
            border-radius: 50%;
            display: block;
            border: 2px solid #fff;
          }
    
        }
        .app-wraptext{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        };
      }
    .documents-grid-row{
        &.shop-users-grid-row{
            overflow-x: hidden !important;
            overflow-y: hidden !important;
        }
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
        font-size: 15px !important;
        height: 44px;
      }
      .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
          font-size: 15px !important;
          padding: .7rem 0 .7rem 0 !important;
          &.stock-header{
              padding: 0rem 0.25rem 0rem 0.25rem !important;
          }
          &:first-child{
              padding-left: 1rem !important;
          }
      }
    body.parts-list .thread-list-table .p-datatable{
        .overflow-text-table{
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px !important;
            font-family: "Roboto-Regular";
        }
        .usr-thl-col-1{
            width: 220px;  
            z-index: 1;
        }
        .usr-thl-col-2{
            width: 150px; 
        }
        .usr-thl-col-3{
            width: 180px; 
        }
        .usr-thl-col-4{
            width: 150px;     
        }
        .usr-thl-col-5{
            width: 130px;       
        }
        .usr-thl-col-6{
            width: 220px;   
        }
        .usr-thl-col-7{
            width: 250px;   
        }
        .usr-thl-col-8{
            width: 140px;   
        }
        .usr-thl-col-9{
            width: 140px; 
        }        
        .usr-thl-col-10{
            width: 40px;  
            right:-1px; 
            z-index: 1;                
        }
        .p-table-col {
          &.col-line-2 {
              -webkit-line-clamp: 2;
          }
          &.action-link {
              color: #0044cc;
              text-decoration: underline;
          }
      }
    }
    .more-icon{
        &.more-icon-bg{
            background-color: #e5efeb;
            width: 40px;
        }
    }
    .more-icon svg path{
        fill: var(--ID69);
    }
    .more-icon svg circle{
        fill: var(--ID70);
    }   
    .more-icon{
        visibility: hidden;
        display: inline-block;
        position: relative;
        right: 0px;
    }
    p{
        &.cont-text{
            .pi{
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    } 
  
  
    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }
  
    body.parts-list .thread-list-table .p-datatable {
        .p-datatable-thead > tr > th {
            font-family: Roboto-Light;
        }
        .p-datatable-thead>tr>th:first-child {
            border-radius: 10px 0 0 0;
        }
  
        .p-datatable-thead>tr>th:last-child {
            border-radius: 0 10px 0 0;
        }
  
        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }
  
        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
            td{
                background-color: #e5efeb !important;
            }
        }
        .p-datatable-tbody>tr{
            background-color: #ffffff !important;
            td{
                background-color: #ffffff ;
            }
        }
  
        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }
  
        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }
  
        
  
        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        .txt-link {
            color: #04c;
            text-decoration: underline;
        }  
        
    }
  }
  
  .head-profile-img {
    border-radius: 50%;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: 40px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 14px;
  
    .head-profile-img .head-pimg {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  }