.header-row {
    margin: 0 auto;
    display: block;   
    padding: 18px 16px;
}
.new-text {   
    font-family: Roboto-Bold;
    color: #298368;
    font-size: 18px;
    text-align: center;
    font-weight: normal;    
}

.disabled{
    opacity: 0.3;
    cursor: default !important;
}
.prob-new .new-pro-cont .form-cont .form-horizontal .form-items{
    padding-top:20px !important;
}

.btn.publish-disabled {
    color: rgba(255, 255, 255, 0.6) !important;
    background-color: #7e8084 !important;
}  

.btn.btn.publish {
    color: white !important;
    background-color: #298368 !important;
}   

.btn.draft {
    img {
        width: 15px !important;
        height: 15px !important;
    }
}
.field-label {

    .label-col.part-label.wft-bg {
        background-image: url("../../../../assets/images/audit-insecption/type.png");
    }
    .label-col.part-label.title-bg {
        background-image: url("../../../../assets/images/audit-insecption/title.png");
    }
    .label-col.part-label.info-bg {
        background-image: url("../../../../assets/images/audit-insecption/info.png");
    }
    .label-col.part-label.tag-bg {
        background-image: url("../../../../assets/images/audit-insecption/tag.png");
    }
    .label-col.part-label.customer-bg {
        background-image: url("../../../../assets/images/audit-insecption/shop-his.png");
    }
} 

.mb-23 {
    margin-bottom: 23px;
}

.mb-28 {
    margin-bottom: 28px;
}

// p-menu.p-menu-overlay {
    
// }

.prob-upload-new {
    padding: 31px 10px !important;
}

.launch-editor {
    border-radius: 6px;
    background-color: #eff0f1;
}
.launch-txt {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000;
    padding-top: 27px;
}
.border-bottom {
    border-bottom: 1px solid #dee1eb !important;
}

.flow-txt {
    font-size: 14px;
    color: #8e97a8;
    font-family: Roboto-Regular;
    padding: 18px;
}

.btn-save {
    background-color: #fa972d;
    width: 287px;
    height: 43px;
    border-radius: 24px;
    margin: 17px 0 30px 0;
    font-size: 18px;
    color: #fff;
    font-family: Roboto-Medium;

    img {
        padding-left: 15px;
        filter: brightness(2);
    }
}

.btn-edit {
    width: 287px;
    height: 43px;
    border-radius: 24px;
    margin: 17px 0 13px 0;
    font-size: 18px;
    color: #fff;
    font-family: Roboto-Medium;
    border: 1px solid #469073;
    color: #469073;
    img {
        padding-left: 15px;
    }
}

.edit-question {
    font-size: 16px;
    font-family: Roboto-Bold;
    margin-bottom: 38px;
    .question {
        color: #469073;
    } 
}
.gray-txt {
    font-size: 14px;
    font-family: Roboto-Regular;
    color: #777;
}

.fw-medium {
    font-size: 14px;
    font-family: Roboto-Medium;
}

.selection-info {
    border-radius: 8px;
    color: #fbfbfb;
    font-family: Roboto-Medium;
    font-size: 14px;
    margin: 25px 0px;
    padding: 12px 0px 10px 16px;
    background-color: #818489;
   img {
    filter: brightness(2);
   }
}

::ng-deep{
    .p-dropdown:not(.p-disabled).p-focus{
        box-shadow: none;
    }
    
    .p-inputtext:enabled:focus {
        box-shadow: none;
    }
    
    .no-dropdown{
        .p-dropdown-panel{
            display: none !important;  
        }
    }
    
    .franchies-box {
        gap: 10px;
        flex-wrap: wrap;
        .franchies-box-data {
            padding: 3px 10px 3px 10px;
            border-radius: 12px;
            background-color: #777;
    
            span {
                font-size: 12px;
                font-family: Roboto-Regular;
                color: #fff;
            }
        }
    }

 
        .image-box {
            width: 104px;
            height: 104px;
            border-radius: 6px;
            border: solid 1px #dbddde;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 1px;
            }
        }
        .action-box {
            z-index: 99999;
            bottom: 5px;
            right: 5px;
            gap: 4px;
        }
        .action-upload {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #000000;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            cursor: pointer;
        }
        .edit {
            background-image: url("../../../../assets/images/inspection-home/edit.png");
            background-size: 16px 16px;
        }
        .delete {
            background-image: url("../../../../assets/images/inspection-home/delete.png");
            background-size: 11px 16px;
        }

        .input-error {
            .required-txt {
                color: #f44336 !important;
            }
            .input-filed {
                input {
                    border-color: #f44336 !important ;
                }

                textarea {
                    border-color: #f44336 !important ;
                }
            }
            .p-component {
                border-color: #f44336 !important ;
            }
        }
}


