.folder-card {
  margin: 0 !important;
  .document-folder-item-system{
    margin: 10px 5px 0 5px !important;
  }
  .system-heading {
    top: inherit;
    bottom: 19px;
  }
  .system-sub-heading {
    top: inherit;
    bottom: 5px;
  }
}
.file-list .document-card {
  margin: 10px 5px !important;
}
.doc-list-cont{
  margin: 10px 0;
  &.table-view{
    padding:0 !important;
    overflow: hidden;
  }
}
.mat-toolbar.mat-primary{
  display:none;
}
.img-del{
  position: relative;
  top: -3px;
}
.img-upload {
  position: relative;
  top: -2px;
  width: 17px;
}
  
  
.file-heading{
  background: url(/assets/images/documents/file-icon.png) no-repeat 0px 3px;
  padding-right: 15px;
  padding: 0px 10px 0px 25px;
  position: relative;
  left: 0px;
  top: -5px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3b3b45;
}

.published{
    background-color: #69ba5c;
    width: 91px;
    height: 21px;
    margin: 0px 0px 10px 16px;
    padding: 1px 16px;
    font-size: 13px;
    border-radius: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.draft{
  background-color: #31a5e9;
  width: 91px;
    height: 21px;
    margin: 0px 0px 10px 16px;
    padding: 1px 16px;
    font-size: 13px;
    border-radius: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.like-count{
  background-image: url('/assets/images/thread-detail/thread-like-normal.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 45px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

.like-count.active{
  background-image: url('/assets/images/thread-detail/thread-like-active.png');
}
.pin-count{
  background-image: url('/assets/images/thread-detail/thread-pin-normal.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 45px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}
.pin-count.active{
  background-image: url('/assets/images/thread-detail/thread-pin-active.png');
}
.share-count{
  background-image: url('/assets/images/thread-detail/thread-share.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 48px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}
.view-count{
  background-image: url('/assets/images/thread-detail/thread-view.png');
  background-repeat: no-repeat;
  background-position: 44%;
  text-align: left;
  color: #6f6f6f;
  margin-bottom: 10px;
  width: 50px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

.mat-cell{
  display: block;
}
/*.doc{
  background-color: #f0f2fb !important;
}.pdf{
  background-color: #fbeff1 !important;
}.xls{
  background-color: #edf3ef !important;
}.ppt{
  background-color: #f7f1ee !important;
}.html{
  background-color: #eaf5f3 !important;
}.zip{
  background-color: #e8e8f2 !important;
}.link{
  background-color: #f9eee9 !important;
}.mp3{
  background-color: #fbeff1 !important;
}.youtube{
  background-color: #ffeeee !important;
}.empty{
  background-color: #e2eff2 !important;
}*/

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5em;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}

.mat-cell {
  color: #787474 !important;
  font-family: "Roboto-Medium";
  font-size: 14px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}
.mat-row{
  padding-top: 5px;
}
.mat-header-cell{
  font-size: 14px !important;
  color: #fff !important;
}

.mat-table .mat-row:last-child{
  border-radius: 0px 0px 16px 16px !important;
}
.mat-sort-header-arrow {
  color: #fff !important;
}
.mfg-logo-doc{
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 40px;
  img{
    max-width: 90%;
    max-height: 40px;
  }
}
.system-folder{
  color: #9999ae !important;
  font-family: "Roboto-Medium";
  font-size: 12px !important;
  font-weight: normal;
}
.list-id{
  color: #9999ae !important;
  font-family: "Roboto-Regular";
  font-size: 14px !important;
  font-weight: normal;
}
.mat-toolbar.mat-primary{
  display:none;
}
/*.documents-grid-row .doc-list .list-items{
  padding-top: 0 !important;
}*/

.folder-list .folder-card {
  margin: 0 !important;
  .document-folder-item-system{
    margin: 10px 5px !important;
  }
}
.doc-list-cont{
  margin: 10px 0;
}
.mat-toolbar.mat-primary{
  display:none;
}
.img-del{
  position: relative;
  top: -3px;
}
.img-upload {
  position: relative;
  top: -2px;
  width: 17px;
}
::ng-deep .documents-grid-row #documentTable .doc-item .item-col.icon.mfg-col.icon{
    width: 218px;
    text-align: center;
    .folder-bg{
      position: absolute;
      width: 40px;
      height: 40px;
      left: 20px;
    }
    .mfg-logo-new{
      height: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding-left: 40px;
      img{
        border-radius: 6px;
        max-width: 90%;
        max-height: 40px;
      }
    }
}
.system-folder{
  color: #9999ae !important;
  font-family: "Roboto-Medium";
  font-size: 12px !important;
  font-weight: normal;
}
/*.breadcrumb > li + li:before {
  content: "";
  background: url(/assets/images/documents/breadcrumb-arrow.png) no-repeat 0px 3px;
  width: 10px;
  height: 20px;
  margin-top: 3px;
  margin-right: 5px;
}*/
.docbreadcrumb nav {
display: inline-block;
position: absolute;
margin-top: 3px;
}
.breadcrumb{
background-color:unset !important;
padding: 0px !important;
li {
    font-size: 15px;
}
}
/*
.breadcrumb-back{
display: inline-block;
vertical-align: top;
span {
    background: url("/assets/images/site/workstream-creation/back.png") no-repeat 0px 1px;
    display: inline-block;
    width: 28px;
    height: 28px;
    padding-right: 30px;
}
}
.breadcrumb-home{
background: url(/assets/images/documents/breadcrumb-home.png) no-repeat 0px 0px;
width: 35px;
height: 30px;
display: inline-block;
}
*/
// ol:first-child {

//   }


.breadcrumb-item a{
background-color:unset;
font-size: 16px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
text-align: left;
color: #4e5257 !important;
}
::ng-deep{
body .wrapper #content .probing-content.part-content.right-panel-collapse{
    width: calc(98% - 20px);
    padding-left: 0px;
    padding-top:15px;
}
body .cbt-filter.filter-expand{
    padding-top:10px;
    margin-top:6px;
}
.documents-grid-row{
  &.documents-grid-row-padd{
    padding: 0 !important;
    overflow: unset !important;
  }
  .doc-padd{
    padding: 0 10px 0 15px;
    overflow: hidden !important;
  }
}
.documents-grid-row .document-tab{
  margin:10px 0 10px;
}
.documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td{
    background: #f6f6fe;
}
.documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td:first-child{
    border-left: none !important;
}
.documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:active td:first-child{
    border-left: none !important;
}  
.documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr td:first-child{
    border-left: none !important;
}
.documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-tbody > tr td:first-child{
    border-left: none !important;
    width: 220px;
}
.documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-thead > tr th:first-child{
    border-left: none !important;
    width: 220px;
}
.documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-tbody > tr td .doc-name-col .title{
    padding-left: 20px;
    width: 30%;
    word-break: break-word;
    vertical-align: middle;
    position: absolute;
    .title-doc-list{
        height: 40px;
        display: flex;
        align-items: center;
        .title-doc-list-in{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
}
.cust-loader{
    &.doc-loader-new-two {
       // bottom: 12px !important; 
       bottom: -18px !important;
       top:unset !important;  
       left: 57% !important; 
       &.landingpage {
           bottom: -25px !important;
           left:48% !important;   
       }
       &.search {
            bottom: -18px !important;
           left: 52% !important;    
       }             
    }
    &.doc-loader-new-one {
        bottom: -18px !important;
        top:unset !important;    
        left: 50%;  
        &.landingpage {
            bottom: -25px !important;
            left:48% !important;  
        }
        &.search {
            bottom: -18px !important;
            left: 52% !important;
        }          
    }
}
}

