.view-modal-header {
    .view-modal-title-text {
        font-size: 18px;
    }

    .action-buttons button.button-save-hq {
        background-color: #298368;
        border: solid 1px #469073;
        position: relative;
        left: 0;
        border-radius: 25px;
        padding: 4px 12px;
        margin-right: 16px;
    }

    .action-buttons-hq {
        vertical-align: middle;
        float: right;
        padding: 0;
        margin: 0;
    }

    .close-btn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
    }
   
}

.view-modal-body {
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;

    .action-form {
        overflow-y: hidden;
        // height: calc(100vh - 11rem);
    }

    .container {
        overflow-y: auto;
        height: 100%;
        padding: 0 26px !important;

        .image-row {
            gap: 19px;
        }

        .txt-data {
            font-size: 14px;
            font-family: "Roboto-Regular";
            padding-bottom: 13px;
        }

        .add-action-btn {
            background-color: transparent;
            border: 1px solid #469073;
            padding: 3px 18px 5px 18px;
            border-radius: 14px;
            text-align: center;
            height: 28px !important;
            font-size: 14px;
            margin: 0 6px !important;
        }

        .add-action-btn img {
            position: relative;
            top: -2px;
        }

        .add-action-btn span {
            color: #469073;
            font-size: 14px;
            padding-left: 5px;
        }

        .input-row {
            .icons-size {
                width: 19px;
                height: 16px;
            }

            .new-request-icon {
                fill: #b2b2b2;
            }

            .field-err {
                font-size: 13px;
                font-family: "Roboto-Regular";
                color: #dc3545;
            }

            .input-filed {
               width: 200px;
               background: transparent;
               height: 34px;
            }

            .input-shop {
                padding-bottom: 10px;
            }
        }
    }

    label {
        color: #9b9a9a;
        font-size: 14px;
        font-family: Roboto-Regular;
    }

    .required-txt {
        color: #b2b2b2;
        font-style: italic;
        font-size: 14px;
    }

    .mb-25 {
        margin-bottom: 25px;
    }

    .mb-27 {
        margin-bottom: 27px;
    }
    .mb-36 {
        margin-bottom: 36px;
    }

    .mb-12 {
        margin-bottom: 12px;
    }
    .fs-18 {
        font-size: 18px;
    }
}

.input-filed {
    ::placeholder {
        color: #999999 !important;
        font-size: 15px;
        font-family: Roboto-Regular;
    }
    input,
    textarea {
        border: solid 1px #dbddde;
        background-color: #fbfbfb;
        color: #000000;
        font-size: 15px;
        font-family: Roboto-Regular;
    }
    textarea {
        border-radius: 3px;
        width: 100%;
        padding: 0.5rem 0.5rem;
    }
}

.fw-medium {
    font-family: Roboto-Medium;
    font-size: 14px;
    color: #93989d;
}

.fw-bold {
    font-size: 18px;
    font-family: Roboto-Bold;
}
.fw-regular {
    font-size: 14px;
    font-family: Roboto-Regular;
    color: #000000;
}

.product-name-box {
    border: solid 1px #dbddde;
    border-radius: 6px;
    padding: 9px 9px 9px 9px;

   
}

.product {
    border-radius: 10px;
border: solid 1px #dcdcdc;
overflow: hidden;
width: 45px;
height: 45px;
min-width: 45px;
margin-right: 11px;
img {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}
}


.close-img {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
}

.product-details {
    gap: 30px;
    padding-right: 12px;
}

.calendar {
    position: absolute;
    right: 15px;
    top: 11px;
}

::ng-deep .p-calendar .p-datepicker {
    // transform: rotate(-360deg) translate(0, -75%);
	transform-origin: 100% 0;
}

:host ::ng-deep {
    .on-top{
        .p-dropdown-panel {
            bottom: 100% !important;
            top:unset !important;
        }
    }

    .no-dropdown{
        .p-dropdown-panel{
            display: none !important;  
        }
    }
    
    .input-error {
        .required-txt {
            color: #f44336 !important;
        }
        .input-filed {
            input {
                border-color: #f44336 !important ;
            }
        }
        .p-component {
            border-color: #f44336 !important ;
        }
    }
    .p-disabled,
    .p-disabled * {
        pointer-events: all;
        cursor: not-allowed !important;
    }
    .p-inputtext {
        color: #000000;
    }
}

:host ::ng-deep .sidebar-cont{
    .p-sidebar-content{
        padding: 0px !important;
        background: #ffffff !important;
        overflow: hidden;
    }
}

::ng-deep {

    .p-inputtext {
        background-color: #fbfbfb !important;
        // height: 41px;
    }

    


    ::placeholder {
        color: #999999 !important;
        font-size: 15px;
        font-family: Roboto-Regular;
    }
    body.headquaters-new .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
        border-color: #469073 !important;
        background: #fff !important;
    
        .p-radiobutton-icon {
          background-color: #469073 !important;
        }
      }
    
      body.headquaters-new .p-focus {
        box-shadow: none !important;
      }
    
      body.headquaters-new .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
        border-color: #469073 !important;
      }
    
      body.headquaters-new .p-radiobutton .p-radiobutton-box.p-highlight {
        border: 0 !important;
        background: #fff !important;
    
        .p-radiobutton-icon {
            background-image: url("../../../../assets/images/radio-checked.png") ;
            background-color: transparent !important;
            background-position: center center;
            background-repeat: no-repeat;  
            width: 22px !important;
            height: 22px !important;      

        }
    
      }
}

.product-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    color: #000;
    padding-left: 20px;
}
button.button-save-hq{
    background-color: #298368;
    border: solid 1px #469073;
    position: relative;
    left: 0;
    border-radius: 25px;
    padding: 4px 12px;
    margin-right: 10px;
  }



.product-form {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 13px;
    padding-top: 13px;
    .product-actions {
        gap: 20px;
    }
}
.action-form {
    .border-bottom {
      border-bottom: 1px solid #d5d5d5 !important;
    }
    .search {
        display: flex;
        border: solid 1px #dcdcdc;
        background-color: #f0f0f0;
        border-radius: 15px;
        align-items: center;
    }
    .search-icon {
        padding-left: 14px;
        padding-right: 4px;
    }
    .search-control {
        background: transparent;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        height: 34px;
    }
    .wrap-p {
        padding: 10px 10px 10px 0px;
        margin-right: 5px;
    }
}
.btn-close {
    margin-right: 25px;
}

.product-detail-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    flex: 1 1 0px;
}
::ng-deep {
    body.headquaters-new .ppp .p-sidebar-right {
        width: 56rem !important;
        box-shadow:0 0 0 10000px rgba(0,0,0,.50);
    }
    // body.headquaters-new .p-sidebar-right .p-sidebar-content {
    //     position: relative;
    //     width: 100% !important;
    //     .action-form {
    //             width: auto !important;
    //             position: absolute;
    //     }
    // }

    .p-button:hover {
        background: #298368 !important;
        border: solid 1px #469073 !important;
      }
    
}

::ng-deep{
    body.add-modal-popup-manage{
        .modal:nth-of-type(1) {
          z-index: 1040 !important;
        }
        .modal-backdrop.show:nth-of-type(1) {
          z-index: 1039 !important;
        }
       &.modal-open .modal.attachment-modal{
          z-index: 10000 !important;
        }
      }
      .input-down-arrow-sh{
        position: relative;
         display: inline-block;
         .icon-sh {
            display: block;
            margin: 0;
            padding: 0;
            width: 16px;
            height: 10px;
            position: absolute;
            left: -27px;
            top: -10px;
            background-repeat: no-repeat;
            background-position: center center;
            background: url('../../../../assets/images/dropdown_downarrow.png') no-repeat;
        }
      }
       .p-component:disabled {
        cursor: not-allowed !important;
        
      }
      .no-dropdown{
          .p-dropdown-panel{
              display: none !important;  
          }
      }
}

::ng-deep{
    body.add-modal-popup-manage{
        .modal:nth-of-type(1) {
          z-index: 1040 !important;
        }
        .modal-backdrop.show:nth-of-type(1) {
          z-index: 1039 !important;
        }
       &.modal-open .modal.attachment-modal{
          z-index: 10000 !important;
        }
        .p-component-overlay .p-sidebar-mask{
            z-index: auto !important;
          }
      }
    }
 ::ng-deep {
    body.headquaters-new .p-sidebar-mask.p-component-overlay{
        z-index: auto !important;
    }
        img.calendar{
            position: absolute;
            right: 10px;
            top: 10px;
        }
 }   

 .orange-btn {
  height: 34px;
  padding: 8px 14px 8px 14px;
  border-radius: 6px;
  border: solid 1px white;
  background-color: #fb982c;
  align-items: center;
  display: flex;
}


 ::ng-deep .p-datepicker table td {
    padding: 0.2rem !important;
  }
  
  ::ng-deep .p-datepicker table td > span {
    width: 1.7rem;
    height: 1.7rem;
  }
  
  ::ng-deep .p-datepicker table {
    font-size: 10pt;
    margin: -0.143rem 0;
  }
  
  ::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0.2rem;
  }

  #sidebar{
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
   }
   #slide-out.visible:not(.close){
    box-shadow:0 0 0 10000px #666666;
  }





  :host::ng-deep {
    .bg-selected{
        td{
            background-color: #bfe1d4 !important;
        }
    }
    .ellip-word{
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
    }
    .no-value-text{
        display: inline-block;
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color: #999999 !important;
        font-style: italic;
    }

    .p-column-filter-menu-button{
        color: white;
      }
    .text-action-link {
        color: #04c;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px !important;
        font-family: "Roboto-Regular";
    } 

    
    .check-bg-img{
        background-color: #2f9f64;
    width: 18px;
    height:  18px;
    }

    .empty-show-container{
        position: absolute;
        text-align: center;
        z-index: 999;
        visibility: visible;
        width: 100%;
        left: 50% !important;
        top: 50% !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .cust-loader.esc-loader.cust-lazy-loader.part-list-lazy-loader{
        &.shop-users-list-lazy-loader{
            bottom: -20px;
        }
        &.all-tools-list-lazy-loader{
            bottom: -20px;
        }
    }
    
    .toolImg{
        display: flex;
        width: 100%;
        align-items: center;
        .toolImg-span-lt{
            display: inline-block;
            width: 30px;            
        }
        .toolImg-span-rt{
            display: inline-block;
            width: calc(100% - 30px);
        }

        .toolImg-span-lt-1{
            display: inline-block;
            width: 20px;
            margin-right: 10px;
            .p-button.p-button-text.p-button-plain.expanded-button{
                width: 20px;
                padding: 0;
                border: none !important;
                background: none !important;
            }
        }
        .toolImg-span-ct-1{
            display: inline-block;
            width: 30px;
        }
        .toolImg-span-rt-1{
            display: inline-block;
            width: calc(100% - 45px);
        }

        .toolImg{
            width: 36px !important;
            height: 36px !important;
            border-radius: 6px;
            // background-color: #abb2bd;
            // background-image: url("../../../../assets/images/hq/tools-default-image.png");
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            display: block;
            &.toolImg-dbg{
                background-size: contain;
                border:1px solid #DBDBDB;
                background-color: transparent;
            }
            img{
                width: 36px !important;
                height: 36px !important;
            }
        }
    }

    .documents-grid-row{
        &.shop-users-grid-row{
            overflow-x: hidden !important;
            overflow-y: hidden !important;
        }
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td{
        font-size: 15px !important;
        height: 44px;
      }
      .documents-grid-row #file-datatable .p-datatable .p-datatable-thead > tr > th{
          font-size: 15px !important;
          padding: .7rem 0 .7rem 0 !important;
          &.setpadd{
            white-space: initial !important;
            padding: 0 !important;
          }
          &.stock-header{
              padding: 0rem 0.25rem 0rem 0.25rem !important;
          }
          &:first-child{
            //   padding-left: 3rem !important;
          }
      }
    body.parts-list .thread-list-table .p-datatable{
        
        .overflow-text-table{
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px !important;
            font-family: "Roboto-Regular";
        }
        .tool-thl-col-1{
            width: 140px;  
            position: initial;
        }
        .tool-thl-col-2{
            width: 230px; 
            position: initial;
        }
        .tool-thl-col-3{
            width:230px; 
            position: initial;
        }
        .tool-thl-col-4{
            width: 150px;     
        }
        .tool-thl-col-5{
            width: 150px; 
            &.textcenter{
                text-align: center !important;
            }      
        }
        .tool-thl-col-6{
            width: 180px;   
        }
        .tool-thl-col-7{
            width: 200px;   
        }  
        .tool-thl-col-8{
            width: 120px;   
        } 
        .tool-thl-col-9{
            width: 80px;   
        }     
        .tool-thl-col-10{
            width: 40px;  
            right:-1px; 
            z-index: 1;                
        }
        
    }
    .more-icon{
        &.more-icon-bg{
            background-color: #e5efeb;
            width: 40px;
        }
    }
    .more-icon svg path{
        fill: var(--ID69);
    }
    .more-icon svg circle{
        fill: var(--ID70);
    }   
    .more-icon{
        visibility: hidden;
        display: inline-block;
        position: relative;
        right: 0px;
    }
    p{
        &.cont-text{
            .pi{
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    } 
  
  
    .gm-style .gm-style-iw-tc::after {
        background-color: #444444 !important;
    }
  
    .p-datatable {
        .p-datatable-thead > tr > th {
            font-family: Roboto-Light;
        }
        .p-datatable-thead>tr>th:first-child {
            border-radius: 10px 0 0 0;
        }
  
        .p-datatable-thead>tr>th:last-child {
            border-radius: 0 10px 0 0;
        }
  
        .p-datatable-tbody>tr>td {
            color: #000;
            font-size: 15px;
            font-family: Roboto-Regular;
        }
  
        .p-datatable-tbody>tr:hover {
            background-color: #e5efeb !important;
            td{
                background-color: #e5efeb !important;
            }
        }
        .p-datatable-tbody>tr{
            background-color: #ffffff !important;
            td{
                background-color: #ffffff !important;
            }
        }
  
        .p-datatable-tbody>tr:hover .more-icon {
            visibility: visible;
        }
  
        .p-datatable-tbody>tr :hover td:first-child {
            border-left: none !important;
        }
  
        
  
        .p-datatable-tbody>tr:hover td:first-child {
            border-left: none !important;
        }

        
        
    }
    
  }
  
  .head-profile-img {
    border-radius: 50%;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: 40px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 14px;
  
    .head-profile-img .head-pimg {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  }

  .hq-head-row-2{ 
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px; 
    .hq-head-text{
      font-family: Roboto-Bold;
      font-size: 24px;  
      color: #000000;
      vertical-align: middle;
      padding-left: 10px;
      margin: 0;
    }
    .hq-head-row-3{
        padding: 10px;
    }
    .loc-title-div{
        &.loc-catg{
            background-image: url("../../../../assets/images/hq/loc-catg.png");
        }
        &.loc-dept{
            background-image: url("../../../../assets/images/hq/loc-dept.png");
        }
        &.loc-cert{
            background-image: url("../../../../assets/images/hq/loc-cert.png");
        }
        &.loc-model{
            background-image: url("../../../../assets/images/inspection-home/product-model.png");
        }
        &.loc-part{
            background-image: url("../../../../assets/images/hq/loc-part.png");
        }
        background-position: 0;
        background-repeat: no-repeat;
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#93989d;
    }
    .loc-value-div{
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color:#444d61;
    }
  }
.inn-loc-th-col{
    padding: 10px 0;
    &.inn-loc-th-col-1{
        padding-left: 46px;
    }
    .loc-label-text{
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color: #777777;
    }
    .loc-normal-text{
        font-size: 14px !important;
        font-family: "Roboto-Regular";
        color:#000000;
    }
  }
  .location-data-div{
    background: #f8f8f8;
    border-bottom: 1px solid #e0e2e4;
    
    /*&:hover{
        background:#e5efeb;
    }*/
  }
  .serialNo-txt {
    font-size: 18px;
    font-family: Roboto-Medium;
  }
  .no-imgs {
    background-color: #e5efeb;
    width: 37px;
    height: 37px;
    border-radius: 5.4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-added {
    width: 37px;
    height: 37px;
    border-radius: 5.4px;
    overflow: hidden;
    img {
        width: 37px;
    height: 37px;
    }
  }

  .pending {
    border-radius: 12px;
    background-color: #ea7d3d;
    color: #fff;
    padding: 6px 21px;
  }
  .serial-wrapper {
    gap: 48px;
    border-bottom: 1px solid #e0e2e4;
    padding-bottom: 18px;
    padding-left: 50px;
  }
  ::ng-deep{
    .pd-rgt {
        padding-right: .35rem;
    }
    .loc-list-col-1{
        flex: 0 0 12.333333% !important;
        max-width: 12.333333% !important;
    }
    .loc-list-col-2{
        flex: 0 0 12.333333% !important;
        max-width: 12.333333% !important;
    }
    .loc-list-col-3{
        flex: 0 0 17.333333% !important;
        max-width: 17.333333% !important;
    }
    .loc-list-col-4{
        flex: 0 0 18.333333% !important;
        max-width: 18.333333% !important;
    }
    .loc-list-col-5{
        flex: 0 0 11.333333%;
        max-width: 11.333333%;
    }
    .loc-list-col-6{
        flex: 0 0 16.333333%;
        max-width: 16.333333%;
    }
    .loc-list-col-7{
        flex: 0 0 10.333333%;
        max-width: 10.333333%;
    }
    .p-button.p-button-text.p-button-plain:enabled:hover,body.headquarters , body.headquarters .p-button:hover{
        border: 0 !important;
    }
   
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr > td {
        font-size: 15px !important;
        height: 50px;
    }
    body.parts-list .thread-list-table .p-datatable .p-datatable-thead > tr > th:first-child{
        border-radius: 0;
    }
    body.parts-list .thread-list-table .p-datatable .p-datatable-thead > tr > th:last-child{
        border-radius: 0;
    }
    .toolImg{
        display: flex;
        width: 100%;
        align-items: center;
        .toolImg-span-lt{
            display: inline-block;
            width: 30px;            
        }
        .toolImg-span-rt{
            display: inline-block;
            width: calc(100% - 30px);
        }

        .toolImg-span-lt-1{
            display: inline-block;
            width: 20px;
            margin-right: 10px;
            .p-button.p-button-text.p-button-plain.expanded-button{
                width: 20px;
                height: 20px;
                padding: 0;
                border: none !important;
                background: none !important;
            }
        }
        .toolImg-span-ct-1{
            display: inline-block;
            width: 30px;
        }
        .toolImg-span-rt-1{
            display: inline-block;
            width: calc(100% - 45px);
        }

        .toolImg{
            width: 49px;
            height: 49px;
            border-radius: 6px;
            // background-color: #abb2bd;
            // background-image: url("../../../../assets/images/hq/tools-default-image.png");
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            &.toolImg-dbg{
                background-size: contain;
                border:1px solid #DBDBDB;
                background-color: transparent;
            }
            img{
                width: 49px;
                height: 49px;
            }
        }
    }
    .wrapper #content .gts-mat-table{
        &.border-radius-ln{
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 8px !important;
            border-bottom-right-radius: 8px !important;  
        }
    }

    .insstatus-text-col{
        font-size: 13px;
        padding: 1px;
        width: 106px;
        text-align: center;
        margin-right: 20px;
        display: inline-block;
        border-radius: 15px;
        margin: 0px 10px 0px 0px;
        .insstatus-text-col-text{
            display: inline-block;
            width: 100px;
            vertical-align: top;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ffffff;           
            font-family: "Roboto-Regular";
            font-size: 14px;
        }    
    }  
  }
