.hq-head {
    padding: 10px 0;

    .hq-head-row-0 {
        .hq-head-breadcrumb-img {
            vertical-align: middle;
            margin: 0 6px 0 6px;
        }

        .hq-head-breadcrumb-text {
            font-family: Roboto-Medium;
            font-size: 14px;
            color: #000000;
            vertical-align: middle;
            margin: 0;
        }
    }

    .hq-head-row-1 {
        .hq-head-img {
            vertical-align: middle;
        }

        .hq-head-text {
            font-family: Roboto-Bold;
            font-size: 24px;
            color: #000000;
            vertical-align: middle;
            padding-left: 10px;
            margin: 0;
        }
    }
}

.img-outer-div {
    width: 247px;
    height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    border-radius: 10px;
}

.right-side-data-custom{
    width: 84% !important;
    padding-left: 25px !important;
}