::ng-deep{
    #documentList{
        border-radius: 0 !important;
    }
    .document-list-head .prob-head-col.head-col-2{
        top:1px !important;
    }
    .document-list-head.kaizen-list-head{
        padding: 2px 20px 0px 25px;
    }
    body .cbt-filter.filter-collapse{
        width: 20px !important;
    }
    body .wrapper #content .probing-content.part-content.right-panel-collapse{
        width: 97.5%;
        padding-left: 10px !important;
        margin: 0 !important;
        padding-top: 8px;
    }
    body .wrapper #content .probing-content.part-content.filter-expand.right-panel-collapse{
        width: calc(99% - 288px);
        padding-left: 5px;
    }
    .document-list-head.right-panel-collapse{
        width: 100%;
    }
}
.approval-level-container{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 86px;
    .approval-level-row{
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        white-space: nowrap;
    }
    .level-status-div{
        margin: 0px 15px 15px 0;
        padding: 8px 10px 10px 10px;
        width: 195px;
        height: 58px;
        border-radius: 8px;
        display: inline-block;  
        /*cursor: pointer; */ 
        background: #ffffff;
        &.review{
            border:1px solid #4f9ce4;
        }
        &.sent{
            border:1px solid #4f5eb9;
        }
        &.returned, &.returnedtodealer{
            border:1px solid #ea7d3d;
        }
        &.retracted{
            border:1px solid #ea7d3d;
        }
        &.approved{
            border:1px solid #3bc398;
        }
        &.notapproved{
            border:1px solid #f84e4e;
        }
        &.draft{
            border:1px solid #37add9;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .ls-div-lt{
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: inline-block; 
        vertical-align: top;  
        span{
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            display: block;
            width: 40px;
            height: 40px;
        }  
        &.review{
            background-color: #4f9ce4;            
        }          
        &.sent{
            background-color: #4f5eb9;            
        }
        &.returned, &.returnedtodealer{
            background-color: #ea7d3d;
        }
        &.retracted{
            background-color: #ea7d3d;
        }
        &.approved{
            background-color: #3bc398;
        }
        &.notapproved{
            background-color: #f84e4e;
            span{
                background-size:38%;
            }
        }
        &.draft{
            background-color: #37add9;
            span{
                background-size:45%;
            }
        }
    }
    .ls-div-rt{
        margin: 0;
        padding: 0;
        width: calc( 100% - 50px );
        padding-left: 10px;
        display: inline-block;
        vertical-align: top;
    }
    .ls-div-rt-count{
        font-family: "Roboto-Medium";
        font-size: 18px;
        color: #4f5eb9;
        display: block;
        margin-bottom: -2px;
        margin-top: -4px;
    }
    .ls-div-rt-text{
        font-family: "Roboto-Regular";
        font-size: 14px;
        color: #000000;
        display: block;
    }
}
::ng-deep{
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td{
        background: #f6f6fe;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:hover td:first-child{
        border-left: none !important;
    }
    .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr:active td:first-child{
        border-left: none !important;
    }  
   .documents-grid-row #file-datatable .p-datatable .p-datatable-tbody > tr td:first-child{
        border-left: none !important;
    }
    .documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-tbody > tr td:first-child{
        border-left: none !important;
        width: 220px;
    }
    .documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-thead > tr th:first-child{
        border-left: none !important;
        width: 220px;
    }
    .documents-grid-row #file-datatable.mfg-table .p-datatable .p-datatable-tbody > tr td .doc-name-col .title{
        padding-left: 20px;
        width: 30%;
        word-break: break-word;
        vertical-align: middle;
        position: absolute;
        .title-doc-list{
            height: 40px;
            display: flex;
            align-items: center;
            .title-doc-list-in{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
    }
    .cust-loader{
        &.doc-loader-new-one {
            bottom: -38px !important;
            top:unset !important;    
            &.landingpage {
                bottom: -60px !important;
            }        
        }
    }
}
::ng-deep{
    .documents-thumb-view{
        &.bg-color{
            background: #dfe1e3;
            position: relative;
            width: 100%;
            display: block;
            padding: 20px 0px 1px 0px;
            margin: 0;
            text-align: center;
            border-radius: 16px;
        }
    }    
}