.bugs-grid-row {    
  background-color: #dfe1e3;
  border-radius: 18px;
  margin-bottom: 1px !important;
  padding: 20px 0px 20px 0px !important;
  overflow: hidden !important;
  height: 100%;
}
.masonrys-item-container {
  position: absolute;
    height: 16096px;
    width: 1566px;
    transition: all 0.5s;
}

.masonrys-items-container {
  position: absolute;
    height: 16096px;
    width: 1297px;
    transition: all 0.5s;
}
.rows{
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: -15px;
}

.rows_ {
  display: flex;
  flex-wrap: wrap;
  margin-right: 252px;
  margin-left: -15px;
}
#partLists{
  max-height: 100%;
  position: relative;
 
}
.thread-bg .profile-container {
    padding-left: 0px !important;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.bugs-card {
  border-radius: 8px;
  box-shadow: none;
  margin: 0;
  padding-left: 10px
}
  .bug-box {
    width: 242px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }
  .bug-box-active{
    width: 242px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 0.12);
    background-color: #fff;
    border: 2px solid #f55756;
  }
.bug-status {
    width: 242px;
    height: 24px;
    margin: 0 0 19px;
    padding: 2px 40px 6px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &.PENDING{
      background-color: rgb(234, 125, 61);
    }
    &.IN-PROGRESS{
      background-color: #2d7eda;
    }
    &.CLOSED{
      background-color: #FF1100;
    }
    &.NEW{
      background-color: #f39408
    }
}
.bug-status-active{
  width: 238px;
    height: 24px;
    margin: 0px 0 19px;
    padding: 2px 40px 17px;
    border-top-left-radius: 5px;
    border-top-right-radius: 6px;
    &.PENDING{
      background-color: rgb(234, 125, 61);
    }
    &.IN-PROGRESS{
      background-color: #2d7eda;
    }
    &.CLOSED{
      background-color: #FF1100;
    }
    &.NEW{
      background-color: #f39408
    }
}
.bug-status-text {
 
    height: 4px;
    font-family: 'Roboto-Regular';
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.80;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  
}
.bug-title-text {
  width: 212px;
  height: 39px;
  margin: -8px 31px 4px 16px;
  font-family: Roboto-Medium;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.bug-description-text {
  width: 212px;
  height: 40px;
  margin: 5px 17px 8px 15px;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.bug-img-platform {
  width: 29px;
  height: 28px;
  margin: 41px 12px 13px -171px;
  padding: 1px 7px 16px 7px;
  background-color: #e4e4e4;
  border-radius: 50px;
 
}

.platform-text {
    margin: 4px 4px 3px 30px;
    font-family: 'Roboto-Regular';
    color: #87888c;
    font-size: 13px;
}
.date-time {
  width: 140px;
  height: 17px;
  margin: -11px 103px 18px 16px;
  font-family: "Roboto-Regular";
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
  color: #aaa;

}
.line {
    width: 237px;
  height: 1px;
  margin: 10px 0 8px;
  background-color: #e9e9e9;
}
.bfprofile{
  width: 31px;
  height: 31px;
  margin: 1px 199px 0 8px;
  opacity: 2.9;
  border-radius: 50px;
}
.username{
  width: 150px;
  height: 12px;
  margin: -38px 69px 4px 44px;
  font-family: 'Roboto-Bold';
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.masonry-items {
  margin-bottom: 20px;
}
.userRole {
  width: 37px;
  height: 9px;
  margin: -3px 106px 3px 45px;
  font-family: 'Roboto-Medium';
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.33;
  letter-spacing: normal;
  text-align: left;
  color: #454545;
}
.bug-gird {
  display: inline-block;
  padding: 13px;
}
.threads-scroll-container{
overflow-y: auto;
      //visibility: hidden;
      position: relative;
      overflow-x: hidden;
      height: 100%;

}