.head-col-1{
    &.shop-head-col-1{
        .head-txt{
            &.shop-head-txt{
                font-family: Roboto-Bold;
                font-size: 22px;
                padding-right: 15px;
                padding: 0;
                position: relative;
                left: 7px;
                top: 4px;
                vertical-align: top;
            }
        }
        img{
            position: relative;
            top: 7px;
        }
    }    
}
::ng-deep{
   #import-progress-dialog{
       .p-dialog-header{
        display: none !important;
       }
       .p-dialog-content{
        border-radius: 9px;
       }
       .exportprogressbar .download-header{
        padding-bottom: 10px;
        font-size: 16px;
        color: #000000;
        font-family: 'Roboto-Regular';
       }
    }
    body .wrapper #content .part-list-head.sib-list-head{
        &.shop-list-head{
            padding-bottom: 10px;
        }
        .head-col-2{
            top: 6px;
            .list-excel{
                vertical-align: top;
                display: inline-block;               
                margin: -10px 5px -10px 0;
                padding: 0;
                height: 44px;
                overflow: hidden;
            }
            .list-map{
                vertical-align: top;
                display: inline-block;               
                margin: 0;
                padding: 0;                
                .map{
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    text-align: center;
                    overflow: hidden;
                    &.map-normal{
                        border: solid 1px #b8b8b8;
                        background-color: #ffffff;
                    }
                    &.map-selected{
                        border: solid 1px #006b5b;
                        background-color: #006b5b; 
                    }
                }
                .list{
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    text-align: center;
                    overflow: hidden;
                    &.list-normal{
                        border: solid 1px #b8b8b8;
                        background-color: #ffffff;
                    }
                    &.list-selected{
                        border: solid 1px #006b5b;
                        background-color: #006b5b; 
                    }
                }
            }           
        }    
    }
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button{
        background: url('/assets/images/shop/shop-excel.png') no-repeat 15px center !important;
    }
    .attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label{
        font-family: Roboto-Regular !important;
        font-size: 14px;
        color: #006b5b !important;
        vertical-align: middle !important;           
    }
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-icon-left{
        margin-right: 25px !important;
    }
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-content{
        display: none;
    }
}

