.primary-text-main-div{
   position: relative;
   .inner-div{
    position: absolute;
    border: 0;
    margin: 0;
    top: -23px;
    left: 0px;
    padding: 2px 0;
    background: #5b77dc;
    font-family: Roboto-Medium;
    font-size: 12px;
    color: #ffffff;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 68px;
    text-align: center;
   }
}

.user-cont-flex{
   display: inline-flex;
}
.user-info-row-grid{
   .userinfo-icon-edit{
      position: relative;
      top: 3px;
      visibility: hidden;
   }
   &:hover{
      .userinfo-icon-edit{
         visibility: visible;
      }
   }
}
.user-cont-row{
   &.main-user-cont-row{
      width: 98%;
      white-space: nowrap;
      display: block;
      margin-bottom: 10px !important;
   }
}
.inner-user-cont-row{
   width: 21%;
   display: inline-block;
}
.no-user-text{
   text-align: center;
   width: 100%;
   display: block;
   margin: 5px 0 15px 0;
   font-family: Roboto-Regular;
   font-size: 14px;
   color: #999999;
   font-style: italic;
}