::ng-deep {
  @media screen and (max-width: 990px) {
    header div.custom-padding-header {
      padding: 0 10px !important;
    }
    .custom-width-header {
      width: 100% !important;
    }
    .buy-now-image-position {
      height: 49px !important;
    }
    .topmenu {
      padding-right: 0 !important;
    }
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
