::ng-deep{
    body{
        &.system-settings{
            .wrapper #content .prob-index .probing-content{
                padding-top: 10px !important;
            }
        }
    }
}
.empty-item {
    margin-top: 10px;
}
.head-row{
    padding: 0;
    width: 100%;
    margin:0;
    display: block;
    .head-img{
        display: inline-block;
        position: relative;
        top:0;
    }
    .head-text{
        display: inline-block;
        position: relative;
        top:0;
        font-size: 22px;
        color:#4c4b4b;
        font-family: "Roboto-Bold";
        padding-left: 8px;
        vertical-align: middle;
    }
    .head-col-1{
        display: inline-block;
        width: 50%;
        text-align: left;
    }
    .head-col-2{
        display: inline-block;
        width: 50%;
        text-align: right;
    }

}
.system-setting{
    .cbt-filter #filter .filter-toggle{
        display: none !important;
    }
    .ts-list-lt{
        display: inline-block; 
        
        &.filter-expand{
            width: 225px;
            padding: 0 !important;
            margin:10px 0 0 0;
        }   
        &.filter-collapse{
            width: 15px;
            margin: 0;                         
        } 
    }
    .ts-list-rt{
        vertical-align: top;
        display: inline-block; 
        &.filter-expand{
            width: calc(100% - 225px);
        }   
        &.filter-collapse{
            width: calc(100% - 15px);                          
        }                    
                           
    }
    .user-row{
        //border-top:1px solid #2a2e35;
        padding: 10px 0 10px 10px;                            
    }
    .profile-row{
        
        &:hover{
            .more-button {
                visibility: visible;
            }
        }
        .more-button{
            visibility: hidden;
        }

        cursor: pointer;
        border-radius: 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background-color :transparent;
        padding:6px 0 6px 6px;
        margin: 6px 0 6px 6px;
        color: #b5bcca;

        &:hover{
            background-color:#469073;
            padding: 6px 0 6px 6px;
            margin: 6px 0 6px 6px;
            color: #ffffff;
        }
        &.active{
           //background-color:var(--ID19);
            background-color:#469073;
            padding: 6px 0 6px 6px;
            margin: 6px 0 6px 6px;
            color: #ffffff;
        } 
       /* &.normal{
            background-color :transparent;
            padding:6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #b5bcca;
        }*/
        .profile-row-inner{
            padding-left:5px;
        }
        .pimg{
            display: inline-block;                
            width: 30px;
            vertical-align: top;        
        }
        .uname{
            font-family: "Roboto-Regular";
            font-size: 14px;                                   
            margin-left: 0;
            display: inline-block;
            width: calc(100% - 30px);
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;               
        }                              
    }
}
::ng-deep{
    body{
     .settings-p-msg{
        position: relative;
       .p-messages{
         top: -70px !important;
         width: auto !important;      
         z-index: 10;
         position: absolute;
         left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);   
         .p-message-detail {
             white-space: nowrap !important;
         }
       }
     }
    }
   }
::ng-deep{
    .system-setting-container-outer{
        padding: 0;
        margin:10px 0 0 15px;
        display: block;
        background: #ffffff;
        border-radius: 16px;
        border: solid 1px #ddd;
        border-radius: 16px;
    } 
   .system-setting-container {    
    .title-img{
        background: #f0e68c;
        border-radius: 12px;
        border: solid 1px #f0e68c;
         font-size: 15px;
        font-family: 'Roboto-Medium';
        color: #000000;
        padding: 2px 11px;
        margin-right: 8px;
        vertical-align: middle;
        img{
            position: relative;
            top:-1px;
        }
    }
    .title-text{
        font-size: 15px;
        font-family: 'Roboto-Medium';
        color: #000000;
        padding: 0;
        vertical-align: middle;
    }
    .event-title-img{
        position: relative;
        top:-1px;
        margin-right: 8px;
    }
    .event-title-text{
        font-size: 14px;
        font-family: 'Roboto-Medium';
        color: #777777;
        padding: 0;
        vertical-align: middle;
    }
    .event-value-text{
        font-size: 14px;
        font-family: 'Roboto-Regular';
        color: #000000;
        padding: 0;
        vertical-align: middle;
        p{
            padding: 0;
            margin:0;
        }
    }
    
    .row-border{
        width: 100%;
        display: block;
        height: 1px;
        border-bottom: solid 1px #ddd;
    }
    .bg-set:nth-child(odd) {
        background: #ffffff;
    }
    .bg-set:nth-child(even) {
        background: #fafafa;
    }
    .set-width-20{
        width: 20%;
        /*min-width: 200px;
        max-width: 200px;*/
        display: inline-block;
        vertical-align: middle;
    }
    .set-width-30{
        width: 30%;
        /*min-width: 200px;
        max-width: 200px;*/
        display: inline-block;
        vertical-align: middle;
    }
    .set-width-40{
        width: 40%;
        /*min-width: 200px;
        max-width: 200px;*/
        display: inline-block;
        vertical-align: middle;
    }
    .set-width-60{
        width: 60%;
        /*min-width: 200px;
        max-width: 200px;*/
        display: inline-block;
        vertical-align: middle;
    }
    .set-width-70{
        width: 70%;
        /*min-width: 200px;
        max-width: 200px;*/
        display: inline-block;
        vertical-align: middle;
    }
    .set-width-80{
        width: 80%;
        /*min-width: 200px;
        max-width: 200px;*/
        display: inline-block;
        vertical-align: middle;
    }
    .set-width-100{
        width: 100%;
        display: block;
    }
    .padding-set{
        padding: 10px;
    }
    .graybg-field-text{
        display: inline-block;
        vertical-align: middle;
        background: #777777;
        border-radius: 12px;
        border: solid 1px #777777;
        font-size: 13px;
        font-family: 'Roboto-Regular';
        color: #ffffff;
        padding:0px 11px 2px 11px;
        margin: 2px 0 2px 4px;
    } 
    .inputbox{            
        border: solid 1px #d8d8d8  !important; 
        background-color: #ffffff;        
        font-family: 'Roboto-Regular';    
        border: 0 none;
        font-size: 15px;
        color:#000000;
        padding: 9px 10px !important;
        max-width: 100%;
        width: 188px;    
        border-radius: 6px;
        &::placeholder {
            color:#b5b5b5;
        }                                       
    } 
    .p-multiselect,
    .p-dropdown{
        background-color: #ffffff;
        font-family: 'Roboto-Regular';    
        border: solid 1px #d8d8d8  !important; 
        font-size: 15px;
        color:#000000;
        padding: 9px 10px;
        max-width: 100%;  
        width: 188px;                         
        border-radius: 6px;
        padding: 0 !important;
        &:focus{
            box-shadow: none !important;
            outline: none !important;
        }            
    }
    .p-multiselect-label,
    .p-dropdown-label{
        font-family: 'Roboto-Regular';  
        font-size: 15px;
        color:#000000;                    
        padding: 10px 0 7px 10px;
    }
    .p-multiselect .p-multiselect-label.p-placeholder,
    .p-dropdown .p-dropdown-label.p-placeholder{
        color:#b5b5b5 !important;
    } 
    .p-inputtext:enabled:focus,
    .p-inputtext:enabled:hover,
    .p-dropdown:not(.p-disabled).p-focus,
    .p-dropdown:not(.p-disabled):hover,
    .p-multiselect:not(.p-disabled).p-focus,
    .p-multiselect:not(.p-disabled):hover {
      box-shadow: none !important;
      border: 1px solid #dbddde !important;    
    }
 
}


     .field-label {
        color: #444444;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        padding: 0;
      }
    .toggle-col {
      display: inline-block;
      vertical-align: middle;
      top: 0;
      left: 10px;
      width: 70px;
      
  
      &.toggle-option {
        position: relative;
  
        p-inputswitch::ng-deep .p-inputswitch {
            height: 28px;
            position: relative;
            top: 3px;
            width: 52px;
            
  
          .p-inputswitch-slider {
            box-shadow: none;
  
            &:before {
                width: 21px;
                height: 21px;
                margin-top: -11px;
                left: 4px;
            }
  
            &:after {
              color: #ffffff;
              content: "";
              font-size: 12px;
              position: absolute;
              left: 25px;
              top: 3px;
            }
          }
  
          &.p-inputswitch-checked {
            .p-inputswitch-slider {
              background: #469073;
  
              &:before {
                transform: translateX(1rem);
                left: 12px;
              }
  
              &:after {
                content: "";
                left: 10px;
              }
            }
          }
        }
      }
    }
    .escalationv2-list-head .prob-head-col.head-col-2 .action-col{
        top: 0px;
    }
    .escalationv2-list-head .prob-head-col.head-col-2 .action-col.tab-6{
        margin-right: 0;
        padding: 7px 18px 7px 18px;
        background-repeat: no-repeat;
        background-color: #469073;
        border: solid 1px #469073;        
    }
    .escalationv2-list-head .prob-head-col.head-col-2 .action-col.tab-edit{
        margin-right: 0;
        padding: 7px 18px 7px 18px;
        background-repeat: no-repeat;
        background-color: #ffffff;
        border: solid 1px #469073;  
        color: #469073; 
        img{
            position: relative;
            top:-1px;
        }

    }
    .add-new-button {
        cursor: pointer;
        padding: 0;
        color: #469073;
        font-size: 14px;
    }
    body.system-settings .manage-modal .modal-header .actions .action-col.clear{
        left: 50px;
    }

}

