::ng-deep .dashboard-content {
  .mat-accordion {
    padding: 10px 14px !important;
    .mat-expansion-panel {
      background-color: #242a3a;
      .mat-expansion-panel-header {
        background-color: #29303f !important;
        border-radius: 0px !important;
        height: 48px !important;
        &:hover {
          background-color: #29303f !important;
          height: 48px !important;
        }
        &:focus {
          height: 48px !important;
        }
      }
      .mat-expansion-panel-body {
        padding-top: 0.25rem !important;
      }
    }
  }

  .accordon {
    height: 60vh !important;
  }


}

::ng-deep .all-thread {
  border-radius: 4rem !important;
  font-size: 14px !important;
  text-align: center;
  padding: 4px;
  border: 1px solid;
  width: 140px;
  cursor: pointer;
  color: #484e65;
  &.active {
    color: #2d7eda;
  }
}

::ng-deep .thread-id {
  a {
    color: #2d7eda !important;
  }
}

.empty-chart{
  color: #7b849b;
    font-size: 13px;
    margin: 0 auto;
    position: absolute;
    top: 65px;
    width: 100%;
}
