.head-col-1{
    &.shop-head-col-1{
        .head-txt{
            &.shop-head-txt{
                font-family: Roboto-Bold;
                font-size: 22px !important;
                padding-right: 15px;
                padding: 0;
                position: relative;
                left: 7px;
                top: 4px;
                vertical-align: top;
            }
        }
        img{
            position: relative;
            top: 3px;
            height: 26px;
        }
    }    
}
::ng-deep{
    body #header .prob-header .head-row .head-col.logo{
        &.businessLogo{
            max-width: 25% !important;
        }
    }
    img{
        &.menuListicon1{
            height: 34px;
            margin: 2px 0 0 4px;
        }
    } 
    body .wrapper #content .probing-content.part-content.part-content-new{
        width: 100%;
        padding: 15px 30px 20px 30px;
    }
   #import-progress-dialog{
       .p-dialog-header{
        display: none !important;
       }
       .p-dialog-content{
        border-radius: 9px;
       }
       .exportprogressbar .download-header{
        padding-bottom: 10px;
        font-size: 16px;
        color: #000000;
        font-family: 'Roboto-Regular';
       }
    }
    body .wrapper #content .part-list-head.sib-list-head{
        &.shop-list-head{
            margin-bottom: -19px !important;
            padding: 4px 0 0 30px !important;
        }
        .head-col-2{
            top: 4px;
            .list-excel{
                vertical-align: top;
                display: inline-block;               
                margin: -10px 5px -10px 0;
                padding: 0;
                height: 44px;
                overflow: hidden;
                &.list-excel-inactive{
                    margin:0;
                    span{
                        font-size: 14px;
                        color: #006b5b !important;
                        vertical-align: middle !important;
                        font-family: 'Roboto-Regular'; 
                    }
                }
            }
            .list-map{
                vertical-align: top;
                display: inline-block;               
                margin: 0;
                padding: 0; 
                .cal{
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    text-align: center;
                    overflow: hidden;
                    &.cal-normal{
                        border: solid 1px #b8b8b8;
                        background-color: #ffffff;
                    }
                    &.cal-selected{
                        border: solid 1px #006b5b;
                        background-color: #006b5b; 
                    }
                }               
                .map{
                    display: inline-block;
                    width: 40px;
                    height: 30px;                    
                    text-align: center;
                    overflow: hidden;
                    &.map-normal{
                        border: solid 1px #b8b8b8;
                        background-color: #ffffff;
                    }
                    &.map-selected{
                        border: solid 1px #006b5b;
                        background-color: #006b5b; 
                    }
                }
                .list{
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    text-align: center;
                    overflow: hidden;
                    &.list-normal{
                        border: solid 1px #b8b8b8;
                        background-color: #ffffff;
                    }
                    &.list-selected{
                        border: solid 1px #006b5b;
                        background-color: #006b5b; 
                    }
                }
            }           
        }    
    }
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button{
        background: url('/assets/images/shop/shop-excel.png') no-repeat 15px center !important;
    }
    .attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label{
        font-family: Roboto-Regular !important;
        font-size: 14px;
        color: #006b5b;
        vertical-align: middle !important;           
    }
    .attachment-file.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-icon-left{
        margin-right: 25px !important;
    }
    /*.attachment-file.media-attachment-file .p-fileupload .p-fileupload-content{
        display: none;
    }*/
}
.complete-action-btn{
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #635e5d;
    padding: 3px 10px 5px 10px; 
    border-radius: 6px;
    margin-right: 15px;
    margin-left: 15px; 
    display: inline-block;
    width: 150px !important;
    text-align: center;
    height: 28px !important;
    vertical-align: middle;
    font-size: 14px;
    img{
      position: relative;
      top:-2px;
      padding-right: 5px;
    }
    span{
      color: #444444;
      font-size: 14px;
      font-family: 'Roboto-Regular';
    }
  }

