::ng-deep{    
    .no-padding {
        padding: 0px !important;
    }        
    .no-margin {
        margin: 0px !important
    }
    .shop-view-container{
        &.no-padding{
            padding:20px !important;
        }
        
    }
    .loader{
        &.ann-loader{
            position: relative !important;
            top:120px !important;
            img{
                position: absolute !important;
            }
        }
    }
    
    .middle-container{
        max-width: 1022px;
        height: 100%;
        margin: 0;
        padding: 29px 22px 31px 26px;
        border-radius: 16px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
    .lt-container{
        height: calc(100vh - 90px);
        padding: 30px 0 0 0;
        margin: 0 !important;
        border-radius: 10px;
        background-color: #3c424d;
        width: 100%;
        overflow-y: auto;
    }
    .user-row{
        //border-top:1px solid #2a2e35;
        padding: 4px 0 20px 20px;                            
    }
    .profile-row{
        
        &:hover{
            .more-button {
                visibility: visible;
            }
        }
        .more-button{
            visibility: hidden;
        }

        cursor: pointer;
        border-radius: 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background-color :transparent;
        padding:6px 0 6px 3px;
        margin: 6px 0 6px 0;
        color: #b5bcca;

        &:hover{
            background-color:#469073;
            padding: 6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #ffffff;
        }
        &.active{
           //background-color:var(--ID19);
            background-color:#469073;
            padding: 6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #ffffff;
        } 
       /* &.normal{
            background-color :transparent;
            padding:6px 0 6px 3px;
            margin: 6px 0 6px 0;
            color: #b5bcca;
        }*/
        .profile-row-inner{
            padding-left:5px;
        }
        .pimg{
            display: inline-block;                
            width: 30px;
            vertical-align: top;        
        }
        .uname{
            font-family: "Roboto-Regular";
            font-size: 14px;                                   
            margin-left: 0;
            display: inline-block;
            padding-left: 5px;
            width: calc(100% - 35px);
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;               
        }                              
    }
    .top-row{
        width: 100%;
        display: block;
        padding-bottom: 20px;
        .top-lt{
            display: inline-block;
            width: 311px;
            height: 230px;
            margin: 0 25px 0 0;
            padding: 0;
            border-radius: 7.5px;
            border: solid 1px #dfdfdf;
            background-color: #e4f2f0;
        }
        .top-rt{
            display: inline-block;
            padding-left: 20px;
            width: calc(100% - 343px);
            vertical-align: top;
            .title{
                font-family: Roboto-Bold;
                font-size: 29px;
                color: #000;
                padding-bottom: 10px;
                display: block;
            }
            .img-text-row{
                padding-bottom: 10px;
                display: block;
                .img-col{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    /* width: 50px; */
                    margin: 0 10px 0 0;
                }
                .text-col{
                    width: calc(100% - 50px);
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    font-family: Roboto-Regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000;
                    p{
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
    .header-container{
            height: 46px;
            background: #ffffff;
            display: table;
            width: 100%;
            .no-padding{
                padding: 0 20px 0 20px !important;
            }
            
        .heading-text-lt{
            position: relative;
            font-family: "Roboto-Bold";
            font-size: 20px; 
            position: relative;
            vertical-align: middle;
            .green-text{
                color:#469073;
            }
        }
        .heading-text-md{
            font-family: "Roboto-Medium";
            font-size: 18px;  
            position: relative;
            vertical-align: middle;
        }
        .heading-text-rt{
            position: relative;
            vertical-align: middle;
        }
    }
    .v-middle{
        display:table-cell !important;
        vertical-align:middle;
    }
    .p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link{
        border-radius: 6px !important;
    }
    .announcement-listing-widget{
        padding: 5px 0 0 0 !important;
    }
    
}
