html, body, h1, h2, h3, h4, p, img {
	 margin: 0;
}
/* margin reset*/
 h1 {
	 font-size: 18pt;
	 font-weight: 500;
	 margin-bottom: 0.5cm;
}
 h2 {
	 font-size: 16pt;
	 font-weight: 500;
}
 p {
	 font-size: 12pt;
}
 @media screen {
	 :host {
		 display: none;
	}
}
.rounded-circle {
    border-radius: 50% !important;
}
 .margin0 {
	 margin: 0;
}
 .padding0 {
	 padding: 0;
}
 .btn {
	 border-radius: 18px;
	 padding: 4px 15px;
	 font-family: Roboto-Medium;
	 color: #fff;
	 font-size: 12px;
	 text-align: center;
}
 .btn.days-text {
	 background-color: #76757c;
}
 .btn.tag {
	 background-color: #62779f;
}

 
 .td-head {
	 padding: 16px 20px 14px 30px;
}
 .td-head .left-head .thread-text {
	 font-family: Roboto-Bold;
	 color: #000;
	 font-size: 20px;
	 text-align: left;
	 font-weight: normal;
	 padding-right: 15px;
}
 .td-head .left-head .thread-text .red-text {
	 color: #e55554;
}
 .td-head .left-head .thread-status {
	 position: relative;
	 top: -3px;
	 text-transform: uppercase;
}
 .td-head .right-head ul {
	 margin: 0;
	 padding: 0;
	 text-align: right;
}
 .td-head .right-head ul li {
	 display: inline-block;
	 margin: 0;
	 padding: 0;
}
 .td-head .right-head ul li.paddingR30 {
	 padding-right: 30px;
}
 .td-head .right-head ul li.paddingL30 {
	 padding-left: 30px;
}
 .td-head .right-head ul li a {
	 margin: 0;
	 padding: 0;
	 display: block;
}
 .td-head .right-head ul li a img {
	 display: inline-block;
}
 .td-head .right-head ul li a img.mleft60 {
	 margin-left: 60px;
}
 .td-head .right-head ul li a span {
	 font-family: Roboto-Regular;
	 color: #e55554;
	 font-size: 14px;
	 margin-left: 10px;
}

    .display-table {
	 display: table;
}
    .display-tablecell {
	 display: table-cell;
	 vertical-align: middle;
}
    .thread-detail-div {		
		margin: 0 auto;
		padding: 30px 30px 0;	
		
		 position: relative;
	}
    .thread-detail-div .thread-detail-div-col {
	 display: inline-block;
	 vertical-align: top;
}
    .thread-detail-div .thread-detail-div-left {
	 width: 76%;
}
    .thread-detail-div .thread-detail-div-left .thread-detail-view {
	 background-color: #fff;
	 border-top-left-radius: 16px;
	 border-top-right-radius: 16px;
	 box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	 border: 1px solid #d5dceb;
}
    .thread-detail-div .thread-detail-div-left .thread-detail-view.thread-detail-view-no-post {
	 border-radius: 16px;
}
    .thread-detail-div .thread-detail-div-right {
	 position: absolute;
	 width: 24%;
	 height: 100%;
	 overflow-y: auto;
}
    .thread-detail-div .thread-detail-div-right .fixed-button-top {
     display: none;
	 position: fixed;
	 z-index: 999;
	 top: 92px;
	 padding: 30px 0 0 20px;
	 width: 16%;
	 height: 90px;
}
    .thread-detail-div .thread-detail-div-right .fixed-button-bottom {
	display: none;
	 position: fixed;
	 z-index: 999;
	 bottom: 60px;
	 width: 16%;
	 background: #eff1f3;
	 padding-left: 20px;
}
    .thread-detail-div .thread-detail-div-right .button-green {
	 background-color: #28ac69;
	 border-radius: 18px;
	 padding: 4px 15px;
	 text-align: center;
	 width: 146px;
	 height: 32px;
	 cursor: pointer;
}
    .thread-detail-div .thread-detail-div-right .button-green .button-text {
	 font-family: Roboto-Medium;
	 color: #fff;
	 font-size: 14px;
	 line-height: 12px;
}
    .thread-detail-div .thread-detail-div-right .button-green .botton-icon {
	 position: relative;
	 top: -1px;
	 margin-left: 4px;
	 width: 14px;
	 display: inline-block;
}
    .thread-detail-div .thread-detail-div-right .thread-history-div {
	 position: relative;
	 z-index: 99;
	 padding: 65px 10px 0 20px;
}
    .post-div {
		
		margin: 0 auto;
		padding: 30px;		
		 position: relative;
}
    .post-div .post-div-col {
	 display: inline-block;
	 vertical-align: top;
}
    .post-div .post-div-left {
	 width: 76%;
}
    .post-div .post-div-right {
	 position: absolute;
	 width: 24%;
	 height: 100%;
	 overflow-y: auto;
}
    .post-div .post-div-right .edit-history-div {
	 padding: 10px 10px 0 20px;
}
    .thread-head {
	 padding: 15px 30px;
	 border-bottom: 1px solid #e7ebeb;

}
    .thread-head.post-head {
	 padding: 12px 20px;
}
    .thread-head .thread-head-col1 {
	 width: 50%;
}
    .thread-head .thread-head-col1.post-head-col1 {
	 width: 50%;
}
    .thread-head .thread-head-col1 .th-head-img {
	 display: inline-block;
	 width: 48px;
	 height: 48px;
	 position: relative;
	 top: 4px;
	 margin: 0 12px 0 0;
}
    .thread-head .thread-head-col1 .th-head-img span.rounded-circle {
	 display: block;
	 background-image: url("https://s3-us-west-2.amazonaws.com/cbt-demo-file-output/userprofile/thumb_profile_image.png");
	 background-position: top;
	 background-repeat: no-repeat;
	 background-size: cover;
	 width: auto;
	 height: 100%;
	 background-color: #fff;
	 border: 1px solid #e7ebeb;
}
    .thread-head .thread-head-col1 .th-head-img span.availability-status {
	 top: -16px;
	 left: 38px;
	 height: 10px;
	 width: 10px;
	 border: none;
}
    .thread-head .thread-head-col1 .th-head-text1 {
	 font-family: Roboto-Bold;
	 color: #2b2b2b;
	 font-size: 15px;
	 display: block;
}
    .thread-head .thread-head-col1 .th-head-text2 {
	 font-family: Roboto-Regular;
	 color: #2b2b2b;
	 font-size: 13px;
	 display: block;
}
    .thread-head .thread-head-col1 .th-head-text2.new-head-text2 {
	 color: #898989;
}
    .thread-head .thread-head-col1 .th-head-text3 {
	 font-family: Roboto-Light;
	 color: #a09f9f;
	 font-size: 12px;
	 font-style: italic;
	 display: block;
}
    .thread-head .thread-head-col2 {
		display: none;;
	 width: 12%;
	 text-align: right;
}
    .thread-head .thread-head-col2 .th-head-more-text span {
	 font-family: Roboto-Regular;
	 color: #e55554 !important;
	 font-size: 14px;
	 padding-left: 10px;
	 display: inline-block;
}
    .thread-head .thread-head-col3 {
		display: none;;
	 width: 60px;
	 display: block;
}
    .thread-head .thread-head-col4 {
	 width: 50%;	 
	 text-align: right;
}
    .thread-head .thread-head-col4 .days-text {
	 font-family: Roboto-Regular;
	 text-transform: uppercase;
}
    .thread-content {	
	 padding: 30px;
	 display: block;
}
    .thread-content .table-row1 {
	 width: 100%;
	 vertical-align: top;
	 padding-bottom: 30px;
}
    .thread-content .table-row1 .table-col-1-1 {
	 width: 40%;
}
    .thread-content .table-row1 .table-col-1-1.thread-img-div {
	 border-radius: 10px;
	 background-color: #fbfbfb;
	 border: 1px solid #eaeaea;
}
    .thread-content .table-row1 .table-col-1-1.thread-img-div .thread-img {
	 display: block;
	 width: 123px;
	 height: 121px;
	 margin: 20px auto;
}
    .thread-content .table-row1 .table-col-1-1.thread-img-div .thread-bg {
	 display: block;
	 background-image: url('assets/images/thread-detail/default-copier.png');
	 background-repeat: no-repeat;
	 width: auto;
	 height: 100%;
	 background-size: cover;
	 background-position: center;
}
    .thread-content .table-row1 .table-col-1-2 {
	 width: 60%;
	 padding: 0 0 0 30px;
	 vertical-align: top;
	 margin: 0;
}
    .thread-content .table-row1 .table-col-1-2 .thread-title {
	 font-family: Roboto-Bold;
	 color: #000;
	 font-size: 31px;
	 line-height: normal;
	 position: relative;
	 top: -8px;
}
    .thread-content .table-row1 .table-col-1-2 .thread-mm {
	 font-family: Roboto-Medium;
	 color: #e55554;
	 font-size: 14px;
	 line-height: normal;
}
    .thread-content .table-row1 .table-col-1-2 .thread-mm .pi-chevron-right {
	 padding: 0 5px;
	 font-size: 11px;
}
    .thread-content .table-row1 .table-col-1-2 .thread-trim {
	 font-family: Roboto-Regular;
	 color: #444d61;
	 font-size: 14px;
	 line-height: normal;
	 padding-top: 9px;
}
    .thread-content .table-row1 .table-col-1-2 .thread-mm-bottom {
	 padding-top: 14px;
	 height: 1px;
	 border-bottom: 1px solid #ececec;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row {
	 width: 100%;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col {
	 width: 50%;
	 padding: 14px 0 0 0;
	 display: inline-block;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-lt {
	 display: inline-block;
	 vertical-align: top;
	 background-repeat: no-repeat;
	 background-position: center;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-lt.serial-number {
	 background-image: url('assets/images/thread-detail/serial-number.png');
	 width: 23px;
	 height: 19px;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-lt.total-use {
	 background-image: url('assets/images/thread-detail/total-use.png');
	 width: 19px;
	 height: 19px;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-lt.work-order {
	 background-image: url('assets/images/thread-detail/work-order-red.png');
	 width: 23px;
	 height: 23px;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-rt {
	 display: inline-block;
	 vertical-align: top;
	 font-size: 14px;
	 padding-left: 10px;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-rt p {
	 padding: 0;
	 margin: 0;
	 line-height: normal;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-rt p.use-col-head {
	 font-family: Roboto-Medium;
	 color: #93989d;
}
    .thread-content .table-row1 .table-col-1-2 .thread-use-row .thread-use-col .use-col-rt p.use-col-cont {
	 font-family: Roboto-Regular;
	 color: #444d61;
	 white-space: nowrap;
	 text-overflow: ellipsis;
}
    .thread-content .table-row3 {
	 width: 100%;
	 padding: 30px 0 0 0;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-tab {
	 margin-bottom: 30px;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-header .p-accordion-header-link {
	 height: 40px;
	 background-color: #818489;
	 border-radius: 6px;
	 padding: 15px;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-header .p-accordion-header-link .pi-chevron-right {
	 transform: rotate(90deg);
	 transition: all 0.2s;
	 font-size: 18px;
	 color: #c0c7d5;
	 top: 11px;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-header .p-accordion-header-link .pi-chevron-right::before {
	 content: "\e901";
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-header .p-accordion-header-link .pi-chevron-down {
	 transform: rotate(270deg);
	 transition: all 0.2s;
	 font-size: 18px;
	 color: #c0c7d5;
	 top: 11px;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-header .p-accordion-header-link .pi-chevron-down::before {
	 content: "\e901";
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-header .header-text {
	 font-family: Roboto-Medium;
	 color: #fbfbfb !important;
	 font-size: 14px;
	 font-weight: normal;
	 position: relative;
	 top: -1px;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-content {
	 font-family: Roboto-Regular;
	 font-size: 14px;
	 font-weight: normal;
	 background-color: #fff;
	 padding: 0;
	 margin: 0;
}


    .thread-content .table-row3 .thread-detail-widget .p-accordion-content .refer-info .label {
	 display: none;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-content .attachment-cont {
	 margin: 20px 0 0 0;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-content .acc-col {
	 width: 33.3%;
	 display: inline-block;
	 text-align: left;
	 margin: 14px 0 6px 0;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-content .attachment-col.cont-col {
	 width: 60%;
}
    .thread-content .table-row3 .thread-detail-widget .p-accordion-content .attachment-col.doc-bg {
	 background-size: 60% !important;
}
    .table-row2 .problem-row-bg-height {
	 height: 30px;
	 border-bottom: 1px solid #eee;
}
    .table-row2 .problem-row-bg {
	 padding: 20px 15px 16px 15px;
	 margin: 0;
	 border: none;
	 border-bottom: 1px solid #eee;
}
    .table-row2 .problem-row-bg:nth-of-type(odd) {
	 background: #f6f7f7;
}
    .table-row2 .problem-row-bg:nth-of-type(even) {
	 background: #fff;
}
    .table-row2 .problem-row {
	 display: block;
	 width: 100%;
}
    .table-row2 .problem-row.setPadding {
	 padding: 10px 0 0 10px;
}
    .table-row2 .problem-row.setPaddingTop1 {
	 padding-top: 28px;
}
    .table-row2 .problem-row.setPaddingTop2 {
	 padding-top: 10px;
}
    .table-row2 .problem-row .problem-col-lt {
	 display: inline-block;
	 vertical-align: top;
	 line-height: normal;
	 background-repeat: no-repeat;
	 background-position: center;
}
    .table-row2 .problem-row .problem-col-lt.problem {
	 background-image: url('assets/images/thread-detail/problem.png');
	 width: 20px;
	 height: 17px;
}
    .table-row2 .problem-row .problem-col-lt.thread-error {
	 background-image: url('assets/images/thread-detail/thread-error.png');
	 width: 16px;
	 height: 14px;
}
    .table-row2 .problem-row .problem-col-lt.thread-no-error {
	 background-image: url('assets/images/workstreams-page/no_error_code.png');
	 width: 16px;
	 height: 14px;
}
    .table-row2 .problem-row .problem-col-lt.tag {
	 background-image: url('assets/images/thread-detail/tag.png');
	 width: 16px;
	 height: 16px;
}
    .table-row2 .problem-row .problem-col-lt.category-red {
	 background-image: url('assets/images/thread-detail/category-red.png');
	 width: 13px;
	 height: 19px;
}
    .table-row2 .problem-row .problem-col-lt.prod-type {
	 background-image: url('assets/images/thread-detail/prod-type.png');
	 width: 19px;
	 height: 18px;
}
    .table-row2 .problem-row .problem-col-lt.map {
	 background-image: url('assets/images/thread-detail/map.png');
	 width: 14px;
	 height: 19px;
}
    .table-row2 .problem-row .problem-col-lt.thread-history-date {
	 background-image: url('assets/images/thread-detail/thread-history-date.png');
	 width: 18px;
	 height: 17px;
}
    .table-row2 .problem-row .problem-col-lt.thread-history-edituser {
	 background-image: url('assets/images/thread-detail/thread-history-edituser.png');
	 width: 21px;
	 height: 21px;
}
    .table-row2 .problem-row .problem-col-lt.cause {
	 background-image: url('assets/images/thread-detail/cause.png');
	 width: 21px;
	 height: 21px;
}
    .table-row2 .problem-row .problem-col-lt.fix-description {
	 background-image: url('assets/images/thread-detail/fix-description.png');
	 width: 22px;
	 height: 22px;
}
    .table-row2 .problem-row .problem-col-lt.parts-used {
	 background-image: url('assets/images/thread-detail/parts-used.png');
	 width: 19px;
	 height: 19px;
}
    .table-row2 .problem-row .problem-col-lt.special-tools {
	 background-image: url('assets/images/thread-detail/special-tools.png');
	 width: 18px;
	 height: 18px;
}
    .table-row2 .problem-row .problem-col-lt.difficulty-level {
	 background-image: url('assets/images/thread-detail/difficulty-level.png');
	 width: 16px;
	 height: 18px;
}
    .table-row2 .problem-row .problem-col-lt.time-to-fix {
	 background-image: url('assets/images/thread-detail/time-to-fix.png');
	 width: 21px;
	 height: 21px;
}
    .table-row2 .problem-row .problem-col-rt {
	 display: inline-block;
	 vertical-align: top;
	 width: 96%;
	 line-height: normal;
}
    .table-row2 .problem-row .problem-col-rt.w90 {
	 width: 90%;
}
    .table-row2 .problem-row .problem-col-rt.w86 {
	 width: 86%;
}
    .table-row2 .problem-row .problem-col-rt p {
	 padding: 0;
	 margin: 0;
	 line-height: normal;
	 padding-left: 10px;
	 position: relative;
	 top: 0;
}
    .table-row2 .problem-row .problem-col-rt p.problem-col-head {
	 font-family: Roboto-Medium;
	 color: #93989d;
	 font-size: 14px;
}
    .table-row2 .problem-row .problem-col-rt p.problem-col-cont {
	 padding-top: 2px;
	 font-family: Roboto-Regular;
	 color: #333;
	 font-size: 14px;
}
    .table-row2 .problem-row .problem-col-rt p.problem-col-cont.shareContPTop {
	 padding-top: 10px;
	 line-height: 20px;
}
    .table-row2 .problem-row .problem-col-rt p.edit-text1 {
	 font-family: Roboto-Regular;
	 color: #a7a7a7;
	 font-size: 13px;
}
    .table-row2 .problem-row .problem-col-rt p.edit-text2 {
	 padding-top: 5px;
	 font-family: Roboto-Medium;
	 color: #848484;
	 font-size: 13px;
}
    .table-row2 .problem-row .problem-col-rt p.problem-col-cont-error {
	 font-family: Roboto-Regular;
	 color: #2a2a2a;
	 font-size: 13px;
}
    .table-row2 .problem-row .problem-col-rt p.no-error-text {
	 font-family: Roboto-Regular;
	 color: #aeacac;
	 font-size: 13px;
	 font-style: italic;
}
    .table-row2 .problem-row .problem-col-rt p .red-text {
	 color: #e55554;
	 font-family: Roboto-Medium;
	 padding-right: 6px;
}
    .table-row2 .problem-row .problem-col-rt .tag-cont-div {
	 padding: 0;
	 margin: 0;
	 line-height: normal;
	 padding-left: 10px;
	 display: inline-block;
}
    .table-row2 .problem-row .problem-col-rt .tag-cont-div .tag-cont {
	 font-family: Roboto-Regular;
	 font-size: 13px;
	 margin: 10px 10px 0 0;
	 padding: 2px 15px;
}
    .table-row2 .problem-row .problem-col-rt .tag-cont-div .eq-cont {
	 font-family: Roboto-Regular;
	 font-size: 12px;
	 margin: 10px 10px 0 0;
	 padding: 2px 13px 3px;
}
    .table-row4 {
	 width: 100%;
	 border-top: 1px solid #e7ebeb;
	 padding: 10px 0 12px 0;
}
    .table-row4 .row4 {
	 width: 100%;
}
    .table-row4 .row4 .row4-col1 {
	 width: 60%;
}
    .table-row4 .row4 .icons-div {
	 margin: 0;
	 padding: 0;
	 display: inline-block;
}
    .table-row4 .row4 .icons-div.icon-left {
	 padding-left: 30px;
	 vertical-align: top;
}
    .table-row4 .row4 .icons-div .icon {
	 display: inline-block;
	 vertical-align: middle;
	 line-height: normal;
	 background-repeat: no-repeat;
	 background-position: center;
}
    .table-row4 .row4 .icons-div .icon.icon-like {
	 background-image: url('assets/images/thread-detail/thread-like-normal.png');
	 width: 15px;
	 height: 18px;
}
    .table-row4 .row4 .icons-div .icon.icon-pin {
	 background-image: url('assets/images/thread-detail/thread-pin-normal.png');
	 width: 16px;
	 height: 16px;
}
    .table-row4 .row4 .icons-div .icon.icon-comment {
	 background-image: url('assets/images/thread-detail/thread-post.png');
	 width: 16px;
	 height: 12px;
}
    .table-row4 .row4 .icons-div .icon.icon-view {
	 background-image: url('assets/images/thread-detail/thread-view.png');
	 width: 19px;
	 height: 11px;
}
    .table-row4 .row4 .icons-div .icon.icon-one-plus {
	 background-image: url('assets/images/thread-detail/thread-plus-one-normal.png');
	 width: 16px;
	 height: 16px;
}
    .table-row4 .row4 .icons-div .icon.icon-thread-share {
	 background-image: url('assets/images/thread-detail/thread-share.png');
	 width: 16px;
	 height: 18px;
}
    .table-row4 .row4 .icons-div .icon.icon-thread-flag {
	 background-image: url('assets/images/thread-detail/thread-flag.png');
	 width: 14px;
	 height: 18px;
}
    .table-row4 .row4 .icons-div .icon.icon-thread-bstatus0 {
	 background-image: url('assets/images/thread-detail/fix-status-0.png');
	 width: 15px;
	 height: 22px;
}
    .table-row4 .row4 .icons-div .icon.icon-thread-bstatus1 {
	 background-image: url('assets/images/thread-detail/fix-status-1.png');
	 width: 15px;
	 height: 22px;
}
    .table-row4 .row4 .icons-div .icon.icon-thread-bstatus2 {
	 background-image: url('assets/images/thread-detail/fix-status-2.png');
	 width: 15px;
	 height: 22px;
}
    .table-row4 .row4 .icons-div .icon.icon-thread-bstatus3 {
	 background-image: url('assets/images/thread-detail/fix-status-3.png');
	 width: 15px;
	 height: 22px;
}
    .table-row4 .row4 .icons-div .icon.icon-thread-closed {
	 background-image: url('assets/images/thread-detail/thread-closed-red.png');
	 width: 23px;
	 height: 23px;
}
    .table-row4 .row4 .icons-div .icon.share {
	 background-image: url('assets/images/thread-detail/share.png');
	 width: 23px;
	 height: 23px;
}
    .table-row4 .row4 .icons-div .icon-count-text {
	 display: inline-block;
	 font-family: Roboto-Medium;
	 font-size: 14px;
	 text-align: left;
	 color: #bebfc3;
	 padding: 0 20px 0 5px;
	 vertical-align: top;
	 position: relative;
	 top: 2px;
}
    .table-row4 .row4 .icons-div .plus-one-tooltip.bs-tooltip-top .arrow::before {
	 border-top-color: #f19d23;
}
    .table-row4 .row4 .icons-div .plus-one-tooltip.bs-tooltip-top .tooltip-inner {
	 background-color: #f19d23;
	 padding: 5px 10px;
}
    .table-row4 .row4 .icons-div .plus-one-tooltip.bs-tooltip-top .tooltip-inner .label-tt-head {
	 font-family: Roboto-Medium;
	 color: #fff;
	 font-size: 14px;
	 padding: 0;
	 margin: 0;
}
    .table-row4 .row4 .row4-col2 {
	 width: 40%;
	 text-align: right;
}
    .th-date-text {
	 font-family: Roboto-Regular;
	 color: #878787;
	 font-size: 14px;
	 display: block;
	 padding: 0 0 3px 0;
}
    .th-date-text.post-date-text {
	 padding: 0;
	 display: inline-block;
}
    .post-view {
	 background-color: #e5e8ec;
	 padding: 30px 30px 0;
	 border: 1px solid #d5dceb;
	 border-top: none;
	 border-bottom: none;
}
    .post-view.post-view-last {
	 border-bottom: 1px solid #d5dceb;
	 border-bottom-left-radius: 16px;
	 border-bottom-right-radius: 16px;
}
    .post-view .post-view-paddBottom {
	 padding: 0 0 30px 0;
}
    .post-view .post-row {
	 width: 100%;
}
    .post-view .post-row .post-col {
	 vertical-align: top;
}
    .post-view .post-row .post-col.post-col1 {
	 width: 58px;
}
    .post-view .post-row .post-col.post-col1 .post-profile-img {
	 width: 48px;
	 height: 48px;
}
    .post-view .post-row .post-col.post-col1 .post-profile-img span.rounded-circle {
	 display: block;
	 background-image: url("https://s3-us-west-2.amazonaws.com/cbt-demo-file-output/userprofile/thumb_profile_image.png");
	 background-position: top;
	 background-repeat: no-repeat;
	 background-size: cover;
	 width: auto;
	 height: 100%;
	 background-color: #fff;
}
    .post-view .post-row .post-col.post-col1 .post-profile-img span.availability-status {
	 top: -16px;
	 left: 38px;
	 height: 10px;
	 width: 10px;
	 border: none;
}
    .post-view .post-row .post-col.post-col2 .post-head {
	 width: 100%;
	 margin-top: -5px;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 {
	 width: 60%;
	 vertical-align: top;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .name-text {
	 font-family: Roboto-Bold;
	 color: #2b2b2b;
	 font-size: 15px;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .name-text span {
	 padding-right: 5px;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .name-text span.title-text {
	 font-family: Roboto-Regular;
	 color: #7d7d7d;
	 font-size: 14px;
	 padding: 0;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .posted-text {
	 font-family: Roboto-Regular;
	 color: #94a3d8;
	 font-size: 13px;
	 font-style: italic;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .post-head-inner-col {
	 display: block;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .post-head-inner-col .post-head-inner-col1 {
	 display: inline-block;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .post-head-inner-col .post-head-inner-col2 {
	 display: inline-block;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col1 .thread-owner-label {
	 position: relative;
	 display: block;
	 background-image: url("assets/images/thread-detail/thread-owner-strip.png");
	 background-position: top;
	 background-repeat: no-repeat;
	 width: 110px;
	 height: 24px;
	 top: -10px;
	 left: 14px;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col2 {
	 width: 40%;
	 text-align: right;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col2 span {
	 padding-left: 10px;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col2 span img.post-edit-img {
	 position: relative;
	 top: -2px;
}
    .post-view .post-row .post-col.post-col2 .post-head .post-head-col2 span img.post-delete-img {
	 position: relative;
	 top: -2px;
}
    .post-view .post-row .post-col.post-col2 .post-cont {
	 font-family: Roboto-Regular;
	 font-size: 14px;
	 font-weight: normal;
	 margin-top: 5px;
	 padding: 14px 30px 0;
	 background-color: #fff;
	 border-radius: 6px;
	 box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
    .post-view .post-row .post-col.post-col2 .post-cont .post-desp {
	 font-family: Roboto-Regular;
	 color: #666;
	 font-size: 13px;
	 padding: 0 0 13px 0;
	 margin: 0;
	 line-height: 22px;
	 word-break: break-all;
}
    .post-view .post-row .post-col.post-col2 .post-cont .refer-info {
	 padding: 0 0 30px 0;
}
    .post-view .post-row .post-col.post-col2 .post-cont .refer-info .label {
	 display: none;
}
    .post-view .post-row .post-col.post-col2 .post-cont .refer-info .attachment-cont {
	 margin: 0;
}
    .post-view .post-row .post-col.post-col2 .post-cont .refer-info .attachment-col.cont-col {
	 width: 70%;
}
    .post-view .post-row .post-col.post-col2 .post-cont .refer-info .attachment-col.doc-bg {
	 background-size: 70% !important;
}
    .post-view .reminder-view {
	 margin: 0 auto;
	 text-align: center;
}
    .post-view .reminder-view.mTopm {
	 margin-top: -15px;
	 padding-bottom: 10px;
}
    .post-view .reminder-view.mTop {
	 margin-top: 22px;
}
    .post-view .reminder-view .reminder-row {
	 background-color: #c9e0f0;
	 border: 1px solid #accce2;
	 border-radius: 6px;
	 padding: 10px 0 10px 0;
	 margin: 10px 0 0 0;
}
    .post-view .reminder-view .reminder-row .reminder-title {
	 font-family: Roboto-Bold;
	 color: #416884;
	 font-size: 15.5px;
	 margin: 0;
	 padding: 0 0 5px 0;
	 line-height: normal;
}
    .post-view .reminder-view .reminder-row .reminder-date {
	 text-align: center;
}
    .post-view .reminder-view .reminder-row .reminder-date img {
	 vertical-align: top;
}
    .post-view .reminder-view .reminder-row .reminder-date span {
	 font-family: Roboto-Regular;
	 color: #3174a5;
	 font-size: 15px;
	 padding-left: 10px;
}
    .post-new {
	 background-color: #fff;
	 padding: 0;
	 margin: 0;
	 box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	 border-bottom-left-radius: 16px;
	 border-bottom-right-radius: 16px;
	 border: 1px solid #d5dceb;
	 border-top: none;
}
    .post-new.remove-radius {
	 border-radius: 0;
}
    .post-new .post-head-col2 {
		width: 30%;
		text-align: right;
}
    .post-new .post-head-col2 .post-button {
	 border-radius: 6px;
	 display: inline-block;
	 margin-left: 15px;
}
    .post-new .post-head-col2 .post-button.post-button-white {
	 padding: 8px 20px 2px;
	 background-color: #fff;
	 border-radius: 6px;
	 border: 1px solid #e1e1e1;
}
    .post-new .post-head-col2 .post-button.post-button-black {
	 padding: 8px 14px 2px;
	 background-color: #4d4d4d;
}
    .post-new .post-head-col2 .post-button.post-button-green {
	 padding: 8px 25px 2px;
	 background-color: #c4413e;
}
    .post-new .post-head-col2 .post-button.post-button-green .post-btn-img {
	 position: relative;
	 top: 1px;
}
    .post-new .post-head-col2 .post-button .post-btn-text {
	 font-family: Roboto-Regular;
	 color: #fff;
	 font-size: 14px;
	 padding-right: 6px;
	 line-height: normal;
	 vertical-align: top;
	 position: relative;
	 top: -1px;
}
    .post-new .post-head-col2 .post-button .post-btn-text.cancel-btn-text {
	 color: #acacac;
}
    .post-new .post-head-col2 .post-button .post-btn-img {
	 vertical-align: top;
}
    .post-new .post-head-col2 .post-button .post-btn-img.cancel-btn-img {
	 top: 3px;
	 position: relative;
}
    .post-new .post-new-cont .post-desp {
	 border: none !important;
	 width: 100%;
	 margin: 0;
	 font-family: Roboto-Regular;
	 text-align: left;
	 color: #898989;
	 font-size: 14px;
	 outline: none !important;
	 height: 134px;
	 padding: 12px 20px;
	 resize: none;
	 background: transparent;
	 border-radius: 0;
}
    .post-new .post-new-cont .attachment-row .upload-area {
	 border-top: 1px solid #e7ebeb;
	 padding: 20px 20px 0;
	 margin: 0;
	
}
    .post-new .post-new-cont .attachment-row .attachment-cont {
	 margin: 0px;
}
    .post-new .post-new-cont .attachment-row .p-error-messages {
	 margin: 0 20px;
}
    .post-new .post-new-cont .attachment-row .reference-info {
	 padding: 20px;
}
    .post-new .post-error-msg {
	 font-family: Roboto-Regular;
	 text-align: left;
	 color: #cf2020;
	 font-size: 12px;
	 padding: 10px 0 0 20px;
}
    .close-div {
	 background-color: #f7826c;
	 padding: 13px 0;
	 margin: 30px 0;
	 border-radius: 10px;
	 display: block;
	 text-align: center;
}
    .close-div .close-div-icon {
	 display: inline-block;
	 vertical-align: top;
}
    .close-div .close-div-text {
	 display: inline-block;
	 vertical-align: top;
	 font-family: Roboto-Medium;
	 color: #fff;
	 font-size: 16px;
	 padding-left: 10px;
}
  .th-outer-col-3 {
     display: none;
	 float: right;
}
  .th-outer-col-3.col-expand {
	 width: 16%;
	 transition: all 0.5s;
}
  .th-outer-col-3.col-collapse {
	 width: 1%;
	 transition: all 0.5s;
}
  .th-outer-col-3 .cust-right-panel.right-panel-collapse {
	 right: -5px;
	 top: 70px;
	 width: 36px;
	 position: absolute;
}
 .th-error-div {
	 padding: 100px;
}
 .th-error-div.post-error-div {
	 padding: 0px 20px;
	 position: relative;
	 top: -15px;
}
 .th-error-div .error-msg {
	 font-family: Roboto-Medium;
	 font-size: 14px;
	 text-align: center;
	 color: #cf2020;
}
/** File Attachment Styles **/
.p-error-messages .p-message.p-message-error {
	background: #fed8d6;
	border: 0 none;
	border-radius: 8px;
	display: table;
	margin: 15px 0px 10px;
	position: relative;
	top: 0px;
	width: auto;
}
.p-error-messages .p-message.p-message-error .p-message-wrapper {
	position: relative;
	padding: 8px 50px 8px 20px;
}
.p-error-messages .p-message.p-message-error .p-message-wrapper .p-message-close {
	position: absolute;
	right: 8px;
	border: 0;
}
.p-error-messages .p-message.p-message-error .p-message-wrapper .p-message-close .p-message-close-icon {
	font-size: 13px;
	position: relative;
	top: 2px;
}
.p-error-messages .p-message.p-message-error .p-message-icon {
	display: none;
}
.p-error-messages .p-message .p-message-summary {
	color: #222;
	font-weight: normal;
	font-size: 13px;
}
.p-error-messages .p-message .p-message-summary .warning {
	color: #73000c;
}

 .add-link {
	border: solid 1px #e55554;
	border-radius: 8px;
	color: #e55554;
	display: inline;
	padding: 10px 15px;
	position: absolute;
	top: 16px;
	left: 145px;
	text-align: center;
	width: 120px;
	z-index: 100;
}
 .add-link.pi-link:before {
	position: relative;
	left: -6px;
}
 .add-link span {
	font-family: 'Roboto-Regular';
	position: relative;
	top: -2px;
	left: 2px;
}
 .add-link.disable {
	opacity: 0.5;
}
 .p-fileupload .p-fileupload-buttonbar {
	background-color: transparent;
	border: 0 none;
	padding: 1rem 0;
}
 .p-fileupload .p-fileupload-buttonbar .p-button {
	background-color: #fb982c;
	border: solid 1px #fb982c;
	border-radius: 8px;
	padding: 6px 10px 8px;
}
 .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label {
	font-family: 'Roboto-Regular';
}
 .p-fileupload .p-fileupload-content {
	background-color: #fff5f6;
	border: dashed 1px #dd2a2a;
	border-radius: 6px;
	height: 90px;
}
 .p-fileupload .p-fileupload-content p-progressbar,  .p-fileupload .p-fileupload-content .p-fileupload-files {
	display: none;
}
 .p-fileupload .p-fileupload-content .placeholder {
	color: #e55554;
	font-family: 'Roboto-Medium';
}
 .media-upload .p-fileupload-buttonbar .p-button .p-button-icon-left {
	margin-right: 50px !important;
}
 .p-message.p-message-error .p-message-wrapper {
	position: relative;
}
 .p-message.p-message-error .p-message-wrapper .p-message-close {
	position: absolute;
	right: 8px;
	border: 0;
}
.media-attachment-file .p-fileupload {
	display: table;
	width: 100%;
}
.media-attachment-file .p-fileupload .p-fileupload-buttonbar {
	background-color: transparent;
	border: 0 none;
	display: table-cell;
	padding: 0;
	width: 30%;
	min-width: 128px;
}
.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button {
	background-color: transparent;
	background-image: url('assets/images/media/manager/media-upload-icon.png');
	background-position: 25px 14px;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 0px;
	display: table;
	margin-top: 0;
	padding: 10px 0px;
	height: 16px;
	width: 100%;
	text-align: left;
}
.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .pi-paperclip:before {
	content: "";
}
.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-icon-left {
	margin-right: 50px !important;
}
.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button .p-button-label {
	display: inline-block;
	color: #e36160;
	font-family: 'Roboto-Regular';
	font-size: 14px;
}
.media-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button:focus {
	box-shadow: none;
}
.media-attachment-file .p-fileupload .p-fileupload-content {
	border: 0 none;
	border-left: dashed 1px #dda2a2;
	border-radius: 0;
	display: table-cell;
	height: auto;
	padding: 0px;
	width: 50%;
	cursor: default !important;
}
.media-attachment-file .p-fileupload .p-fileupload-content .placeholder {
	color: #e36160;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	margin: 0;
   /*padding-left: 10px;
	text-align: left !important;
   */
}
.media-attachment-file .p-fileupload .p-messages .p-message {
	display: block;
	width: 50% !important;
	position: fixed;
	left: 30% !important;
	top: 0px;
	z-index: 101;
	margin: 0;
}
.media-attachment-file .p-messages {
	position: absolute;
	top: -70px;
}
.media-attachment-file .p-messages .p-message {
	background: #fed8d6;
	border: 0 none;
	border-radius: 8px;
	display: block;
	width: 100%;
	position: relative;
	top: 0px;
	z-index: 101;
	margin: 2px 0px;
}
.media-attachment-file .p-messages .p-message .p-message-summary {
	color: #222;
	font-weight: normal;
	font-size: 13px;
}
.media-attachment-file .p-messages .p-message .p-message-summary .warning {
	color: #73000c;
}
.media-attachment-file .p-messages .p-message .p-message-wrapper {
	padding: 8px 50px 8px 20px;
}
.media-attachment-file .p-messages .p-message .p-message-close .p-message-close-icon {
	font-size: 13px;
	position: relative;
	top: 2px;
}
.media-attachment-file .p-messages .p-message .p-message-close:hover {
	background: transparent;
}
.media-attachment-file .p-messages .p-message-error .p-message-icon {
	display: none;
}
.common-attachment-file .p-fileupload .p-fileupload-buttonbar {
	width: 10%;
}
.common-attachment-file .p-fileupload .p-fileupload-buttonbar .p-button {
	background-position: 30px 14px;
	padding: 10px 0px 10px 5px;
}
.import-file .p-fileupload .p-fileupload-buttonbar .p-button {
	background-color: transparent;
	background-image: url('assets/images/media/manager/import-excel.png');
}
/** File Attachment Styles **/
.media-progress {
	position: absolute;
	bottom: 20px;
	right: 4px;
	width: 35%;
	z-index: 1000;
}
.header {
   /*background-color: #1B1E23 !important;
	border-radius: 16px 16px 0px 0px;
	color: #FFFFFF !important;
	display: inline-block;
   */
	padding: 10px 20px;
	width: 100%;
}
.content {
	background-color: #3c424e;
	border-radius: 0px 0px 16px 16px;
	max-height: 240px;
	overflow: hidden;
}
.content.attachment-cont {
	border: 0 none;
	border-radius: 0px 0px 8px 8px;
	margin: -1px;
}
.content.attachment-cont::-webkit-scrollbar {
	visibility: visible;
}
.content.attachment-cont .media-loader {
	margin: 20px 0px 10px;
}
.content.attachment-cont .media-loader img {
	width: 25px;
}
.content.attachment-cont .attachment-row {
	border: solid 1px #2b313d;
	cursor: default;
	padding: 0px 15px;
}
.content.attachment-cont .attachment-row .attachment-col.bg-col {
	
	border: 0 none;
	margin: 15px 15px 15px 0px;
	height: 55px;
	width: 12%;
	position: relative;
	top: 2px;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col {
	padding: 15px 0px 0px;
	vertical-align: top;
	width: 84%;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .caption {
	color: #717171;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .caption.active {
	background: url('assets/images/parts/active.png') no-repeat top right;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .caption.media-caption {
	color: #8d9198;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .caption.media-caption .file-name-text {
	font-size: 13px !important;
	color: #d6d8dc !important;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .mat-progress-bar {
	height: 8px;
	border-radius: 8px;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .mat-progress-bar .mat-progress-bar-fill::after {
	background-color: #20be72;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .mat-progress-bar .mat-progress-bar-buffer {
	background-color: #616670 !important;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .progress {
	background: none;
	display: table;
	padding: 15px 0 0;
	width: 100%;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col {
	display: table-cell;
	font-size: 14px;
	width: 50%;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col.info {
	color: #e55554;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col.size {
	color: #acafb7;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col.media-porgress-col {
	color: #eeb714;
}
.content.attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col.medi-size-col {
	color: #acafb7;
}
.content.attachment-cont:hover {
	overflow-y: auto;
	visibility: visible;
}
.content.attachment-cont:hover .attachment-row {
	padding-right: 7px;
}
.content.attachment-cont:hover .attachment-row .attachment-col.cont-col .caption .cancel.media-cancel {
	right: 4px;
}
/** Attachment Progress Styles **/
.attachment-progress .p-dialog .p-dialog-header {
	background-color: #32353e !important;
	border-bottom: solid 1px #e6e0ec;
	border-radius: 16px 16px 0px 0px;
	color: #fff !important;
	display: inline-block;
	text-align: center;
}
.attachment-progress .p-dialog .p-dialog-header-icons {
	display: none;
}
.attachment-progress .p-dialog-mask {
	background-color: #545353;
	opacity: 0.97;
}
.attachment-progress .p-dialog-content {
	border-radius: 0px 0px 16px 16px;
	padding: 0 !important;
}
.attachment-progress .p-dialog-content .attachment-cont {
	border: 0 none;
	border-radius: 0;
	margin: 0px;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row {
	cursor: default;
	padding: 0px 15px;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.bg-col {
	
	margin: 15px 15px 15px 0px;
	height: 90px;
	width: 90px;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col {
	padding: 15px 0px 0px;
	vertical-align: top;
	width: 75%;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .caption {
	color: #717171;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .caption.active {
	background: url('assets/images/parts/active.png') no-repeat top right;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .mat-progress-bar {
	height: 8px;
	border-radius: 8px;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .mat-progress-bar .mat-progress-bar-fill::after {
	background-color: #28a745;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .progress {
	background: none;
	display: table;
	padding: 15px 0 0;
	width: 100%;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col {
	display: table-cell;
	font-size: 14px;
	width: 50%;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col.info {
	color: #e55554;
}
.attachment-progress .p-dialog-content .attachment-cont .attachment-row .attachment-col.cont-col .progress .progress-col.size {
	color: #7c7c7c;
}
/** Attachment Progress Styles **/
.attachment-info .label {
	background: url('assets/images/parts/attachement-active.png') no-repeat;
	padding-bottom: 10px;
}
.attachment-info .attachment-cont {
	border: solid 1px #e1e1e1;
	border-radius: 8px;
	width: 100%;	
}
.attachment-info .attachment-cont .cdk-drag-preview, .attachment-info .attachment-cont .attachment-row {
	border-bottom: solid 1px #e1e1e1;
	position: relative;
}
.attachment-info .attachment-cont .cdk-drag-preview.action-row, .attachment-info .attachment-cont .attachment-row.action-row {
	cursor: move;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col, .attachment-info .attachment-cont .attachment-row .attachment-col {
	display: inline-block;
	vertical-align: middle;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.bg-col, .attachment-info .attachment-cont .attachment-row .attachment-col.bg-col {
	background-color: #c0c3c5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: solid 1px #e1e1e1;
	border-radius: 8px;
	height: 90px;
	margin: 15px;
	position: relative;
	width: 90px;	
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.bg-col .drag-icon, .attachment-info .attachment-cont .attachment-row .attachment-col.bg-col .drag-icon {
	background: url('assets/images/drag.png') no-repeat;
	height: 19px;
	width: 19px;
	display: inline-block;
	position: absolute;
	left: -25px;
	top: 28px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.bg-col .poster, .attachment-info .attachment-cont .attachment-row .attachment-col.bg-col .poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.bg-col .poster img, .attachment-info .attachment-cont .attachment-row .attachment-col.bg-col .poster img {
	opacity: 1;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	position: absolute;
	top: 50%;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.doc-bg, .attachment-info .attachment-cont .attachment-row .attachment-col.doc-bg {
	background-color: transparent;
	background-size: cover !important;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col {
	font-family: Roboto-Regular;
	width: 85%;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption {
	color: #000;
	padding-bottom: 5px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .link, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .link, .attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption.link, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption.link {
   /*color: #0962C6;
   */
	color: #e55554;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .caption-val, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .caption-val {
	display: inline-block;
	width: auto;
	padding-bottom: 4px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .caption-val.empty-caption, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .caption-val.empty-caption {
	color: #9b9a9a;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .caption-val img, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .caption-val img {
	display: none;
	width: 15px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .caption-val:hover img, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .caption-val:hover img {
	display: inline;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .caption-control, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .caption-control {
	background: transparent;
	border: solid 1px #e6e9ef;
	padding: 1px 10px 2px;
	margin-right: 10px;
	vertical-align: middle;
	width: 90%;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .action, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .action {
	position: absolute;
	top: 35%;
	right: 15px;
	vertical-align: text-bottom;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .cancel, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .cancel {
	background: url('assets/images/delete-circle.png') no-repeat;
	position: absolute;
	top: 8px;
	right: 20px;
	width: 30px;
	height: 30px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .caption .cancel.media-cancel, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption .cancel.media-cancel {
	background: url('assets/images/media/manager/delete-upload1.png') no-repeat;
	top: 10px;
	right: 12px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .desc, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .desc {
	color: #6f6f6f;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.cont-col .desc .dot, .attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .desc .dot {
	background-color: #6f6f6f;
	border-radius: 8px;
	display: inline-block;
	margin: 0 2px;
	position: relative;
	top: -3px;
	width: 3px;
	height: 3px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.action-col, .attachment-info .attachment-cont .attachment-row .attachment-col.action-col {
	margin-left: 30px;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.action-col.video, .attachment-info .attachment-cont .attachment-row .attachment-col.action-col.video {
	background-color: transparent;
	background-size: cover;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.action-col.cont-col, .attachment-info .attachment-cont .attachment-row .attachment-col.action-col.cont-col {
	margin-left: 0px;
	width: auto;
}
.attachment-info .attachment-cont .cdk-drag-preview .attachment-col.action-col.link, .attachment-info .attachment-cont .attachment-row .attachment-col.action-col.link {
	width: 78%;
	margin-left: 0px;
}
.attachment-info .attachment-cont .cdk-drag-preview.audio .attachment-col.bg-col, .attachment-info .attachment-cont .attachment-row.audio .attachment-col.bg-col, .attachment-info .attachment-cont .cdk-drag-preview.doc .attachment-col.bg-col, .attachment-info .attachment-cont .attachment-row.doc .attachment-col.bg-col {
	background-color: transparent;
	background-size: cover;
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.bg-col, .attachment-info .attachment-cont .attachment-row.link .attachment-col.bg-col, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.bg-col, .attachment-info .attachment-cont .attachment-row .link .attachment-col.bg-col {
	background-image: url('assets/images/parts/link-bg.png');
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.site, .attachment-info .attachment-cont .attachment-row.link .attachment-col.site, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.site, .attachment-info .attachment-cont .attachment-row .link .attachment-col.site {
	background-color: transparent;
	background-size: cover;
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.cont-col .caption .caption-control, .attachment-info .attachment-cont .attachment-row.link .attachment-col.cont-col .caption .caption-control, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.cont-col .caption .caption-control, .attachment-info .attachment-cont .attachment-row .link .attachment-col.cont-col .caption .caption-control {
	margin: 15px 0px;
	padding: 5px 10px 10px;
	position: relative;
	top: 10px;
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.cont-col .caption .caption-control.link-control, .attachment-info .attachment-cont .attachment-row.link .attachment-col.cont-col .caption .caption-control.link-control, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.cont-col .caption .caption-control.link-control, .attachment-info .attachment-cont .attachment-row .link .attachment-col.cont-col .caption .caption-control.link-control {
	border-radius: 0;
	border: 0 none !important;
	border-bottom: solid 1px #e6e9ef !important;
	padding: 5px 10px 5px !important;
	margin-top: 0px;
	top: 0;
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.cont-col .caption .caption-control.link-control.not-valid, .attachment-info .attachment-cont .attachment-row.link .attachment-col.cont-col .caption .caption-control.link-control.not-valid, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.cont-col .caption .caption-control.link-control.not-valid, .attachment-info .attachment-cont .attachment-row .link .attachment-col.cont-col .caption .caption-control.link-control.not-valid {
	border-bottom: solid 1px #f00 !important;
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.cont-col .caption .caption-control.link-control.not-valid::placeholder, .attachment-info .attachment-cont .attachment-row.link .attachment-col.cont-col .caption .caption-control.link-control.not-valid::placeholder, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.cont-col .caption .caption-control.link-control.not-valid::placeholder, .attachment-info .attachment-cont .attachment-row .link .attachment-col.cont-col .caption .caption-control.link-control.not-valid::placeholder {
	color: #f00;
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.cont-col .caption .caption-control.edit-control, .attachment-info .attachment-cont .attachment-row.link .attachment-col.cont-col .caption .caption-control.edit-control, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.cont-col .caption .caption-control.edit-control, .attachment-info .attachment-cont .attachment-row .link .attachment-col.cont-col .caption .caption-control.edit-control {
	margin: 0;
	padding: 2px 10px 2px !important;
	top: 0;
}
.attachment-info .attachment-cont .cdk-drag-preview.link .attachment-col.cont-col .caption .caption-control.edit-control.link-edit-control, .attachment-info .attachment-cont .attachment-row.link .attachment-col.cont-col .caption .caption-control.edit-control.link-edit-control, .attachment-info .attachment-cont .cdk-drag-preview .link .attachment-col.cont-col .caption .caption-control.edit-control.link-edit-control, .attachment-info .attachment-cont .attachment-row .link .attachment-col.cont-col .caption .caption-control.edit-control.link-edit-control {
	padding: 0px 10px 4px !important;
}
.attachment-info .attachment-cont .cdk-drag-preview:last-child, .attachment-info .attachment-cont .attachment-row:last-child {
	border: 0 none !important;
}
.attachment-info.new {
	padding: 10px 0px;
}
.attachment-info.new .attachment-cont {
	margin: 0px;
}
.hide {
    display: none !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
/** File Upload Styles */
.upload-area {
	display: table;
	margin-top: 10px;
	
}
.upload-area .upload-col {
	background-color: #fef6f6;
	border: dashed 1px #dda2a2;
	color: #e36160;
	display: table-cell;
	padding: 0px;
	font-size: 14px;
}
.upload-area .upload-col img {
	position: relative;
	top: -2px;
	left: -4px;
}
.upload-area .upload-col.files {
	border-radius: 6px 0px 0px 6px;
	width: 55%;
}
.upload-area .upload-col.import-file {
	border-radius: 6px;
	
}
.upload-area .upload-col.link {
	border-radius: 0px 6px 6px 0px;
	width: 15%;
	border-left: none;
}
.upload-area .upload-col.link.disable {
	opacity: 0.75;
}
.upload-area .upload-col.common-link {
	width: 7%;
}
.p-button.p-fileupload-choose input[type=file], .p-fileupload-choose.p-fileupload-choose-selected input[type=file]{display: none;}



 