::ng-deep .required-field-modal {
    .p-dialog {
        .p-dialog-header {
            padding-left: 20px !important;
            .p-dialog-header-icon {
                color: #c4cbdb;
            }
        }
        .p-dialog-content {
            padding: 1.25rem 1.25rem;
            .inner-cont {
                font-family: 'Roboto-Regular';
                font-size: 16px;
                .cont-head {
                    color: #15181f;
                    padding-bottom: 10px;
                }
                .cont-items {
                    background: #fdefef;
                    border: solid 2px #f2c2c2;
                    border-radius: 6px;
                    padding: 5px 10px;
                    ol {
                        color: #000000;
                        margin: 0;
                        padding: 0px 0px 0px 20px;
                    }
                }
            }
        }
    }
}
