.spacing>* {
  margin: 5px;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}

.p-field {
  * {
    display: block;
  }

  input {
    &::placeholder {
      color: #9b9a9a;
    }
  }

  label {
    color: #9b9a9a;
    font-size: 14px;

    img {
      height: 15px;
      object-fit: cover;
    }
  }
}

.w-40 {
  width: 40%;
}

::ng-deep .p-card-body {


  display: flex !important;
  flex-direction: column !important;
  height: 100%;



  .p-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    flex: 1;
  }

}

::ng-deep .p-panel {
  .p-panel-header {
    background: #5e646f;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
  }

  .p-panel-content {
    background: #f4f5f8;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .p-panel-footer {
    background: #f4f5f8;
    padding: 1rem;
    height: 70px !important;
  }
}

::ng-deep .h-90 {
  height: 86vh;
}

.p-button {
  padding: 0.2rem 2rem;

  .outline-btn {
    border-color: #c4413e;
    color: #c4413e;
  }
}

.p-card.p-component {
  width: 100% !important;
  flex: 1;
  height: 100% !important;
}


// .start-content {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 95%;
//   border-radius: 10px;
//   background: #fff;

//   .start-info {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     border-radius: 10px;
//     background: #fff;

//     .content {
//       background: #f4f5f8;
//     }


//   }
// }
::ng-deep .content-pad {
  .p-card-body {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;

    .p-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      flex: 1;
      padding: 0 !important;
    }
  }
}
.h-100 {
  height: calc(100vh - 95px) !important;
  display: flex;
}