<div id="sidebar" class="{{accessModule}}">
    <div class="nav-sidebar {{accessModule}}">

        <ng-template #sideMenu></ng-template>
        <div class="nav-icons landingpage-nav-icons">
            <div>
                <ul id="side-menu">
                    <li  class="side-li side-menu market-place"  [ngClass]="{'active': activeMenuItem == 'market-place'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Market Place" placement="right" triggers="hover" (click)="navigatePageUrl('market-place')">
                            <span class="bg menu-bg">
                                <img style="width: 19px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/marketplace-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu training"  [ngClass]="{'active': activeMenuItem == 'market-place/training'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Training" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/training')">
                            <span class="bg menu-bg">
                                <img style="width: 24px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/training-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu manuals"  [ngClass]="{'active': activeMenuItem == 'market-place/manuals'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Manuals" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/manuals')">
                            <span class="bg menu-bg">
                                <img style="width: 17px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/manuals-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu domain"  [ngClass]="{'active': activeMenuItem == 'market-place/domain'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Company Info" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/domain')">
                            <span class="bg menu-bg">
                                <img style="width: 19px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/company-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Survey Topics" placement="right" triggers="hover">
                            <span class="bg menu-bg">
                                <img style="width: 19px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/survay-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu quiz-topics"  [ngClass]="{'active': activeMenuItem == 'market-place/quiz-topics'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Quiz Topics" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/quiz-topics')">
                            <span class="bg menu-bg">
                                <img style="width: 21px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/quiz-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu customers"  [ngClass]="{'active': activeMenuItem == 'market-place/customers'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Customers" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/customers')">
                            <span class="bg menu-bg">
                                <img style="width: 29px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/customers-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu zoom-setting"  [ngClass]="{'active': activeMenuItem == 'market-place/settings'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Settings" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/settings')">
                            <span class="bg menu-bg">
                                <img style="width: 21px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/settings-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu reports"  [ngClass]="{'active': activeMenuItem == 'market-place/reports'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Reports" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/reports')">
                            <span class="bg menu-bg">
                                <img style="width: 19px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/reports-white.png">
                            </span>
                      </a>
                    </li>
                    <li  class="side-li side-menu policies"  [ngClass]="{'active': activeMenuItem == 'market-place/policies'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Policies" placement="right" triggers="hover" (click)="navigatePageUrl('market-place/policies')">
                            <span class="bg menu-bg">
                                <img style="width: 18px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/sidebar/policies-white.png">
                            </span>
                      </a>
                    </li>
                    <!-- <li  class="side-li side-menu policies"  [ngClass]="{'active': activeMenuItem == 'market-place/cart'}">
                      <a class="side-li-a w-100 cursor" popoverClass="custom-tooltip menu-tooltip" [ngbPopover]="sideMenu" popoverTitle="Cart" placement="right" triggers="hover"  (click)="navigatePageUrl('market-place/cart')">
                            <span class="bg menu-bg">
                                <img style="width: 23px!important;" class="side-menu side-menu-img" src="assets/images/service-provider/cart-normal-white.png">
                            </span>
                      </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
