
  
  .no-item-list {
    position: relative;
    background-color: #dfe1e3;
    border-radius: 16px;
    .item-empty-container-new{
      .empty-cont {
        .empty-res {
          color: #b2b2b2;
          display: block;       
          margin: 0 auto;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 100%;
          .makepopuptext-spa {
            padding:30px 0;
            font-family: 'Roboto-Regular';
            font-size: 14px;
            color:#888888;
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
            font-style: italic;
          }
          img {
            margin: 0 auto;    
            display: block;              
          }
          span{
            width: 180px;
            display: block;
            margin: 0 auto !important;
            background: url("/assets/images/probing/add-icon.png") no-repeat 8px 9px;
            background-color: #fb982c;
            border-radius: 6px;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            padding: 7px 10px 7px 30px;
          }
        }
      }
    }
  }
  .more-actions{
    .active{
      img{
        position: relative;
        top:-2px;
      }
    }
    .deactive{
      opacity: .5;      
    }
  }  
  .masonry-item{
    width: 350px;
    padding-right: 0;
}