@import url('//fonts.cdnfonts.com/css/roboto');
.img-loader > img {
  width: 64px;
  position: absolute;
  top: 45vh;
  left: 50%;
}
.fs-14 {
  font-size: 14px;
}
.icon-img {
  width: 22px !important;
  float: left;
  margin-right: 8px;
}
.vehicle-list{
  span{
    &.year-items{
      ul{
        margin-bottom: 0 !important;
      }
    }

    ul{
      li{
        margin: 0px 5px 0px !important;
      }
    }
  }
}
.tag-label-no{
  color: #5e6980;
  font-size: 13px;
  padding-left: 25px;
}
.make-only{
  background-color: #f3e0e0;
    width: 100%;
    display: block;
    padding: 10px !important;
    margin-bottom: 20px !important;
    margin-top: -6px !important;
    border-radius: 9px;
}
.setPadding1{
  padding:4px 0 3px 0;
}
.no-padding {
  padding: 0px!important;
}
.no-margin {
  margin: 0px!important
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: end;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-align-end {
  display: flex;
  align-items: end;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.error {
  color: #ff0000;
  font-size: 18px;
}
.flex-end {
  display: flex;
  justify-content: end;
}
.width-85-perc {
  width: 85%;
}
.width-100-perc {
  width: 100%;
}
.background-white {
  background-color: #fff;
}
.custom-padding-breadcum {
  padding: 20px 0;
}
.color-green {
  color: #469073;
}
.margin-right-5px {
  margin-right: 5px;
}
.margin-top-bottom-25px {
  margin: 25px 0;
}
.height-85vh {
  height: 85vh;
}
.custom-link-video-button {
  border-radius: 50%;
  background-color: #469073;
  padding: 20px;
  text-align: center;
}
.dont-show-again {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.selected-text {
  color: #fa972d!important;
}
.backgroud-color-black {
  border-radius: 10px;
  background-color: #3c424d;
}
.custom-buttom-design, .custom-buttom-design:hover, .custom-buttom-design-warning, .custom-buttom-design-warning:hover {
  border-radius: 25px;
  background-color: #469073!important;
  display: flex;
  align-items: center;
  padding: 6px 28px 6px 28px;
  border: 1px solid #469073!important;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
.flex-justify-spacebetween {
  display: flex;
  justify-content: space-between;
}
.new-company-text-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-left: 10px;
  letter-spacing: normal;
  text-align: left;
  color: #9d9d9d;
}
.add-button-design-new {
  width: 95px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: #469073;
  color: white;
  margin-right: 10px;
}

.custom-address-view-design {
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  border: solid 1px #469073;
  background-color: #fff;
  margin-bottom: 20px;
}
::ng-deep {
  .p-dropdown.p-focus {
    border-color: #ced4da!important;
  }
  .p-dropdown:not(.p-disabled):hover {
    border-color: #ced4da!important;
  }
  p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
    border-color: #ced4da!important;
  }
  .company-new-class {
    .p-dropdown {
      width: 100% !important;
      height: 41px !important;
      background-color: #ffffff;
      border-left: none;
      border-radius: 0 6px 6px 0;

      .p-placeholder {
        color: #b5b5b5 !important;
      }
      .p-dropdown-panel {
        .p-dropdown-items-wrapper {
          max-height: 210px !important;
        }
      }
    }
    p-dropdown {
      &.mvisible {
        .p-dropdown {
          &.p-disabled {
            opacity: 1;
          }
        }
      }
    }

    .p-dropdown-label {
      &:focus, &:hover {
        border: 0 none;
      }
    }

    .p-dropdown-trigger-icon {
      color: #d1d1d1 !important;
      width: 14px !important;
      height: 10px !important;
    }

    .p-dropdown-label,
    .p-dropdown-item {
      font-size: 14px !important;
      color: #000 !important;
      position: relative;
      .option-item {
        .edit {
          display: none;
          position: absolute;
          right: 15px;
        }
      }
      &:hover {
        .option-item {
          .edit {
            display: inline-block;
          }
        }
      }
    }
  }
}
.split-col {
  display: inline-block;
  vertical-align: middle;
  &.catg-col {
    width: 75%;
  }
  &.act-col {
    width: 20%;
    margin-left: 10px;
    .vin-btn {
      background-color: #e5efeb;
      width: 100%;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #469073;
      color: #469073;
    }
  }
}
.split-col-purchase {
  display: inline-block;
  vertical-align: middle;
  &.catg-col-purchase {
    width: 50%;
  }
  &.act-col-purchase {
    width: 40%;
    margin-left: 10px;
    .vin-btn {
      background-color: #e5efeb;
      width: 100%;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #469073;
      color: #469073;
    }
  }
}
.topic-title {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.required-font-style {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}
.custom-topic-input-1 {
  width: 329px;
  height: 41px;
  padding: 10px 10px 10px 10px;
  border: solid 1px #dbddde;
  background-color: #fbfbfb;
  object-fit: contain;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b5b5b5;
}
.custom-buttom-design-new-2, .custom-buttom-design-new-2:hover {
  border-radius: 6px;
  background-color: #469073;
  display: flex;
  margin-right: 15px;
  align-items: center;
  padding: 6px 28px 6px 28px;
  border: 1px solid #469073;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.error-msg {
  color: red;
  margin: 0px!important;
}
.custom-buttom-design-new, .custom-buttom-design-new:hover {
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 6px 28px 6px 28px;
  border: 1px solid #cecece;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}
.heading-font-style-1 {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.heading-font-style-2 {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.width-25-perc {
  width: 25%!important;
}
.width-100-perc {
  width: 100%!important;
}
.custom-padding {
  padding: 25px 0 0 0;
}
.flex-7-perc {
  flex: 0 0 7%!important;
  max-width: 7%!important;
}
.flex-93-perc {
  flex: 0 0 93%!important;
  max-width: 93%!important;
}
.custom-padding-registered {
  padding: 30px 0 0 0;
}
.custom-margin-gallery {
  margin: 30px 0 0 0!important;
}
.custom-margin-gallery-2 {
  padding: 0px 30px 50px 30px !important;
  margin-bottom: 30px;
}
.side-menu-text-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #abb6cc;
}
.side-menu-text-style-selected {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.custom-recording-background {
  padding: 16px 22px 17px 24px;
  margin: 10px 15px 10px 0!important;
  border-radius: 10px;
  background-color: #f3f3f3;
}
.custom-padding-nav-menu {
  padding: 5px 0px 5px 10px;
}
.custom-text-recording-design {
  font-family: 'Roboto-Regular';
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}
.custom-text-recording-design-text {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  padding-left: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.display-align-baseline {
  display: flex;
  align-items: baseline;
}

.select-nav-menu {
  background-color: #469073 !important;
  border-radius: 15px 0 0 15px;
}
.users-image-design {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  border-radius: 25px!important;
  background: #abb6cc;
}
.user-name-design {
  height: 14px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.border-1px {
  height: 1px;
  margin: 20px 0px 0px 0px;
  background-color: #ededed;
}
.users-register-design {
  height: 14px;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  color: #469073;
  &.tagged-sales-person{
    height: auto;
    padding-bottom: 0 !important;
    max-height: calc(100% - 22px);
  }
}
.users-register-date-design {
  height: 13px;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  color: #777;
}
.user-tagged-details {
  height: auto;
  line-height: 0.6;
  color: #777;
  margin-bottom: 0.6rem;
}
.edit-btn-1, .edit-btn-2 {
  display: none;
}

.tagged-person:hover .edit-btn-1 {
  display: block;
}

.add-comment:hover .edit-btn-2 {
  display: block;
}
.comment-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.comment-info {
  color: #9b9a9a
}
.refund-button-design {
  width: 100px;
  border-radius: 15.5px;
  border: solid 1px #fa972d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin-right: 20px
}
.heading-design {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
.heading-count-design {
  font-family: 'Roboto-Light';
  font-size: 44px;
  font-weight: 300;
  color: #000;
}
.border-1px-all {
  border-radius: 6px;
  border: solid 1px #e1e1e1;
}
.border-right-1px {
  border-right: solid 1px #e1e1e1;
}
.refund-button-design-text {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fa972d;
}
.paid-text-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.unpaid-text-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999;
}
.user-other-detail-design {
  height: 15px;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  color: #777;
}
.margin-bottom-5px {
  margin-bottom: 5px!important;
}
.margin-bottom-4px {
  margin-bottom: 4px!important;
}
.margin-bottom-10px {
  margin-bottom: 10px!important;
}
.filter-text {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.border-radius-top-right-left {
  border-radius: 16px 16px 0 0;
}
.border-radius-bottom-right-left {
  border-radius: 0 0 16px 16px;
}
.custom-padding-zoom-value {
  margin: 20px 0 50px 0;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 30px 2px 16px 3px;
}
.custom-zoom-webinar-button {
  border-radius: 10px;
  background-color: #469073;
  padding: 20px 60px;
  text-align: center;
}
.webinar-start-text {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.link-video-text {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
  cursor: pointer;
  text-decoration: underline;
}
.copy-link-text {
  font-family: 'Lato', sans-serif!important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.export-excel-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.flex-end-align-center {
  display: flex;
  justify-content: end;
  align-items: center;
}
.no-participate-text-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #999;
}
.margin-right-9px {
  margin-right: 9px!important;
}
.margin-right-5px {
  margin-right: 5px!important;
}
.margin-copy-link {
  margin-top: 10px;
  /*margin-bottom: 18px;*/
}
.border-design-of-zoom-section {
  height: 1px;
  width: 100%;
  margin: 26px 0 21px;
  background-color: #e4e4e4;
}
:host .custom-header {
  height: 51px;
  padding: 10px 20px;
  background-color: #687083;
  display: flex;
}
.custom-table-heading {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px!important;
  font-weight: normal!important;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left!important;
  color: #fff!important;
  text-align: left !important;
  box-shadow: none;
}
.sales-custom-heading {
  font-family: 'Roboto', sans-serif !important;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4e5257;
}
.initiate-webinar-text {
  font-family: 'Lato', sans-serif!important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}
.green-button-color {
  background: #469073!important;
  border-color: #469073!important;
}
.green-color-background {
  background: #e5efeb!important;
}
.edit-btn-sales {
  display: none;
}
.view-value-style {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.purchase-by-style {
  display: flex;
  align-items: center;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  letter-spacing: normal;
  text-align: left;
  color: #777;
  margin: 0px!important;
}
.purchase-by-style:hover {
  .edit-btn-sales {
    display: block;
  }
}
.new-design-2 {
  align-items: end;
  .p-inputgroup-addon {
    background: transparent;
    border: none;
    padding: 0px;
  }
}
.view-label-style {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999;
}
.custom-register-user-button {
  border-radius: 15.5px;
  background-color: #469073;
  padding: 5px 20px;
  margin-right: 20px;
  img {
    margin-right: 5px;
  }
  .register-user-text-design {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
}
.color-grey {
  color: #999999;
}
.pri-button {
  padding: 0 16px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  border-radius: 20px;
  line-height: normal;
  height: 32px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.green-btn {
    border-radius: 17px;
    background-color: #469073;
    border: 1px solid #469073;
  }
}
.warning-text-popup {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.custom-box-design-pricing {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #e5efeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-label-design {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.pricing-value-design {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.or-label-design {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.pricing-popup-text-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.checkbox-label-design {
  margin-right: 15px;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.first-time-user-text {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f00;
}
.custom-padding-first-time-user {
  padding: 0 0 0 10px;
}
.display-flex {
  display: flex!important;
}
.create-zoom-account {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f00;
  .zoom-account-link {
    color: #469073;
    text-decoration: underline;
  }
}
.create-zoom-account-new {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  .zoom-account-link {
    color: #469073;
    text-decoration: underline;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.custom-background {
  background-color: #818489!important;
  background-position: 15px center;
  background-repeat: no-repeat;
  border-radius: 6px!important;
  color: #fbfbfb!important;
  margin: 10px 0px 20px;
  padding: 10px 20px 10px 46px!important;
  box-shadow: none!important;
}
.flex-start {
  display: flex;
  justify-content: start;
}
.flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}
.border-bottom-1px {
  border-bottom: solid 1px #e1e1e1;
}
.inner-page-title {
  font-family: 'Roboto-Regular';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.custom-margin-inner-detail {
  margin: 40px 0 0 0;
}
.custom-padding-description {
  padding: 0 0 0 30px;
}
.custom-padding-description-value {
  padding: 0px 0 0 30px;
}
.custom-padding-description-value-1 {
  padding: 0 0 0 15px;
}
.margin-right-10px {
  margin-right: 10px;
}
.training-text-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #93989d;
}
.training-text-style-1 {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 32px !important;
  margin-top: -9px !important;
}
.training-text-style-3 {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.custom-background-time {
  background-color: #62779f;
  border-radius: 25px;
  margin-top: 15px;
  width: 200px;
  height: 30px;
}
.training-text-style-2 {
  word-break: break-all;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #000!important;
  text-decoration: underline!important;
  margin-left: 32px !important;
  margin-top: -9px !important;
  cursor: pointer;
}
.thick-border-design {
  height: 1px;
  margin: 27px 0px 25px 0px;
  opacity: 0.8;
  background-color: #d9d9d9;
}
.custom-style-logo {
  color: #469073;
  margin-right: 10px;
}
.custom-time-style {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
}
.custom-margin-inner-detail-1 {
  margin: 0 0 5px 0;
}
.custom-margin-hr {
  margin: 30px 0!important;
}
.custom-price-text {
  font-family: 'Roboto-Regular';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.buy-now-design {
  background-color: #2f3967;
  padding: 5px 25px 9px;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.buy-now-image-position {
  position: relative;
  right: 1px;
}
.custom-margin-inner-detail-2 {
  margin: 20px 0 5px 0;
}
.ask-question {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.email-text-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #2f3967;
}
.custom-padding-1 {
  padding: 7px 20px;
  background-color: #fff;
  border: solid 1px #2f3967;
}
.description-text-style {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}
.description-text-style-2 {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}
.training-key-features {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.unorder-list-design {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555;
  padding: 0;
  margin: 0 0 40px 0;
  li {
      margin-bottom: 10px;
  }
}
.margin-right-15px {
  margin-right: 15px;
}
.custom-padding-gallery {
  padding: 0px 35px;
}
.cursor-pointer {
  cursor: pointer;
}
.margin-top-12px {
  margin-top: 12px;
}
.margin-bottom-5px {
  margin-bottom: 5px;
}
.margin-top-15px {
  margin-top: 15px;
}
.margin-top-24px {
  margin-top: 24px;
}
.margin-top-30px {
  margin-top: 30px;
}
.padding-left-15px {
  padding-left: 15px!important;
  padding-right: 0px!important;
}
.padding-right-15px {
  padding-left: 0px!important;
  padding-right: 15px!important;
}
.new-design {
  .p-inputgroup-addon {
      background: #dbddde!important;
  }
  input::placeholder {
      color: #9b9a9a;
  }
  input {
      border-left: none!important;
      font-family: 'Roboto-Regular';
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      background: #fbfbfb;
  }
}
.custom-class-tags {
  margin: 10px 0px 0px;
  padding: 10px 20px 10px 30px !important;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.custom-padding-class-tags {
  padding: 0px 0 0 20px;
}
.custom-tag-text-design {
  font-family: 'Roboto-Regular';
  font-size: 13px;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  margin: 0px 5px 10px;
  padding: 4px 15px;
  text-align: center;
  background-color: #777;
}
.custom-button-style {
  background-color: #469073!important;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.new-design-text {
  .p-inputgroup-addon {
    background: none!important;
  }
  input::placeholder {
    color: #9d9d9d;
  }
  input {
    border-left: none!important;
    font-family: 'Lato', sans-serif!important;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}
.low-opacity {
  opacity: 0.5;
}
.new-design-text-2 {
  .p-inputgroup-addon {
    background: #dee2e442 !important;
  }
  input::placeholder {
    color: #9d9d9d;
  }
  input {
    border-left: none!important;
    font-family: 'Lato', sans-serif!important;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    background: #dee2e442!important;
  }
}
.transcation-number {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #c0e2d8;
  margin-bottom: 20px;
}
.additional-participant-design {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #000;
}

.user-info-header {
  margin-bottom: 0 !important;
}

.additional-participant-design2 {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  color: #000;
}

.additional-participant-hint {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #777;
}

.dont-know-text-design {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  span {
    color: #469073;
  }
}

.total-amount-class {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.margin-bottom-40px {
  margin-bottom: 40px;
}
.custom-padding-2 {
  padding: 30px;
}
.custom-padding-3 {
  padding: 30px 0 0 0;
}
.transcation-number {
  font-family: 'Lato', sans-serif!important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #c0e2d8;
  margin-bottom: 20px;
}
.email-text {
  font-family: 'Lato', sans-serif!important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}
.svg-color-change {
  svg {
    background: #469073 !important;
  }
  .Completing-your-purchase {
    width: 100%;
    height: 17px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif!important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
  }
  .Please-remain-on-the-page-and-do-not-close-your-browser-or-go {
    height: 38px;
    font-family: 'Lato', sans-serif!important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #c6e6dc;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}
.reminder-title-text-design {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.margin-bottom-15px {
  margin-bottom: 15px;
}
.amount-paid {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #9d9d9d;
}
.amount, .payment-type {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.credit-card-text {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-bottom-20px {
  margin-bottom: 20px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.padding-right-left-30px {
  padding: 0 30px;
}
.remindar-detail-text {
  margin-left: 15px;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}
.simple-design-class-text {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.amount, .payment-type {
  font-family: 'Lato', sans-serif!important;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.credit-card-text {
  font-family: 'Lato', sans-serif!important;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.custom-back-arrow-design {
  font-size: 21px;
  margin-right: 15px;
}
.amount-paid {
  font-family: 'Lato', sans-serif!important;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.remindar-on-off-text {
  margin-left: 10px;
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.card-number-style {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.error-card {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #f00;
  margin-bottom: "14px";
}
.amount-payable-price-style {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.payable-price-style {
  font-weight: bold;
  color: #469073;
}
.custom-workstream {
  background-color: var(--ID58);
  border-radius: 20px;
  color: var(--ID59) !important;
  display: inline-block;
  font-size: 11px !important;
  position: relative;
  text-align: left;
  text-transform: none;
  font-family: "Roboto-Regular";
  margin-right: 5px;
  padding: 3px 10px !important;
}
.default-img-size {
  width: 111px!important;
  height: 100px!important;
}
.new-custom-style {
  border-radius: 16px;
  border: solid 1px #e9eaea;
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 493px;
  height: 346px;
}
.default-img-size {
  width: 111px!important;
  height: 100px!important;
}
.thumbnail-image-parent-class {
  width: 106px!important;
  height: 90px!important;
  border-radius: 10px;
  border: solid 1px #e9eaea;
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail-image-class {
  width: 60px!important;
  height: 50px!important;
  border: none!important;
  background: transparent!important;
  margin: 0px!important;
}
.custom-zoom-button-design {
  border-radius: 10px;
  background-color: #469073;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.custom-date-style {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.custom-inperson-time-style {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}
.custom-inperson-notes-style {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #444;
}
.add-new-address-design {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
  display: flex;
  align-items: center;
}

.flex-justify-spacebetween {
  display: flex;
  justify-content: space-between;
}
::ng-deep {
  .margin-right-10px {
    margin-right: 10px;
  }
  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #469073!important;
    background: #fff!important;
    .p-radiobutton-icon {
      background-color: #469073!important;
    }
  }
  .p-focus {
    box-shadow: none!important;
  }
  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #469073!important;
  }
  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #469073!important;
    background: #fff!important;
    .p-radiobutton-icon {
      background-color: #469073!important;
    }
  }
  .p-button:focus {
    box-shadow: none!important;
  }
  .p-inputtext.ng-dirty.ng-invalid {
    border-color: #ced4da;
  }
  .custom-highlight-checkbox.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #469073;
    background: #469073;
  }
  .custom-highlight-checkbox.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #469073;
    background: #469073;
  }
  .custom-highlight-checkbox.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #469073;
  }
  .custom-highlight-checkbox.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
  }
  .p-button.p-button-text.p-button-plain:enabled:hover {
    background: transparent;
  }
  .p-button.p-button-text.p-button-plain:enabled:active {
    background: transparent;
  }
  .button-class-font-size {
    .p-button-icon {
      font-size: 14px!important;
    }
  }
  .p-inputtext:enabled:focus, .p-inputtext:enabled:hover {
    box-shadow: none!important;
    border-color: #ced4da !important;
  }
  .p-dropdown:not(.p-disabled).p-focus{
    box-shadow: none!important;
  }
  .custom-hover-color:hover, .custom-hover-color.active, .custom-hover-color:hover td, .custom-hover-color.active td {
    background-color: #e5efeb!important;
  }
  .hover-color-none:hover td, .hover-color-none.active td {
    background-color: transparent!important;
  }
  .copied-modal {
    .p-dialog-mask {
      &.p-component-overlay {
        background: transparent !important;
        z-index: 0 !important;
      }
    }
    .p-dialog {
      box-shadow: none;
      .p-dialog-header {
        display: none;
      }
      .p-dialog-content {
        background: #3c424d;
        border-radius: 10px;
        color: #FFF;
        margin: 0 auto;
        padding: 0;
        width: 150px;
        .copied-txt {
          padding: 10px 0px;
        }
      }
    }
  }
  .p-dropdown-filter {
    width: 100% !important;
  }
  .iti__country-list {
    max-width: 366px;
    max-height: 150px;
  }
  .custom-height {
    height: 350px!important
  }

  .refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption {
    display: block !important;
  }
}

.register-participat-design {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}
.custom-heading-flex-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-popup-header {
  display: flex;
  align-items: center;
  span {
    font-family: 'Lato', sans-serif!important;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding: 10px 0 !important;
  }
}
.payicon {
  display: flex;
  justify-content: end;
  padding: 0px;
  img {
    width: 137px;
    height: 40px;
  }
}

.date-time-div-parent {
  padding-left: 30px;
}

.date-time-div{
  padding: 0px;
  display: flex;
  align-items: center;
  border: solid 1px #e7e7e7;
  border-radius: 6px;
  margin-bottom: 20px;
}

.date-time-div .inner1{
  padding: 5px 0 !important;
  padding-left: 10px !important;
  border-right: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
}

.date-time-div .inner2 {
  margin-left: 20px;
}
.pad-left-0 {
  padding-left: 0 !important;
}

.pad-top-15 {
  padding-top: 15px !important;
}

.no-right-pad {
  padding-right: 0 !important;
}
.margin-left-70 {
  margin-left: 70px;
}

.edit-btn{
  display: none;
}

.hoverdiv:hover .edit-btn{
  display: block;
}
.key-label-class {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.value-label-class {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000;
}
.custom-object-pair-padding {
  padding: 21px 0px!important;
}

.user-other-detail-design {
  height: auto !important;
}

::ng-deep {
  .custom-table-design-sales-person tr > td, .p-component {
    font-family: "Roboto-Regular" !important;
  }
  .custom-table-design-sales-person tr > td {
    font-family: "Roboto-Regular" !important;
    cursor: pointer !important;
  }
}
.noOverlap{
  width: 193px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-title {
  width: 71px;
  height: 14px;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #9b9a9a;
}
.description-title-parent {
  padding: 0 !important;
  img {
    width: 17px;
    height: 17px;
    margin: 16px 6px 17px 6px;
    object-fit: contain;
  }
}
// .buy-manual .custom-price-text {
//   font-size: 24px;
// }

.custom-price-text.cutted {
  font-size: 16px;
  color: #999999;
  text-decoration: line-through;
}

.custom-price-text.percent {
  font-size: 16px;
  color: #7f17ff;
}
.buy-manual, .manual-slip {
  float: left;
}
.manual-slip .price-details {
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 20px;
}

.manual-slip .slip-details {
  padding: 5px 0px 0 40px;
  margin-bottom: 20px;
}

.manual-slip .slip-summary .summary-title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  float: left;
}

.manual-slip .slip-details-inner {
  width: 100%;
  float: left;
  padding: 15px 0;
  border-bottom: 1px solid #dedede;
  font-size: 18px;
  color: #000;
}

.manual-slip .detail-left {
  width: 60%;
  float: left;
  line-height: 1.22;
}

.manual-slip .detail-right {
  width: 40%;
  float: left;
  text-align: right;
  line-height: 1.22;
  padding-right: 20px;
}

.manual-slip .slip-details-inner.final {
  border-bottom: none;
  color: #469073;
  font-weight: 600;
  background-color: #f9f9f9;
}

.manuals-count-box {
  width: 160px;
  padding: 4px 0px 8px 0px !important;
  background-color: #2f3967;
  color: #fff !important;
  margin-right: 20px;
  padding: 10px 10px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
}

.manuals-count-box .subtract {
  color: #fff !important;
  padding: 0 15px;
}

.manuals-count-box span {
  padding: 0 30px;
}

.manuals-count-box .add {
  color: #fff !important;
  padding: 0 16px;
}
.custom-price-text-small {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
  top: 2px;
  position: relative;

  @media(max-width:767px) {
    font-size: 16px;
  }
}
.manual-slip .inner-page-title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.buy-manual .training-text-style span {
  font-weight: 600;
}
.buy-manual .inner-page-title {
  font-weight: 600 !important;
}
.buy-manual .custom-margin-inner-detail-2 {
  margin: 0px 0 5px 0;
}

.icon-comment{
  top: 3px;
  position: relative;
}

.orange-color {
  color: #fa972d;
}

.tag-preview {
  color: white !important;
  background-color: #777777;
  border-radius: 20px;
  padding: 3px 14px;
  float: left;
  margin: 5px 12px 0 0px;
  font-size: 13px;
  padding: 4px 14px;
  
  .preview {
    color: #f6ff00;
    padding-left: 4px;
  }
}
.cart-icon{
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.custom-top-popup {
  background: #fff;
  max-height: 456px;
  height: auto;
  overflow-y: auto;
  padding: 15px 15px 15px 19px;
  border-radius: 16px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.11);
  border: solid 2px #f3f3f3;
  position: absolute;
  right: 0;
  top: 39px;
  z-index: 9;
  &.add-remove-popup{
      border-radius: 10px !important;
  }
}

.add-remove-popup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 416px;
  top: 67px;
  right: 15px;
  .add-remove {
          display: flex;
          justify-content: center;
          align-items: center;
          // padding-bottom: 10px;
  
          img {
              margin-right: 10px;
          }
  
          span {
              color: #298368;
              font-weight: 600;
          }
      }
}

.custom-padding-register-head{
  border: 1px solid #e7e7e7;
  padding: 5px;
  padding-right:20px;
  margin-right:20px;
  border-radius: 6px;
}

.custom-register-user-green-button {
  border-radius: 20px;
  background-color: #469073;
  padding: 5px 20px;
  /* margin-right: 20px; */
  img {
    margin-right: 5px;
  }
  .register-user-text-design {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
}
.group-blue{
  background-color:#d8edf9;
  padding: 5px;
  border-radius: 5px;
  margin-right:14px;
}
.group-green{
  background-color:#d3f1ed;
  padding: 5px 9px;
  border-radius: 5px;
  margin-right:14px
}

.registered-table-heading{
  color:#fff !important;
  background-color:#687083 !important;
  font-weight: 500 !important;
}
.custom-padding-for-registered{
  padding-top: 10px !important;
}
.registered-heading{
  padding-left: 15px;
  font-size: 22px;
  font-weight: 600;
}
.margin-right-20px {
  margin-right: 20px;
}
.custom-padding-for-registered{
  padding-top: 10px !important;
}


