<div *ngIf="loading" class="login-loader text-center"><img src="assets/images/filter/filter-loading.svg" alt="Loader" width="100" height="100" /></div>    
<div class="main-container" [ngClass] ="{ 'setDivopacity': loading }">   
    <div class="mcont-col-1"> 
        <div class="mcont-col-1">
            <div class="header-logo" ><span [style.background-image]="'url(' + headerLogo + ')'"></span></div>
            <div class="mcont-inner-div">
                <div class="mcont-inner-col">               
                    <div class="heading">RESET PASSWORD</div>                 
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">           
                        <div class="input-group" [ngClass]="{ 'active': passwordInputFlag, 'error': (submitted && f.password.errors && !passwordValidationError) || (passwordValidationError) }">
                            <div class="input-group-prepend pass-img normal"  [ngClass]="{ 'active': passwordInputFlag }"></div>
                            <input autofocus [type]="pwdFieldTextType1 ? 'text' : 'password'" class="form-control inputtext" matInput placeholder="Password" formControlName="password" maxlength="30" (keyup)="onKeypress(1,$event)" (change)="checkPwdStrongValidation()" />                                                                    
                            <span *ngIf="successPasswordTextIcon" class="success-ok-tick success-ok-tick-auth"><img src="assets/images/tick-auth.png"></span>
                            <div (click)="showPassword(pwdFieldTextType1,'1')" class="input-group-pwd normal" [ngClass]="{ 'active' : pwdFieldTextType1 }"></div>
                        </div>  

                        <div *ngIf="passwordchecker">
                            <div *ngIf="!passwordValidationError && !disableDefaultPasswordText" class="default-pwd-text">
                                <span>Min. 8 chars, one uppercase, one lowercase & one special character</span>
                            </div>
                            <div *ngIf="passwordValidationError" class="login-invalid-feedback">
                                <img src="assets/images/login/error-img.png" /> 
                                <span>{{passwordValidationErrorMsg}}</span>
                            </div>
                        </div>  
                
                        <div class="input-group" [ngClass]="{ 'active': cpasswordInputFlag,  'error': submitted && f.cpassword.errors}">
                            <div class="input-group-prepend pass-img normal"  [ngClass]="{ 'active': cpasswordInputFlag }"></div>
                            <input [type]="pwdFieldTextType2 ? 'text' : 'password'" class="form-control inputtext" matInput placeholder="Confirm Password" formControlName="cpassword" maxlength="30" (keyup)="onKeypress(2,$event)"/>                                                                                                
                            <div (click)="showPassword(pwdFieldTextType2,'2')" class="input-group-pwd normal" [ngClass]="{ 'active' : pwdFieldTextType2 }"></div>
                        </div> 
                        <div *ngIf="cpasswordValidationError" class="login-invalid-feedback">
                            <img src="assets/images/login/error-img.png" /> 
                            <span>{{cpasswordValidationErrorMsg}}</span>
                        </div>
                        
                        <div class="login-invalid-feedback" *ngIf="serverError">
                            <img src="assets/images/login/error-img.png" /> <span>{{serverErrorMsg}}</span>
                        </div>

                        <div *ngIf="saveEnable && !loading1" class="action-button deactive"><button class="btn-text">SAVE</button></div>
                        <div *ngIf="!saveEnable" class="action-button"><button class="btn-text">SAVE</button></div> 
                        <div *ngIf="saveEnable && loading1" class="action-button"><button class="btn-text"><span class="setOpacity3">SAVE&nbsp;&nbsp;</span><span class="loading-svg"><img src="assets/images/filter/filter-loading.svg" alt="Loader" /></span></button></div>                        
                    </form>               
                </div>            
            </div>
            <app-auth-footer></app-auth-footer>
        </div>
    </div>
    <div class="mcont-col-2" [style.height.px]="innerHeight">
        <app-auth-right-panel class="reset-bg" ></app-auth-right-panel>
    </div>     
</div>  

