@import url('//fonts.cdnfonts.com/css/open-sans');
@import url('//fonts.cdnfonts.com/css/roboto');

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-baseline {
  display: flex !important;
  justify-content: center !important;
  align-items: baseline !important;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.flex-align-end {
  display: flex;
  align-items: end;
}

.flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-map-class {
  border-radius: 20px;
  border: solid 1px #eaeaea;
  background-color: #f9f9f9;
  padding: 15% 0;
}

.default-map-text-class {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #999;
}

.password-validate-warning {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #9d9d9d;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.seats-available-design {
  font-family: 'Lato', sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
}

.error {
  color: #ff0000;
  font-size: 18px;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.width-80-perc {
  width: 80%;
}

.background-white {
  background-color: #fff;
}

.custom-padding-breadcum {
  padding: 20px 0;
}

.color-green {
  color: #469073;
}

.margin-right-5px {
  margin-right: 5px;
}
.add-button-design-new {
  width: 95px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: #469073;
  color: white;
  margin-right: 10px;
}

.custom-address-view-design {
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  border: solid 1px #469073;
  background-color: #fff;
  margin-bottom: 20px;
}

.user-info-header {
  margin-bottom: 0 !important;
}

.additional-participant-design2 {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  color: #000;
}

.additional-participant-hint {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #777;
}

::ng-deep {
  .p-dropdown.p-focus {
    border-color: #ced4da!important;
  }
  .p-dropdown:not(.p-disabled):hover {
    border-color: #ced4da!important;
  }
  p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
    border-color: #ced4da!important;
  }
  .margin-right-10px {
    margin-right: 10px;
  }
  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #469073!important;
    background: #fff!important;
    .p-radiobutton-icon {
      background-color: #469073!important;
    }
  }
  .p-focus {
    box-shadow: none!important;
  }
  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #469073!important;
  }
  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #469073!important;
    background: #fff!important;
    .p-radiobutton-icon {
      background-color: #469073!important;
    }
  }
        .market-place-tab-panel {
          border-left: 1px solid #e7e7e7;
          width: 230px;

          .p-card {
            box-shadow: none !important;
            background: transparent;

            .p-card-body,
            .p-card-content {
              padding: 0 !important;
              // height: 146px;
            }
          }
          @media(max-width:767px){
          border-left: 0;

          }
        }

    .market-place-tab-panel-old .p-card {
      box-shadow: none !important;
    }

    .market-place-tab-panel-old .training-inner-card-new {
      width: 433px !important;
      height: 157px !important;
      border-radius: 20px !important;
      box-shadow: none !important;
    }
    .market-place-tab-panel-old .p-card .p-card-body, .p-card .p-card-content  {
      padding: 0 !important;
      height: 146px;
    }
    .recommend-manual.market-place-tab-panel .p-card .p-card-body, .p-card .p-card-content {
      height: auto;
    }
  }
.custom-line-design {
  width: 3px;
  height: 37px;
  margin-right: 20px;
  background-color: #2f3967;

  @media(max-width:992px) {
    margin-right: 7px;
  }

  @media only screen and (min-width: 768px) and (max-width: 792px) {
      margin-top: 10px;
  }
}

/*.custom-bird-price-design {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  padding: 14px 8px 17px;
  background-color: #5273ec;
}*/

.custom-bird-price-design {
  background: #2a61ff;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative;
  text-align: center;

  @media(max-width:992px) {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }

  @media(max-width:767px) {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

}

.margin-right-30px {
  @media(max-width:992px) {
    margin-right: 10px !important;
  }
}

.custom-bird-price-design:before,
.custom-bird-price-design:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #2a61ff;

  @media(max-width:992px) {
    width: 35px;
    height: 35px;
  }

  @media(max-width:767px) {
    width: 50px;
    height: 50px;
  }
}

@media(max-width:767px) {
  .percentage-design {
    font-size: 13px !important;
  }

  .bird-price-design {
    font-size: 18px !important;
  }

  .margin-right-30px {
    margin-right: 10px !important;
    margin-left: 5px !important;
  }

  .early-bird-price-discount-design-valid-upto {
    font-size: 12px !important;
  }

  .early-bird-price-discount-design {
    font-size: 15px !important;
  }

  // .buy-now-design {
  //   margin-top: 25px !important;
  // }

  .buy-now-image-position {
    position: relative !important;
    right: 1px !important;
    top: 13px !important;

  }
}

.custom-bird-price-design:before {
  transform: rotate(30deg);
}

.custom-bird-price-design:after {
  transform: rotate(60deg);
}


.percentage-design {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.bird-price-design {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1324px) {
  .bird-price-lg {
    margin-bottom: 10px;
  }
}

.curr-price {
  font-family: "Roboto-Regular";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  font-size: 16px;
  top: 1px;
  position: relative;

  @media(max-width:767px) {
    font-size: 15px;
    top: 0;
  }
}

.text-align-left {
  text-align: left;
}

.early-bird-price-discount-design {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;

  @media(max-width:992px) {
    font-size: 14px;
  }
}

.early-bird-price-discount-design-valid-upto {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;

  @media(max-width:992px) {
    font-size: 12px;
  }
}

.custom-payment-text-design {
  font-family: 'Lato', sans-serif !important;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.heading-font-style-1 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.custom-date-style {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.custom-inperson-time-style {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}

.add-new-address-design {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
  display: flex;
  align-items: center;
}

.flex-justify-spacebetween {
  display: flex;
  justify-content: space-between;
}

.custom-inperson-notes-style {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #444;
}

.heading-font-style-2 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.custom-margin-gallery {
  margin: 50px 0 0 0 !important;
}

.flex-start {
  display: flex;
  justify-content: start;
}

.inner-page-title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.custom-margin-inner-detail {
  margin: 40px 0 0 0;
}

.margin-right-10px {
  margin-right: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.color-grey {
  color: #999999;
}

.training-text-style {
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
}

.custom-style-logo {
  color: #469073;
  margin-right: 10px;
}

.custom-time-style {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
}

.custom-margin-inner-detail-1 {
  margin: 10px 0 0 0;
}

.custom-margin-hr {
  margin: 5px 0 0 0 !important;
  // width: 71%;
}

.custom-price-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
  position: relative;
  margin-bottom: 10px;
}

.custom-price-text-small {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
  top: 2px;
  position: relative;

  @media(max-width:767px) {
    font-size: 16px;
  }
}

.svg-color-change-new {
  svg {
    background: transparent !important;
  }
}

.padding-left-35px {
  padding-left: 35px !important;
  padding-right: 0px !important;
}

.payicon {
  display: flex;
  justify-content: end;
  padding: 0px;

  img {
    width: 137px;
    height: 40px;
  }
}

.custom-heading-flex-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-participat-design {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}

.buy-now-design {
  background-color: #469073;
  padding: 4px 35px;
  font-family: 'Lato', sans-serif !important;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;

  figure.cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 0;
    margin-left: 7px;
  }

  &.cart-background {
    background-color: transparent;
    color: #ff9100;
    border: 2px solid #ff9100;
    padding: 3px 20px 3px 35px;
    // margin-left: 20px;
    min-width: 200px;
    justify-content: center;
    display: flex;
    &.selected{
      background-color: #ff9100;
      color: white;
    }
  }
  
  figure.whiteArrow {
    width: 12px;
    margin: 0;
    margin-bottom: 3px;
    margin-left: 7px;
  }

}

.buy-now-image-position {
  position: relative;
  right: 1px;
  display: none;
}

.custom-margin-inner-detail-2 {
  margin: 20px 0 5px 0;
}

.ask-question {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.email-text-style {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #2f3967;
}

.custom-padding-1 {
  padding: 7px 20px;
  background-color: #fff;
  border: solid 1px #2f3967;
}

.description-text-style {
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}

.description-text-style-2 {
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}

.training-key-features {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.unorder-list-design {
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555;
  padding: 0;
  margin: 0 0 40px 0;

  li {
    margin-bottom: 10px;
  }
}

.margin-right-15px {
  margin-right: 15px;
}

.custom-padding-gallery {
  padding: 0px 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top-12px {
  margin-top: 12px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}
.margin-bottom-4px {
  margin-bottom: 4px !important;
}

.margin-top-24px {
  margin-top: 24px;
}

.padding-left-15px {
  padding-left: 15px !important;
  padding-right: 0px !important;
}

.padding-right-15px {
  padding-left: 0px !important;
  padding-right: 15px !important;
}

.new-design {
  .p-inputgroup-addon {
    background: none !important;
  }

  input::placeholder {
    color: #9d9d9d;
  }

  input {
    border-left: none !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}

.custom-button-style {
  background-color: #469073 !important;
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.transcation-number {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #c0e2d8;
  margin-bottom: 20px;
}

.email-text {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}

.margin-bottom-40px {
  margin-bottom: 40px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.margin-10px {
  margin: 10px 0;
}

.margin-right-20px {
  margin-right: 20px;
}

.amount-paid {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.simple-design-class-text {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.amount,
.payment-type {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.credit-card-text {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.padding-right-left-30px {
  padding: 0 30px;
}

.card-number-style {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.error-card {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  margin: 0px !important;
  color: #f00;
  margin-bottom: "14px";
}

.amount-payable-price-style {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.payable-price-style {
  font-weight: bold;
  color: #469073;
}

.new-custom-style {
  border-radius: 16px;
  border: solid 1px #e9eaea;
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 493px;
  height: 346px;
}

.error-msg {
  font-size: 14px;
  color: #f00;
  margin: 0px !important;
  font-family: 'Lato', sans-serif !important;
}

.default-img-size {
  width: 111px !important;
  height: 100px !important;
}

.thumbnail-image-parent-class {
  width: 106px !important;
  height: 90px !important;
  border-radius: 10px;
  border: solid 1px #e9eaea;
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image-class {
  width: 60px !important;
  height: 50px !important;
  border: none !important;
  background: transparent !important;
  margin: 0px !important;
}

.custom-loading-class {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-popup-header {
  display: flex;
  align-items: center;

  span {
    font-family: 'Lato', sans-serif !important;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding: 10px 0 !important;
  }
}

.svg-color-change {
  svg {
    background: #469073 !important;
  }

  .Completing-your-purchase {
    width: 100%;
    height: 17px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
  }

  .Please-remain-on-the-page-and-do-not-close-your-browser-or-go {
    height: 38px;
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #c6e6dc;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}

::ng-deep {
  .p-inputtext.ng-dirty.ng-invalid {
    border-color: #ced4da;
  }

  .p-dialog.service-payment-loading-popup {
    width: auto !important;
  }

  .service-payment-loading-popup .p-dialog-header {
    display: none !important;
  }

  .refer-info {
    padding: 10px 15px !important;
  }

  .refer-info.attachment-info .attachment-cont .attachment-row .attachment-col.cont-col .caption {
    display: block !important;
  }

}

.custom-height {
  height: 350px !important
}

.training-information-title-class {
  font-family: 'Lato', sans-serif !important;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
}

.margin-bottom-30px {
  margin-bottom: 30px !important;
}

.venue-title-style {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}

.direction-button{
    color:white;
    cursor: pointer;
    border: 0;
    background: #2f3967;
    border-radius: 10px;
    padding: 3px 19px;
    font-weight: normal !important;
    font-size: 15px !important;

    img{
      margin-left: 8px;
    }
}

.title-style {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}
.venue-box-design {
  width: 66px;
  height: 66px;
  padding: 18px 17px 17px 18px;
  border-radius: 8px;
  border: solid 1px #469073;
  background-color: transparent;
}

.venue-name-design {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 10px;
}

.venue-address-design {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.margin-right-30px {
  margin-right: 30px;
}

.custom-design-venue-details {
  padding: 25px 0 10px 0 !important;
  border-bottom: 1px solid #e8e8e8;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.custom-design-description-old-details {
  padding: 10px 0 0 0 !important
}

.custom-design-description-details-attach {
  padding: 0 0 12px !important
}

.custom-design-description-details {
  // padding: 10px 0 50px 0 !important;
  // border-left: 1px solid #e7e7e7;
  padding: 0 0 24px 15px !important;
}
.custom-design-description-details-old {
  padding: 10px 0 50px 0 !important;

}

.venue-link-design {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #469073 !important;
  text-decoration: underline;
  word-break: break-all;
}

.simple-grey-border {
  height: 1px;
  background-color: #e7e7e7;
}

.date-title-style {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.time-box-style {
  padding: 13px 62px 11px 21px;
  border: solid 1px #e7e7e7;
  background-color: transparent;
  margin-left: 15px !important;
  border-radius: 10px;
}

.date-time-div-parent {
  padding-left: 15px;
}

.date-time-div {
  padding: 0px;
  display: flex;
  align-items: center;
  border: solid 1px #e7e7e7;
  border-radius: 6px;
  margin-bottom: 20px;
}

.date-time-div .inner1 {
  padding: 5px 0 !important;
  padding-left: 10px !important;
  border-right: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
}

.date-time-div .inner2 {
  margin-left: 20px;
}

.custom-first-part-width {
  width: 24%;
}

.custom-second-part-width {
  width: 76%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-id-div-design {
  height: 23px;
  background-color: #000;
  width: 63px;
  padding: 0px !important;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: absolute;
  left: 30px;
  top: 5%;

  span {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
}


.custom-manual-id-div-design {
  height: 23px;
  background-color: #000;
  width: 63px;
  padding: 0px !important;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: absolute;
  left: 50px;
  top: 10%;

  span {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  @media screen and (max-width: 767px) {
    height: 15px;
    background-color: #000;
    width: 55px;
    padding: 0px !important;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    left: 20px;
    top: 20%;
  }
}

.total-seats-class {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}

.text-align-right {
  text-align: right !important;
}

.custom-back-arrow-design {
  font-size: 21px;
  margin-right: 15px;
}

.additional-participant-design {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #000;
}

.dont-know-text-design {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;

  span {
    color: #469073;
  }
}

.total-amount-class {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
}

.training-id-design {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

:host ::ng-deep {
  .p-dropdown-filter {
    width: 100% !important;
  }

  .p-button:focus {
    box-shadow: none !important;
  }

  .p-inputtext:enabled:focus {
    box-shadow: none !important;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
  }

  .iti__country-list {
    max-width: 366px;
    max-height: 150px;
  }

  #content {
    background-color: #fff;
  }

  @media screen and (max-width: 990px) {
    header div.custom-padding-header {
      padding: 0 10px !important;
    }

    .custom-width-header {
      width: 100% !important;
    }

    .buy-now-image-position {
      height: 49px !important;
    }

    .topmenu {
      padding-right: 0 !important;
    }

    .service-payment-provider-popup.p-dialog .p-dialog-content {
      padding: 0 0.5rem 2rem 0.5rem !important;
    }
  }
}

@media screen and (max-width: 990px) {

  .service-payment-provider-popup.p-dialog .p-dialog-content {
    padding: 0 0.5rem 2rem 0.5rem !important;
  }

  .mobile-margin {
    margin: 10px 0;
  }

  .ask-question-parent {
    text-align: left !important;
  }

  .training-id-design {
    justify-content: left !important;
  }

  .buy-parent {
    margin-top: 20px;
  }

  .custom-price-text {
    margin-right: 30px !important;
  }

  .width-80-perc {
    width: 100% !important;
  }

  header div.custom-padding-header {
    padding: 0 10px !important;
  }

  .custom-width-header {
    width: 100% !important;
  }
}

.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
}


.wrapCls {
  min-height: 280px;
  @media only screen and (max-width: 960px)  {
    padding-top: 15px;
  }
}

$agtTraingThemeColor: #1F74DB;

.atgThemeColor {
  .custom-price-text {
    color: $agtTraingThemeColor;
  }

  .add-button-design-new {
    width: 95px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: $agtTraingThemeColor;
    color: white;
    margin-right: 10px;
  }

  .market-place-tab-panel.p-tabview .p-tabview-nav, .market-place-tab-panel-old.p-tabview .p-tabview-nav {
    li.p-highlight {
      a {
        span {
          color: $agtTraingThemeColor !important;
        }
      }
    }
  }
  .custom-price-text-small{
    color: $agtTraingThemeColor;
  }
  .color-green {
    color: $agtTraingThemeColor;
  }

  .register-participat-design {
    color: $agtTraingThemeColor;
  }

  .custom-button-style {
    background-color: $agtTraingThemeColor !important;
  }

  .custom-style-logo {
    color: $agtTraingThemeColor;
  }

  .buy-now-design {
    background-color: $agtTraingThemeColor !important;
  }

  .agtThemestyle {
    color: $agtTraingThemeColor;
  }
  .venue-link-design{
    color: $agtTraingThemeColor !important;
  }
  .venue-box-design{
    border: solid 1px $agtTraingThemeColor;
  }
}
.manual-new-card {

  img {
    width: auto;
    height: 240px;
    max-width: 180px;
  }
}
.custom-padding-l{
  padding-left: 10px!important;
}
.no-margin {
  margin: 0!important;
}

custom-price-text{
  font-family: Roboto-Regular,Open Sans,sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #469073;
  position: relative;
  font-size: 18px;
}


.per-discount{
  color: #7f17ff;
  font-size: 15px;
  font-weight: bolder;
}

.strike-text {
  color: #999!important;
  margin: 0 2px 0 5px;
  font-size: 15px;
  text-decoration: line-through;
}


.margin-bottom-10px{
  margin-bottom: 10px;
}

 .inner-card-description-1{
   font-family: Roboto-Regular;
   font-size: 14px;
   font-weight: 400;
   line-height: normal;
   color: #231f20;
   width: 160px!important;
   white-space: nowrap;
 }
 .market-place-tab-panel .inner-card-heading {
   font-stretch: normal;
   font-style: normal;
   letter-spacing: normal;
   text-align: left;
   text-overflow: ellipsis;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
  //  height: 50px;
   font-family: Roboto-Regular,Open Sans,sans-serif;
   font-size: 15px;
   font-weight: 600;
   padding: 0 10px;
   padding-right: 0;
   word-break: break-all;
 }

 .market-place-tab-panel-old .inner-card-heading {
   font-stretch: normal;
   font-style: normal;
   letter-spacing: normal;
   text-align: left;
   text-overflow: ellipsis;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   height: 50px;
   font-family: Roboto-Regular,Open Sans,sans-serif;
   font-size: 15px;
   font-weight: 600;
 }

.margin-right-6px {
  margin-right: 6px;
}

@media screen and (max-width: 767px) {
  .custom-design-description-details {
    border-left: 0;
  }

  .manual-new-card {
    display: flex;
    img {
    width: auto;
    height: 153px;
    max-width: 120px;
    }
  }

  .new-style-changes {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }

  .market-place-tab-panel {
    width: auto ;
    .p-tabview-panels {
      padding: 0 0 15px 0 !important;
    }
  }
}

.text-orange {
  color: #ff9100;
  line-height: normal;
}

.custom-discount-image img{
  height: 200px;
  min-width: 180px;
}

.deleted-training-inner  {
  img{
    width: 90px;
    height: 88px;
    object-fit: contain;
  }
  button{
    padding: 5px 78px;
    border-radius: 18px;
    background-color: #298368;
    font-size: 16px;
    color: white;
  }
  p{
    margin: 0px;
    padding: 10px 0px;
    font-weight: 500;
  }
}

.other-provider {
  img {
    width: 75px;
    height: auto;
  }

  p {
    margin: 0;
    padding: 24px 0;
    font-weight: 500;
  }

  span {
    padding: 13px 32px 13px 30px;
    border-radius: 8px;
    background-color: #2f3967;
    color: white;
    width: 110px;
    font-weight: 500;
    font-size: 16px;
    figure.tickImg {
        width: 17px;
        height: 12px;
        margin: 0;
        margin-left: 10px;
        align-self: center;
        display: flex;
      }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .regular-price-div-margin {
    margin-top: 10px;
  }
  .buy-section{
    margin-top: 5px !important;
  }
}


.cart-popup {
  background: #fff;
  width: 386px;
  max-height: 456px;
  height: auto;
  overflow-y: auto;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.11);
  border: solid 2px #f3f3f3;
  position: fixed;
  right: 10%;
  top: 54px;

  .cart-popup-instruction {
    background-color: #e5efeb;
    padding: 15px 24px 15px 15px;
    border-radius: 15px;
  }

  @media screen and (max-width: 960px) {
    background: #fff;
    width: 386px;
    max-height: 456px;
    height: auto;
    overflow-y: auto;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.11);
    border: solid 2px #f3f3f3;
    position: absolute;
    right: 5%;
    top: 70px;
  }
  @media screen and (max-width: 767px) {
    background: #fff;
    width: 386px;
    max-height: 456px;
    height: auto;
    overflow-y: auto;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.11);
    border: solid 2px #f3f3f3;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 54px;
    max-width: 320px;
  }
  .custom-buttom-design-new-2,
  .custom-buttom-design-new {
    .p-button-icon-right {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
  .custom-buttom-design-new-2, .custom-buttom-design-new-2:hover {
    border-radius: 20px;
    background-color: #469073;
    display: flex;
    margin: 15px 15px 0px 0px;
    align-items: center;
    padding: 6px 20px 6px 10px;
    border: 1px solid #469073;
    font-family: "Roboto-Regular";
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .custom-buttom-design-new, .custom-buttom-design-new:hover {
    border-radius: 20px;
    display: flex;
    margin: 15px 15px 0px 0px;
    align-items: center;
    padding: 6px 20px 6px 10px;
    font-family: "Roboto-Regular";
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    background-color: #fff;
    border: 1px solid black;
    color: black;
  }
  
}

.custom-ask-ques-alignment {
  position: relative;
  margin-top: 0px;
  bottom: 20px;
  margin-bottom: -20px;
}

.ask-ques{
  text-align: right;
}

@media screen and (max-width: 767px) {
  .custom-discount-image img {
    height: 153px;
    min-width: 120px;
  }

  .custom-design-description-details {
    padding: 0 15px 0px 15px !important;
  }

  .recommend-manual.market-place-tab-panel p-card .p-card-body {
    min-width: calc(100% + 25px);
  }
}

@media screen and (min-width: 767px) and (max-width: 960px) {
  .custom-ask-ques-alignment {
    margin-top: 6px !important;
    text-align: left;
    bottom: 0;
    margin-bottom: 0;
    .ask-ques{
      text-align: left !important;
    }
  }
}