.training-widget{
  .profile-img{
      display: inline-block;
      padding-right: 15px;
      vertical-align: top;
  }
  .pimg{
      background: #fff;
      display: inline-block;
      border-radius: 50%;
      height: 40px;
      min-height: 40px;
      min-width: 40px;
      -o-object-fit: cover;
      object-fit: cover;
      overflow: hidden;
      width: 40px;
      vertical-align: top;
      img{
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
      }
  }
  .profile-text{
      display: inline-block;
      vertical-align: top;
      .name-text{
          font-size: 14px;
          font-family: "Roboto-Regular";
          color:#5e6980;
          line-height: normal;
          display: block;
      }
      .sub-text{
          font-size: 14px;
          font-family: "Roboto-Light";
          color:#a4abba;line-height: normal;
          padding-top: 2px;
          line-height: normal;
          display: block;
      }
  }
  .no-padding {
      padding: 0px !important;
    }
    
    .no-margin {
      margin: 0px !important
    }
    
    .main-heading {
      text-shadow: 0px 3px 7px rgb(0 0 0 / 21%);
      font-family: "Lato", sans-serif !important;
      font-size: 42px;
      font-weight: 800;
      width: 100%;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .custom-bird-price-design {
      background: #2a61ff;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 24%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .custom-bird-price-design:before,
    .custom-bird-price-design:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: #2a61ff;
    }
    
    .custom-bird-price-design:before {
      transform: rotate(30deg);
    }
    
    .custom-bird-price-design:after {
      transform: rotate(60deg);
    }
    
    .bird-price-design {
      font-family: 'Roboto', sans-serif !important;
      font-size: 13px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      z-index: 1;
    }
    
    .custom-id-div-design {
      height: 23px;
      background-color: #000;
      width: 63px;
      padding: 0px !important;
      opacity: 0.7;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      position: absolute;
      left: 10px;
      top: 5%;
    
      span {
        font-family: 'Roboto', sans-serif !important;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
      }
    }
    
    .flex-center {
      display: flex;
      justify-content: center;
    }
    
    .margin-bottom-40px {
      margin-bottom: 40px !important;
    }
    
    .display-none {
      display: none !important;
    }
    
    .svg-color-change {
      svg {
        background: transparent !important;
      }
    }
    
    .custom-icon-design {
      background: transparent;
      border-radius: 20px 0 0 20px !important;
    }
    
    .low-opacity {
      opacity: 0.5 !important;
    }
    
    .flex-align-center {
      display: flex;
      align-items: center;
    }
    
    .width-80-perc {
      width: 80%;
    }
    
    .custom-text-width {
      width: 170px;
    }
    
    .wrapflex {
      flex-wrap: wrap;
    }
    
    .right-11-perc {
      right: 11%;
    }
    
    .cursor-pointer {
      cursor: pointer;
    }
    
    .inner-section-margin {
      margin: 0 auto 0;
    }
    
    .inner-section-domains {
      border-top: 6px solid #2f3967;
    }
    
    .border-bottom-3px {
      position: relative;
      &::after{
        position: absolute;
        content: '';
        background: #2f3967;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
    
    .padding-left-0 {
      padding-left: 0px !important;
    }
    
    .margin-top-30px {
      margin-top: 30px;
    }
    
    .padding-30px {
      padding: 30px;
    }
    
    .padding-20px {
      padding: 20px;
    }
    
    .remove-hover-border:hover {
      border: 1px solid #ced4da;
    }
    
    .remove-hover-border:enabled:focus {
      box-shadow: none;
      border: 1px solid #ced4da;
    }
    
    .custom-domain-width-height {
      padding: 20px;
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      text-align: center;
    
      img {
        width: auto;
        height: auto;
      }
    }
    
    .p-card .p-card-title {
      font-size: 18px !important;
      color: #000 !important;
    }
    
    .color-black {
      color: #000;
    }
    
    .pricing-section {
      width: 40px;
      height: 40px;
      opacity: 0.8;
      font-family: "Roboto-Regular";
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 5px;
      top: 22%;
    }
    
    .pricing-section-free-color {
      background-color: #7f17ff;
    }
    
    .pricing-section-simple-color {
      background-color: #ff392a;
    }
    
    .sold-out-label-design {
      width: 89px;
      height: 27px;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto-Regular";
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #fff;
      position: absolute;
      top: 26%;
      border-radius: 0px 10px 10px 0;
    }
    
    .closed-label-design {
      width: 89px;
      height: 27px;
      background-color: #cb573c;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto-Regular";
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #fff;
      position: absolute;
      top: 26%;
      border-radius: 0px 10px 10px 0;
    }
    
    .minimum-seats-available-design {
      width: 116px;
      height: 27px;
      background-color: #ff8a00;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 25%;
      border-radius: 0 10px 10px 0;
    }
    
    .custom-padding-footer {
      border-top: 1px solid #eee;
      padding: 2px 10px !important;
    }
    
    .heading-text {
      width: 100%;
      font-size: 20px;
      font-weight: bolder;
      text-align: left;
      color: #000;
      margin-bottom: 10px;
    }
    
    .main-text-background-upper {
      flex-basis: fit-content;
      background: #298368;
      clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      color: #fff;
      padding: 10px 45px 10px 18px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 16px 0px 0px 0px;
    }
    
    .manuals-button.main-text-background-upper {
      clip-path: unset;
      border-radius: 16px 16px 0 0;
      padding: 10px 10px 10px 18px !important;
    }
    .manuals-button {
      margin-left: auto;
      padding: 10px 2px 10px 18px !important;
    }
    
    .simple-background-style {
      flex-basis: fit-content;
      color: #37406b;
      padding: 8px 45px 8px 18px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
    
    .sub-heading-text {
      width: 100%;
      font-size: 17px;
      font-weight: 500;
      text-align: left;
      color: #4a4a4a;
      margin-bottom: 10px;
    }
    
    .website-text {
      width: 100%;
      font-size: 15px;
      text-align: left;
      color: #298368 !important;
    }
    
    .icon-color {
      font-size: 15px;
      color: #298368 !important;
      margin-right: 6px;
    }
    
    .icon-new-color {
      font-size: 15px;
      color: #000 !important;
      margin-right: 6px;
    }
    
    .website-new-text {
      width: 100%;
      font-size: 15px;
      text-align: left;
      color: #000 !important;
    }
    
    .icon-new {
      font-size: 15px;
      color: #bebfc3 !important;
      margin-right: 6px;
    }
    
    .new-text {
      font-size: 15px;
      text-align: left;
      color: #bebfc3 !important;
    }
    
    .flex-evenly {
      display: flex;
      justify-content: space-evenly;
    }
    
    .view-footer-card {
      background-color: #2f3967;
      color: #fff;
    
      span {
        margin-right: 5px;
      }
    }
    
    .custom-image-position {
      position: relative;
      z-index: 1;
      right: -2px;
    }
    
    .flex-center-align {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .grey-line {
      height: 7px;
      margin-top: 50px;
      border-radius: 3.5px;
      background-color: #eeee;
    }
    
    .load-more {
      position: relative;
      padding: 5px 15px;
      border-radius: 40px;
      border: solid 5px #eee;
      background-color: #2f3967;
      /*bottom: -18px;*/
      cursor: pointer;
    
      span {
        margin-right: 5px;
        color: #fff;
      }
    
      i {
        font-size: 14px;
        color: #fff;
      }
    }
    
    .width-12-margin-0-auto {
      width: 12%;
      margin: 0 auto;
    }
    
    .collabtic-network {
      padding: 20px !important;
      background-color: #42484d;
    }
    
    .flex-end-center {
      display: flex;
      justify-content: end;
      align-items: center;
    }
    
    .chevron-icon-style {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ced4da;
      border-left: none;
      border-radius: 0px 20px 20px 0px !important;
      padding-right: 10px;
      color: #6c757d;
    }
    
    .chevron-icon-style-new {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
      color: #6c757d;
    }
    
    .normal-text {
      font-size: 30px;
      font-weight: 500;
      color: #fff;
    }
    
    .highlight-text {
      color: #3cc098;
    }
    
    .custom-margin {
      margin: 100px 0 !important
    }
    
    .new-highlight-text {
      font-size: 20px;
      font-weight: 500;
      color: #3cc098;
      border: 2px solid #3cc098;
      padding: 10px;
    }
    
    .margin-top-10px {
      margin-top: 10px;
    }
    
    .cursor-pointer {
      cursor: pointer;
    }
    
    .custom-position {
      position: absolute;
      top: -58%;
      left: -13%;
    }
    
    .flex-end {
      display: flex;
      justify-content: end;
    }
    
    .custom-flex-end-center {
      display: flex;
      align-items: center;
      justify-content: end;
    }
    
    .custom-position-2 {
      position: absolute;
      top: -34%;
      left: 64%;
    }
    
    .font-family-lato {
      font-family: 'Lato', sans-serif !important;
    }
    
    .custom-footer-padding {
      padding: 0 5px !important;
    }
    
    .margin-bottom-10px {
      margin-bottom: 10px;
    }
    
    .main-text-background {
      background-color: #298368;
      flex-basis: fit-content;
    }
    
    .flex-start {
      display: flex;
      justify-content: start;
    }
    
    .automative-text-style {
      font-family: 'Roboto-Medium';
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }
    
    .automative-text-style-new {
      font-family: 'Roboto-Medium';
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }
    
    .alignment-set {
      position: relative;
      bottom: -5px;
    }
    
    .margin-right-20px {
      margin-right: 20px;
    }
    
    .margin-right-5px {
      margin-right: 5px;
    }
    
    .padding-right-50px {
      padding-right: 50px;
    }
    
    .padding-right-left-20px {
      padding: 0 10px;
    }
    
    .new-style-changes {
      height: 125px !important;
      img {
        height: 100%;
        width: 100%;
      }
    }
    
    .header-style-2 {
      border-radius: 20px 20px 0 0;
      border: solid 1px #e9eaea;
      background-color: #f5f6f6;
      padding: 40px 0px;
      display: flex;
      justify-content: center;
      height: 145px !important;
    }
    
    .default-img-size {
      width: 59px !important;
      height: 53px !important;
    }
    
    .header-style-1 {
      height: 145px;
      border-radius: 10px 10px 0 0;
    }
    
    .description-style-1 {
      /*width: 178px;*/
      width: 90%;
      margin-bottom: 10px;
      font-family: 'Roboto-Medium';
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .inner-card-description-1,
    .inner-card-description-2 {
      font-family: 'Roboto-Regular';
      font-size: 13px;
      color: #231f20;
    }
    
    .inner-card-description-3 {
      font-family: 'Roboto-Regular';
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      width: 200px !important;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .margin-top-3px {
      margin-top: 3px;
    }
    
    .margin-top-20px {
      margin-top: 20px !important;
    }
    
    .custom-datepicker-design {
      width: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 1rem;
      color: #495057;
      background: #ffffff;
      padding: 0.5rem 0.5rem;
      border: 1px solid #ced4da;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
      font-weight: normal;
      border-left: none !important;
      border-right: none !important;
      cursor: pointer;
    }
    
    .margin-right-9px {
      margin-right: 5px;
    }
    
    .margin-bottom-10px {
      margin-bottom: 10px;
    }
    
    .margin-right-6px {
      margin-right: 6px;
    }
    
    .margin-right-5px {
      margin-right: 5px;
    }
    
    .margin-top-6px {
      margin-top: 6px;
    }
    
    .footer-logo-card {
      max-width: 100% !important;
      max-height: 25px !important;
      border-radius: 4px;
      background-color: #fff;
    }
    
    .bg-img-client {
      float: right !important;
      width: 69px;
      height: 29px;
      background-size: 69px 29px !important;
      background: center no-repeat;
    }
    
    .custom-price-text {
      font-family: Roboto-Regular, Open Sans,sans-serif;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #298368;
      position: relative;
      font-size: 22px;
    }
  
    .full-height {
      height: 90% !important;
    }
    
  
    .service-provider-card.p-card .p-card-header {
      width: 100%;
      justify-content: center;
      min-height: 186px;
      display: table;
    }
  
  
  
    .reminderDropdownStyle .p-dropdown-panel .p-dropdown-items li.p-dropdown-item {
      background: #444444 !important;
      color: #fff !important;
      height: 51px;
      border-bottom: 1px solid #323232;
      padding-top: 12px;
      display: flex;
    }
  
    .reminderDropdownStyle img {
      width: 24px;
      margin-right: 13px;
    }
  
    .reminderDropdownStyle .p-dropdown-panel .p-dropdown-items li.p-dropdown-item.p-highlight {
      background: #444444 !important;
      color: #298368 !important;
    }
  
    .reminderDropdownStyle .p-dropdown-panel .p-dropdown-items {
      background: #444444 !important;
      border-radius: 9px;
      align-items: center;
    }
  
    .reminderDropdownStyle .p-dropdown-items-wrapper {
      max-height: 250px !important;
    }
  
    .custom-Filter-market-place-dropdown .p-dropdown-label {
      display: flex;
    }
    .training-text {
      margin: 30px 0;
      font-family: 'Roboto-Regular';
      font-size: 16px;
      color: #999;
    }
    
    .display-content {
      display: contents !important;
    }
    
    .custom-min-width-180 {
      min-width: 180px !important;
    }
    
    .hidden_img {
      display: none;
    }
    .masonry-item:hover {
      box-shadow: 0 0 10px #469073 !important;
      border-radius: 10px;
    }
    .manual-box.masonry-item {
      width: 210px;
    }
    
    .manual-box .description-style-1 {
      line-height: 20px;
      height: 40px;
      margin-bottom: 10px !important;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    
    .strike-text {
      color: #999999 !important;
      margin: 0 7px;
      font-size: 17px;
      text-decoration: line-through;
    }
    .per-discount {
      color: #7f17ff;
      font-size: 17px;
      font-weight: bolder;
    }
    
    .manual-box .feaute-align {
      margin-bottom: 15px !important;
    }
    
    .manual-box .header-style-1 {
      border-radius: 0 !important;
    }
    
    .manual-box .new-style-changes {
      height: unset !important;
      max-height: 297px;
    }
    
    .manual-box .pricing-section {
      right: 15px;
      bottom: 30%;
      top: unset;
    }
    
    .manual-box .custom-bird-price-design {
      top: unset;
      right: 17px;
      bottom: 31.5%;
    }
    
    .manual-box.mobile .new-style-changes {
      height: unset !important;
      max-height: 440px;
    }
    
    .manual-box.mobile .description-style-1 {
      width: auto;
    }
    
    .manual-box .parent-img.forMobile .pricing-section {
      bottom: 20px !important;
      top: unset;
      right: 20px !important;
    }
    
    .manual-box .pricing-section-simple-color {
      background-color: #fff;
      color: #000;
    }
    
    .manual-button-option {
      width: 51%;
      float: left;
      background: #fff;
      padding: 9px 20px;
      margin-top: 18px;
      font-weight: 600;
      border: 1px solid #d8d8d8;
      border-radius: 6px;
    }
    
    .manual-button-option.active {
      background: #298368;
      border-color: #298368;
      color: #fff;
    }
    
    .manual-button-dropdown {
      width: 45%;
      margin-right: 10px;
      float: left;
    }
    
    
    @media screen and (max-width: 990px) {
      .width-80-perc {
        width: 100% !important;
        padding: 0 15px !important;
      }
    }
    
    @media screen and (min-width: 991px) {
    
      .new-style-changes:hover .hidden_img,
      .p-card-content-inner:hover .hidden_img,
      .p-card-footer-div:hover .hidden_img {
        display: block;
        z-index: 10000;
      }
    
      .new-style-changes .hidden_img {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
      }
    
      .p-card-content-inner .hidden_img {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
      }
    
      .p-card-footer-div .hidden_img {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
      }
    }
    
    .parent-img.forMobile {
      position: relative;
    }
    
    .parent-img.forMobile .pricing-section.pricing-section-simple-color,
    .parent-img.forMobile .pricing-section.pricing-section-free-color {
      position: absolute !important;
      bottom: 20px !important;
      top: auto;
    }
    
    .parent-img.forMobile .closed-label-design img {
      width: 20px !important;
      height: 17px !important;
      margin-right: 5px;
    }
    
    .parent-img.forMobile .closed-label-design,
    .parent-img.forMobile .minimum-seats-available-design,
    .parent-img.forMobile .sold-out-label-design {
      top: auto;
      bottom: 28px;
    }
    
    .container.pad0 {
      padding: 0 !important;
    }
    
    .inner-section {      
      height:  310px;
      overflow: hidden;
      width: 100%;
      &.inner-section-mobile{
        min-height: 290px;
        height: 100%;
      }
      &.inner-section-desktop{
        height:  290px;
      }
    }
    
    .wd20-margin {
      width: 20% !important;
      margin: 0 10px !important;
      float: left;
    }
    
    .margin-10 {
      margin: 0 10px !important;
    }
    
    .margin-left-10 {
      margin-left: 10px !important;
    }
    
    .mrt5 {
      margin-top: 5px !important;
    }
    
    .custom-top-bottom-pad {
      padding: 5px 14px !important;
    }
    
    @media screen and (max-device-width: 767px) {
      .height-width-40px{
        width: 30px !important;
        height: 30px !important;
      }
      .masonry-item,
      .masonry-container {
        max-width: 374% !important;
        width: 100% !important;
      }
    
      .wd20-margin {
        width: 66% !important;
        margin-right: 10px !important;
      }
    
      .mob-search {
        width: 26% !important;
        display: flex;
      }
    
    
      .mob-filter-button {
        margin-right: 6px !important;
        margin-left: 0 !important;
      }
    
      .mob-filter-mar0 {
        margin: 0 !important;
      }
    
      .form-filter-service-provider form.form-inline {
        top: -14px !important;
        width: 92% !important;
        padding: 8px!important;
        border-radius: 10px;
      }
    
      .filters-container.mrt5 {
        margin-top: 0 !important;
      }
    
      .custom-text-width.text-input.wd20-margin {
        margin-right: 0 !important;
        width: 64% !important;
      }
    }
    
    
    .clear-filter-strip .flex-end-center {
      width: 95px !important;
    }
    
    .clear-filter-strip .wd20-margin {
      margin: 0 5px !important;
    }
    
    .clear-filter-strip .p-inputgroup-addon {
      min-width: auto;
      padding: 0 0 0 9px;
    }
    
    .clear-filter-strip .p-inputgroup-addon img {
      width: 17px;
      object-fit: contain;
    }
    
    .clear-filter-strip .p-dropdown .p-dropdown-trigger {
      width: auto;
      padding-right: 7px;
    }
    
    .clear-filter-strip .p-dropdown .p-dropdown-trigger span.p-dropdown-trigger-icon {
      font-size: 14px;
    }
    
    .clear-filter-strip .flex-end-center {
      width: 95px !important;
    }
    
    .clear-filter-strip .wd20-margin {
      margin: 0 5px !important;
    }
    
    .clear-filter-strip .p-inputgroup-addon {
      min-width: auto;
      padding: 0 0 0 9px;
    }
    
    .clear-filter-strip .p-inputgroup-addon img {
      width: 17px;
      object-fit: contain;
    }
    
    .clear-filter-strip .p-dropdown .p-dropdown-trigger {
      width: auto;
      padding-right: 7px;
    }
    
    .clear-filter-strip .p-dropdown .p-dropdown-trigger span.p-dropdown-trigger-icon {
      font-size: 14px;
    }
    
    
    
    .form-filter-service-provider .right-11-perc {
      right: 31px;
    }
    
    .mr-top-20 {
      margin-top: 20px !important;
    }
    
    $agtTraingThemeColor: #1F74DB;
    
    .atgThemeColor {
      .form-filter-service-provider {
        .orange-bg-btn {
          background-color: $agtTraingThemeColor !important;
          border-color: $agtTraingThemeColor !important;
        }
        .highlight-text-new {
          border-color: $agtTraingThemeColor !important;
        }
    
      }
    
      .main-text-background-upper {
        background: $agtTraingThemeColor;
      }
    
      .border-bottom-3px {
        &::after{
          background: $agtTraingThemeColor;
        }
      }
    
      .highlight-text-new-1 {
        border-color: $agtTraingThemeColor !important;
        background-color: $agtTraingThemeColor !important;
      }
    
    
      .pricing-section-free-color{
        background-color: $agtTraingThemeColor;
        opacity: 1;
      }
    
      .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
        background: $agtTraingThemeColor !important;
      }
      .pricing-section-simple-color{
        opacity: 1;
        background-color: #fff;
        border: 1px solid #ddd;
        color: #000;
        /*margin-top: 10px;*/
      }
    }
    .wd22-margin{
      width: 22% !important;
      @media(max-width:1281px){
        width: 21% !important;
      }
      @media(max-width:980px){
        width: 95% !important;
        margin-right: 10px;
      }
    }
    figure.atgFeatureImg {
      margin-bottom: 0;
      width: 16px;
      display: flex;
      height: 16px;
    
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .margin-right-8px {
      margin-right: 8px;
    }
    .feaute-align {
      display: flex;
      margin-bottom: 0px;
      align-items: center;
      .imgLeft {
        margin-right: 8px;
        &.seminarImg{
          margin-right: 2px;
          .atgFeatureImg{
            width: 25px;
            position: relative;
            right: 4px;
          }
    
    
        }
        &.webImg{
          margin-right: 5px;
          .atgFeatureImg{
            width: 19px;
            position: relative;
            right: 2px;
          }
        }
    }
    }
  
} 
  ::ng-deep {
    .landing-padding0{
      padding:0 !important;
    } 
    .landing-margin0{
      margin:0 !important;
    }
    .training-widget{
      width: 100%;
      .service-provider-training-card.p-card .p-card-body{
        padding: 0px !important;
        height: 145px !important;
      }
      .service-provider-training-card.p-card .p-card-body .p-card-content{
        padding: 8px 10px 0 !important;
        height: 110px !important;
      }
      .service-provider-training-card.p-card{
        height: 270px !important;   
        border-radius: 10px !important;
        border: 1px solid #ebebeb; 
        box-shadow:0 2px 1px -1px rgb(0 0 0 / 5%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 5%) !important;
      }
      .p-card .p-card-footer {
        padding: 0 !important;
      }
    
      .service-provider-training-card.p-card .p-card-body .p-card-footer {
        margin: 0 !important;
        padding: 0 !important;
      }
    .manuals-image-div .p-card-header{
      width: 140px;
      height: 182px;
      float: left;
      margin-right: 20px;
    }
    .manuals-image-div.service-provider-training-card.p-card .p-card-body .p-card-content {
      height: 100% !important;
      padding: 2rem !important;
  
    }
  
    .in-active .custom-Filter-market-place-dropdown .p-dropdown-label {
      background-color: #fff !important;
      color: #000 !important;
    }
  
    .in-active .custom-Filter-market-place-dropdown .p-dropdown-trigger {
      background-color: #fff !important;
    }
    .in-active .custom-Filter-market-place-dropdown .p-dropdown-trigger span {
      color: #000 !important;
    }
  
    .in-active .reminderDropdownStyle .selectedImg img {
      filter: invert(1);
    }
    .tooltip-inner {
      min-width: 254px;
      max-width: 254px;
      z-index: 100000;
      width: 254px;
      height: 104px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: relative;
      left: -80px;
      top: 0;
      padding-top: 0;
  
      span {
        width: 272px;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
  
      }
  
      .tooltipregularPrice {
        margin-top: 4px;
        margin-bottom: 0;
        line-height: normal;
      }
    }
    .loading-small-screen-new {
      left: 50%;
      top: 90px;
      position: absolute;
    }
 
    .masonry-item-container{       
      height: 310px !important;      
      width: auto !important;
      overflow: hidden; 
      margin-left: 10px;
      &.set-width-100{
        width: 100% !important;
      }
      &.masonry-item-container-mobile{
        min-height: 290px !important;
        height: 100% !important;
        margin-left: 0px;
      }
      &.masonry-item-container-desktop{
        height: 290px !important;
        margin-left: 0;
      }
    }
    .masonry-item{  
      position:  relative !important;
      height: 270px !important;
      left: unset !important;
      display: inline-block !important;
      top: unset !important;
      margin:20px 10px 0 10px !important;
      &.masonry-item-desktop{
        margin:10px 30px 10px 10px !important;
      }
      &.masonry-item-mobile{
        margin:10px 0 10px 0px !important;
      }
      
    }
    .nothingtoshow{
      text-align: center;
      padding: 10px 0px 10px 0px !important;
      width: 100%;
    }
  
   
  }
  
}
  