.label-tvssso{   
    .label-name{
        display: inline-block;
        font-family: Roboto-Medium;
        font-size: 18px;
        color:#a6a7a7;        
    }
    .text-name{
        display: inline-block;
        font-family: Roboto-Medium;
        font-size: 18px;
        color:#40aa8b;
    }
    .setpadding{
        display: inline-block;
        padding:0 10px;        
    }
    .label-sso-col{
        width: auto;
    }
}
.green-text{
    &.green-text-new{
        font-size: 24px !important;
        padding: 0 !important;
        //text-transform: lowercase;
    }        
}
.line-row{
    &.line-row-bottom{
        margin: 0 0 0 0 !important;
        border: none !important;        
        padding-bottom: 14px !important;
        padding-top: 0 !important;
    }
}
.action-button
{
    &.action-button-mb0{
        margin-bottom:0 !important;
    }
}
.input-group-col-new{
    display: inline-block;
    width: 100%;    
    .input-group-col1{        
        width: 48%;
        float: left;
    }
    .input-group-col2{        
        width: 48%;
        float: right;
    }
    .inputtext{
       width:calc(100% - 63px);
    }   
}
.passwordchecke-div-new{
    clear: both;
    overflow: hidden;
    margin:0 !important;
    .default-pwd-text {
        margin: 5px 0 0 15px !important;
    }
}
.mtop10{
    margin-top:20px !important;
}
.default-pwd-text-new{
    span{
        width: auto !important;
    }
}
.setheight30{
    height: 34px;
}
::ng-deep body.auth .iti input{
    visibility: visible !important;
}
::ng-deep body.auth .iti input[type="tel"]::placeholder {
    color: #a6a7a7;
    font-family: Roboto-Regular;
    font-size: 17px;
  }
::ng-deep .iti__country-list{
    max-height: 140px !important;
}
.bname-text{
    color: #ffffff;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    margin:16px 0 -8px 0;
}