body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    background-color: #e7e7e7;
}
ul,
li {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

.sec-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #2f3967;
    position: relative;
    margin-bottom: 32px;
}
.main-ttl {
    background: #298368;
    clip-path: polygon(0 0, 86% 0%, 100% 100%, 0% 100%);
    color: #fff;
    padding: 8px 45px 8px 18px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.sec-title .blank-span {
    background-color: #37406b;
    clip-path: polygon(0 0, 96% 0%, 100% 100%, 0% 100%);
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 215px;
    height: 12px;
}
.past-trainning span {
    color: #37406b;
}
.past-trainning span img {
    margin-right: 4px;
}

/*navbar*/
header{
    position: sticky;
    top: 0;
    z-index: 9;
}
header .nav-link {
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #298368;
}

.navbar{
    .navbar-left-sec{
        width: 40%;
    }
    .navbar-left-mid{
        width: 20%;
        text-align: center;
    }
    .navbar-left-right{
        width: 40%;
        justify-content: end;
        /* width: 100%; */
    }
}
/*footer*/
footer {
    background-color: #282a2b;
    color: #fff;
    padding: 22px 22px;
    margin-top: 70px;
}
.copyright-txt {
    color: #777777;
}
.social-icons ul {
    display: flex;
    color: #777777;
}
.social-icons ul li {
    margin-left: 18px;
}

.header-details{
    font-size: 14px;
}

/*automative header*/
.right-btns-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.right-btns-div .circle-btn {
    width: 31px;
    height: 31px;
    padding: 6px 8px;
    display: inline-flex;
    background: #469073;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.right-btns-div .download-pdf {
    padding: 0 16px 0 0;
    border-radius: 8px;
    border: solid 1px #d1d1d1;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    color: #000000 !important;
}
.right-btns-div .download-pdf span {
    padding: 4px 7px;
    display: inline-block;
    background: #469073;
    margin-right: 16px;
    img{
        width: 21px;
    }
}

/*****Automative Page *****/
/*main-css*/
.automative-page-wrapper {
    background: #fff;
    width: 80%;
    margin: 0 auto;
    margin-top: 29px;
    padding: 25px 0px 0;
    border-radius: 16px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    // overflow-y: scroll;
    // height: calc(100vh - 100px);
}
.automative-page-wrapper section {
    padding: 20px 30px;
}
.section-border {
    border-bottom: 8px solid #f1f1f1;
    padding-bottom: 36px;
    margin-bottom: 28px;
}

.section-border:last-child {
    border-bottom: 0 !important
}
.main-small-button {
    font-size: 13px;
    padding: 5px 15px 6px 15px;
    border-radius: 45px;
    border: 0;
    line-height: initial;
    background-color: #29ac6a;
    color: #fff;
    display: flex;
    align-items: center;
    width: 93px;
}
.main-status-button {
    font-size: 13px;
    padding: 5px 15px 6px 15px;
    border-radius: 45px;
    border: 0;
    line-height: initial;
    background-color: #29ac6a;
    color: #fff;
    display: flex;
    align-items: center;
}
.main-small-button img {
    height: 16px;
    width: 21px;
    object-fit: contain;
    padding-right: 6px;
}
.grey-text{
    color: #777777;
}
.cool-grey{
    color: #93989d !important;
}
.sec-ttl {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.dotted-border-div {
    display: flex;
    // align-items: center;
    margin-bottom: 13px;
    align-items: flex-start;
}
.dotted-border-div .sec-ttl {
    display: flex;
}
.dotted-border-div .dashed-border-span {
    display: flex;
    border: 1px dashed #eff0f1;
    height: 1px;
    width: 100%;
    flex: 8;
    align-items: center;
    vertical-align: middle;
    margin-top: 12px;
}
.dotted-border-div .count {
  
}
.bg-black{
    background-color: #000;
}
.bg-blue{
    background-color: #4b5e9b;
}
.bg-yellow{
    background-color: #ff9900;
}
.bg-red{
    background-color: #fb4c4c;
}
span.icon-content {
    color: #93989d;
    padding-left: 8px;
    font-size: 14px;
}
p.icon-content-div {
    display: flex;
}
p.icon-content-div i {
    display: flex;
    font-style: inherit;
    color: #000000;
}
.arrow-content-div p {
    font-size: 16px;
}
.row.img-icon-listing-row {
    border-top: 1px solid #e5e5e5;
    padding-top: 12px;
    margin-top: 22px;
}
.img-icon-listing-row .col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
    -ms-flex: 0 0 20%;
}
.row.img-icon-listing-row p.icon-content-div {
    margin-bottom: 0;
}
/*workflow-function-sec*/
.workflow-function-sec .img-div {
    // width: 23%;
    border-radius: 10px;
}
.workflow-function-sec .content-div {
    width: 83%;
    padding-left: 26px;
}
.workflow-function-sec .img-div img {
    border-radius: 17px;
}
.workflow-function-sec h2.img-ttl {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

/*start-diagnostic-sec*/
.process-arrow-div .left-col .arrow {
    // padding-right: 8px;
    margin-right: 5px;
    width: 31px;
    height: 12px;
}
.process-arrow-div .process-output img {
    // padding-right: 5px;
}
.process-arrow-div .process-output {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}
.process-arrow-div .process-output.complete {
    color: #469073;
}
.process-arrow-div .process-output.not-ok {
    color: #ff0200;
}
.process-arrow-div .process-output.skip {
    color: #ff9900;
}
.process-arrow-div .process-output.not-working, .yellow-text {
    color: #ff9900;
}
.process-arrow-div .process-output.next {
    color: #545454;
}
/*es-switch-input-sec*/
.img-text-block {
    padding: 10px 0 10px 0;
    border: solid 1px #dbddde;
    border-radius: 10px;
    align-items: center;
}
.img-text-block .content-div {
    padding-left: 16px;
}
.img-text-block .img-div img {
    height: 78px;
    width: 78px;
    object-fit: cover;
    border-radius: 9px;
}
.img-text-block p {
    margin-bottom: 2px;
}
.arrow-content-div ul li {
    font-size: 16px;
}

/*neutral-condition-sec*/
.attachments-div {
    // padding-left: 27px;
}
.img-text-block .img-text-block-list.border-bottom {
    border-bottom: 1px solid #e4e4e4 !important;
    padding: 0 9px 0 9px;
    padding-bottom: 11px;
    margin-bottom: 11px;
}
.img-text-block .img-text-block-list.border-bottom:last-child {
    border-bottom: 0 !important;
    margin-bottom: 0;
    padding-bottom: 0;
}

.attachments-div .img-text-block {
    // margin-left: 16px;
}

.attachments-div-wrap{
    margin-bottom: 13px;
}

.document-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    img{
        width: 50px;
    }
}

.before-page{
    // padding-left: 25px;
}
.arrow-content-div{
    padding-left: 105px;
}

/*problem-resolved-sec*/
.problem-resolved-sec h3.sec-ttl.mr-2 {
    text-transform: initial;
}

/* responsive */
@media only screen and (max-width: 1920px) and (min-width:1367px){
	header .nav-link {
	    text-transform: uppercase;
	    font-size: 18px;
	}
	.main-ttl {
	    font-size: 18px;
	}
}
@media screen and (max-width:991px) {
	
	.form-filter-strip .form-select {
	    width: 49%;
        margin-bottom: 12px;	    
	}

	.training-card-sec .col-md-3 {
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}	
}
@media screen and (max-width:767px) {
	.main-ttl {
	    padding: 8px 23px 8px 9px;
	    font-size: 9px;
	}	
	.sec-title .blank-span {
	    width: 123px;
	    height: 8px;
	}
	.past-trainning span {
	    font-size: 12px;
	}
	.form-filter-strip .btn {
	    width: 100%;
	}
	.form-filter-strip .form-select {
	    width: 100%;
	    margin-bottom: 12px;
	}
	.banner-sec .banner-content h2 {
	    font-size: 30px;
	}
	.load-more-btn a {
	    margin: 16px 0px 0px 0px;
	    margin-bottom: 48px;
	}
	.join-content {
	    font-size: 23px;
	}
	.green-border-btn {
	    padding: 8px 22px 9px;
	    margin-top: 13px;
	}
	footer {
	    margin-top: 22px;
	}	
	footer .justify-content-between {
	    justify-content: center !important;
	}	
	.copyright-txt {
	    text-align: center;
	}	
	.training-card-sec .col-md-3 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}
    @media screen and (max-width:767px){
        body {
            font-size: 12px;
        }    
        .dotted-border-div {
            flex-wrap: wrap;
        }   
        .sec-ttl {
            font-size: 16px;
        }
        .arrow-content-div{
            padding: 0;
        }
        .arrow-content-div p {
            font-size: 14px;
            line-height: 16px;
        }
        .process-arrow-div {
            flex-wrap: wrap;
        }
        .img-text-block {
            flex-wrap: wrap;
        }
        .img-text-block .content-div {
            padding-left: 0;
            padding-top: 10px;
        }
        .arrow-content-div ul li {
            font-size: 14px;
        }
        /**/ 
        .workflow-function-sec .content-div, .workflow-function-sec .img-div {
            width: 100%;
            padding-left: 0;
        }   
        .img-desc-row {
            flex-wrap: wrap;
        }
        .workflow-function-sec h2.img-ttl {
            font-size: 20px;
            margin-top: 15px;
        }
        .automative-page-wrapper {
            width: 94%;
        }
        .img-icon-listing-row .col-md-2{
            flex: 0 0 100%;
            max-width: 100%;    
        }
        .icon-content-bottom {
            display: inherit !important;
        }


    }

    .img-div-main{
        background-color: #c0c3c5;
        width: 230px;
        display: flex;
        max-width: 230px;
        align-items: center;
        justify-content: center;
    }
