.dw0 {
    width: 280px;
    position: sticky;
    left: 0;
  }
  .dw1 {
    width: 280px;
      position: sticky;
      &.setLt280{
        left: 280px;
      }
      &.setLt0{
        left: 0px;
      }
    }
  
    .dw2 {
      width: 200px;
      //position: sticky;
      //left: 220px;
      //padding-right: 15px !important;
    }
  
    .dw3 {
      width: 200px;
      white-space: nowrap;
    }
  
    .dw4 {
      width: 200px;
      white-space: nowrap;
    }
  
    .dw5 {
      width: 100px;
      white-space: nowrap;
    }
  
    
    .more-actions{
      .app-span{
        top: 2px;
        left: 0 !important;
      }
    }
    .thread-status{
      display: inline-block;
      border-radius: 15px;
      padding: 0px 5px;
      width: 150px;
      text-align: center;
      margin: 0px 35px 0px 0px;
    }
    .more-icon {
      width: 31px;
      height: 31px;
      display: inline-block;
      position: relative;
      right: 20px;
    }
    ::ng-deep{
      .cursor{
        &.cursor-default{
          cursor: default;
        }
      }
      .p-message.p-message-success{
        position: absolute;
        text-align: center;
        left: 40%;
        top: -15px;      
        z-index: 10;
      }
      .p-message.p-message-success .p-message-close{
        display: none;
      }
      .mat-menu-content:not(:empty){
        padding-top: 0;
        padding-bottom: 0;
      }
      body.landing-page .p-datatable .p-datatable-thead > tr > th{
        &.dw6 {
          text-align: center !important;
          width: 212px;
          white-space: nowrap;   
          position: sticky;
          right: 0;     
        }
      }
      body.landing-page .p-datatable .p-datatable-tbody > tr > td{
        &.dw6 {
          text-align: right !important;
          width: 230px;
          /*white-space: nowrap;*/
          position: sticky;
          right: 0 !important;   
        }
      }
    }
    .disabled {
      opacity: 0.5;
      cursor: default;
    }
    .hiddenVisible{
      visibility: hidden;
    }
    .thread-bg {
      border: none;
      background: transparent !important;
  
      .profile-container {
        margin: 0;
        padding: 0;
        background: transparent !important;
        display: block;
        width: 200px;
  
        .buss-title {
          width: auto !important
        }
  
        .profile-left-container {
          width: 45px;
          display: inline-block;
          .profileImg{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            max-width: 100px;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
  
        .profile-right-container {
           width: calc(100% - 50px);
           display: inline-block;
          .user-name{
            font-size: 13px;
            color: var(--ID72);
            font-family: "Roboto-Regular";
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            margin-top: 0;
            vertical-align: top;
            line-height: 13px;        
          }
        }
  
        .availability-status{
          top: -16px;
          left: 54px;
        }
        .list-availability-status{
          margin-bottom: -12px;
        }      
  
        .availability-status1 {
          /* float: left; */
          position: relative;
          top: -14px;
          left: 26px;
          /* color: #FFFFFF; */
          /* background-color: #FF0000; */
          height: 12px;
          width: 12px;
          background-color: #00b050;
          border-radius: 50%;
          display: block;
          border: 2px solid #fff;
        }
  
        .availability-status0 {
          /* float: left; */
          position: relative;
          top: -16px;
          left: 23px;
          /* color: #FFFFFF; */
          /* background-color: #FF0000; */
          height: 12px;
          width: 12px;
          background-color: #ff0000;
          border-radius: 50%;
          display: block;
          border: 2px solid #fff;
        }
  
        .availability-status2 {
          /* float: left; */
          position: relative;
          top: -16px;
          left: 23px;
          /* color: #FFFFFF; */
          /* background-color: #FF0000; */
          height: 12px;
          width: 12px;
          background-color: #ffee50;
          border-radius: 50%;
          display: block;
          border: 2px solid #fff;
        }
  
      }
      .app-wraptext{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      };
    }