
 .escaltion-email-more{
    display:inline-block;
    border: 1px solid #e55554;
    width: 33px;
    height: 33px;
    margin: 3px 0 0 0;
    padding: 0;
    border-radius: 50%;
    position: relative;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    .escalation-count-text{
        font-family: "Roboto-Regular";
        color: #e55554;
        font-size: 14px;
        margin-top: 4px;
        display: block;
    }
}

::ng-deep .text-extend:hover {
  text-overflow: unset !important;
}

::ng-deep .p-datatable-scrollable-wrapper .p-datatable-scrollable-view {
  &:first-child {
    table:first-child {
      th:first-child {
        border-top-left-radius: 10px;
      }
    }
  }
  &:last-child {
    table:first-child {
      th:last-child {
        border-top-right-radius: 10px;
      }
    }
  }
}
.es-no-item-list-new-div{
  .es-no-item-width{
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .es-no-item-list{
    background-color: #dfe1e3;
    border-radius: 16px;
    position: relative;
    margin-top: -8px;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
  }
}
.export-div-outer{
  width: 107px;
  height: 33px;
  margin: 0 0 0 0;
  padding: 3px 18px 7px 18px;
  border-radius: 6px;
  border: solid 1px #fa972d;
  img{
    position: relative;
    top:0;
    left:-5px;
  }
  span{
    font-family: "Roboto-Regular";
    color: #fa972d;
    font-size: 14px;
    position: relative;
    top:0;
    left:1px;
  }
}
.download-div-outer{
  width: 157px;
  height: 33px;
  margin: 0 0 0 0;
  padding: 3px 18px 7px 18px;
  img{
    position: relative;
    top:0;
    left:-5px;
  }
  span{
    font-family: "Roboto-Regular";
    color: #e55554;
    font-size: 14px;
    position: relative;
    top:0;
    left:1px;
  }
}
::ng-deep{
  
  .displayUnknownUsers {
    .p-dialog-content{
      .ps.ps--active-y .ps__rail-x{
        display: none !important;
      }
    }
    .p-dialog{
      width: 600px !important;
      overflow: hidden;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    
    }
  
    .p-dialog-mask.p-component-overlay {
      background-color: rgb(6 6 6 / 75%) !important;
      z-index: 1000 !important;
    }
  
    .p-dialog-header {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      padding-left: 20px !important;
    }
  
    .p-dialog-content {
      padding: 1.3rem 0 0 1.3rem !important
    }

  }
  .unknowuser-header{      
      font-size: 18px !important;
      color: #ffffff;
      width: 100%;
      .lt{
        font-family: "Roboto-Medium";
        text-align: left;
      }
      .rt{
        font-family: "Roboto-Regular";
        text-align: right;
        float: right;
        padding-right: 10px;
      }
      .yellow-text{
        color:#f9e224;
      }
  }
  .cont{
    width: calc(100% - 20px);
    padding: 10px 0 15px 0px;
    margin-right: 20px;
    border-bottom: solid 1px #e5e5e5;
    .profile-info{
      display: inline-block;
      vertical-align: middle;
      &.profile-icon{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        position: relative;
        width: 40px;
        height: 40px;
      }
      &.user-name{
        font-family: Roboto-Regular;
        font-size: 14px;
        padding-left: 10px;
      }
    }
   
  }
  .kuser-search{
    background-color: #e8ebef;
    margin: 0;
    position: initial;
    overflow: hidden;
    border-radius: 16px;
    padding: 5px;
    width: 97%;    
  }
  input.form-control{
    box-shadow: none !important;
    background-color: transparent !important;
    border-radius: unset;
    box-shadow: none;
    color: #495057;
    display: inline-block;
    font-size: 14px;
    padding: 0px;
    height: 22px;
    max-width: 80%;
    width: 80%;
    position: relative;
    left: 15px;
    top: -1px;
    border:none !important;
    overflow: hidden;
    
  }
  .search-close{
    width: 10px;
    height: 10px;
    right: 10px;
    float: right;
    padding: 0 !important;
    position: relative;
    top: -2px;
  }
  .search-icon{
   display: inline-block;
    position: relative;
    top: -2px;
    left: 10px;
    width: 15px;
    height: 15px;
  }
  .no-item-list-new-un{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 200px;
    .item-empty-container {
      .message {
        color: #b2b2b2;
        font-style: italic;
        padding: 6px 0 0 0;
      }
    }
  }
}



