.inner-page-title {
    font-size: 30px;
}

.custom-bird-price-design {
    background: #2a61ff;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position: relative;
    text-align: center;

    @media(max-width:992px) {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    @media(max-width:767px) {
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }

}


.custom-bird-price-design:before,
.custom-bird-price-design:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #2a61ff;

    @media(max-width:992px) {
        width: 35px;
        height: 35px;
    }

    @media(max-width:767px) {
        width: 50px;
        height: 50px;
    }
}


.custom-bird-price-design:before {
    transform: rotate(30deg);
}

.custom-bird-price-design:after {
    transform: rotate(60deg);
}

.percentage-design {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);

    @media(max-width:767px) {
        font-size: 13px !important;
    }
}


.bird-price-design {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;

    @media(max-width:767px) {
        font-size: 18px !important;
    }
}

.custom-line-design {
    width: 3px;
    height: 37px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #999999;

    @media(max-width:992px) {
        margin-right: 7px;
    }

    @media only screen and (min-width: 768px) and (max-width: 792px) {
        margin-top: 10px;
    }
}

.custom-margin-inner-detail,
.custom-margin-inner-detail-1 {
    padding-bottom: 5px;
}

.policy-name {
    padding: 13px 0px 10px !important;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}


.custom-price-text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    position: relative;
  }

  
.custom-price-text.cutted {
    font-size: 15px;
    color: #999999;
    text-decoration: line-through;
  }
  
  .custom-price-text.percent {
    font-size: 15px;
    color: #7f17ff;
  }