<div class="dash-head">
    <app-dashboard-header *ngIf="!headerFlag" [pageData]="headerData" (techsuppotTabActionEmit)="techsuppotTabAction($event)"></app-dashboard-header>
    <app-dashboard-header *ngIf="headerFlag" [pageData]="headerData" (techsuppotTabActionEmit)="techsuppotTabAction($event)"></app-dashboard-header>
  </div>
  
  <div class="dashboard-content mt-2" [ngClass]="{'filter-collapse': !expandFlag, 'filter-expand':expandFlag }">
    <div class="dashboard-charts detail-chart da-chart">
      <div class="row col-lg-12 col-md-12 col-sm-12 chart-row leaderboard-chart-row">
        <div class="col-lg-12 dash-chart-col leaderboard-chart-col">
          <div class="chart-col ps leaderboard-chart-col-ps" [perfectScrollbar]="sconfig" (scroll)="onScroll($event)">
            <div *ngIf="leaderBoardLoading" class="loader dash-loader"><img src="assets/images/blue-loading.svg"
                alt="Loader" /></div>
            <div *ngIf="!leaderBoardLoading && !techSupportDataAvail" class="empty-chart text-center"
              style="margin: 5rem auto;">
              <img src="assets/images/dashboard/empty-chart.png" alt="Empty Chart" /><br>
              No Data
            </div>
            <div *ngIf="techSupportDataAvail" class="force-overflow w-100" id="barChart"
              [ngClass]="{'d-none':!techSupportDataAvail}"></div>
            <div class="text-center" *ngIf="!scrollCallback">
              <img alt="Loader" src="assets/images/landing-page/loading-more.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dash-filter leaderboard-dash-filter" [ngClass]="{'filter-expand': expandFlag, 'filter-collapse': !expandFlag}">
  
    <app-dash-filter *ngIf="filterLoading" (toggle)="expandAction($event)" [filterOptions]="filterOptions"
      (filterAction)="applyFilter($event)"></app-dash-filter>
    <app-dash-filter *ngIf="!filterLoading" (toggle)="expandAction($event)" [filterOptions]="filterOptions"
      (filterAction)="applyFilter($event)"></app-dash-filter>
  
  </div>
  