.reply-chat-wrapper {
  border: none;
  background: #2d3440;
  color: #fff;
  padding: 27px;
  clear: both;
  .top-user-info-row{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    > div{
      &:not(:first-child){
        margin-right: 10px;
      }
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
  h6 {
  //   color: #444;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    span{
      font-weight: normal;
      font-size: 13px;
      color: #b2b2b2;
      display: inline-block;
      padding-left: 10px;
    }
  }
  img,
  audio {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  a {
    color: #4c4f52;
  }
  span {
    display: block;
  }
  &-inner {
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 13px;
    line-height: 13px;
    .file-size {
      color: #7e8389;
      padding-top: 12px;
    }
    img{
      border-radius: 10px;
    }
    &.clmn-direction{
      flex-direction: column;
      > div {
        width: 100%;
        min-width: 300px;
        > audio{
          display: block;
          width: 100%;
          margin: 0 0 10px;
        }
      }        
    }
  }
}
