<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row no-margin footer-top-border"></div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row no-margin no-padding ">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding footer-text-lt">
        <span class="text-po">Collabtic Marketplace Policies</span>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 no-padding footer-text-rt">
        <span class="text-co">&copy; Collabtic {{year}}. All rights reserved.</span>
    </div>
</div>


