.no-padding {
    padding: 0px!important;
}
.no-margin {
    margin: 0px!important
}
.text-po{
    font-family: 'Roboto-Regular';
    font-size: 17px;
    color:#469073;
}
.text-co{
    font-family: 'Roboto-Regular';
    font-size: 17px; 
    color:#000000;
}
.footer-text-rt{
    text-align: right;
}
@media screen and (max-width: 767px){ 
    .footer-text-rt{
        text-align: left;
        padding-top: 6px !important;
        .text-po,.text-co{
            font-size: 15px;
        }
    }
}