::ng-deep {
    body {
        &.thread-detail {
            .thread-detail-section {
                .th-outer-col-2 {
                    .thread-detail-page {
                        .thread-detail-div {
                            .thread-detail-div-left {
                                width: 85%;
                                .table-row2 {
                                    .problem-row {
                                        &.setPaddingLeft1 {
                                            padding-left: 0px;
                                        }
                                        &.tag {
                                            padding-top: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.popup {
                    padding: 0px;
                    .th-outer-col-2 {
                        display: block;
                        width: 100%;
                        .thread-detail-page {
                            .thread-detail-div {
                                .thread-detail-div-left {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }            
            .adas-modal {
                .view-more-actions {
                    background-color: #298368;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 20px;
                    width: 26px;
                    height: 26px;
                    svg {
                        color:#298368;
                        circle,
                        path {
                            fill: #298368;
                            stroke:#ffffff;
                        }  
                    }
                    img {
                        position: relative;
                        &.more {
                            top: -1px;
                            left: 6px;
                        }
                        &.copy {
                            top: -1px;
                            left: 7px;
                        }
                        &.newtab {
                            top: -1px;
                            left: 7px;
                        }
                    }     
                }
            }
        }
    }
}
.copied-txt-div{
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 10;
   .copied-txt-inner-div{        
        background: #3c424d;
        border-radius: 10px;
        color: #FFF;
        margin: 0 auto;
        padding: 0;
        width: 150px;
        padding: 10px 0px; 
        text-align: center;       
    }
}
  
 