.hq-head {
    padding: 10px 0;

    .hq-head-row-0 {
        .hq-head-breadcrumb-img {
            vertical-align: middle;
            margin: 0 6px 0 6px;
        }

        .hq-head-breadcrumb-text {
            font-family: Roboto-Medium;
            font-size: 14px;
            color: #000000;
            vertical-align: middle;
            margin: 0;
        }
    }

    .hq-head-row-1 {
        .hq-head-img {
            vertical-align: middle;
        }

        .hq-head-text {
            font-family: Roboto-Bold;
            font-size: 24px;
            color: #000000;
            vertical-align: middle;
            padding-left: 10px;
            margin: 0;
        }
    }
}

.img-outer-div {
    width: 247px;
    height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    border-radius: 10px;
}

.default-banner-img {
    height: 151px !important;
    width: 245px !important;
    background-image: url('../../../../assets/images/audit-insecption/question-xl.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #e5efeb !important;
    background-size: 53px 67px !important;
    border-radius: 20px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.right-side-data-custom {
    width: 90% !important;
    padding-left: 25px !important;
}