.threadTitleClassRow{    
    display: block;
    .threadTitleClassCol{
        display: inline-block;
        &.threadTitleClassCol1{
            width:70%;
            text-align: left;
            vertical-align: middle;
        }
        &.threadTitleClassCol11{
            width:100%;
        }
        &.threadTitleClassCol2{
            width:30%;
            text-align: right;
            vertical-align: middle;

        }
        .attachment-count{
            font-size: 16px;
            max-height: 29px;
            max-width: 29px;
            margin-top: 5px;
            width: 29px;
            height: 29px;
            line-height: 28px;
            background: #ed9209;
            color: #ffffff;
            font-family: 'Roboto-Medium';
        }
        .c-content{
            position: relative;
            text-align: center;
            display: inline-block;
            border-radius: 50%;
            transition: transform 200ms ease-in-out;
            //transform: scale(0.6);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            pointer-events: none;
            vertical-align: top;
            top: -2px;
        }
    }    
}