.knowledge-description {
    width: 230px;
    height: 38px;
    margin: 8px 14px 8px 15px;
    font-family: Roboto-medium;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    word-break: break-word;
    color: #636363;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .knowledge_article_icon_img {
    width: 70px;
    height: 62px;
    position: absolute;
    top: 11%;
    left: 38%;
  }
  .KA_bannerImg {
    width: 259px;
    height: 126px;
    border-radius: 8px !important;
    &.cover {
      object-fit: cover;
    }
    &.contain {
      object-fit: contain;
      background-color: #f1f1f1 !important;
    }
  }
  .thread-bg .profile-container {
    padding-left: 0px !important;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
  .knowledge-desc-date {
    font-size: 13px;
    padding-left: 62px;
    padding-bottom: 0px;
    font-family: Roboto-Medium;
  }
  .knowledge-profile-img {
    width: 42px;
    height: 42px;
    z-index: 2;
    position: absolute;
    top: 104px;
    left: 17px;
    border: 2px solid white;
    border-radius: 25px;
  }
  .knowledge-id {
    color: white;
    height: 23px;
    padding: 0px 9px 6px 11px;
    background-color: #3a4865;
    right: 1px;
    top: 14px;
    position: absolute;
    border-radius: 12px 0px 0px 12px;
  }
  .knowledge-id span {
    height: 8px;
    position: relative;
    top: -2px;
    font-family: "Roboto-Regular";
    font-size: 11px;
  }
  .bgImg {
    color: #fff;
    background-image: url("../../../../assets/images/default_KA.jpg") !important;
    background-size: cover;
  }
  .top-img {
    width: 259px;
    height: 126px;
  }
  .ka_background {
    position: absolute;
    top: 100px;
    width: 97%;
    height: 27px;
    z-index: 1;
    opacity: 0.7;
    background-image: linear-gradient(360deg, black, transparent);
  }
  .footer-icon img {
    margin-top: -4px;
  }
  .ka_username {
    position: absolute;
    top: 100px;
    height: 27px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    word-break: break-all;
    -webkit-box-orient: vertical;
    overflow: hidden;
    left: 66px;
    margin: 0 7px 0 0;
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    z-index: 3;
    line-height: 2.1;
    width: 194px;
    display: -webkit-box;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .show_popover {
    position: relative;
    top: 100px;
    height: 27px;
    left: 66px;
    z-index: 333;
  }
  .thread-page-container {
    margin-top: 0px;
    padding: 23px 0px 10px 4px;
  }
  .KA-userInfo {
    display: flex;
    position: absolute;
    left: 66px;
    top: 100px;
    height: 27px;
    max-width: 196px;
    font-style: normal;
    z-index: 3;
    line-height: 2.1;
    font-family: "Roboto-Regular";
    letter-spacing: normal;
  }
  .userInfo-userName {
    color: #ffffff;
    font-family: "Roboto-Regular";
    height: 27px;
    max-width: 96px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    font-size: 13px;
    height: 27px;
  }
  .userInfo-userRole {
    color: #ffffff;
    font-family: "Roboto-Light";
    height: 22px;
    overflow: hidden;
    max-width: 94px;
    /*line-height: 2.33;*/
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    font-size: 12px;
    height: 18px;
    margin: 6px 0 1px 6px;
  }
  .date-title {
    font-family: "Roboto-Regular";
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.64;
    letter-spacing: normal;
    text-align: left;
    color: #838997;
  }
  .p-t-1 {
    position: relative;
    font-size: 14px;
    color: #bebfc3;
    font-family: "Roboto-Regular";
    padding-left: 3px;
  }
  .ka_userRole {
    font-family: "Roboto-Regular";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c2d3d4;
    padding-left: 3px;
  }
  .flex-row {
    display: flex;
  }
  .flex-row .ft-col {
    padding-left: 8px;
  }
  .kabreadcrumb {
      padding: 0;
      background-color: #dfe1e3;
      height: 40px;
      z-index: 1000;
      overflow: hidden;
      width: 100%;
      text-align: left;
      margin-top: -10px;
    div{
      display: inline-block;
      padding-right: 10px;
      &.ptop{
        position: relative;
        top: 2px;
      }
    }
    .ttext{
      position: relative;
      top: 2px;
    }
    .bhome{
      padding-left: 19px;
    }
    .btext{
      font-family: "Roboto-Medium";
      font-size: 16px;
      text-align: left;
      color: #4e5257;
    } 
  }
  .opacity{
    opacity: 0 !important
  }
  
  