.adas-grid-row {
    background: transparent;
    padding: 0 !important;
    &.thumb {
        border-radius: 0;
    }
    .file-list {
        .document-card {
            margin: 0px 5px 25px 15px !important;
            padding: 0px;
            height: 124px;
            .document-card-top {
                height: 95px;
            }
        }
    }
    .table-view {
        .file-datatable {
            .list-id {
                color: #777777;
            }
            .p-datatable-scrollable-header-box {
                padding: 0 !important;
            }
        }
    }
}